<!DOCTYPE html>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
      <!--[if (gte mso 9)|(IE)]>
        <style type="text/css">
          table {border-collapse: collapse;}
        </style>
      <![endif]-->
    </head>
    <body style="background-color:#F8F8F8;margin:0 !important;padding:0 !important;">

      <center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
        <div class="webkit" style="max-width:600px;margin:0 auto;">
          <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center">
              <tr>
                <td>
          <![endif]-->
  <table class="outer" align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;">
    <tr><td height="30" style="padding:0;"></td></tr>
    
    <tr>
      <td>
        <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20">&nbsp;</td>
            <td style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0;"></td>
            
            <td width="20">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
    
    <tr><td height="20" style="padding:0;"></td></tr>
    
    <!-- Email Container 600px -->
    <tr>
      <td style="padding:0;">
                <!-- Email Container 600px -->
                <table class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;background-color:#ffffff;">

                  <tr>
                    <td class="one-column" style="padding:0;">
                      <!-- Headline Table -->
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                        <tr>
                          <td width="30" style="padding:0;"></td>
                          <td class="headline" style="padding:0;">
                            <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                              <tr><td height="30" style="padding:0;"></td></tr>
                              <tr><td style="padding:0;"><p class="h1" style="font-size:26px;margin:0px;padding:0px;">Dear <%=@user.first_name%>,</p></td></tr>
                              <tr><td height="0" style="padding:0;"></td></tr>
                            </table>
                          </td>
                          <td width="30" style="padding:0;"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  
                  <tr>
                    <td height="30" style="padding:0;"></td>
                  </tr>
                  
        <!-- Body Text -->
                  <tr>
                    <td class="one-column" style="padding:0;">
                      <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="30" style="padding:0;"></td>
                          <td class="body-text" style="padding:0;">
                            <p style="font-size:18px; line-height:24px; padding:0; margin:0;">Your OTP code is <strong><%=@otp%></strong>. Please enter this OTP in the Nurturey app to successfully verify your account. Do not share this code with anyone.</p>
                          </td>
                          <td width="30" style="padding:0;"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding: 0; margin: 0"></td></tr>

                  <!-- Regard Text -->
                  <tr>
                    <td>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="30"></td>
                          <td><p style="padding:0px; margin: 0px; line-height:26px; color: #6B6B6B;">Have a great day!<br/>Kind regards,<br/>Team Nurturey</p></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="30" style="padding:0;"></td>
                  </tr>
                  <!-- App stores -->
                  
                </table>
              </td>
    </tr>
        <!-- Email Container 600px Ends -->
    
  <!-- Footer -->
  <%= render :partial=> "/layouts/updated_mailer_layout/footer"%>
  </table>
</body>
</html>
 