/*------------------------------------------
Responsive Grid Media Queries - 1280, 1024, 768, 480
1280-1024   - desktop (default grid)
1024-768    - tablet landscape
768-480     - tablet 
480-less    - phone landscape & smaller
--------------------------------------------*/


@media all and (min-width: 1024px) and (max-width: 1280px) { 
	
	}
@media all and (min-width: 1024px) and (max-width: 1280px) { 

	
	}

@media all and (max-width: 768px) {
	section.your-pocket{
		padding: 0px 0;
	}
	.your-pocket-content, .content-wrapper {
    	width: 100%;
    	line-height: 26px
	}	
	.content-wrapper{
		margin-bottom: 70px;
	}
	.your-pocket-content h2{
		font-size: 38px;
		padding: 28px 0 0;
		line-height: 45px;
	}
	.your-pocket-content p span {
    	font-size:18px;
	}
	.your-pocket-wrapper {
    	padding: 50px 0;
	}
	.content-wrapper h2 {
    	font-size: 25px;
    	line-height: 42px;
	}
	.content-wrapper p {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 0;
	}
	.entry-form-wrapper{
		padding: 50px 20px;
	}
	.file-upload-size {
	margin-top: 3px;
    padding: 0px 0 0;
     text-align: center;
	}
.all-content {
	position: absolute;
    z-index: 999;
    top: 123px;
    left: 0;
    text-align: center;
    padding: 0 12px;
}
.contest-all-about .contest-bg-wrapper{
	height: 283px;
}
section.submit-your-entry {
    padding: 160px 0 40px;
}
.gv-img-wrap{
    left: 11px;
    right: 12px;
}
.contact-form input.form-control{
	font-size: 20px;
}
label{
	margin-bottom: 0;
}
.container-checkbox p{
	font-size: 16px;
}
.all-content p{
	margin-top: 45px;
    font-size: 22px;
    line-height: 34px;
}
.contest-all-about .contest-bg-wrapper{
	background: #c9c910;
}
section.contest-all-about {
    padding: 70px 0;
}
.entry-form-wrapper h3{
	    font-size: 24px;
}
.square-button{
	height: 60px;
}
#totalcaptchaerror{
	margin-top: 10px;
}
}