body {
  font-family: 'SFProDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
  float: left;
  color: #000;
  width: 100%;
  background-color: #fff;
  margin: 0;
  font-size: 18px;
}
@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('./fonts/SFProDisplay-Medium.eot');
  src: url('./fonts/SFProDisplay-Medium.woff') format('woff'), url('./fonts/SFProDisplay-Medium.ttf') format('truetype'), url('./fonts/SFProDisplay-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay-Heavy';
  src: url('./fonts/SFProDisplay-Heavy.eot');
  src: url('./fonts/SFProDisplay-Heavy.woff') format('woff'), url('./fonts/SFProDisplay-Heavy.ttf') format('truetype'), url('./fonts/SFProDisplay-Heavy.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay-Semibold';
  src: url('./fonts/SFProDisplay-Semibold.eot');
  src: url('./fonts/SFProDisplay-Semibold.woff') format('woff'), url('./fonts/SFProDisplay-Semibold.ttf') format('truetype'), url('./fonts/SFProDisplay-Semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url('./fonts/SFProDisplay-Bold.eot');
  src: url('./fonts/SFProDisplay-Bold.woff') format('woff'), url('./fonts/SFProDisplay-Bold.ttf') format('truetype'), url('./fonts/SFProDisplay-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('./fonts/SFProDisplay-Regular.eot');
  src: url('./fonts/SFProDisplay-Regular.woff') format('woff'), url('./fonts/SFProDisplay-Regular.ttf') format('truetype'), url('./fonts/SFProDisplay-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay-Light';
  src: url('./fonts/SFProDisplay-Light.eot');
  src: url('./fonts/SFProDisplay-Light.woff') format('woff'), url('./fonts/SFProDisplay-Light.ttf') format('truetype'), url('./fonts/SFProDisplay-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Almarai-Bold';
  src: url('./fonts/Almarai-Bold.eot');
  src: url('./fonts/Almarai-Bold.woff') format('woff'), url('./fonts/Almarai-Bold.ttf') format('truetype'), url('./fonts/Almarai-Bold.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GoodDogPlain';
  src: url('./fonts/GoodDogPlain.eot');
  src: url('./fonts/GoodDogPlain.woff') format('woff'), url('./fonts/GoodDogPlain.ttf') format('truetype'), url('./fonts/GoodDogPlain.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8552oq');
  src:  url('fonts/icomoon.eot?8552oq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8552oq') format('truetype'),
    url('fonts/icomoon.woff?8552oq') format('woff'),
    url('fonts/icomoon.svg?8552oq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload1 .path1:before {
  content: "\e901";
  color: rgb(113, 194, 255);
}
.icon-upload1 .path2:before {
  content: "\e902";
  color: rgb(68, 75, 84);
}
.icon-upload:before {
  content: "\e900";
}

/* Pre Loader Start*/
.no-js #loader { display: none;  }
.js #loader { 
	display: block;
	 position: absolute; 
	 left: 100px; top: 0;
	 }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_2.gif") center no-repeat #fff;
}
/*Pre Loader Ends*/

/*Header Strat*/

.header-start{
    padding: 10px 0 30px;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}
.logo img.main-logo {
    width: 100%;
    max-width: 130px;
}
.scroll-logo {
    width: 100%;
    max-width: 30px;
}

.scroll-on{
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    background-color: #fff !important;
    position: fixed;
    padding: 0px 0 0;
    z-index: 1000;
}
.scroll-logo{
	width: 100%;
    max-width: 30px;
}

/*Header Ends*/

/*-- Your Pocket Start--*/
section.your-pocket {
    text-align: center;
    padding: 60px 0;
}
.your-pocket-content h2{
    color: #ff0066;
    font-size: 80px;
    line-height: 93px;
    padding: 40px 0;
}
.your-pocket-content{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.your-pocket-content p span {
    font-size: 34px;
    color: #7c8293;
    width: 100%;
    line-height: 30px;
    letter-spacing: 0.7px;
}
.your-pocket-wrapper {
    padding: 80px 0;
}
.content-wrapper h2{
  font-size: 32px;
  line-height: 70px;
  font-weight: bold;
} 

.content-wrapper  p{
    font-size: 28px;
    font-weight: normal;
    color: #7c8293;
    width: 100%;
    line-height: 30px;
}
.your-pocket-wrapper img{
  width: 100%;
  max-width: 46%;
}
/*-- Your Pocket Ends--*/


/*-- Contest All About Start --*/
section.contest-all-about {
    padding: 105px 0;
}
.contest-all-about .contest-bg-wrapper {
background: linear-gradient(rgba(204,204,0,.7),rgba(204,204,0,.7));
  /*background: #000;*/
  height: 108px;
  position: relative;
}
.gv-img-wrap img{
    box-shadow:0 -3px 15px 0 rgba(138, 139, 165, 0.59);
    border-radius: 35px;
    width: 100%;
    max-width: 100%;
}
.gv-img-wrap{
      position: absolute;
    top: -66px;
    z-index: 99;
}
.all-content{
    position: absolute;
    z-index: 999;
    top: -28px;
    left: 65px;
}
.contest-bg{
  background:linear-gradient(rgba(204,204,0,.7),rgba(204,204,0,.7)); 
}
.all-content p{
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    color: #7c8293;
    line-height: 29px;
    margin-bottom: 0;
}
.all-content h5{
    color: #ff0066;
    font-size: 30px;
    margin-top: -8px;
}
.all-content ul.contest-prize
{
    font-size: 22px;
    font-weight: normal;
    color: #000;
    width: 100%;
    line-height: 30px;
    list-style: none;
    padding: 2px 0 6px;
    margin-bottom: 5px;
}
/*-- Contest All About Ends --*/

/*--Submit Your Entry--*/
.entry-form-wrapper {
  width: 100%;
  background: #ff0066;
  margin: 0 auto;
  padding: 50px 70px;
  border-radius: 50px;
}
.contact-form input.form-control{
     width: 100%;
    height: 50px;
    padding: 18px 25px;
    position: relative;
    margin-bottom: 20px;
    border: transparent;
    border-radius: 0 !important;
    font-size: 26px;
}
.entry-form-wrapper h3 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    font-size: 28px;
}
.form-control:focus{
  box-shadow: none !important;
}
.container-checkbox p{
  color: #fff;
}
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 15px;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.container-checkbox .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}
.container-checkbox:hover input ~ .checkmark {
  background-color: #fff;
}
.container-checkbox input:checked ~ .checkmark {
    background-color: #fff;
}
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ff0066;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.square-button{
    border: none;
    background: #fff;
    width: 100%;
    height: 78px;
    font-size: 24px;
    color: #0066cc;
    margin-top: 16px;
}
button:focus {
    outline: 1px dotted;
    outline: none !important;
}

.square-button:hover{
    border: #f06 solid 1px;
    color: #fff;
    background: #c9c910;
}
.file-upload__label .icon-upload1 {
    float: right;
}
section.submit-your-entry {
    padding: 40px 0;
}
.file-upload {
  position: relative;
  display: inline-block;
  width: 100%;
}

.file-upload__label {
    padding: 8px 25px;
    color: #f06;
    background: #fff;
    transition: background .3s;
    font-size: 26px;
    width: 100%;
  }
.icon-upload1 .path1{
    margin-top: 2px;
    position: absolute;
}
.file-upload__input {
    width:0;
    height: 100%;
    opacity: 0;
}
.file-upload-size{
  padding: 34px 0 0;
}
.modal-body p{
  opacity: 1 !important;
  margin-bottom: 22px;
  font-size: 16px;
  color: #7f8290;
  margin-left: 16px;
}
.modal-body ul{
  padding: 0 16px;
}
h4#myModalLabel {
    color: #7f8290;
}
.modal-body ul li{
    margin-bottom: 12px;
    font-size: 18px;
    color: #7f8290;
    line-height: 30px;
    list-style: none;
}
.modal-body p strong{
  font-size: 18px;
}
.file-upload-size span{
  padding: 0;
  font-size: 15px;
  color: #fff;
}
.container-checkbox p span a{
  color: #fff;
  text-decoration: underline;
}
.file-upload span.file-upload{
  float:right;
}
.main-checkbox{
      margin-top: 30px;
}
#totalcaptchaerror{
    background: #ff0;
    padding: 0 20px;
    line-height: 40px;
}

input::placeholder {
    color: #ddd !important;
}
.form-control::placeholder {    color: #ddd !important;    opacity: 1;}
.from-control{
  font-family: inherit;
  font-weight: normal;
}

::-webkit-input-placeholder { /* Edge */
  color:#7f82902e;
}

:-ms-input-placeholder { /* Internet Explorer */
  color:#7f82902e;
}

::placeholder {
  color: #7f82902e;
}
.contact-form input.form-control#age {
    /*margin-bottom: 0 !important;*/
}
.file-upload .inputfile-box{
  margin-top: -28px;
}
/*--Submit Your Entry--*/