<div class="singleBx-type15">
  <div class="page-title-1">Disclaimer</div>
    <div class="discla-txt">
      <p>Please do not consider the immunisations mentioned or marked as popular in the list as advice.</p>

      <p>You must consult your doctor in deciding the appropriate immunisations required by your child.
    The estimated due dates are also based on tentative calculations, and you must consult your doctor to find out appropriate schedule.</p> <p>Our Immunisation data is based on <a href="https://www.gov.uk/government/publications/the-complete-routine-immunisation-schedule" target="_blank" class="bold">NHS</a>, <a href="http://www.indianpediatrics.net/oct2014/785.pdf" target="_blank" class="bold">IAP</a> and <a href="http://www.cdc.gov/vaccines/schedules/downloads/child/0-18yrs-schedule.pdf" target="_blank" class="bold">CDC</a> recommended schedules.</p>

  </div>
</div>

