<li class="js-<%=vacci %> js-jab-<%=jab.id%>"  >
    <% if jab.status == 'Administered' %>
       <input type="checkbox" name="" id="jab<%=jab.id%>" class="custom-checkbox-2 js-jab-checkbox" checked= true >
    <% else %>
       <input type="checkbox" name="" id="jab<%=jab.id%>" class="custom-checkbox-2 js-jab-checkbox">

    <% end %>
         
    <label for="jab<%=jab.id%>" class="FL"></label>

    <div class="FL"><span class="js-jab-name">Jab<%=index+1%></span><br>
        <span class="txt-type-3">
        <span class="js-admin-label">
        <% if jab.status != "Administered" && jab.due_on.blank? && !jab.est_due_time.blank? %>
          Est. due date
        <% else %>
          <%= jab.status == "Administered" ? "Administered" : "Due On" %>
        <% end %>
        </span>: 
        <a href="#" style="cursor:text;"> </span><%= (jab.due_on || jab.est_due_time).strftime("%d %b %Y") rescue nil %></a></span>
    </div>
    <ul class="FR list-type-3 js-administered">

        <li class="action-immunisation">
          <a href="#html" data-width="550" data-pop="/immunisation/edit_jab?jab_id=<%= jab.id %>" class="icon-pencil"></a>  

          <%= link_to "", "/immunisation/delete_jab?jab_id=#{jab.id}", class: "icon-trash-o", remote: true,  confirm: "Are you sure you want to delete?" %>
             </li>

          <a href="#html" class="js-admin-link" data-width="550" data-pop="/immunisation/edit_jab?jab_id=<%= jab.id %>&administered=true" style="display:none;">  </a>
    </ul>
</li>
 