
<!-- middle section start here -->
<!-- <div class="center-section"> -->
    <!-- Immunisations start here -->
     <div class="singleBx-type6a js-header">
            <div class="titleBar reset-margin">
                
                <h1><%=profile_image_tag(@member,"small") %>IMMUNISATIONS</h1>

                <div class="actionBar">
                  <a class="btn btn-big-type1 icon-plus js-add-vaccin" href="#html" data-width="600" data-pop="/vaccination/new?member_id=<%=params[:member_id]%>">Select</a>
                </div>
            </div>
        </div>
    <!--add new vac-->
    
    <% if current_user.user.sign_in_count && false %>
        <!-- timeline welcome note here-->
        <div class="singleBx-type3">
        <div class="titleBar-type4">
            <i class="icon-bell"></i>
        </div>
        <a href="#." class="icon-times btn-type4" onclick="$(this).parent().hide();"></a>

        <div class="page-title-3">Welcome to immunisations!</div>
        <p>We have added popular immunisations in your list. However, you can modify the list by deleting or adding immunisations.</p></div>
    <% end %>

       <% if @vaccinations.blank? %>
        <div class="widget-box-1">
            <div class="page-title-1"><%#=(@families.first || @assoc_families.first).name%></div>
            <div class="no-entry empty-msg-1">
                <!-- <i class="icon-smile-sad"></i> -->
                <p>Click select to  add immunisations. </p>
                
            </div>
          </div>
       <% end %>


    <!-- list of vac. -->
      <% @vaccinations.each do |vacci| %>
    <div class="singleBx-type8 js-vacci-<%=vacci.id%>" >
        <div class="titleBar-type1a">
            <h2 class="light <%=Vaccination::Category[vacci.category]%>  clearFix"><%= vacci.get_name %> <small><span class="notifiacation-1 js-completed-<%=vacci.id%>"><%= completed_vaccin(vacci) %></span> Completed</small></h2>
        </div>
        <div class="drop-over btn-type7">
                <a class="fontIcon dots" href="#."></a>
                <div class="drop-nav">
                    <a href="#html" data-pop="/vaccination/edit_vaccin?id=<%=vacci.id%>">Edit</a>
                    <%= link_to "Remove", "/vaccination/delete_vaccin?vaccin_id=#{vacci.id}", class: "js-delete-#{vacci.id}", remote: true, confirm: "Are you sure you want to delete?" %>
                </div>
            </div>

             <!-- <a href="#." class="icon-times btn-type4" onclick="$(this).parent().hide();"></a> -->
        
        <ul class="list-type-2">
          <% vacci.jabs.order_by("id ASC").each_with_index do |jab,index| %>
            <%= render :partial => "/immunisation/list_jabs", :locals=>{jab:jab, index:index, vacci: vacci.id} %>
        <% end %>
        </ul>
        <%= link_to "Add Jab/ Dose","/immunisation/new_jab?vacci_id=#{vacci.id}", class: "txt-link-type1 icon-plus", remote: true %>
        <!-- <a href="#html" class="txt-link-type1 icon-plus" data-pop="immunisation/new_jab?vacci_id=<%=vacci.id%>">Add another Jab</a> -->
    </div>
    <% end %>
<!-- </div> -->
<!-- middle section end here -->
<!-- right section start here -->
