$.fn.close();
<%# if @vaccinations.blank? %>
  // $.fn.popclick({width:600,pop:"/vaccination/new?member_id=<%=params[:member_id]%>"})
 //  setTimeout(function() { 	
	// $.fn.popclick({width:600,pop:"/vaccination/new?member_id=<%#=params[:member_id]%>"})
 //  }, <%#= APP_CONFIG["pop_delay_time"] %>);	
<%# end %>