$(".js-jab-<%=@jab.id%>").remove();
$(".js-vacci-<%=@vaccination.id%>").find(".js-jab-name").each(function(index){ 
  $(this).text(("Jab"+ parseInt(index+1)));
})
<% if !@no_jab_added.blank? %>
 $(".js-vacci-<%=@vaccination.id%>").remove();
<% else %>
$(".js-completed-<%=@vaccination.id %>").text("<%= completed_vaccin(@vaccination) %>")
<% end %>