<% if @vaccinations.blank? %>
    <%= link_to "",close_info_pop_immunisation_index_path(member_id: @member.id), class: "pop-close", remote: true %>
<% end %>

<div class="logoBack">
  <h2 class="space-bottom-1"><i class="icon-immunization info-icon"></i> Immunisations</h2>
    <ul class="pin-list">
        <li>Select from the list of immunisations, or add your own.</li>
        <li>Nurturey will create estimated schedule that you can edit.</li>
        <li>Easily add or delete number of jabs/doses for an immunisation.</li>
    </ul>
    <div class="form-type3">
        <div class="form-action-row">
            <%= link_to "Got it!",close_info_pop_immunisation_index_path(member_id: @member.id), class: "btn btn-type2", style: "margin-left:42px;", remote: true  %>
            <!-- <input type="button" value="Got it!" class="btn btn-type2" style="margin-left:42px;" onclick="$.fn.close();" /> -->
        </div>
    </div>
</div>
