<div class="left-section">
	<%= render partial: "timeline/left_section" %>
</div>	
<div class="center-section">
	<%= render partial: 'list_immunisation' %>
</div>
<div class="right-section">
	<%= render partial: 'immunisation_disclaimer' %>
</div>

  <script type="text/javascript">
  	update_left_nav("<%= @member.id %>", "immunisations");
	// <%# if @vaccinations.blank? %>
		// $.fn.popclick({width:600,pop:"/vaccination/new?member_id=<%=params[:member_id]%>"});
		// setTimeout(function() { 
		// 	$.fn.popclick({width:600,pop:"/vaccination/new?member_id=<%#=params[:member_id]%>"})
		// }, <%#= APP_CONFIG["pop_delay_time"] %>);	
  	// <%# end %>
  </script>	
