$(".center-section").html("<%= escape_javascript(render :partial=>'list_immunisation')%>");
$(".right-section").html("<%= escape_javascript(render :partial=>'immunisation_disclaimer') %>");

<% if @display_immunisation_info %>
  $.fn.popclick({width:600,pop:"<%= immunisation_info_immunisation_index_path(member_id: @member.id) %>"})	
  // <a href="#." onClick='event.preventDefault(); $.fn.close(); $.fn.popclick({pop: "<%= immunisation_info_immunisation_index_path %>", width: "600" })' class="pop-close"></a>
<%# elsif @vaccinations.blank? %>
  // $.fn.popclick({width:600,pop:"/vaccination/new?member_id=<%=params[:member_id]%>"})
  // setTimeout(function() { 	
  // 	$.fn.popclick({width:600,pop:"/vaccination/new?member_id=<%#=params[:member_id]%>"})
  // }, <%#= APP_CONFIG["pop_delay_time"] %>);	
<% end %>