<%= form_for @jab, url: @url || "/immunisation/save_jab", remote: true do |f| %>
  <div>
    <h2 class="space-bottom">
      <%= @url.blank? ? "Immunisation Details" : @vaccination.get_name %>
    </h2>
    <div class="form-type2">
      <div class="form-row">
        <%= f.text_field :name, value: "Jab#{@index}", class: "textBx-type8", readonly: true %>
      </div>
      <div class="form-row">
        <div class="singleBx-type7">
          <div class="form-row no-margin-bottom">
            <label class="form-label">Status</label>
            <%= f.radio_button :status, 'Planned', class: "custom-radio-2" %>
            <%= f.label :status_planned, 'Planned' %>
            <%= f.radio_button :status, 'Administered', class: "custom-radio-2"  %>
            <%= f.label :status_administered, 'Administered' %>
          </div>
        </div>
      </div>
      <div class="form-row">
        <label class="form-label">Date</label>
        <div class="textBx-type3">
        <%= f.text_field :due_on, class: "textBx-type1 dateInput", style: "position: relative;z-index: 100000;", value: toDate(@jab.due_on), :readonly=>true%>
        </div>
      </div>
    </div>
  </div>
  <a href="#." class="space-bottom space-block" onclick="$('#additionalInfo').toggle();">Add Additional Information</a>
  <div id="additionalInfo" class="hide-box">
    <div class="form-type2">
      <div class="singleBx-type7">
        <div class="form-row">
          <label class="form-label">Doctor's Name</label>
          <%= f.text_field :doc_name, class: "textBx-type8" %>
        </div>
         <div class="form-row">
          <label class="form-label">Location on body</label>
          <%= f.text_field :jab_location, class: "textBx-type8" %>
        </div>
        </div>
      <div class="singleBx-type7">
        <div class="form-row">
          <label class="form-label">Hospital/Facility</label>
          <%= f.text_field :facility, class: "textBx-type8" %>
        </div>
         <div class="form-row">
          <label class="form-label">Add Note</label>
          <%= f.text_field :note, class: "textBx-type8", placeholder: "if any note added" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-type3">
    <div class="form-action-row">
      <%= f.submit "Save", class: "btn btn-type2",disable_with:"Saving.." %>
      <!-- <a href="#." class="txt-link js-close-pop">Cancel</a> -->
    </div>
  </div>
<% end %>

<Script type="text/javascript">
 
 $(".js-completed-<%=@vaccination.id%>").text("<%= completed_vaccin(@vaccination) %>")
</script>