<%# debugger %>
<% if @index > 0 %>
  $(".js-<%=@vaccination.id %>").last().after("<%= escape_javascript(render :partial=>'/immunisation/list_jabs', :locals=> {:jab => @jab, index: @index, vacci: @vaccination.id})%>" );
<% else %>
$(".js-vacci-<%=@vaccination.id %> .list-type-2").append("<%= escape_javascript(render :partial=>'/immunisation/list_jabs', :locals=> {:jab => @jab, index: @index, vacci: @vaccination.id})%>" );
<% end %>
 $(".js-completed-<%=@vaccination.id %>").text("<%= completed_vaccin(@vaccination) %>")
$.fn.close();
 