var jab_name = $(".js-jab-<%=@jab.id%>").find("span").first().text();
$(".js-jab-<%=@jab.id%>").before("<%= escape_javascript(render :partial=>'/immunisation/list_jabs', :locals=> {:jab => @jab, index: 0, vacci: @vaccination.id})%>");
$(".js-jab-<%=@jab.id%>").first().find("span").first().text(jab_name);
$(".js-jab-<%=@jab.id%>").last().remove();
$(".js-completed-<%=@vaccination.id %>").text("<%= completed_vaccin(@vaccination) %>")
$.fn.close();


$('#calendar').fullCalendar( 'removeEvents', ["<%=@jab.id%>"] );
<% if @jab.status == "Planned" %>
$('#calendar').fullCalendar( 'renderEvent', {
    id: "<%=@jab.id%>",
    title: '<%=("#{@vaccination.get_name}-Jab#{@index}").slice(0..7)%>',
    start: "<%=(@jab.due_on|| Date.today).iso8601 %>",
    end: "<%=(@jab.due_on|| Date.today).iso8601 %>",
    allDay: true,
    recurring:  false,
    backgroundColor: "#C0D890",
    textColor: "black",
    type: "Jab"
}, true );
<% end %>