<style>
 .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
      background: url("/assets/chosen-sprite.png") -42px 1px no-repeat;
      font-size: 1px; }
      .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
        background-position: -42px -10px; }
</style>
<%# @all_countries = Admin::UsersController.new.send(:valid_country_list)%>
<%# @all_countries.map{|country,code| @all_countries[country] = code.join(",")}%>
<h2>Filter Log:</h2>
<br/>
<br/>
<br/>
<%= form_tag("/admin/api_log/get_emis_filter_data",method: 'post') do %>
<div class="form-type1">
  <div class="form-row" style="background: white">
    <label class="form-label">Email</label>
 
    <%= text_field_tag :email, params[:email]%>
  </div>
  
  <div class="form-row" style="background: white">
    <label class="form-label">Event</label>
    <%= text_field_tag :request_action, params[:request_action]%>
  </div>
 

  <div class="form-row" style="background: white">
    Request Status
   <%= select_tag "request_status", options_for_select([["Success","true"],["Failed","false"]], params[:request_status]),:prompt =>"Select user type" ,  :class=>"custom-select chosen-field1 js-user_type1" %>
  </div>


  <div class="form-row" style="background: white">
    <label class="form-label">Start Date</label>
    <%= text_field_tag :start_date, (params[:start_date]|| (Date.today - 1.month).to_s), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    &nbsp;&nbsp;&nbsp;&nbsp;
   <label class="form-label">End Date</label>
     
    <%= text_field_tag :end_date, (params[:end_date] || Date.today.to_s), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
 
  
  <div class="form-row"  style="background: white">
    <%=  submit_tag "Search",class:"btn btn-type2" %>
  </div>
  <div class="form-row">
    <%=  submit_tag "Export to Excel",class:"btn btn-type2" %>
  </div>
</div>
  <% end %>


  <script type="text/javascript">
  
  $(document).ready(function(){
    function show_selected_value(){
      var selected_value = []
      <% params.each do |key,value|%>
        selected_value = value
     $(".js-<%=key%>").val(selected_value).trigger("chosen:updated.chosen") 
      <% end %>

    }

$(".chosen-field").chosen({
      width:"440px",
      no_results_text: "No results matched", 
      search_contains: true
    });


  });

</script>