<style>
 .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
      background: url("/assets/chosen-sprite.png") -42px 1px no-repeat;
      font-size: 1px; }
      .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
        background-position: -42px -10px; }
</style>
<% @all_countries = Admin::UsersController.new.send(:valid_country_list)%>
<% @all_countries.map{|country,code| @all_countries[country] = code.join(",")}%>
<h2>Filter Log:</h2>
<br/>
<br/>
<br/>
<%= form_tag("/admin/api_log/get_filter_data",method: 'post') do %>
 
  <%= render :partial=>"/admin/api_log/user_detail_form_for_search"%>
  <div class="form-row" style="background: white">
    <label class="form-label">Start Date</label>
    <%= text_field_tag :start_date, (params[:start_date]|| (Date.today - 1.month).to_s), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    &nbsp;&nbsp;&nbsp;&nbsp;
   <label class="form-label">End Date</label>
     
    <%= text_field_tag :end_date, (params[:end_date] || Date.today.to_s), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>

  <% if params[:event_log_type] != "CvtmePurchaseEventLog" %>  
    <div class="form-row" style="background: white">
      <label class="form-label">Event Source</label>
    
      <%=select_tag :event_source, options_for_select(["api","system"],params[:event_source]),:prompt=>'select Source for event', :class => 'custom-select1  ' %> 
    </div>
    <% if @controller_access.present? %>
      <%= hidden_field_tag :controller_access, @controller_access %>
    <% end %>
    <% if params[:log_category].present? %>
      <div class="form-row" style="background: white">
        <label class="form-label">Event Name</label>
 

        <%= select_tag :event_custom_id, options_from_collection_for_select(::Report::Event.all.order_by("title asc"),:custom_id,:custom_title,params[:event_custom_id]),:multiple=>true, :prompt=>'Select Events',:size=>20, :class => 'chosen-field js-event_custom_id custom-select1  ' %>
      </div>
    <% end %>
  <% else %>
    <%= hidden_field_tag :event_custom_id, params[:event_custom_id]  %>
    <%= hidden_field_tag :event_log_type, params[:event_log_type]  %>
  <% end %>
  <%= hidden_field_tag :log_category, params[:log_category] %>
    

  
  <div class="form-row">
    <%=  submit_tag "Search",class:"btn btn-type2" %>
  </div>
  <% end %>


  <script type="text/javascript">
  
  $(document).ready(function(){
    function show_selected_value(){
      var selected_value = []
      <% params.each do |key,value|%>
        selected_value = value
     $(".js-<%=key%>").val(selected_value).trigger("chosen:updated.chosen") 
      <% end %>

    }

$(".chosen-field").chosen({
      width:"440px",
      no_results_text: "No results matched", 
      search_contains: true
    });


  });

</script>