<% @all_countries = Admin::UsersController.new.send(:valid_country_list)%>
<% @all_countries.map{|country,code| @all_countries[country] = code.join(",")}%>
<div class="form-type1">
<div class="form-row"> 
   <%= text_field_tag :first_name, params[:first_name] , placeholder:"Name",  class: "textBx-type1 " %>
  </div>
  <div class="form-row"> 
   <%= text_field_tag :email, params[:email], class: "textBx-type1 inputType2 " ,placeholder:"Email"%>
  </div>
  <div class="form-row">
    <%#= text_field_tag :status, params[:status], class: "textBx-type1 inputType2" ,placeholder:"Status" %>
     <%=select_tag "status", options_for_select(User.distinct(:status), params[:status]),:prompt => 'Select Clinic Linked', :style=>"width:125px;",:multiple=>true,:size=>5, :class=>"custom-select chosen-field1 js-status1" %>
    
  </div>


  <div class="form-row">
     <%=select_tag "user_type", options_for_select(User.distinct(:user_type), params[:user_type]),:prompt =>"Select user type" , :style=>"width:125px;",:multiple=>true,:size=>5, :class=>"custom-select chosen-field1 js-user_type1" %>
  </div>

  <div class="form-row">
     <%=select_tag "stage", options_for_select(User.distinct(:stage), params[:stage]),:prompt => 'Select User Stage', :style=>"width:125px;",:multiple=>true,:size=>5,:class=>"custom-select chosen-field1 js-stage1" %>
  </div>

  <div class="form-row">
     <%=select_tag "activity_status", options_for_select(User.distinct(:activity_status), params[:activity_status]),:prompt => 'Select Activity Status', :style=>"width:125px;",:multiple=>true,:size=>5,:class=>"custom-select" %>
  </div>

  <div class="form-row">
    <%=select_tag "segment", options_for_select(User.distinct(:segment), params[:segment]),:prompt => 'Select User Segment', :style=>"width:125px;",:multiple=>true,:size=>5,:class=>"custom-select" %>
  </div>

  <div class="form-row">
    <%#=select_tag "user_subscription",options_from_collection_for_select(SubscriptionManager.all,:id,:title,params[:user_subscription]),:prompt => 'Select User Subscription',  :class=>"custom-select" %>
    <% subscriptions = SubscriptionManager.all.map(&:title)  %>
       <%=select_tag "user_subscription", options_for_select(subscriptions, params[:user_subscription]),:prompt => 'Select User Subscription', :multiple=>true,:size=>5,:style=>"width:125px;",:class=>"custom-select" %>
  </div>

  <div class="form-row">
     <%=select_tag "country_code", options_for_select(@all_countries, params[:country_code]),:prompt =>'Select country' , :style=>"width:125px;",:multiple=>true,:size=>5,:class=>"custom-select chosen-field js-country_code" %>
  </div>
  <div class="form-row">
     
    <%  siginup_provider_list = (["Nurturey"] + User.distinct(:provider)).compact %>
     <%=select_tag "signup_provider", options_for_select(siginup_provider_list, params[:signup_provider]),:prompt =>'Select SiginUp Provider' , :style=>"width:125px;",:multiple=>true,:size=>5,:class=>"custom-select chosen-field js-country_code" %>
    
  </div>


  <div class="form-row">
     <%#=select_tag "email_domain_status", options_for_select(["valid","invalid"], params[:email_domain_status]),:prompt => 'Select Email Domain Status', :style=>"width:125px;",:multiple=>true,:size=>3, :class=>"custom-select" %>
  </div>

  <style type="text/css">
    .form-row{
      background: white;
    }
  </style>