<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <br/>
 <br/>
<%= @event.errors.full_messages.first if @event.errors.any? %>
 
<% @url = "/admin/api_log/update_event"%>
<%= form_for @event,url: @url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @is_new_record ? "Add" : "Update" %> event</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
      <label class="form-label">Title</label>
      <%= f.text_field :title, class: "js-name textBx-type2"  %>
    </div> 
    
    <%= f.hidden_field :id, :value=>@event.id %>
      
     
    <div class="form-type3"><div class="form-action-row">
       <%= f.submit (@event.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
  
    </div></div>
  </div>
</div>
<% end %>
  
 <%= link_to "Cancel", "/admin/api_log/event_list", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
 