<%= render :partial=> "/admin/api_log/emis_search_form" %>

<% is_super_admin = current_user.email == AppConfig["superadmin_email"] rescue false %>

<br/>
<br/>

<h2> Emis Log </h2>
<br/>
 
<table id="emis_logs" class="display" cellspacing="0" >
</table>
<div class="CL"></div>
 
  <script type="text/javascript">
   
   $(document).ready(function() {
    var t = $('#emis_logs').DataTable( {
       "scrollX":true,      
      "searching": false,

        "rowCallback": function( row, data, iDisplayIndex ) {
           var info = $(this).DataTable().page.info();
           var page = info.page;
           var length = info.length;
           var index = (page * length + (iDisplayIndex +1));
           // $(row).attr('id',  data._id);
           $('td:eq(0)', row).html(index);
           if (<%=!is_super_admin%>)
           { 
            $('td:eq(-3)', row).hide();
            $('td:eq(-4)', row).hide();
           }
        }     ,
        "headerCallback": function( thead, data, start, end, display ) {

           if (<%=!is_super_admin%>)
           { 
             $(thead).find('th').eq(-3).hide();
             $(thead).find('th').eq(-4).hide();
           }
        },
       "columns":[
          {"title":"","data":null}, 
          {"title":"Event","data":"action"}, 
          {"title":"RequestType","data":"request_type"}, 
          {"title":"CreatedOn(<%=@time_zone%>)","data":"created_at",
             mRender: function (data, type, row) {
              return new Date(row.created_at).toLocaleString("en-GB", {timeZone: "<%=@time_zone rescue "UTC"%>"}) 
             }
          }, 
         
          {"title":"Status","data":"request_status",
            mRender: function (data, type, row) {
               
                 if (row.request_status == null){
                   return "-"  
                 }
                 else{
                  if(row.request_status == "true"){
                    return "Success"
                  }
                  else{
                    return "Failed"
                  }
                 }
            }
          }, 
          {"title":"Message", "data":"message"},
          {"title":"UserId", "data":"user_id",
          mRender: function (data, type, row) {
                 return '<a href="#html" data-height="500" data-overflow="scroll" data-pop="/admin/users/get_user_detail?member_id=' + row.user_id + '"  style="width:70px;">'+row.user_id+'</a>'
          }},
          {"title":"IP ","data":"ip_address"},
          {"title":"Location","data":"location"},
          {"title":"PatientId","data":"patient_id"},
          {"title":"MemberId","data":"member_id"}, 
          {"title":"MessageId","data":"message_id"}, 
          {"title":"organization_id","data":"organization_id"}
        ],
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 0 , "desc" ]],
        "serverSide": true,
        "pageLength":100,
        "ajax": {
            url: '/admin/api_log/emis_log_paginated_data',
            "data":{id:"<%=params[:id]%>",start_date:"<%=params[:start_date] rescue nil%>",end_date:"<%=params[:end_date] rescue nil%>",email:"<%=params[:email] %>",request_action:"<%=params[:request_action] rescue nil%>",request_status:"<%=params[:request_status] rescue nil%>"},
            "dataSrc": 'emis_logs_list'

        } 
      });

      
    

      $('#emis_logs thead th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

} );


 </script> 
 <style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
}

.dataTables_scrollBody{
  min-height: 123px !important;
}
div.container {
        width: 80%;
    }

 </style>


<% if @emis_logs.present? %>
  <div class="js-test_validation_form">
   <%= form_tag("/admin/emis_logs_details/test_notification_validation_to_assign",method: 'get', remote: true) do %>
    <div class="form-type2">
      <div class="form-row">
        <label class="form-label"></label>
        <%= select_tag :member_id, options_from_collection_for_select( current_user.childerns , "id", "first_name"), {:class => 'custom-select1  '} %>
         
        <%= submit_tag "Vaildate emis_logs assignment",class: "btn btn-type2",:disable_with=>"Validating.." %>
     
    </div>
    </div>
   <% end %>
  </div>
<% end %>