  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#event_list').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    
} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> Event List </h2>
<br/>
<br/>
<table id="event_list" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th>
      <th>ID                  </th>
      <th>Title                </th>
      <th>Category            </th>
      <th>Action            </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th></th>
      <th>ID                  </th>
      <th>Title                </th>
      <th>Category            </th>
      <th>Action            </th>
    </tr>
  </tfoot>
  <tbody>
    <% @events.each do | event |  %>
      <tr class="event_id">
        <td></td>
        <td> <%= event.custom_id%>  </td>
        <td class="js-delete"> <%= event.title %></td>
        <td> <%= event.category%>  </td>
        <td>
          <%=link_to "","/admin/api_log/edit_event?event_id=#{event.id}",class: "icon-pencil txt-link-type2 "  %>
        </td>
      </tr>
    <% end %>                  
  </tbody>
</table> 
<div class="CL"></div>
 
