<style type="text/css">
   
  .popupWrapper{
    overflow-y: scroll;
  }
</style>
  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#api_log').DataTable( {
      "scrollX": true,
      "searching": false,

      "rowCallback": function( row, data, iDisplayIndex ) {
           var info = $(this).DataTable().page.info();
           var page = info.page;
           var length = info.length;
           var index = (page * length + (iDisplayIndex +1));
           $('td:eq(0)', row).html(index);
        
        }     ,
      "columns":[
          {"title":"","data":null}, 
          {"title":"Request Time","data":"created_at"},
          {"title":"IpAddress","data":"ip_address"},
          {"title":"Location","data":"location"},
          {"title":"UserEmail",
           mRender: function (data, type, row) {
                 return '<a href="#html" data-height="500" data-pop="/admin/users/get_user_detail?user_email=' + row.user_email + '"  style="width:70px;">'+row.user_email+'</a>'
          }
          },

          {"title":"FamilyId","data":"family_id"},
          {"title":"Action","data":"action"},
          {"title":"Controller","data":"controller"},
          {"title":"Request Type",  "data":"request_type"},
          {"title":"Request Status",  "data":"request_status"},
          {"title":"Failed Attempt",  "data":"failed_attempt"},
          {"title":"Request Format","data":"request_format"},
          {"title":"EventCustomId",

            mRender: function (data, type, row) {
                 return '<a href="#html", data-pop="/admin/api_log/get_event_description?event_custom_id=' + row.event_custom_id + '" class="txt-link-type2" style="width:70px;">'+row.event_custom_id+'</a>'
          }
          },
          {"title":"EventSource","data":"event_source"}
      ],
      "serverSide": true,
        "pageLength":10,
        "ajax": {
            url: '/admin/api_log/paginated_data',
            "data":{start_date:"<%=params[:start_date]%>",end_date:"<%=params[:end_date]%>",email:"<%=params[:email]%>",log_category:"<%=params[:log_category]%>",controller_access:"<%=@controller_access%>",event_custom_id:"<%=(params[:event_custom_id]).join(",") rescue ''%>",user_email:"<%=params[:user_email]%>",event_source:"<%=params[:event_source]%>",event_log_type:"<%=params[:event_log_type]%>",
            first_name:"<%=params[:first_name]%>",
            status:"<%=params[:status].join(",") rescue ''%>",
            user_type:"<%=params[:user_type].join(",") rescue ''%>",
            stage:"<%=params[:stage].join(",") rescue ''%>",
            activity_status:"<%=params[:activity_status].join(",") rescue ''%>",
            segment:"<%=params[:segment].join(",") rescue ''%>",
            user_subscription:"<%=params[:user_subscription].join(",") rescue ''%>",
            country_code:"<%=params[:country_code].join(",") rescue ''%>"
             },
            "dataSrc": 'log_data'

        },
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 1, "API-572-improve-api-log-querydesc" ]]

    } );
    
     

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
<br/>
<br/>
<br/>
<%= render :partial=> "/admin/api_log/search_form" %>
<br/>
<br/>
<h2> 
<% if @controller_access.present?%>
Admin panel access log list
<% elsif params[:log_category] == "event"%>
 
 Event log
  
<% else %>
Api/Web Log List
<% end %>

 </h2>
<br/>
<% if params[:log_category] == "event"%>
  <%= link_to "Event list", "/admin/api_log/event_list",:target=>"_blank"%>
  <br/>
  <br/>
<% end %>
<br/>
<table id="api_log" class="display" cellspacing="0" width="100%">
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
<br/>
<br/>
 
