<%= render :partial=> "/admin/api_log/nhs_api_search_form" %>

<% is_super_admin = current_user.email == AppConfig["superadmin_email"] rescue false %>

<br/>
<br/>

<h2> NHS API Log </h2>
<br/>
  <table id="nhs_api_logs" class="display" cellspacing="0" >
  </table>
<div class="CL"></div>
 
  <script type="text/javascript">
   
   $(document).ready(function() {
    var t = $('#nhs_api_logs').DataTable( {
       "scrollX":false,      
      "searching": false,

        "rowCallback": function( row, data, iDisplayIndex ) {
           var info = $(this).DataTable().page.info();
           var page = info.page;
           var length = info.length;
           var index = (page * length + (iDisplayIndex +1));
           // $(row).attr('id',  data._id);
           $('td:eq(0)', row).html(index);
           if (<%=!is_super_admin%>)
           { 
            $('td:eq(-3)', row).hide();
            $('td:eq(-4)', row).hide();
           }
        }     ,
        "headerCallback": function( thead, data, start, end, display ) {

           if (<%=!is_super_admin%>)
           { 
             $(thead).find('th').eq(-3).hide();
             $(thead).find('th').eq(-4).hide();
           }
        }, 

       "columns":[
          {"title":"","data":null}, 
          {"title":"URL","data":"fetch_url"}, 
          {"title":"CreatedOn(<%=@time_zone%>)","data":"created_at",
             mRender: function (data, type, row) {
              return new Date(row.created_at).toLocaleString("en-GB", {timeZone: "<%=@time_zone rescue "UTC"%>"}) 
             }
          }, 
         
          {"title":"Status","data":"request_status"}, 
          {"title":"Fetch By","data":"fetch_by"}, 
          {"title":"UserId", "data":"user_id",
          mRender: function (data, type, row) {
               if (row.user_id == null){
                   return ""  
                 }
                else{
                 return '<a href="#html" data-height="500" data-overflow="scroll" data-pop="/admin/users/get_user_detail?member_id=' + row.user_id + '"  style="width:70px;">'+row.user_id+'</a>'
                }
          }},
          {"title":"IP ","data":"ip_address"},
          {"title":"Location","data":"location"},
          
        ],
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      
      "order": [[ 0 , "desc" ]],
        "serverSide": true,
        "pageLength":100,
        "ajax": {
            url: '/admin/api_log/nhs_api_log_paginated_data',
            "data":{id:"<%=params[:id]%>",start_date:"<%=params[:start_date] rescue nil%>",end_date:"<%=params[:end_date] rescue nil%>",email:"<%=params[:email] %>"},
            "dataSrc": 'nhs_api_logs_list'

        } 
      });

      
    

    //   $('#nhs_api_logs thead th').each( function () {
    //     var title = $(this).text();
    //     $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    // } );

      // t.columns.adjust().draw();

} );


 </script> 
 <style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
}

.dataTables_scrollBody{
  min-height: 123px !important;
}
 

 </style>


<% if @nhs_api_logs.present? %>
  <div class="js-test_validation_form">
   <%= form_tag("/admin/nhs_api_logs_details/test_notification_validation_to_assign",method: 'get', remote: true) do %>
    <div class="form-type2">
      <div class="form-row">
        <label class="form-label"></label>
        <%= select_tag :member_id, options_from_collection_for_select( current_user.childerns , "id", "first_name"), {:class => 'custom-select1  '} %>
         
        <%= submit_tag "Vaildate nhs_api_logs assignment",class: "btn btn-type2",:disable_with=>"Validating.." %>
     
    </div>
    </div>
   <% end %>
  </div>
<% end %>