<br/>
<br/>

<h2> Tpp Log </h2>
<br/>
 
<table id="tpp_logs" class="display" cellspacing="0" >
</table>
<div class="CL"></div>
 
  <script type="text/javascript">
   
   $(document).ready(function() {
    var t = $('#tpp_logs').DataTable( {
       "scrollX":true,      

        "rowCallback": function( row, data, iDisplayIndex ) {
           var info = $(this).DataTable().page.info();
           var page = info.page;
           var length = info.length;
           var index = (page * length + (iDisplayIndex +1));
           // $(row).attr('id',  data._id);
           $('td:eq(0)', row).html(index);
        }     ,
       "columns":[
          {"title":"","data":null}, 
          {"title":"Event","data":"action"}, 
          {"title":"CreatedOn(<%=@time_zone%>)",
             mRender: function (data, type, row) {
              return new Date(row.created_at).toLocaleString("en-GB", {timeZone: "<%=@time_zone rescue "UTC"%>"}) 
             }
          }, 
          {"title":"Status",
            mRender: function (data, type, row) {
               
                 if (row.request_status == null){
                   return "-"  
                 }
                 else{
                  if(row.request_status == "true"){
                    return "Success"
                  }
                  else{
                    return "Failed"
                  }
                 }
            }
          }, 
          {"title":"UserId","data":"user_id"},
          {"title":"PatientId","data":"patient_id"},
          {"title":"MemberId","data":"member_id"}, 
          {"title":"MessageId","data":"message_id"}, 
          {"title":"SequenceNumber","data":"sequence_number"}, 
          {"title":"organization_id","data":"organization_id"}
        ],
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 0 , "desc" ]],
        "serverSide": true,
        "pageLength":100,
        "ajax": {
            url: '/admin/api_log/tpp_log_paginated_data',
            "data":{id:"<%=params[:id]%>"},
            "dataSrc": 'tpp_logs_list'

        } 
      });

      
    

      $('#tpp_logs thead th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

} );


 </script> 
 <style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
}

.dataTables_scrollBody{
  min-height: 123px !important;
}
div.container {
        width: 80%;
    }

 </style>


<% if @tpp_logs.present? %>
  <div class="js-test_validation_form">
   <%= form_tag("/admin/tpp_logs_details/test_notification_validation_to_assign",method: 'get', remote: true) do %>
    <div class="form-type2">
      <div class="form-row">
        <label class="form-label"></label>
        <%= select_tag :member_id, options_from_collection_for_select( current_user.childerns , "id", "first_name"), {:class => 'custom-select1  '} %>
         
        <%= submit_tag "Vaildate tpp_logs assignment",class: "btn btn-type2",:disable_with=>"Validating.." %>
     
    </div>
    </div>
   <% end %>
  </div>
<% end %>