 
        <!-- health parameters start here -->
        <div class="singleBx-type6a">
            <div class="titleBar reset-margin">
                <h1><%=header_profile_image_tag(current_user,"small") %>SCORE CARD</h1>
            </div>
        </div>
        <div class="singleBx-type6 space-bottom">
            <div class="score-box">
                <div class="<%=Score::BadgeClass[Score::badge(@score_badges_sum)]%>">
                    <div class="hex">
                        <div class="hex inner">
                            <div class="hex inner2">
                                <div class="hex-top"><%=Score::BadgeType[@badge_name]%></div>
                                <div class="hex-count badge-txt-1"><%= Score::BadgeName[@badge_name]%></div>
                                <div class="hex-bottom"><%=Score::BadgeParent[@badge_name]%></div>
                            </div>
                        </div>
                    </div>
                    <div class="ribin"></div>
                </div>
                <div class="badge-info">
                    <h1 class="badge-count"><span class="txt-green"><%= @score_badges_sum %></span> <small>pts</small></h1>
                    <h2 class="space-top-2"> <i class="icon-thumbs-up"></i> Great Job!</h2>
                    <% if @score_badges_sum < Score::BadgePoint["SPACE"] %>
                        <p class="text-center space-top-2">You are just <span class="txt-green" style="font-size:20px;"><%= Score::BadgePoint["SPACE"] - @score_badges_sum%>  points</span> away from becoming a Space Parent! </p>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="singleBx-type6">
                <!--invitation table -->
                    <div>
                        <table cellspacing="0" cellpadding="0" width="100%" id="tableType1" class="badge-table">
                            <thead>
                            <tr>
                                <th width="70%"><i class="icon-bell"></i> Badges</th>
                                <th width="30%" class="text-right">Points</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% Score::BadgePoint.each do |name,value| %>
                            
                            <tr>
                                <td><i class="icon-bell"></i> <%= name %></td>
                                <td>
                                    <%= value %>
                                </td>
                            </tr>
                            <% end %>
                             

                            </tbody>

                        </table>
                    </div>

        </div>
         <!-- <div id="timeline-pagination"> -->
        <div class="singleBx-type5">
            <table cellspacing="0" cellpadding="0" width="100%" id="tableType2" class="badge-table">
                <thead>
                <tr>
                    <th width="80%">Recent Activities</th>
                    <th width="20%" class="text-right">Points earned</th>
                </tr>
                </thead>
                <tbody id="score-pagination">
                <%= render :partial=>"/score/list_badges_entries" %> 
                <!-- , :locals=>{score_badges:@score_badges } -->
                
                 
                </tbody>

            </table>
        </div>
     <!-- </div> -->
     <div id="infinite-scrolling" style="display:none">
         
          <%= paginate @score_badges %>
        </div>