<% if params[:page].blank?%>
  $(".center-section").html("<%= j render :partial=> '/score/list_badges'%>")
  pagination = "true"
  $(".js-badges").hide();
$(".js-invitation").show();
$(function(){
        
       $('#tableType1').dataTable({
            "scrollY": "auto",
            "scrollCollapse": false,
            "searching": false,
            "paging": false,
            "ordering": false,
            "oLanguage": {
                "sEmptyTable":"<div class='data-error empty-msg-1'><p> No record available in the table </p></div>"
            }
        });
         
           $('#tableType2').dataTable({
            "scrollY": "auto",
            "scrollCollapse": false,
            "searching": false,
            "paging": false,
            "ordering": false,
            "delete": false,
            "oLanguage": {
                "sEmptyTable":"<div class='data-error empty-msg-1'><p> No record available in the table </p></div>"
            }
        });

       

    })

<% else %>
  $("#score-pagination").append("<%=j render :partial=>'/score/list_badges_entries'%>")
 
<% end %>
