<style type="text/css">
  .btn-light:hover{
      color: #14953a;
      background-color: #f3f5f9!important;
      border-color: #f3f5f9!important;
    }
  .btn-light{
    color: #14953a;
    border-color: #f3f5f9 !important;
    background-color: #f3f5f9!important;
  }
  .disabled{
    color: #000000 !important;
    border-color: #f3f5f9 !important;
    opacity: 1 !important;
    background-color: #ffaf2d !important;
  }
 
</style>
<!-- new sign up flow child nick name form -->
<div class="js-child_name_form" style="display: none">
  <div class="title-area text-center">
    <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50" alt="Nurturey"></div>
    <h1>Who is the little mathematician?</h1>
    <h2>You can add more kids from the app</h2>
  </div>
  
  <div class="body-area text-center">
    <!-- <form action="child-dob.html" class="needs-validation" novalidate> -->
    <div class="form-group">
      <input class="form-control" id="nick_name_input" placeholder="First name or Nick name" id="validationCustom01" required>
      <div class="invalid_nick_name invalid-feedback" style="display: none">Please enter first name</div>
    </div>

      <!--<div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name">
      </div>-->
      <button type="button" class="btn btn-primary btn-lg btn-block js-nick_name_button">Add</button>
      <!-- <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button> -->
    <!-- </form> -->
  </div>
</div>

  <!-- new sign up flow - Add child date of birth -->
  <div class="js-child_dob_form" style="display: none">
    <div class="title-area text-center">
      
      
        <div class=" back-arrow js-back_to_child_name1">
        <button type="button" class="  btn btn-light js-back_to_child_name">
         <i class="fa fa-arrow-left" aria-hidden="true"></i>
         </button>
         </div>
      <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50" alt="Nurturey"></div>
      <h1 id="dob_title_desc">I will ask questions appropriate for &lt;child name&gt;'s age</h1>
    </div>
    
    <div class="body-area text-center">
    <div class="row">
      <div class="col">
        <form method="POST" class="needs-validation" novalidate>
          <div class="form-group">
            <div class="input-group">
            <%= hidden_field_tag :alexa_user_token%>
            <input placeholder="Date of birth" type="text" class="js-child_dob js-birth_date  form-control"  data-date-end-date="0d" data-date-format="dd M yyyy" data-date-start-view="decade" name="birthday" value="<%= Date.today.to_date4 %>" onfocus="blur();" required/>

              <!-- <input placeholder="Date of birth" type="text" class="js-date_picker form-control js-child_dob" readonly="true"data-date-start-view="decade" data-date-format="dd/mm/yyyy" name="birthday" data-date-end-date="<%#= Date.today.strftime('%d/%m/%Y')%>" style="background-color: #fff"autocomplete="off"  required > -->
              <div class="invalid-feedback">Please enter date of birth</div>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-lg btn-block js-done_dob">Done</button>
        </form>               
      </div>
    </div>

    </div>
    
  </div>


  <!-- child Gender -->
      <div class="js-child_gender" style="display:none">
        <div class="title-area text-center">
            <div class="back-arrow "><a href="#" class="js-back_to_birth_date"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div>
            <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50"></div>
            <h1>Practise pace differs for boys and girls</h1>
        </div>
        
        <div class="body-area text-center">
          <!-- <form action="alexa-demo.html"> -->
          <div class="container role-selector">
          <div class="invalid-feedback" style="display: block; text-align: center;">Select for <span class="js-updated_child_name">child</span></div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">
                <label>
                  <input type="radio" name="gender" value="Son" checked="checked">
                  <span class="boy-avatar"></span>
                  <p>Boy</p>
                </label>
              </div>
               
              <div class="col">
                <label>
                  <input type="radio" name="gender" value="Daughter">
                  <span class="girl-avatar"></span>
                    <p>Girl</p>
                </label>
              </div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <button type="button" class="js-child_gender_submit btn btn-primary btn-lg btn-block">Done</button>
            <!-- </form> -->
          </div>
        </div>
      </div>


<script type="text/javascript">
  $(document).ready(function(){

    $('.js-birth_date').datepicker({
      format:"dd/mm/yyyy",
      ignoreReadonly: true,
      allowInputToggle: true,
      autoclose:true
    }).focus()
  
    $("body").on("click",".js-nick_name_button",function(){
      $(".js-invalid-password").hide();
      $(".js-invalid-name").hide();
      if ($.trim($("#nick_name_input").val()) == ''){
        $("#nick_name_input").css('border', 'solid 1px red');
        $(".invalid_nick_name").show();
        return false
      }
      $(".js-child_name_form").hide();
      var dob_title_desc = "I will ask questions appropriate for "+ $("#nick_name_input").val() +"'s age"
      $("#dob_title_desc").html(dob_title_desc)
      $(".js-child_dob_form").show();
      $(".js-child_gender").hide();
      $(".js-devise_form").hide();
      $("#first_name_input").css('border', 'none');
      return false
    });
    
    $("body").on("click",".js-back_to_child_name",function(){
      $(".js-child_name_form").show();
      $(".js-child_dob_form").hide();
      $(".js-child_gender").hide();
    });


     $("body").on("click",".js-back_to_birth_date",function(){
      $(".js-child_name_form").hide();
      $(".js-child_dob_form").show();
      $(".js-child_gender").hide();
    });


    $("body").on("click",".js-done_dob",function(){
      $(".js-child_name_form").hide();
      $(".js-child_dob_form").hide();
      $(".js-child_gender").show();
      var child_name = $("#nick_name_input").val();
      $(".js-updated_child_name").html(child_name);
    });



    $("body").on("click",".js-child_gender_submit",function(){
      var data = {"user":{},"alexa":{}};
      var session_data = {}
      data["user"]["email"] = $("#email_input").val()|| "<%=session[:email]%>";
      data["user"]["password"] = $("#password_input").val();
      data["user"]["first_name"] = $("#first_name_input").val();
      data["user"]["last_name"] = $("#last_name_input").val();
      data["user"]["country_code"] = $('.js-country_list').val();
      data["platform"] = "<%=session[:alexa_platform]%>";
      data["app_name"] = "<%=session[:alexa_source_reference]%>";
      data["alexa_state"] = "<%=session[:alexa_state]%>";
      data["alexa_redirect_uri"] = "<%=session[:alexa_redirect_uri]%>";
      data["alexa"]["alexa_flow_status"] = "<%=session[:alexa_flow_status]%>";
      data["alexa"]["alexa_source_reference"] = "<%=session[:alexa_source_reference]%>";
      data["alexa"]["alexa_platform"] = "<%=session[:alexa_platform]%>";

      session_data["redirect_uri"] = "<%=session[:alexa_redirect_uri]%>"
      session_data["state"] = "<%=session[:alexa_state]%>";
      session_data["alexa_flow_status"] = "<%=session[:alexa_flow_status]%>";

      session_data["email"] = "<%=session[:email]%>";
      session_data["alexa_source_reference"] = "<%=session[:alexa_source_reference]%>";
      session_data["alexa_platform"] = "<%=session[:alexa_platform]%>";
      session_data["token"] = $("#alexa_user_token").val()
      // FamilyMember.find(params[:id])
      create_family_api(data,session_data)

        });
  });        

  function continue_sign_up(location_data) {
    var data = {"user":{},"alexa":{}};
          var session_data = {}
          data["user"]["email"] = $("#email_input").val();
          data["user"]["password"] = $("#password_input").val();
          data["user"]["first_name"] = $("#email_input").val().split('@')[0];
          data["user"]["last_name"] = ""
          data["user"]["country_code"] = location_data["country"];
          data["user"]["country_name"] = location_data["country_name"];
          // data["user"]["child_name"] = $("#nick_name_input").val();

          data["platform"] = "<%=session[:alexa_platform]%>";
          data["app_name"] = "<%=session[:alexa_source_reference]%>";
          data["alexa_state"] = "<%=session[:alexa_state]%>";
          data["alexa_redirect_uri"] = "<%=session[:alexa_redirect_uri]%>";
          data["alexa"]["alexa_flow_status"] = "<%=session[:alexa_flow_status]%>";
          data["alexa"]["alexa_source_reference"] = "<%=session[:alexa_source_reference]%>";
          data["alexa"]["alexa_platform"] = "<%=session[:alexa_platform]%>";

          session_data["redirect_uri"] = "<%=session[:alexa_redirect_uri]%>"
          session_data["state"] = "<%=session[:alexa_state]%>";
          session_data["alexa_flow_status"] = "<%=session[:alexa_flow_status]%>";
          session_data["alexa_source_reference"] = "<%=session[:alexa_source_reference]%>";
          session_data["alexa_platform"] = "<%=session[:alexa_platform]%>";
          register_user(data,session_data);
  }



  function get_browser_current_location () {
    $.ajax('https://ipapi.co/json')
    .then(
        function success(response) {
            continue_sign_up(response);
        },

        function fail(data, status) {
            console.log('Request failed.  Returned status of',
                        status);
        }
    );
  }
    </script>
