<% @family = Family.find(session[:alexa_user_created_family_id]) %>
<!-- child first name last name  -->
<div class="js-child_name">  
  <div class="title-area text-center">
     <!-- <div class="back-arrow"><a href="role-selector.html"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div> -->
    <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50"></div>
    <h1>Who is the <!-- &lt; -->first<!-- &gt; --> little one we need to take care in <%=@family.name%>?</h1>
  </div>
  
  <div class="body-area text-center">
      <div class="form-group needs-validation was-validated">
        <input type="text" class="js-child_first_name form-control" placeholder="First Name">
        <div class="js-invalid_child_name invalid-feedback">Please enter first name</div>
      </div>

      <div class="form-group">
        <input type="text" class="js-child_last_name form-control" placeholder="Last Name">
      </div>
      
      <a href="#" class="js-child_name_submit btn btn-primary btn-lg btn-block">Add</a>
    
  </div>
</div>


<!--  child birth date -->
<div class="js-child_birth_date" style="display: none">
  <div class="title-area text-center">
            <div class="back-arrow"><a href="#"><i class="js-back_to_first_name fa fa-arrow-left" aria-hidden="true"></i></a></div>
            <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50"></div>
            <h1>I will provide specific assistance based on the <span class="js-updated_child_name">child's first name</span> age</h1>
        </div>
        
        <div class="body-area text-center">
        <div class="row">
          <div class="col">
                <div class="form-group needs-validation was-validated">
                  <div class="input-group">
                    <input placeholder="Date of birth" type="text" class="js-dob1 js-birth_date date-picker form-control"  data-date-end-date="0d" data-date-format="dd M yyyy" name="birthday" value="<%= Date.today.to_date4 %>" onfocus="blur();"/>
                    <div class="js-child_dob invalid-feedback">Please enter date of birth</div>
                  </div>
                </div>
                <a href="#" class="js-child_birth_date_submit btn btn-primary btn-lg btn-block">Done</a>
          </div>
        </div>

        </div>
</div>


<!-- child Gender -->
      <div class="js-child_gender" style="display:none">
        <div class="title-area text-center">
            <div class="back-arrow js-back_to_birth_date"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div>
            <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50"></div>
            <h1>I will provide specific assistance based on the gender of <span class="js-updated_child_name">child name</span></h1>
        </div>
        
        <div class="body-area text-center">
          <!-- <form action="alexa-demo.html"> -->
          <div class="container role-selector">
          <div class="invalid-feedback" style="display: block; text-align: center;">Please select gender</div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">
                <label>
                  <input type="radio" name="gender" value="Son" checked="checked">
                  <span class="boy-avatar"></span>
                  <p>Boy</p>
                </label>
              </div>
               
              <div class="col">
                <label>
                  <input type="radio" name="gender" value="Daughter">
                  <span class="girl-avatar"></span>
                    <p>Girl</p>
                </label>
              </div>
              <div class="col"></div>
              <div class="col"></div>
            </div>
            <button type="button" class="js-child_gender_submit btn btn-primary btn-lg btn-block">Done</button>
            <!-- </form> -->
          </div>
        </div>
      </div>


<script type="text/javascript">
 
      $(document).ready(function(){
        $('.js-dob1').datepicker({
          format: 'dd M yyyy',
          allowInputToggle: true,
          autoclose:true
        }).focus();
        //  Goto Birth Date selection
         $("body").on("click",".js-child_name_submit",function(){
          $(".js-child_first_name").css('border', 'none');
          $(".js-invalid_child_name").hide();
          var child_name = $.trim($(".js-child_first_name").val());
          if (child_name == ''){
            $(".js-child_first_name").css('border', 'solid 1px red');
            $(".js-invalid_child_name").show();
            return false
          }
          $(".js-child_name").hide()
          $(".js-updated_child_name").html(child_name);
          $(".js-child_birth_date").show();
          $(".js-child_gender").hide();
          return false
        });

        //  Goto Gender Selection
        $("body").off("click",".js-child_birth_date_submit");
        $("body").on("click",".js-child_birth_date_submit",function(){
          $(".js-birth_date").css('border', 'none');
          $(".js-child_dob").hide();
          if ($.trim($(".js-birth_date").val()) == ''){
            $(".js-birth_date").css('border', 'solid 1px red');
          $(".js-child_dob").show();
            return false
          }
          $(".js-child_name").hide()
          $(".js-child_birth_date").hide();
          $(".js-child_gender").show();
          return false
        });

         
          // Go back to Child Name 
        $("body").on("click",".js-back_to_first_name",function(){
          $(".js-alexa-signup-error").html("")
          $(".js-child_name").show()
          $(".js-child_birth_date").hide();
          $(".js-child_gender").hide();
          
          return false
        });

           // Go back to Birth date
        $("body").on("click",".js-back_to_birth_date",function(){
          $(".js-alexa-signup-error").html("")
          $(".js-child_name").hide()
          $(".js-child_birth_date").show();
          $(".js-child_gender").hide();
          
          return false
        });
 

        function show_add_child_form(){
          $(".js-child_name").show()
          $(".js-child_birth_date").hide();
          $(".js-child_gender").hide();
        }

       
        

        // Add Child
        $("body").off("click",".js-child_gender_submit");
        $("body").on("click",".js-child_gender_submit",function(){
          var data = {"Member":{"family_members":{}}};

          $(".js-child_gender_submit").prop("disabled", true);
          $(".hidden").show();

          data["Member"]["first_name"] = $(".js-child_first_name").val();
          data["Member"]["last_name"] = $(".js-last_first_name").val();
          data["Member"]["birth_date"] = $(".js-birth_date").val();
          data["Member"]["family_members"]["role"] = $("input[name='gender']:checked").val();
          data["token"] = "<%= session[:alexa_user_token]%>";

            //console.log(data);
            $.ajax({
            url: "/api/v4/families/<%= @family.id%>/member/create_child.json",
            type: "Post",
            data: data,
            dataType: "JSON",
            complete: function(){
              $(".js-child_gender_submit").prop("disabled", false);
              $(".hidden").hide();

            },
            success: function(response,textStatus,xhr) {
              if(response.status == 100){
                show_add_child_form();
                handleErrorRespose(response.message);
              }
              else if(response.status == 200){
                  window.k = response;
                data = {"token":"<%=session[:alexa_user_token] %>"}
                data["child_member_id"] = response.family_members[0]._id;
                data["family_id"] = "<%=@family.id%>";
                data["state"] = "<%=session[:alexa_state]%>"
                data["redirect_uri"] = "<%=session[:alexa_redirect_uri]%>"
                 
                $.ajax({
                  url: "/alexa/sign_up/finish_setup",
                  type: "Get",
                  data: data,
                  dataType: "script",
                  success: function(response1){
                     
                    history.pushState(null, '', "/alexa/sign_up/finish_setup");
                  },
                error: function(response){
                  handleErrorRespose(error_message);
                } 
                });
              }
            },
            error: function(response){
              handleErrorRespose(error_message)
            }

          });
        });


  
     });
       


    </script>