 
<%=child_name=""%>
 <div class="js-devise_form">
        <div class="title-area text-center">
            <img src="/assets/alexa_signup/pa-image.png" height="50" width="50">
            <% if session[:alexa_source_reference] == "nurturey maths" %>
              <h1>Sign up to create personal mental Maths tutor for <strong>your kids</strong></h1>
            <% else %>
              <h1>Sign up to create your own <strong>personal assistant</strong></h1>
            <% end %>
        </div>
        
        <div class="body-area text-center">
        
            <!-- <form action="#"> -->
              <div class="form-group">
                <input type="email" class="form-control" id="email_input" aria-describedby="emailHelp" placeholder="Enter email">
                <!-- <div class="invalid-feedback js-invalid-email">Please check email address -->
                <!-- </div>   -->
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password_input" placeholder="Password(min 8 characters)">
                 <!-- <div class="invalid-feedback js-invalid-password"><%#= Message::DEVISE[:m19]%></div> -->
              </div>
              <div class="form-group" style="font-size: 11px;margin-left: 11px;">
              <%= raw(Message::DEVISE[:m20])%></label>
              </div>
            <label class="text-muted">
              <%#= raw(Message::DEVISE[:m20])%></label>

            <label class="text-muted">By signing up you agree with Nurturey’s <a href="/home/terms">Terms of Services</a> and <a href="/home/privacy">privacy policy</a></label>
             <button type="button" class="btn btn-primary btn-lg btn-block js-sign_up_button">Sign Up</button>
             <button type="button" onclick="window.location.href='/users/auth/facebook'" class="facebook-signup-btn btn btn-lg btn-block">
                <i class="fa fa-facebook-square fa-lg"></i>Sign Up with Facebook
            </button>
            

            <% session[:alexa_action_for_fb] = "signup" %>
            <p>Already registerted?
              <a href="/alexa/sign_in?<%=alexa_reference_params%>">Login</a>
            </p> 
        </div>
        
    </div>


<div class="js-user_name_fo" style="display: none">
  <div class="title-area text-center">
   <div class="back-arrow"><a href="#"><i class="fa fa-arrow-left js-back_to_email_pwd" aria-hidden="true"></i></a></div>
    <img src="/assets/alexa_signup/pa-image.png" height="50" width="50">
    <h1>How should I address you?</h1>
  </div>
  
  <div class="body-area text-center">

    <!-- <div class="needs-validation"> -->
      <div class="form-group needs-validation was-validated">
        <input type="text" class="form-control" id="first_name_input"  placeholder="First name">
        <div class="js-invalid-name invalid-feedback">Please provide your first name</div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control"  id="last_name_input" placeholder="Last name">
      </div>
        <button type="button" class="btn btn-primary btn-lg btn-block js-user_name_button">Done</button>
    <!-- </div> -->
  </div>
</div>        <!--  End User name form -->




               <!-- User location form  -->
<div class= "js-user_location_form"  style="display: none">              
  <div class="title-area text-center">
    <div class="back-arrow"><a href="#"><i class="fa fa-arrow-left js-back_to_user_name" aria-hidden="true"></i></a></div>
    <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50"></div>
    <h1>I use your country to provide localised calender, information and resources</h1>
  </div>
               
  <div class="body-area text-center" >

    <form action="role-selector.html">
        <div class="form-group">
            <select class="form-control input-medium bfh-countries js-country_list" data-blank=false data-country="GB"></select>
        </div>
      <a href="#" class="js-signup_button btn btn-primary btn-lg btn-block">Done</a>
    </form>
  </div>
</div>
  <!--End  User location form  -->

<%=render :partial=>"/alexa/sign_up/add_family_child"%>


     <script type="text/javascript">
      var user_details_response = ""

      var user_alexa_signup_step = user_alexa_signup_step || 0 
      $(document).ready(function(){

       //  if email available make it disable 
        var is_email_available = "<%= @email_available %>";
        if (is_email_available == "true")
        {
         $("#email_input").prop("readonly",true);
        } 


        $("body").on("click",".js-user_name_button",function(){
            $(".js-invalid-password").hide();
            $(".js-invalid-name").hide();
          if ($.trim($("#first_name_input").val()) == ''){
            $("#first_name_input").css('border', 'solid 1px red');
            $(".js-invalid-name").show();
           
            return false
          }
          $(".js-user_name_form").hide()
          $(".js-user_location_form").show()
          $(".js-devise_form").hide()
          $("#first_name_input").css('border', 'none');
          return false
        });



          $(".js-user_name_form").hide();
          // $(".js-user_location_form").show()

        

        $("body").on("click",".js-sign_up_button",function(){
          // $("#password_input").css('border', 'none');
          // $("#email_input").css('border', 'none');
          $(".js-invalid-password").hide();
          $(".js-invalid-email").hide();
          var email_val = $.trim($("#email_input").val());
          var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
          // if (email_val == '' || !email_regex.test(email_val)){
          //   $("#email_input").css('border', 'solid 1px red');
          //   $(".js-invalid-email").show();
          //   return false
          // }
          // var pwd_val =  $.trim($("#password_input").val());
          // if ( pwd_val == '' || pwd_val.length < 8){
          //   $("#password_input").css('border', 'solid 1px red');
          //    $(".js-invalid-password").show();
          //   return false
          // }
          
          get_browser_current_location();

          return false
        });

        $("body").on("click",".js-back_to_email_pwd",function(){
          $(".js-alexa-signup-error").html("")

          $(".js-user_name_form").hide()
          $(".js-devise_form").show()
          $(".js-user_location_form").hide()
          return false
        });


        $("body").on("click",".js-back_to_user_name",function(){
          $(".js-alexa-signup-error").html("")

          $(".js-user_name_form").show()
          $(".js-devise_form").hide()
          $(".js-user_location_form").hide()
          return false
        });


        $("body").on("click",".js-back_to_device_form",function(){
          $(".js-user_name_form").hide()
          $(".js-devise_form").show()
          $(".js-user_location_form").hide()
          return false
        });



        // Sign up user
        // $("body").on("click",".js-signup_button",function(){
 
        //   var data = {"user":{},"alexa":{}};
        //   var session_data = {}
        //   data["user"]["email"] = $("#email_input").val();
        //   data["user"]["password"] = $("#password_input").val();
        //   data["user"]["first_name"] = $("#first_name_input").val();
        //   data["user"]["last_name"] = $("#last_name_input").val();
        //   data["user"]["country_code"] = $('.js-country_list').val();
        //   data["platform"] = "<%#=session[:alexa_platform]%>";
        //   data["app_name"] = "<%#=session[:alexa_source_reference]%>";
        //   data["alexa_state"] = "<%#=session[:alexa_state]%>";
        //   data["alexa_redirect_uri"] = "<%#=session[:alexa_redirect_uri]%>";
        //   data["alexa"]["alexa_flow_status"] = "<%#=session[:alexa_flow_status]%>";
        //   data["alexa"]["alexa_source_reference"] = "<%#=session[:alexa_source_reference]%>";
        //   data["alexa"]["alexa_platform"] = "<%#=session[:alexa_platform]%>";

        //   session_data["redirect_uri"] = "<%#=session[:alexa_redirect_uri]%>"
        //   session_data["state"] = "<%#=session[:alexa_state]%>";
        //   session_data["alexa_flow_status"] = "<%#=session[:alexa_flow_status]%>";
        //   session_data["alexa_source_reference"] = "<%#=session[:alexa_source_reference]%>";
        //   session_data["alexa_platform"] = "<%#=session[:alexa_platform]%>";
        //   register_user(data,session_data)

        // });

        
  
     });



  
  function get_sign_up_user_details() {
     var params_for_sign_in = {},signup_source=null;
      
      params_for_sign_in["email"] = form_data["email"]
      params_for_sign_in["password"] = form_data["password"]
    
      signup_source = session_data["alexa_platform"]
      
      params_for_sign_in["redirect_uri"] = session_data["redirect_uri"];
      params_for_sign_in["state"] = session_data["state"];
      params_for_sign_in["platform"] = signup_source;
      params_for_sign_in["app_name"] = session_data["alexa_source_reference"];
      params_for_sign_in["alexa_platform"] = session_data["alexa_platform"];
  }


    </script>