    <% @child_member = ChildMember.last %>
    <!-- MAIN BODY CONTENT -->
    <div class="main-body container">
        <div class="title-area text-center">
           
           <div class="back-arrow" style="display: none;"><a href="child-gender.html"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div>
           
            <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50" alt="Nurturey"></div>
            <h1>Awesome, just click complete account linking button and we are ready to go</h1>
        </div>
        
        <div class="body-area text-center">
            <!-- <p>Ask to open Nurturey Maths</p> -->
            <p class="speech-bubble">Alexa, open Nurturey Maths</p>
            <!-- <p>Ask to repeat questions</p> -->
            <p class="speech-bubble">Alexa, repeat</p>
           <h2 style="padding: 20px 20px 0px; margin-bottom: 0px">Due to limitation of Alexa, please ensure your child responds to each question within 15 seconds. Else the Alexa will quit. The child can say "repeat" to reset time counter of Alexa.</h2>
              <button type="button" class="js-finish_setup_button btn btn-primary btn-lg btn-block">Complete account linking</button>
      
       <h1 style="padding-top: 50px;">Download <strong>Nurturey</strong> app to app to track and manage mental maths</h1>
      <label class="text-muted" style="margin-top: 0px; padding: 0px 10px;">Your intelligent assistant is available on AppStore and Playstore</label>
      
      <div class="row">
        <div class="col text-center">
          <img src="/assets/alexa_signup/app-image.png" alt="Download Nurturey app" class="img-fluid">
        </div>
      </div>
      

      <button type="button" class="js-finish_setup_button btn btn-primary btn-lg btn-block">Complete account linking</button>
    </div>
  </div>
 