<div class="js-create_family">   
  <div class="title-area text-center">
     <!-- <div class="back-arrow"><a href="role-selector.html"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div> -->
    <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50"></div>
    <h1>Creating a family will let me coordinate among all members</h1>
  </div>
  
  <div class="body-area text-center">
    <!-- <form action="add-child.html"> -->
      <div class="form-group  needs-validation was-validated">
      <input type="text" id="family_name" class="form-control" placeholder="Family Name" value="My Family" required>
      <div class="js-invalid_family_name invalid-feedback">Please provide a name</div>
      </div>
      <button type="button" class="js-create_family_button btn btn-primary btn-lg btn-block">Done</button>
    <!-- </form> -->
    
  </div>
</div>


<div class="js-role_selector" style="display: none">
  <%= render :partial=>"/alexa/sign_up/role_selector" %>
</div>


    <script type="text/javascript">
      $(document).ready(function(){

        $("body").on("click",".js-create_family_button",function(){
          $("#family_name").css('border', 'none');
            $(".js-invalid_family_name").hide();
          
          if ($.trim($("#family_name").val()) == ''){
            $("#family_name").css('border', 'solid 1px red');
            $(".js-invalid_family_name").show();
            return false
          }
          $(".js-role_selector").show();
          $(".js-create_family").hide();
          return false
        });
         

        $("body").on("click",".js-back_to_create_family",function(){
          $(".js-alexa-signup-error").html("")
          $(".js-role_selector").hide();
          $(".js-create_family").show();
          
          return false
        });
 

        function show_create_family_form(){
          $(".js-role_selector").hide();
          $(".js-create_family").show();
        }

       
        function randomStr(m) {
          var m = m || 9; s = '', r = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
          for (var i=0; i < m; i++) { s += r.charAt(Math.floor(Math.random()*r.length)); }
          return s;
        };


        // Create Family
        $("body").off("click",".js-role_selector_button");
        $("body").on("click",".js-role_selector_button",function(){
          var data = {"family":{}};
           
          data["role"] = $("input[name='role']:checked").val();
          data["family_name"] = $("#family_name").val();
          session_data = {};
          session_data["token"] =        "<%= session[:alexa_user_token]%>";
          session_data["state"] =        "<%=session[:alexa_state]%>"
          session_data["redirect_uri"] = "<%=session[:alexa_redirect_uri]%>"
          session_data["alexa_platform"] = "<%=session[:alexa_platform]%>"
          create_family_api(data,session_data)
        });
  
     });


    </script>