
  <div class="js-alexa_page">
    <%= render :partial=>"alexa_help_screen"%>
  </div>

  <!-- verify email instruction-->
      <div class="js-email_verify" style="display: none;">
        <%#= render :partial=>"verify_email_screen"%>
      </div>


<script type="text/javascript">
$(document).ready(function(){
        
        //  Goto Birth Date selection
      $("body").on("click",".js-finish_setup_button",function(){
        var session_data = {};
        session_data["user_detail"] = JSON.parse('<%= raw(@user.to_json)%>');
        session_data["alexa_source_reference"] = "<%=session[:alexa_source_reference]%>"
        session_data["user_detail"]["signup_source"] = "<%=session[:alexa_platform]%>";
        add_fb_pixel_event(session_data,"Alexa account linking completed")
        var redirect_url = "<%=session[:alexa_redirect_uri]%>#state=<%=session[:alexa_state]%>&access_token=<%=session[:alexa_user_token] %>&token_type=Bearer";

          window.location.href = redirect_url;
        });

         $("body").on("click",".js-back_to_alexa_info",function(){
          $(".js-email_verify").hide()
          $(".js-alexa_page").show();
          return false
        });
        
        $("body").on("click",".js-resend_email",function(){
          var data = {};
          data["email"] =  "<%=@user.email%>"; 
          var email =  "<%=@user.email%>";  
          resent_email(email,{})
           
          return false
        });

        $("body").off("click",".js-signin_button");
        $("body").on("click",".js-signin_button",function(){
          var data = {};
          $(".js-signin_button").prop("disabled", true);
          $(".hidden").show();

          data["auth_token"] =  "<%=session[:alexa_user_token]%>"; 
          data["state"] =  "<%=session[:alexa_state]%>"; 
          data["redirect_uri"] =  "<%=session[:alexa_redirect_uri]%>"; 
          signup_url = "/alexa/sign_in?state=<%=session[:alexa_state]%>&redirect_uri=<%=session[:alexa_redirect_uri]%>"; 
          var session_data = data;
          alexa_signin_api(data,session_data,signup_url)
           
          return false
        });




});
</script>