<div class="title-area text-center">
      <img src="/assets/alexa_signup/pa-image.png" height="50" width="50">
      <h1><strong>Forgot your password?</strong></h1>
  </div>
  
  <div class="body-area text-center">
  
      <div class="needs-validation was-validated">
        <h2 style="padding-bottom: 20px;">An email with instructions to reset your password will be sent to your registered email address</h2>
          <div class="form-group">
          <input type="email" class="form-control" id="forgot-email" aria-describedby="emailHelp" placeholder="Enter your valid email address" id="forgot-email">
          <div class="js-invalid-forgot-email invalid-feedback">Please provide your email address</div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block js-resend-link">Send instruction</button>
          
      </div>
      
      <p>Don't want to reset?&nbsp;<a href="#" onclick="show_login_form();">Sign in</a></p>
  </div>