<div class="title-area text-center">
      <div class="back-arrow"><a href="#"><i class="js-back_to_create_family fa fa-arrow-left" aria-hidden="true"></i></a></div>
      <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50"></div>
      <h1>I assist you based on your role in the family</h1>
    </div>
    
    <div class="body-area text-center">
      <!-- <form action="#"> -->
        <div class="container role-selector">
        <div class="row invalid-feedback" style="display: block; text-align: center;">Please select your role</div>
           <div class="row">
              <div class="col"></div>
               <div class="col"></div>
               <div class="col">
                  <label>
                      <input type="radio" name="role" value="Mother" checked="checked"/>
                      <span class="mother-avatar"></span>
                      <p>Mother</p>
                  </label>
              </div>
               
               <div class="col">
                  <label>
                      <input type="radio" name="role" value="Father" />
                      <span class="father-avatar"></span>
                      <p>Father</p>
                  </label>
              </div>
               <div class="col"></div>
               <div class="col"></div>
          </div>
          
          <div class="row divider-line">
              <div class="col">
                  <div class="alt-or" style="margin-bottom: 0px;">
                      <span></span>
                  </div>
              </div> 
          </div>
      
          <div class="row">
              <div class="col">
                  <label>
                      <input type="radio" name="role" value="Nanny"/>
                      <span class="nanny-avatar"></span>
                      <p>Nanny</p>
                  </label>
              </div>

              <div class="col">
                  <label>
                      <input type="radio" name="role" value="GrandFather"/>
                      <span class="gf-avatar"></span>
                      <p>Grand Father</p>
                  </label>
              </div>

              <div class="col">
                  <label>
                      <input type="radio" name="role" value="GrandMother" />
                      <span class="gm-avatar"></span>
                      <p>Grand Mother</p>
                  </label>
              </div>

              <div class="col">
                  <label>
                      <input type="radio" name="role"  value="Guardian"/>
                      <span class="guardian-avatar"></span>
                      <p>Guardian</p>
                  </label>
              </div>
          </div>
      
           <div class="row">
              <div class="col">
                  <label>
                      <input type="radio" name="role"  value="Uncle"/>
                      <span class="uncle-avatar"></span>
                      <p>Uncle</p>
                  </label>
              </div>

              <div class="col">
                  <label>
                      <input type="radio" name="role" value="Aunt"/>
                      <span class="aunt-avatar"></span>
                      <p>Aunt</p>
                  </label>
              </div>

              <div class="col">
                  <label>
                      <input type="radio" name="role"  value="Brother"/>
                      <span class="brother-avatar"></span>
                      <p>Brother</p>
                  </label>
              </div>

              <div class="col">
                  <label>
                      <input type="radio" name="role" value="Sister"/>
                      <span class="sister-avatar"></span>
                      <p>Sister</p>
                  </label>
              </div>
          </div>
          <a href="#" class="js-role_selector_button btn btn-primary btn-lg btn-block">Done</a>
          <!-- </form> -->
      </div>
    </div>