    <div class="js-sign_in_form">
      <div class="title-area text-center">
            <img src="/assets/alexa_signup/pa-image.png" height="50" width="50">
            <h1>Sign in to your account</strong></h1>

            <!-- <h1>Sign in to Nurturey to link account with<strong> <%#=get_alexa_platform%></strong></h1> -->
        </div>
        
        <div class="body-area text-center">
        <!-- <form action="#"> -->
          <div class="form-row">
            <div class="form-group">
              <input type="email" class="form-control" id="email_input"  placeholder="Enter your email address" required>
              
              <div class="invalid-feedback js-invalid-email">Please enter valid email address</div>  
            </div>
            <div class="input-group">
              <input type="password" class="form-control pwd" id="password_input" placeholder="Password" required>
              <span class="input-group-btn">
                      <button id="registerButton" class="btn btn-default reveal" type="button">
                      <i id="register" class="fa fa-eye" aria-hidden="true" style="opacity: .3;"></i></button>
                  </span>
              <div class="invalid-feedback js-invalid-password">
                Please provide password (min 8 characters)
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-lg btn-block js-sign_in_button">Sign In</button>
          <div style="padding-bottom: 10px;"><a href="#" onclick="show_password_forgot_form();">Forgot password?</a></div>

            <!-- </form> -->
          
          <% session[:alexa_action_for_fb] = "login" %>
            <button type="button" class="facebook-signup-btn btn btn-lg btn-block" onclick="location.href='/users/auth/facebook?action=signup'" >

          <!-- <a href="/users/auth/facebook?action=signup" class="facebook-signup-btn btn btn-lg btn-block"> -->
            <i class="fa fa-facebook-square fa-lg"></i>
            Sign in with Facebook
          </button>
          <p>
            New to Nurturey? 
            <a href="/alexa/sign_up?<%=alexa_reference_params%>">
              Sign up
            </a>
          </p>
            
               
                          
        </div>
      </div>
    <div class="js-forgot-password" style="display: none;">
      <%= render :partial=> "/alexa/sign_up/forgot_password"%>
    </div>

    <%= render :partial=>"/alexa/sign_up/add_family_child"%>

    <script type="text/javascript">
        $(".reveal").on('click',function() {
    var $pwd = $(".pwd");
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
});
$('#registerButton').on('click', function()
{
  var register = $('#register');

  // register is not visible
  if(register.css('opacity') === '1')
  {
    register.css({
      'opacity': '.3',
    });
  }
  else
  {
    register.css({
      'opacity': '1',

    });
  }
});
    </script>
