<!-- <div class="title-area text-center">
   
  <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50"></div>
  <h1>Awesome! Your sign up process was successfully completed</h1>
</div>

<div class="body-area text-center">
  <p style="padding: 0px;">Before we proceed, please confirm you email ID through the email we have sent</p>
  <label class="text-muted">Don't forget to check your spam folder</label>
  <p><a href="#" class="js-resend_email">Resend Email</a></p>
  <span class="js-signin_button1 btn btn-primary btn-lg btn-block">Sign In</span>  
</div> -->


 <div class="main-body container">
  <div class="title-area text-center">
    <div class="pa-avatar"><img src="/assets/alexa_signup/pa-image.png" height="50" width="50" alt="Nurturey"></div>
      <h1>All done. Just verify your email ID through the email we have sent</h1>
      <h2>Don't forget to check your spam folder</h2>
      <a href="#" class="js-resend_email text-link" >Resend email</a>
      <!-- <form action="#"> -->
        <span class="js-signin_button1 btn btn-primary btn-lg btn-block">I confirmed email</span>
        <!-- <button type="submit" class="btn btn-primary btn-lg btn-block">I confirmed email</button> -->
      <!-- </form> -->
    </div>
  </div>

 
<script type="text/javascript">
$(document).ready(function(){
  $("body").off("click",".js-resend_email");
	$("body").on("click",".js-resend_email",function(){
          var data = {};
          data["email"] =  "<%=@user.email%>"; 
          var email =  "<%=@user.email%>";  
          resent_email(email,{})
          return false
        });

  function signin_from_verificaton(){
      var form_data = {user:{}},session_data={};
      console.log("verify email signin");
      form_data["email"] = "<%=session[:email]%>";
      form_data["password"] = "<%=session[:password]%>";
      form_data["user"]["email"] = "<%=session[:email]%>";
      form_data["user"]["password"] = "<%=session[:password]%>";
      session_data["redirect_uri"] = "<%=session[:alexa_redirect_uri]%>";
      
      session_data["state"] = "<%=session[:alexa_state]%>";
      session_data["user_detail"] =  JSON.parse('<%=raw(User.where(email:session[:email]).last.to_json) %>');

      session_data["alexa_flow_status"] = "<%=session[:alexa_flow_status]%>";
      session_data["alexa_source_reference"] = "<%=session[:alexa_source_reference]%>";
      session_data["alexa_platform"] = "<%=session[:alexa_platform]%>";
      
      session_data["signin_from_verificaton"] = "true"
      $(".hidden").show();
      sign_in_controller(form_data,session_data);
  }
  $("body").off("click",".js-signin_button1");
  $("body").on("click",".js-signin_button1",signin_from_verificaton);
});
</script>