  <%= render :partial=>"/alexa/sign_up/sign_in"%>


     <script type="text/javascript">
     function show_login_form(){
      $(".js-alexa-signup-error").html("");
        $(".js-sign_in_form").show();
        $(".js-forgot-password").hide();
      }

      function show_password_forgot_form(){
        $(".js-sign_in_form").hide();
        $(".js-forgot-password").show();
        $(".js-alexa-signup-error").html("");
      }
      var user_alexa_signup_step = user_alexa_signup_step || 0 
      $(document).ready(function(){
        $("body").off("click",".js-resend-link");
         $("body").on("click",".js-resend-link",function(){
          $(".js-invalid-forgot-email").hide();
          var email_val = $.trim($("#forgot-email").val());
          console.log(email_val);
          var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
          if (email_val == '' || !email_regex.test(email_val)){
            $("#email_input").css('border', 'solid 1px red');
            $(".js-invalid-forgot-email").show();
            return false
          }
          var data = {"user":{}};
          data["user"]["email"] =  email_val; 
          data["alexa_flow_status"] =  true; 
          $.ajax({
            url: "/api/v5/users/password",
            type: "Post",
            data: data,
            dataType: "JSON",
            success: function(response){
              handleErrorRespose(response.message);
              if(response.status == 100){
              }
              else if (response.status == 200){
                show_login_form();
                handleErrorRespose(response.message);
              }
            },             
            error: function(response){
              handleErrorRespose(error_message);
            }  
          });
           
          return false
        });
        
      
        
        // $("body").off("click",".js-sign_in_button");
        // $("body").on("click",".js-sign_in_button",function(){
        //   $("#password_input").css('border', 'none');
        //   $("#email_input").css('border', 'none');
        //   $(".js-invalid-password").hide();
        //   $(".js-invalid-email").hide();
        //   var email_val = $.trim($("#email_input").val());
        //   var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
        //   if (email_val == '' || !email_regex.test(email_val)){
        //     $("#email_input").css('border', 'solid 1px red');
        //     $(".js-invalid-email").show();
        //     return false
        //   }
        //   var pwd_val =  $.trim($("#password_input").val());
        //   if ( pwd_val == '' || pwd_val.length < 8){
        //     $("#password_input").css('border', 'solid 1px red');
        //      $(".js-invalid-password").show();
        //     return false
        //   }
        //   $(".js-alexa-signup-error").html("")
           
        //   return false
        // });

        // Sign in user
        $("body").off("click",".js-sign_in_button");
        $("body").on("click",".js-sign_in_button",function(){

          //  Validate user input
          //  $("#password_input").css('border', 'none');
          // $("#email_input").css('border', 'none');
          $(".js-invalid-password").hide();
          $(".js-invalid-email").hide();
          $(".js-alexa-signup-error").html("")
          var email_val = $.trim($("#email_input").val());
          var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
          if (email_val == '' || !email_regex.test(email_val)){
            $("#email_input").css('border', 'solid 1px red');
            $(".js-invalid-email").show();
            return false
          }
          var pwd_val =  $.trim($("#password_input").val());
          if ( pwd_val == '' || pwd_val.length < 8){
            $("#password_input").css('border', 'solid 1px red');
             $(".js-invalid-password").show();
            return false
           }
         // Sign in user
          var form_data = {},session_data={};
          form_data["email"] = $("#email_input").val();
          form_data["password"] = $("#password_input").val();
          session_data["redirect_uri"] = "<%=session[:alexa_redirect_uri]%>";
          session_data["state"] = "<%=session[:alexa_state]%>";
          session_data["alexa_flow_status"] = "<%=session[:alexa_flow_status]%>";
          session_data["alexa_source_reference"] = "<%=session[:alexa_source_reference]%>";
          session_data["alexa_platform"] = "<%=session[:alexa_platform]%>";

          sign_in_controller(form_data,session_data);
          // signin_api(form_data,session_data);

        });
  
     });


    </script>