/*------------------------------------------------------------------
[Style Layout Sheet For NURTUREY]

*  Basic Common CSS for HTML Tags(like:- html, body, div, span, p, a, h1 and many others)
*  Fonts
1. Body
2. Preloader

3. Home Pages
3.1 Header CSS
3.2 Banner CSS
3.3 Support CSS
3.4 Growth CSS

-------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style-type: none;
}
html {
    width: 100%;
    height: 100%;
}
a, a:hover {
    text-decoration: none;
    outline: none;
}
a{
    color: #d46363;
}
a:hover{
    color: #b34444;
}
img {
    max-width: 100%;
    -webkit-user-drag: none;
}
button:focus {
    outline: none;
}
body {
    font-family: 'Locator', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
    float: left;
    color: #000;
    width: 100%;
    background-color: #fff;
    margin: 0;
    font-size: 18px;
}
@font-face {
    font-family:'Locator';
    src: url('./fonts/r_Light.eot');
    src: url('./fonts/r_Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/r_Light.woff2') format('woff2'),
        url('./fonts/r_Light.woff') format('woff'),
        url('./fonts/r_Light.ttf') format('truetype'),
        url('./fonts/r_Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Locator';
    src: url('./fonts/r_Regular.eot');
    src: url('./fonts/r_Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/r_Regular.woff2') format('woff2'),
        url('./fonts/r_Regular.woff') format('woff'),
        url('./fonts/r_Regular.ttf') format('truetype'),
        url('./fonts/r_Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Locator';
    src: url('./fonts/r_Medium.eot');
    src: url('./fonts/r_Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/r_Medium.woff2') format('woff2'),
        url('./fonts/r_Medium.woff') format('woff'),
        url('./fonts/r_Medium.ttf') format('truetype'),
        url('./fonts/r_Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Locator';
    src: url('./fonts/r_Bold.eot');
    src: url('./fonts/r_Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/r_Bold.woff2') format('woff2'),
        url('./fonts/r_Bold.woff') format('woff'),
        url('./fonts/r_Bold.ttf') format('truetype'),
        url('./fonts/r_Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Locator';
    src: url('./fonts/r_Black.eot');
    src: url('./fonts/r_Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/r_Black.woff2') format('woff2'),
        url('./fonts/r_Black.woff') format('woff'),
        url('./fonts/r_Black.ttf') format('truetype'),
        url('./fonts/r_Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Almarai-Bold';
    src: url('./fonts/Almarai-Bold.eot');
    src: url('./fonts/Almarai-Bold.woff') format('woff'), url('./fonts/Almarai-Bold.ttf') format('truetype'), url('./fonts/Almarai-Bold.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GoodDogPlain';
    src: url('./fonts/GoodDogPlain.eot');
    src: url('./fonts/GoodDogPlain.woff') format('woff'), url('./fonts/GoodDogPlain.ttf') format('truetype'), url('./fonts/GoodDogPlain.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
/**-------------------------
2. PreLoader CSS Starts
-------------------------**/



/**-------------------------
PreLoader CSS Ends
-------------------------**/

/* ------------------- 
3. HOME PAGE STARTS 
------------------- */

/* --------------------------
3.1 Header Css Starts Here
----------------------------- */

.navbar-collapse {
    background-color: rgba(250,250,250,0.99);
    padding: 10px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 10px;
}
.navbar-collapse ul {
    text-align: center;
}
.navbar-light .navbar-nav .nav-link {
    padding-top: 20px !important;
    border-bottom: 1px rgba(0,0,0,0.05) solid;
    font-size: 26px;
    width: 100%;
    font-family: 'Locator';
    font-weight: 300;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.start-header {
    opacity: 1;
    transform: translateY(0);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 0 0 5px 0;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
    background-color: #fff !important;
    position: fixed;
}
.start-header.scroll-on .header-wrap {
    padding: 5px 0;
}
.header-wrap {
    padding: 30px 0;
}
.start-header.scroll-on .navbar-brand img {
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navigation-wrap {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar {
    padding: 0;
}
.logo-scroll {
    width: 26px !important;
}
.download-icon {
    padding: 2px;
    display: inline-block;
    border: 1px solid #d0d0d0;
    margin: 25px 10px 10px 10px;
    border-radius: 6px;
    min-width: 170px;
}
.img-app-wrapper .app-wrapper{
    display: none;
}
.banner-content .app-wrapper .download-icon{
    margin: 25px 20px 10px 0px;
}
.download-fa-icon {
    width: fit-content;
    display: inline-block;
    font-size: 36px;
}
.lg-text {
    display: block;
    text-align: left;
    font-weight: 700;
    font-family: 'Locator';
    font-size: 18px;
}
.small-text {
    font-size: 13px;
    margin: 0 4px;
    display: inline-block;
    width: fit-content;
    line-height: 18px;
    font-family: 'Locator';
    font-weight: 500;
    text-align: left;
    position: relative;
    top: 3px;
}
#footer .download-icon {
    border: 1px solid #5a5e62;
    width: 90%;
    text-align: center;
}
.nav-app-links {
    font-size: 22px;
    width: 100%;
    font-family: 'Locator';
    margin: 10px;
    color: #474747 !important;
    font-weight: 300;
    transition: all 200ms linear;
}
.nav-app-links:hover {
    color: #000 !important;
}
.start-header.scroll-on .navbar-toggler {
    margin-top: 0px;
}
.navbar-brand img {
    width: 100%;
    max-width: 120px;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    margin-top: -6px;
}
.navbar-toggler:active, .navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 26px;
    height: 19px;
    background-image: none;
    position: relative;
    border-bottom: 3px solid #696969;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, .navbar-light .navbar-toggler-icon:before {
    width: 26px;
    position: absolute;
    height: 3px;
    background-color: #696969;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
    border-bottom:none!important;
}
.nav-link {
    color: #00000080 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link {
    color: #000000e6 !important;
}
.nav-item.active .nav-link {
    color: #000000e6 !important;
}
.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-item {
    position: relative;
    transition: all 200ms linear;
}
.bg-light {
    background-color: #fff !important;
    transition: all 200ms linear;
}
/* --------------------------
Header Css Ends Here
----------------------------- */

/* --------------------------
3.2 Banner Css Starts Here
----------------------------- */

.banner-area {
    padding: 50px 0 140px 0;
    box-shadow: 20px 0px 20px -3px #e2e2e2;
}
.banner-content {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
.banner-content h2 {
    font-size: 34px;
    line-height: 44px;
}
.banner-content h3 {
    color: #000000;
    font-size: 50px;
    line-height: 56px;
    padding: 40px 0;
}
.banner-content h3 strong {
    font-family: 'Locator';
    font-weight: 700;
    color: #DF606A;
}
.banner-content p {
    font-size: 26px;
    color: #7c8293;
    padding: 2px 0px;
    width: 100%;
    line-height: 30px;
}
.banner-content p.quote_line {
    padding-top: 20px;
}
.app-wrapper {
    margin: 30px 0;
}
.app-wrapper .store-wrap {
    display: inline-block;
    max-width: 40%;
    margin: 10px 10px;
    width: 100%;
}
/* --------------------------
Banner Css Ends Here
----------------------------- */


/* --------------------------
3.3 Support Css Starts Here
----------------------------- */

.supported-wrapper {
    padding: 30px 0;
    box-shadow: 20px 0px 20px -3px #e2e2e2;
}
.support-content {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    max-width: 50%;
}
.support-content span {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    line-height: 22px;
    color: #484848;
    text-align: left;
}
.support-right {
    text-align: right !important;
}
.support-right-content {
    float: right;
    text-align: right;
}
.support-left-content {
    float: left;
}
.support-content img {
    vertical-align: baseline;
}
/* --------------------------
Support Css Ends Here
----------------------------- */


/* --------------------------
3.4 Growth Css Starts Here
----------------------------- */

.growth-wrapper {
    padding: 120px 0;
    text-align: center;
}
.growth-content h2 {
    font-size: 42px;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    line-height: 48px;
}
.growth-content h2 span {
    color: #2bcb79;
    font-family: 'Locator';
    font-weight: 900;
}
.growth-detail {
    padding: 100px 0 70px 0;
}
.empower-btn.growth-video-btn {
    margin: 60px 0 0 0;
}
.health-wrap h3 {
    font-family: 'Locator';
    font-size: 20px;
    padding: 32px 0;
    font-weight: 500;
    min-height: 116px;
    display: grid;
    align-items: end;
}
.health-wrap p {
    font-size: 17px;
    color: #7f8290;
    line-height: 25px;
    font-family: 'Locator';
    font-weight: 400;
}
.family-wrapper, .experience-wrapper, .privacy-wrapper, .empower-wrapper, .potential-wrapper {
    padding: 100px 0;
}
.family-content h3, .experience-content h3, .privacy-content h3, .empower-content h3, .potential-content h2 {
    font-size: 38px;
    line-height: 48px;
}
.empower-content h3 strong {
    color: #d46363;
    font-family: 'Locator';
    font-weight: 900;
}
.potential-content h2 strong {
    font-family: 'Locator';
    font-weight: 900;
    color: #54b044;
}
.family-content h3 strong {
    font-family: 'Locator';
    font-weight: 900;
    color: #ec9130;
    display: block;
}
.experience-content h3 strong {
    color: #ed71da;
    font-family: 'Locator';
    font-weight: 900;
}
.privacy-content h3 strong {
    font-family: 'Locator';
    font-weight: 900;
    color: #4284f4;
}
.family-content p, .experience-content p, .privacy-content p, .empower-content p, .potential-content p {
    font-size: 24px;
    color: #7f8290;
    line-height: 32px;
    padding: 40px 0;
}
.empower-content p {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}
.experience-image-wrap {
    text-align: left;
}
.privacy-content img {
    margin-bottom: 30px;
}
.empower-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
}
.empower-btn a {
    color: #d46363;
    font-size: 18px;
    border: 1px solid #d46363;
    border-radius: 36px;
    padding: 14px 40px;
    transition: 0.48s;
}
.empower-btn a:hover {
    color: #fff;
    background-color: #d46363;
}
.potential-content h6 {
    font-size: 2.6rem;
    color: #e4ba47;
    font-family: 'GoodDogPlain';
    letter-spacing: 1px;
    padding: 10px 15px;
    width: 100%;
}
.ques-mark {
    color: #449a4d;
    padding-left: 5px;
}
.potential-area .carousel-inner {
    max-width: 90%;
    width: 100%;
}
#carouselFade .carousel-indicators {
    bottom: -40px;
}
#carouselFade .carousel-indicators li {
    background: #484848;
    height: 12px;
    width: 12px;
    border-radius: 10px;
    margin-left: 6px;
    border-top: 0px;
    border-bottom: 0px;
    opacity: 1;
}
#carouselFade .carousel-indicators li.active {
    background: #ffba48;
}
#carouselFade .carousel-inner h2 {
    font-size: 18px;
    font-family: 'Locator';
    font-weight: 400;
    color: #5e5e5e;
}
.empower-btn.slider_btn {
    display: none;
}
#videoModal .modal-dialog {
    max-width: 550px;
    margin: 200px auto;
}
#videoModal .close {
    font-size: 30px;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    transition: 0.48s;
    position: absolute;
    right: -20px;
    top: -18px;
    background: #d46363;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}
#videoModal .close:hover {
    color: #d46363;
    background-color: #fff;
}
#videoModal .modal-body {
    padding: 14px 22px;
}
#videoModal .modal-content {
    border-radius: 0px;
}
#videoModal {
    padding: 0 !important;
}
#seevideoModal .modal-dialog {
    max-width: 550px;
    margin: 200px auto;
}
#seevideoModal .close {
    font-size: 30px;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    transition: 0.48s;
    position: absolute;
    right: -20px;
    top: -18px;
    background: #d46363;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}
#seevideoModal .close:hover {
    color: #d46363;
    background-color: #fff;
}
#seevideoModal .modal-body {
    padding: 14px 22px;
}
#seevideoModal .modal-content {
    border-radius: 0px;
}
#seevideoModal {
    padding: 0 !important;
}
/* --------------------------
Growth Css Ends Here
----------------------------- */

/* --------------------------
Footer Css Ends Here
----------------------------- */

#footer {
    width: 100%;
    background-color: #121212;
    color: #5a5e62;
    padding: 40px 0 30px 0;
}
.border-footer {
    border-right: 1px solid #1f1f1f;
}
.footer-text p {
    font-size: 16px;
}
.footer-btn img {
    margin: 10px 0 0 0;
}
.border-footer {
    border-right: 1px solid #1f1f1f;
}
.links-content h5 {
    color: #fff;
    font-size: 18px;
    padding: 4px 0;
    font-family: 'Locator';
    font-weight: 500;
}
.links-content a {
    color: #5a5e62;
    font-size: 16px;
    transition: 0.48s;
}
.links-content a:hover {
    color: #fff;
}
.copyright-text p {
    font-size: 16px;
    padding: 20px 0 0 0;
    border-top: 1px solid #1f1f1f;
    margin: 10px 0 0 0;
}
#footer .nav-app-links {
    color: #5a5e62 !important;
}
#footer .nav-app-links:hover {
    color: #ffffff !important;
}
.banner-content .download-icon {
    background: #fff;
}
#footer .download-icon {
    border: 1px solid #5a5e62;
}
/* --------------------------
Footer Css Ends Here
----------------------------- */

/* --------------------------
Cookie Css Starts Here
----------------------------- */

.cookie-msg {
    font-size: 16px;
    color: gray;
    background: black;
    text-align: center;
    font-family: sans-serif;
    color: #747572 !important;
    font-size: 14px;
}
.cookie-msg p {
    display: inline-block;
    max-width: 1200px;
    padding: 15px;
}
.cookie-msg a {
    text-decoration: none;
    color: #cdcdcd;
}
.close-cookie-banner {
    background: #f0c073;
    padding: 5px 8px;
    border-radius: 4px;
    color: #3d2a0b !important;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}
/* --------------------------
Cookie Css Ends Here
----------------------------- */

/* ------------------- 
HOME PAGE ENDS
------------------- */

.start-header.scroll-on {
    -webkit-animation: slide-down 0.90s;
    -moz-animation: slide-down 0.90s;
    animation: slide-down 0.90s;
}
@-webkit-keyframes slide-down {
0% {
opacity:0;
transform:translateY(-100%);
}
100% {
opacity:0.9;
transform:translateY(0);
}
}
@-moz-keyframes slide-down {
0% {
opacity:0;
transform:translateY(-100%);
}
100% {
opacity:0.9;
transform:translateY(0);
}
}
@keyframes slide-down {
0% {
opacity:0;
transform:translateY(-100%);
}
100% {
opacity:0.9;
transform:translateY(0);
}
}

/*FAQ CSS 22 OCT 2020*/

/*1) FAQ*/
.nur-faq-wrapper {
    padding: 30px 0 100px 0;
}
.nur-faq-heading{
    text-align: center;
}
.nur-faq-heading h2 {
    font-family: 'Locator';
    font-size: 42px;
    line-height: 44px;
    font-weight: 400;
}
.nur-box-heading h2 {
    font-size: 40px;
    font-family: 'Locator';
    padding-bottom: 30px;
    font-weight: 400;
}
.nur-box {
    -webkit-box-shadow: 0px 0px 16px 0px rgba(205, 205, 205, 0.41);
    -moz-box-shadow: 0px 0px 16px 0px rgba(205, 205, 205, 0.41);
    box-shadow: 0px 0px 16px 0px rgba(205, 205, 205, 0.41);
    padding: 20px 30px;
    margin: 20px 30px;
    border-radius: 24px;
    display: inline-block;
    width: 96%;
}
.nur-all-boxes {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 48%;
    -moz-column-width: 48%;
    column-width: 48%;
    padding: 34px 0;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}
.nur-box-image {
    padding: 10px 0;
}
.card {
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
}
.small-blue-text {
    color: #005EB8;
}
.small-red-text {
    color: #F23A51;
}
.green-txt{
    color: #2bcb79;
}
.pink-txt{
    color: #ed71da;
}
.purple-txt{
    color: #d75ce2;
}
.peach-txt{
    color: #F23A51;
}
.black-txt{
    color: #000;
}
.btn-link {
    font-weight: 500;
    color: #000;
    text-decoration: none;
    text-align: left;
    font-family: 'Locator';
    padding: 0;
    font-size: 20px;
    padding: 4px 0;
    width: 100%;
    cursor: pointer;
}
.btn-link:hover{
    color: #000;
    text-decoration: none;
}
.nur-box-wrap .card-header {
    background-color: transparent;
    padding: .75rem 0;
    border-bottom: none;
}
.nur-box-wrap .card-body p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Locator';
    font-weight: 400;
    color: #7f8290;
}
.nur-box-wrap .card-body {
    padding: 10px 0 40px 0;
}
.mobile-show {
    display: none;
}


/*2) Appointments Page CSS */

.nur-appt-wrapper {
 padding: 30px 0 0px 0;
}
#appt-page .appt-subheading{
 font-size: 20px;
 margin-top: 20px;
 font-family: 'Locator';
 font-weight: 400;
 color: #7f8290;
}
#appt-page .appt-ques-wrapper {
    padding: 60px 0 40px 0;
}
#appt-page .appt-ques-wrap {
    margin: 40px 0;
    border-bottom: 1px solid #dadada;
    padding-bottom: 30px;
}
#appt-page .appt-txt h2 {
    font-size: 32px;
    font-family: 'Locator';
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 10px;
}
#appt-page .appt-txt p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Locator';
    font-weight: 400;
    color: #7f8290;
    padding: 14px 0;
    max-width: 96%;
    width: 100%;
}
#appt-page .appt-main-image {
    padding: 20px 0 0 0;
}
#appt-page .appt-btn a {
    background-color: #f7aa34;
    color: #000;
    transition: 0.48s;
    font-size: 22px;
    font-family: 'Locator';
    font-weight: 500;
    padding: 18px 36px;
    display: inline-block;
    border-radius: 8px;
    margin: 14px 0;
    border: 2px solid #f7aa34;
}
#appt-page .appt-btn a:hover{
   background-color: #fff;
   color: #f7aa34; 
}
#appt-page .no-border-appt{
   border-bottom: none;
}

/*3 NHS Guidance Page CSS*/

#nhs-guidance .appt-ques-wrapper {
    padding: 60px 0 40px 0;
}
#nhs-guidance .appt-ques-wrap {
    margin: 40px 0;
    border-bottom: 1px solid #dadada;
    padding-bottom: 30px;
}
#nhs-guidance .no-border-appt {
    border-bottom: none;
}   
#nhs-guidance .appt-txt h2 {
    font-size: 32px;
    font-family: 'Locator';
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 10px;
}
#nhs-guidance .appt-txt p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Locator';
    font-weight: 400;
    color: #7f8290;
    padding: 14px 0;
    max-width: 96%;
    width: 100%;
}
#nhs-guidance .appt-txt p a{
    color: #7f8290;
    transition: 0.48s;
}
#nhs-guidance .appt-txt p a:hover{
    color: #d46363;
}
#nhs-guidance span.heading-icon {
    padding-right: 20px;
}
#nhs-guidance .p-width-100 p{
    width: 100%;
    max-width: 100%;
}
#nhs-guidance .appt-txt p a{
    word-break: break-all;
}
#nhs-guidance .nhs-main-image {
    padding: 10px 0 0 0;
}

/*4 NHS LINKING CSS Page*/

#nhs-linking .linking-subheading {
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Locator';
    font-weight: 400;
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
    color: #7f8290;
}
#nhs-linking .txt-bold{
    color: #000;
}
#nhs-linking .linking-ques-wrapper {
    padding: 30px 0 60px 0;
}
#nhs-linking .linking-ques-wrap {
    margin: 10px 0 10px 0;
    padding-bottom: 0;
}
#nhs-linking .appt-txt h2 {
    font-size: 32px;
    font-family: 'Locator';
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 10px;
}
#nhs-linking .nhs-txt-left{
    margin-left: 50px;
}
#nhs-linking .appt-txt p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Locator';
    font-weight: 400;
    color: #7f8290;
    padding: 14px 0;
    max-width: 96%;
    width: 100%;
}
#nhs-linking .appt-txt p a{
    color: #7f8290;
    transition: 0.48s;
}
#nhs-linking .appt-txt p a:hover{
    color: #d46363;
}
#nhs-linking span.heading-icon {
    padding-right: 20px;
}
#nhs-linking .p-width-100 p{
    width: 100%;
    max-width: 100%;
}
#nhs-linking .appt-txt p a{
    word-break: break-all;
}
#nhs-linking .nhs-main-image {
    padding: 10px 0 0 0;
}

/*5 Prescription Page CSS*/

#presc-page .linking-subheading {
  font-size: 20px;
  padding-top: 20px;
  font-family: 'Locator';
  font-weight: 400;
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}
#presc-page .presc-subheading{
  max-width: 100%;
}
#presc-page .txt-bold{
    color: #000;
}
#presc-page .linking-ques-wrapper {
    padding: 30px 0 60px 0;
}
#presc-page .measure-ques-wrap {
    margin: 10px 0 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
    padding-top: 20px;
}
#presc-page .measure-ques-wrap.no-border-appt {
    border-bottom: none;
}
#presc-page .appt-txt h2 {
    font-size: 32px;
    font-family: 'Locator';
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 10px;
}
#presc-page .nhs-txt-left{
    margin-left: 50px;
}
#presc-page .appt-txt p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Locator';
    font-weight: 400;
    color: #7f8290;
    padding: 14px 0;
    max-width: 96%;
    width: 100%;
}
#presc-page .appt-txt p a{
    color: #7f8290;
    transition: 0.48s;
}
#presc-page .appt-txt p a:hover{
    color: #d46363;
}
#presc-page span.heading-icon {
    padding-right: 20px;
}
#presc-page .p-width-100 p{
    width: 100%;
    max-width: 100%;
}
#presc-page .appt-txt p a{
    word-break: break-all;
}
#presc-page .nhs-main-image {
    padding: 10px 0 0 0;
}
#presc-page .measure-main-image{
  text-align: center;
}


/*5 Measurement Page CSS*/

#measurement-page .nur-faq-heading{
   text-align: center;
}
#measurement-page .linking-subheading {
  font-size: 20px;
  padding-top: 20px;
  font-family: 'Locator';
  font-weight: 400;
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}
#measurement-page .measurement-subheading{
  max-width: 68%;
}
#measurement-page .txt-bold{
    color: #000;
}
#measurement-page .linking-ques-wrapper {
    padding: 30px 0 60px 0;
}
#measurement-page .measure-ques-wrap {
    margin: 10px 0 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
    padding-top: 20px;
}
#measurement-page .measure-ques-wrap.no-border-appt {
    border-bottom: none;
}
#measurement-page .appt-txt h2 {
    font-size: 32px;
    font-family: 'Locator';
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 10px;
}
#measurement-page .nhs-txt-left{
    margin-left: 50px;
}
#measurement-page .appt-txt p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Locator';
    font-weight: 400;
    color: #7f8290;
    padding: 14px 0;
    max-width: 96%;
    width: 100%;
}
#measurement-page .appt-txt p a{
    color: #7f8290;
    transition: 0.48s;
}
#measurement-page .appt-txt p a:hover{
    color: #d46363;
}
#measurement-page span.heading-icon {
    padding-right: 20px;
}
#measurement-page .p-width-100 p{
    width: 100%;
    max-width: 100%;
}
#measurement-page .appt-txt p a{
    word-break: break-all;
}
#measurement-page .nhs-main-image {
    padding: 10px 0 0 0;
}
#measurement-page .measure-main-image{
  text-align: center;
}

/*6 Immunisation Page CSS*/

#immunisation-page .nur-faq-heading h1 {
    font-family: 'Locator';
    font-weight: 400;
    font-size: 42px;
    line-height: 44px;
}
#immunisation-page .linking-subheading {
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Locator';
    font-weight: 400;
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
}
#immunisation-page .txt-bold{
    color: #000;
}
#immunisation-page .linking-ques-wrapper {
    padding: 30px 0 60px 0;
}
#immunisation-page .linking-ques-wrap {
    margin: 10px 0 10px 0;
    padding-bottom: 0;
}
#immunisation-page .appt-txt h3 {
    font-size: 24px;
    font-family: 'Locator';
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 10px;
}
#immunisation-page .nhs-txt-left{
    margin-left: 50px;
}
#immunisation-page .appt-txt p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Locator';
    font-weight: 400;
    color: #7f8290;
    padding: 14px 0;
    max-width: 96%;
    width: 100%;
}
#immunisation-page .appt-txt p a{
    transition: 0.48s;
}
#immunisation-page span.heading-icon {
    padding-right: 20px;
}
#immunisation-page .p-width-100 p{
    width: 100%;
    max-width: 100%;
}
#immunisation-page .appt-txt p a{
    word-break: break-all;
}
#immunisation-page .nhs-main-image {
    padding: 10px 0 0 0;
}
.immunisation-icon{
    padding: 0 20px;
}
.immunisation-wrap .appt-txt h2 {
    font-size: 32px;
    font-family: 'Locator';
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 10px
}
.immunisation-wrap .appt-txt h3 {

}
.immunisations-main {
    padding: 30px 0;
}
.learn-more-about{
    background-color: #f7aa34;
    color: rgba(0,0,0,1);
    font-weight: 400;
    border: 2px solid #f7aa34;
    padding: 14px 14px;
    border-radius: 2px;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Locator';
    transition: 0.48s;
}
.learn-more-about:hover{
    background-color: #fff;
    color: #f7aa34;
}
/*.immunisation-wrap .appt-txt a{
    color: #000;
}*/
.immunisation-wrap .appt-txt .heading-icon .img-fluid {
    margin-bottom: 3px;
}
.immunisations-main .appt-txt .heading-icon .img-fluid {
    margin-bottom: 3px;
}
.flu-list-wrap {
    width: 93%;
    margin: 0 auto;
}
.flu-list-wrap ul li{
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Locator';
    font-weight: 400;
    color: #7f8290;
    padding: 6px 0;
    max-width: 96%;
    width: 100%;
}
span.book-appointment-line {
    border-bottom: #7f8290 solid 1px;
}
.immunisation-wrap .appt-txt p {
    margin-bottom: 12px;
}
.bread-crum-wrapper{
    margin: 40px 0;
    border-bottom: 1px solid #dadada;
    border-top: #dadada solid 1px;
}
.bread-crum-wrapper .fa{
    color: #aeb7bd;
    font-size: 12px;
    padding: 0 12px;
}
.bread-crum-wrapper ul.breadcrumb li{
    color: #7f8290;
    text-transform: capitalize;
}
.bread-crum-wrapper ul.breadcrumb   {
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    margin-bottom: 0;
}
.bread-crum-wrapper .breadcrumb li a{
    line-height: 1.5;
    font-weight: 600;
}
.immunisation-wrap span.heading-icon, .flu-list-wrap span.heading-icon, .immunisations-main span.heading-icon {
    padding-right: 18px;
    color: #f3586a;
    font-size: 18px;
}
.bread-crum-wrapper ul.breadcrumb li:hover {
    /*color: #d46363;*/
}
.immunisation-spray-wrap{
    margin: 40px 0 0;
    border-top: 1px solid #dadada;
    padding-top: 30px !important;
}
/*7 API Pages CSS*/
.content-wrapper {
    padding: 40px 0;
}
.content-wrapper h1{
    font-family: 'Locator';
    font-weight: 400;
    font-size: 42px;
    line-height: 44px;
    text-align: left;
    margin-bottom: 20px;
}
.content-indicators p {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Locator';
    font-weight: 400;
    color: #7f8290;
    padding: 6px 0;
}
.content-indicators ul li a {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Locator';
    font-weight: 400;
    padding: 14px 0;
    max-width: 100%;
    width: 100%;
    text-transform: capitalize;
}
.content-indicators ul li {
    list-style-type: disc;
    margin-left: 20px;
    padding: 4px 0;
    color: #7f8290;
}
.content-indicators ul{
    margin: 14px 0;
}
.content-wrapper h2 {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #dadada;
    font-size: 32px;
    font-family: 'Locator';
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 10px;
}
.nhs-vacc-when-to-have .content-indicators p b{
    margin-bottom: 20px;
    display: block;
}
.nhs-vacc-when-to-have table {
    border: 1px solid #d8dde0;
    background-color: #f0f4f5;
    width: 100%;
    margin: 0 0 40px 0;
}
.nhs-vacc-when-to-have table th, .nhs-vacc-when-to-have table td {
    padding: 10px 20px;
    border-bottom: 1px solid #d8dde0;
    width: 50%;
}
.nhs-vacc-when-to-have table th {
    font-family: 'Locator';
    font-weight: 500;
}
.nhs-vacc-when-to-have .content-indicators h3 {
    margin-bottom: 16px;
}

/* CSS For HOME PAGE ONLY 12 NOV 2020 */
.home-pg-main h3 .blue-txt{
    color: #2c93da;
}
.home-pg-main .banner-area {
    padding: 40px 0 70px 0;
}
.home-pg-main .banner-area {
    background-color: #d46363 !important;
}
.home-pg-main .start-header.scroll-on{
    background-color: #fff !important;
}
.home-pg-main .bg-light {
    background-color: #d46363 !important;
}
.home-pg-main .navbar-light .navbar-toggler-icon:after, .home-pg-main .navbar-light .navbar-toggler-icon:before{
    background-color: #fff;
}
.home-pg-main .start-header.scroll-on .navbar-light .navbar-toggler-icon:after, .home-pg-main .start-header.scroll-on .navbar-light .navbar-toggler-icon:before{
    background-color: #696969;
}
.home-pg-main .navbar-light .navbar-toggler-icon {
    border-bottom: 3px solid #fff;
}
.home-pg-main .start-header.scroll-on .navbar-light .navbar-toggler-icon {
    border-bottom: 3px solid #696969;
}
.home-pg-main .site-color, .home-pg-main .empower-content h3 .site-color strong, .home-pg-main .potential-content h2 .site-color strong, .home-pg-main .family-content h3 .site-color strong, .home-pg-main .experience-content h3 .site-color strong, .privacy-content h3 .site-color strong{
    color: #d46363 !important;
}
.home-pg-main .family-wrapper, .home-pg-main .experience-wrapper, .home-pg-main .privacy-wrapper, .home-pg-main .empower-wrapper, .home-pg-main .potential-wrapper {
    padding: 70px 0;
}
.home-pg-main .growth-content h2 {
    max-width: 60%;
}
.home-pg-main .banner-icons-wrap {
    padding: 25px 0 0 0;
}
.home-pg-main .banner-content .app-wrapper, .home-pg-main .img-app-wrapper .app-wrapper {
    margin: 18px auto;
}
.home-pg-main .health-wrap h3 {
    min-height: auto;
    display: block;
}
.home-pg-main .experience-content {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.home-pg-main .empower-btn a {
    color: #d46363;
    border: 1px solid #d46363;
}
.home-pg-main .empower-btn a:hover {
    color: #fff;
    background-color: #d46363;
}
.home-pg-main #carouselFade .carousel-indicators li.active{
    background: #d46363;
}
.home-pg-main #carouselFade .carousel-indicators li{
    background: #d6dae4;
}
.home-pg-main .banner-content h3, .home-pg-main .banner-content p {
    color: #fff;
}
.home-pg-main .banner-content p {
    font-size: 22px;
}
.home-pg-main .banner-content h3{
    font-size: 46px;
    padding: 20px 0 10px 0;
}
.home-pg-main .banner-content .download-icon, .home-pg-main .img-app-wrapper .download-icon {
    background: #d46363;
    box-shadow: 0 3px 2px 0 rgba(201, 93, 93, 1);
    border: 1px solid #bf5656;
}
.banner-content .download-icon:hover, .img-app-wrapper .download-icon:hover {
    box-shadow: 0 0 0 0 rgba(201, 93, 93, 1);
}
.home-pg-main .banner-content .download-icon .nav-app-links, .home-pg-main .img-app-wrapper .download-icon .nav-app-links{
    color: #ffffff !important;
}
.home-pg-main .banner-content .download-icon .nav-app-links:hover, .home-pg-main .img-app-wrapper .download-icon .nav-app-links:hover {
    color: #fff !important;
}
.home-pg-main .banner-content {
    text-align: left;
}
.home-pg-main .nhs-banner-txt .blue-txt{
    color: #2c93da;
}
.home-pg-main .nhs-banner-txt {
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}
.home-pg-main .nhs-banner-txt h2{
    font-size: 25px;
    letter-spacing: -1px;
}
@media (max-width: 480px){
.home-pg-main .nhs-banner-txt h2 {
    font-size: 18px;
}
.home-pg-main .nhs-banner-txt {
    padding: 4px 10px;
}
.home-pg-main .banner-content h3 {
    font-size: 32px;
    padding: 20px 0 10px 0;
    line-height: 42px;
}
.home-pg-main .banner-content p {
    font-size: 18px;
}
.home-pg-main .banner-content .app-wrapper, .home-pg-main .banner-content .img-app-wrapper .app-wrapper {
    text-align: center;
    display: none;
}
.img-app-wrapper .app-wrapper{
    display: block;
    max-width: 80%;
}
.home-pg-main .banner-content .app-wrapper .download-icon,
.home-pg-main .banner-content .img-app-wrapper .app-wrapper .download-icon {
    margin: 10px 10px 10px 10px;
}
.home-pg-main .main-banner-wrap {
    max-width: 90%;
    width: 100%;
    margin: 20px auto 0 auto;
}
.home-pg-main .growth-content h2 {
    max-width: 90%;
}
.home-pg-main .banner-content {
    text-align: center;
}
.home-pg-main .footer-logo-img{
    max-width: 170px;
}
}
/* CSS For HOME PAGE ONLY 12 NOV 2020 */
.common_terms h1 {
    font-size: 50px;
    padding: 50px 0 20px;
}
.common_terms h2 {
    font-size: 30px;
    padding: 50px 0 20px;
}
.common_terms h3 {
    font-size: 20px;
    padding: 50px 0 20px;
}
.app-buttons{
    padding-top: 50px;
    padding-bottom: 250px;
}
.app-buttons a img{
    padding: 0px 5px;
    height: 60px;
}