<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <br/>
 <br/>
<%= @answer.errors.full_messages.first if @answer.errors.any? %>
<% @is_new_record = @answer.new_record? %>
<% @url = @answer.new_record? ? "/admin/faq/create_answer" : "/admin/faq/update_answer"%>
<%= form_for @answer,url: @url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @is_new_record ? "Add" : "Update" %> answer</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
        <label class="form-label">Title<%= " (Use ';' with sentance to create multiple answer)" if  @is_new_record  %></label>
         <%= f.text_area :title, class: "js-name textBx-type2"  %>
    </div> 

    <%= f.hidden_field :question_id, :value=>@question.id %>
    <%= hidden_field_tag :system_faq_answer_id, @answer.id %>
     
    <div class="form-type3"><div class="form-action-row">
       <%= f.submit (@answer.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
  
    </div></div>
  </div>
</div>
<% end %>
  
 <%= link_to "Cancel", "/admin/faq/show_question?question_id=#{@question.id}", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
 