  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#answer').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 0, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    $('.js-delete').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      class_name = $(this).data("class_name");
      $.ajax({
        url: "delete_topic",
        data: {id:id,class_name:class_name},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> Answer List </h2>
<br/>
<%= link_to "Add New Answer", "/admin/faq/new_answer?question_id=#{@question.id}" %>  (Append new answer if any answer already exist )
<br/>
<br/>
<table id="answer" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                                  </th>
            <th>Title                             </th>
            <!-- <th>Category                          </th> -->
            <th>Action                            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Title                             </th>
            <!-- <th>Category                          </th> -->
            <th>Action                            </th>
          </tr>
        </tfoot>
        <tbody>
          <%if @answer.present? %>
            <% answer = @answer  %>
            <tr id="dataRow1">
              <td></td>
              <td > <%= answer.title %></td>
              <td> <%=link_to "","/admin/faq/edit_answer?system_faq_answer_id=#{answer.id}",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/faq/delete_record?id=#{answer.id}&class_name=#{answer.class.to_s}&header_link=false",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{answer.id}" %>
              </td>
            </tr>
          <% end %>                  
      </tbody>
    </table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
