  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#question').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    $('.js-delete').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      class_name = $(this).data("class_name");
      $.ajax({
        url: "delete_topic",
        data: {id:id,class_name:class_name},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
<br/>
<br/>
<br/>
<% if header_link == true %>
<b>Topic: </b> <%=link_to @topic.title,"/admin/faq/show_topic?topic_id=#{@topic.id}" %>  
<br/>
<br/>
<b>SubTopic: </b> <%=link_to @subtopic.title, "/admin/faq/show_subtopic?subtopic_id=#{@subtopic.id}" %>  
<br/>
<br/>
<% end %>
<h2> Question List </h2>
<br/>
<%= link_to "Add New Question", "/admin/faq/new_question?sub_topic_id=#{@subtopic.id}" %>
<br/>
<br/>
<table id="question" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                                  </th>
            
            <!-- <th>Custom ID                        </th> -->
            <th>Sort Order                        </th>
            <th>Title                             </th>
            <th>Scenario                          </th>
            <th>Notification Expiry               </th>
            <th>Status                            </th>
            <th>Action                            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <!-- <th>Custom ID                        </th> -->
            <th>Sort Order                        </th>
            <th>Title                             </th>
            <th>Scenario                          </th>
            <th>Notification Expiry               </th>
            <th>Status                            </th>
            <th>Action                            </th>
          </tr>
        </tfoot>
        <tbody>
          
     <% @questions.each do |question|  %>
        <tr id="dataRow1">
            <td></td>
            <!--  <td > <%#= question.custom_id %></td> -->
            <td > <%= question.sort_order %></td>
            <td > <%= question.title %></td>
            <% scenario_detail = question.scenario_detail   %>
            <td> 
            <% if scenario_detail.present?%>
              <%=link_to scenario_detail["title"],"#html",:class=>"",:data => {:pop => "/admin/scenario_details/#{scenario_detail.id}?source_controller=system_faq_question" , :width => "810"} %> 
            <% end %>
              </td>
            <td > <%= question.notification_expiry %></td>

            <td> <%= question.status %></td>
            <td><%#=link_to "Add Details","#html",:data=>{:pop => "/admin/scenario_details/new_scenario?linked_tool_custome_id=#{question.custome_id}&tool_type=System::Faq&tool_subtype=System::Faq::Question",:height=>"500", :width => "810" },class: "txt-link-type2",style:"width:70px;"  %> 
            <%=link_to "Show","/admin/faq/show_question?question_id=#{question.id}",class: "txt-link-type2",style:"width:30px;"  %><%=link_to "","/admin/faq/edit_question?system_faq_question_id=#{question.id}",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/faq/delete_record?id=#{question.id}&class_name=#{question.class.to_s}&header_link=#{header_link}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{question.id}" %><%=link_to "Linked Syndcated Content","#html",:class=>"",:data => {:pop => "/admin/system_template/get_linked_syndicated_content?record_id=#{question.id}&class_name=#{question.class.to_s}" ,  :width => "810"},style: "width:63px" %>
            </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
<% if header_link == true %>
  <% if (@questions[0].scenario_detail.present? rescue false) %>
    <% @member_list =  current_user.childerns %>

    <div class="js-test_validation_form">
     <%= form_tag("/admin/faq/test_question_scenario_validation_to_assign",method: 'get', remote: true) do %>
      <div class="form-type2">
        <div class="form-row">
            <label class="form-label"></label>
         
        <%= select_tag :member_id, options_from_collection_for_select(@member_list, "id", "first_name"), {:class => 'custom-select1  '} %>
        <%= hidden_field_tag :custom_id, @questions[0].scenario_detail.custome_id,:class=>"js-custome-id-val" %>
        <%= submit_tag "Vaildate Question assignment",class: "btn btn-type2" %>
        <% end %>
        </div>
      </div>
    </div>
    <% else %>
   <div class="btn btn-type2" style="background-color: #82c7a5;" >Vaildate Question assignment</div>
  <% end %>
<% end %>

  <div class="CL"></div>
<!-- </div> -->
 

 
<% if header_link == true %>
<% question =  @questions.first%>
<%# @scenarios = System::ScenarioDetails.where(:tool_subtype=>question.class.to_s,:linked_tool_custome_id=>question.custom_id)%>
 
<%#= render :partial=> "/admin/scenario_details/scenario_list", :locals=>{:linked_tool_custome_id=>question.custom_id,:tool_type=>"System::Faq",:tool_subtype=>"System::Faq::Question"}%>
<% end %>