<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <br/>
 <br/>
<%= @question.errors.full_messages.first if @question.errors.any? %>
<% @url = @question.new_record? ? "/admin/faq/create_question" : "/admin/faq/update_question"%>
<%= form_for @question,url: @url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Add question</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
        <label class="form-label">Title</label>
         <%= f.text_area :title, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Sort Order</label>
         <%= f.select :sort_order, options_for_select((1..100),@question.sort_order)  %>
    </div> 

     <% scenario_detail = (@question.scenario_detail || {}) rescue {}%>
     <% value = scenario_detail.present? ? "ID: #{scenario_detail['custome_id']},  Title: #{scenario_detail['title']}" : nil %>
        <label class="form-label">Scenario(Type ID/Scenario description below to select)</label>
        <%= autocomplete_field_tag :system_scenario_custome_id,'',autocomplete_system_scenario_scenario_details_title_admin_pointers_path,:value=>value, :id_element=>'#system_scenario_detail_custom_id',:size=>120,'data-auto-focus' => true ,'min-length' => -1,:onfocus=>"javascript:$(this).autocomplete('search',' ');" %>
        
        <%=hidden_field_tag :system_scenario_detail_custom_id,scenario_detail['custome_id'] %>
    </div>
      <% notification_expiry = @question.notification_expiry.split(".") rescue [] %>
       <div class="form-row">
        <label class="form-label">Notification Expiry </label>
        <%= select_tag :notification_expiry_period, options_for_select(["NA"]+(0..365).to_a,notification_expiry[0].blank? ? "NA": notification_expiry[0]), :class => 'custom-select1  ' %>
        <%= select_tag :notification_expiry_frequency, options_for_select([["NA",""],['Day','day'],['Week','week'] ,['Month','month'],['Yearly','year']],notification_expiry[1]), :class => 'custom-select1  ' %> 
          
         
    </div>
    <%= f.hidden_field :sub_topic_id, :value=>@subtopic.id %>
    <%= hidden_field_tag :system_faq_question_id, @question.id %>
     <div class="form-row">
        <label class="form-label">Status</label>
        <%= f.select :status, options_for_select(["Active","Draft"],@question.status)   %>
          
    </div>
    <div class="form-type3"><div class="form-action-row">
       <%= f.submit (@question.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
  
    </div></div>
  </div>
</div>
<% end %>
  
 <%= link_to "Cancel", "/admin/faq/show_question?question_id=#{@question.id}", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
 <style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>

<script type="text/javascript">
$(document).ready(function(){
  $("body").on('keyup',"#system_scenario_custome_id", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
    if($("#system_scenario_custome_id").val().length < 1){
      $("#system_scenario_custome_id").focus();
    }
  }
  });
})
  
</script>