<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <br/>
 <br/>
 <%= @subtopic.errors.full_messages.first if @subtopic.errors.any? %>
<% @url = @subtopic.new_record? ? "/admin/faq/create_subtopic" : "/admin/faq/update_subtopic"%>
<%= form_for @subtopic,url: @url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Add subtopic</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
        <label class="form-label">Title</label>
         <%= f.text_field :title, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Sort Order</label>
         <%= f.select :sort_order, options_for_select((1..100),@subtopic.sort_order)  %>
    </div> 

    <%= f.hidden_field :topic_id, :value=>@topic.id %>
    <%= hidden_field_tag :system_faq_subtopic_id, @subtopic.id %>
     <div class="form-row">
        <label class="form-label">Status</label>
        <%= f.select :status, options_for_select(["Active","Draft"],@subtopic.status)    %>
          
    </div>
    <div class="form-type3"><div class="form-action-row">
       <%= f.submit (@subtopic.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
  
    </div></div>
  </div>
</div>
<% end %>
  
 <%= link_to "Cancel", "/admin/faq/show_subtopic?subtopic_id=#{@subtopic.id}", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
 