  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#subtopic').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    $('.js-delete').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      class_name = $(this).data("class_name");
      $.ajax({
        url: "delete_topic",
        data: {id:id,class_name:class_name},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 <br/>
 <br/>

 <% if header_link == true %>
<b>Topic: </b> <%=link_to @topic.title,"/admin/faq/show_topic?topic_id=#{@topic.id}" %> 
<br/>
<br/>
<% end %>
<h2> SubTopic List </h2>
<br/>
<%= link_to "Add New SubTopic", "/admin/faq/new_subtopic?topic_id=#{@topic.id}" %>
<br/>
<br/>
<table id="subtopic" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                                  </th>
            <th>Sort order                        </th>
            <th>Title                             </th>
            <th>Status                            </th>
            <th>Action                            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Sort order                        </th>
            <th>Title                             </th>
            <th>Status                            </th>
            <th>Action                            </th>
          </tr>
        </tfoot>
        <tbody>
          
     <% @subtopics.each do |subtopic|  %>
        <tr id="dataRow1">
            <td></td>
            <td > <%= subtopic.sort_order %></td>
            <td > <%= subtopic.title %></td>
            <td > <%= subtopic.status %></td>
            <td> <%=link_to "Show","/admin/faq/show_subtopic?subtopic_id=#{subtopic.id}",class: "txt-link-type2",style:"width:30px;"  %><%=link_to "","/admin/faq/edit_subtopic?system_faq_subtopic_id=#{subtopic.id}",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/faq/delete_record?id=#{subtopic.id}&class_name=#{subtopic.class.to_s}&header_link=#{header_link}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{subtopic.id}" %><%=link_to "Linked Syndcated Content","#html",:class=>"",:data => {:pop => "/admin/system_template/get_linked_syndicated_content?record_id=#{subtopic.id}&class_name=#{subtopic.class.to_s}" ,  :width => "810"},style: "width:63px" %>
            </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
