<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <%#= link_to "Role List", "/admin/role_for_admin_panel" %> 
 <br/>
 <br/>
 <br/>
 <%= @topic.errors.full_messages.first if @topic.errors.any? %>
<% @url = @topic.new_record? ? "/admin/faq/create_topic" : "/admin/faq/update_topic"%>
<%= form_for @topic,url: @url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @topic.new_record? ? "Add" : "Update"%> topic</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    
    
    <div class="form-row">
        <label class="form-label">Title</label>
         <%= f.text_field :title, class: "js-name textBx-type2"  %>
    </div> 
    <%= hidden_field_tag :system_faq_topic_id, @topic.id %>
     
    <div class="form-row">
        <label class="form-label">Description</label>
         <%= f.text_field :description, class: "js-name textBx-type2"  %>
    </div> 

     <div class="form-row">
        <label class="form-label">Sort Order</label>
         <%= f.select :sort_order, options_for_select((1..100),@topic.sort_order)  %>
    </div> 
 
    <div class="form-row">
        <label class="form-label">Topic For</label>
        <%= f.select :topic_for, options_for_select(['child','pregnancy','cp','adult','all'],@topic.topic_for), :class => 'custom-select1  ' %>
          
    </div> 

    <div class="form-row">
        <label class="form-label">CrossRefernce Topic (Multiple select use ctr+select)</label>
        <%= f.select :cross_references, options_from_collection_for_select(System::Faq::Topic.where(:id.ne=>@topic.id),:id,:title,@topic.cross_references),{:include_blank => 'None'},{:multiple=>true, :size=> 5}   %>
          
    </div>

    <div class="form-row">
        <label class="form-label">Status</label>
        <%= f.select :status, options_for_select(["Active","Draft"],@topic.status)    %>
          
    </div>



    <div class="form-row">
        <label class="form-label">Category(Tool Identifier)</label>
        <%= f.select :category, options_for_select((Nutrient.all.map(&:identifier) - ["Menu"] + ["all"]),@topic.category), :class => 'custom-select1  ' %>
          
    </div>

      
    <div class="form-type3"><div class="form-action-row">
       <%= f.submit (@topic.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
  
    </div></div>
  </div>
</div>
<% end %>
 <% if @topic.new_record?%>
 <%= link_to "Cancel", "/admin/faq/", :method => "get",class: "btn btn-type2"  %>

<% else %>
 <%= link_to "Cancel", "/admin/faq/show_topic?topic_id=#{@topic.id}", :method => "get",class: "btn btn-type2"  %>
 <% end %>
 <br/>
 <br/>
 <br/>
 