  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#topic').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    $('.js-delete').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      class_name = $(this).data("class_name");
      $.ajax({
        url: "delete_topic",
        data: {id:id,class_name:class_name},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
<br/>
<br/>
<br/>
<%=link_to "All topic","/admin/faq" %>  

<br/>
<br/>
<h2> Topic List </h2>
<br/>
<%= link_to "Add New Topic", "/admin/faq/new_topic" %>
 
<br/>
<br/>
<table id="topic" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                                  </th>
            <th>Sort Order                             </th>
            <th>Title                             </th>
            <th>Description                       </th>
             
            <th>Topic For                         </th>
            <th>Category(Tool Identifier)         </th>
            <th>Cross References Topics           </th>
            <th>Status                            </th>
            <th>Action                            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Sort Order                             </th>
            <th>Title                             </th>
            <th>Description                       </th>
           
            <th>Topic For                         </th>
            <th>Category(Tool Identifier)         </th>
            <th>Cross References Topics           </th>
            <th>Status                            </th>
            <th>Action                            </th>
             
          </tr>
        </tfoot>
        <tbody>
          
     <% @topics.each do | topic |  %>
        <tr id="dataRow1">
            <td></td>
            <td > <%= topic.sort_order %></td>
            <td > <%= topic.title %></td>
            
            <td> <%= topic.description%>  </td>
            <td> <%= topic.topic_for%>  </td>
            <td> <%= topic.category%></td>
            <td> <%= System::Faq::Topic.in(id:topic.cross_references).map(&:title).join(",")%>  </td>
            <td> <%= topic.status%></td>
            <td> <%=link_to "Show","/admin/faq/show_topic?topic_id=#{topic.id}",class: "txt-link-type2",style:"width:30px;"  %> <%=link_to "","/admin/faq/edit_topic?system_faq_topic_id=#{topic.id}",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/faq/delete_record?id=#{topic.id}&class_name=#{topic.class.to_s}&header_link=true",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{topic.id}" %>
              <%=link_to "Linked Syndcated Content","#html",:class=>"",:data => {:pop => "/admin/system_template/get_linked_syndicated_content?record_id=#{topic.id}&class_name=#{topic.class.to_s}" ,  :width => "810"},style: "width:63px" %>
            </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
