table = $("#<%=@table_id%>").DataTable();
<% if @header_link_status.to_s == "true"%>
    <% if @parent_record.present? %>
      <% class_name = @parent_record.class.to_s.split("::").last.downcase %>
      window.location.href = "<%= "/admin/faq/show_#{class_name}?#{class_name}_id=#{@parent_record.id.to_s}" %>"
    <% else %>
      window.location.href = "/admin/faq"
    <% end %>
<% else %>
  // table.row($(".js-<%=@record.id%>").parents('tr')).remove().draw(false);
  location.reload();
<% end %>