<% if @form_for == "topic" %>
  <%= render :partial=>"/admin/faq/topic_form"%>
<% elsif @form_for == "subtopic" %>
  <%= render :partial=>"/admin/faq/subtopic_form"%>
<% elsif @form_for == "question" %>
  <%= render :partial=>"/admin/faq/question_form"%>
<% elsif @form_for == "answer" %>
  <%= render :partial=>"/admin/faq/answer_form"%>
<% end %>