<% if @form_for == "topic" %>
  <%= render :partial=>"/admin/faq/topic_list", :locals=>{:header_link=>true}%>
  <%= render :partial=>"/admin/faq/subtopic_list" ,:locals=>{:header_link=>false}%>
<% elsif @form_for == "subtopic" %>
  <%= render :partial=>"/admin/faq/subtopic_list" ,:locals=>{:header_link=>true}%>
  <%= render :partial=>"/admin/faq/question_list", :locals=>{:header_link=>false}%>
<% elsif @form_for == "question" %>
  <%= render :partial=>"/admin/faq/question_list",:locals=>{:header_link=>true}%>
  <%= render :partial=>"/admin/faq/answer_list", :locals=>{:header_link=>false}%>
<% end %>