  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 0, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
     

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> Alexa Requests </h2>
<br/>
 
 &nbsp;&nbsp;&nbsp;&nbsp;
 

<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                  </th>
             <th> User Email </th>
             <th> Alexa Request </th>
             <th> Server Response </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
             <th> User Email </th>
             <th> Alexa Request </th>
             <th> Server Response </th>
          </tr>
        </tfoot>
        <tbody>
         <% if @all_request.present? %>
     <% @all_request.each do | request |  %>
        <tr id="dataRow1">
            <td></td>
            <td> <%= request.email %>  </td>
            <td> <%= request.request_param %>  </td>
            <td> <%= request.response %>  </td>
            
              

             
        </tr>
    <% end %>  
    <% end %>                
    </tbody>
</table> 
 
  <div class="CL"></div>
 
 
