  <tr>
    <td>
      <table bgcolor="#fff" width="100%" border="0" cellpadding="0" cellspacing="0">
        <!-- App stores -->
          <tr>
          <td class="app-links" style="padding:0;border-top: 1px solid #E8E8E8;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
            <tr>
              <td height="60" valign="middle" style="padding:0;">
              <p class="h3" style="font-size:12px;text-align:center;margin:0px;padding:20px 0;"><b>Nurturey mobile app available on</b></p>
              </td>
            </tr>
            <tr>
              <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                  <tr>
                    <td width="160">&nbsp;</td>
                    <td valign="top" align="center">
                      <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/AppleStore.jpg" width="150" alt="Apple app store" style="border:0;"></a>
                    </td>
                    <td width="20" height="10" style="padding:0;">&nbsp;</td>
                    <td valign="top" align="center">
                      <a href="https://play.google.com/store/apps/details?id=com.nurturey.app"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/GooglePlay.jpg" width="150" alt="Google Play store" style="border:0;"></a>
                    </td>
                    <td width="160" style="padding:0;">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td height="30" style="padding:0;">&nbsp;</td>
            </tr>
            </table>
          </td>
          </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td align="center">
      <table align="center" border="0" cellpadding="0" cellspacing="0" >
        <tr><td height="30">&nbsp;</td></tr>
        <tr>
          <td valign="top">       
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td valign="top" width="250">&nbsp;</td>
                      <td valign="top" width="40">
                        <a href="https://www.facebook.com/nurtureyonweb?ref=hl"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/fb_icon.png" width="40" alt="Facebook"></a></td>
                      <td valign="top" width="20">&nbsp;</td>
                      <td valign="top" width="40">
                        <a href="<%=APP_CONFIG['youtube_url']%>"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/youtube_icon.png" width="40" alt="Youtube"></a></td>
                      <td valign="top" width="250">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr><td height="10">&nbsp;</td></tr>
              <tr>
                <td valign="top" width="50" align="center">&nbsp;</td>
                <td valign="top" align="center">
                  <p style="margin: 0px; color: #AFAFAF; font-size: 12px;">This email was sent to <a href="#" style="color: #14953A; text-decoration: none;"><%= @email %></a><br>
                  <% unless (show_unsubscribe rescue false) %>
                  <% if member = (Member.find_by(email: @email) rescue nil) %>
                    <br/>If you no longer wish to receive these emails you may <a href="<%= APP_CONFIG['default_host'] + "/unsubscribe?sub_id=#{member.id rescue nil}&mtype=#{@type || 0}"%>" style="text-decoration: none; color: #14953A;">unsubscribe</a> at any time.
                  <% end %>
                <% end %>

                <br>
                  <p style="margin: 0px; color: #AFAFAF; font-size: 12px;">Contact us at <a href="#" style="color: #14953A; text-decoration: none;">support@nurturey.com</a></p>
                </td>
                <td width="50">&nbsp;</td>
              </tr>
              <tr><td height="30">&nbsp;</td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>