<tr>
  <td>
    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr height="20"></tr>
      <tr>
        <td valign="top" align="center">
          <img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/Logo.png" alt="Nurturey">
        </td>
      </tr>
       
      <tr height="20"></tr>
    </table>
  </td>
</tr>