<tr>
  <td width="500"><%= vaccin.get_name %></td>
  <td width="80"> <i class="icon-<%#=SystemVaccin::Popular[vaccin.vaccin_type]%> txt-orange"></i></td>
  <td width="40">
    <input type="checkbox" name="" class="custom-checkbox-2 js-vaccin" id="<%=vaccin.sys_vaccin_id%>" checked/>
    <label for="<%=vaccin.sys_vaccin_id%>"></label>
  </td>
</tr>