$(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
$(".center-section").html("<%= escape_javascript(render :partial=>'immunisation/list_immunisation')%>");
$(".right-section").html("");
$.fn.close();