<% if @error.blank? %>
$(".js-new-vaccin").removeClass("border-red")

$(".js-vacci-list").after("<%= escape_javascript(render :partial=>'vaccin_detail', :locals=>{vaccin: @vaccin }) %>");
$(".js-new-vaccin").val("");
<% else %>
$(".js-new-vaccin").addClass("border-red")

<% end %>