$(".js-vacci-<%=params[:vaccin_id]%>").remove();
<% if @vaccinations.blank? %>
$(".js-header").after('<div class="widget-box-1"><div class="page-title-1">;</div><div class="no-entry"> <i class="icon-smile-sad"></i><p>Click select to  add immunisations. </p></div></div>')
<% end %>
// var count = parseInt($(".js-vaccin-count").text())- 1;
// $(".js-vaccin-count").text(count)