<%= form_for @vaccin, url: "/vaccination/update_vaccination", remote: true do |f| %>
<div>
    <h2 class="space-bottom">
        Immunisation Details
    </h2>

    <div class="form-type2">
        <div class="form-row">
        <%= f.text_field :name, value: @vaccin.get_name, class: "textBx-type8", readonly: true %>
        <%= hidden_field_tag :id, @vaccin.id %>
        </div>
        <div class="form-row">
            <div class="singleBx-type10">
                <div class="form-row no-margin-bottom">
                    <label class="form-label">Type</label>
                    <%= f.radio_button :category, 'Injection', class: "custom-radio-2" %>
                    <%= f.label :category_injection, 'Injection' %>
                   
                    <%= f.radio_button :category, 'Drops', class: "custom-radio-2" %>
                    <%= f.label :category_drops, 'Drops' %>

                    <%= f.radio_button :category, 'Tabs', class: "custom-radio-2"   %>
                    <%= f.label :category_tabs, 'Pill/Tablet' %>

                     
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-type3">
  <div class="form-action-row">
    <%= f.submit "Save", class: "btn btn-type2",disable_with:"Saving.." %>
  </div>
</div>
<% end %>
