<div>
    <h2>Select appropriate immunisations</h2>

    <div class="singleBx-type9">
      <table width="600" style="margin:0 15px;" class="table-type1">
      <tbody>
          <tr>
           <th width="500">Immunisation</th>
            <th width="90">Most Popular</th>
            <th width="30">Select</th>
          </tr>
          </tbody>
        </table>
    </div>
    <div class="scroll-type1">
     <%= form_for :vaccination, url: "/vaccination", remote: true do |f| %>
      <table class="table-type1">
      
        <tr class="table-action-row js-vacci-list">
        <td width="500"><%= f.text_field :name,maxlength: 40, class: "textBx-type6 js-new-vaccin inputType2", placeholder: 'Add a new immunisation to the list' %>
        </td>
          <td width="80"></td>
          <td width="40">
          <%= f.hidden_field :member_id, value: @member.id %>
                <%= f.submit "Add", class: "txt-link-type1 js-submit-vaccine", :style=>"display:none;" %>
                <a href="#." class="txt-link-type1 js-add-vaccine">Add</a></td>
        </tr>

 
        <%= hidden_field_tag :member_id, @member.id %>
       
      <% if @selected.blank? %>
      <% @vaccin_list.each do |vaccin| %>
          <tr>
            <td><%= vaccin.get_name %></td>
            <td> <i class="icon-<%=SystemVaccin::Popular[vaccin.vaccin_type]%> txt-orange"></i></td>
            <td>
            <%= check_box_tag vaccin.get_name,'', @selected[vaccin.id.to_s], class: "custom-checkbox-2 js-vaccin", id:vaccin.id, checked: vaccin.vaccin_type=="Recommended" %>
              <label for="<%=vaccin.id%>"></label>
            </td>
          </tr>
        <% end %>
      <% else %>

        <% @vaccin_list.each do |vaccin| %>
          <tr>
            <td><%= vaccin.get_name %></td>
            <td> <i class="icon-<%=SystemVaccin::Popular[vaccin.vaccin_type]%> txt-orange"></i></td>
            <td>
            <%= check_box_tag vaccin.get_name,'', @selected[vaccin.id.to_s], class: "custom-checkbox-2 js-vaccin", id:vaccin.id %>
              <label for="<%=vaccin.id%>"></label>
            </td>
          </tr>
        <% end %>
   <% end %>
      </table>
     <% end %>
    </div>
 
    <div class="form-type3">
        <div class="form-action-row">
            <input type="button" value="Done" class="btn btn-type2 js-vaccin-done"/>
            <!-- <a href="#." class="txt-link js-close-pop">Cancel</a> -->
            <span class="brass FR space-top-1">Get <%= Score::Points["Vaccination"] %> points per entry</span>
        </div>
    </div>
</div>
 <script type="text/javascript">  
  (function ($) {
    $(".js-add-vaccine").on("click",function(){
    event.preventDefault();
    $(".js-submit-vaccine").click();
  })
  $(".scroll-type1").mCustomScrollbar({
      autoHideScrollbar: false,
      theme: "dark"
  });
  })(jQuery);
</script>