$(".js-vacci-<%=@vaccin.id%>").find("h2").removeClass("icon-vaccine-drop icon-vaccine-tab icon-immunization")
$(".js-vacci-<%=@vaccin.id%>").find("h2").addClass("<%=Vaccination::Category[@vaccin.category]%>")

$.fn.close()