<% if @member.milestone_for(system_milestone) && @member.milestone_for(system_milestone).date %>
	<%= toDate(@member.milestone_for(system_milestone).date) %> &nbsp;
	<i class="icon-calender"></i> 
	
    <%#= toDate(@member.milestone_for(system_milestone).date) %>
<% else %>                                             
    <%= link_to "Add Date",'#html', data: {pop: milestone_add_date_path(@member,system_milestone), width: "600"}, class: "icon-calender" %>
<% end %>    