<p class="page-title-5 text-center">Age Range <small>(in months)</small></p>
    <ul class="tab-list-type2">
        <!-- <li class='active'>0-1</li> -->
        <% SystemMilestone::CATEGORIES_RANGE.values.each do |category| %>            
            <%#= link_to change_category_milestones_path(category: category, member_id: @member.id), remote: true do %>

                <li class="<%= (params[:category] && params[:category] == category) || (!params[:category] && category==@category) ? 'active' : nil %>" ><%= link_to change_category_milestones_path(category: category, member_id: @member.id), remote: true do %>
                        <%= category %>
                    <% end %>
                </li>
            <%# end %>
        <% end %>        
    </ul>
    <div class="tab-container">
        <div class="tab-1">
          <%= form_tag add_multiple_milestones_path(member_id: @member.id, category: @system_milestones.first.category), remote:true, method: :put do %>
            <div class="form-action-row clearFix text-right">
                <%= submit_tag "Done", class: "btn btn-type2 space-bottom no-margin-left" %>                
            </div>            
            <ul class="clearFix list-type-5">                            
                <%- @system_milestones.each do |system_milestone| %>
                  <li id="system_milestone_<%= system_milestone.id %>">
                    <%= render partial: "milestones/system_milestone", locals: {system_milestone:system_milestone} %>
                  </li>
                <% end %>                
            </ul>
            <div class="form-action-row clearFix text-right">
                <%= submit_tag "Done", class: "btn btn-type2 no-margin-left" %>       
            </div>
          <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(function () {
            $('.list-type-5 .list-action').find('input[type="checkbox"]').each(function(){
                    if($(this).is(':checked')== true ){
                        $(this).parent().parent().find('.action-panel').show();
                      }
                })
        })
</script>        