<div>
<%= form_for  @milestone, html: {multipart: true, id:"js-form"} do |f| %>  
  <h2>
    <%= @milestone.system_milestone.get_dynamic_title(@milestone.member) %>
  </h2>
  <div class="scroll-type4">
     <p class="txt-type-1"><%= @milestone.system_milestone.milestone_type %> </p>
    <p><%= @milestone.system_milestone.description %></p>
    <div class="form-type2 space-top">        
        <div class="form-row">
            <div class="singleBx-type7">
                <div class="form-row">
                    <label class="form-label">Accomplished On</label>
                    <div class="textBx-type3 js-date">
                        <% accomplished_date = @milestone.date.present? ? @milestone.date.strftime("%d-%m-%Y") : nil %>
                        <%= f.text_field :date, value: accomplished_date, style: "position: relative;z-index: 100000;", class: "textBx-type1 dateInput js-dob", :readonly=>true %>
                    </div>
                </div>
                <div class="form-row reset-margin">
                    <label class="form-label">Description</label>
                    <div class="singleBx-type11">
                        <%= f.text_area :description, cols: 30, rows: 10, class: "textarea-type1", maxlength: 100 %>
                    </div>
                </div>
            </div>
            <!-- <div class="singleBx-type7">
                <div class="form-row" style="padding-left:20px;">
                    <label class="form-label" style="padding-bottom:6px;">&nbsp;</label>
                    <%# checkbox_options = @milestone.new_record? ? {id: "addTime", class: "custom-checkbox-2", checked: true} : {id: "addTime", class: "custom-checkbox-2"} %>
                    <%#= f.check_box :timeline, checkbox_options, id: "addTime" %>
                    <label for="addTime"></label>
                    Add to timeline
                </div>
            </div> -->
        </div>
        <!-- <div class="form-row">
            <label class="form-label">Description</label>
            <div class="singleBx-type11">
                <%#= f.text_area :description, cols: 30, rows: 10, class: "textarea-type1", maxlength: 200 %>
            </div>
        </div> -->
        <%#= f.fields_for :pictures do |p| %>
        <div class="form-row">
            <label class="form-label FL">Add Images </label>
            <div class="FR js-media">
                <%#= p.file_field :local_image, id: "addNew", class: "custom-file-2" %>
                <input type="file" class="custom-file-2"/>
                <label for="addNew"></label>
            </div>
            <!-- <div class="FR js-media">
                <input type="file" id="addNew" class="custom-file-2"/>
                <label for="addNew"></label>
            </div> -->
            <hr class="CL hr"/>            

            <div class="scroll-type2 js-display-media-images" style="display:<%= @milestone.pictures.present? || (@milestone.pictures.blank? && @milestone.display_default_image?) ? 'block' : 'none' %>;">
                <ul class="list-type-11 clearfix js-list milestone_pictures">   
                    <% if @milestone.pictures.blank? && @milestone.display_default_image && milestone_default_image_exists?(@milestone) %>
                        <li class="js-ss">
                          <span class="js-remove-default-image icon-times"></span>  
                          <%= image_tag(default_image_url(@milestone)) %>
                        </li>
                    <% elsif @milestone.pictures.present? %>
                      <% @milestone.pictures.each do |pic| %>
                        <li class="js-ss" id="picture_<%= pic.id %>">                            
                            <%= link_to remove_picture_milestone_path(pic.id), method: :delete, remote: true do %>
                                <span class="js-remove-photo icon-times"></span>
                            <% end %>
                            <input type="file" name="upload_media[]" class="custom-file-2 js-fileupload"/>              
                            <%= image_tag(pic.photo_url_str(:medium)) %>       
                        </li>
                      <% end %>  
                    <% else %>
                        <div>No files selected, click on + icon to add</div>    
                    <% end %>
                </ul>
            </div>
            <!-- <div>No files selected, click on + icon to add</div> -->
        </div>
        <%# end %>
    </div>
</div>
<div class="form-type3"><div class="form-action-row">
    <% if @milestone.new_record? %>
        <%= f.hidden_field :system_milestone_id %>
        <%= f.hidden_field :member_id %>
    <% end %>
    <%= f.hidden_field :display_default_image %>
    <%= hidden_field_tag :source, params[:source] %>  
    <%= f.submit "Save", class: "btn btn-type2",disable_with:"Saving.." %>
    <!-- <input type="button" value="Save & Next" class="btn btn-type2"/> -->
    <!-- <a href="#." class="txt-link" onclick="$.fn.close();">Cancel</a> -->
    <% unless @milestone.new_record? %>
      <span class="space-top">
        <%= link_to "Mark as NOT Accomplished", milestone_path(@milestone.id), remote: true, method: :delete, class: 'txt-link' %>
      </span>
    <% else %>
      <span class="txt-type-1 FR space-top">Get <%= Score::Points["Milestone"] %> points per entry</span>  
    <% end %>
</div>
</div>
</div>
<% end %>
</div>
<script type="text/javascript">
$(function(){
    $("#js-form").ajaxForm();
        // scroll script
        $(".scroll-type2").mCustomScrollbar({
            autoHideScrollbar: false,
            theme: "dark"
        });
        $(".scroll-type4").mCustomScrollbar({
            autoHideScrollbar: true,
            theme: "dark"
        });

        input = $("#milestone_date")
        input.focus().val(input.val());
    })    
</script>