<% if milestones.present? %>
<% milestones.each do |milestone| %>
    <li id = "milestone_<%= milestone.id %>">
        <%= render partial: '/milestones/milestone', locals: {milestone: milestone} %>
    </li>            
<% end %>
<% end %>
<script type="text/javascript">
	$(".lightbox").lightbox();
</script>