<!-- page titles -->
<div class="singleBx-type6a">

    <div class="titleBar reset-margin">
        <h1>  
        <%=profile_image_tag(@member,"small") %>          
                 
            MILESTONES
        </h1>

        <div class="actionBar">
            <a class="btn btn-big-type1 icon-plus" href="#." onclick="event.preventDefault(); $('#addMilestones').slideToggle();">Add</a>
        </div>
    </div>
</div>
<!-- health parameters start here -->
<div class="singleBx-type6b clearFix hide-box" id="addMilestones">
    <h2 class="light text-center">Select the milestones achieved by your child</h2>
    <span class="milestones_age_range">
        <%= render partial: "milestones/age_range" %>
    </span>    
    
<div id="milestone_list">
    <%= render :partial => "/milestones/milestone_list", locals: {milestones: @milestones} %>
</div>
<div id="infinite-scrolling" style="display:none">
  <%= paginate @milestones %>
</div>