<div class="singleBx-type15">
    <div class="page-title-1">Source</div>
    <div class="discla-txt">
      Milestone accomplishment benchmark information has been taken from <a href="http://www.cdc.gov/ncbddd/actearly/milestones/index.html" target="_blank" class="bold">CDC</a>.
    </div>
  </div>

<%= render :partial=>"milestones/milestone_disclaimer" %>