<p class="title-action clearFix">  
  <span class="text-orange">
    <% if milestone.date %>        
      <%= toDate(milestone.date) %>
    <% else %>
      <%= link_to "Add Date",'#html', data: {pop: edit_milestone_path(milestone), width: "600"}, class: "icon-calender" %> 
    <% end %>
  </span>
  <%# else %>
    <%#= link_to "Add Date",'#html', data: {pop: edit_milestone_path(milestone), width: "600"}, class: "icon-calender" %>
  <!-- <a href="#." class="icon-pencil FR"></a> -->
  <%= link_to "",'#html', data: {pop: edit_milestone_path(milestone), width: '600'}, class: "icon-pencil FR" %>
</p>



<p class="page-title-5 reset-margin"><%= truncate(milestone.system_milestone.get_dynamic_title(milestone.member), length: 60) %></p>
<p class="txt-type-3"><%= milestone.system_milestone.milestone_type %></p>
<p style="word-wrap: break-word;"><%= milestone_desc(milestone) %></p>
<div class="milestone from-album">
  <% if milestone.pictures.blank? && milestone.display_default_image && milestone_default_image_exists?(milestone) %>
    <%= link_to default_image_url(milestone),  class: "#{milestone.id} lightbox" do %>
      <%= image_tag(default_small_image_url(milestone), width: 47, height:47) %>
    <% end %>
  <% else %>
    <% milestone.pictures.limit(2).each do |pic| %>        
      <%= link_to pic.photo_url_str,  class: "#{milestone.id} lightbox"  do %>        
        <%= image_tag(pic.photo_url_str(:small), width: 47, height:47) %>
      <% end %>        
    <% end %>
    <% milestone.pictures.drop(2).each do |pic| %>
      <%= link_to "", pic.photo_url_str(:small),  class: "#{milestone.id} lightbox" %>
    <% end %>
  <% end %>
    
</div>
