<!-- Welcome Msg for first time user -->
<% if @member.milestones.blank? %>
    <!-- <div class="singleBx-type3a">
        <a href="#." class="icon-times btn-type4" onclick="$(this).parent().hide();"></a>
        <div class="titleBar-type4">
          <i class="icon-bell"></i>
        </div>

        <div class="page-title-2">Welcome to Milestones!</div>
        <p>Milestones help you track your child's development across four different parameters, ensuring over all development of your child! Start adding milestones by clicking on the check icon above!</p>
    </div> -->
    <div class="singleBx-type6">
        <div id="milestones" style="height:230px;"></div>
        <div class="legend-list">
            <div class="legend-1">Accomplished</div>
            <div class="legend-6">Expected</div>
        </div>
    </div>
<% end %>    
    <!-- reapte user -->
    <% if @member.milestones.present? %>
    <% if @member.milestones.where(date: nil).present? && (@display_setting.blank? || @display_setting.status == "true"  && (!@display_setting.note || DateTime.parse(@display_setting.note) <= Time.now) )%>

        <div class="singleBx-type3a space-bottom clearFix" id="js_milestone_notification_text">
            <div class="titleBar-type4">
              <i class="icon-bell"></i>
            </div>
            <p class="page-title-2"><%= @member.milestones.where(date: nil).count %> new milestones added, would you like to add description and images?</p>

            <p class="txt-type-3 FL">Complete whichever you can</p>
            <div class="form-action-row text-right FR">                
                <input type="button" value="Yes" class="btn btn-type1" data-pop="<%= add_description_milestones_path(member_id: @member.id) %>" data-width="600" href="#html"/>
                <%= link_to "Remind Later", display_later_milestones_path(member_id: @member.id,status: 'display_later'), remote: true, class: "txt-link" %>
                <%= link_to "No, thanks", display_later_milestones_path(member_id: @member.id,status: 'no_thanks'), remote: true, class: "txt-link" %>
                <!-- <a href="#." class="txt-link" onclick="$(this).parent().parent().hide();">No, thanks</a> -->
            </div>
        </div>
    <% end %>
    <div class="singleBx-type6">
        <div id="milestones" style="height:230px;"></div>
        <div class="legend-list">
            <div class="legend-1">Accomplished</div>
            <div class="legend-6">Expected</div>
        </div>
    </div>
    <% end %>
    <div class="singleBx-type6">
        <%# milestones_this_month = Milestone.order_by_date(@member.milestones) %>  <!-- Temporary --> 

        <div class="titleBar-type1a">
            <h2>Milestones <small><span class="notifiacation-1 milestones_count"><%= @member.milestones.count %></span> Accomplished</small></h2>
        </div>
        <ul class="list-type-7 clearFix js-milestones-container">
          <% if @member.milestones.blank? %>
            <div class='data-error empty-msg-1'><p> Click add to start adding milestones </p></div>
          <% else %>
            <div id="milestone-pagination">
                <%= render partial: '/milestones/list_milestones_entries', locals: {milestones: milestones} %>
            </div>    
            
          <% end %>      
        </ul>
    </div>    
  <%# end %>    
    <script type="text/javascript">
    $(function () {
    $('#milestones').highcharts({
        chart: {
            type: 'column',
            spacingBottom: 0,
            spacingTop: 5,
            spacingLeft: 0,
            spacingRight: 0,
            marginLeft:55,
            marginBottom:45
        },
        title: {
            text: '',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            title:{
                text:'Month Range'
            },
            categories: <%= raw SystemMilestone::CATEGORIES_RANGE.values.to_json %>
        },
        yAxis: {            
            title: {
                text: 'Milestones (%)'
            }
        },
        tooltip: {
                    enabled: false
                },
        legend: {
            enabled: false
        },
        plotOptions: {
            column: {
                stacking: 'percent'                
            }
        },
        series: [
        {
            name: '',
            data: <%= raw non_added_milestones(@member).to_json %>,
            color:'rgb(251, 246, 217)'
        },
        {
            name: 'Milestones',
            data: <%= raw added_milestones(@member).to_json %>,
            color:'#fdc065'
        }],
            credits: {
                enabled: false
            }
    });
});
</script>
