<ul class="list-type-6">
    <li class="list-head"><i class="icon-plus icon-plus-squre"></i> QUICK ADD</li>
    <% if @quick_add_milestones.present? %>
    <% @quick_add_milestones.each do |system_milestone| %>
      <li href="#html" data-pop="<%= new_milestone_path(member_id: @member.id,system_milestone_id: system_milestone.id) %>" data-width="600">
          <p><%= system_milestone.get_dynamic_title(@member) %></p>
          <small><%= truncate(system_milestone.milestone_type, length: 20) %></small>
      </li>
    <% end %>    
    <% end %>
</ul>
<br/>
 <div class="singleBx-type15">
    <div class="page-title-1">Source</div>
    <div class="discla-txt">
      Milestones accomplishment benchmark information has been taken from <a href="http://www.cdc.gov/ncbddd/actearly/milestones/index.html" target="_blank" class="bold">CDC</a>.
    </div>
  </div>

