<div class="list-action">
    <%= check_box_tag "system_milestone_ids[]", system_milestone.id, @member.milestone_for(system_milestone).present? ? true : false, id: "sys_milestone_check_#{system_milestone.id}", class: "custom-checkbox-2", onclick: "js_display_date(event);" %> 
    <label for="sys_milestone_check_<%= system_milestone.id %>"></label>
</div>
<p class="page-title-5"><%= truncate(system_milestone.get_dynamic_title(@member), length: 60) %></p>
<p class="txt-type-3"><%= system_milestone.milestone_type %></p>
<p><%= system_milestone.description %></p>
<div class="action-panel" id="sys_milestone_add_date_<%= system_milestone.id %>">
    <%= render partial: "milestones/add_date_portion", locals: {system_milestone: system_milestone} %>
    <!-- <a href="#." class="icon-calender">Add Date</a> -->                        
</div>