<% if @member.valid? %>
	$(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
	$('#addMilestones').slideUp();
	$('#milestone_list').html("<%= j render :partial => 'milestones/milestone_list', locals: {milestones: @milestones} %>")
	$(".right-section").html("<%= escape_javascript(render :partial=>'milestones/milestones_right_sec')%>")
<% end %>

<% @system_milestone_ids.each do |sys_milestone_id| %>
	<% system_milestone = SystemMilestone.find(sys_milestone_id) %>
	$("#sys_milestone_add_date_<%= sys_milestone_id %>").html("<%= j render partial: 'milestones/add_date_portion', locals: {system_milestone: system_milestone} %>")
<% end %>	

// For autoscrollig pagination //
pagination = "true"
next_page_url = $('#infinite-scrolling a.next_page').attr('href').split('page=')[0] + 'page=2'
$('#infinite-scrolling a.next_page').attr('href',next_page_url)