<% if @already_having %>
	$.fn.close();
	$(".globel-msg").html("<span>" + "You have already added this milestone." + "</span>") 
<% elsif @milestone.errors.blank? && @milestone.pictures.all?{|pic| pic.valid?} %>
	$.fn.close();
	$(".globel-msg").html("<span>" + "<%= @message %>" + "</span>") 
	$('#milestone_list').html("<%= j render :partial => 'milestones/milestone_list', locals: {milestones: @milestones} %>")
	$("#system_milestone_<%= @milestone.system_milestone.id %>").html("<%= j render partial: 'milestones/system_milestone', locals: {system_milestone: @milestone.system_milestone} %>")
	// $("#sys_milestone_add_date_<%= @milestone.system_milestone.id %>").html("<%= j render partial: 'milestones/add_date_portion', locals: {system_milestone: @milestone.system_milestone} %>")
	$(".right-section").html("<%= escape_javascript(render :partial=>'milestones/milestones_right_sec')%>")
	$("a.lightbox").lightbox();
<% else %>
	$('.error').remove();
	$.each($("[class*='js-']"), function( index,input ) {
  		$(input).removeClass("border-red");
	})
	<% @milestone.errors.messages.each do |k,v| %>
		$('.js-' + "<%= k.to_s %>").addClass("border-red");		
		$('.js-' + "<%= k.to_s %>").after("<span class='error'><%= v.first %></span>");
	<% end %>
	<% if @milestone.pictures.any?{|pic| pic.invalid?} %>
		alert("Only images are allowed.")
	<% end %>
<% end %>

// For autoscrollig pagination //
pagination = "true"
next_page_url = $('#infinite-scrolling a.next_page').attr('href').split('page=')[0] + 'page=2'
$('#infinite-scrolling a.next_page').attr('href',next_page_url)