<% unless @milestone.persisted? %>
	$.fn.close();
	$("#milestone_<%= @milestone.id %>").remove();
	if ($("#system_milestone_<%= @milestone.system_milestone.id %>").length)
	{
		$("#system_milestone_<%= @milestone.system_milestone.id %>").html("<%= j render partial: 'milestones/system_milestone', locals: {system_milestone: @milestone.system_milestone} %>")
	}
	$(".milestones_count").text(parseInt($(".milestones_count").text())-1);
	<% if @member.milestones.blank? %>
		$('.js-milestones-container').html("<div class='data-error empty-msg-1'><p>Click add to start adding milestones</p></div>");
	<% end %>
<% end %>