<%= stylesheet_link_tag "jquery.bxslider.css" %>
<div class= "milestone-gallery">
<ul class="bxslider">
    <li>
        <div class="gallery-img">
            <%= image_tag(@picture.photo_url_str) %>
        </div>        
    </li>
    <% @milestone.pictures.reject{|pic| pic==@picture}.each do |pic| %>
    <li>
        <div class="gallery-img">
            <%= image_tag(pic.photo_url_str) %>
        </div>        
    </li>
    <% end %>  
</ul>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            mode: 'fade',
            pager: false,
            nextText: '',
            prevText: ''
        });
    });
</script>