<% if params[:page].blank?%>
	$(".right-section").html("<%= escape_javascript(render :partial=>'milestones/milestones_right_sec')%>")
	$(".center-section").html("<%= escape_javascript(render :partial=>'milestones/milestones_center_sec')%>")

	<% if @display_milestones_info %>
	  $.fn.popclick({pop: "<%= milestones_info_milestones_path %>", width: "600" })
	<% end %>
	pagination = "true"
<% else %>
	$("#milestone-pagination").append("<%=j render :partial=>'/milestones/list_milestones_entries', :locals=> {:milestones => @milestones} %>")
<% end %>