<div class="left-section">
	<%= render partial: "timeline/left_section" %>
</div>	

<div class="center-section">
	<%= render partial: 'milestones/milestones_center_sec' %>
</div>
<div class="right-section">
	<%= render partial: 'milestones/milestones_right_sec' %>
</div>

<script type="text/javascript">
	update_left_nav("<%= @member.id %>", "milestone");

	if("<%= @display_milestones_info %>"=="true"){
	    $.fn.popclick({pop: "<%= milestones_info_milestones_path %>", width: "600" })
	  }

	if("<%= params[:page].blank? %>"=="true"){
	    pagination = "true"
	}  
	else{
	    $("#milestone-pagination").append("<%=j render :partial=>'/milestones/list_milestones_entries', :locals=> {:milestones => @milestones} %>")
	}
</script>