<div class="logoBack">
  <h2 class="space-bottom-1"><i class="icon-manage-check info-icon"></i> Milestones</h2>
    <ul class="pin-list">
        <li>Track important cognitive, social, emotional, language/ communication and physical development milestones of your child.</li>
        <li>Just select milestones, and add accomplishment date and pictures.</li>
        <li>Nurturey will automatically post entries to Timeline.</li>
    </ul>
    <div class="form-type3">
        <div class="form-action-row">
            <input type="button" value="Got it!" class="btn btn-type2" style="margin-left:42px;" onclick="$.fn.close();"/>
        </div>
    </div>
</div>
