<% if @this_milestone.errors.blank? %>
  $.fn.close();  
  <% if @milestone %>
  	$.fn.popclick({pop: "<%= add_description_milestones_path(id: @milestone.id,member_id: @member.id) %>", width: "600" })
  <% else %>	
    $('#milestone_list').html("<%= j render :partial => 'milestones/milestone_list', locals: {milestones: @milestones} %>")
    // For autoscrollig pagination //
    pagination = "true"
    next_page_url = $('#infinite-scrolling a.next_page').attr('href').split('page=')[0] + 'page=2'
    $('#infinite-scrolling a.next_page').attr('href',next_page_url)
    //...............//
  <% end %>	
<% else %>
  $('.error').remove();
  $.each($("[class*='js-']"), function( index,input ) {
    	$(input).removeClass("border-red");
	})
  <% @this_milestone.errors.messages.each do |k,v| %>
  	$('.js-' + "<%= k.to_s %>").addClass("border-red");		
	$('.js-' + "<%= k.to_s %>").after("<span class='error'><%= v.first %></span>");
  <% end %>
  <% if @this_milestone.pictures.any?{|pic| pic.invalid?} %>
    alert("Only images are allowed.")
  <% end %>	
<% end %>

