<% if @milestone.errors.blank? %>
	<% if params[:source].present? && params[:source]=='timeline' %>
		// $(".<%#=@timeline.id%>").hide()
		$(".<%=@timeline.id%>").html("<%=j render partial: '/timeline/nutrient_milestone_timeline_data', :locals=>{timeline: @timeline} %>");
		// $(".<%#=@timeline.id%>").first().remove()
		$(".pic a").unbind();
		$(".pic a").lightbox();
		$.fn.close();
	<% else %>
		$("li#milestone_<%= @milestone.id %>").html("<%= j render partial: 'milestones/milestone', locals: {milestone: @milestone} %>")
		$("#sys_milestone_add_date_<%= @milestone.system_milestone.id %>").html("<%= j render partial: 'milestones/add_date_portion', locals: {system_milestone: @milestone.system_milestone} %>")
		$("a.lightbox").lightbox();
		$.fn.close();
	<% end %>	
<% else %>
	$('.error').remove();
	$.each($("[class*='js-']"), function( index,input ) {
  		$(input).removeClass("border-red");
	})
	<% @milestone.errors.messages.each do |k,v| %>
		$('.js-' + "<%= k.to_s %>").addClass("border-red");		
		$('.js-' + "<%= k.to_s %>").after("<span class='error'><%= v.first %></span>");
	<% end %>
	<% if @milestone.pictures.any?{|pic| pic.invalid?} %>
		alert("Only images are allowed.")
	<% end %>
<% end %>