<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <%= link_to "All Role", "/admin/role_for_admin_panel" %> 
 <br/>
 <br/>
 <%= @role.errors.full_messages.first if @role.errors.any? %>

<%= form_for @role,url:"/admin/role_for_admin_panel/#{@role.id}", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Update Role</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

     <div class="form-row">
        <label class="form-label">Name</label>
         <%= f.text_field :name, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Access Level</label>
         <%= f.select :access_level_name, options_for_select(['Read','Write','Delete'],@role.access_level_name), :class => 'custom-select1  ' %> 
    </div> 
    
    <%#= f.hidden_field :id, value:@role.id%>

    <div class="form-type3"><div class="form-action-row">
      <%= f.submit "Update", class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
 <%= button_to "Cancel", "/admin/role_for_admin_panel", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
 