@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue.woff') format('woff'), url('HelveticaNeue.ttf')  format('truetype'), url('HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Bold.woff') format('woff'), url('HelveticaNeue-Bold.ttf')  format('truetype'), url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Light.woff') format('woff'), url('HelveticaNeue-Light.ttf')  format('truetype'), url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Medium.woff') format('woff'), url('HelveticaNeue-Medium.ttf')  format('truetype'), url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: url('HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Thin.woff') format('woff'), url('HelveticaNeue-Thin.ttf')  format('truetype'), url('HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
