<% unless @browser %>
  <%= content_for :view_in_browser_content do %>
    <%= render partial: 'layouts/updated_mailer_layout/view_in_browser', locals: { url_params: { object_name: 'invitation', object_id: @invitation.id, mail: 'elder_member_request_email' } }%>
  <% end %>
<% end %>
  
<%= content_for :head_table_content do %>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
    <tr>
      <td width="30" style="padding:0;"></td>
      <td class="headline" style="padding:0;">
        <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
         <tr><td height="40" style="padding:0;"></td></tr>
         <tr><td style="padding:0;"><p class="h1" style="font-size:20px; margin:0; padding:0; color: #F6A623;">Greetings from Nurturey!</p></td>
         </tr>
          <tr><td height="20" style="padding:0;"></td></tr>
          <tr><td style="padding:0;"><p class="h1" style="font-size:26px; margin:0; padding:0;"><%= @family_owner.name %> has added you as <%= @pregnancy.present? ? " an expecting" : "a "%>
<%=@role%> in <%=@family.family_owner_pronoun%> family '<%=@family.name%>'</p></td>
         </tr>
          <tr><td height="0" style="padding:0;"></td></tr>
        </table>
      </td>
      <td width="30" style="padding:0;"></td>
    </tr>
  </table>
<% end %>

<% content_for :body_content do %> 
  <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="30" style="padding:0;"></td>
      <td class="body-text" style="padding:0;">
         
        <p style="font-size:18px;line-height:24px;padding: 0; margin: 0;">
          You have received an invite from <strong><%= @family_owner.name %></strong> to join <%=@family.family_owner_pronoun%> family <strong>'<%= @family.name %>'</strong> as <%= @pregnancy.present? ? "an expecting": "a"  %> <%=@role%>.
        </p>
        <br/>
        <p style="font-size:18px;line-height:24px;padding: 0; margin: 0;">
          You can join the family by clicking the accept button below or decline the invitation by clicking decline
        </p>
      </td>
      <td width="30" style="padding:0;"></td>
    </tr>
  </table>
<% end %>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30"></td>
    <td><a href="<%= @url + '?status=accept' %>"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/button.png" width="170" height="50" alt="Accpet Invitation"></a></td>
        <td width="20"></td>
        <td valign="middle" style="vertical-align: middle"><a href="<%= @url + '?status=reject' %>" style="font-size: 18px; color: #14953A; text-decoration: none; line-height: 26px;">Decline</a></td>
  </tr>
</table>
