   <h3>Dear <%= @user.first_name %>,</h3>
    <p>
      Your request to join <%= @family_member.families.first.family_name %>  is <%= @family_member.status %> by <%= @family_member.first_name %>.
    </p>
    <p>Thanks for joining and have a great day!</p>