<h3>Dear <%= @to_user_name %>,</h3>
<p>
  You have an request from <%= @family_member.first_name %> to join a family.
</p>
<p>
  <%= link_to "Accept", @url + "&status=accepted", :class=>"btn btn-type1 login_btn"  %> &nbsp; <%= link_to "Reject", @url + "&status=rejected", :class=>"btn btn-type2 login_btn"  %>
</p>
<p>Thanks for joining and have a great day!</p>
