    <h3>Dear <%= @family_member.first_name %>,</h3>
    <p>
      Your request to join <%= @family_member.family.family_name %> is <%= @family_member.status %>.
    </p>
    <p>Thanks for joining and have a great day!</p>