<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Dear <%= @family_member.first_name %>,</h3>
    <p>
      I would like you to join my family <%= @family_member.family.family_name %> on Nurturey as a <%= @family_member.role_name %>.
    </p>
    <br/>
    <%= link_to "Accept", @url + "?status=accepted" %> or <%= link_to "Reject", @url + "?status=rejected" %>
    <br/><br/>
   Kind regards,
   <p>
      <%= @family_member.family.user.first_name %> &nbsp;<%= @family_member.family.user.last_name %>
    </p>

  </body>
</html>