<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Dear <%= @user.first_name %></h3>,
    <p>
      Your login details are :-,
      your username is: <%= @user.email %>.<br/>
      your password is: <%= @password %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Login", @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>