<style type="text/css">
body{margin:0;padding:0;}
.container {
  max-width:700px!important;
  display:block!important;
  margin:0 auto!important; /* makes it centered */
  clear:both!important;
}
.imageBox{
  display:block !important;
  vertical-align:bottom !important;
  max-width:100% !important;
}
.birthdayTxt{
  font-size:230%; font-family:Verdana, Geneva, sans-serif; font-weight:bold; color:#722a8f; text-align:center;
}
@media screen and (max-width: 480px) {
.birthdayTxt{
  font-size:18px;
}
}
</style>
<meta name="viewport" content="width=device-width" />
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="container"><a href="<%=@deeplink%>" target="_blank"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/fourth_01.jpg" alt="" class="imageBox" /></a></td>
  </tr>
  <tr>
    <td style="background-color:#000;" class="container">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="3" height="20"></td>
          </tr>
          <tr>
            <td width="15"></td>
            <td style="color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px;">
              <div style="float:left;">Contact: <a href="mailto:support@nurturey.com" style="color:#fff;">support@nurturey.com</a></div>
              <div style="float:right;">
                <a href="https://www.facebook.com/nurtureyonweb?ref=hl"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/comp-fb.png" width="20" height="20" alt="" /></a>
                <a href="https://www.linkedin.com/company/5131995?trk=tyah&trkInfo=tarId%3A1416491704761%2Ctas%3Anurturey%2Cidx%3A2-1-3"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/comp-in.png" width="20" height="20" alt="" /></a>
                <a href="<%=APP_CONFIG['youtube_url']%>"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/comp-you.png" width="20" height="20" alt="" /></a>
                </div>
            </td>
            <td width="15"></td>
          </tr>
          <tr>
            <td colspan="3" height="10"></td>
          </tr>
        </table>

    </td>
  </tr>
  <tr>
     <td class="container"><span style="color:#878787;font-size:11px;"> If you would prefer not to receive e-mails from Nurturey, please click</span> <a href="<%= APP_CONFIG["default_host"] + "/unsubscribe?sub_id=#{@user.member.id}&mtype=#{@type || 0}"%>"><span style="color:black;font-size:11px;">Unsubscribe</span></a></td>
    </tr>
</table>