Hi,<br>
<p>
<%= @mail_content %>
</p>
<p>
<%= link_to "Accept", @url + "?status=accept", :class=>"btn btn-type1 login_btn resend-email-link" %> &nbsp; <%= link_to "Reject", @url + "?status=reject", :class=>"btn btn-type2 login_btn resend-email-link" %>
</p>
<p>Have a great day!</p>
<p>Kind regards,</p>
<p>Team Nurturey</p>
