  <h3>Hi,</h3>
    <p>
      You have an request from <%= @from_user.first_name %> to join a Group ( <%= @group.name %>). 
    </p>
    <p>
      <%= link_to "Accept", @url + "&status=accepted" %> &nbsp; <%= link_to "Reject", @url + "&status=rejected" %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  