Hi,<br/>
<p>
  You have received a request from <%= @invitation.member.name %> to join <%= @invitation.family.name %>.
</p>
<p>

  <%= link_to "Accept", accept_join_family_request_home_index_url(:invitation_id => @invitation.id),   :class=>"btn btn-type1 login_btn resend-email-link" %>
  &nbsp;
  <%= link_to "Decline", decline_join_family_request_home_index_url(:invitation_id => @invitation.id), :class=>"btn btn-type2 login_btn resend-email-link" %>

</p>
<p>Have a great day!</p>
<p>Kind regards,</p>
<p>Team Nurturey</p>