Hi <%= @sender.first_name %>,<br/>
<p>
Your <%= @owner_requested_user ? 'invitation' : 'request' %> to join <%= @invitation.family.name %> has been <%= @invitation.status %> by <%= @receiver.first_name || @receiver.email %>.
</p>
<p>Have a great day!</p>
<p>Kind regards,</p>
<p>Team Nurturey</p>