 Dear <%= @user.member.first_name %>,
<br /><br/>
We are here to help you.
<br/>
We noticed that your child has recently achieved <%= @type %>.<br/>

You can read the following article:<br/>
<h2><% @links.each do |url| %>
<%= url %> <br/>
<% end %>
</h2>

Happy Parenting.
<br/><br/>
Regards,
<br/>
Team Nurturey