<h2>Subscription taken email sent to following user for family:</h2>
<table>
<% @families.each do |family_id,notifications| %>
<% if family_id.present?%>
  <tr>
    <td>
      <%= Family.find(family_id).name%>
    </td>
    <td></td>
    </tr>
    <% notifications.each do |notification| %>
    <tr>
    <td></td>
    <td>
      <% user =  User.find(notification.user_id) %>
      <%= user.email%>(<%=(user.first_name)%>)
    </td>
  </tr>  
  <% end %>
  <% end %>
<% end %>
</table>