<style type="text/css">
body{text-align:"center";bgcolor:"#FFFFFF";leftmargin:"0" topmargin:"0" marginwidth:"0" marginheight:"0"}
</style>
Dear <%=@user.first_name%>,
<br/><br/>
Nurturey’s latest version on AppStore is iOS 10 ready.<br/>
<a href="https://itunes.apple.com/in/app/nurturey/id1023121839?mt=8" target="new">

 <img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/iOS-10-mailer.jpg" width="600" height="906" alt=""/>

 </a>