<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body bgcolor="#AAB2B8" style="padding: 30px 0px; margin: 0px; font-family: 'Helvetica-Neue', 'Arial', 'sans-serif;">
   
    <style>
      @media screen and (max-width:560px) {
        table td p {
          width: auto !important;
          display: block !important;
        }
        
        td.tool, .app-links td {
          width: 100% !important;
          display: block !important;
        }
        
        
      }
    </style>
    <!-- Email Container -->
    <table bgcolor="#fff" align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; margin: 0px auto; max-width: 600px;">
      <tr>
        <td valign="top">
          <!-- Top Part -->
          <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; margin: 0px;">
            <tr><td height="30"></td></tr>
            
            <!-- Logo -->
            <tr>
              <td valign="top" align="center">
                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td width="30"></td>
                    <td align="center"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/Logo.png" alt="Nurturey" style="padding: 0px; margin: 0px;"></td>
                    <td width="30"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td height="30"></td></tr>
            
            <tr>
              <td valign="top" align="center">
                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td width="30"></td>
                    <td valign="top" align="center">
                      <img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/diamond-icon.png" alt="Premium Club" style="padding: 0px; margin: 0px;">
                    </td>
                    <td width="30"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td height="30"></td></tr>
            <tr>
              <td valign="top" align="center" width="100%;">
                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td width="30"></td>
                    <td valign="top" align="center">
                      <p style="margin: 0px; padding: 0px; font-size: 30px;">Glad to have you in our <br/><span style="color: #E18D00;"><strong>Premium club</strong></span></p>
                    </td>
                    <td width="30"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td height="30"></td></tr>
            <tr>
              <td valign="top" align="center">
                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td width="30"></td>
                    <td valign="top" align="center">
                      <p style="margin: 0px; padding: 0px; font-size: 18px; color: #4D4D4D;">You are receiving this mail, as <%= @subscription_user.first_name %> has taken Nurturey's premium subscription for <%=@family.name%>. <br/><br/></p>

                      <p style="margin: 0px; padding: 0px; font-size: 18px; color: #000000;">With the premium subscription, <strong>every adult member</strong> of the family will be able to access all basic and premium tools from Nurturey App. <br/><br/></p>

                      <p style="margin: 0px; padding: 0px; font-size: 18px; color: #4D4D4D;">If you haven't yet, invite your spouse, partner, guardian or other family members.</p>
                    </td>
                    <td width="30"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td height="30"></td></tr>
            <tr>
              <td valign="top" align="center">
                <a href='<%= "#{APP_CONFIG['default_host']}?#{@manage_family_deeplink.to_query}&source=email_deeplink&token=#{@user.deeplink_api_token}" %>' class="js-manage-family-deeplink" >
                  <img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/button3.png" alt="Add adult member" style="padding: 0px; margin: 0px;">
                </a>
              </td>
            </tr>
            <tr><td height="30"></td></tr>
          </table>
          
          
          <!-- Middle Part -->
          <table bgcolor="F7F7F7" width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr><td height="30"></td></tr>
            <tr>
              <td valign="top" align="center">
                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td width="30"></td>
                    <td valign="top" align="center">
                      <p style="margin: 0px; padding: 0px; font-size: 20px;">Don't forget to explore and activate all the Premium tools for <strong>Manage Tools</strong></p>
                    </td>
                    <td width="30"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <a href='<%= "#{APP_CONFIG['default_host']}?#{@manage_tools_deeplink.to_query}&source=email_deeplink&token=#{@user.deeplink_api_token}" %>' class="js-manage-tools-deeplink">
                <img  src="<%= APP_CONFIG["default_host"]%>/assets/mailer/main-image.png" width="100%" alt="Manage Tools" style="margin: 0px; padding: 0px;">
                </a>
              </td>
            </tr>
            <tr>
              <td valign="top" align="center">
                <a href='<%= "#{APP_CONFIG['default_host']}?#{@manage_tools_deeplink.to_query}&source=email_deeplink&token=#{@user.deeplink_api_token}" %>'>
                  <img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/button2.png" alt="Open manage tool" style="padding: 0px; margin: 0px;">
                </a>
              </td>
            </tr>
            <tr><td height="30"></td></tr>
          </table>
          
          <!-- Last Part Part -->
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr><td height="30"></td></tr>
            <tr>
              <td valign="top" colspan="3" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr width="100%" border="0" cellpadding="0" cellspacing="0">
                    <td valign="top" align="center">
                      <p style="margin: 0px; padding: 0px; font-size: 24px;">Checkout the <span style="color: #E18D00"><strong>Premium</strong></span> tools we have for you</p>
                    </td> 
                  </tr>
                  <tr><td height="20"></td></tr>
                </table>
              </td>
            </tr>
          </table>

          <!-- Tool Row 1 -->
          <%@premium_tools.each_slice(3).each do |tools| %>

          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="30"></td>
              <% tools[2] = nil if tools.count < 3 %>
              <% tools.each do |tool| %>
                <% if tool.present? %>
                  <td class="tool" valign="top" width="180">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr><td height="20"></td></tr>
                      <tr>
                        <!-- Tool 1 -->
                        <!-- Tool 2 -->
                        <!-- Tool 3 -->
                        <td height="30" width="30" valign="top">
                          <img src="<%= get_image_if_not_exist(tool ,"#{APP_CONFIG["default_host"]}/assets/mailer/tool.png")%>" alt="<%= tool.title%>" style="display: inline-block; padding: 0px; margin: 0px;" height="30" width="30">
                        </td>
                        <td width="10"></td>
                        <td valign="top">
                          <p style="margin: 0px; color: #000000; font-size: 14px; line-height: 1.9;"><strong><%= tool.title%></strong></p>
                          <p style="margin: 0px 0px; color: #4D4D4D; font-size: 14px;"><%=tool.description%></p>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <% else %>
                    <!-- If tool present -->
                    <td class="tool" valign="top" width="180">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr><td height="20"></td></tr>
                        <tr>
                          <td valign="top" >
                          
                          </td>
                          
                        </tr>
                      </table>
                    </td>
                <% end%>
              <% end %>
              <td width="30"></td>
            </tr>
            
          </table>
          <% end %>
          <!-- Tool Row 2 -->
           
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr><td height="30"></td></tr>
            <tr>
              <td valign="top" colspan="3" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr width="100%" border="0" cellpadding="0" cellspacing="0">
                    <td width="30"></td>
                    <td valign="top" align="center">
                      <p style="margin: 0px; padding: 0px; font-size: 16px;">...and many more are on their way</p>
                    </td>
                    <td width="30"></td>
                  </tr>
                  <tr><td height="20"></td></tr>
                </table>
              </td>
            </tr>
          </table>
          
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr><td height="50"></td></tr>
            <tr><td height="30"></td></tr>
            <tr>
              <td width="30"></td>
              <td valign="top">
                <p style="margin: 0px 0px; color: #6B6B6B; font-size: 14px;">Have a great day!<br>Kind regards,<br>Team Nurturey</p>
              </td>
              <td width="30"></td>
            </tr>
            <tr><td height="50"></td></tr>
          </table>
          
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!-- App stores -->
              <tr>
              <td class="app-links" style="padding:0;border-top: 1px solid #E8E8E8;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                <tr>
                  <td height="60" valign="middle" style="padding:0;">
                  <p class="h3" style="font-size:12px;text-align:center;margin:0px;padding:20px 0;"><b>Nurturey mobile app available on</b></p>
                  </td>
                </tr>
                <tr>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                  <tr>
                    <td width="160"></td>
                    <td valign="top" align="center">
                      <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/AppleStore.jpg" width="150" alt="Apple app store" style="border:0;"></a>
                    </td>
                    <td width="20" height="10" style="padding:0;"></td>
                    <td valign="top" align="center">
                      <a href="https://play.google.com/store/apps/details?id=com.nurturey.app"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/GooglePlay.jpg" width="150" alt="Google Play store" style="border:0;"></a>
                    </td>
                    <td width="160" style="padding:0;"></td>
                  </tr>
                  </table>
                </tr>
                <tr>
                  <td height="30" style="padding:0;"></td>
                </tr>
                </table>
              </td>
              </tr>
            
            <tr>
              <td valign="top">       
                <!-- Footer -->
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td valign="top">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td valign="top" width="250"></td>
                          <td valign="top" width="40"><a href="https://www.facebook.com/nurtureyonweb?ref=hl"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/fb_icon.png" width="40" alt="Facebook"></a></td>
                          <td valign="top" width="20"></td>
                          <td valign="top" width="40"><a href="<%=APP_CONFIG['youtube_url'] || 'https://www.youtube.com/channel/UCXGUiDA4lOtg5tgIADUEMCg'%>"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/youtube_icon.png" width="40" alt="Youtube"></a></td>
                          <td valign="top" width="250"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr><td height="10"></td></tr>
                  <tr>
                    <td valign="top" width="50" align="center"></td>
                    <td valign="top" align="center">
                      <p style="margin: 0px; color: #AFAFAF; font-size: 12px;">This email was sent to <a href="#" style="color: #14953A; text-decoration: none;">
                        <%= @current_user.email%>
                          
                        </a><br>If you no longer wish to receive these emails you may unsubscribe at any time.Nurturey Limited</p><br>
                      <p style="margin: 0px; color: #AFAFAF; font-size: 12px;">Contact us at <a href="#" style="color: #14953A; text-decoration: none;">support@nurturey.com</a></p>
                      
                    
                    </td>
                    <td width="50"></td>
                  </tr>
                  <tr><td height="30"></td></tr>
                </table>
              </td>
            </tr>
          </table>

        </td>
        
      </tr>
      <tr><td height="50"></td></tr>
    </table>
     
  </body>
</html>
