<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style type="text/css">
      @media screen and (max-width: 614px) {
      img[class="responsive-image"] {
      max-width: 100% !important;
      height: auto !important;
      }
      table[class="main-container"] {
      width: 100% !important;
      max-width: 100%;
      padding-top: 0px !important;
      }
      table[class="emailContainer"] {
      min-width: 100% !important;
      padding: 10px;
      padding:30px 0px;
      }
      table[class="stores"] {
      text-align: left;
      width: 100% !important;
      }
      table[class="social-icons"] {
      width: 100% !important;
      padding: 20px 0px;
      }
      td[class="headline-text"] {
      padding: 20px !important;
      }
      table .social-icons .a img {
      text-align: left;
      }
      td[class="find-us-txt"] {
      padding-bottom: 10px;
      }
      table[class="boxes"] {
      width: 100% !important;
      }
      .responsive-table {
      min-width: 100% !important;
      display: block;
      }
      #odd {
      background-color: white !important;
      }
      #even {
      background-color: #F4F4F4 !important;
      }
      .short-border {
      visibility: visible !important;
      }
      }
    </style>
  </head>
  <body style="font-family:'Helvetica', Arial, sans-serif; padding: 0px; margin: 0px; min-width: 100% !important; background-color: #F8F8F8; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
    <center class="wrapper">
      <div class="webkit">
        <table border="0" cellpadding="0" cellspacing="0"  class="main-container" width="600" style="width: 100%; max-width: 600px;" >
          <tr>
            <td height="20" colspan="3"></td>
          </tr>
          <tr>
            <td height="30" colspan="3" align="right" style="font-size: 14px;">
              <% unless @browser %>
              <%= render partial: 'layouts/updated_mailer_layout/view_in_browser', locals: { url_params: { object_name: 'user', object_id: @user.id, mail: 'welcome_email' } }%>
              <% end %>
            </td>
          </tr>
          <tr>
            <td height="10" colspan="3"></td>
          </tr>
          <tr>
            <td>
              <!--[if (gte mso 9)|(IE)]>
              <table width="600" align="center">
                <tr>
                  <td>
                    <![endif]-->
                    <table class="emailContainer" border="0" cellpadding="0" cellspacing="0" width="600" align="center" style="background-color: white; width: 100% !important;">
                      <!-- HEADER -->
                      <tr>
                        <td>
                          <table class="header" width="600" border="0" cellpadding="0" cellspacing="0" style="width: 100% !important;">
                            <tr>
                              <td height="30"></td>
                            </tr>
                            <tr>
                              <td align="center" class="logo"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/logo.jpg" class="responsive-image" height="39" width="118" alt="Nurturey"></td>
                            </tr>
                            <tr>
                              <td height="30"></td>
                            </tr>
                            <tr>
                              <td align="center" class="main-image"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/pa_graphic.jpg" class="responsive-image" width="131" height="191" alt="PA"></td>
                            </tr>
                            <tr>
                              <td height="30"></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <!-- BODY -->
                      <tr>
                        <td>
                          <table class="body" border="0" cellpadding="0" cellspacing="0" width="600" style="width: 100% !important;">
                            <tr>
                              <!-- Headline Row -->
                              <td>
                                <table class="main-headline" width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 100% !important;">
                                  <tr>
                                    <td width="40"></td>
                                    <td width="520" align="center">
                                      <p style="margin: 0px; padding: 0px; font-weight: normal; font-size: 24px;">Hi <%= @user.first_name%>,<br/>thank you for appointing me <br/><span></span>as your personal assistant!</p>
                                    </td>
                                    <td width="40"></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="30"></td>
                            </tr>
                            <tr>
                              <td colspan="3" align="center">
                                <p style="margin: 0px; padding: 0px;font-weight: normal; font-size: 18px;">I will work around-the-clock to assist you in your parenting journey.</p>
                              </td>
                            </tr>
                            <!-- Sub Headline Row -->
                            <tr>
                              <td height="30"></td>
                            </tr>
                            <tr>
                              <td colspan="3" align="center" style="font-size: 14px;"><strong>Here is what I will do for you:</strong></td>
                            </tr>
                            <tr>
                              <td height="20"></td>
                            </tr>
                            <tr>
                              <td>
                                <table class="features" border="0" cellpadding="0" cellspacing="0" width="100%">
                                  <!-- First Box -->
                                  <tr>
                                    <td valign="top" width="50%" height="300" align="center" style="background-color: #F4F4F4;" class="responsive-table">
                                      <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                          <td height="30"></td>
                                        </tr>
                                        <tr>
                                          <td width="30" align="center"></td>
                                          <td width="240" align="center">
                                            <table class="col1_content" border="0" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/col1_icon.png" class="responsive-image" width="71" height="80" alt="Track and Alert"></td>
                                              </tr>
                                              <tr>
                                                <td height="30"></td>
                                              </tr>
                                              <tr>
                                                <td align="center" style="font-size: 16px;">Track and Alert</td>
                                              </tr>
                                              <tr>
                                                <td height="10"></td>
                                              </tr>
                                              <tr>
                                                <td align="center" style="font-size: 14px; color: #898989;">I will track appointments, suggest immunisations, remind you of upcoming health checks and take away all your anxiety!</td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td width="30" align="center"></td>
                                        </tr>
                                        <tr>
                                          <td height="30" colspan="3"></td>
                                        </tr>
                                      </table>
                                    </td>
                                    <!-- Second Box -->
                                    <td valign="top" width="50%" height="300" align="center" class="responsive-table">
                                      <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                          <td height="30"></td>
                                        </tr>
                                        <tr>
                                          <td width="30" align="center"></td>
                                          <td width="240" align="center">
                                            <table class="col1_content" border="0" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/col2_icon.png" class="responsive-image" width="115" height="80" alt="Document and Preserve"></td>
                                              </tr>
                                              <tr>
                                                <td height="30"></td>
                                              </tr>
                                              <tr>
                                                <td align="center" style="font-size: 16px;">Document and Preserve</td>
                                              </tr>
                                              <tr>
                                                <td height="10"></td>
                                              </tr>
                                              <tr>
                                                <td align="center" style="font-size: 14px; color: #898989;">From precious memories to important documents, I will help you logically archive everything on the cloud. This makes everything easily accessible, when you need it the most.</td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td width="30" align="center"></td>
                                        </tr>
                                        <tr>
                                          <td height="30" colspan="3" ></td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                  <!-- Third Box -->
                                  <tr>
                                    <td valign="top" width="300" height="300" align="center" class="responsive-table" id="even">
                                      <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                          <td height="30"></td>
                                        </tr>
                                        <tr>
                                          <td width="30" align="center"></td>
                                          <td width="240" align="center">
                                            <table class="col1_content" border="0" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/col3_icon.png" class="responsive-image" width="86" height="80" alt="Chart and Benchmark"></td>
                                              </tr>
                                              <tr>
                                                <td height="30"></td>
                                              </tr>
                                              <tr>
                                                <td align="center" style="font-size: 16px;">Chart and Benchmark</td>
                                              </tr>
                                              <tr>
                                                <td height="10"></td>
                                              </tr>
                                              <tr>
                                                <td align="center" style="font-size: 14px; color: #898989;">My meticulous tools help you monitor your little one’s growth, both physical and cognitive. I also chart the growth against your country's benchmarks, for an easy visual comparison.</td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td width="30" align="center"></td>
                                        </tr>
                                        <tr>
                                          <td height="30" colspan="3" ></td>
                                        </tr>
                                      </table>
                                    </td>
                                    <!-- Fourth Box -->
                                    <td valign="top" width="300" height="300" align="center" style="background-color: #F4F4F4;" class="responsive-table" id="odd">
                                      <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                          <td height="30"></td>
                                        </tr>
                                        <tr>
                                          <td width="30" align="center"></td>
                                          <td width="240" align="center">
                                            <table class="col1_content" border="0" cellpadding="0" cellspacing="0">
                                              <tr>
                                                <td align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/col4_icon.png" class="responsive-image" width="71" height="80" alt="Learn and Evolve"></td>
                                              </tr>
                                              <tr>
                                                <td height="30"></td>
                                              </tr>
                                              <tr>
                                                <td align="center" style="font-size: 16px;">Learn and Evolve</td>
                                              </tr>
                                              <tr>
                                                <td height="10"></td>
                                              </tr>
                                              <tr>
                                                <td align="center" style="font-size: 14px; color: #898989;">I will constantly upgrade my knowledge, as we work together. My AI algorithms are designed to learn from other users, other geographies, and a pool of global parenting experts.</td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td width="30" align="center"></td>
                                        </tr>
                                        <tr>
                                          <td height="30" colspan="3"></td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="20"></td>
                            </tr>
                            <tr>
                              <td class="short-border" style="visibility: hidden;">
                                <table width="100%" border="0">
                                  <tr>
                                    <td width="250"></td>
                                    <td width="100" style="background-color: #D2D2D2;"></td>
                                    <td width="250"></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="20"></td>
                            </tr>
                            <tr>
                              <td>
                                <table border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="60"></td>
                                    <td width="480" align="center" style="font-size: 18px; line-height: 26px;">Apart from my ever-growing list of tools, I also intelligently shortlist relevant content from across the world, so you can read what’s most pertinent to you, at every stage of your journey!<br/><br/><span style="color: #14953A">I’m glad we’re in this together. Here’s to happy parenting!</span></td>
                                    <td width="60"></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="50"></td>
                            </tr>
                            <tr>
                              <td>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td width="100%" style="line-height: 26px; color: #6B6B6B;" align="center">Kind regards,<br/>Team Nurturey</td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="50"></td>
                            </tr>
                            <tr>
                              <td align="center" style="border-top: 1px #E8E8E8 solid;">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                  <tr>
                                    <td height="20" colspan="5"></td>
                                  </tr>
                                  <tr>
                                    <td style="font-size: 14px;" align="center" colspan="5"><strong>Nurturey mobile App available on</strong></td>
                                  </tr>
                                  <tr>
                                    <td height="20"></td>
                                  </tr>
                                  <tr>
                                    <td width="140" align="center"></td>
                                    <td width="150" align="center"><a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/AppleStore.jpg" width="150" height="50" alt="Apple App Store"></a></td>
                                    <td width="20" align="center"></td>
                                    <td width="150" align="center"><a href="https://play.google.com/store/apps/details?id=com.nurturey.app"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/GooglePlay.jpg" width="150" height="50" alt="Google Play Store"></a></td>
                                    <td width="140" align="center"></td>
                                  </tr>
                                  <tr>
                                    <td height="20" colspan="5"></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <!-- BODY  End -->
                        </td>
                      </tr>
                    </table>
                    <!-- MAIN Container End -->
                    <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
          <!-- Footer -->
          <%#= render partial: "layouts/updated_mailer_layout/footer" %>
          <!-- Footer Ends -->
          <tr>
            <td height="50"></td>
          </tr>
        </table>
      </div>
    </center>
  </body>
</html>
