<h3>Dear <%= @user.first_name %>,</h3>
<p>
  You have successfully signed up to www.nurturey.com,
  your username is: <%= @user.email %>.<br/>
</p>
<p>
  To login to the site, just follow this link: <%= link_to "Login", @url, :class=>"btn btn-type1 login_btn resend-email-link" %>.
</p>
<p>Thanks for joining and have a great day!</p>
