<link rel="stylesheet" href="../css/default-style.css"/>
<link rel="stylesheet" href="../css/dropzone.css"/>
<script type="text/javascript" src="../scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../scripts/dropzone.js"></script>
<div style="width:600px; background-color:#F00;"><div class="media-upload">
    <form action="#" class="dropzone">
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
</div></div>
