<br/>
<br/>
<h2> Upload file with email list(.xlsx/.xls)</h2>
<%= form_tag "/admin/unregister_from_email/unregister_email_from_list", url:"/admin/unregister_from_email/unregister_email_from_list",multipart:true  do %>
<div class="form-type1">
  <div class="form-row">
  </div> 
  <div class="form-row"> 
   <%= file_field_tag :email_list_file   %>
  </div>
 
  <div class="form-row">
    <%=  submit_tag "Submit",class:"btn btn-type2" %>
  </div>
</div>
<% end %>
<br/>
<br/>
<br/>

<h2> Unregister Email List </h2>
<br/>

<table id="unregister_email_detail"  cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>                                   </th>
      <th>Email                              </th>
      <th>Unregistered On Date                    </th>
      <th>Unregistered By                         </th>

    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>                                   </th>
      <th>Email                              </th>
      <th>Unregistered On Date                    </th>
      <th>Unregistered By                         </th>

    </tr>
  </tfoot>
  <tbody>
   
    <% if @unregister_email.present? %>
     <% @unregister_email.each do |unregister_email_detail|  %>
        <tr id="dataRow1">
            <td></td>
            <td><%=unregister_email_detail.user_email%></td>
            <td><%=unregister_email_detail.unregister_on_date.strftime("%d-%m-%Y")%></td>
            <td><%=(unregister_email_detail.unregister_by_user_name || unregister_email_detail.unregister_by_member_id || unregister_email_detail.unregister_by)%></td>
             
        </tr>
      <% end %>  
    <% end %>
    </tbody>
</table> 
  </div> 
  <div class="CL"></div>
 
  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#unregister_email_detail').DataTable( {
       
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 0, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    
} );
 </script> 
 <style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
}

.dataTables_scrollBody{
  min-height: 123px !important;
}
 

 </style>
