<%= form_for("user", :url => new_user_session_path(params.merge({:alexa=>true}))) do |f|%>
            <div class="form-box">
              <h3 class="text-center">Login to your Account</h3>
              <%= link_to user_omniauth_authorize_path(:facebook) do %>
                <img src="/assets/website/images/fb-login.png" alt="" width="100%"/>
              <% end %>
              <div class="orBox"><span>or</span></div>
              <div class="form-horizontal login-control" style=<%= @error.present? ? 'border-color:red;' : nil %>>
                <div class="form-group">
                  <div class="input-group">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <%= f.text_field :email, :value => get_email_value, :class=>"form-control email_field", :id => "login_email", "parsley-required"=>"true", :placeholder => "Email", :readonly => (@invitation ? true : false), "parsley-type"=>"email", "parsley-trigger"=>"keyup",autofocus: true %>
                   
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <i class="glyphicon glyphicon-lock"></i>
                    <%= f.password_field :password, :autocomplete =>"off", "parsley-minlength"=>"8", :class=>"form-control", "parsley-required"=>"true", :placeholder => "Password(min 8 chars)" %>
                  
                  </div>
                </div>
              </div>
               <div class="form-action">
                <input type="submit" value="Login" class="btn btn-burgundy">
                
              </div>
              <div class="row">
                <div class="col-xs-6">
                   
                <div class="col-xs-6 text-right">   </div>
              </div>
            </div>
          <% end %>