  <%= form_for(User.new, :as => (resource_name rescue "user"), :url => "/users/password", :html => { :method => :post }) do |f| %>
 <div class="form-box">
            <h5 class="no-margin-top">Enter your email used at the time of <strong>Sign up</strong></h5>
            <div class="form-horizontal signup-control">
              <div class="form-group">
                <div class="input-group">
                  <i class="glyphicon glyphicon-envelope"></i>
                  <%= f.text_field :email, :value => get_email_value, :class=>"form-control", :autofocus => true, :placeholder => "Email", :style => "#{flash[:notice].present? ? 'border-color:red;' : nil}" %>
                </div>
              </div>
            </div>
            <div class="form-action">
              <input type="submit" value="Send Reset Instructions" class="btn btn-burgundy">
            </div>
            <% end %>