    <div class="form-box">
      <h3 class="text-center">
        <!-- Sign up on Beta for free -->
        Sign up to appoint me
        <br/>
        <small class="txt-green" >
          I work for FREE :)
        </small>        
      </h3>
      <!-- <a href="#."><img src="images/fb-login.png" alt="" style="width:100%;"/></a> -->
      <%= link_to user_omniauth_authorize_path(:facebook) do %>
        <img src="/assets/website/images/fb-login.png" alt="" width="100%"/>
      <% end %>
      <div class="orBox"><span>or</span></div>
      <!-- <span class='txt-green'>
          It's completely FREE
        </span> -->
       <%= form_for User.new, :url => '/users', :html=>{:method=>'post', :class=>"form-horizontal", "parsley-validate" => "parsley", :id => "new_user"} do |f| %>
      <div class="form-horizontal login-control" style=<%= @error.present? ? 'border-color:red;' : nil %>>
        <div class="form-group">
          <div class="input-group">
            <i class="glyphicon glyphicon-envelope"></i>
             <%= f.text_field :email, :value => (@invitation ? @invitation.member.email : nil), :class=>"form-control email_field", :id => "signup_email", "parsley-required"=>"true", :placeholder => "Email", :readonly => (@invitation ? true : false), "parsley-type"=>"email", "parsley-trigger"=>"keyup" %>
            <!-- <input class="form-control" type="email" placeholder="Email"> -->
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <i class="glyphicon glyphicon-lock"></i>
            
           <%= f.password_field :password, value: get_password_value, :autocomplete =>"off", "parsley-minlength"=>"8", :class=>"form-control js-password", "parsley-required"=>"true", :placeholder => "Password(min 8 chars)" %>
            <!-- <input class="form-control" type="password" placeholder="Password"> -->
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12" style="font-size: 10px;">
          <%=raw(Message::DEVISE[:m20])%> 
        </div>
      </div>
      <br/>
      <div class="row">

        <div class="col-xs-12">
           
           By creating your Nurturey account you confirm that you agree with Nurturey's <a href="/home/terms" target="_blank" class="txt-green">Terms of Service</a>.
        </div>
      </div> 
      <div class="form-action">
        <input type="submit" value="Sign up" class="btn btn-burgundy">
      </div>
    <% end %>
  </div>