<div class="singleBx-type6a">
  <div class="titleBar reset-margin">
    <h1><%=profile_image_tag(@member,"small") %> CALENDAR</h1>
    <div class="actionBar">
    <% if (google_sync_link rescue false) %>
      <% if  !@google_synced.present? %>
        <%= link_to "Sync to Google calendar", user_omniauth_authorize_path(:google_oauth2), :class=>"txt-link" %>
      <% else %>
        <span style="color:grey; font-weight: 500;padding: 0 8px;text-decoration: none;">Synced to Google calendar</span>
      <% end %>
    <% end %>
     <a href="#html" data-pop="/calendar/new?member_id=<%=@member.id%>" data-width="510" class="btn btn-big-type1 icon-plus">Add</a>
     
    </div>
   </div>
  
 </div>