<div class="logoBack">
  <h2 class="space-bottom-1"><i class="icon-calender info-icon"></i> Calendar</h2>
    <ul class="pin-list">
        <li>All events of a child in her calendar will be synced with the calendars of all parents.</li>
        <li>Events from other tools, such as Immunisations will be posted automatically.</li>
    </ul>
    <div class="form-type3">
        <div class="form-action-row">
            <input type="button" value="Got it!" class="btn btn-type2" style="margin-left:42px;" onclick="$.fn.close();"/>
        </div>
    </div>
</div>
