<%= form_for @event,url:"/calendar/event_update", :html => { :multipart => true }, :remote=>true do |f| %>
<div>
  <h2 class="space-bottom-1">Edit Event</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    <div class="form-row">
        <label class="form-label">Title</label>
        <%= f.text_field :name, class: "js-name textBx-type2", placeholder:"Event name",maxlength: title_length %>
       <%= hidden_field_tag :event_id, @event.id %>
    </div>
        <!-- <div class="form-row"><input type="checkbox" name="all_day" id="jab2" class=" js-all-day custom-checkbox-2" > -->
        <%= f.check_box :all_day, {class: "js-all-day custom-checkbox-2", id:"jab2"} %>
        <label for="jab2" style="vertical-align:middle;"></label>
        All Day Event</div>
    <div class="form-row">
        <div class="singleBx-type7">
            <div class="form-row">
                <label class="form-label">Start</label>
                <div class="textBx-type3">
                <%= f.text_field :start_date, value: toDate(@event.start_date || Date.today), class: "textBx-type1 dateInput js-event" , :readonly=>true,:style=>"position: relative;z-index: 100000;" %>
                </div>
            </div>
            <div class="form-row no-margin-bottom">
                <div class="textBx-type3a">
                 <%= f.text_field :start_time, class: "textBx-type1 timeInput ", placeholder: "Start time", :readonly=>true, value: (@event.start_time || DateTime.now).strftime("%H:%M")  %>
                     
                </div>
            </div>
        </div>
        <div class="singleBx-type7">
            <div class="form-row">
                <label class="form-label">End</label>
                <div class="textBx-type3">
                   <%= f.text_field :end_date, value: toDate(@event.end_date || Date.today), class: "textBx-type1 dateInput js-event", :readonly=>true ,:style=>"position: relative;z-index: 100000;" %>
                </div>
            </div>
            <div class="form-row no-margin-bottom">
                <div class="textBx-type3a">
                <%= f.text_field :end_time, class: "js-start_date textBx-type1 timeInput", placeholder: "End time", :readonly=>true, value: ((@event.end_time || DateTime.now)).strftime("%H:%M")%>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row no-margin-bottom">
        <%= f.text_area :description, cols: 30, rows: 3, placeholder: "Description", class: "textBx-type2" %>
        <!-- <textarea name="" id="" cols="30" rows="3" placeholder="Description" class="textBx-type2"></textarea> -->
    </div>
    </div>
    <div class="form-type3"><div class="form-action-row">
      <%= f.submit "Update", class: "btn btn-type2", disable_with: "Updating.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
<script type="text/javascript">
$(function(){
  <% if @event.all_day %>
    $(".timeInput").prop("disabled", true);
    $(".timeInput").css({ 'color': 'grey'});
  <% end %>
$("body").on("change",".js-all-day",function(){
    if(this.checked) {
        // $(".timeInput").val("")
  $(".timeInput").prop("disabled", true);
   $(".timeInput").css({ 'color': 'grey'});
}
else{
    // $(".timeInput").val("<%=DateTime.now.strftime('%H:%M')%>")
  $(".timeInput").prop("disabled", false);
   $(".timeInput").css({ 'color': ''});

}
})

})
</script>