
<% if @event.errors.present? %>
 $(".red").removeClass("red");
  $(".js-"+ "<%= @event.errors.messages.keys.join(', .js-')%>").addClass("red")
<% else %>
$('#calendar').fullCalendar( 'removeEvents', ["<%=@event.id%>"] );

$('#calendar').fullCalendar( 'renderEvent', {
    id: "<%=@event.id%>",
    title: "<%=@event.name.slice(0..7).html_safe %>",
    start: "<%=(@event.start_date).iso8601 %>",
    end: "<%=(@event.end_date).iso8601 %>",
    allDay: <%=(@event.all_day rescue false) %>,
    recurring:  false,
    backgroundColor: "#C0D230",
    textColor: "black",
    type: "Event"
}, true );
 
$.fn.close();
<% end %>