$("#calendar").remove();
  if($(".left-section").length==0){
    $(".bodywapper").html("")
     $(".bodywapper").append('<div class="left-section"></div>');
    $(".left-section").html("<%= escape_javascript(render :partial=>'/timeline/left_section')%>");
  }
  
    if($(".center-section").length==0){
      $(".bodywapper").append('<div class="center-section"></div>')
    }
    $(".center-section").html("<%= j render :partial=>'header'%>");

    $(".center-section").append('<div class="singleBx-type8"><div class="titleBar-type2" style="height: 25px;">&nbsp;</div><div id="calendar"></div></div>');
    if($(".right-section").length==0){
      $(".bodywapper").append('<div class="right-section"></div>')
     
    }
 $(".right-section").html("")



 
  $(document).ready(function() {
        var  url_for_event = "get_parent_data";
    $('#calendar').fullCalendar({
      defaultView: 'month',
      header: {
        left: 'prev title next today',
        center: '',
        right: 'agendaDay,agendaWeek,month'
      },
      editable: false,
      disableDragging: true,
      events: "/calendar/" + url_for_event,
      timeFormat: 'hh:mm tt{ - hh:mm tt} ',
      dragOpacity: "0.5",
      dayClick: function(date, allDay, jsEvent, view){
        $.fn.close();
        $.fn.popclick({pop: "/calendar/new?member_id=<%=@member.id%>&date=" + date.toLocaleDateString(), width: "510" })
      },
      eventClick: function(calEvent, jsEvent, view){
        view.calendar.changeView("agendaDay");
        $("#calendar").fullCalendar("gotoDate",calEvent.start);
        $(".calender-class[title= 'agendaDay']").click()
      },
      eventMouseover: function(event){
        var orignal_event = $(this);
        if($(this).find(".hoverBtns").length == 0)
          $(this).find(".fc-event-inner.fc-event-skin").append("<span class='hoverBtns'><img class='deleteEventBtn' src='/assets/cross-image.png' style='display:inline;'> <img class='editEventBtn' src='/assets/edit.png' style='display:inline;'> </span>");
          $(this).find(".hoverBtns").show();
          $(".deleteEventBtn", this).on("click", function(click_event) {
            if (event.handled != true) {
              var param_id = $("#params_id").val();
              if(deleteAct(param_id, event.id, event.type) == true)
                orignal_event.remove();
              event.handled = true;
            }
            click_event.stopPropagation();
          });
          $(".editEventBtn", this).on("click",  function(click_event) {
            var param_id = $("#params_id").val();
            if (event.handled != true) {
                var url = "";
                if(event.type == "Event"){
              $.fn.popclick({pop: "/calendar/edit_event?event_id="+event.id, width: 600 })
               }
              else if(event.type == "exam")
                url = "/create_exam?id="+param_id+"&child_exam_id="+event.id;
              else if(event.type == "exam_schedule")
                url = "/create_exam_schedule?exam_id="+event.exam_id+"&schedule_id="+event.id+"&edit=true";
              else if(event.type == "holiday")
                url = "/school/edit_holiday?id="+event.id;
              else if(event.type == "Jab")
                {
              $.fn.popclick({pop: "/immunisation/edit_jab?jab_id="+event.id, width: 600 })
              // jQuery.facebox({ajax: url});
            }
              event.handled = true;
            }
           click_event.stopPropagation();
          });
        event.handled = false;

      },
      eventMouseout: function(event) {
        $(this).find(".hoverBtns").hide();
      }
    });

   
});
<% if @display_calendar_info %>
  $.fn.popclick({pop: "<%= calendar_info_calendar_index_path %>", width: "600" })
<% end %>  
