<div class="bodyWapper">
  <div class="tabBox">
    <% link_to "All Activities", child_activities_list_path+"?id="+selected_member.id %>
    <%= link_to "TimeLine", "#", :class=>"tabSelected" %>
    <div class="CL"></div>
  </div>
  <div class="tabContainer">
    <div class="tabAction">      
      <div class="CL"></div>
    </div>
    <div class="time-line-box">
      <iframe scrolling="no" src="time_line" style="border: none;height: 600px; width:100%;"></iframe>
    </div>
    </div>
  </div>
</div>
