<div class="singleBx-type6" >

<%= form_tag "/admin/kpi/kpi_data_on_date", url:"/admin/kpi/kpi_data_on_date", method: :get  do %>
  <div class="form-type1">
    Select Date
    <div class="form-row">
      <%= text_field_tag :start_date, (params[:start_date]|| Date.today), style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>    
    </div>
    <div class="form-row">
      <%= submit_tag "Search",class:"btn btn-type2" %>
    </div>
  </div>
<% end %>
</div>
<style type="text/css">
    .table_content{
        background: white;
        font-size: 14px;
    }
</style>