  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-role').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_tool",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> Tool List </h2>
<br/>
<%= link_to "Add New Tool", "/admin/tool_list_maintenance/new_tool" %>
 
<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th></th>
             <th>Title            </th>
            <th>Identifier             </th>
            <th>Description             </th>
            <th>Pregnancy Description             </th>
            <th>Categories             </th>
            <th>Recommended             </th>
            <th>Position             </th>
            <th>Tool Category             </th>
            
             
            <th>Tool For             </th>
            <th>Feature Type            </th>
            <th>Launch Status             </th>
            <th>Supported Api Version             </th>
            <th>Android Supported App Version             </th>
            <th>Ios Supported App Version             </th>
            <th>Is Mandatory             </th>
            <th>Info Screen             </th>
            <th>Subscription Box Data             </th>
            
            <th>Action            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Title            </th>
            <th>Identifier             </th>
            <th>Description             </th>
            <th>Pregnancy Description             </th>
            <th>Categories             </th>
            <th>Recommended             </th>
            <th>Position             </th>
            <th>Tool Category             </th>
             
            
            <th>Tool For             </th>
            <th>Feature Type            </th>
            <th>Launch Status             </th>
            <th>Supported Api Version             </th>
            <th>Android Supported App Version             </th>
            <th>Ios Supported App Version             </th>
            <th>Is Mandatory             </th>
            <th>Info Screen             </th>
            <th>Subscription Box Data             </th>
            <th >Action            </th>
             
          </tr>
        </tfoot>
        <tbody>
          
     <% @tools.each do | tool |  %>
        <tr id="dataRow1">
            <td></td>
            <td > <%= tool.title %></td>
            <td > <%= tool.identifier %></td>
            <td> <%= tool.description%>  </td>
            <td> <%= tool.pregnancy_description%>  </td>
            <td> <%= tool.categories %></td>
            <td> <%= tool.recommended%>  </td>
            <td> <%= tool.position %></td>
            <td> <%= tool.tool_category%>  </td>
             
          
            <td> <%= tool.tool_for%>  </td>
            <td> <%= tool.feature_type %>  </td>
            <td> <%= tool.launch_status%>  </td>
            <td> <%= tool.supported_api_version == -1 ? "NA" : tool.supported_api_version%>  </td>
            <td> <%= tool.android_supported_app_version_str%>  </td>
            <td> <%= tool.ios_supported_app_version_str%>  </td>
            <td> <%= tool.is_mandatory%>  </td>
            <td> <%= tool.info_screen%>  </td>
            <td> <%= tool.subscription_box_data%>  </td>
             
            <td> <%=link_to "","/admin/tool_list_maintenance/#{tool.id}/edit",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/tool_list_maintenance/delete_tool?id=#{tool.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{tool.id}" %>
            </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
