<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <%#= link_to "Role List", "/admin/role_for_admin_panel" %> 
 <br/>
 <br/>
 <br/>
 <%= @tool.errors.full_messages.first if @tool.errors.any? %>

<%= form_for @tool,url:"/admin/tool_list_maintenance", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Add Tool</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
        <label class="form-label">Title</label>
         <%= f.text_field :title, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Identifier</label>
         <%= f.text_field :identifier, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
        <label class="form-label">Description</label>
         <%= f.text_field :description, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Pregnancy Description</label>
         <%= f.text_field :pregnancy_description, class: "js-name textBx-type2"  %>
    </div>
    



    <div class="form-row">
        <label class="form-label">Categories</label>
        <select  id="nutrient_categories" class="textBx-type2 js-category" name="nutrient[categories]" multiple="multiple">
          <%@tool_categories.each do |a|%>
            <option value="<%=a%>" selected><%=a%></option>
          <% end %>

        </select>
        <!-- <label class="form-label">Categories</label>-->
         <%= hidden_field_tag :categories  %> 
    </div>



    <div class="form-row">
        <label class="form-label">Recommended</label>
        <%= f.select :recommended, options_for_select(['true','false'],@tool.recommended), :class => 'custom-select1  ' %>
          
    </div> 

    <div class="form-row">
        <label class="form-label">Position</label>
        <%= f.select :position, options_for_select((1..50),@tool.position), :class => 'custom-select1  ' %>
          
    </div>



    <div class="form-row">
        <label class="form-label">Tool Category</label>
        <%= f.select :tool_category, options_for_select(["basic","premium"],@tool.tool_category), :class => 'custom-select1  ' %>
          
    </div>

     

     
    <div class="form-row">
        <label class="form-label">Tool For</label>
        <%= f.select :tool_for, options_for_select(["child", "pregnancy", "adult","CP"],@tool.tool_for), :class => 'custom-select1  ' %>
          
    </div> 
    <div class="form-row">
        <label class="form-label">Feature Type</label>
        <%= f.select :feature_type, options_for_select(["tools", "general","core","box","button"],@tool.feature_type), :class => 'custom-select1  ' %>
          
    </div> 

    <div class="form-row">
        <label class="form-label">Launch Status</label>
        <%= f.select :launch_status, options_for_select(["launched","soft_launch","coming_soon","upgrade"],@tool.launch_status), :class => 'custom-select1' %>
          
    </div>


    <div class="form-row">
        <label class="form-label">Supported Api Version</label>
        <%= f.select :supported_api_version, options_for_select(app_version_supported_options,@tool.supported_api_version), :class => 'custom-select1  ' %>
          
    </div>
    <div class="form-row">
        <label class="form-label">Android Supported App Version(eg. NA, 1.2.3, ..)</label>
         <%= f.text_field :android_supported_app_version_str, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Ios Supported App Version(eg. NA, 1.2.3, ..)) </label>
         <%= f.text_field :ios_supported_app_version_str, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Is Mandatory</label>
        <%= f.select :is_mandatory, options_for_select(["true","false"],@tool.is_mandatory), :class => 'custom-select1  ' %>
          
    </div>
    <div class="form-row">
        <label class="form-label">Info Screen </label>
         <%= f.text_field :info_screen, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
      <label class="form-label">Subscription Box Data (eg. {"title"=>"here is title", "values"=>["first", "second", "three"]}) </label>
      <%= f.text_field :subscription_box_data, class: "js-name textBx-type2"  %>
    </div>


    <div class="form-type3"><div class="form-action-row">
      
  
    </div></div>
  </div>
</div>
<% end %>
 <div class = "btn btn-type2 js-form-tool">  Create</div>
 <%= button_to "Cancel", "/admin/tool_list_maintenance", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>


<script type="text/javascript">
  $(document).ready(function(){
    $("#nutrient_categories").tokenize({datas:"select",placeholder:""});
    $(".js-form-tool").click(function(){
      var categories = $("#nutrient_categories").tokenize().toArray().join(",")
      $("#categories").val(categories);
      $("#new_nutrient").submit();
    });
  });
</script>