<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <div>
 <%= @record.errors.full_messages.first if @record.errors.any? %>
</div>
<br/>
<br/>
<%url = @record.new_record? ? "/admin/system_template/create_system_record" : "/admin/system_template/update_system_record"%>
<%= form_for @record,url:url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @record.new_record? ? "Add" : "Update"%> System Checkup<%#= @record.class%></h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
     <%= hidden_field_tag :template_id, @system_template.id %>
     <%= hidden_field_tag :country_code, params[:country_code] %>
     <%= hidden_field_tag :class_name, "System::Child::CheckupPlanner::Checkup" %>
      
     <% if !@record.new_record?%>
       <%= hidden_field_tag :record_id, @record.id %>
     <% end %>
     <div class="form-row">
        <label class="form-label">Name</label>
        <%= f.text_field :title, class: "js-name textBx-type2"  %>
     </div>

    <div class="form-row">
       <label class="form-label">Country</label>
       <%= f.select :country_code, options_for_select(ISO3166::Country.all_names_with_codes,((@record.country_code|| params[:country_code]).upcase rescue nil)), :class => 'custom-select1  ' %> 
    </div>
    <div class="form-row">
       <label class="form-label">Time frame</label>
       <%= select_tag :duration, options_for_select((0..365),(@record.time_frame.split(".")[0] rescue 0) ), :class => 'custom-select1' %>
       <%= select_tag :frequency, options_for_select(["hours","day","month","years"],(@record.time_frame.split(".")[1].downcase rescue 0) ), :class => 'custom-select1' %> 
    </div>

    <div class="form-row">
        <label class="form-label">Description</label>
        <%= f.text_field :description, class: "js-name textBx-type2"  %>
     </div>
     
      <div class="form-row">
        <label class="form-label">Time Frame Text</label>
        <%= f.text_field :time_frame_text, class: "js-name textBx-type2"  %>
      </div>


    <div class="form-type3"><div class="form-action-row">
      <%= f.submit (@record.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
<% url = "/admin/system_template/show_system_record?country_code=#{params[:country_code]}&class_name=#{@redirect_to_url}&template_id=#{@system_template.id}&record_id=#{@parent_mapped_id || @record.id}" %>

 <%= link_to "Cancel", "#{url}",  class: "btn btn-type2"  %>
 <%= link_to "Back to list", "/admin/system_template/#{@system_template.id}?country_code=#{(params[:country_code]|| @country_code)}",  class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
