<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
<div>
  <%= @record.errors.full_messages.first if @record.errors.any? %>
</div>
<br/>
<br/>
<%url = @record.new_record? ? "/admin/system_template/create_system_record" : "/admin/system_template/update_system_record"%>
<div class=js-new_form>
  <div class="js-add_existing_test_text btn btn-type2" > Add existing test</div>
  <%= form_for @record,url:url, :html => { :multipart => true } do |f| %>
    <div>
      <h2 class="space-bottom-1"><%= @record.new_record? ? "Add" : "Update"%> System Checkup Test<%#= @record.class%></h2>
      <div class="form-type2">
        <div class="form-row no-margin-bottom">
          <%= hidden_field_tag :template_id, @system_template.id %>
          <%= hidden_field_tag :country_code, params[:country_code] %>
          <%= hidden_field_tag :class_name, "System::Child::CheckupPlanner::Test" %>
          <% if @parent_mapped_id.present? %>
            <%= hidden_field_tag :checkup_id, @parent_mapped_id %>
          <% end %>
          <% if !@record.new_record?%>
            <%= hidden_field_tag :record_id, @record.id %>
          <% end %>
          <%= f.hidden_field :added_by, value:"system" %>
          <div class="form-row">
            <label class="form-label">Title</label>
            <%= f.text_field :title, class: "js-name textBx-type2"  %>
          </div>
     
          <div class="form-row">
            <label class="form-label">Description</label>
            <%= f.text_field :description, class: "js-name textBx-type2"  %>
          </div>

         
          <div class="form-type3"><div class="form-action-row">
            <%= f.submit (@record.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
<div class="js-add_existing_test" style="display: none;">
  <div class="js-cancel_add_existing_test btn btn-type2"> Add new </div>
  <%= form_tag "/admin/system_template/add_existing_checkup_test", :html => { :multipart => true } do |f| %>
    <div>
    <h2 class="space-bottom-1"><%= @record.new_record? ? "Add" : "Update"%> System Checkup Test<%#= @record.class%></h2>
    <div class="form-type2">
      <div class="form-row no-margin-bottom">
        <%= hidden_field_tag :template_id, @system_template.id %>
        <%= hidden_field_tag :country_code, params[:country_code] %>
        <%= hidden_field_tag :class_name, "System::Child::CheckupPlanner::Test" %>
         <%= hidden_field_tag :checkup_id, @parent_mapped_id %>
        <%= select_tag :test_id, options_from_collection_for_select(System::Child::CheckupPlanner::Test.all,"id","title_with_description")%>
        <%= submit_tag "Add", class: "btn btn-type2", disable_with: "Saving.."  %>
      </div>
    </div>
  <% end %>
  <br/>
</div>
</div>
<% url = "/admin/system_template/show_system_record?country_code=#{params[:country_code]}&class_name=#{@redirect_to_url}&template_id=#{@system_template.id}&record_id=#{@parent_mapped_id || @record.id}" %>

 <%= link_to "Cancel", "#{url}",  class: "btn btn-type2"  %>
 <br/>
 <%= link_to "back to list", "/admin/system_template/#{@system_template.id}?country_code=#{(params[:country_code]|| @country_code)}",  class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
<script type="text/javascript">
  $(document).ready(function(){
    $(".js-add_existing_test_text").click(function(){
      $(".js-new_form").hide();
      $(".js-add_existing_test").show();
    })

    $(".js-cancel_add_existing_test").click(function(){
      $(".js-new_form").show();
      $(".js-add_existing_test").hide();
    })
  });
</script>