<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <div>
 <%= @record.errors.full_messages.first if @record.errors.any? %>
</div>
<br/>
<br/>
<%url = @record.new_record? ? "/admin/system_template/create_system_record" : "/admin/system_template/update_system_record"%>
<%= form_for @record,url:url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @record.new_record? ? "Add" : "Update"%> System Jab<%#= @record.class%></h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
     <%= hidden_field_tag :template_id, @system_template.id %>
     <%= hidden_field_tag :country_code, params[:country_code] %>
     <%= hidden_field_tag :class_name, "SystemJab" %>
     <% if @parent_mapped_id.present? %>
       <%= f.hidden_field :system_vaccin_id, value:@parent_mapped_id %>
     <% end %>
     <% if !@record.new_record?%>
       <%= hidden_field_tag :record_id, @record.id %>
     <% end %>
    <!--  <div class="form-row">
        <label class="form-label">Name</label>
        <%#= f.text_field :name, class: "js-name textBx-type2"  %>
     </div> -->

    <div class="form-row">
       <label class="form-label">Jab Route</label>
       <%= f.select :jab_type, options_for_select(SystemVaccin::RouteType,@record.jab_type), :class => 'custom-select1  ' %> 
    </div>
    <div class="form-row">
       <label class="form-label">Due on</label>
       <%= select_tag :duration, options_for_select((0..365),(@record.due_on.split(".")[0] rescue 0) ), :class => 'custom-select1' %>
       <%= select_tag :frequency, options_for_select(["days","weeks", "months","years"],(@record.due_on.split(".")[1].downcase rescue 0) ), :class => 'custom-select1' %> 
    </div>

    <div class="form-row">
        <label class="form-label">Jab Location(Site of administration)</label>
          <%= f.select :jab_location, options_for_select([["Right Thigh","Right Thigh"],["Left Thigh","Left Thigh"],["Right upper arm","Right upper arm"],["Left upper arm","Left upper arm"],["Mouth","Mouth"],["Nostrils","Nostrils"],['None','']],@record.jab_location), :class => 'custom-select1  ' %> 
         
     </div>
     
      <!-- <div class="form-row">
        <label class="form-label">Route</label>
        <%#= f.text_field :route, class: "js-name textBx-type2"  %>
      </div>
 -->
      <div class="form-row">
        <label class="form-label">Trade Name</label>
        <%= f.text_field :jab_trade_name, class: "js-name textBx-type2"  %>
     </div>
 
    <div class="form-row">
        <label class="form-label">Given only After Birth Date(eg. 01-Jan-2020)</label>
        <%= f.text_field :given_after_birth_date, class: "js-name textBx-type2"  %>
     </div>
    <!-- <div class="form-row">
        <label class="form-label">Note</label>
        <%#= f.text_field :note, class: "js-name textBx-type2"  %>
     </div> -->
   
   <%# gpsoc_immunisation_jab = (@record.gpsoc_immunisation_jab || {}) rescue {}%>
     <% #value = gpsoc_immunisation_jab.present? ? "ID: #{gpsoc_immunisation_jab['custom_id']},  Title: #{gpsoc_immunisation_jab['term']} , SNOME code: #{gpsoc_immunisation_jab['snomed_code']},SNOMEDCT ID: #{gpsoc_immunisation_jab['snomed_ct_description_id']}" : nil %>
        <!-- <label class="form-label">GpSoc Immunisation Jab(Type ID/name/code below to select)</label> -->
        <%#= autocomplete_field_tag :gpsoc_immunisation_jab_custom_id,'',autocomplete_gpsoc_immunisation_jab_title_admin_system_template_index_path,:value=>value, :id_element=>'#system_jab_gpsoc_immunisation_jab_custom_id',:size=>120,'data-auto-focus' => true ,'min-length' => -1,:onfocus=>"javascript:$(this).autocomplete('search',' ');" %>
        
        <%#=f.hidden_field :gpsoc_immunisation_jab_custom_id %>
    </div>
     

    <div class="form-type3"><div class="form-action-row">
      <%= f.submit (@record.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
<% url = "/admin/system_template/show_system_record?country_code=#{params[:country_code]}&class_name=#{@redirect_to_url}&template_id=#{@system_template.id}&record_id=#{@parent_mapped_id || @record.id}" %>

 <%= link_to "Cancel", "#{url}",  class: "btn btn-type2"  %>
 <br/>
 <%= link_to "back to list", "/admin/system_template/#{@system_template.id}?country_code=#{(params[:country_code]|| @country_code)}",  class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
 <style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  // $("body").on('keyup',"#gpsoc_immunisation_jab_custom_id", function(event) {
  //   if (event.keyCode == 8 || event.keyCode == 46)
  //   {
  //   if($("#gpsoc_immunisation_jab_custom_id").val().length < 1){
  //     $("#gpsoc_immunisation_jab_custom_id").focus();
  //   }
  // }
  // });
})


  
</script>