<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <div>
 <%= @record.errors.full_messages.first if @record.errors.any? %>
</div>
<br/>
<br/>
<%url = @record.new_record? ? "/admin/system_template/create_system_record" : "/admin/system_template/update_system_record"%>
<%= form_for @record,url:url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @record.new_record? ? "Add" : "Update"%> System Milestone</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
     <%= hidden_field_tag :template_id, @system_template.id %>
     <%= hidden_field_tag :country_code, params[:country_code] %>
     <%= hidden_field_tag :class_name, "SystemMilestone" %>
      
     <% if !@record.new_record?%>
       <%= hidden_field_tag :record_id, @record.id %>
     <% end %>
    <div class="form-row">
      <label class="form-label">Title</label>
      <%= f.text_field :title, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
      <label class="form-label">Description</label>
      <%= f.text_field :description, class: "js-name textBx-type2"  %>
    </div>


    <div class="form-row">
      <label class="form-label">Dynamic Title</label>
      <%= f.text_field :dynamic_title, class: "js-name textBx-type2"  %>
    </div>
    
    <div class="form-row">
      <label class="form-label">Milestone Type</label>
      <%= f.select :milestone_type, options_for_select(SystemMilestone.distinct(:milestone_type),@record.milestone_type ),{include_blank: false}, :class => 'custom-select1' %>
    </div>

    <div class="form-row">
      <label class="form-label">Category</label>
      <% sorted_category = SystemMilestone.distinct(:category).sort_by{|i| i.split("-").map(&:to_i)[0]} %>
      <%= f.select :category, options_for_select(sorted_category,@record.category ),{include_blank: false}, :class => 'custom-select1' %>
    </div>

    <div class="form-row">
      <label class="form-label">Default image exist?</label>
      <%= f.select :default_image_exists, options_for_select([true,false],@record.default_image_exists), :class => 'custom-select1' %>
    </div>

    <div class="form-row">
      <label class="form-label">Sequence</label>
      <%= f.select :sequence, options_for_select((0..50),@record.sequence), :class => 'custom-select1' %>
    </div>
    
    <div class="form-row">
      <label class="form-label">Important Status</label>
      <%#= f.select :important_status, options_for_select([false,true],@record.important_status), :class => 'custom-select1' %>
      <%= f.select :important_status, options_for_select([["High",1],["Medium",2],["Low",3]],@record.important_status), :class => 'custom-select1' %>
    </div> 
    
    <div class="form-row">
       <label class="form-label">Country</label>
       <%= f.select :country_code, options_for_select(ISO3166::Country.all_names_with_codes,((@record.country_code|| params[:country_code]).upcase rescue nil)), :class => 'custom-select1  ' %> 
    </div> 
   
    <div class="form-row">
      <label class="form-label">Milestone Question</label>
      <%= f.text_field :milestone_question, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
      <label class="form-label">Notification Message</label>
      <%= f.text_field :notification_message, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
      <% system_pointer = (SysArticleRef.where(custome_id:@record.encourage).last || {}) rescue {}%>
      <% value = system_pointer.present? ? "ID: #{system_pointer['custome_id']},  Title: #{system_pointer['topic']}" : "" %>
        <label class="form-label">Pointer(Type ID/Pointer topic below to select)</label>
        <%= autocomplete_field_tag :sys_article_ref_link_detail_custome_id,'',autocomplete_system_pointer_custom_id_admin_pointers_path,:value=>value, :id_element=>'#system_milestone_encourage',:size=>120,'data-auto-focus' => true ,'min-length' => 0,:onfocus=>"javascript:$(this).autocomplete('search',' ');" %>
        
        <%=f.hidden_field :encourage %>
    </div>


    <div class="form-row">
    <% faq_question = (System::Faq::Question.where(custom_id:@record.faq).last || {}) rescue {}%>
    <% value = faq_question.present? ? "ID: #{faq_question['custom_id']},  Title: #{faq_question['title']}" : "" %>
        <label class="form-label">FAQ Question(Type faq queston title below to select)</label>
        <%= autocomplete_field_tag :faq_question_custom_id,'','/admin/faq/autocomplete_system_question_custom_id',:value=>value, :id_element=>'#system_milestone_faq',:size=>120,'data-auto-focus' => true ,'min-length' => 0,:onfocus=>"javascript:$(this).autocomplete('search',' ');" %>
        
        <%=f.hidden_field :faq %>
    </div>

    
    <div class="form-type3"><div class="form-action-row">
      <%= f.submit (@record.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
<% url = "/admin/system_template/show_system_record?country_code=#{params[:country_code]}&class_name=#{@redirect_to_url}&template_id=#{@system_template.id}&record_id=#{@parent_mapped_id || @record.id}" %>

 <%= link_to "Cancel", "#{url}",  class: "btn btn-type2"  %>
 <%= link_to "Back to list", "/admin/system_template/#{@system_template.id}?country_code=#{(params[:country_code]|| @country_code)}",  class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>

<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  $("body").on('keyup',"#sys_article_ref_link_detail_custome_id", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
      if($("#sys_article_ref_link_detail_custome_id").val().length < 1){
        $("#sys_article_ref_link_detail_custome_id").focus();
      }
    }
  });
  // $("body").on('keyup',"#faq_question_custom_id", function(event) {
  //   if (event.keyCode == 8 || event.keyCode == 46)
  //   {
  //     if($("#faq_question_custom_id").val().length < 1){
  //       $("#faq_question_custom_id").focus();
  //     }
  //   }
  // });
})
  
</script>