<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <%#= link_to "Role List", "/admin/role_for_admin_panel" %> 
 <br/>
 <br/>
 <br/>
 <div>
 <%= @record.errors.full_messages.first if @record.errors.any? %>
</div>
<br/>
<br/>
<%url = @record.new_record? ? "/admin/system_template/create_system_record" : "/admin/system_template/update_system_record"%>
<%= form_for @record,url:url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @record.new_record? ? "Add" : "Update"%> System Vaccine<%#= @record.class%></h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
     <%= hidden_field_tag :class_name, "SystemVaccin" %>
     <%= hidden_field_tag :template_id, @system_template.id %>
     <%= hidden_field_tag :country_code, params[:country_code].upcase %>
     <% if !@record.new_record?%>
     <%= hidden_field_tag :record_id, @record.id %>
     <% end %>
     <div class="form-row">
        <label class="form-label">Name</label>
        <%= f.text_field :name, class: "js-name textBx-type2"  %>
     </div>
    <%if  @record.new_record?%>
    <div class="form-row">
       <label class="form-label">No. of jabs</label>
       <%= f.select :jabs_count, options_for_select((1..20),@record.jabs_count.to_i), :class => 'custom-select1  ' %> 
    </div>
    <% end %>
    
    <div class="form-row">
       <label class="form-label">Country</label>
       <%= f.select :country, options_for_select(ISO3166::Country.all_names_with_codes,(Member.member_country_code(@record.country|| params[:country_code]).upcase rescue nil)), :class => 'custom-select1  ' %> 
    </div>

    <div class="form-row">
       <label class="form-label">Category(Route)</label>
       <%= f.select :category, options_for_select(["Drops","Injection","Nasal spray"],@record.category), :class => 'custom-select1  ' %> 
    </div>



    <div class="form-row">
       <label class="form-label">Vaccine Type</label>
       <%= f.select :vaccin_type, options_for_select(["Recommended","Optional","Selective"],@record.vaccin_type),:prompt=>"Please select", :class => 'custom-select1  ' %> 
    </div> 

    <div class="form-row">
      <label class="form-label">Trade Name</label>
      <%= f.text_field :trade_name, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
       <label class="form-label">Only For</label>
       <%= f.select :only_for, options_for_select([["Daughter","Daughter"],["Son","Son"],["Both",""]],@record.only_for),:prompt=>"Please select", :class => 'custom-select1  ' %> 
    </div> 

    <div class="form-row">
       <label class="form-label">Schedule updated for vaccine?</label>
       <%= f.select :schedule_updated, options_for_select([false,true],@record.schedule_updated),:prompt=>"Please select", :class => 'custom-select1  ' %> 
    </div> 
    


    <%# nhs_syndicate_content = (@record.nhs_syndicate_content.entries || []) rescue []%>
     <%# value = nhs_syndicate_content.present? ? nhs_syndicate_content.map{|a| "customID: #{a.custom_id}- Title: #{a.title}"}.join(",") : nil %>
      <!-- <label class="form-label">Nhs Syndicate content(Type CustomId/title below to select)</label> -->
        <%#= autocomplete_field_tag :nhs_syndicate_content_id,'',autocomplete_nhs_syndicate_content_title_admin_system_template_index_path,:value=>value, :id_element=>'#system_vaccin_nhs_syndicate_content_id',:size=>120,'data-auto-focus' => true ,'min-length' => -1,:onfocus=>"javascript:$(this).autocomplete('search',' ');",'data-delimiter' => ';', :multiple => true %>
         <%#=f.hidden_field :nhs_syndicate_content_id %>
    </div>
 

     
     

    <div class="form-type3"><div class="form-action-row">
      <%= f.submit (@record.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>

<% url = "/admin/system_template/show_system_record?country_code=#{params[:country_code]}&class_name=#{@redirect_to_url}&template_id=#{@system_template.id}&record_id=#{@record.id}" %>

 <%= link_to "Cancel", "#{url}",  class: "btn btn-type2"  %>
 <%= link_to "back to list", "/admin/system_template/#{@system_template.id}?country_code=#{(params[:country_code]|| @country_code)}",  class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>


<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  $("body").on('keyup',"#nhs_syndicate_content_id", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
    if($("#nhs_syndicate_content_id").val().length < 1){
      $("#nhs_syndicate_content_id").focus();
    }
  }
  });
 
})


  
</script>