<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
<br/>
<br/>
<div>
  <%= @record.errors.full_messages.first if @record.errors.any? %>
</div>
<br/>
<br/>
<%url = @record.new_record? ? "/admin/system_template/create_system_record" : "/admin/system_template/update_system_record"%>
<%= form_for @record,url:url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">
    <%= @record.new_record? ? "Add" : "Update"%> System GpSoc Immunisation Jab </h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    <%= hidden_field_tag :template_id, @system_template.id %>
    <%#= hidden_field_tag :country_code, params[:country_code] %>
    <% country_code =  @record.country_code|| params[:country_code] %>
    <% country_code = "GB" if ["uk","UK"].include?(country_code) %>
    <%= hidden_field_tag :class_name, "System::GpsocImmunisationJab" %>
     <% if !@record.new_record?%>
        <%= hidden_field_tag :record_id, @record.id %>
     <% end %>
      <div class="form-row">
        <label class="form-label">Term</label>
        <%= f.text_field :term, class: "js-name textBx-type2"  %>
      </div>
       <div class="form-row">
        <label class="form-label">Tpp Term(eg. Flu 1)</label>
        <%= f.text_field :tpp_term, class: "js-name textBx-type2"  %>
      </div>

      <div class="form-row">
        <label class="form-label">Combine Vaccine?(eg.6-in-1)</label>
          <%= f.select :combined_vaccine, options_for_select([["No",false],["Yes",true]],@record.combined_vaccine), :class => 'custom-select1  ' %> 
         
      </div>
 
      <div class="form-row">
        <label class="form-label">snomed code</label>
        <%= f.text_field :snomed_code, class: "js-name textBx-type2"  %>
      </div>
     
      <div class="form-row">
        <label class="form-label">READ v2 code</label>
        <%= f.text_field :read_v2_code, class: "js-name textBx-type2"  %>
      </div>
      <div class="form-row">
        <label class="form-label">SNOMED CT Term</label>
        <%= f.text_field :snomed_ct_term, class: "js-name textBx-type2"  %>
      </div>
      <div class="form-row">
        <label class="form-label">SNOMED CT DescriptionId</label>
        <%= f.text_field :snomed_ct_description_id, class: "js-name textBx-type2"  %>
      </div>
      
      <div class="form-row">
        <label class="form-label">Status</label>
          <%= f.select :status, options_for_select([["Draft","Draft"],["Active","Active"],["Inactive","Inactive"]],@record.status), :class => 'custom-select1  ' %> 
         
      </div>
       <div class="form-row">
       <label class="form-label">Country</label>
       <%= f.select :country_code, options_for_select(ISO3166::Country.all_names_with_codes,((country_code).upcase rescue nil)), :class => 'custom-select1  ' %> 
      </div> 
     <% system_jab = (@record.system_jab || {}) rescue {}%>
     <% value = system_jab.present? ? "Vaccine: #{system_jab['name']},  Due_on: #{system_jab['due_on']}, JabType: #{system_jab['jab_type']}" : nil %>
        <label class="form-label">System Immunisation Jab(Type Vaccine below to select)</label>
        <%= autocomplete_field_tag :system_jab_id,'',autocomplete_system_immunisation_jab_title_admin_system_template_index_path,:value=>value, :id_element=>'#system_gpsoc_immunisation_jab_system_jab_id',:size=>120,'data-auto-focus' => true ,'min-length' => -1,:onfocus=>"javascript:$(this).autocomplete('search',' ');" , :fields => {:country_code => '#system_gpsoc_immunisation_jab_country_code'  }%>
        
        <%=f.hidden_field :system_jab_id %>
    </div>

    <div class="form-type3"><div class="form-action-row">
      <%= f.submit (@record.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
<% url = "/admin/system_template/show_system_record?country_code=#{params[:country_code]}&class_name=#{@redirect_to_url}&template_id=#{@system_template.id}&record_id=#{@parent_mapped_id || @record.id}" %>

 <%= link_to "Cancel", "#{url}",  class: "btn btn-type2"  %>
 <br/>
 <%= link_to "back to list", "/admin/system_template/#{@system_template.id}?country_code=#{(params[:country_code]|| @country_code)}",  class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  $("body").on('keyup',"#system_jab_id", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
    if($("#system_jab_id").val().length < 1){
      $("#system_jab_id").focus();
    }
  }
  });
})


  
</script>