<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <br/>
 <br/>
 <div>
 
 <%= @record.errors.full_messages.first if @record.errors.any? %>
</div>
<br/>
<br/>
<%url = @record.new_record? ? "/admin/system_template/create_system_record" : "/admin/system_template/update_system_record"%>
<%= form_for @record,url:url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @record.new_record? ? "Add" : "Update"%> Nhs guide tiles</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
     <%= hidden_field_tag :class_name, "Nhs::GuideTiles" %>
     <%= hidden_field_tag :template_id, @system_template.id %>
     <%= hidden_field_tag :country_code, params[:country_code].upcase %>
     <% if !@record.new_record?%>
     <%= hidden_field_tag :record_id, @record.id %>
     <% end %>
     <div class="form-row">
        <label class="form-label">Name</label>
        <%= f.text_field :title, class: "js-name textBx-type2"  %>
     </div>

     <div class="form-row">
        <label class="form-label">Identifier</label>
        <%= f.text_field :identifier, class: "js-name textBx-type2"  %>
     </div>
     
    <div class="form-row">
       <label class="form-label">Description</label>
        <%= f.text_field :description, class: "js-name textBx-type2"  %>
    </div>
   
    
    <div class="form-row">
       <label class="form-label">Country</label>
       <%= f.select :country_code, options_for_select(Utility.country_list,((@record.country_code || params[:country_code]).upcase rescue nil)), :class => 'custom-select1  ' %> 
    </div>

    <div class="form-row">
       <label class="form-label">Category</label>
        <%= f.select  :category, options_for_select(Nhs::GuideTilesCategory.distinct(:title),@record.category), class: "custom-select1 "  %>
        
    </div>

    <div class="form-row">
       <label class="form-label">Status</label>
       <%= f.select :status, options_for_select(["Active","Draft"],@record.status),:prompt=>"Please select", :class => 'custom-select1  ' %> 
    </div> 
    
    <div class="form-row">
       <label class="form-label">OrderID</label>
       <%= f.select :order_id, options_for_select((1..999).to_a,@record.order_id), :class => 'custom-select1  ' %> 
    </div> 


    <div class="form-type3"><div class="form-action-row">
      <%= f.submit (@record.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>

<% url = "/admin/system_template/show_system_record?country_code=#{params[:country_code]}&class_name=#{@redirect_to_url}&template_id=#{@system_template.id}&record_id=#{@record.id}" %>

 <%= link_to "Cancel", "#{url}",  class: "btn btn-type2"  %>
 <%= link_to "back to list", "/admin/system_template/#{@system_template.id}?country_code=#{(params[:country_code]|| @country_code)}",  class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>


<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>
<script type="text/javascript">
// $(document).ready(function(){
//   $("body").on('keyup',"#nhs_guide_tiles_id", function(event) {
//     if (event.keyCode == 8 || event.keyCode == 46)
//     {
//     if($("#nhs_guide_tiles_id").val().length < 1){
//       $("#nhs_guide_tiles_id").focus();
//     }
//   }
//   });
 
// })


  
</script>