<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <div>
 <%= @record.errors.full_messages.first if @record.errors.any? %>
</div>
<br/>
<br/>
<%url = @record.new_record? ? "/admin/system_template/create_system_record" : "/admin/system_template/update_system_record"%>
<%= form_for @record,url:url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @record.new_record? ? "Add" : "Update"%> Pregnancy Week Detail<%#= @record.class%></h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
     <%= hidden_field_tag :template_id, @system_template.id %>
     <%= hidden_field_tag :country_code, params[:country_code].upcase %>
     <%= hidden_field_tag :class_name, "System::Pregnancy::PregnancyWeekDetail" %>
      
     <% if !@record.new_record?%>
       <%= hidden_field_tag :record_id, @record.id %>
     <% end %>
     
    <div class="form-row">
       <label class="form-label">Pregnancy Week</label>
       <%= f.select :pregnancy_week, options_for_select((0..43),@record.pregnancy_week), :class => 'custom-select1  ' %> 
    </div>
    <div class="form-row">
       <label class="form-label">Country Code</label>
      <%= f.select :country_code, options_for_select(ISO3166::Country.all_names_with_codes,(Member.member_country_code(@record.country_code|| params[:country_code]).upcase rescue nil)), :class => 'custom-select1  ' %> 
    </div>
    

    <%# nhs_syndicate_content = (@record.nhs_syndicate_content || {}) rescue {}%>
     <%# value = nhs_syndicate_content.present? ?  "CustomID: #{nhs_syndicate_content.custom_id}- Title: #{nhs_syndicate_content.title}" : nil %>
      <!-- <label class="form-label">Nhs Syndicate content(Type CustomId/title below to select)</label> -->
        <%#= autocomplete_field_tag :nhs_syndicate_content_id,'',autocomplete_nhs_syndicate_content_title_admin_system_template_index_path,:value=>value, :id_element=>'#system_pregnancy_pregnancy_week_detail_nhs_syndicate_content_id',:size=>120,'data-auto-focus' => true ,'min-length' => -1,:onfocus=>"javascript:$(this).autocomplete('search',' ');"  %>
         <%#=f.hidden_field :nhs_syndicate_content_id %>
    </div>
 

    <div class="form-row">
       <label class="form-label">Status</label>
       <%= f.select :status, options_for_select(["Draft","Active"],@record.status), :class => 'custom-select1  ' %> 
    </div>
    
    <div class="form-row">
        <label class="form-label">Description</label>
        <%= f.text_area :description,rows:10, class: "js-name textBx-type2"  %>
     </div>
 

    <div class="form-row">
       <label class="form-label">Save scan Image</label>
       <%= f.select :scan_image, options_for_select(['true',"false"],@record.scan_image), :class => 'custom-select1  ' %> 
    </div>

    
    <div class="form-row">
      <label class="form-label">Your Baby Description</label>
      <%= f.text_area :your_baby_description,rows:10, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
      <label class="form-label">Your Body Description</label>
      <%= f.text_area :your_body_description,rows:10, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
      <label class="form-label">Your And Your Partner</label>
      <%= f.text_area :your_and_your_partner,rows:10, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
      <label class="form-label">Remember Info</label>
      <%= f.text_area :remember_info,rows:10, class: "js-name textBx-type2"  %>
    </div>
 
    <div class="form-row">
      <label class="form-label">Your Body Symptom(eg.[{"title"=>"noisia","description"=>"loperm spm","tips"=>"lorem porum"},{"title"=>"bleeding","description"=>"loperm sporpm","tips"=>''}])</label>
      <%= f.text_area :your_body_symptom,rows:10, class: "js-name textBx-type2"  %>
    </div>
    
     <div class="form-row">
      <label class="form-label">Test Of The Week(eg.{"title"=>"prenatl test1","description"=>"loperm spm"})</label>
      <%= f.text_area :test_of_the_week,rows:5, class: "js-name textBx-type2"  %>
    </div>
      
     <div class="form-row">
      <label class="form-label">Check List(eg. this is first (sperate by enter)this is second)</label>
      <%= f.text_area :check_list,rows:10, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-type3"><div class="form-action-row">
      <%= f.submit (@record.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
<% url = "/admin/system_template/show_system_record?country_code=#{params[:country_code]}&class_name=#{@redirect_to_url}&template_id=#{@system_template.id}&record_id=#{@parent_mapped_id || @record.id}" %>

 <%= link_to "Cancel", "#{url}",  class: "btn btn-type2"  %>
 <br/>
 <%= link_to "back to list", "/admin/system_template/#{@system_template.id}?country_code=#{(params[:country_code]|| @country_code)}",  class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  $("body").on('keyup',"#nhs_syndicate_content_id", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
    if($("#nhs_syndicate_content_id").val().length < 1){
      $("#nhs_syndicate_content_id").focus();
    }
  }
  });
 
})