<% nutrients.each do|nutrient| %>
	<li class="js-nutrient <%=nutrient.id%> js-<%=nutrient.categories%>">
      <%= render partial: "nutrient", locals: {nutrient: nutrient} %>        
    </li>  
<% end %>