<ul class="tab-list-type3 clearFix">
    
	<li class="<%= params[:category]=='all' || params[:category]==nil ? 'active' :nil %>">
        <%= link_to nutrients_path(category: 'all', member_id: @member.id), remote: true do %>
        <i class="icon-health-big js-nutrient-all"></i>
        <p><%= Nutrient::Category.first%> Tools</p>
        <% end %>
    </li>
    
    <% Nutrient::Category.drop(1).each do |category| %>
      <% category_icon_class = (if category == "Education"
          'graduation'
        elsif category == 'Other'
          'others'                    
        else
          category.downcase
        end)
      %>      
        <li class="<%= params[:category]==category ? 'active' :nil %>">
          <%= link_to change_category_nutrients_path(category: category, member_id: @member.id), remote: true do %>          
          <i class="icon-<%=category_icon_class %> js-<%=category_icon_class %>" data-category="<%=category %>"></i>
          <p><%=category %></p>
          <% end %>
        </li>      
    <% end %>     
</ul>

  <% category_class = params[:category] ? params[:category] : 'all' %>
  <div class="titleBar-type1">  
      <h2>Tools (<span class="js-count js-recommended-count"><%= (@recommended_nutrient - @member_nutrients).count %></span>)</h2>
  </div>
  <ul class="list-type-9a clearFix js-recommended js-category-<%=category_class%>">
      <% if @recommended_nutrient.present? %>
        <%= render :partial=>"nutrients/list_nutrient", :locals=>{nutrients:@recommended_nutrient} %>
      <% else %>
        <!-- <span class='js-no-available-nutrients'>All available tools are already activated</span> -->
        <div class='data-error empty-msg-1'><p> There are no available tools to be activated </p></div>
      <% end %>      
  </ul>
<!-- Not needed more nutrients now, so commented below code   -->
<!--   
  <div class="titleBar-type1">
      <h2>More (<span class="js-count js-more-count"><%#= @other_nutrient.count %></span>)</h2>
  </div>
  <ul class="list-type-9a clearFix js-more js-category-<%#=category_class%>">
    <%# if @other_nutrient.present? %>  
      <%#= render :partial=>"nutrients/list_nutrient", :locals=>{nutrients:@other_nutrient} %>
    <%# else %>  
      <span class='js-no-available-nutrients'>All available nutrients are already activated</span>
    <%# end %>
  </ul>
 -->