
  <p class="page-title-5 reset-margin"><%= nutrient.title %></p>
  <p class="txt-type-3">&nbsp;<%=nutrient.categories.join(",") rescue nil %></p>
  <i class="<%= Nutrient::ICON_CLASS[nutrient.title.downcase.to_sym] %>"></i>
  <p><%=nutrient.description %></p>
  <div class="box-action">
    <a href="#." class="txt-link-type1 hide-box">View Details</a>
    <% if @member_nutrients.include?(nutrient) %>

    	<%= link_to "Deactivate", deactivate_nutrient_path(nutrient, member_id: @member.id), method: :delete, remote: true, class: "txt-link" if !nutrient.is_mandatory %>
    <% else %>
    	<%= link_to "Activate", acitvate_nutrient_path(nutrient, member_id: @member.id), class: "btn btn-type2", remote: true %>
	<% end %>    	
  </div>