<!-- page titles -->
<div class="singleBx-type6a">
    <div class="titleBar reset-margin">
        <h1>
           <%=profile_image_tag(@member,"small") %>
            <!-- <img src="assets/avatar-dummy.png" class="img-icon-type1" alt=""/> -->
            Manage <%= @member.first_name %>’s Tools 
        </h1>
    </div>
</div>       
<!-- reapte user -->
<div class="singleBx-type6" id="list_all_nutrients">
    <%= render :partial=>"nutrients/list_all_nutrients" %>
</div>
<!-- Tracker Msg -->
<div class="singleBx-type3 text-center">
    <div class="titleBar-type4">
      <i class="icon-bell"></i>
    </div>
    <div class="page-title-4">We are constantly working on new and innovative tools for parents. If you need a specific tool, please do share the idea with us by writing to ideas@nurturey.com</div>
    <!-- <input type="button" value="Write to nurturey" class="btn btn-type2"> -->
</div>

<!--
<script type="text/javascript">
    $(function(){
       $("li i.js-category").on("click",function(){
            var category = $(this).data("category")
            window.ll = category;
            $("li.js-nutrient").hide()
            $("li.js-"+ category ).show()
            }) ;

           $(".js-nutrient-all").on("click",function(){
            $("li.js-nutrient").show();
           })
    })

</script>
-->