<div class="singleBx-type15">
    <div class="page-title-1"><%= @member.first_name %>’s Tools</div>
    <ul class="list-type-10 clearFix">
        <li class="activated_nutrients_count">Activated 
            (
                <span class="js-count">
                    <%= member_nutrients.count %>
                </span>    
            )
        </li>
        <% member_nutrients.each do |nutrient|%>
        <li id="activated_nutrient_<%= nutrient.id %>">
            <p class="page-title-5 reset-margin"><%= nutrient.title %></p>
            <p class="txt-type-3"><%= nutrient.categories.join(',') rescue nil%></p>            
            <% unless nutrient.is_mandatory %>
                <%= link_to "Deactivate", deactivate_nutrient_path(nutrient, member_id: @member.id), method: :delete, remote: true, class: "btn txt-link-type1 no-margin-left" %>
            <% end %>    
        </li>
        <% end %>
         
    </ul>
</div>