// var count = $(".<%=params[:id]%>").parent().parent().find(".js-count").text();
<% js_count_class = @member_nutrient.nutrient.recommended == "true" ? "js-recommended-count" : "js-more-count" %>

<% if @member_nutrient.nutrient.recommended == "true" %>
  count = $(".<%=params[:id]%>").parent().parent().find(".js-recommended-count").text();
  js_count_class = "js-recommended-count"
<% else %>
  count = $(".<%=params[:id]%>").parent().parent().find(".js-more-count").text();
  js_count_class = "js-more-count"
<% end %>
$(".<%=params[:id]%>").parent().parent().find(".<%= js_count_class %>").text(parseInt(count)-1)
$(".<%=params[:id]%>").html("<%= j render partial: 'nutrients/nutrient', locals: {nutrient: @member_nutrient.nutrient} %>");
$(".right-section").html("<%= j render :partial=>'/nutrients/nutrients_right_sec' , :locals=>{member_nutrients: @member_nutrients}%>")
$("#left_nutrients_<%= @member.id %>").html("<%= j render partial: 'timeline/nutrients_list', locals: {family_member: @family_member} %>")