<% nutrient = @member_nutrient.nutrient %>
$("li.activated_nutrients_count span.js-count").text("<%= @member_nutrients.count %>");
$("#activated_nutrient_<%= params[:id] %>").remove();
var category_classes = <%= raw nutrient.categories.to_json %>;
<% parent_class = nutrient.recommended == "true" ? "js-recommended" : "js-more" %>
$("#left_nutrients_<%= @member.id %>").html("<%= j render partial: 'timeline/nutrients_list', locals: {family_member: @family_member} %>")

// Remove 'no available nutrients message'
if ($('.<%= parent_class %> .js-no-available-nutrients').length)
{
	$('.<%= parent_class %> .js-no-available-nutrients').remove();
}	
//

if ($(".js-category-all").length){
	$(".<%= nutrient.id %>").html("<%= j render partial: 'nutrients/nutrient', locals: {nutrient: nutrient} %>");
	count = $(".<%= nutrient.id %>").parent().parent().find(".<%= parent_class %>-count").text();
	$(".<%= nutrient.id %>").parent().parent().find(".<%= parent_class %>-count").text(parseInt(count)+1)
}
else
{
	for(var i=0; i< category_classes.length; i++) {
	  if ($(".js-category-" + category_classes[i]).length)
		{			
			$(".<%= nutrient.id %>").html("<%= j render partial: 'nutrients/nutrient', locals: {nutrient: nutrient} %>");
			count = $(".<%= nutrient.id %>").parent().parent().find(".<%= parent_class %>-count").text();
			$(".<%= nutrient.id %>").parent().parent().find(".<%= parent_class %>-count").text(parseInt(count)+1)
			// return false;
		}		
	}	
}