<% if params[:popup] %>
	$.fn.close();
<% end %>
<% if params[:family] == "true"  %>
	$(".bodywapper").html("<%= j render partial: 'nutrients/nutrients_index',:locals=>{:member_nutrients=> @member_nutrients} %>")
	update_left_nav("<%= @member.id %>", "nutrient");
	$(function(){
  		//uncomment if  required. to avoid double collapse left nav removing this code (Rajesh)
  		// Toggle does not work when clicked from manage_family. Put inside condition (Aman)
		$('[data-accordian]').accordianBox();
		$('.accordion-type1 .js-acc-main').click(function(){
		      $(this).parent().toggleClass('active');
		      $(this).parent().find(".js-timeline").click()
   });
});

<% else %>	
	$(".right-section").html("<%= escape_javascript(render :partial=>'nutrients/nutrients_right_sec',:locals=>{:member_nutrients=> @member_nutrients})%>")
	$(".center-section").html("<%= escape_javascript(render :partial=>'nutrients/nutrients_center_sec')%>")
<% end %>

