/* CSS Document */

body, p, h1, h2, h4, h5, a {
  padding: 0px;
  margin: 0px;
  font-family: 'SFProDisplay', 'Arial', 'Helvetica', sans-serif;
}

/* //////////////  TYPOGRAPHY  ////////////// */

@font-face {
  font-family: 'SFProDisplay';
  src: url('fonts/SFProDisplay-Medium.eot');
  src: url('fonts/SFProDisplay-Medium.woff') format('woff'), url('fonts/SFProDisplay-Medium.ttf') format('truetype'), url('fonts/SFProDisplay-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('fonts/SFProDisplay-Heavy.eot');
  src: url('fonts/SFProDisplay-Heavy.woff') format('woff'), url('fonts/SFProDisplay-Heavy.ttf') format('truetype'), url('fonts/SFProDisplay-Heavy.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('fonts/SFProDisplay-Semibold.eot');
  src: url('fonts/SFProDisplay-Semibold.woff') format('woff'), url('fonts/SFProDisplay-Semibold.ttf') format('truetype'), url('fonts/SFProDisplay-Semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('fonts/SFProDisplay-Bold.eot');
  src: url('fonts/SFProDisplay-Bold.woff') format('woff'), url('fonts/SFProDisplay-Bold.ttf') format('truetype'), url('fonts/SFProDisplay-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('fonts/SFProDisplay-Regular.eot');
  src: url('fonts/SFProDisplay-Regular.woff') format('woff'), url('fonts/SFProDisplay-Regular.ttf') format('truetype'), url('fonts/SFProDisplay-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('fonts/SFProDisplay-Light.eot');
  src: url('fonts/SFProDisplay-Light.woff') format('woff'), url('fonts/SFProDisplay-Light.ttf') format('truetype'), url('fonts/SFProDisplay-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GoodDog';
  src: url('fonts/GoodDogPlain.eot');
  src: url('fonts/GoodDogPlain.woff') format('woff'), url('fonts/GoodDogPlain.ttf') format('truetype'), url('fonts/GoodDogPlain.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1.title, h2.title{
	font-size: 40px;
	font-weight: 300;
	color: #111;
	padding: 10px 15px;
	letter-spacing: 0.9px;
    font-family: "SFProDisplay", "Helvetica Neue", "Arial", "san-serif";
	line-height: 2.6rem;
	width: 100%;
	text-align: left !important;
	padding-left: 15px;
}

h3.subtitle {
	font-size: 23px;
	line-height: 2.1rem;
	font-weight: 400;
	letter-spacing: .01em;
	font-family: "SFProDisplay", "Helvetica Neue", "Arial", "san-serif";
	color: #8795a8;
	padding: 10px 15px;
	width: 100%;
	text-align: left !important;
}

a.text-link {
	font-size: 16px;
	font-weight: 500;
	color: #F5A623;
	padding: 20px 10px;
	display: inline-block;
}

a.text-link:hover {
	text-decoration: none;
	color: #C47A00;
}

h2.feature-title {
	font-size: 40px;
	font-weight: 300;
	color: #111;
	padding: 10px 15px;
	letter-spacing: 0.9px;
    font-family: "SFProDisplay", "Helvetica Neue", "Arial", "san-serif";
	line-height: 2.6rem;
	width: 100%;
	text-align: left !important;
}

h3.feature-subtitle {
	font-size: 23px;
	line-height: 2.1rem;
	font-weight: 400;
	letter-spacing: .01em;
	font-family: "SFProDisplay", "Helvetica Neue", "Arial", "san-serif";
	color: #8795a8;
	padding: 0px 15px 10px;
	width: 100%;
	text-align: left !important;
}

h1.page-title {
	font-size: 50px;
	font-family: "SFProDisplay", "Helvetica Neue", "Arial", "san-serif";
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	line-height: 90px;
}

h2.page-subtitle {
	font-size: 25px;
	line-height: 2.1rem;
	font-weight: 400;
	letter-spacing: .01em;
	font-family: "SFProDisplay", "Helvetica Neue", "Arial", "san-serif";
	color: #000000;
	padding: 10px 15px;
	width: 70%;
	text-align: center!important;
	margin: 0 auto;
}

h3 {
  font-size: 23px;
  font-weight: 600;
  color: #ffffff;
  padding: 50px 0px 20px;
}

ul {
  padding: 0px;
}

ul li {
  list-style: none;
}

.help-text {
	font-size: 1rem;
	text-align: left;
	padding-left: 15px;
	margin-bottom: 10px;

}

.tool-count {
	color: #888888;
	margin-right: 20px;
	font-size: 1rem;
	text-align: left;
	padding-left: 15px;
	margin-bottom: 20px;
}

.health-tag {
	color: #D03869; /*Red*/
    font-size: 1rem;
    text-align: left;
    padding: 0px 10px 0px 25px;
    background: url(/assets/homepage/health-icon-red.svg) no-repeat;
    background-size: 20px;
    background-position: left;
    height: 19px;
    line-height: 15px;
    margin: 10px 0px 10px 15px;
	display: inline-block;
	
}

.mind-tag {
	color: #2A84DD; /*Blue*/
	font-size: 1rem;
    text-align: left;
    padding: 0px 25px 0px 25px;
    margin-bottom: 10px;
    background: url(/assets/homepage/mind-icon-blue.svg) no-repeat;
    background-size: 20px;
    background-position: left;
    height: 19px;
    line-height: 15px;
  	margin: 10px 0px 10px 15px;
	display: inline-block;
}

.diary-tag {
	color: #FFBE2B; /*Orange*/
	font-size: 1rem;
    text-align: left;
    padding: 0px 25px 0px 25px;
    margin-bottom: 10px;
    background: url(/assets/homepage/activity-icon-orange.svg) no-repeat;
    background-size: 20px;
    background-position: left;
    height: 19px;
    line-height: 15px;
    margin: 10px 0px 10px 15px;
	display: inline-block;
}

div.fourth-section img {
  margin: 30px 0px;
}

p.didyouknow {
  font-size: 2.6rem;
  color: #e4ba47;
  font-family: 'GoodDog';
  letter-spacing: 1px;
  padding: 10px 15px;
  width: 100%;
  text-align: left !important;
}

/* //////////////  NAVIGATION  ////////////// */

.sticky-top {
  visibility: hidden;
  transition: all .5s;
  -webkit-transition: all .5s;
  opacity: 0;
  height: 50px;
  padding: 0px;
}

.sleek .sticky-top {
  visibility: visible;
  transition: all 1s;
  webkit-transition: all .5s;
  opacity: 1;
  margin-bottom: 0px;
  height: 50px;
}

.sleek .sticky-top .navbar-brand {
  margin: 8px 0px 10px 20px;
}

.sleek .sticky-top .navbar-brand img {
  height: 34px;
}

.navbar {
  padding-top: 0px;
}

.navbar-brand img {
  height: 40px;
  max-width: 150px;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
  right: 10px !important;
  top: 18px;
  position: absolute;
}

.navbar-brand {
  margin: 7px 20px 0 20px;
}

.store-buttons {
  position: absolute;
  right: 70px;
  margin-top: 14px;
}

.apple-btn {
  display: inline-block;
  padding: 2px 8px;
  height: 34px;
  text-align: center;
  width: 34px;
  background: #ffffff;
  border: 1px #9b9b9b solid;
  border-radius: 4px;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 5px;
}

.android-btn {
  display: inline-block;
  padding: 5px 10px;
  height: 34px;
  text-align: center;
  width: 34px;
  background: #ffffff;
  border: 1px #9b9b9b solid;
  border-radius: 4px;
  color: #000000;
  font-size: 1.0rem;
  font-weight: 400;
  margin-right: 5px;
}

.store-buttons a:hover {
  text-decoration: none;
  color: #000000;
  background: #f0f0f0;
}

.navbar-collapse {
  background-color: rgba(250, 250, 250, 0.99);
  position: absolute;
  top: 56px;
  left:0px;
  padding: 10px 0px;
  margin-left: -15px;
  z-index: 1001;
}

.navbar-light .navbar-nav .nav-link {
  padding-top: 20px;
  border-bottom: 1px rgba(0, 0, 0, 0.05) solid;
  font-size: 1.6rem;
  font-weight: 300 !important;
}

/* NAVBAR TRIAL STARTS */

/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3, .animated-icon4 {
  width: 26px;
  height: 16px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span, .animated-icon3 span, .animated-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon3 span {
  background: #696969;
}

.animated-icon4 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon3 span:nth-child(1) {
  top: 0px;
}

.animated-icon3 span:nth-child(2), .animated-icon3 span:nth-child(3) {
  top: 8px;
}

.animated-icon3 span:nth-child(4) {
  top: 16px;
}

.animated-icon3.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon3.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

/* //////////////  BUTTONS  ////////////// */


.btn-success {
	
	border-radius: 50px; 
	padding: .4rem 1.2rem;
	background-image: -moz-linear-gradient( 63deg, rgb(125,174,6) 0%, rgb(18,150,57) 100%);
	background-image: -webkit-linear-gradient( 63deg, rgb(125,174,6) 0%, rgb(18,150,57) 100%);
	background-image: -ms-linear-gradient( 63deg, rgb(125,174,6) 0%, rgb(18,150,57) 100%);
}

.btn-warning {
  border-radius: 50px;
  padding: .4rem 1.2rem;
}

.button {
	/* background-image: -moz-linear-gradient( 63deg, rgb(125,174,6) 0%, rgb(18,150,57) 100%);
	background-image: -webkit-linear-gradient( 63deg, rgb(125,174,6) 0%, rgb(18,150,57) 100%);
	background-image: -ms-linear-gradient( 63deg, rgb(125,174,6) 0%, rgb(18,150,57) 100%);
	box-shadow: 0px 7px 26px 0px rgba(0, 0, 0, 0.20); */
  background: #FAC266;
  display: block;
  border-radius: 6px;
  border: #FAC266 2px solid;
  color: #000000 !important;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 130px;
  line-height: 1.3rem;
  text-align: center;
  transition: all .5s ease;
  margin: 20px auto;
  font-family: 'SFProDisplay';
  animation-delay: 1s;
  height: 40px !important;
}

.button:hover {
  text-decoration: none;
  box-shadow: none;
	/*background-image: -moz-linear-gradient( 63deg, rgb(18,150,57) 0%, rgb(18,150,57) 100%);
	background-image: -webkit-linear-gradient( 63deg, rgb(18,150,57) 0%, rgb(18,150,57) 100%);
	background-image: -ms-linear-gradient( 63deg, rgb(18,150,57) 0%, rgb(18,150,57) 100%); */
  transition: all .5s ease;
  color: #ffffff;
}

/* //////////////  SECTIONS  ////////////// */

.first-section, .second-section, .fourth-section, .sixth-section {
  /*min-height: calc(-84px + 100%);
	min-height: calc(-84px + 100vh);*/
  background-color: #ffffff;
  padding: 50px 0px;
  min-height: 400px;
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.appstore-button-group img {
  height: 60px;
  display: inline-block;
  width: auto;
  margin-top: 20px;
}

.appstore-button-group img:nth-child(1) {
  padding-right: 10px;
}

.second-section {
  position: relative;
}

.shape {
  fill: transparent;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  stroke-width: 8px;
  stroke: red;
  animation: 8s draw ease-out forwards;
  animation-delay: 2s;
}

  @keyframes draw {

    100% {
      stroke-dashoffset: 0;
    }
  }

.third-section {
  background-color: #ffffff;
  padding: 80px 0px 0px;
  min-height: 500px;
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.fifth-section {
  background-color: #ffffff;
  padding: 30px 0px 30px;
  min-height: 500px;
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.third-section .right-content img {
  margin-top: -40px;
}

.sixth-section {
  background: url(/assets/homepage/slide1-bg-bottom.jpg) bottom center repeat-x;
  background-position: bottom !important;
  -webkit-animation: backgroundScroll 1s linear 1;
  -webkit-animation-fill-mode: forwards;
  animation: backgroundScroll 1s ease-out 1;
  animation-fill-mode: forwards;
}

div.ipad-wrapper {
  position: relative;
  padding-top: 32px;
  padding-bottom: 75.5%;
  height: 0;
}

div.ipad-wrapper iframe {
  box-sizing: border-box;
  background: url(/assets/homepage/ipad-bg.png) center center no-repeat;
  background-size: contain;
  padding: 8.8% 11.1% 14.8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* CAROUSEL CSS */

.carousel-indicators {
  bottom: -10px;
}

.carousel-fade .carousel-item {
  transition-duration: 1.2s !important;
  transition-timing-function: ease-in-out;
  padding: 20px;
}

.tools-sliders .carousel-indicators li {
  background: rgba(0, 0, 0, 0.21);
  height: 12px;
  width: 12px;
  border-radius: 10px;
  margin-left: 6px;
	
}

ol.carousel-indicators li.active {
  background: black;
}

.fifth-section .carousel-inner {
	max-width: 350px !important;
	margin: 0 auto;
}



@keyframes backgroundScroll {
    from {
      background-position: 0 110%;
      opacity: 0
      
  }
  to {
      background-position: 0px 100%;
      opacity: 1;
  }
}


.health-highlight {
  color: #ffffff;
	background:url(/assets/homepage/health-txt-bg.jpg) no-repeat; 
	padding: 0px 5px; 
	background-size: 100% 100%; 
	display: inline-block;
}


.learning-highlight {
	color: #ffffff; background:url(/assets/homepage/learning-txt-bg.jpg) no-repeat; padding: 0px 6px; background-size: 100% 100%; display: inline-block;
}
.calendar-highlight {
	color: #ffffff; background:url(/assets/homepage/calendar-txt-bg.jpg) no-repeat; padding: 0px 6px; background-size: 100% 100%; display: inline-block;
}

.window-highlight {
	background: url(/assets/homepage/window-highlight.png) no-repeat; padding: 0px 5px 2px 5px; display: inline-block; background-position: center; color: #000000;
}



.child-learning{
	background: url(/assets/homepage/slide-four-bg.png) no-repeat center center;
    padding-top: 70px;
	background-size: 300px 300px;
	height: 500px;
	display: inline-block;
}

.child-learning img{
	max-height: 400px;
}

.health-section {
	background: #fff8fa;
	/*background: url(/assets/homepage/health-box-bg-repeat.png) #fff8fa no-repeat;*/
	background-size: 100% 100%;

}

.learning-section {
	background: #f3faff;
	/*background: url(/assets/homepage/learning-box-bg-repeat.png) #f3faff no-repeat;*/
	background-size: 100% 100%;

}

.calendar-section {
  background: #fffbee;
  /*background: url(/assets/homepage/calendar-box-bg-repeat.png) #fffbee repeat-y;*/
  background-size: 100% 100%;
}

.learning-section .right-content {
  /*background: #f3faff;*/
  padding: 10px 0px;
  font-size: 18px;
  text-align: center;
  animation-delay: 1s;
  color: #8795a8;
  margin-top: 20px;
  background-position: 0px -30px;
}

.health-section .right-content {
  padding: 10px 0px;
  font-size: 18px;
  text-align: center;
  animation-delay: 1s;
  color: #8795a8;
  margin-top: 20px;
  background-position: 0px -30px;
}

.calendar-section .right-content {
  padding: 10px 0px;
  font-size: 18px;
  text-align: center;
  animation-delay: 1s;
  color: #8795a8;
  margin-top: 20px;
  background-position: 0px -30px;
}

.learning-icon {
  display: block;
  background: #27ABFF;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-image: url(/assets/homepage/learning-icon.png);
  background-repeat: no-repeat;
  background-size: 30px 33px;
  background-position: center;
  margin: 20px auto 10px;
}

.health-icon {
  display: block;
  background: #FF2672;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-image: url(/assets/homepage/health-icon.png);
  background-repeat: no-repeat;
  background-size: 30px 25px;
  background-position: center;
  margin: 20px auto 10px;
}

.activity-icon {
  display: block;
  background: #FFBE2A;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-image: url(/assets/homepage/activity-icon.png);
  background-repeat: no-repeat;
  background-size: 30px 28px;
  background-position: center;
  margin: 20px auto 10px;
}

.child-box-title {
  color: black;
  display: block;
  vertical-align: middle;
  font-weight: 300;
  font-size: 30px;
}

.child-box-text {
  font-size: 16px;
  padding-top: 10px;
  color: #4e4e4e;
  padding: 10px 60px;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.fifth-section .list-group {
  padding: 10px 20px;
}

.fifth-section .list-group .list-group-item {
  color: #4e4e4e;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 1px #00000036 solid;
}

.fifth-section .list-group .list-group-item:nth-child(6) {
  border: none;
}

.fifth-section .list-group .list-group-item:nth-child(7), .fifth-section .list-group .list-group-item:nth-child(1) {
  border: none;
  background: none;
  font-size: 16px;
  color: #8795a8;
}

.list-group-item:focus, .list-group-item:hover {
  z-index: 0;
}

.yellow-button {

	background: #FFAF2D;
	border-radius: 4px;
	color: #000000;
	width: 90%;
	display: block;
	text-align: center;
	margin: 20px auto;
	height: 50px;
	font-size: 16px;
	padding: 13px 0px;
	font-weight: normal;
	box-shadow: 0 2px 10px 0px rgba(154, 154, 154, 0.5);


}

.yellow-button:hover {
	text-decoration: none;
	box-shadow: none;
	background-image: -webkit-linear-gradient(333deg, rgb(242,165,0) 0%, rgb(242,165,0) 100%);
	background-image: -o-linear-gradient(333deg, rgb(242,165,0) 0%, rgb(242,165,0) 100%);
	background-image: linear-gradient(63deg, rgb(242,165,0) 0%, rgb(242,165,0) 100%);
	transition: all .5s ease;
	color: #000000;
}



/* //////////////  FOOTER  ////////////// */

#footer {
  width: 100%;
  background-color: #121212;
  color: #5a5e62;
  padding: 40px 0 30px 0;
  font-family: 'Barlow-Regular';
}

.footer-text p {
  font-size: 16px;
}

.links-content h5 {
  color: #fff;
  font-size: 18px;
  padding: 4px 0;
}

.links-content a {
  color: #5a5e62;
  font-size: 16px;
}

.footer-btn img {
  margin: 10px 0 0 0;
}

.border-footer {
  border-right: 1px solid #1f1f1f;
}

.copyright-text p {
  font-size: 16px;
  padding: 20px 0 0 0;
  border-top: 1px solid #1f1f1f;
  margin: 10px 0 0 0;
}

.window-oppotunity h3 {
  padding: 10px 0;
}

.fourth-section .l-icon {
  position: absolute;
  top: -30px;
  left: -20px;
}

.offer-btns a.mathematics-btn {
  padding: 16px 20px;
  color: #000000;
  background: #f1f1f1;
  font-size: 18px;
  font-family: 'SFProDisplay';
  border-radius: 12px;
  margin: 0px 10px 0 0;
  font-weight: 500;
  display: inline-block;
}

.offer-btns a.intelligence-btn {
  padding: 16px 20px;
  color: #4b3500;
  font-weight: 500;
  background: #ffcb50;
  font-size: 18px;
  font-family: 'SFProDisplay';
  border-radius: 12px;
  margin: 0px 0px 0 10px;
  display: inline-block;
  /* border-top: 2px solid #02813a; */
}

.offer-btns a {
  text-decoration: none;
}

.offer-btns {
  margin: 30px 0;
}

.sixth-text-heading h4 {
  font-size: 18px;
  line-height: 20px;
  padding: 0 0 20px 0;
  color: #8795a8;
}



/* //////////////// FEATURES PAGE \\\\\\\\\\\\\\\\\\ 
////////////////////////////////////////////////////*/

.page-title-section {
	background-color: #ffffff;
}

.features-main-image {
	background: url(/assets/homepage/features-page-main-image.jpg) no-repeat center;
	background-size: 90%;
	height: 400px;
	display: block;
	width: 100%;
}

.featured-tool {
	padding: 50px 0px;
}

.featured-tool:nth-child(even) {
	background-color: #f9f9f9;
}

.tool-icons img {
	padding-right: 10px; 
	height: 30px;
	position: relative;
	top: -2px;
}


.watch-video-btn {
	background: url(/assets/homepage/watch-btn-arrow.jpg) no-repeat #ffffff;
	background-size: 24px;
	background-position: 20px 12px;
	height: 50px;
	width: 170px;
	border-radius: 5px;
	border: solid 2px #FAC266;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 10px 0px 0px 25px;
	font-size: 16px;
	color: black;
	margin: 20px 10px 20px 15px;
	cursor: pointer;
}

a.watch-video-btn:hover, a.watch-video-btn:active {
	text-decoration: none;
	color: rgba(0,0,0,0.7);
	
}

.learn-more-btn {
	background: #ffffff;
	background-size: 24px;
	background-position: 20px 12px;
	height: 50px;
	width: 120px;
	border-radius: 5px;
	border: solid 2px #FAC266;
	display: block;
	text-align: center;
	vertical-align: middle;
	padding: 2px 0px 0px 2px;
	font-size: 16px;
	color: black;
	margin: 10px 15px;
	cursor: pointer;
}


.tool-categories {
	margin: -50px auto 60px;
	position: sticky;
	position: -webkit-sticky;
	top: 4.0em;
	z-index: 1000;
	background: none;
}

.tool-categories ul {
	margin: 0 auto;
	box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.12);
	border-radius: 6px;
	border: #d1d1d1 1px solid;
}

.tool-categories ul li a {
	width: 300px;
	height: 50px;
	text-align: center;
}

.child-tab {
	border-radius: 6px 0px 0px 6px !important;
}

.pregnancy-tab {
	border-radius: 0px 6px 6px 0px !important;
	margin-left: -1px;
	
}

.nav-pills {
	margin: 0px auto 30px;
}

.nav-pills .nav-item a {
	height: 50px;
    width: 200px;
    background-color: #F1F1F1;
    color: rgba(0,0,0,0.5);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 11px 0px;

}

.nav-pills .nav-item a.active {
	background-color: #ffcb50;
	color: rgba(0,0,0,1);
	
	/*box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.35);*/	
	
}

.tool-screen {
	margin-top: 30px;
}

.tool-screen img {
	box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.15);
	max-height: 450px;
}


/* YOUTUBE VIDEO POPUP CSS */

.YouTubePopUp-Wrap{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#000;
    background-color:rgba(0,0,0,0.8);
    top:0;
    left:0;
    z-index:9999999999999;
}

.YouTubePopUp-animation{
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUp;
    animation-name: YouTubePopUp;
}

@-webkit-keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body.logged-in .YouTubePopUp-Wrap{ /* For WordPress */
    top:32px;
    z-index:99998;
}

.YouTubePopUp-Content{
    max-width:680px;
    display:block;
    margin:0 auto;
    height:100%;
    position:relative;
}

.YouTubePopUp-Content iframe{
    max-width:100% !important;
    width:100% !important;
    display:block !important;
    height:480px !important;
    border:none !important;
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.YouTubePopUp-Hide{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUpHide;
    animation-name: YouTubePopUpHide;
}

@-webkit-keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.YouTubePopUp-Close{
    position:absolute;
    top:0;
    cursor:pointer;
    bottom:528px;
    right:0px;
    margin:auto 0;
    width:24px;
    height:24px;
    background:url(/assets/homepage/close.png) no-repeat;
    background-size:24px 24px;
    -webkit-background-size:24px 24px;
    -moz-background-size:24px 24px;
    -o-background-size:24px 24px;
}

.YouTubePopUp-Close:hover{
    opacity:0.5;
}

@media all and (max-width: 768px) and (min-width: 10px){
    .YouTubePopUp-Content{
        max-width:90%;
    }
}

@media all and (max-width: 600px) and (min-width: 10px){
    .YouTubePopUp-Content iframe{
        height:320px !important;
    }

    .YouTubePopUp-Close{
        bottom:362px;
    }
}

@media all and (max-width: 480px) and (min-width: 10px){
    .YouTubePopUp-Content iframe{
        height:220px !important;
    }

    .YouTubePopUp-Close{
        bottom:262px;
    }
}

/* MEDIA QUERY */

@media (max-width: 768px) {
  p.title {
    text-align: center !important;
    font-size: 34px;
  }
  p.subtitle {
    text-align: center !important;
  }
  p.didyouknow {
    text-align: center !important;
  }
  .first-section {
    padding-top: 30px;
  }
  .first-section .right-content img {
    float: none !important;
    height: 400px;
    width: auto;
  }
  .left-content {
    margin: 20px 0px;
  }
  .right-content {
    min-height: 350px;
  }
  .third-section .right-content img {
    margin-top: -40px !important;
  }
  .right-content {
    padding: 30px !important;
  }
  .carousel-fade .carousel-item {
    padding: 0px;
  }
  .appstore-button-group {
    text-align: center !important;
  }
  .child-box-3 {
    margin: 20px 0px;
  }
  .carousel-control-prev .carousel-control-next {
    visibility: visible !important;
  }
  .carousel-indicators {
    bottom: -30px !important;
  }
  .tools-sliders .carousel-indicators li {
    background: rgba(0, 0, 0, 0.21);
    height: 6px;
    width: 30px;
    border-radius: 10px;
    margin-left: 10px;
  }
	margin: 0 auto;
	}
	
	.nav-pills .nav-item a {
		width: 120px;
   		 height: 40px;
   		 font-size: 14px;
    		padding-top: 10px;
	}
	
	.page-title {
		font-size: 40px !important;
		line-height: 0px !important;
	}
	
	.page-subtitle {
		font-size: 22px !important;
		width: 100% !important;
		padding: 0px !important;
		margin-top: 40px !important;
		
	}
	h2.feature-title {
		font-size: 24px;
	}
	
	h3.feature-subtitle {
		font-size: 18px !important;
		line-height: 1.4 !important;
	}
	
	.tool-icons img {
		height: 24px;
	}
	
	.features-main-image {
		height: 150px !important;
		background-size: 100% !important;
	}
	
	.tool-categories {
		margin: -50px auto 20px !important;
	}
	
	.tool-screen img {
		max-height: 300px;
	}

	.watch-video-btn {
		background-size: 20px !important;
		background-position: 6px 7px !important;
		height: 40px !important;
		width: 120px !important;
		padding: 8px 0px 0px 20px !important;
		font-size: 14px !important;
		margin: 20px 10px 20px 15px !important;
		
	}
	
	.learn-more-btn {
		background-size: 20px !important;
		height: 40px !important;
		width: 90px !important;
		padding: 0px !important;
		font-size: 14px !important;
		margin: 10px 15px 30px !important;
	}
	
	

}

@media (max-width: 320px) {
	
	.nav-pills .nav-item a {
		width: 110px;
    	height: 30px;
    	font-size: 13px;
    	padding-top: 5px;
	}
	
	.page-title {
		font-size: 40px !important;
		line-height: 0px !important;
	}
	
	.page-subtitle {
		font-size: 22px !important;
		width: 100% !important;
		padding: 0px !important;
		margin-top: 40px !important;
		
	}
	
	.features-main-image {
		height: 150px !important;
		background-size: 100% !important;
	}
	
	.tool-categories {
		margin: -50px auto 20px !important;
	}
	
	h2.feature-title {
		font-size: 24px;
	}
	
	.feature-subtitle {
		font-size: 16px !important;
		line-height: 1.4 !important;
	}
	
	.tool-icons img {
		height: 22px;
	}
	
	.tool-screen img {
		max-height: 300px;
	}

	

	

}
