<% member = family_member.member %>
<div class="fa-main-bx">
  <div class="fa-container">
      
          <div class="avatar-box2">
            <% if member.profile_image.present? %>
              <%= link_to member.profile_image.photo_url_str(:medium) , class: "fa-avatar  lightbox #{FamilyMember::IMAGE_CLASS[underscore(family_member.role)]}" do %>
                <%= image_tag(member.profile_image.photo_url_str(:medium)) %>  
              <% end %>
            <% elsif member.image.present? %>
              <div class='fa-avatar' >  
                <%= image_tag(member.social_image(100)) %>
              </div>  
            <% else %>              
              <%#= link_to "","#", class: "fontIcon fa-avatar" %>
              <div class="fa-avatar <%= FamilyMember::IMAGE_CLASS[underscore(family_member.role)] %>"> </div>
            <% end %>
            <% if member == current_user || member.is_child? %>
              <%= link_to "","#html", data: {pop: edit_picture_member_path(family_member.id), width: "510"}, class: "icon-pencil edit-img" %>
            <% end %>
          </div>  
      
      <h3>
          <%= truncate(member.full_name, length: 20) %>
      </h3>
      <% if member.birth_date.present? && member.user_id.blank? %>
          <small>
            <%= member.is_expected? ? "Expected on #{member.birth_date}" : calculate_age(member.birth_date) %>
          </small>
      <% end %>
      <p>
          <%= member.email %>
      </p>
  </div>
  <div class="fa-footer-bx">
      <div class="fa-footer-name">
          <%= member.is_expected? ? "Pregnancy": family_member.role %>
      </div>
      <%# if current_user == family_member.family.owner || current_user == member %>
      <% if !(member.is_expected? rescue false) && (family_member.family.having_member?(current_user) || current_user == member )%>
          <div class="FR drop-over"><a class="fontIcon dots" href="#."></a>
              <div class="drop-nav">
                <%#= link_to "Grant Admin Rights","#" if current_user == family_member.family.owner && family_member.is_parent? && !family_member.is_admin? %>                  
                <%#= link_to "Manage Tools", family_member_nutrients_path(fam.name, family_member.member.id), remote: true, class: "js-nav js-nutrient js-change-url" %>
                <%= link_to "Manage Tools", family_member_nutrients_path(family_member.family.url_name,member.id,family: true), remote: true, class: "js-change-url" if family_member.is_child? %> 

                <% unless (family_member.role == FamilyMember::ROLES[:admin] && current_user != member) %>

                  <% edit_member_path = if family_member.member == current_user
                                        edit_current_member_member_index_path(id: family_member.id, family: true)
                                      elsif family_member.is_child?
                                        edit_child_member_path(family_member.id) 
                                      else
                                        edit_elder_member_path(family_member.id)
                                      end
                  %>
                  <%= link_to "Edit Information","#html", :data => {:pop => edit_member_path, :width => "510"} %>
                <% end %>  
                <% if member == current_user || member.is_child? %>
                  <%= link_to "Edit Picture","#html", data: {pop: edit_picture_member_path(family_member.id), width: "510"} %>
                <% end %>
                <% remove_member_path = family_member.is_child? ? delete_child_member_path(family_member.member.id) : remove_elder_member_path(family_member.id) %>
                <%= link_to "Remove", remove_member_path, :confirm => "Are you sure you want to delete?", :method => :delete, :remote => true unless family_member.is_admin? %>
              </div>
          </div>
      <% end %>
  </div>
</div>
<script type="text/javascript">
$(".lightbox").lightbox();
</script>