<div class="drop-over btn-type7">
  <%# if family.owner == current_user %>
    <a class="fontIcon dots" href="#."></a>    
    <div class="drop-nav">
        <%= link_to "Edit Information", "#html", :data => {:pop => edit_family_path(family), width: 600 }%>
        <%= link_to "Remove", family_path(family), method: :delete, confirm: "Are you sure you want to delete?", remote: true %>
        <!-- <a href="#.">Edit Information</a>
        <a href="#.">Remove</a> -->
    </div>
  <%# end %>      
</div>
<div class="titleBar-type1a clearFix">
  <h2 class="family-name FL">
    <!-- Smith’s Generation -->
    <%= family.name %>
    <small><span>Family ID</span> 
        <!-- BJK211021 -->
        <%= family.family_uid %>
    </small>
  </h2>

  <%# if family.owner == current_user %>
  <div class="add-action">
    <%= link_to "Add a child member","#html", :class => "btn btn-type3 icon-addchild", :data => {:pop => new_child_family_member_index_path(family.id), :width => "510" } %>
    <!-- <a href="#html" data-pop="member/add_child" data-width="630" class="btn btn-type3 icon-addchild">Add a child member</a> -->
    <%= link_to "Add an elder member","#html", :id => "showTemp", :class => "btn btn-type3 icon-adduser", :data => {:pop => new_elder_family_member_index_path(family.id), :width => "510" } %>
  </div>
  <%# end %>
</div>  
<!-- <div class="CL"></div> -->
<ul class="family-list">
  <%- family.ordered_family_members(current_user).each do |family_member| %>          
    <li class="<%= family_member_role_class(family_member) %>" id = "family_member_<%= family_member.id %>">    
      <%= render :partial => "/families/family_member", locals: {family_member: family_member } %>
  <% end %>  
  <%- family.sent_invitations.each do |invitation| %>    
    <li id = "family_invitation_<%= invitation.id %>">  
      <%= render :partial => "/families/sent_invitation", locals: {invitation: invitation} %> 
    </li>  
  <% end %>
  <%- family.received_invitations.each do |invitation| %>
    <li class="income-request" id = "family_invitation_<%= invitation.id %>">
      <%= render :partial => "/families/received_invitation", locals: {invitation: invitation} %> 
    </li>
  <% end %>  
</ul>