<% if @families.blank? && @sent_family_invitations.blank? && @received_family_invitations.blank? %>
  <center>
  <div id="no_family">
    <div class="empty-msg-1">
      <p>You do not have a family. Please click on 'create a new family' button above.</p>
    </div>  
  </div>
  </center>
<% else %>
  <%- @families.each do |family| %>
    <div id="family_<%= family.id %>" class="singleBx-type6 no-padding-bottom" >
      <%= render :partial => "/families/family", locals: {family: family} %>
    </div>
  <% end %>
  <%- @sent_family_invitations.each do |invitation| %>
    <div id="family_<%= invitation.family.id rescue '' %>" class="singleBx-type5" style="margin-bottom: 10px;">
      <%= render :partial => "/families/requested_family", locals: {invitation: invitation} %>
    </div>
  <% end %>
  <%- @received_family_invitations.each do |invitation| %>
    <div id="family_<%= invitation.family.id rescue '' %>" class="singleBx-type5" style="padding-bottom: 0px;">
      <%= render :partial => "/families/join_family_invitation", locals: {invitation: invitation} %>
    </div>
  <% end %>
<% end %>