<div class="titleBar-type1a">
<h2 class="family-name">
    <%= invitation.family.name rescue ""%>
</h2>
</div>

<div class="singleBx-type11 text-center no-border">
    <p class="txt-type-1">You are invited to join</p>
    <h2 class="family-name"><%= invitation.family.name rescue "" %>
        <small>
          <span>as</span>
          <%= invitation.role %>
        </small>
        <small>
          <span>by</span>
          <%= Member.where(id: invitation.sender_id).first.try(:name) %>
        </small>
    </h2>
    <p>
          <%= link_to "Accept", accept_invitations_path(:invitation_id => invitation.id), :remote => true, :class => "txt-link" %>
          |
          <%= link_to "Decline", decline_invitations_path(:invitation_id => invitation.id), :remote => true, :class => "txt-link", :confirm => "Are you sure you want to decline?" %>
      </p>

    <!-- <p class="txt-type-3">You will be notified when your request is accepted</p> -->
    <%#= link_to "Cancel Request",delete_elder_invitation_member_path(invitation.id), confirm: 'Are you sure you want to cancel?', remote: true, method: :delete, class: "btn btn-type2" %>
</div>