<div class="singleBx-type6a">
  <div class="titleBar reset-margin">
    <h1>
      <!-- <img src="images/avatar-dummy.png" class="img-icon-type1" alt=""/> -->
      <div class="user-avatar">
        <%= image_tag(current_user.profile_image.photo_url_str(:medium), class: "img-icon-type1") if current_user.profile_image %>
      </div>  
      Manage Family
    </h1>
    <div class="actionBar">
        <a href="#html" id="newFamily" data-pop="families/new" data-width="600" class="btn btn-big-type1 icon-peoplegroup-plus">Create a new family</a>
        <!-- <a class="btn btn-big-type1 icon-peoplegroup-plus" href="#." data-pop="popups/create-family.html">Create a new family</a> -->
        <a id="existFamily" class="btn btn-big-type1 icon-peoplegroup" href="#html" data-width="600" data-pop="families/join_family">Join an existing family</a>
    </div>
  </div>
</div>
<!-- Code for app launch -->

<a href="nurturey://users/confirmation?<%=mobile_device_main_launch_param(current_user.user.id,{:user=>current_user.user})%>" style="display:none;" class="confirmation_app_launch"> confirmation link click app launch </a>

<span id="all_families">
  <%= render :partial => "/families/families" %>
</span>

<script type="text/javascript">
  $(function(){
   // parentMember();
   if("<%=flash[:notice].present?%>" == "true"){
   $(".globel-msg").html("<span>" + "<%= flash[:notice] %>" + "</span>")
 }
  })
</script>

<script type="text/javascript">
    if(/Android|iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
      // var frame = document.createElement('iframe');
      // frame.src = "nurturey://users/confirmation?confirmation_token=<%#current_user.user.confirmation_token%>";
      // frame.style.display = 'none';
      // document.body.appendChild(frame);
      $(".confirmation_app_launch")[0].click();
    }
  </script>

