<div class="fa-main-bx">
  <div class="fa-container">
      <div class="avatar-box2">      
          <% if invitation.member.profile_image %>
          <%= link_to "invitation.member.profile_image.photo_url_str", class: "fa-avatar #{FamilyMember::IMAGE_CLASS[underscore(invitation.role)]}" do %>
            <%= image_tag(invitation.member.profile_image.photo_url_str('medium')) %>
          <% end %>  
          <% else %>
            <div class="fa-avatar <%= invitation.role ? FamilyMember::IMAGE_CLASS[underscore(invitation.role)] : nil %>"> </div>
          <% end %>      
      </div>
      <h3><%= invitation.member.name %></h3>
      <% if invitation.member.birth_date.present? && invitation.member.user_id.blank? %>
          <small>                  
            <%= calculate_age(invitation.member.birth_date) %>                  
          </small>
      <% end %>
      <p><a href="#.">
          <%= invitation.member.email %>
      </a></p>
      <p class="request-sent">Requesting to join your family</p>
      <p>
          <%= link_to "Accept", accept_invitations_path(:invitation_id => invitation.id), :remote => true, :class => "txt-link" %>
          |
          <%= link_to "Decline", decline_invitations_path(:invitation_id => invitation.id), :remote => true, :class => "txt-link", :confirm => "Are you sure you want to decline?" %>
      </p>
  </div>
  <!-- <div class="fa-footer-bx">
      <div class="fa-footer-name">
          <%#= invitation.role %>
      </div>
   </div>
   -->
</div>