<div class="titleBar-type1a">
<h2 class="family-name">
    <!-- Smith’s Generation -->
    <%= invitation.family.name rescue "" %>
    <!-- <small><span>Family ID</span> 
        <%#= invitation.family.family_uid %>
    </small> -->
</h2>
</div>

<div class="singleBx-type11 text-center no-border">
            <p class="txt-type-1">Request sent to join</p>
            <h2 class="family-name"><%= invitation.family.name rescue "" %>
                <small>
                  <span>as</span>
                  <%= invitation.role %>
                </small>
            </h2>

            <p class="txt-type-3">You will be notified when your request is accepted</p>
            <!-- <input type="button" value="Cancel Request" class="btn btn-type2"/> -->
            <%= link_to "Cancel Request",delete_elder_invitation_member_path(invitation.id), confirm: 'Are you sure you want to cancel?', remote: true, method: :delete, class: "btn btn-type2" %>
        </div>
