<% member = invitation.member %>
<div class="fa-main-bx">
  <div class="fa-container">
    <div class="avatar-box2">
      <% if member.profile_image.present? %>
        <%= link_to "#html", data: {pop: display_picture_member_path(member), width: "780"}, class: "fa-avatar #{FamilyMember::IMAGE_CLASS[underscore(invitation.role)]}" do %>
          <%= image_tag(member.profile_image.photo_url_str(:medium)) %>
        <% end %>
      <% else %>
        <div class="fa-avatar <%= FamilyMember::IMAGE_CLASS[underscore(invitation.role)] %>"> </div>
      <% end %>
      <!-- <a href="#." class="fontIcon fa-avatar"></a> -->
    </div>  
    <p>
        <%= member.email %>
    </p>
    <p class="request-sent">Request Sent</p>
  </div>
  <div class="fa-footer-bx">
      <div class="fa-footer-name">
          <%= invitation.role %>
      </div>
      <% if invitation.family.having_member?(current_user) %>
          <div class="FR drop-over"><a class="fontIcon dots" href="#."></a>
              <div class="drop-nav">                                
                <%= link_to "Resend",resend_invitation_member_path(invitation.id),  :remote => true %>
                <%= link_to "Remove",delete_elder_invitation_member_path(invitation.id), :confirm => "Are you sure you want to delete?", :method => :delete, :remote => true %>   
              </div>
          </div>
      <% end %>
  </div>
</div>