<% if @family.errors.blank? %>
  $.fn.close();
  $(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
  if($(".left-section").length>0){
    $(".js-home").click();
    <% if params[:first_time] == "true" %>    
      $.fn.popclick({pop: "<%= new_child_family_member_index_path(@family.id) %>", width: "510" })
    <% end %>
  }
  else
  {  
    <% if @families.count == 1 %>
      $(".bodywapper").html("<%= escape_javascript(render :partial => 'main_content') %>")
    <% else %>
      $("#all_families").html("<%= escape_javascript(render :partial => 'families') %>")
    <% end %>
  } 
<% else %>
  $('.error').remove();
  $.each($("[class*='js-']"), function( index,input ) {
      $(input).removeClass("border-red");
  })
  <% @family.errors.messages.each do |k,v| %>
    $('.js-' + "<%= k.to_s %>").addClass("border-red");   
    $('.js-' + "<%= k.to_s %>").after("<span class='error'><%= v.first %></span>");
  <% end %>
<% end %>