  <!-- <h2 class="page-title-3">Create your Family</h2> -->
  <!-- <p class="page-title-5">Edit Information</p> -->
  <h2 class="page-title-3">Edit Information</h2>
  <%= form_for @family, :remote=>true do |f| %>
    <div class="form-type2">
      <div class="form-row">        
        <%= f.text_field :name, :class=> "textBx-type6 familyName js-name", maxlength: 40 %>    
        <%= f.submit "Update", :class => "btn btn-type2", disable_with: "Updating.." %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    (function ($) {
        input = $(".familyName");
        input.focus().val(input.val());
    })(jQuery);
</script>