<div>
  <h2 class="page-title-3">Search and join an existing family</h2>
  <!-- <p>You can search and add families that are already on Nurturey! Look them up using their family ID or by the Admin's email address</p> -->
  
    <div class="form-type2">
      <div class="form-row">
        <div class="textBx-type4 clearFix">
          <%= form_tag "#", :html=>{ :multipart => true},:remote=>true do %>
      	  <a href="#." class="btn-type8 icon-search"></a>
          <%= text_field_tag :search_key, nil, :class => "textBx-type5", :id => "searchFamily", :placeholder => "Search by family ID or family’s admin’s email address", onchange:"search_family($(this).val());", onkeyup:"search_family($(this).val());",onpaste:"search_family($(this).val());" %>
          <% end %>
        </div>
      </div>
      <ul class="list-type-1 hide-box" id="showList">        
      </ul>
      <div class="form-type3">
        <div class="form-action-row">
          Or  
         <a href="#." class="txt-link js-new-family">Create a new family</a>
        </div>
 
      </div>

  </div>  
</div>

<script type="text/javascript">
    (function ($) {
        input = $("#searchFamily");
        input.focus().val(input.val());
    })(jQuery);
</script>