<%# if @invitation.persisted? %>
  $.fn.close();
  $.fn.popclick({pop: "<%= select_role_families_path(invitation_id: @invitation.id) %>", width: "510" })
  // $(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
  // $("#all_families").append('<div id="family_<%=@invitation.family.id%>"  class="singleBx-type5" style="padding-bottom: 0px;"><%= escape_javascript(render :partial => "families/requested_family", locals: {invitation: @invitation}) %></div>')
<%# end %>