<% if session[:tour_step] == 0 %>
  <%= link_to "",trigger_tour_step_member_index_path, class: "pop-close", remote: true %>
<% end %>
<div>
  <h2 class="page-title-3">Create your Family</h2>
  <%= form_for @family, :remote=>true do |f| %>
    <div class="form-type2">
      <div class="form-row">
        <%= f.hidden_field :family_uid %>
        <%= hidden_field_tag :first_time, params[:first_time] %>
        <%= f.text_field :name, value: "My family", :class=> "textBx-type6 familyName js-name", maxlength: 40 %>    
      </div>
      <div class="form-row">
        <%= f.submit "Create", :class => "btn btn-type2 no-margin-top",disable_with: "Saving.." %>
      </div>	
      <div class="form-type3">
        <div class="form-action-row">

          <span style="color:rgb(160, 160, 166);">Or  has someone already created your family?</span> 
          <a  href="#." style="padding:0px 2px !important;font-size: 14px;" class="txt-link js-join-existing-family">Join an existing family </a>
          <span class="brass FR space-top-1">Get <%= Score::Points["Family"] %> points on creating your family profile</span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    (function ($) {
        input = $(".familyName");
        input.focus().val(input.val());
    })(jQuery);
</script>