<% if @invitation.errors.blank? %>
  $.fn.close();
  $(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
  if ($("#family_<%=@invitation.family.id%>").length == 0)
  {	
  	$("#all_families").append('<div id="family_<%=@invitation.family.id%>"  class="singleBx-type5" style="padding-bottom: 0px;"><%= escape_javascript(render :partial => "families/requested_family", locals: {invitation: @invitation}) %></div>')
  }	
<% end %>