<ul class="list-type-1" id="showList">
<% @families.each do |family| %>
<%# if @family %>
	<li>
	  <div class="fa-main-bx search_family">
	    <p><strong>
	      <%= truncate(family.name, length: 20) %>
	    </strong>
		</p>
		<!-- <p>
	      <small><span>Family ID</span> 
	      	<%#= family.family_uid %>
	      </small>
	    </p> -->
	    <!-- <div class="fontIcon fa-avatar">	     -->
            <% if family.member.profile_image || family.member.image %>
              <% image =  family.member.profile_image ? family.member.profile_image.photo_url_str(:medium) : family.member.social_image(100) %>	
              <%#= profile_image_tag(family.member) %>
              <div class="avatar-box2">
                <a href="#." class="fa-avatar icon-user">
                  <%= image_tag(image, width: "115", height: "115") %>
                </a>
              </div>
            <% else %>    
              <div class="avatar-box2">
                <a href="#." class="fa-avatar icon-user"></a>
              </div>  	
              <!-- <div class="fontIcon fa-avatar"> </div> -->
            <% end %>  
        <!-- </div> -->
	    <%= form_for :Invitation, :url=> join_this_family_family_path(family.id),:remote=>true do |f| %>  
		    <h3>
		    	<%= family.owner.full_name %>
		    </h3>
		    <%= f.hidden_field :family_id, :value => family.id %>
		    <%= f.hidden_field :sender_type, :value => 'Member' %>
		    <%= f.hidden_field :status, :value => 'invited' %>
		    <small><span><%= FamilyMember::ROLES[:admin] %></span></small>
		    <%= f.submit "Join this family", :class => "btn btn-type2" %>

		    <%#= link_to "Join this family", join_this_family_family_path(family.id), :class => "btn btn-type2", :method => :get, :remote => true  %>
	    <% end %>	    
	  </div>
	</li>
<%# end %>
<% end %>
</ul>