<div>
  <h2 class="space-bottom-1"><%= @invitation.family.name %></h2>  
  <%= form_for @invitation, :url=> save_role_families_path(invitation_id: @invitation.id), :html=>{ :multipart => true},:remote=>true, :method => :post do |f| %>
    <div class="form-type2">
      <div class="form-row clearFix">

          <div class="singleBx-type7 FL">
            <div class="form-row reset-margin">
              <%= label_tag :relationship,"Relationship with the children", :class => "form-label" %>
		      <label class="custom-select">
		        <%= f.select :role, options_for_select(FamilyMember::ELDER_ROLES), :class => 'custom-select js-role' %> 
		      </label>
            </div>
          </div>  
        
      </div>
      <div class="CL"></div>
      <div class="form-type3">
        <div class="form-action-row">      
          <%= submit_tag "Save", :class => "btn btn-type2",disable_with:"Saving.." %>
          <!-- <span class="brass FR space-top-1">Get 200pts per member added!</span> -->
        </div>
      </div>  
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(".pop-close").hide();
</script>