<% if @family.errors.blank? %>
  // $this.$disablePopup();
  $.fn.close();
  $("#family_<%= @family.id %>").html("<%= escape_javascript(render :partial => 'family', locals: {family: @family}) %>")
<% else %>	
  $('.error').remove();
  $.each($("[class*='js-']"), function( index,input ) {
    $(input).removeClass("border-red");
  })
  <% @family.errors.messages.each do |k,v| %>
  	$('.js-' + "<%= k.to_s %>").addClass("border-red");		
	$('.js-' + "<%= k.to_s %>").after("<span class='error'><%= v.first %></span>");
  <% end %>
<% end %>