<% @scenario = scenario %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#scenario_keywords").tokenize({datas:"select",placeholder:""});
    

    $(".TokensContainer").focusout(function(){
     var keywords = $("#scenario_keywords").tokenize().toArray().join(",")
    
      $("#keywords").val(keywords);
       
    });
  });
</script>
<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <br/>
 <br/>
<div class="js-error_msg">
<%= @scenario.errors.full_messages.first if @scenario.errors.any? %>
</div>
<% @is_new_record = @scenario.new_record? %>
<% @url = @scenario.new_record? ? "/admin/scenario_details/add_scenario" : "/admin/scenario_details/update_scenario"%>
  <% if @source == "scenario_controller"%>
    <% remote_status = false %>
    <% style =  "" %>
  <% else %>
    <% style =  "overflow:scroll;height:400px" %>
    <% remote_status =  true %>
  
  <% end %>
    
    <%= form_for @scenario,url: @url, :html => { :id=>"system_scenario_scenario_details_form", :multipart => true,:style=>style },:remote=>remote_status do |f| %>
<div>
  <%= hidden_field_tag :source,@source%>
  <h2 class="space-bottom-1"><%= @is_new_record ? "Add" : "Update" %> Scenario </h2>
  <% if !@is_new_record%>
   (Custom ID- <%=@scenario.custome_id%>)
   <br/>
   <br/>
    <%= hidden_field_tag :scenario_id,@scenario.id %>
  <% end %>


  

  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
      <label class="form-label">Title </label>
        <%= f.text_area :title, size: "30x5",class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
      <label class="form-label">Title in tech</label>
        <%= f.text_area :title_in_tech,size: "30x5", class: "js-name textBx-type2"  %>
    </div>


    <div class="form-row">
        <label class="form-label">Keywords(Press enter to add new keyword in list)</label>
        <select  id="scenario_keywords" class="textBx-type2 js-keywords" name="scenario[keywords]" multiple="multiple">
          <%@scenario.keywords.each do |scenario_keyword|%>
            <option value="<%=scenario_keyword%>" selected><%=scenario_keyword%></option>
          <% end %>

        </select>
        <!-- <label class="form-label">Categories</label>-->
         <%= hidden_field_tag :keywords  %> 
    </div>

    
    <div class="form-row">
        <label class="form-label">Status</label>
         <%= f.select :status, options_for_select(['Draft','Testing','DevReview', 'Active','Deactive'],@scenario.status), :class => 'custom-select1  ' %> 
    </div> 
    <div class="form-row">
        <label class="form-label">Stage</label>
        <%= f.select :stage, options_for_select(['all','member','infants','pregnancy'],@scenario.stage), :class => 'custom-select1  ' %>
         
         
    </div>


    <div class="form-row">
      <label class="form-label">Category in tech</label>
      <%= f.select :category, options_for_select(['member','pregnancy','milestones','measurements','prenatal tests','immunisations','allergies'],@scenario.category), :class => 'custom-select1  ' %>
         
    </div>

     
  <div class="form-row">
        <label class="form-label">Criteria eg.(Rotavirus immunisation is upon us in Uk)</label>
        <%= f.text_field :condition, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Criteria in Tech eg.{:vaccine=>"Rotavirus",:country=>"UK"}</label>
        <%= f.text_field :condition_in_tech, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
        <label class="form-label">Score eg.(1,2,3)</label>
        <%= f.text_field :score, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Ds eg.(45 days before due date of jab)</label>
        <%= f.text_field :ds, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Ds in tech eg.(jab_date - 45.days)</label>
        <%= f.text_field :start_date, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Dp eg.(3 days before due date of jab)</label>
        <%= f.text_field :dp, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Dp in tech eg.(jab_date - 3.days)</label>
        <%= f.text_field :peak_rel_date, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Dexp eg.(15 days after the date of Jab)</label>
        <%= f.text_field :dexp, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Dexp in tech eg.(jab_date + 15.days)</label>
        <%= f.text_field :expire_date, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">N Factor eg.(1,2,3..)</label>
        <%= f.text_field :N_factor, class: "js-name textBx-type2"  %>
    </div> 
    

    <div class="form-type3"><div class="form-action-row">
       <%= f.submit (@scenario.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
  
    </div></div>

     <span class="js-next-scenario">
  <%if (@next_scenario_custome_id < @max_custome_id rescue false) %>

    <%= f.submit "Update and Edit Next", name:"update_and_edit_next", class: "btn btn-type2", disable_with: "Update and Edit Next"  %>
    <% end %>
</span>
  </div>
</div>
<% end %>
  <% if @source == "scenario_controller"%>
  <% if @scenario.new_record? %>
 <%= link_to "Cancel", "/admin/scenario_details",class: "btn btn-type2"   %>
  <% else %>
 <%= link_to "Cancel", "/admin/scenario_details/#{@scenario.id}",class: "btn btn-type2"   %>
 <% end %>
  <% else %>
 <%= link_to "Cancel", "#",class: "btn btn-type2", :onClick=>"$('.pop-close').click()"  %>
 <% end %>
 <br/>
 <br/>
 <span class="js-next-scenario" style="float: right">
  <%if (@next_scenario_custome_id < @max_custome_id rescue false) %>
    <%= link_to "Edit Next Scenario", "/admin/scenario_details/edit_next_scenario?id=#{@next_scenario_custome_id }", remote:true, :class=> "btn btn-type2" %>
    <% end %>
</span>

 <span class="js-previous-scenario" style="float: right">
  <% if (@previous_scenario_custome_id > 0 rescue false)  %>
    <%= link_to "Edit Previous Scenario", "/admin/scenario_details/edit_previous_scenario?id=#{@previous_scenario_custome_id }", remote:true, :class=> "btn btn-type2" %>
    <% end %>
</span>
 <br/>
 <br/>
 <br/>
 <br/>
