
<br/>
<br/>
<br/>

<h2> Scenario List </h2>
<br/>
<% if @source == "scenario_controller"%>

  <span class="js-next-scenario">
    <% if @scenario.present? %> 
      <%if @next_scenario_custome_id < @max_custome_id %>
        <%= link_to "Next scenario", "/admin/scenario_details/go_to_next_scenario?id=#{@next_scenario_custome_id}", remote:true %>
        <% end %>
    </span>
    <span class="js-previous-scenario" style="float: right">
      <% if @previous_scenario_custome_id > 0 %>
        <%= link_to "Previous Scenario", "/admin/scenario_details/go_to_previous_scenario?id=#{@previous_scenario_custome_id}", remote:true %>
        <% end %>
    </span>
    <br/>
    <br/>
    <% end %>

  <% if (linked_tool_custome_id.present? rescue false)%>
    <%=link_to "Add New Scenario", "#html",:data=>{:pop=> "/admin/scenario_details/new_scenario?linked_tool_custome_id=#{linked_tool_custome_id}&tool_type=#{tool_type}&tool_subtype=#{tool_subtype}",:height=>"500", :width => "810" }  %>
  <% elsif @source == "scenario_controller"%>
    <%=link_to "Add New Scenario", "/admin/scenario_details/new_scenario?source=#{@source}" %>
  <% else %>
    <%=link_to "Add New Scenario", "#html",:data=>{:pop=>"/admin/scenario_details/new_scenario",:height=>"500", :width => "810" } %>
  <% end %>
<br/>
<br/>
<%end %>
<table id="scenario" class="display" cellspacing="0" >
<!-- <tfoot>
  <tr>
    
<th>              </th>
<th>  Custom ID   </th>
<th>  N Factor    </th>
<th>  Category    </tr>
<th>  Condition   </th>
<th>  Condition I </th>
<th>  Dexp        </th>
<th>  Dp          </th>
<th>  Ds          </th>
<th>  Expire Date </th>
<th>  Peak Re     </th>
<th>  Score       </th>
<th>  Stage       </th>
<th>  Start Date  </th>
<th>  Status      </th>
<th>  Title      </th>
<th>  Title I      </th>
<th>  Action</th>
     
  </tr>
</tfoot> -->
</table>
  <div class="CL"></div>
 
  <script type="text/javascript">
   
   $(document).ready(function() {
    var t = $('#scenario').DataTable( {
       "scrollX":true,      

        "rowCallback": function( row, data, iDisplayIndex ) {
           var info = $(this).DataTable().page.info();
           var page = info.page;
           var length = info.length;
           var index = (page * length + (iDisplayIndex +1));
           $(row).attr('id', data._id);
           $('td:eq(0)', row).html(index);
          if (<%=@source != "scenario_controller"%>)
           { 
            $('td:eq(-1)', row).hide();
            $('td:eq(-2)', row).hide();
           }
        }     ,
        "headerCallback": function( thead, data, start, end, display ) {

           if (<%=@source != "scenario_controller"%>)
           { 
             $(thead).find('th').eq(-1).hide();
             $(thead).find('th').eq(-2).hide();
           }
        },
       "columns":[
          {"title":"","data":null}, 
          {"title":"ID","data":"custome_id"}, 
          {"title":"Status","data":"status"}, 
          {"title":"Title","data":"title"},
          {"title":"Title In Tech","data":"title_in_tech"},
          {"title":"Stage","data":"stage"}, 
          {"title":"Condition","data":"condition"}, 
          {"title":"Condition In Tech","data":"condition_in_tech"}, 
          {"title":"Score","data":"score"}, 
          {"title":"N Factor", "data":"N_factor"}, 
          {"title":"Category","data":"category"}, 
          {"title":"Ds","data":"ds"}, 
          {"title":"Dp","data":"dp"}, 
          {"title":"Dexp","data":"dexp"}, 
          {"title":"Start Date","data":"start_date"}, 
          {"title":"Peak Rel Date","data":"peak_rel_date"}, 
          {"title":"Expire Date","data":"expire_date"}, 
          {"title":"Keywords","data":"keywords"}, 
          {"title":"Show linked items",
            mRender: function (data, type, row) {
                 return '<a href="#html", data-pop="/admin/scenario_details/get_linked_items?id=' + row._id + '&amp;source=<%=@source%>" class="txt-link-type2" style="width:70px;">Show link items</a>'
          }
        },          

          {"title":"Action",
            mRender: function (data, type, row) {
                 return '<a href="/admin/scenario_details/' + row._id + '" class="txt-link-type2" style="width:70px;">Show</a><a href="/admin/scenario_details/edit_scenario?id=' + row._id + '&amp;source=<%=@source%>" class="txt-link-type2" style="width:70px;">Edit</a><a href="/admin/scenario_details/delete_scenario?scenario_id='+row._id+ '" class="qicon-trash-o txt-link-type2q js-' + row._id+ '" data-confirm="Are you sure you want to delete?" data-remote="true" style="width:70px;">Delete</a>'
          }
        }
      
        ],
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 0, "asc" ]],
        "serverSide": true,
        "pageLength":100,
        "ajax": {
            url: '/admin/scenario_details/paginated_data',
            "data":{id:"<%=params[:id]%>"},
            "dataSrc": 'scenario_list'

        } 
      });

    //new $.fn.dataTable.FixedHeader( t );

    $('.js-delete').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      
      $.ajax({
        url: "delete_scenario",
        "data": {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );


      $('#scenario thead th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

} );


 </script> 
 <style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
}

.dataTables_scrollBody{
  min-height: 123px !important;
}
div.container {
        width: 80%;
    }

 </style>


<% if @scenario.present? %>
  <div class="js-test_validation_form">
   <%= form_tag("/admin/scenario_details/test_notification_validation_to_assign",method: 'get', remote: true) do %>
    <div class="form-type2">
      <div class="form-row">
        <label class="form-label"></label>
        <%= select_tag :member_id, options_from_collection_for_select( current_user.childerns , "id", "first_name"), {:class => 'custom-select1  '} %>
        <%= hidden_field_tag :custom_id, @scenario.custome_id,:class=>"js-custome-id-val" %>
        <%= submit_tag "Vaildate Scenario assignment",class: "btn btn-type2",:disable_with=>"Validating.." %>
     
    </div>
    </div>
   <% end %>
  </div>
<% end %>