  <div class="CL"></div>

<br/>

<br/>
<br/>

<h2> Linked Items</h2>
<br/>

<table id="scenario_linked_items" class="display" cellspacing="0" width="100%">

  <thead>
    <tr>
      <th>                                   </th>
      <th>Linked tool                        </th>
      <th>Topic                              </th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <th>                                   </th>
      <th>Linked tool                        </th>
      <th>Topic                              </th>
    </tr>
  </tfoot>

  <tbody>
    <% if @linked_items.present? %>
      <% @linked_items.each do |scenario_linked_items|  %>
        <tr>
            <td></td>
            <td>
              <% if scenario_linked_items["tool"] == "pointer"|| scenario_linked_items["tool"] == "SysArticleRef" %>
                <%=link_to scenario_linked_items["tool"],"/admin/pointers/#{scenario_linked_items['tool_id']}",class: "txt-link-type2",style:"width:70px;", target: :_blank  %>
              <% elsif scenario_linked_items["tool"] == "faq" %>
                <%=link_to scenario_linked_items["tool"],"/admin/faq/show_question?question_id=#{scenario_linked_items['tool_id']}",class: "txt-link-type2",style:"width:70px;",target: :_blank %>
               <% end %> 
            </td>               
            <td><%=scenario_linked_items["topic"]%></td>
        </tr>
      <% end %>  
    <% end %>
    </tbody>
    </table> 
  <div class="CL"></div>
 
  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#scenario_linked_items').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
     

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
.display{
width: 100% !important;
  }
/*.dataTables_scrollFootInner{
width: 100% !important;

}
.dataTables_scrollHeadInner{
width: 100% !important;
}*/
 
 </style>

