<% if @scenario_data.present?%>
alert("Name:<%=@scenario_data[:scenario_title]%>\r\nScore:<%=@scenario_data[:score]%> \r\nStartDate:<%=@scenario_data[:scenario_start_date]%>\r\nPeakRelDate:<%=@scenario_data[:scenario_peak_relevence_date]%>\r\nExpiryDate:<%=@scenario_data[:scenario_expire_date]%>")
<% else %>
  alert("Not valid  to assigned")
<% end %>