<script type="text/javascript">
      if(/Android/i.test(navigator.userAgent) ) {
        window.location = "https://play.google.com/store/apps/details?id=com.nurturey.app";
      }
      if(/iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
       window.location = "https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8";
      }
      else{
          window.location ="<%=@url%>"
      }

    </script>  
