.infoText{:style => "display: block;"}
= form_for current_user, :url => '/users/change_email',:remote => true do |f|
  %input#user_sec_email{ :type => "hidden", :value => user_secondary_email }  
  .hLable
    %span{:style => "display:block"} Primary Email
  .hElement
    %span{:style => "display:block"} Email
  .sLable1
    %input.jqTransformRadio.js-primary-email{:id => "primary_radio", :checked => "", :name => "primary_mail", :type => "radio", :value => current_user.email, :class => "jqTransformRadio"}
  .sElement
    = f.email_field :email, :autofocus => true, :class=> "inputType1  FL", :placeholder => "your@email.com",:style=>"width: 147px;font-size:12px;", :disabled => true   
    %span.FL   *
    .sStatus Verified
  .sLable1.js-sec-email
    %input.jqTransformRadio{:id => "secondary_radio",:name => "primary_mail", :type => "radio", :value => user_secondary_email }/
  .sElement.js-sec-email
    %input.inputType1.FL{:name => "email",:placeholder =>"secondary email", :id => "input_sec_email",:type => "text", :disabled => (current_user.secondary_email.nil?), :onblur => "$.validateEmail(this);", :style=>'display: block;width: 150px;font-size:12px;', :value => (user_secondary_email)}/
    %span.sDel
      =image_tag('cross-image.png', :id =>  "new_emal_del",:height => "16", :width => "16")
    .sStatus
      #addEmailStatus.js-sec-mail-status
        = current_user.secondary_email ? SecondaryEmail::EMAIL_STATUS[current_user.secondary_email.status.to_i] : "Unverified"
  .sLable
  .sElement.js-add-sec-email        
    %input.buttonType2.add{:id => "add_email_btn",:style => "box-shadow:none;", :type => "button", :value => "Add"}/
  