<%= link_to "/score/", remote: true do %>
<div class="<%=Score::BadgeClass[@score]%> js-badges">
    <div class="hex">
        <div class="hex inner">
            <div class="hex inner2">
                <div class="hex-top"><%=Score::BadgeType[@score]%></div>
                <div class="hex-count badge-txt-1"><%=Score::BadgeName[@score]%></div>
                <div class="hex-bottom"> <%=Score::BadgeParent[@score]%>  </div>
            </div>
        </div>
    </div>
    <div class="ribin"></div>
</div>
<% end %>
<div class="singleBx-type6a js-invitation">
  <p class="page-title-2">Share the Joy</p>
  <%= link_to new_invitation_path, remote: true do %>
    <div class="envelope-box"><span>Invite friends to nurturey </span></div>
  <% end %>  
  <p>Tell other parents and make their life easy as yours</p>
</div>
<!-- <p class="page-title-3">Fresh From Our Lab !</p>
<ul class="list-type-8">
  <li>
    <p class="page-title-9 icon-forums">Forums</p>
    <p class="space-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="#." class="txt-link-type1">Click to explore</a> </li>
  <li>
    <p class="page-title-9 icon-question-o">Questionnaire</p>
    <p class="space-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="#." class="txt-link-type1">Click to explore</a> </li>
</ul>
<p class="page-title-3">Exciting features
  brewing in our lab!</p>
<ul class="list-type-8">
  <li>
    <p class="page-title-9 icon-forums">Forums</p>
    <p class="space-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="#." class="txt-link-type1">Click to explore</a> </li>
  <li>
    <p class="page-title-9 icon-question-o">Questionnaire</p>
    <p class="space-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="#." class="txt-link-type1">Click to explore</a> </li>
</ul> -->