- content_for :before_body_closing do
	%ol#joyRideTipContent
		%li{"data-class" => "pageSubTitle", "data-text"=>"Next", "data-options"=>"tipLocation:top;tipAnimation:fade"}
			%p
				Hey welcome #{current_user.first_name}! get started here, create family name add your role and associate with existing family.

		%li{"data-class" => "proImg", "data-text"=>"Next", "class" => "structure_snapshot", "data-options"=>"tipLocation:bottom"}
			= image_tag("structure_snapshot.png", :width => "400")
			%br
			%br

		%li{"data-class" => "viewStat.offStat","data-options"=>"tipLocation:bottom"}
			%p
				Please add or delete members and families from the Navigation Bar. You can also explore details of each member from the navigation bar.

		%li{"data-class" => "more-icon",  "data-options"=>"tipLocation:bottom;"}
			%p
				Modify family name, user email & password settings etc from this section

		%li{"data-class" => "wrapbox","data-options"=>"tipLocation:bottom;"}
			%p
				Quick links to the user dashboard, Calendar, Notifications etc for the user.

		%li{"data-class" => "widgetBox","data-options"=>"tipLocation:top;"}
			%p
				Explore each section to manage multi-dimensional growth of your children from this child dashboard.

		%li{"data-class" => "helthIcon", "class" => "health_snapshot","data-options"=>"tipLocation:bottom"}
			= image_tag("health_snapshot.png")
			%br
			%br

		%li{"data-class" => "mindIcon","data-options"=>"tipLocation:bottom"}
			= image_tag("mind_snapshot.png")
			%br
			%br
		%li{"data-class" => "schoolIcon"}
			= image_tag("school_snapshot.png",:width=>"260")
			%br
			%br

		%li{"data-class" => "calIcon"}
			= image_tag("school_snapshot.png",:width=>"260")
			%br
			%br
		%li{"data-class" => "examIcon"}
			= image_tag("school_snapshot.png",:width=>"260")
			%br
			%br
		%li{"data-class" => "actiIcon"}
			= image_tag("school_snapshot.png",:width=>"260")
			%br
			%br
		%li{"data-class" => "awardIcon"}
			= image_tag("award_honour_snapshot.png",:width=>"260")
			%br
			%br
		%li{"data-class" => "assigIcon"}
			= image_tag("school_snapshot.png",:width=>"260")
			%br
			%br
		%li{"data-class" => "dphotoIcon", "data-button" => "Close"}
			= image_tag("documents_snapshot.png", :width => "250")
			%br
			%br