<% if current_user.user.status == User::STATUS[:unconfirmed]%>
 <div class="singleBx-type16 js-acivation-notification">
    <a href="#." class="icon-times btn-type4" onclick="$(this).parent().hide();"></a>
    <div class="titleBar-type4">
        <i class="icon-alert"></i>
    </div>
    <p>
     To continue using your Nurturey, verify your email within the next 120 minutes, by clicking on the link sent to <a href="#." class="txt-link-type1"><%= current_user.user.email%></a>. Please check your spam folder if you haven't received the email.	
    </p>
      <%= link_to "Resend Email", "/resend_confirmation_link", class: "btn btn-type1 no-margin-left", remote: true%>
    </div>
<% end %>