<div class="notification-view">
    <div class="notification-head clearFix">
        <span class="FL notification-title">Notification</span>
        <span class="FR notification-setting">
            <i class="icon-cog"></i>
        </span>
    </div>
     
    <div class="scroll-type5">
        <ul class="list-type-14">
        <% notifications = current_user.notifications.order_by("created_at DESC").entries  %>
          <% if notifications.present? %>
          <%#byebug%>
            <% notifications.each do |notification| %>
              <li>
    
              <% profile_image_mapping_with_id = {} %>
              <%   Picture.in(:imageable_field=>[:profile_image, nil], :imageable_id=>notifications.pluck(:sender_id)).map{|profile_image| profile_image_mapping_with_id[profile_image.imageable_id.to_s] = profile_image } rescue nil %>
                <%= link_to view_notification_path(notification.id) do %>
                  <div class="avatar-type2 user-avatar">
                      <% #sender = notification.sender %>
                      <% profile_image = (profile_image_mapping_with_id[notification.sender_id.to_s] ) rescue nil %>
                      <%= image_tag(profile_image.photo_url_str(:thumb), class: "img-icon-type1", width: 25, height: 25) if notification.sender_id.present? && profile_image %>
                  </div>
                  <div class="notification-text">
                      <p><%= notification.title %></p>
                       
                      <p class="time-stamp">
                        <% if notification.created_at %>
                          <%= distance_of_time_in_words(Time.now,notification.created_at).split(',').first %> ago
                        <% end %>
                      </p>
                  </div>
                  <% unless notification.checked? %>
                    <div class="notification-icon active"></div>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <li> <div class="notification-text">You don't have any notifications.</div></li>  
          <% end %>
        </ul>
    </div>
    <div class="notification-footer clearFix" align="center">
        <a href="<%= check_all_notifications_path %>">Mark All Read</a>
         
    </div>
</div>