   <!-- recent item empty-->
      <% if @no_recent_item %>
       <div class="singleBx-type8">
          <div class="titleBar-type2">
              <h2>Recent Items</h2>
          </div>
          <div class="empty-msg-1">
              <p>There are no recent items to show up here.</p>
              <p><strong>Follow the steps above to get started!</strong></p>
          </div>
      </div>
      
      <% else %>
   <!-- recent item filled -->
    <div class="singleBx-type8">
      <div class="titleBar-type2">
        <h2>Recent Items</h2>
      </div>
      

    <ul class="list-type-9 clearFix">

      <% if (@recent_picture.first rescue false) %>
        <li class="card">
        <a href="<%= @recent_picture.first.photo_url_str %>" class="lightbox">
          <img src="<%= @recent_picture.first.photo_url_str(:medium) %>" class="full-img" alt=""/>
        </a>
        </li>
      <% end %>
    
    <!-- Health -->
      <% (@recent_health || []).each do |health| %>
        <%# [Health.last].each do |health| %>
        
         
          <li>
          <% parameter = existing_health_keys(health,Health::HEALTH_ENTRY_PARAM.keys).sample %>
           <%=link_to "", health_index_path(member_id: health.member.id), class: "js-recent-content", remote: true, "data-member-id"=> health.member.id, "data-nutrient" =>"health" %>
          <div class="clearFix space-bottom js-recent">
            <div class="clearFix">
            <%= recent_profile_tag(health.member)%>
               <!-- <div class="avatar-type1"> 
               <%#= image_tag(profile_image(health.member)) %>
                </div> -->
                <div class="avatar-type1-desc space-top-2">
                  <p class="page-title-5 no-margin-bottom"><%=Health::HEALTH_ENTRY_TITLE[parameter.gsub("_","")] %>
                  </p>
                </div>
              </div>
              <div class="singleBx-type12">
                <i class="icon-<%=Health::OverView_Param[parameter]%>"></i>
                <p class="page-title-2 light"><%= eval("health.#{parameter}") %> <%= health[parameter + "_unit"] %></p>
                <p><span class="txt-type-3">Updated: :
                  </span><%= toDate1(health.updated_at) %>
                </p>
              </div>
            </div>
            
          </li>
      <% end %>

     
       <!-- Milestone -->
      <% (@recent_milestone || []).each do |milestone| %>
        <% @no_item = "false" %>
        
        
        <li>   <%=link_to "",milestones_path(member_id: milestone.member.id), class: "js-recent-content", remote: true, "data-member-id"=> milestone.member.id, "data-nutrient" =>"milestone" %>
          <div class="clearFix space-bottom js-recent">
            <div class="clearFix">
              <!-- <div class="avatar-type1"> -->
              <%#= profile_image_tag(milestone.member) %>
                <%#= image_tag(profile_image(milestone.member)) %>
                <%= recent_profile_tag(milestone.member)%>
              <!-- </div> -->
              <div class="avatar-type1-desc space-top-2">
                <p class="page-title-5 no-margin-bottom">Milestones</p>
              </div>
            </div>
          </div>
          <p class="page-title-5 reset-margin js-recent"><%= (milestone.system_milestone.try(:title) || "").truncate(20)%></p>
          <p class="txt-type-3 space-bottom js-recent"><%= milestone.system_milestone.milestone_type%></p>
          <p><%= (milestone.description || "").truncate(20) %></p>
         </li>
        
      <% end %>
      
      <!-- Immunisation -->
        <% (@recent_vaccine || []).each do |vaccine|%>
          <li>
            <%=link_to "",immunisation_index_path(member_id: vaccine.member.id), class: "js-recent-content", remote: true, "data-member-id"=> vaccine.member.id, "data-nutrient" =>"immunisations" %>

              <div class="clearFix space-bottom js-recent">
                  <div class="clearFix">
                    <!-- <div class="avatar-type1">  -->
                    <%= recent_profile_tag(vaccine.member)%>
                      <%#= image_tag(profile_image(vaccine.member)) %>
                    <!-- </div> -->
                      <div class="avatar-type1-desc space-top-2">
                          <p class="page-title-5 no-margin-bottom">Immunisations</p>
                      </div>
                    </div>
                    <div class="singleBx-type12">
                      <i class="<%=Vaccination::Category[vaccine.category] || 'icon-immunization' %>"></i>
                      <p class="page-title-2 light"><%= (vaccine.get_name || "").truncate(20) %></p>
                      <p><span class="txt-type-3">Added: </span><%= toDate1(vaccine.updated_at) %></p>
                  </div>
              </div>
          </li> 
        <% end %>

          <!-- timeline -->
    
          <% (@recent_timeline || []).each do |timeline| %>
            <li>
             <%=link_to "",timeline_index_path(member_id: timeline.member.id), class: "js-recent-content", remote: true, "data-member-id"=> timeline.member.id, "data-nutrient" =>"timeline" %>
        
                <div class="clearFix space-bottom js-recent">
                    <div class="clearFix">
                    <%= recent_profile_tag(timeline.member)%>
                      <!-- <div class="avatar-type1"> -->
                        <!-- <img src="<%#=profile_image(timeline.member)%>" alt=""> -->
                       <!-- </div> -->
                        <div class="avatar-type1-desc space-top-2">
                            <p class="page-title-5 no-margin-bottom">Timeline</p>
                        </div>
                      </div>
                </div>
                <p class="page-title-5 reset-margin js-recent"><%= (timeline.name|| "").truncate(20)%></p>
                <p class="txt-type-3 space-bottom js-recent"><%= toDate3(timeline.timeline_at)%></p>
                <p style="word-wrap:break-word;"><%= (timeline.desc || "").truncate(20)%></p>
            </li>
          <% end %>
         <!-- Picture -->
         <%if @recent_picture.present? %>
           <% @recent_picture.drop(1).each do |pic| %>
            <li class="card">
             <a href="<%= pic.photo_url_str %>" class="lightbox"> <img src="<%= pic.photo_url_str(:medium) %>" class="full-img" alt=""/>
          </li>
          <% end %>
        <% end %>

         
        
      </ul>
    </div>
    
     <% end %>
     <script type="text/javascript">
    
     $(".lightbox").lightbox()
     </script>