    
<%
resource = current_user.user
resource_name = "user"
%>
        <div class="singleBx-type6a">
            <div class="titleBar reset-margin">
                <h1>
                  <% if current_user.profile_image.present? %>
                    <%= image_tag(current_user.profile_image.photo_url_str(:thumb), class: "img-icon-type1") %>
                  <% else %>
                    <div class='user-avatar icon-user'></div>  
                  <% end %>
                  <%#=profile_image_tag(@member,"small") %>
                  Settings
                </h1>
            </div>
        </div>
        <div class="singleBx-type5">
            <!-- <ul class="tab-list-type1 no-margin-left">
                <li class="active" style="padding-left:31px; padding-right:31px;" onclick="$('.js-metric-sys').hide();$('.js-subscription').hide();$('.js-password-change').show();$('li.active').removeClass('active');$(this).addClass('active');$('#oldPass').focus();">Account</li>

                <li onclick="$('.js-subscription').show();$('.js-metric-sys').hide();$('.js-password-change').hide();$('li.active').removeClass('active');$(this).addClass('active');">Subscription</li>

                <li onclick="$('.js-metric-sys').show();$('.js-subscription').hide();$('.js-password-change').hide();$('li.active').removeClass('active');$(this).addClass('active');" class="tab-metric-sys">General</li>

            </ul> -->


            <ul class="tab-list-type1 no-margin-left">
                <li class="active" style="padding-left:31px; padding-right:31px;" onclick="$('.js-metric-sys').show();$('.js-subscription').hide();$('.js-password-change').hide();$('li.active').removeClass('active');$(this).addClass('active');" class="tab-metric-sys">General</li>

                <li onclick="$('.js-metric-sys').hide();$('.js-subscription').hide();$('.js-password-change').show();$('li.active').removeClass('active');$(this).addClass('active');$('#oldPass').focus();">Account</li>

                <li onclick="$('.js-subscription').show();$('.js-metric-sys').hide();$('.js-password-change').hide();$('li.active').removeClass('active');$(this).addClass('active');">Subscription</li>

            </ul>




            <div class="js-metric-sys">

                <%= render :partial => "/health/metric_system" %>
                <%#= render :partial => "timezone_setting" %>                
            </div>
            <div class="js-subscription">
                <h2 class="text-normal">Your subscription is completely free</h2>
                <div class="form-action-row"> </div>
            </div>
            
            <div class="form-type4 js-password-change" >
                <div class="form-row">
                    <label for="" class="form-label">Username :</label>
                    <div class="form-control" style="padding-left:2px;"> <%= current_user.email %></div>
                </div>
                <div class="hr-solid"></div>
                 
                <% if current_user.user.provider == "facebook" %>
                  <div class="form-row">  
                    <label for="" class="form-label">Provider :</label>
                    <div class="form-control" style="padding-left:2px;"> <%= current_user.user.provider %></div>
                  </div>  
                <% else %>
                
                <div class="form-row">
                    <br />
                    <label for="" class="form-label">Password :</label>
                    <div class="form-control">
                        <div class="form-row" id="viewPass">
                            xxxxxxxx <a href="#." onclick="event.preventDefault();$('#showPass').slideDown();$('#viewPass').hide();$('#oldPass').focus();$('form')[0].reset();" class="txt-link-type2 FR"><i class="icon-pencil"></i></a>
                        </div>
                        <div class="hide-box" id="showPass">
                            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put },:remote=> true) do |f|%>

                                <div class='error'></div>
                                <input type="password" name="user[current_password]" id="oldPass" class="textBx-type7" value="" placeholder="Enter old password"/>
                                <%= f.password_field :password, id: "", class: "textBx-type7", value:"", placeholder: "Enter new password(min 8 chars)" %>
                                <!-- <input type="password" name="" id="oldPass" class="textBx-type7" value="" placeholder="Enter old password"/> -->
                                <br>
                                <!--  <input type="password" name="" id="" class="textBx-type7" value="" placeholder="Enter new password"/> --> 
                                <%= f.password_field :password_confirmation,class: "textBx-type7", value:"", placeholder: "Retype new password" %>
                                <!--  <input type="password" name="" id="" class="textBx-type7" value="" placeholder="Retype new password"/> -->
                                <div style="font-size: 10px;">
                                  <%=raw(Message::DEVISE[:m20])%>
                                </div>
                                <br>
                                <input type="submit" value="save" class="btn btn-type1"/> <a href="#." class="txt-link js-close-setting" onclick="event.preventDefault();$('#showPass').slideUp();$('#viewPass').show();">Cancel</a>
                            <% end %>
                        </div>
                    </div>
                    </div>
                    
                    <% end %>
                  </div>  

                  
                <div class="form-action-row">


                </div>
            </div>