
<!-- Trigger pop-->
<div class="trigger-overlay" style="display:none;"></div> <!-- hidden -->
<div class="manage-info-pop js-trigger-pop"> <!-- hidden -->
    <span class="up-arrow"></span>
    <p>Manage children and adult members in your family through Manage Family link</p>
    <%= link_to "Got it!", trigger_tour_step_member_index_path, remote: true, class: "btn btn-type2" %>
    <!-- <input type="button" value="Got it!" class="btn btn-type2" onclick="$('.manage-info-pop,.trigger-overlay').remove();"/> -->
</div>

<div class="left-info-pop js-trigger-pop"> <!-- hidden -->
  <span class="left-arrow"></span>
  <p>Navigate to your children’s digital tools from left panel</p>
  <%= link_to "Got it!", trigger_tour_step_member_index_path, remote: true, class: "btn btn-type2" %>
</div>
