<!-- comment cover image -->
<!--
<div class="singleBx-type14 cover-img">
  <div class="drop-over btn-type7"> <a class="fontIcon dots" href="#."></a>
    <div class="drop-nav"> -->
    <!-- <a onclick="$('#js-cover-image').click();">Edit</a> -->
    <%#= link_to "Edit","#html", data: {pop: "/users/edit_cover_image", width: "510"} %>
    <%#= form_tag "/users/update_cover_image", id:"cover-image-form", multipart: true, remote: true do %>
    <!-- <input type="file" name="user_cover_iamge" id="js-cover-image" style="display:none;"> -->
    <%# end %>
    <!-- <a href="/users/delete_cover_image" onclick="$(this).parent().parent().parent().hide();" data-remote="true">Remove</a> --> 
<!-- comment cover image -->
<!--
    </div>
  </div>
  <img src="<%#= home_cover_image(current_user,"large")%>" class="cover-image img-responsive" alt="">
</div>
-->
<%= render partial: "/users/trigger_popups" %>
<% if session[:invited_user] %>
 <div class="singleBx-type3b no-margin-top js-invited-user-block">
  <p class="page-title-3">Welcome Home!</p>
  <p>This is where you will find all recent items from children in your family to help you stay on top 
    of things. You can see other members from your family in the panel on left and explore their 
    profiles</p>
  <p class="page-title-2 space-top">Visit Manage Family to Add or Manage your existing families</p>
  <%= link_to "Thanks, I got it", hide_invited_user_block_member_path(current_user.id), class: "txt-link", remote: true %>
  <%= link_to "Visit Manage Family" ,families_path,class: "btn btn-type2 no-margin-left", :remote=>true %>
  <!-- <input type="button" value="Visit Manage Family" class="btn btn-type2 no-margin-left"/> -->
</div>
<% end %>