<% priority(@childern_id,@childern,@families) %>
 <div class="singleBx-type8 js-singleBx-type8">
          <div class="titleBar-type2">
              <!-- <h2 class="space-bottom">Welcome Home</h2>
              <p>Follow the steps recommended below to get started in minutes</p> -->
              <h2 class="space-bottom">Follow steps below for a quick start</h2>
          </div>
          
          <ul class="accordion-type1 js-quick-start">
          <!-- Add Family  -->
            <% if @families.blank? %>
              <li>
                <div class="acc-main icon-parent js-non-acc collapse">
                  <p class="page-title-3">Add a family</p>
                  <p>Manage and share you child's growth within a family.</p>
                </div>
                 <a  href="#html" data-pop="/families/new" data-width="600" class="js-content"></a>
              </li>    
            <% end %>

           <!-- Add Child to your Families -->
          
            <% if !@families.blank? && !@family_children.blank? %>
              <li>
                <div class="acc-main icon-parent <%= get_count(@family_children)%> collapse">
                  <p class="page-title-3">Add a child to <%= @family_children.map(&:name).to_sentence.truncate(20) %> </p>
                  <p>See your child's potential bloom with Nurturey.</p>
                </div>
                <% if @family_children.count < 2 %>
                  <a  href="#html" data-pop="/families/<%=@family_children.first.id%>/member/new_child" data-width="510" class="js-content"></a>
                <% else %>
                  <div class="acc-content">
                    <p>Select a family to add children to</p>
                    <a  href="#html" data-pop="/families/<%=@family_children.first.id%>/member/new_child" data-width="510" class="btn btn-type1"><i class="icon-peoplegroup"></i><%= @family_children.first.name %>
                    </a>
                    <% @family_children.drop(1).each do |family| %>
                      <a  href="#html" data-pop="/families/<%=family.id%>/member/new_child" data-width="510" class="btn btn-type1">
                        <i class="icon-peoplegroup"></i><%=family.name %>
                      </a> 
                    <% end %>
                      
                  </div>
                <% end %>
              </li>
            <% end %>
             
            <% if @childern.present? && !@childern_nutrients.blank?#(@childern_id,@childern).blank?  %>
              <li>
                <div class="acc-main <%= get_count(@childern_nutrients)%> js-container icon-manage-check collapse">
                  <p class="page-title-3">Manage tools for <%= truncated_name(@childern_nutrients) %></p>
                  <p>Just activate or deactivate tools that are relevant to your child.</p>
                </div>
                <% if @childern_nutrients.count < 2 %>
                  <%=link_to "",nutrients_path(member_id: @childern_nutrients.first.id), class: "js-content", remote: true, "data-member-id"=> @childern_nutrients.first.id, "data-nutrient" =>"nutrient" %>
                <%else %>
                  <div class="acc-content">
                    <% @childern_nutrients.each_with_index do |child,index| %>
                       <%# if @childern_nutrients.include?(child.id ) %>
                     <input type="checkbox" id="nutrients<%=index%>" class="custom-checkbox-3 js-checkbox">
                     <label for="nutrients<%=index%>">
                     <%=link_to "",nutrients_path(member_id: child.id), class: "js-content", remote: true, "data-member-id"=> child.id, "data-nutrient" =>"nutrient" %>
                     <%#= image_tag(profile_image(child), alt:"") %>
                     <%= welcome_image_tag(child) %>
                            <%= child.first_name %>
                    </label>
                    <% end %>
                  </div>
                <% end %>
              </li>
              <% end %>
                <!-- Add events to Emma Timeline -->
                
                <% if @childern.present? && !@childern_timelines.blank? #(@childern_id,@childern).blank? %>
                  <li>
                    <div class="acc-main <%= get_count(@childern_timelines)%> icon-timeline collapse js-container">
                      <p class="page-title-3">Add a Timeline entry for <%= truncated_name(@childern_timelines) %></p>
                      <p>Nurturey makes building meaningful memories simple and forever.</p>
                    </div>
                    <% if @childern_timelines.count < 2 %>
                      <%=link_to "",timeline_index_path(member_id: @childern_timelines.first.id), class: "js-content", remote: true, "data-member-id"=> @childern_timelines.first.id, "data-nutrient" =>"timeline" %>
                    <% else %>
                      <div class="acc-content">
                        <p class="space-bottom">Select a child to update their timeline</p>
                        <% @childern_timelines.each_with_index do |child,index| %>
                           
                            <input type="checkbox" id="child<%=index%>" class="custom-checkbox-3 js-checkbox">
                            <label for="child<%=index%>">
                              <%=link_to "",timeline_index_path(member_id: child.id), class: "js-content", remote: true, "data-member-id"=> child.id, "data-nutrient" =>"timeline" %>
                              <%#= image_tag(profile_image(child), alt:"") %>
                              <%= welcome_image_tag(child) %>
                              <%= child.first_name %>
                            </label>
                           
                        <% end %>
                      </div>
                    <% end %>
                  </li>
              <% end %>

            <!-- Add  Pictures to your Albums -->
              

              <!-- Explore & Manage Nutrient -->
              <% if @childern.present? && !@childerns_milestones.blank?#(@childern_id,@childern).blank? %>
                <li>
                  <div class="acc-main <%= get_count(@childerns_milestones)%> js-container icon-manage-check collapse">
                    <p class="page-title-3">Add a Milestone entry for <%= truncated_name(@childerns_milestones) %> </p>
                    <p>You won't forget even the tiniest moment of your child's growth.</p>
                  </div>
                  <% if @childerns_milestones.count < 2 %>
                    <%=link_to "",milestones_path(member_id: @childerns_milestones.first.id), class: "js-content", remote: true, "data-member-id"=> @childerns_milestones.first.id, "data-nutrient" =>"milestone" %>
                  <% else %>
                    <div class="acc-content">
                      <% @childerns_milestones.each_with_index do |child,index| %>
                        <%# if @childerns_milestones.include?(child.id ) %>
                          <input type="checkbox" id="milestone<%=index%>" class="custom-checkbox-3 js-checkbox">
                          <label for="milestone<%=index%>">
                            <%=link_to "",milestones_path(member_id: child.id), class: "js-content", remote: true, "data-member-id"=> child.id, "data-nutrient" =>"milestone" %>
                            <%= welcome_image_tag(child) %>
                            <%#= image_tag(profile_image(child), alt:"") %>
                            <%= child.first_name %>
                          </label>
                        <%# end %>
                      <% end %>
                    </div>
                  <% end %>
                </li>
              <% end %>

              <!-- Immunization -->
               <% if @childern.present? && !@childerns_immunsation.blank? #(@childern_id,@childern).blank? %>
              <li>
                <div class="acc-main <%= get_count(@childerns_immunsation)%> js-container icon-immunization collapse">
                  <p class="page-title-3">Add immunization details of <%= truncated_name(@childerns_immunsation) %> </p>
                  <p>Easy management of immunization details - you will need it!.</p>
                </div>
                <% if @childerns_immunsation.count < 2 %>
                  <%=link_to "",immunisation_index_path(member_id: @childerns_immunsation.first.id), class: "js-content", remote: true, "data-member-id"=> @childerns_immunsation.first.id, "data-nutrient" =>"immunisations" %>
                <%else %>
                  <div class="acc-content">
                    <% @childerns_immunsation.each_with_index do |child,index| %>
                     <input type="checkbox" id="immunisation<%=index%>" class="custom-checkbox-3 js-checkbox">
                     <label for="immunisation<%=index%>">
                     <%=link_to "",immunisation_index_path(member_id: child.id), class: "js-content", remote: true, "data-member-id"=> child.id, "data-nutrient" =>"immunisations" %>
                     <%= welcome_image_tag(child) %>
                     <%#= image_tag(profile_image(child), alt:"") %>
                            <%= child.first_name %>
                    </label>
                    <% end %>
                  </div>
                <% end %>
              </li>
              <% end%>

<!-- child Health -->
               <% if @childern.present? && !@childerns_health.blank?#(@childern_id,@childern).blank? %>
              <li>
                <div class="acc-main <%= get_count(@childerns_health)%> js-container icon-tracker collapse">
                  <p class="page-title-3">Update health measurements for <%= truncated_name(@childerns_health) %> </p>
                  <p>Stay on top of the physical growth of your child.</p>
                </div>
                <% if @childerns_health.count < 2 %>
                  <%=link_to "",health_index_path(member_id: @childerns_health.first.id), class: "js-content", remote: true, "data-member-id"=> @childerns_health.first.id, "data-nutrient" =>"health" %>
                <%else %>
                  <div class="acc-content">
                    <% @childerns_health.each_with_index do |child,index| %>
                     <input type="checkbox" id="health<%=index%>" class="custom-checkbox-3 js-checkbox">
                     <label for="health<%=index%>">
                      <%=link_to "",health_index_path(member_id: child.id), class: "js-content", remote: true, "data-member-id"=> child.id, "data-nutrient" =>"health" %>
                      <%#= image_tag(profile_image(child), alt:"") %>
                      <%= welcome_image_tag(child) %>
                      <%= child.first_name %>
                    </label>
                    <% end %>
                  </div>
                <% end %>
              </li>
              <% end%>

              <!-- Document -->
          
               <% if @childern.present? && !@childerns_document.blank?#(@childern_id,@childern).blank? %>
              <li>
                <div class="acc-main <%= get_count(@childerns_document)%> js-container icon-document-color collapse">
                  <p class="page-title-3">Add a document for <%= truncated_name(@childerns_document) %> </p>
                  <p>Keep the most used documents at your fingertips.</p>
                </div>
                <% if @childerns_document.count < 2 %>
                  <%=link_to "",documents_path(member_id: @childerns_document.first.id), class: "js-content", remote: true, "data-member-id"=> @childerns_document.first.id, "data-nutrient" =>"documents" %>
                <%else %>
                  <div class="acc-content">
                    <% @childerns_document.each_with_index do |child,index| %>
                     <input type="checkbox" id="health<%=index%>" class="custom-checkbox-3 js-checkbox">
                     <label for="health<%=index%>">
                      <%=link_to "",documents_path(member_id: child.id), class: "js-content", remote: true, "data-member-id"=> child.id, "data-nutrient" =>"documents" %>
                      <%= welcome_image_tag(child) %>
                      <%#= image_tag(profile_image(child), alt:"") %>
                      <%= child.first_name %>
                    </label>
                    <% end %>
                  </div>
                <% end %>
              </li>
              <% end%>
 <!-- Picture -->
          
               <% if @childern.present? && !@childerns_albums.blank?#(@childern_id,@childern).blank? %>
              <li>
                <div class="acc-main <%= get_count(@childerns_albums)%> js-container icon-manage-check collapse">
                  <p class="page-title-3">loremspum <%= truncated_name(@childerns_albums) %> </p>
                  <p>lorepsum.</p>
                </div>
                <% if @childerns_albums.count < 2 %>
                  <%=link_to "",documents_path(member_id: @childerns_albums.first.id), class: "js-content", remote: true, "data-member-id"=> @childerns_albums.first.id, "data-nutrient" =>"documents" %>
                <%else %>
                  <div class="acc-content">
                    <% @childerns_albums.each_with_index do |child,index| %>
                     <input type="checkbox" id="health<%=index%>" class="custom-checkbox-3 js-checkbox">
                     <label for="health<%=index%>">
                      <%=link_to "",documents_path(member_id: child.id), class: "js-content", remote: true, "data-member-id"=> child.id, "data-nutrient" =>"documents" %>
                      <%= welcome_image_tag(child) %>
                      <%#= image_tag(profile_image(child), alt:"") %>
                      <%= child.first_name %>
                    </label>
                    <% end %>
                  </div>
                <% end %>
              </li>
              <% end%>



          </ul>
      </div>


      <script type="text/javascript">

$('.accordion-type1 li .acc-content').hide();
$('.accordion-type1 li.active').find('.acc-content').show();
if ($(".js-quick-start li").length == 0){
  $(".js-singleBx-type8").hide();
}
      </script>