<div class="container">
  <div class="row">
    <div class="col-lg-12 position-static">
      <div class="login-box">
        <% if flash[:notice].present? %>
          <div class="space text-center txt-white txt-msg"><%= flash[:notice] %></div>
        <% end %>  
        <div class="login-form collapse">
          <%= render :partial=> "/devise/shared/login_form" %>
          <div class="space text-center txt-white">Dont have an Account? &nbsp;<a href="javascript:void(0)" onClick="getPage('signup');">Sign up</a></div>
        </div>
        <div class="signup-form collapse">
          <%= render :partial=>"/devise/shared/signup_form" %>
          <div class="space text-center txt-white">Have an Account? &nbsp;<a href="javascript:void(0)" onClick="getPage('login');">Login</a></div>
        </div>
       
        
        <div class="reset-form collapse in">
        <div class="form-box">
      <h3 class="text-center">Resend Email for verification</h3>
       
        <%= form_tag "/resend_confirmation_link",:class=>"form-horizontal", remote: true do %>
      <div class="form-horizontal login-control">
        <div class="form-group">
          <div class="input-group">
            <i class="glyphicon glyphicon-envelope"></i>
             <%= text_field_tag :email, (params[:email] || session[:resend_verify_email]),  :class=>"form-control", :id => "resend_email",   :placeholder => "Email" %>
            <!-- <input class="form-control" type="email" placeholder="Email"> -->
            <% session[:resend_verify_email] = nil %>
          </div>
        </div>
         
      </div>
      <div class="form-action">
        <input type="submit" value="Resend email" class="btn btn-burgundy">
      </div>
    <% end %>
  </div>

          
           
            <%#= render :partial=>"/devise/shared/reset_password" %>
            <p class="txt-white space no-margin-bottom text-center">An email for verifcation will be sent to email id entered by you above.&nbsp;<a href="javascript:void(0)" onClick="getPage('login');">Login</a></p>
          </div>
          
        </div>
      </div>
    </div>
  </div>



   


<script type="text/javascript">
    $(function(){
        input = $('#resend_email')
        input.focus().val(input.val());
    })
    <% if params[:status]=='unapproved'  %>
      $(".globel-msg").html("<span>" + "An email for verifcation will be sent to email id entered by you above." + "</span>")
    <% end %>  
var pageName = getParameterByName('pageName');
getPage(pageName);
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
function getPage(name){
  name=='reset' ? $('.login-form,.signup-form').removeClass('in') & $('.reset-form').addClass('in') & $("#user_email").focus() : '' ;
  name=='login' ? $('.reset-form,.signup-form').removeClass('in') & $('.login-form').addClass('in') & $('#login_email').focus() : '' ;
  name=='signup' ? $('.login-form,.reset-form').removeClass('in') & $('.signup-form').addClass('in') & $('#signup_email').focus() : '' ;
}
</script> 

