<div class="container">
  <div class="row">
    <div class="col-lg-12 position-static">
      <div class="login-box">
        <% if @error.present? %>
          <div class="space text-center txt-white txt-msg"><%=@error%> <br><%=@error2%>
          </div>
        <% elsif flash[:notice].present? %>
          <div class="space text-center txt-white txt-msg"><%= flash[:notice] %></div>  
        <% end %>
        
        <div class="login-form collapse in">
          <%= render :partial=> "/devise/shared/alexa_login_form" %>
          <!-- <div class="space text-center txt-white">Dont have an Account? &nbsp;<a href="javascript:void(0)" onClick="getPage('signup'); remove_errors();">Sign up</a></div> -->
        </div>
        <div class="signup-form collapse">
          <%#= render :partial=>"/devise/shared/signup_form" %>
          <div class="space text-center txt-white">Have an Account? &nbsp;<a href="javascript:void(0)" onClick="getPage('login'); remove_errors();">Login</a></div>
        </div>
        <div class="reset-form collapse">
            <%#= render :partial=>"/devise/shared/reset_password" %>
        </div>

          <!-- <p class="txt-white space no-margin-bottom text-center">An email with password reset instructions will be sent to the
            email id entered by you above.&nbsp;
            <a href="javascript:void(0)" onClick="getPage('login'); remove_errors();">Login</a>
          </p> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Code for app launch -->
  <% controller_name = session[:api_token].present? ? "sign_in" : "sign_up" %>
<a href="nurturey://users/invitation?<%=mobile_device_main_launch_param(session[:user_id],{:api_token=>session[:api_token], :authentication_status=>session[:authentication_status],:invitation_id=>session[:api_invitation],:invitation_status=>session[:api_invitation_status],:email=>session[:api_email]})%>" style="display:none;" class="invite_app_launch"> invitation link click app launch </a>
<!-- End of Code for app launch -->

  <% if session[:api_invitation].present? && (Invitation.find(session[:api_invitation]).present? rescue false) %>
    
    <script type="text/javascript">
      if(/Android|iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
       <% # controller_name = session[:api_token].present? ? "sign_in" : "sign_up" %>
        // var frame = document.createElement('iframe');
        // frame.src = "nurturey://users/invitation?controller=<%#controller_name%>&auth_token=<%#session[:api_token]%>&invitation_id=<%#session[:api_invitation]%>";
        // frame.style.display = 'none';
        // document.body.appendChild(frame);
        $(".invite_app_launch")[0].click();
        <% session[:api_invitation] = nil %>
        <% session[:api_invitation_status] =  nil %>
        <% session[:api_token] = nil %>
      }
    </script>
  <% end %>
<script type="text/javascript">
    $(function(){
        input = $('.email_field')
        input.focus().val(input.val());
    })
var pageName = getParameterByName('pageName');
getPage(pageName);
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
function getPage(name){
  name=='reset' ? $('.login-form,.signup-form').removeClass('in') & $('.reset-form').addClass('in') & $("#user_email").focus() : '' ;
  name=='login' ? $('.reset-form,.signup-form').removeClass('in') & $('.login-form').addClass('in') & $('#login_email').focus() : '' ;
  name=='signup' ? $('.login-form,.reset-form').removeClass('in') & $('.signup-form').addClass('in') & $('#signup_email').focus() : '' ;
}

function remove_errors(){
    $('.text-center.txt-msg').html('');
    $(".form-horizontal").css('border-color','rgba(0,0,0,0.2)');
    $('.js-password').val('');
  }

//<%# unless session[:user_country] %>
    // $.ajax({
    //   url: "/users/fetch_location"
    // }).done(function() {
    //   console.log("done");
    // });
//<%# end %>
$(".col-xs-6.col-sm-9.text-center.navbar-link").hide();
</script> 

