<% if current_user.first_name.blank? || current_user.user.country_code.blank? %> 
	<script type="text/javascript">
	  $.fn.close();
	  $.fn.popclick({pop: "/member/edit_current_member", width: "510" })
	</script>
<% elsif current_user.family_members.blank?%>
	<script type="text/javascript">
	  $.fn.close();
	  $.fn.popclick({pop: "/families/new" })
	</script>
<% end %>
<%= render :partial=>"/users/notification"%>
 
<%= render :partial=>"/timeline/left_section" %>

<!-- Code for app launch -->
<%= render :partial=>"layouts/deeplink_check" %>

<a href="nurturey://users/confirmation?<%=mobile_device_main_launch_param(current_user.user.id,{:user=>current_user.user})%>" style="display:none;" class="confirmation_app_launch"> confirmation link click app launch </a>
<!-- End of Code for app launch -->

<script type="text/javascript">
  $(function(){
   // parentMember();
   if("<%=flash[:notice].present?%>" == "true"){
   $(".globel-msg").html("<span>" + "<%= flash[:notice] %>" + "</span>")
 }
  })
</script>
<div class="center-section">
   
  <%= render :partial=>"users/user_dashboard_center" %>
  <%= render :partial=>"users/welcome"%>
  <%= render :partial=>"recent_items"%>
</div>
<div class="right-section">
    <%= render :partial=>"/users/dashboard_right_sec" %>
</div>
<% if session[:mobile_verification] == true || session[:api_token].present? %>
  <% session[:mobile_verification] = nil %>
  <% session[:api_token] = nil %>
  <script type="text/javascript">
    if(/Android|iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
      // var frame = document.createElement('iframe');
      // frame.src = "nurturey://users/confirmation?confirmation_token=<%#current_user.user.confirmation_token%>";
      // frame.style.display = 'none';
      // document.body.appendChild(frame);
      $(".confirmation_app_launch")[0].click();
    }
  </script>
<% end %>


  