  // $.fn.close();
  $(".bodywapper").html("<%= escape_javascript(render :partial=>'/timeline/left_section')%>");
  
  <%# if current_user.first_name.blank? %> 
    // $.fn.popclick({pop: "/member/edit_current_member", width: "510" })
  <%# elsif current_user.family_members.blank?%>
    // $.fn.popclick({pop: "/families/new" })
  <%# else%>
  <%# end %>
    if($(".center-section").length==0){
      $(".bodywapper").append('<div class="center-section"></div>')
    }
    if($(".right-section").length==0){
      $(".bodywapper").append('<div class="right-section"></div>')
    }
  <%# end %>
  $(".center-section").html("<%= j render :partial=>'users/user_dashboard_center'%>");
  $(".center-section").append("<%= j render :partial=>'users/welcome'%>");
  $(".center-section").append("<%= j render :partial=>'users/recent_items'%>")
    
  $(".right-section").html('<%= j render :partial=>"/users/dashboard_right_sec" %>');
  $(".js-acivation-notification").remove();
  $(".left-section").before("<%= j render :partial=>'/users/notification' %>");
  $(function(){
    $('[data-accordian]').unbind('accordianBox');
    // parentMember();
    $('[data-accordian]').accordianBox();
  })
   