<h2 class="page-title-3">Add Image</h2>
<%= form_for @user, :url => "/users/update_cover_image", html: {id:"cover-image-form", multipart: true} do |f| %>
    <div class="profile-upload-img js-cover-image">  
      <% if @user.cover_image && @user.cover_image.persisted? %>
        <%= image_tag(@user.cover_image.photo_url_str(:original), height: 300, width: 500, id: 'target1', style: "display:block;") %>
      <% end %>
	</div>	
	<div class="form-type3"><div class="form-action-row">
    	<%= f.submit "Save", class: "btn btn-type2",disable_with:"Saving.." %>
        <%= f.fields_for :cover_image   do |cover| %>
        <%= cover.file_field :local_image, id: "js-add-cover-image", class: "custom-file-2", accept: "image/x-png, image/gif, image/jpeg" %>
        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
          <%= cover.hidden_field attribute, :id => attribute %>
        <% end %>
        <label for="js-add-cover-image" class="js-profile-pic space-top-2 text-green">Add new Image</label>
        <% end %>
	</div></div>
<% end %>

<script type="text/javascript">
    $(function () {
            $("label.js-profile-pic").on("click", function (event) {
            	event.preventDefault();                
                if (event.target == this) {
                    $("#" + $(this).attr("for")).click();
                }
            });

        $('.js-cover-image img').load(function(){
            console.log('init',[xsize,ysize]);
            $('.js-cover-image img').Jcrop({
              onChange: $.showCoords,
              onSelect: $.showCoords,
              aspectRatio: 608 / 280,
              setSelect: [ 130, 0, 440, 210 ]
            })  
        })
        $("#cover-image-form").ajaxForm()
    })
   
</script>