$(".js-acivation-notification").remove();
$(".left-section").before("<%= j render :partial=>'/users/notification' %>");
$(".center-section").html("<%= j render :partial=>'users/user_dashboard_center'%>");
$(".center-section").append("<%= j render :partial=>'users/welcome'%>");
$(".center-section").append("<%= j render :partial=>'users/recent_items'%>")
$(".right-section").html('<%= j render :partial=>"/users/dashboard_right_sec" %>');
   
 $(function(){
   $(".scroll-type3").mCustomScrollbar({
        autoHideScrollbar: true,
        theme: "dark"
    });
 })