  if($(".left-section").length==0){
    $(".bodywapper").append('<div class="left-section"></div>')
    }
    $(".bodywapper").html("<%= escape_javascript(render :partial=>'/timeline/left_section')%>");
  

  if($(".center-section").length==0){
    $(".bodywapper").append('<div class="center-section"></div>')
  }

  if($(".right-section").length==0){
    $(".bodywapper").append('<div class="right-section"></div>')
     }
    $(".right-section").html('<%= j render :partial=>"/users/dashboard_right_sec" %>');
 



 
$(".js-acivation-notification").remove();
$(".left-section").before("<%= j render :partial=>'/users/notification' %>");
$(function(){
  $('[data-accordian]').unbind('accordianBox');
  // parentMember();
  $('[data-accordian]').accordianBox();
})





$(".center-section").html("<%= j render :partial=>'/users/setting'%>");

$(function(){
  $(".js-subscription").hide();
  $(".js-password-change").hide();
  <% if params[:tab] == "metric_system" %>
$(".tab-metric-sys").click();
<% end %>
})