  
<div class="container">
  <div class="row">
    <div class="col-lg-12 position-static">
     
<div class="login-box">
          <div class="space text-center txt-white txt-msg"><%= @error_message %></div>
        <div class="reset-form js-new-password collapse in">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put,:id=>"reset_password" }) do |f|%>
      
        <%= f.hidden_field :reset_password_token, :value => params[:reset_password_token]|| @token %>
          <div class="form-box">
            <h3 class="text-center">Set your new password</h3>
            <div class="form-horizontal login-control " style=<%= @error_message.present? ? "border-color:red;" : nil %>>
              <div class="form-group">
                <div class="input-group">
                  <i class="glyphicon glyphicon-lock"></i>

 <%= f.password_field :password, :autofocus => true, :placeholder => "Password (Min. 8 characters)", :class => "form-control #{'error' if resource && resource.errors[:password]}", :onclick=>"if(this.value=='Enter password'){ this.value=''; this.style.color='#000'}", :onblur=>"if(this.value=='Enter password'){ this.value='Enter password'; this.style.color='#979797'}", :autocomplete => "off" %>
 </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <i class="glyphicon glyphicon-lock"></i>
      <%= f.password_field :password_confirmation, :autofocus => true,:placeholder => "Retype password", :class=>"form-control #{'error' if resource && resource.errors[:password]}", :autocomplete => "off" %>
         </div>
              </div>
            </div>
            <div class="row">
        <div class="col-xs-12" style="font-size: 11px;">
          <%=raw(Message::DEVISE[:m20])%> 
        </div>
      </div>
            <div class="form-action">
        <input type="submit" class="btn btn-burgundy" value="Login"/>
        </div>
          </div>
          <% end %>
          <div class="space text-center txt-white">Don't have an Account? &nbsp;<a href="javascript:void(0)" onClick="getPage('signup'); remove_errors();">Sign Up</a></div>
        </div>
 
   <div class="signup-form collapse">
          <%= render :partial=>"/devise/shared/signup_form" %>
          <div class="space text-center txt-white">Have an Account? &nbsp;<a href="javascript:void(0)" onClick="getPage('login');">Login</a></div>
        </div>
       
        <div class="login-form collapse">
          <%= render :partial=> "/devise/shared/login_form" %>
          <div class="space text-center txt-white">Dont have an Account? &nbsp;<a href="javascript:void(0)" onClick="getPage('signup');">Sign Up</a></div>
        </div>

          <div class="reset-form collapse">
           
            <%= render :partial=>"/devise/shared/reset_password" %>
            
          </div>
          <p class="txt-white space no-margin-bottom text-center">An email with with password reset instructions will be sent to the
            email id entered by you above.&nbsp;<a href="javascript:void(0)" onClick="getPage('login');">Login</a></p>
    </div>

    </div>
    </div>
    </div>
<script type="text/javascript">
    $(function(){
        $('#email_field').focus();
    })
var pageName = getParameterByName('pageName');
getPage(pageName);
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
function getPage(name){
  name=='reset' ? $('.login-form,.signup-form, .reset-form, .js-new-password').removeClass('in') & $('.reset-form').addClass('in') & $('.js-new-password').removeClass('in') : '' ;
  name=='login' ? $('.reset-form,.signup-form, .reset-form, .js-new-password').removeClass('in') & $('.login-form').addClass('in') & $('#login_email').focus() : '' ;
  name=='signup' ? $('.login-form,.reset-form, .reset-form1').removeClass('in') & $('.signup-form').addClass('in') & $('#signup_email').focus() : '' ;
}
function remove_errors(){
    $('.text-center.txt-msg').html('');
    $(".form-horizontal").css('border-color','rgba(0,0,0,0.2)');
  }
</script> 
