 <%= form_tag("/admin/nhs_data/list_data") do |f| %>
  <div class="form-type1">
    <div class="form-row"> 
       <label class="form-label">Start Date</label>
      <%= text_field_tag :start_date,'select',style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
    <div class="form-row">
       <label class="form-label">End Date</label>
      <%= text_field_tag :end_date,'select',style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
    <div class="form-row">
        <label>Page: </label>
        <%=number_field_tag "data-page" %>
    </div>

    <div class="form-row">
        <label>Comma Separated keywords : </label>
        <%= text_field_tag "data_keywords" %>
    </div>
    

    <div class="form-row">
    <%= submit_tag "Search Videos", class: "btn btn-type2" %>
 <% end %>