<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="nurturey-logo" style="width: 34%;"></div>
      </div>
      <div class="col-sm-4 link-box">
        <h3>Follow us on</h3>
          <a href="https://www.facebook.com/nurtureyonweb?ref=hl" target="_blank" class="icon-facebook fb-link"><span class="hidden-xs">Facebook</span></a>
          <!--a href="https://twitter.com/Nurturey1" target="_blank" class="icon-twitter tw-link"><span class="hidden-xs">Twitter</span></a>
          <a href="https://plus.google.com/115806592770012570256" target="_blank" class="icon-google-plus go-link"><span class="hidden-xs">Google+</span></a-->
          <a href="<%=APP_CONFIG['youtube_url']%>" target="_blank" class="icon-youtube u-link"><span class="hidden-xs">Youtube</span></a>
          <a href="https://www.linkedin.com/company/5131995?trk=tyah&trkInfo=tarId%3A1416491704761%2Ctas%3Anurturey%2Cidx%3A2-1-3" target="_blank" class="icon-linkedin-square fb-link"><span class="hidden-xs">Linkedin</span></a>
      </div>
      <div class="col-sm-4 link-box hidden-xs">
        <h3>Download our mobile app</h3>
        <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" target="_blank" class="js-apple-store">
          <img src="/assets/website/images/app-off.png" alt="">
        </a>
        <!-- <a href="#." style="cursor: default;"><img src="/assets/website/images/google-off.png" alt=""></a> -->
        <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" target="_blank" class="js-google-play"><img src="/assets/website/images/google-home-on.png" alt=""></a>
      </div>
    </div>
    <div class="row copy-note">
      <div class="col-sm-12 col-xs-12 text-center"> ©2021 Nurturey, All Rights Reserved. <a href="/home/terms<%=alexa_reference_params_for_home%>">Terms of Service</a> | <a href="/home/privacy<%=alexa_reference_params_for_home%>">Privacy Policy</a> | <a href="/home/copyright<%=alexa_reference_params_for_home%>">Copyright</a> |     <a href="/home/cookies<%=alexa_reference_params_for_home%>">Cookie use</a> </div>
    </div>
  </div>
</footer>