<div class="col-lg-12 row">
        <h1 class="text-center">About <span class="txt-green">Nurturey</span></h1>
        <h3 class="text-center">Coming soon</h3>
    </div>
    <script type="text/javascript">
    $(function(){
    $(".js-about").addClass("active");

    })
    </script>