<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <link rel="stylesheet" href="/assets/homepage/alexa_account_link.css"/>
  <!-- <link rel="stylesheet" href="style.css" > -->
    <script src="assets/homepage/scrollreveal.js"></script>
  <!-- <script src="scrollreveal.js"></script> -->
  <title>Download App | Nurturey - World's Leading Parenting App</title>
   <% platform = current_user.user.signup_source rescue "alexa"%>
   <%= render :partial=>"/layouts/fb_pixel",:locals=>{:page_name=>"Alexa sign up email confirmed",:options=>{:platform=>platform,:ValueToSum=>1} }%>
    <%= render partial: "/layouts/google_analytics_script" %>
</head>
<body>
  
<!--Navbar-->
<nav class="navbar navbar-light red lighten-1 mb-4" style="background: rgba(255,255,255,0.95);">
  <div class="container" style="position: relative;">
    <div class="row">
      <a class="navbar-brand" href="/"><img src="/assets/homepage/logo.png" class="img-fluid" alt="Nurturey"></a>
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon3"><span></span><span></span><span></span><span></span></div>
      </button>
    </div>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent23">
      <!-- Links -->
      <ul class="navbar-nav text-center">
        <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/features/">PinkBook Tools</a></li>
        <li class="nav-item"><a class="nav-link" href="https://nurturey.com/blog">Blog</a></li>
        <!--<li class="nav-item"><a class="nav-link" href="#">How it works</a></li>-->
        <li class="nav-item"><a class="nav-link" href="/home/faq">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/sign_in" id="testValue">Sign In</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/sign_in?pageName=signup">Sign Up</a></li>
        <li class="nav-item" style="padding: 20px;">
          <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" class="js-apple-store"><img src="/assets/homepage/AppleStore.jpg" height="60" alt="Apple App Store" style="margin:10px 5px 10px 0px"></a>
          <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/GooglePlay.jpg" height="60" alt="Google Play Store" style="margin:10px 0px 10px 5px"></a>
        </li>
      </ul>
      <!-- Links -->
    <!-- Collapsible content -->
    </div>
</div>
</nav>
<!--/.Navbar-->
  
<!-- First Section -->
<!-- First Section -->
<div class="first-section jumbotron-fluid">
	<div class="container">
		<div class="row">
			<!-- Left -->
			<div class="col-md-12 col-sm-12 text-center" style="align-items: center; display: flex; margin-bottom: 20px;">
				<div class="container">
					<div class="row">
						<h1 class="title" style="text-align: center !important;">Your account has been verified</h1>
						<h3 class="subtitle" style="text-align: center !important;">Please go back to Alexa app to finish the account linking process</h3>
						<a class="yellow-button text-center" href="alexa://account_link">Go to alexa app</a>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>



<!-- footer Section -->
<div class="section fp-auto-height" id="footer" style="bottom: 0 !important;">
  <div class="content">
    <div class="container">
      <div class="row text-left">
        <div class="col-md-5 border-footer">
          <div class="row">
            <div class="col-md-4 sm-footer">
              <img src="/assets/homepage/footer-logo.png" class="img-fluid" title="Nurturey" alt="Nurturey">
            </div>
            <div class="col-md-8">
              <div class="footer-text">
                <p>Nurturey is a one-stop companion for parents offering digital tools – Tools - that help parents effectively and efficiently manage their lives around their kids.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-2 col-sm-6 border-footer">
          <div class="links-content">
            <h5>Links</h5>
            <ul>
              <li><a href="<%=APP_CONFIG["default_host"]%>/home/terms<%=alexa_reference_params_for_home%>">Terms of Service</a></li>
              <li><a href="<%=APP_CONFIG["default_host"]%>/home/privacy<%=alexa_reference_params_for_home%>">Privacy Policy</a>
              </li>
              <li>
              <a href="/home/copyright<%=alexa_reference_params_for_home%>" target="_blank">
              </li>
              <li><a href="/home/cookies<%=alexa_reference_params_for_home%>" target="_blank">Cookie use</a></li>
            </ul>
          </div>
        </div>
        <div class="col col-md-2 col-sm-6">
          <div class="links-content">
            <h5>Social</h5>
            <ul>
              <li><a href="https://www.facebook.com/nurtureyonweb?ref=hl">Facebook</a></li>
              <li><a href="<%=APP_CONFIG['youtube_url']%>">Youtube</a></li>
              <li><a href="https://www.linkedin.com/company/5131995?trk=tyah&trkInfo=tarId%3A1416491704761%2Ctas%3Anurturey%2Cidx%3A2-1-3">Linkedin</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-btn">
            <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><img src="/assets/homepage/iphone-app.png" class="img-fluid" alt="Nurturey" title="Nurturey"></a>
            <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/google-app.png" class="img-fluid" alt="Nurturey" title="Nurturey"></a>
          </div>
        </div>            
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>©<%=APP_CONFIG["copyright_year"]%> Nurturey, All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer Section -->   

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<!-- Optional JavaScript -->
  <script>
window.sr = ScrollReveal();

$(document).on('click', '.mathematics-btn', function(event){
  event.preventDefault();

  $('.math-content').show();
  $('.artificial-content').hide();
  sr.reveal('h4', {
  duration: 2000,
  origin: 'bottom',
  distance: '10px',
  scale: 1,
});
});
$(document).on('click', '.intelligence-btn', function(event){
  event.preventDefault();
  $('.math-content').hide();
  $('.artificial-content').show();

  sr.reveal('h4', {
  duration: 1000,
  origin: 'bottom',
  distance: '10px',
  scale: 1,
});
  sr.reveal('.artificial-content', {
  duration: 1000,
  origin: 'bottom',
  distance:'10px',
  delay:500,
  viewFactor: 0.1,
  scale: 1,


});
})


sr.reveal('.title', {
  duration: 1000,
  origin: 'bottom',
  distance: '10px',
  scale: 1,
});



sr.reveal('.subtitle', {
  duration: 1000,
  origin: 'bottom',
  delay:200,
  distance: '10px',
  viewFactor: 0.1,
  scale: 1,

});

sr.reveal('.button', {
  duration: 1000,
  origin: 'bottom',
  delay:500,
  distance: '10px',


});

sr.reveal('.right-content', {
  duration: 2000,
  origin: 'bottom',
  delay:300,
  distance: '20px',
  viewFactor: 0.01,
  scale: 1,


});

sr.reveal('.child-box-1', {
  duration: 1500,
  origin: 'bottom',
  distance:'10px',
  delay:500,
  viewFactor: 0.1,
  scale: 1,


});

sr.reveal('.child-box-2', {
  duration: 1500,
  origin: 'bottom',
  distance:'10px',
  delay:800,
  viewFactor: 0.1,
  scale: 1,


});

sr.reveal('.child-box-3', {
  duration: 1500,
  origin: 'bottom',
  distance:'10px',
  delay:1000,
  viewFactor: 0.1,
  scale: 1,


});



</script>

<!-- STICKY NAVIGATION -->
<script>
$(window).scroll(function(){

  if($(this).scrollTop() >= 800) {
  $("body").addClass("sleek");  
  }

  else {
  $("body").removeClass("sleek");
  }
});
</script>

<script>
    $(document).on('click','#homevideo',function(e){
    $('#homevideo').hide();
    $('#ytvideo').html('<iframe class="embed-responsive-item" width="560" height="315" id="ytvideo"  frameborder="0" allowfullscreen src="http://www.youtube.com/embed/'+$(this).attr("data-vidid")+'?autoplay=1"></iframe>').show();
});
</script>

  </body>
</html>