<section class="nur-appt-wrapper" id="appt-page">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h2>Appointments</h2>
            <p class="appt-subheading">With Nurturey PinkBook, the digital upgrade to the NHS paper red book, appointment booking has never been smoother!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/nhs_services">Online NHS Services<i class="fa fa-chevron-right"></i></a></li>
              <li>Appointments</li>
            </ul>
          </div>
          <div class="appt-ques-wrapper">
            <div class="appt-ques-wrap">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                  <div class="appt-txt">
                    <h2>Booking a GP appointment with Nurturey</h2>
                    <p>Once your Nurturey account is linked to the online GP account, tap on the 'Appointments' to book an appointment with your registered GP. You will be able to choose types of appointments, date and time slot available. Once the details are confirmed, your appointment is booked and updated in your calendar.</p>
                    <p>You can book appointments with the GP for your child’s check ups, vaccinations and follow ups as well as pregnancy related appointments with the GP/Midwife such as checkups, prenatal tests and scans. In addition, you can book appointments for yourself such as consultations and follow ups, managing your entire family's health.</p>
                    <p>You can cancel and rebook the appointments at your family's convenience. It will be reflected in your GP's and your calendar.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                  <div class="appt-main-image"> <img src="/assets/homepage/appt-main-image.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="appt-ques-wrap">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h2>Advantages of booking your GP appointment with Nurturey</h2>
                    <p>Using our PinkBook means you can easily make GP appointments according to your family's health needs and message the GP with any query.  We send aptly timed reminders about upcoming appointments and trusted content directly from the NHS relating to the type of appointment. For example, vaccine care in case of vaccination appointments, antenatal care in case of pregnancy health check ups, etc, helping you take care of your and your family's health.</p>
                    <div class="empower-btn growth-video-btn mt-5"> <a href="https://www.nhs.uk/using-the-nhs/nhs-services/gps/gp-online-services/" target="_blank" class="em-btn">GP Online Services</a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="appt-ques-wrap">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h2>Booking your child's appointment</h2>
                    <p>You can book appointments for your proxy-linked children. Once you are registered as a proxy by the GP for your children, you can book your child's check ups, vaccinations, growth and development reviews and other medical appointments.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="appt-ques-wrap">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h2>Proxy access to your children's online account</h2>
                    <p>Proxy access allows parents/carers to access healthcare services on the behalf of their children who are younger than 11 years of age. Once you are granted proxy, your child's online account is proxy linked to yours enabling you to book GP appointments and access health records such as vaccinations, on their behalf.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="appt-ques-wrap">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h2>Getting proxy access to your children's online account</h2>
                    <p>Contact your GP surgery to grant you proxy access for your children's online GP account. Each GP has their own access approval process - call or email them to get your access today!</p>
                    <p>According to the <u>Royal College of Paediatrics and Child Health (RCPCH)</u>, it is a parental right. </p>
                    <a href="#" target="_blank" class="em-btn">RCPCH's stand on Proxy Access</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>