<section class="nur-appt-wrapper" id="nhs-guidance">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h2><span class="blue-txt">NHS</span> Guidance</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/nhs_services">Online NHS Services<i class="fa fa-chevron-right"></i></a></li>
              <li>NHS Guidance</li>
            </ul>
          </div>
          <div class="appt-ques-wrapper">
            <div class="appt-ques-wrap" id="baby_board">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"><img src="/assets/homepage/nhs-icon-2.png" class="img-fluid" alt="Icon" title=""></span>Baby on Board</h2>
                    <p>Wondering about how your baby is developing as time goes by? NHS weekly guides can tell you best!</p>
                    <p>Our NHS weekly guide describes the week-by-week growth and development of the baby and the changes taking place in a mother's body. In addition, you get pregnancy guidance directly from the NHS on topics such as health and nutrition, vaccinations during pregnancy, antenatal care, tests and check up, etc, equipping you with trusted and latest information from a credible source.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 text-center">
                  <div class="nhs-main-image"> <img src="/assets/homepage/nhs-guidance-2.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>