<style type="text/css">
.fade {
    opacity: 100 !important;
}
.formRow{ padding:0px; height:68px;}
</style>
<%= render "slider_js"%>
<div class="bodyWapper" style="padding-top:5px;">  
  <div class="registerBox">
    <div class="leftCol">
      <div class="tabBox">
	<a href="/">Home</a>
	<a href="about">About</a>
	<a href="contact" class="tabSelected">Contact</a>
	<div class="CL"></div>
      </div>
      <div class="tabContainerHome">
	<div class="tabActioncontact" style="font-size:20px; font-weight:bold;" >Empower yourself,  and see your child’s potential bloom with Nurturey.
	  <div id="enq_status" style="color:#5DBFAB;font-size:16px; margin:-151px; text-align:right; margin-left:-325px;"></div>
	</div>
	<%= render "contact_form" %>
      </div>
    </div>
    <%= render "register" %>
  </div>    
</div>
