<section class="container page-container">
<div class="col-lg-12 row common_terms">
  <h2 class="text-center">COOKIES POLICY</h2>
  <div class="row">
    <div class="col-sm-12">
      <p>The Site uses cookies to distinguish you from other users of the Site or the App.</p>
      <p>This helps us to provide you with a good experience when you browse the Site and the App and also allows us to improve the Site and the App.</p>
      <p>A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer's hard drive.</p>
      <p><strong>We use the following cookies:</strong></p>
      <ul>
        <li>
          <p><strong>Strictly necessary cookies.</strong><br>These are cookies that are required for the operation of the Site and the App. They include, by way of general example, cookies that enable you to log into secure areas of the Site and the App.</p>
          <ol>
            <li>Session</li>
            <li>ELB (Load balancer)</li>
            <li>Timezone</li>
          </ol>
        </li>
        <li>
          <p><strong>Analytical/performance cookies.</strong><br>These allow us to recognise and count the number of visitors and to see how visitors move around the Site and the App when they are using it. This helps us to improve the way the Site and the App works by, for example, ensuring that users are finding what they are looking for easily.</p>
          <ol>
            <li>Facebook Pixel (Facebook Services): This cookie stores information about which part of our server farm was used by your most recent visit. This allows us to optimise our site, and your experience for various performance and server management reasons</li>
            <li>Google (Google analytics): Used to distinguish user</li>
          </ol>
        </li>
        <li>
          <p><strong>Functionality cookies.</strong><br>These are used to recognise you when you return to the Site and the App. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your region).</p>
        </li>
        <li>
          <p><strong>Targeting cookies.</strong><br>These cookies record your visit to the Site and the App, the pages you have visited and the links you have followed. We will use this information to make the Site and the App and the advertising displayed on it more relevant to your interests. We may also share this information (but only in an anonymised format) with third parties for this purpose</p>
        </li>
        <li>
          <p><strong>Social Media cookies.</strong><br>As well as first party cookies (i.e. cookies placed by us), please note that third parties (including, for example, advertising networks and providers of external services like web traffic analysis services) may also use cookies, which you may receive on your computer, over which we have no control. We use third party cookies on the Site and the App for advertising and remarketing. The following first and third party cookies may be placed on your computer or device:</p>
          <ol>
            <li>Facebook Login</li>
            <li>Facebook Social Graph: Used to post on Facebook</li>
          </ol>
          <p>You may block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies), you may not be able to access all or parts of our Site and the App.</p>
          <p>You can choose to enable or disable cookies in your internet browser. Most internet browsers also enable you to choose whether you wish to disable all cookies or only third party cookies. By default, most internet browsers accept cookies but this can be changed. For further details, please consult the help menu in your internet browser.</p>
        </li>
      </ul>
      <p>Last reviewed: March 2020</p>
    </div>
  </div>
</div>
</section>