<section class="container page-container">
<div class="col-lg-12 row common_terms">
  <h2 class="text-center">Copyright Information</h2>
  <div class="row">
    <div class="col-sm-12">
      <p>This website and its content is copyright of Nurturey Limited. All rights reserved.</p>
      <p>Any redistribution or reproduction of part or all of the contents in any form is prohibited other than the following:</p>
      <ul>
        <li>You may print or download to a local hard disk extracts for your personal and non-commercial use only</li>
        <li>You may not copy the content to individual third parties for their personal use, but only if you acknowledge the website as the source of the material.</li>
      </ul>
      <p>You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.</p>
      <p>You may not, except with our express written permission, distribute or commercially exploit the content. Nor may you transmit it or store it in any other website or other form of electronic retrieval system.</p>
      <ol>
        <li>
          <p><strong>Ownership of copyright</strong></p>
          <p>We [and our licensors] own the copyright in:</p>
          <ul>
            <li>This website; and</li>
            <li>The material on this website (including, without limitation, the text, computer code, artwork, photographs, images, music, audio material, video material and audio-visual material on this website).</li>
          </ul>
        </li>
        <li>
          <p><strong>Copyright licence</strong></p>
          <p>We grant to you a non-exclusive, royalty-free, revocable licence to:</p>
          <ol>
            <li>View this website and the material on this website on a computer;</li>
            <li>Copy and store this website and the material on this website in your web browser cache memory; and</li>
            <li>Print pages from this website for your own [personal and non-commercial] use.</li>
            <li>We do not grant you any other rights in relation to this website or the material on this website. In other words, all other rights are reserved. For the avoidance of doubt, you must not adapt, edit, change, transform, publish, republish, distribute, redistribute, broadcast, rebroadcast, or show or play in public this website or the material on this website (in any form or media) without our prior written permission.</li>
          </ol>
        </li>
        <li>
          <p><strong>Enforcement of copyright</strong></p>
          <ul>
            <li>We take the protection of our copyright very seriously. If we discover that you have used our copyright materials in contravention of the licence above, we may bring legal proceedings against you, seeking monetary damages and/or an injunction to stop you using those materials. You could also be ordered to pay legal costs.</li>
            <li>If you become aware of any use of our copyright materials that contravenes or may contravene the licence above, please report this by email to us.</li>
          </ul>
        </li>
        <li>
          <p><strong>Infringing material</strong></p>
          <p>If you become aware of any material on our website that you believe infringes your or any other person's copyright, please report this by email to info@nurturey.com.</p>
        </li>
        <li>
          <p><strong>Compliance with the Relevant Laws</strong></p>
          <p>Copyright owners who believe that their rights have been infringed by unauthorized use of their protected works appearing online may contact the service provider hosting the material in question, directly or through their authorized agents, and request that the infringing material be removed or access to it disabled. We abide by the Indian Copyright Act by responding to notices of alleged infringement that comply with this law and other applicable laws. As part of our response, we may remove or disable access to material residing on a site that is controlled or operated by users until the full facts of the claim and legitimate ownership can be established. We do not control content hosted on third party websites, and cannot remove content from sites it does not own or control. If you are the copyright owner of content hosted on a third party site, and you have not authorized the use of your content, please contact the administrator of that website directly to have the content removed. If you are a copyright owner, or are authorized to act on behalf of an owner of the copyright or of any exclusive right under the copyright, and believe that your work has been copied in a way that constitutes copyright infringement, please report your notice of infringement to us by providing the following information:</p>
        </li>
        <li>
          <p><strong>Notice of Infringing Material</strong></p>
          <ol>
            <li>"copyright infringement report" must be made in writing (either electronic mail or paper letter). The "copyright infringement report" states that:</li>
            <li>There appears to have been an infringement of the owners copyright</li>
            <li>Includes a description of the apparent infringement</li>
            <li>Includes evidence of the apparent infringement that shows the subscribers IP address and the time at which the evidence was gathered</li>
          </ol>
        </li>
        <li>
          <p><strong>Contact details for infringement notifications:</strong></p>
          <p>E-mail: support@nurturey.com</p>
          <p>Please be aware that there are substantial penalties for false claims. If a notice of copyright infringement has been wrongly filed against you, you may submit a counter notification to the service provider's designated agent.</p>
        </li>
        <li>
          <p><strong>Counter-Notification</strong></p>
          <p>f material that you have posted to a site controlled or operated by us has been taken down, you may file a counter-notification that contains the following details:</p>
          <ul>
            <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or disabled;</li>
            <li>A statement, under penalty of perjury, that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material in question;</li>
            <li>Your name, address and telephone number;</li>
            <li>YOUR PHYSICAL OR ELECTRONIC SIGNATURE<br>
              <br>
              This information should not be construed as legal advice. We advise that you seek independent legal counsel before filing a notification or counter-notification. In accessing these web pages, you agree that any downloading of content is for personal, non-commercial reference only. No part of this web site may be reproduced or transmitted in any form or by any means, electronic, mechanical, photocopying, recording or otherwise, without prior permission of the Website Owner.</li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>
</section>