<!DOCTYPE html>
<html lang="en">
<head>
<title>Nurturey</title>
<meta charset="utf-8">
<meta property="og:title" content="A contest that might put £100 in your pocket*" >
<meta property="og:description" content="(And definitely a big smile on your kid's face!)" >
<meta property="og:image" content="<%=APP_CONFIG['default_host']%>/assets/designasmilecontest/das_2020.png" >

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS styles -->
<link rel="stylesheet" href="/assets/designasmilecontest/main.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="shortcut icon" href="/assets/designasmilecontest/favicon.png" />
<!-- /CSS styles -->
</head>
<body>
<!-- <div class="se-pre-con"></div> --> 
<!-- Header -->
<header>
  <!-- Scroll Header  -->
  <div class="header-start nav-wrap w-100"> 
    <!-- container -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="navbar navbar-light navbar-header logo">
            <!--  Header Logo -->
            <a class="navbar-brand" href="#"> <img src="/assets/designasmilecontest/logo.png" class="main-logo img-fluid" alt="Logo Imgae" target="_blank"> <img src="/assets/designasmilecontest/scroll-logo.png" class="scroll-logo img-fluid" alt="scroll logo" target="_blank" style="display: none;"> </a>
          
          </div>
        </div>
      </div>
    </div>
    <!-- container -->
  </div>
  <!-- Scroll Header  -->
</header>
<!-- /Header --> 

<!-- Your Pocket -->
<section class="your-pocket">
<!-- Container -->
<div class="container">
<div class="row">
<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="your-pocket-content">
    <h2>Sorry, the contest is no longer active.<span><span></h2>
    <p><span><i>( Thankyou for your participation! )</i></span></p>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-12">
    <div class="your-pocket-wrapper"> <img src="/assets/designasmilecontest/des-logo.png" alt=" logo" class="ing-fluid"> </div>
</div>
<!-- /Container -->
</section>
<!-- /Your Pocket --> 



        <!-- JavaScript Files -->

        <script src="/assets/designasmilecontest/jquery.min.js"></script>

        <script src="/assets/designasmilecontest/bootstrap.min.js"></script>

        <script src="/assets/designasmilecontest/scrollreveal.min.js"></script>

        <script src="/assets/designasmilecontest/script.js"></script>

        <!-- /JavaScript Files -->
<script type="text/javascript">
$("#mail-form").submit(function (e) {
//$( ".square-button" ).click(function(e) {
    e.preventDefault();
    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    var name = $('#name').val();
    var email = $('#email').val();
    var country = $('#country').val();
    var children = $('#children').val();
    var age = $('#age').val();
    var upload = $('#upload').val();
    var term = $('#term').val();
    var ageterm = $('#ageterm').val();
    $("#email").css("color","#495057")
    $("#file-name").css("color","#f06")
    var fileInput = document.getElementById('upload');
      var filePath = fileInput.value;
      var allowedExtensions = /(\.jpeg|\.jpg|\.png|\.bmp|\.tif)$/i;      

    if(name == ''){
      $('#totalcaptchaerror').html('First name is mandatory.');
      return false;
    }   
    if(email == ''){
      $('#totalcaptchaerror').html('Email address is mandatory.');
      return false;
    }
    if(email.match(mailformat)){
    }
    else{
      $('#totalcaptchaerror').html('Enter valid email address.');
      $("#email").css("color","red")
      
      return false;
    }
    // if(country == ''){
    //   $('#totalcaptchaerror').html('Country of residence is required.');
    //   return false;
    // }
    // if(children == ''){
    //   $('#totalcaptchaerror').html('No. of children is required.');
    //   return false;
    // }

    // if(isNaN(children) ){
    //   $('#totalcaptchaerror').html('No. of children is not valid.');
    //   return false;
    // }
    // if(age == ''){
    //   $('#totalcaptchaerror').html('Ages of your children is required.');
    //   return false;
    // }
    if(upload == ''){
      $('#totalcaptchaerror').html('Kindly upload a file before submitting.');
      return false;
    }
    if(!allowedExtensions.exec(filePath)){
        $('#totalcaptchaerror').html('Invalid file type. Please upload either of these .jpeg/.jpg/.png/.bmp/.tif.');
         
          fileInput.value = '';
          $("#file-name").css("color","red")

          return false;
      }else{
          //Image preview
          var upload = fileInput.files[0]['name'];
      }
      var fsize = fileInput.files[0]['size'];
      var size = Math.round((fsize / 1024))
      if (size >= 5120) {
        $('#totalcaptchaerror').html('Sorry, file size must be between 438 KB and 5 MB');
          $("#file-name").css("color","red")
          
          return false;

      }
      if (size < 438) {
        $('#totalcaptchaerror').html('Sorry, file size must be between 438 KB and 5 MB');
          $("#file-name").css("color","red")
          
          return false;

      }
      var termsk = document.getElementById('term');

          if(termsk.checked ==  true){
    }
    else{
      $('#totalcaptchaerror').html('Kindly agree to the terms of participation.');
      return false;
    }
    var checkBox = document.getElementById('ageterm');
    //var checkBox = document.getElementById('ageterm');
          if(checkBox.checked ==  true){
    }
    else{
      $('#totalcaptchaerror').html('Kindly confirm that you are above 18 years of age.');
      return false;
    }
    //if(fname != '' && emailId != '' && enquiry != '' && dataId !='0' && catp !=''){
            $('#loading-image').show();
            $('.js-submit').html("Submitting...");

            //var form_data = $(this).serialize(); 
            $.ajax({
              type: "POST", 
              url: "/save_designasmile",
          dataType: "json", // Add datatype
          data:  new FormData(this),
          contentType: false,
          cache: false,
      processData:false,
         // data: { name: name, email: email,country: country,children:children, age: age, upload: upload }
      }).done(function (data) {
        $(".js-submit").html("Let's send this!")
        if(data.status == 200){
          $('#totalcaptchaerror').html('<p style="color:green">' + data.message + '</p>');
          // Clear form field
          $('#upload').val('');
          $("#file-name").html("");
          $('#name').val("");
          $('#email').val("");
          $('#country').val("");
          $('#children').val("");
          $('#age').val("");
          $('#ageterm').prop("checked",false);
          $('#term').prop("checked",false);
          $(".js-placeholder").html("Select file for upload*");
          }
        else{
          $('#totalcaptchaerror').html('<p style="color:red">' + data.message + '</p>');
          
        }
      }).fail(function (data) {
      });
  //}
  });
</script>
</body>
</html>





















