<section class="nur-appt-wrapper" id="nhs-linking">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h2>Download Nurturey PinkBook</h2>
            <p class="linking-subheading">The smartest digital upgrade for the NHS paper red book</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="container">
            <div class="row">
              <div class="col-md-12 app-buttons" align="center">
                <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" class="js-apple-store" target="_blank"><img src="/assets/homepage/AppleStore.jpg" class="img-fluid" alt="Apple App Store"></a>
                <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play" target="_blank"><img src="/assets/homepage/GooglePlay.jpg" class="img-fluid" height="60" alt="Google Play Store"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>