<section class="nur-faq-wrapper">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h2>Frequently asked questions</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li>FAQ</li>
            </ul>
          </div>
          <div class="row acc-width" id="accordion">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <div class="nur-box">
                <div class="nur-box-wrap">
                  <div class="nur-box-image">
                    <img src="/assets/homepage/faq-1.png" class="img-fluid" alt="Image" title="">
                  </div>
                  <div class="nur-box-content">
                    <div class="nur-box-heading">
                      <h2 class="green-txt">General questions</h2>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">What is Nurturey?</button>
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey PinkBook is the smartest digital upgrade for the NHS paper red book. Aimed at parents with young children and pregnant women, Nurturey's intuitive tools help you navigate the journey of your child's health and your pregnancy while feeling supported, informed and empowered. With a real time connection to the NHS systems, features such as appointments, prescriptions and messages promise a smooth and easy transition of managing your health service needs online. The PinkBook tools such as Vaccinations, Measurements, Dental Health, etcetera help keep track of your child’s development with timely reminders and parental guidance sourced from NHS.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Is Nurturey free?</button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                          <p>Most of the PinkBook tools are free to use. There are certain premium tools such as Z score and Checkup Planner that require a paid subscription.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">My child is already past his/ her early years. Will Nurturey be still useful to me, as much of the childhood information is old?</button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                          <p>Yes. Nurturey will bring you up to speed in a few minutes, by linking your Nurturey account with the online GP account, reflecting your child’s up-to-date health records. In addition, with minimal manual input and predictive automated predictive entries, we can update your personal records that you hold dear.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">What is a family in the context of Nurturey?</button>
                        </h5>
                      </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                          <p>After creating a family and adding members to it, parents can manage, view and share all aspects of their children’s growth effortlessly.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">How many members can be added to my family?</button>
                        </h5>
                      </div>
                      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                          <p>You can add as many members to your family.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Can I be part of more than one family?</button>
                        </h5>
                      </div>
                      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                          <p>Yes, you can create or join as many families as you want.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">How do I invite friends?</button>
                        </h5>
                      </div>
                      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey encourages you to invite other parents and pregnant women to benefit from Nurturey PinkBook. Tap on Settings on the bottom right of your app and select on “Share” to invite friends to the insightful world of Nurturey.</p>
                        <p>On Facebook, you can go to the Nurturey page and use the <a href="https://www.facebook.com/nurtureyonweb" target="_blank">'Suggest to Friends'</a> tab on Facebook to invite your friends to introduce them to Nurturey - Pregnancy and Child Health PinkBook.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nur-box mobile-show">
                <div class="nur-box-wrap">
                  <div class="nur-box-image">
                    <img src="/assets/homepage/faq-5.png" class="img-fluid" alt="Image" title="">
                  </div>
                  <div class="nur-box-content">
                    <div class="nur-box-heading">
                      <h2 class="peach-txt">Pregnancy and Child Health PinkBook</h2>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingSeventeen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">What is the NHS paper red book?</button>
                        </h5>
                      </div>
                      <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordion">
                        <div class="card-body">
                          <p>The NHS paper red book is traditionally given to parents to track their child’s health records. It is the main record of your child’s health, development and growth for parents and other carers.</p>
                        <p><a href="https://www.rcpch.ac.uk/resources/personal-child-health-record-pchr#:~:text=The%20Personal%20Child%20Health%20Record,carers%20at%20a%20child's%20birth" target="_blank">Learn more about NHS paper red book.</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingEighteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">What are the benefits of Nurturey PinkBook?</button>
                        </h5>
                      </div>
                      <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey has been built to help parents feel supported, informed and encouraged during their pregnancy and parenting journey. You can access your child’s and your pregnancy health records anywhere and anytime, book appointments and communicate with your GP, receive reminders about upcoming  events and milestones and receive trusted parental and pregnancy guidance directly from the NHS, helping you make informed decisions.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingNinteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNinteen" aria-expanded="false" aria-controls="collapseNinteen">What are Pregnancy and Child Health Tools?</button>
                        </h5>
                      </div>
                      <div id="collapseNinteen" class="collapse" aria-labelledby="headingNinteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>PinkBook's child health and pregnancy tools are individual tools that we have built to adapt the NHS paper red book, and help parents track important child health and development parameters. PinkBook tools such as Immunisations, Measurements, Dental Health and Milestones support and empower parents to be on top of their child's health needs. We are constantly building and innovating to the needs of children, parents and the NHS paper red book.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nur-box mobile-show">
                <div class="nur-box-wrap">
                  <div class="nur-box-image">
                    <img src="/assets/homepage/faq-4.png" class="img-fluid" alt="Image" title="">
                  </div>
                  <div class="nur-box-content">
                    <div class="nur-box-heading">
                      <h2 class="blue-txt">Online NHS services</h2>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">What are online NHS services?</button>
                        </h5>
                      </div>
                      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey has integrated with the NHS systems, giving you access to online GP health services and medical records of your children. Our parental guidance comes directly from the NHS systems, giving you relevant and trusted content. You can book appointments with your GP for upcoming child health checks such as development reviews and vaccinations, re-order prescriptions and message your GP to ask any query. You can access your child’s health records, directly pulled from their GP, keeping parents up-to date and informed about their child’s growth and development journey.</p>
                        <p>Pregnant mothers can book appointments with their GP/Midwives, manage their pregnancy health records such as prenatal tests and scans and receive trusted pregnancy guidance directly from the NHS systems.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingEleven">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">What are the benefits of Nurturey PinkBook?</button>
                        </h5>
                      </div>
                      <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey has been built to help parents feel supported, informed and encouraged during their pregnancy and parenting journey. You can access your pregnancy and your child's health records anywhere and anytime. You can book appointments and communicate with your GP via messages, receive reminders about upcoming health events and receive trusted parental guidance directly from the NHS systems, helping you make informed decisions.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwelve">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">What is GP linking? What are the benefits?</button>
                        </h5>
                      </div>
                      <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey can link your account to your online GP account, giving you access to you and your child’s health records and GP health services. Through a simple set-up, you can book appointments, re-order prescriptions, view health records and message your GP, empowering pregnant women and parents to stay updated and informed.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThirteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">Is my NHS information secure and safe?</button>
                        </h5>
                      </div>
                      <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey has been through a rigorous approval process by NHS for all the integrations accomplished. During the process Nurturey has met rigorous security, information governance, privacy, clinical safety, technology and design standards. Moreover, Nurturey follows EU security guidelines and complies with GDPR.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingFourteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">What is NHS login?</button>
                        </h5>
                      </div>
                      <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>Your NHS account login credentials can be used to set up your Nurturey account, without additional input required - a magical experience.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingFifteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">Why should I use the NHS login?</button>
                        </h5>
                      </div>
                      <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>Your NHS login will automatically create your Nurturey account, without any additional input required - like magic!</p>
                        <p>You can then connect to your NHS health systems such as GP/midwives online health services directly from the Nurturey app. Once connected, you can access features like appointments, prescriptions, messaging your GP, your child's health records including Vaccinations, Measurements, Dental Health  as well as manage your antenatal care such as pregnancy check up, prenatal tests and scans.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingSixteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">I don't have NHS login. Can I still make a GP linked account?</button>
                        </h5>
                      </div>
                      <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>You can quickly create your NHS login while signing up for Nurturey.</p>
                        <p>Alternatively, you can sign up using your email account to link your GP.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nur-box">
                <div class="nur-box-wrap">
                  <div class="nur-box-image">
                    <img src="/assets/homepage/faq-2.png" class="img-fluid" alt="Image" title="">
                  </div>
                  <div class="nur-box-content">
                    <div class="nur-box-heading">
                      <h2 class="pink-txt">Pregnancy Features</h2>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingEight">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">What are Pregnancy Tools?</button>
                        </h5>
                      </div>
                      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey has built a set of intuitive and informative pregnancy tools that help and support pregnant women. Pregnancy tools such as Weekly Guides from NHS (Baby on Board), Health Card, Prenatal Tests and more, result in better tracking of pregnancy, timely reminders for upcoming appointments and trusted guidance sourced from the NHS systems.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingNine">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">What are the benefits of linking my GP for my pregnancy?</button>
                        </h5>
                      </div>
                      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body">
                          <p>Our NHS-linking features gives pregnant women the ease to book appointments with their GP/Midwife, directly message them, access their health records and more, removing time and communication barriers for a better and healthier relationship with the local medical community. You can view your upcoming pregnancy checkups, access your prenatal test results and receive relevant trusted guidance directly from the NHS systems.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nur-box">
                <div class="nur-box-wrap">
                  <div class="nur-box-image">
                    <img src="/assets/homepage/faq-3.png" class="img-fluid" alt="Image" title="">
                  </div>
                  <div class="nur-box-content">
                    <div class="nur-box-heading">
                      <h2 class="black-txt">Security and privacy</h2>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwentyFour">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyFour" aria-expanded="false" aria-controls="collapseTwentyFour">I forgot my password. What should I do?</button>
                        </h5>
                      </div>
                      <div id="collapseTwentyFour" class="collapse" aria-labelledby="headingTwentyFour" data-parent="#accordion">
                        <div class="card-body">
                          <p>When logging in to your Nurturey account, you will see  “Forgot Password?” underneath the login credentials. Once selected, you will be prompted to enter your registered email address. You will then receive an email from us within 24 hours that includes a link to how to reset your password.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwentyFive">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyFive" aria-expanded="false" aria-controls="collapseTwentyFive">How do I change my basic account information?</button>
                        </h5>
                      </div>
                      <div id="collapseTwentyFive" class="collapse" aria-labelledby="headingTwentyFive" data-parent="#accordion">
                        <div class="card-body">
                          <p>To edit your profile, go to the settings on the bottom right of your app and click on "Profile" to change your name and location.</p>
                        <p>To edit a family member’s information, go to “Manage Family” from the menu and click on the family member you’d like to edit.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwentySix">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix">How do I verify my Nurturey account?</button>
                        </h5>
                      </div>
                      <div id="collapseTwentySix" class="collapse" aria-labelledby="headingTwentySix" data-parent="#accordion">
                        <div class="card-body">
                          <p>When you've completed the registration process, you will receive an email with a special link to verify your account. Click the verification link to successfully authenticate your Nurturey account. If it doesn't work, please let us know at <a href="mailto:support@nurturey.com">support@nurturey.com</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwentySeven">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentySeven" aria-expanded="false" aria-controls="collapseTwentySeven">What does Nurturey do with my personal information?</button>
                        </h5>
                      </div>
                      <div id="collapseTwentySeven" class="collapse" aria-labelledby="headingTwentySeven" data-parent="#accordion">
                        <div class="card-body">
                          <p>We take data privacy very seriously. Nurturey has been through a rigorous approval process by NHS for all the integrations accomplished. During the process Nurturey has met rigorous security, information governance, privacy, clinical safety, technology and design standards. Moreover, Nurturey follows EU security guidelines and complies with GDPR.To know more, kindly read through our <a href="https://www.nurturey.com/privacy" target="_blank">privacy policy</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwentyEight">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyEight" aria-expanded="false" aria-controls="collapseTwentyEight">How do I change my password?</button>
                        </h5>
                      </div>
                      <div id="collapseTwentyEight" class="collapse" aria-labelledby="headingTwentyEight" data-parent="#accordion">
                        <div class="card-body">
                          <p>Go to the Settings -> Account to change your password.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwentyNine">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwentyNine" aria-expanded="false" aria-controls="collapseTwentyNine">Does Nurturey provide medical advice?</button>
                        </h5>
                      </div>
                      <div id="collapseTwentyNine" class="collapse" aria-labelledby="headingTwentyNine" data-parent="#accordion">
                        <div class="card-body">
                          <p>No. Nurturey is not a medical platform. We connect you to your online GP account, helping you book appointments, message your GP and reorder prescriptions. We send aptly timed reminders for important events along with trusted content directly from the NHS relating to your stage in the pregnancy and parenting journey.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <div class="nur-box desktop-none">
                <div class="nur-box-wrap">
                  <div class="nur-box-image"> <img src="/assets/homepage/faq-4.png" class="img-fluid" alt="Image" title=""> </div>
                  <div class="nur-box-content">
                    <div class="nur-box-heading">
                      <h2 class="blue-txt">Online NHS services</h2>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">What are online NHS services?</button>
                        </h5>
                      </div>
                      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey has integrated with the NHS systems, giving you access to online GP health services and medical records of your children. Our parental guidance comes directly from the NHS systems, giving you relevant and trusted content. You can book appointments with your GP for upcoming child health checks such as development reviews and vaccinations, re-order prescriptions and message your GP to ask any query. You can access your child’s health records, directly pulled from their GP, keeping parents up-to date and informed about their child’s growth and development journey.</p>
                        <p>Pregnant mothers can book appointments with their GP/Midwives, manage their pregnancy health records such as prenatal tests and scans and receive trusted pregnancy guidance directly from the NHS systems.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingEleven">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">What are the benefits of Nurturey PinkBook?</button>
                        </h5>
                      </div>
                      <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey has been built to help parents feel supported, informed and encouraged during their pregnancy and parenting journey. You can access your child’s and your pregnancy health records anywhere and anytime. You can book appointments and communicate with your GP via messages, receive reminders about upcoming health events and receive trusted parental guidance directly from the NHS, helping you make informed decisions.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwelve">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">What is GP linking? What are the benefits?</button>
                        </h5>
                      </div>
                      <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey can link your account to your online GP account, giving you access to you and your child’s health records and GP health services. Through a simple set-up, you can book appointments, re-order prescriptions, view health records and message your GP, empowering pregnant women and parents to stay updated and informed. </p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThirteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">Is my NHS information secure and safe?</button>
                        </h5>
                      </div>
                      <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey has been through a rigorous approval process by NHS for all the integrations accomplished. During the process Nurturey has met rigorous security, information governance, privacy, clinical safety, technology and design standards. Moreover, Nurturey follows EU security guidelines and complies with GDPR.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingFourteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">What is NHS login?</button>
                        </h5>
                      </div>
                      <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>Your NHS account login credentials can be used to set up your Nurturey account, without additional input required - a magical experience.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingFifteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">Why should I use the NHS login?</button>
                        </h5>
                      </div>
                      <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>Your NHS login will automatically create your Nurturey account, without any additional input required - like magic!</p>
                        <p>You can then connect to your NHS health systems such as GP/midwives online health services directly from the Nurturey app. Once connected, you can access features like appointments, prescriptions, messaging your GP, your child's health records including Vaccinations, Measurements, Dental Health  as well as manage your antenatal care such as pregnancy check up, prenatal tests and scans.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingSixteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">I don't have NHS login. Can I still make a GP linked account?</button>
                        </h5>
                      </div>
                      <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>You can quickly create your NHS login while signing up for Nurturey.</p>
                        <p>Alternatively, you can sign up using your email account to link your GP.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nur-box desktop-none">
                <div class="nur-box-wrap">
                  <div class="nur-box-image"> <img src="/assets/homepage/faq-5.png" class="img-fluid" alt="Image" title=""> </div>
                  <div class="nur-box-content">
                    <div class="nur-box-heading">
                      <h2 class="peach-txt">Pregnancy and Child Health PinkBook</h2>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingSeventeen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">What is the NHS paper red book?</button>
                        </h5>
                      </div>
                      <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordion">
                        <div class="card-body">
                          <p>The NHS paper red book is traditionally given to parents to track their child's health records. It is the main record of your child’s health, development and growth for parents and other carers.</p>
                        <p><a href="https://www.rcpch.ac.uk/resources/personal-child-health-record-pchr#:~:text=The%20Personal%20Child%20Health%20Record,carers%20at%20a%20child's%20birth" target="_blank">Learn more about NHS paper red book.</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingEighteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">What are the benefits of Nurturey PinkBook?</button>
                        </h5>
                      </div>
                      <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>Nurturey has been built to help parents feel supported, informed and encouraged during their pregnancy and parenting journey. You can access your pregnancy and your child's health records anywhere and anytime. You can book appointments and communicate with your GP via messages, receive reminders about upcoming health events and receive trusted parental guidance directly from the NHS systems, helping you make informed decisions.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingNinteen">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNinteen" aria-expanded="false" aria-controls="collapseNinteen">What are Pregnancy and Child Health Tools?</button>
                        </h5>
                      </div>
                      <div id="collapseNinteen" class="collapse" aria-labelledby="headingNinteen" data-parent="#accordion">
                        <div class="card-body">
                          <p>PinkBook's child health and pregnancy tools are individual tools that we have built to adapt the NHS paper red book, and help parents track important child health and development parameters. PinkBook tools such as Immunisations, Measurements, Dental Health and Milestones support and empower parents to be on top of their child's health needs. We are constantly building and innovating to the needs of children, parents and the NHS paper red book.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style type="text/css">
  .acc-width{
    max-width: 90%;
    width: 100%;
    margin:  0 auto;
  }
  .mobile-show {
    display: none;
  }
  @media screen and (max-width: 767px) {
    .acc-width{
      max-width: 100%;
    }
    .mobile-show {
      display: block;
    }
    .desktop-none{
      display: none;
    }
  }
</style>