<link rel="stylesheet" href="/assets/feature/responsive.css" >
<link rel="stylesheet" href="/assets/feature/style.css">
<section>
  
  <!-- Title Section -->
  <div class="page-title-section jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="page-title">Featured Tools</p>
          <p class="page-subtitle">Great set of useful tools to help you better manage life around  your children or pregnancy, whenever you require</p>
        </div>
      </div>
    </div>
  </div>
    
  <!--SECONDARY Navbar-->
  <%#= render :partial=>"/layouts/home_secondary_navigation_bar" %>

  <!--MAIN BODY-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Tabs starts -->
        <div class="container tool-categories">
          <div class="row">
            <ul class="nav nav-pills mb-3 text-center" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active child-tab" id="pills-child-tab" data-toggle="pill" href="#pills-child" role="tab" aria-controls="pills-child" aria-selected="true">Child Tools</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pregnancy-tab" id="pills-preg-tab" data-toggle="pill" href="#pills-preg" role="tab" aria-controls="pills-preg" aria-selected="false">Pregnancy Tools</a>
              </li>
            </ul>
          </div>
        </div><!-- Tabs ends -->
        
        <!-- Tab content starts -->
        <div class="tab-content" id="pills-tabContent">
          
          <!-- Child Tool List Starts -->
          <div class="tab-pane fade show active" id="pills-child" role="tabpanel" aria-labelledby="pills-child-tab">
            
            <!-- First Tool - Dental Health -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">1 of 11</p>
                    <p class="health-tag">Health</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Measurement-Icon.svg" alt="Measurements Icon"></span>
                      <span style="display: inline-block">Measurements</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-measurements.png" alt="Measurements Meter" width="500">
                    <p class="feature-subtitle">Organise all vital growth measurements and track against WHO benchmarks</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-measurments.jpg" alt="Measurements Screen">
                  </div>
                </div>
              </div>
            </div>  
            <!-- First Tool Ends -->
              
            <!-- Second Tool -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row flex-row-reverse">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">2 of 11</p>
                    <p class="health-tag">Health</p>
                    <p class="mind-tag">Mind</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Milestone-Icon.svg" alt="Milestones Icon"></span>
                      <span style="display: inline-block">Milestones</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-milestones.png" alt="Milestone Meter" width="500">
                    <p class="feature-subtitle">Track accomplishment of your child's key developmental milestones</p>
                    
                    <!-- Modal Trigger-->
                    <a href="https://www.youtube.com/watch?v=foZSqQq-BGY" class="watch-video-btn">Watch Video</a>
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-milestones.jpg" alt="Milestones Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Second Tool Ends -->
          
            <!-- Third Tool  -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">3 of 11</p>
                    <p class="health-tag">Health</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Immunisation-Icon.svg" alt="Immunisations Icon"></span>
                      <span style="display: inline-block">Immunisations</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-immunisations.png" alt="Immunisations Meter" width="500">
                    <p class="feature-subtitle">Manage your child's immunisation schedule</p>
                    
                    <!-- Modal Trigger-->
                    <a href="https://www.youtube.com/watch?v=6UfIJ1pfwv4" class="watch-video-btn">Watch Video</a>
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-immunisations.jpg" alt="Immunisations Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Third Tool Ends -->
            
            <!-- Fourth Tool  -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row flex-row-reverse">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">4 of 11</p>
                    <p class="diary-tag">Diary</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Timeline-Icon.svg" alt="Timeline Icon"></span>
                      <span style="display: inline-block">Timeline</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-timeline.png" alt="Timeline Meter" width="500">
                    <p class="feature-subtitle">Culmination of information from all tools -the whole story</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link"  style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-child-timeline.jpg" alt="Timeline Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Fourth Tool Ends -->
            
            <!-- Fifth Tool  -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">5 of 11</p>
                    <p class="health-tag">Health</p>
                    <p class="diary-tag">Diary</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Dental-Health-Icon.svg" alt="Dental Health Icon"></span>
                      <span style="display: inline-block">Dental Health</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-dentalhealth.png" alt="Dental Health Meter" width="500">
                    <p class="feature-subtitle">An interactive tool to monitor the eruption and shedding of a child’s teeth, and identify any issues early on</p>
                    
                    <!-- Modal Trigger-->
                    <a href="https://www.youtube.com/watch?v=Oq9sghXWZds" class="watch-video-btn">Watch Video</a>
                    <a class="text-link" style="display:none;" href="#">Learn More</a>


                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-dental-health.jpg" alt="Dental Health Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Fifth Tool Ends -->
            
            <!-- Sixth  Tool-->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row flex-row-reverse">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">6 of 11</p>
                    <p class="health-tag">Health</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/z-score-icon.svg" alt="Z Score Icon"></span>
                      <span style="display: inline-block">Z Score</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-zscore.png" alt="Z Score Meter" width="500">
                    <p class="feature-subtitle">Provides early indicators of any growth issues. The most advanced growth monitoring tool based on WHO standards</p>
                    
                    <!-- Modal Trigger-->
                    <a href="https://www.youtube.com/watch?v=uuXTmJ0ZFTE" class="watch-video-btn">Watch Video</a>
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-z-score.jpg" alt="Z Score Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Sixth Tool Ends -->
          
            <!-- Seventh Tool  -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">7 of 11</p>
                    <p class="diary-tag">Diary</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Calendar-Icon.svg" alt="Calendar Icon"></span>
                      <span style="display: inline-block">Calendar</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-calendar.png" alt="Calendar Meter" width="500">
                    <p class="feature-subtitle">Parent's calendars will now be synced with children's activities</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-child-calendar.jpg" alt="Calendar Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Seventh Tool Ends -->
            
            <!-- Eight Tool  -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row flex-row-reverse">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">8 of 11</p>
                    <p class="health-tag">Health</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Child-Health-Card-Icon.svg" alt="Health Report Icon"></span>
                      <span style="display: inline-block">Health Report</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-healthreport.png" alt="Health Report Meter" width="500">
                    <p class="feature-subtitle">View and manage snapshot of overall health indicators, including eyesight and allergy information</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                    
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-child-health-card.jpg" alt="Child Health Report Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Eight Tool Ends -->
            
            <!-- Ninth Tool  -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row ">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">9 of 11</p>
                    <p class="health-tag">Health</p>
                    <p class="diary-tag">Diary</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Checkup-Planner-Icon.svg" alt="Checkup Planner Icon"></span>
                      <span style="display: inline-block">Checkup Planner</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-checkupplanner.png" alt="Checkup Planner Meter" width="500">
                    <p class="feature-subtitle">Manage a comprehensive list of recommended list of check ups - from birth to early years</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-checkup-planner.jpg" alt="Checkup Planner Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Ninth Tool Ends -->
            
            <!-- Tenth  Tool-->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row flex-row-reverse">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">10 of 11</p>
                    <p class="diary-tag">Diary</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Document-Icon.svg" alt="Documents Icon"></span>
                      <span style="display: inline-block">Documents</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-documents.png" alt="Documents Meter" width="500">
                    <p class="feature-subtitle">Keep your child's most important documents safe and easily accessible</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>
                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-documents.jpg" alt="Documents Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Tenth Tool Ends -->
          
            <!-- Eleventh Tool  -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">11 of 11</p>
                    <p class="mind-tag">Mind</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Alexa-Maths-Icon.svg" alt="Mental Maths Icon"></span>
                      <span style="display: inline-block">Mental Maths</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-mentalmaths.png" alt="Mental Maths Meter" width="500">
                    <p class="feature-subtitle">Provides detailed reporting of your child’s mental maths practics with “Nurturey Maths” skills on Alexa and Google Home</p>
                    
                    <!-- Modal Trigger-->
                    <a href="https://www.youtube.com/watch?v=f9-nHDfqJiw" class="watch-video-btn">Watch Video</a>
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-mental-maths.jpg" alt="Mental Maths Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Eleventh Tool Ends -->

            <!-- Twelth  Tool-->
            
            <!-- Twelth Tool Ends -->
          </div>
          
          <!-- PREGNANCY TOOLS -->
          <div class="tab-pane fade show" id="pills-preg" role="tabpanel" aria-labelledby="pills-preg-tab">
            <!-- First Tool - Timeline -->
            
            <!-- First Tool Ends -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">1 of 6</p>
                    <p class="diary-tag">Diary</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Prenatal-Test-Icon.svg" alt="Prenatal Tests Icon"></span>
                      <span style="display: inline-block">Prenatal Tests</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-prenatal-tests.png" alt="Prenatal Tests Meter" width="500">
                    <p class="feature-subtitle">Manage your Prenatal tests schedule and details easily accessible</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-prenatal-tests.jpg" alt="Prenatal Tests Screen">
                  </div>
                </div>
              </div>
            </div>

            <!-- Second Tool - Timeline -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row flex-row-reverse">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">2 of 6</p>
                    <p class="diary-tag">Diary</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Timeline-Icon.svg" alt="Timeline Icon"></span>
                      <span style="display: inline-block">Timeline</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-preg-timeline.png" alt="Calendar Meter" width="500">
                    <p class="feature-subtitle">Culmination of information from all tools - the whole story</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-preg-timeline.jpg" alt="Timeline Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Second Tool Ends -->
          
            <!-- Third Tool Health Tool -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">3 of 6</p>
                    <p class="health-tag">Health</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Pregnancy-Health-Card-Icon.svg" alt="Pregnancy Health Card Icon"></span>
                      <span style="display: inline-block">Pregnancy Health Card</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-preg-health-card.png" alt="Pregnancy Health Card Meter" width="500">
                    <p class="feature-subtitle">View and manage snapshot of overall health indicators of mother during pregnancy</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-preg-health-card.jpg" alt="Health Card">
                  </div>
                </div>
              </div>
            </div>
            <!-- Third Tool Ends -->
            
            <!-- Fourth Tool  Health-->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row flex-row-reverse">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">4 of 6</p>
                    <p class="health-tag">Health</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/kick-counter-icon.svg" alt="Kick Counter Icon"></span>
                      <span style="display: inline-block">Kick Counter</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-kickcounter.png" alt="Kick Counter Meter" width="500">
                    <p class="feature-subtitle">Monitor your baby's kick and movement pattern that may indicate well being and normal growth</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-kick-counter.jpg" alt="Kick Counter Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Fourth Tool Ends -->
            
            <!-- Fifth Tool  -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">5 of 6</p>
                    <p class="diary-tag">Diary</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Calendar-Icon.svg"  alt="Calendar Icon"></span>
                      <span style="display: inline-block">Calendar</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-preg-calendar.png" alt="Calendar Meter" width="500">
                    <p class="feature-subtitle">Easily manage your appointments and activity schedule now</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;"href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-child-calendar.jpg" alt="Calendar Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Fifth Tool Ends -->
          
            <!-- Sixth Tool  -->
            <div class="container-fluid featured-tool">
              <div class="container">
                <div class="row flex-row-reverse">
                  <div class="col-md-6 col-sm-12">
                    <p class="tool-count">6 of 6</p>
                    <p class="diary-tag">Diary</p>
                    <p class="feature-title">
                      <span class="tool-icons"><img src="assets/feature/Document-Icon.svg" alt="Documents Icon"></span>
                      <span style="display: inline-block">Documents</span>
                    </p>
                    <img class="tool-graph img-fluid" src="assets/feature/meter-preg-documents.png" alt="Documents Meter" width="500">
                    <p class="feature-subtitle">Keep your your most important documents safe and easily accessible</p>
                    
                    <!-- Modal Trigger-->
                    <a class="text-link" style="display:none;" href="#">Learn More</a>
                  </div>

                  <div class="col-md-6 col-sm-12 text-center tool-screen">
                    <img class="img-fluid" src="assets/feature/screen-documents.jpg" alt="Documents Screen">
                  </div>
                </div>
              </div>
            </div>
            <!-- Sixth Tool Ends -->
            
          
          </div>
        </div><!-- Tab content Ends -->
        
      </div>
    </div>
  </div>

  <div class="first-section jumbotron-fluid">
    <div class="container">
      <div class="row">
        <!-- Left -->
        <div class="col-md-12 col-sm-12" style="align-items: center; display: flex; margin-bottom: 20px;">
          <div class="container">
            <div class="row">
              <p class="title" style="text-align: center !important;">Download <strong style="font-weight: 600">Nurturey</strong></p>
            </div>
            <div class="row">
              <div class="col-md-12 appstore-button-group" align="center">
                <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" class="js-apple-store"><img src="/assets/homepage/AppleStore.jpg" class="img-fluid" alt="Apple App Store"></a>
              <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/GooglePlay.jpg" class="img-fluid" height="60" alt="Google Play Store"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- footer Section -->
<!-- footer Section -->   

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <!-- <script src="http://code.jquery.com/jquery-1.12.1.min.js"></script>  -->


<!-- Optional JavaScript -->
  
<!-- YOUTUBE POPUP JQUERY -->
  
  <script type="text/javascript">
  
    (function ( $ ) {

    $.fn.YouTubePopUp = function(options) {

      var YouTubePopUpOptions = $.extend({
          autoplay: 1
      }, options );

      $(this).on('click', function (e) {

        var youtubeLink = $(this).attr("href");

        if( youtubeLink.match(/(youtube.com)/) ){
          var split_c = "v=";
          var split_n = 1;
        }

        if( youtubeLink.match(/(youtu.be)/) || youtubeLink.match(/(vimeo.com\/)+[0-9]/) ){
          var split_c = "/";
          var split_n = 3;
        }

        if( youtubeLink.match(/(vimeo.com\/)+[a-zA-Z]/) ){
          var split_c = "/";
          var split_n = 5;
        }

        var getYouTubeVideoID = youtubeLink.split(split_c)[split_n];

        var cleanVideoID = getYouTubeVideoID.replace(/(&)+(.*)/, "");

        if( youtubeLink.match(/(youtu.be)/) || youtubeLink.match(/(youtube.com)/) ){
          var videoEmbedLink = "https://www.youtube.com/embed/"+cleanVideoID+"?autoplay="+YouTubePopUpOptions.autoplay+"";
        }

        if( youtubeLink.match(/(vimeo.com\/)+[0-9]/) || youtubeLink.match(/(vimeo.com\/)+[a-zA-Z]/) ){
          var videoEmbedLink = "https://player.vimeo.com/video/"+cleanVideoID+"?autoplay="+YouTubePopUpOptions.autoplay+"";
        }

        $("body").append('<div class="YouTubePopUp-Wrap YouTubePopUp-animation"><div class="YouTubePopUp-Content"><span class="YouTubePopUp-Close"></span><iframe src="'+videoEmbedLink+'" allowfullscreen></iframe></div></div>');

        if( $('.YouTubePopUp-Wrap').hasClass('YouTubePopUp-animation') ){
          setTimeout(function() {
            $('.YouTubePopUp-Wrap').removeClass("YouTubePopUp-animation");
          }, 600);
        }

        $(".YouTubePopUp-Wrap, .YouTubePopUp-Close").click(function(){
          $(".YouTubePopUp-Wrap").addClass("YouTubePopUp-Hide").delay(515).queue(function() { $(this).remove(); });
        });

        e.preventDefault();

      });

      $(document).keyup(function(e) {

        if ( e.keyCode == 27 ){
          $('.YouTubePopUp-Wrap, .YouTubePopUp-Close').click();
        }

      });

    };

  }( jQuery ));

</script>
  
<script type="text/javascript">
  jQuery(function(){
    jQuery("a.watch-video-btn").YouTubePopUp();

  });
</script>

<!-- STICKY NAVIGATION -->
<script>
  $(window).scroll(function(){

  if($(this).scrollTop() >= 400) {
  $("body").addClass("sleek");  
  }

  else {
  $("body").removeClass("sleek");
  }
});
  
  /*Scroll to top when tab clicked BEGIN*/
  $('.nav-link').on("click",function(){
      $("html, body").animate({ scrollTop: 400 }, "slow");
});

</script>


  </body>
</html>