<section class="nur-appt-wrapper" id="measurement-page">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h2>Measurements Tool</h2>
            <p class="linking-subheading measurement-subheading">Nurturey's Measurements Tool helps you track your child's growth and development, helping you stay on top of your child's health needs.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/pinkbook_tools">PinkBook Tools<i class="fa fa-chevron-right"></i></a></li>
              <li>Measurements Tool</li>
            </ul>
          </div>
          <div class="linking-ques-wrapper">
            <div class="measure-ques-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"> <img src="/assets/homepage/measure-icon-1.png" class="img-fluid" alt="Icon" title=""></span>Tracking your child's growth</h2>
                    <p>Your child's growth is measured by 3 parameters: height, weight and head circumference. Nurturey pulls updated records, directly from the NHS GP online systems, for parents to access. View previous GP-recorded measurements, add your own and build a detailed health journey for your child!</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                  <div class="nhs-main-image measure-main-image"> <img src="/assets/homepage/measure-image-1.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="measure-ques-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"><img src="/assets/homepage/measure-icon-2.png" class="img-fluid" alt="Icon" title=""></span>Growth charts</h2>
                    <p>Nurturey plots your child's measurement on a growth chart, comparing your child's height, weight and head size against children of the same age. These growth charts, marked against WHO benchmarks, help determine if a child is following expected patterns. It is a sensitive indicator used by health professionals to help identify emerging health needs in children.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 order-lg-first">
                  <div class="nhs-main-image measure-main-image"> <img src="/assets/homepage/measure-image-2.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="measure-ques-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"><img src="/assets/homepage/measure-icon-3.png" class="img-fluid" alt="Icon" title=""></span>BMI</h2>
                    <p>Starting at the age of 2, parents are encouraged to calculate their child's BMI. Nurturey calculates your child's BMI and plots it on the BMI-for-age chart, standardised by the WHO. Measuring your child's BMI empowers parents to track growth and development, alerting them to any early intervention needed in case a child is losing or gaining weight at an unhealthy rate.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                  <div class="nhs-main-image measure-main-image"> <img src="/assets/homepage/measure-image-3.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="measure-ques-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"><img src="/assets/homepage/measure-icon-4.png" class="img-fluid" alt="Icon" title=""></span>Z Score</h2>
                    <p>Z score is widely recognised as one of the most advanced and a preferred method of analysis of a child's health status. Z score tells parents what is the average weight-for-age and height-for-age for  their child and where the child stands in comparison to the average. This difference from the average, known as standard deviations, help professionals give parents early guidance.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 order-lg-first">
                  <div class="nhs-main-image measure-main-image"> <img src="/assets/homepage/measure-image-4.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="measure-ques-wrap no-border-appt">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"><img src="/assets/homepage/nhs-lib-icon.png" class="img-fluid" alt="Icon" title=""></span>Health Insights</h2>
                    <p>Nurturey sends trusted NHS guidance according to emerging health needs. Parents receive helpful guidance in the form of articles and videos, directly from the NHS that are relevant and informative, supporting them as they track their child's health.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                  <div class="nhs-main-image measure-main-image"> <img src="/assets/homepage/measure-image-5.jpg" class="img-fluid" alt="Image" title=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>