<div class="container">
  <div class="row">

    <div class="col-lg-8 col-sm-offset-2 position-static">
    <div class="singleBx-type16 js-acivation-notification">
    <!-- <a href="#." class="icon-times btn-type4" onclick="$(this).parent().hide();"></a> -->
    <div class="titleBar-type4">
        <i class="icon-alert"></i>
    </div>
    <p class="sub-text text-black" style="font-weight:300">
    	<%= @message %>
    </p>
      <%#= link_to "Resend Email", "/resend_confirmation_link", class: "btn btn-type1 no-margin-left", remote: true%>
    </div>
    </div>




    <!-- <div class="col-lg-12 position-static">
		<h1>
			<%= @message %>
		</h1>
	 </div>-->
  </div>	
</div>	