<section class="nur-appt-wrapper" id="presc-page">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h2>Messages</h2>
            <!--<p class="linking-subheading presc-subheading">A hassle free way to order your repeat prescriptions - directly from the Nurturey app!</p>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/nhs_services">Online NHS Services<i class="fa fa-chevron-right"></i></a></li>
              <li>Messages</li>
            </ul>
          </div>
          <div class="linking-ques-wrapper">
            <div class="measure-ques-wrap no-border-appt">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt"> <img src="/assets/homepage/msgs-banner.jpg" class="img-fluid" alt="" title="">
                    <p>Trusted communication with your GP helps build a better relationship with your doctor, your health and yourself. You can ask your health questions, update and communicate openly with your medical representative.</p>
                    <p>Through "Messages", you can communicate with your GP surgery and ask questions around your child's checkup, vaccinations, growth and development reviews as well as ask about pregnancy check ups, prenatal tests and scans. In addition, you can communicate with the GP about your own health check up, staying on top of your family's health.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>