<style type="text/css">
 
.popupWrapper {
    margin: 70px auto;
    background: #fff;
    border-radius: 5px;
    width: 60% !important ;
    max-width: 650px;
    position: relative;
    /*transition: all 1s ease-in-out;*/
    -moz-box-shadow:    0px 3px 20px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.5);
    box-shadow:         0px 3px 20px 0px rgba(0,0,0,0.5);
    }

    .box {
      text-align: center;
    }
    /*.popupWrapper{
     /* padding: 0px;
    }*/
    .button {
      font-size: 1em;
      background: #23b9fd;
      padding: 10px;
      color: #ffffff;
      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
    .button:hover {
      background: #06D85F;
    }

    /*.overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
    }
    .overlay:target {
      visibility: visible;
      opacity: 1;
    }
*/
    .box h2 {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 32px;
      text-align: center;
      margin: 0px;
      padding: 40px 50px 20px;
    }

    .box h2 span {
      color: #0e8d38;
    }

    .content {
      overflow: auto;
      text-align: center;
      font-size: 18px;
       margin: 0px 100px;
    }

    .content ul {
      margin: 20px auto 10px;
      text-align: center;
      padding: 0px;


    }

    .content .apple{
      text-decoration: none;
      background: url(images/applestore_btn.jpg) no-repeat;
      display:inline-block;
      height: 61px;
      width: 175px;
      margin-bottom: 10px;
    }

    .content .android{
      text-decoration: none;
      background: url(images/androidstore_btn.jpg) no-repeat;
      display:inline-block;
      height: 61px;
      width: 175px;
      margin-bottom: 10px;

    }

    .content a {
      padding: 0px 88px 43px;
    }
    .graphic-container {
    padding: 0px 20px;
      border-bottom: 1px #d1d1d1 solid;
      text-align: center;
    }

    .graphic-container img {
     max-width: 100%;
      height: auto;

    }

    .text-link {
      text-align: center;
      width: 100%;
      padding: 20px 0;
    }

    .text-link a{
      text-decoration: none;
      color: #14953a;
      padding-bottom: 20px;

    }

    @media only screen and (max-width: 700px){

    .popupWrapper{
      width: 90% !important;
    }
    .box h2 {
    padding: 40px 20px 20px;
      font-size: 20px;
    }

    .content {
      font-size: 16px;
       margin: 0px 20px;
    }

/*.text1{
  font-family: HelveticaNeue !important;
  font-size: 32px !important;
  font-weight: bold !important;
}
.text2{
  font-family: HelveticaNeue !important;
  font-size: 16px !important;
  font-weight: bold !important;
}*/
</style> 
  
  <!-- <div id="popup1" class="overlay"> -->
    
    <div class="box">
      
      <h2>Parenting has become more exciting with <span>Nurturey</span> app</h2>
      <div class="content">
        <p>Easily manage your child's growth on your finger tips with Nurturey's personal assistant</p>
      <ul class="buttons">
        <li class="apple">
          <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" class="js-apple-store"></a>
        </li>
        <li class="android">
          <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"></a>
        </li>
      </ul>
      
    </div>
    <div class="graphic-container">
        <img src="images/mobile_image.jpg" alt="Nurturey App" height="291" width="502"/>
      </div>
      <div class="text-link"><a href="#" onclick="$this.$disablePopup();" >Skip</a></div>
  <!-- </div> -->
   
 </div>  

   
    <!-- <div class="popup1" class="overlay">
      <h2 class="text1">Parenting has become more </br>exciting with <span>Nurturey</span> app</h2>
      <div class="content text2">Easily manage your child's growth on your finger tips with Nurturey's personal assistant</div>
      <ul class="buttons">
        <li class="apple"><a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8"></a></li>
        <li class="android"><a href="https://play.google.com/store/apps/details?id=com.nurturey.app"></a></li>
      </ul>
      <div class="graphic-container"><div class="graphic"></div></div>
      <div class="text-link"><a href="#" onclick="$this.$disablePopup();">Skip</a></div>
    </div> -->
  

