<section class="nur-appt-wrapper" id="nhs-guidance">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h2><span class="blue-txt">NHS</span> Guidance</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/nhs_services">Online NHS Services<i class="fa fa-chevron-right"></i></a></li>
              <li>NHS Guidance</li>
            </ul>
          </div>
          <div class="appt-ques-wrapper">
            <div class="appt-ques-wrap" id="nhs_library">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"><img src="/assets/homepage/nhs-lib-icon.png" class="img-fluid" alt="Icon" title=""></span><span class="blue-txt">NHS</span> Library</h2>
                    <p>Wish there was a library that had answers to your pregnancy and parenting questions? Well, look no further!</p>
                    <p>The NHS Library provides algorithmically targeted content, directly pulled from the NHS, giving trusted and informative parenting and pregnancy guidance to our users.</p>
                    <p>From pregnancy to child health, we have the entirety of the NHS pregnancy and baby guide ready to be scrolled through, encouraging and supporting your pregnancy and parenting journey.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                  <div class="nhs-main-image"> <img src="/assets/homepage/nhs-guidance-1.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt p-width-100">
                    <p>Questions on topics like vaccinations, breastfeeding, dental health, milestones are just some of the many common yet important topics available on the NHS library.</p>
                    <p>We send relevant information at the right time from the NHS library to help you with your parenting and pregnancy stage and situation.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>