<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <link rel="stylesheet" href="/assets/homepage/homepage_style.css"/>
  <!-- <link rel="stylesheet" href="style.css" > -->
    <script src="assets/homepage/scrollreveal.js"></script>
  <!-- <script src="scrollreveal.js"></script> -->
  <meta property="og:image" content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo_for_fb_post.png"/>
  <meta property="og:image:secure_url" content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo_for_fb_post.png" />
  <meta content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo_for_fb_post.png" itemprop="image">
  <meta property="og:image:height" content="200">
  <meta property="og:image:width" content="200">
  <title>Download App | Nurturey - World's Leading Parenting App</title>
</head>
<body>
  
<!--Navbar-->
<nav class="navbar navbar-light red lighten-1 mb-4" style="background: rgba(255,255,255,0.95);">
  <div class="container" style="position: relative;">
    <div class="row">
      <a class="navbar-brand" href="/"><img src="/assets/homepage/logo.png" class="img-fluid" alt="Nurturey"></a>
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon3"><span></span><span></span><span></span><span></span></div>
      </button>
    </div>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent23">
      <!-- Links -->
      <ul class="navbar-nav text-center">
        <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/features/">PinkBook Tools</a></li>
        <li class="nav-item"><a class="nav-link" href="https://nurturey.com/blog">Blog</a></li>
        <!--<li class="nav-item"><a class="nav-link" href="#">How it works</a></li>-->
        <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/sign_in" id="testValue">Sign In</a></li>
        <li class="nav-item"><a class="nav-link" href="/users/sign_in?pageName=signup">Sign Up</a></li>
        <li class="nav-item" style="padding: 20px;">
          <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" class="js-apple-store"><img src="/assets/homepage/AppleStore.jpg" height="60" alt="Apple App Store" style="margin:10px 5px 10px 0px"></a>
          <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/GooglePlay.jpg" height="60" alt="Google Play Store" style="margin:10px 0px 10px 5px"></a>
        </li>
      </ul>
      <!-- Links -->
    <!-- Collapsible content -->
    </div>
</div>
</nav>
<!--/.Navbar-->
  
<!-- First Section -->
<div class="first-section jumbotron-fluid">
  <div class="container">
    <div class="row">
      <!-- Left -->
      <div class="col-md-12 col-sm-12" style="align-items: center; display: flex; margin-bottom: 20px;">
        <div class="container">
          <div class="row">
            <%=@message%>
             
          </div>
          <div class="row">
            <!-- <div class="col-md-12 appstore-button-group" align="center">
              <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" class="js-apple-store"><img src="/assets/homepage/AppleStore.jpg" class="img-fluid" alt="Apple App Store"></a>
            <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/GooglePlay.jpg" class="img-fluid" height="60" alt="Google Play Store"></a>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- footer Section -->
<div class="section fp-auto-height" id="footer" style="bottom: 0 !important;">
  <div class="content">
    <div class="container">
      <div class="row text-left">
        <div class="col-md-5 border-footer">
          <div class="row">
            <div class="col-md-4 sm-footer">
              <img src="/assets/homepage/footer-logo.png" class="img-fluid" title="Nurturey" alt="Nurturey">
            </div>
            <div class="col-md-8">
              <div class="footer-text">
                <p>Nurturey is a one-stop companion for parents offering digital tools – Tools - that help parents effectively and efficiently manage their lives around their kids.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-2 col-sm-6 border-footer">
          <div class="links-content">
            <h5>Links</h5>
            <ul>
              <li><a href="<%=APP_CONFIG["default_host"]%>/terms<%=alexa_reference_params_for_home%>">Terms of Service</a></li>
              <li><a href="<%=APP_CONFIG["default_host"]%>/privacy<%=alexa_reference_params_for_home%>">Privacy Policy</a>
              </li>
              <li>
              <a href="/copyright<%=alexa_reference_params_for_home%>" target="_blank">
              </li>
              <li><a href="/cookies<%=alexa_reference_params_for_home%>" target="_blank">Cookie use</a></li>
            </ul>
          </div>
        </div>
        <div class="col col-md-2 col-sm-6">
          <div class="links-content">
            <h5>Social</h5>
            <ul>
              <li><a href="https://www.facebook.com/nurtureyonweb?ref=hl">Facebook</a></li>
              <li><a href="<%=APP_CONFIG['youtube_url']%>">Youtube</a></li>
              <li><a href="https://www.linkedin.com/company/5131995?trk=tyah&trkInfo=tarId%3A1416491704761%2Ctas%3Anurturey%2Cidx%3A2-1-3">Linkedin</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-btn">
            <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><img src="/assets/homepage/iphone-app.png" class="img-fluid" alt="Nurturey" title="Nurturey"></a>
            <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/google-app.png" class="img-fluid" alt="Nurturey" title="Nurturey"></a>
          </div>
        </div>            
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>©<%=APP_CONFIG["copyright_year"]%> Nurturey, All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer Section -->   

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<!-- Optional JavaScript -->
   

<!-- STICKY NAVIGATION -->
<script>
$(window).scroll(function(){

  if($(this).scrollTop() >= 800) {
  $("body").addClass("sleek");  
  }

  else {
  $("body").removeClass("sleek");
  }
});
</script>
 

  </body>
</html>