<section class="nur-appt-wrapper" id="nhs-linking">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h2>Online <span class="blue-txt">NHS</span> services</h2>
            <p class="linking-subheading">Nurturey, the smartest digital upgrade to the NHS paper red book, gives you access to online GP services such as GP/Midwife appointments, Prescriptions, Health Records, NHS Articles and Videos and more!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li>Online NHS Services</li>
            </ul>
          </div>
          <div class="linking-ques-wrapper">
            <div class="linking-ques-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"><img src="/assets/homepage/linking-icon-1.png" class="img-fluid" alt="Icon" title=""></span>GP/Midwife Appointments</h2>
                    <p>Book an appointment with your GP/Midwife instantly and take charge of your family's health! Our PinkBook's <strong class="txt-bold">'Appointment'</strong> feature manages your GP visits for you and your child such as health checkups, pregnancy reviews, follow-ups, vaccinations, consultations and more.</p>
                    <div class="empower-btn growth-video-btn mt-5"> <a href="/appointments" class="em-btn">Learn more</a></div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="nhs-main-image"> <img src="/assets/homepage/nhs-linking-image-1.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="appt-txt nhs-txt-left">
                    <h2><span class="heading-icon"><img src="/assets/homepage/linking-icon-2.png" class="img-fluid" alt="Icon" title=""></span>Prescriptions</h2>
                    <p>Never worry about forgetting to get your prescription medication! With just a tap on a button, choose the prescription you’d like refilled and order them into your local pharmacy to pick up at your convenience.</p>
                    <div class="empower-btn growth-video-btn mt-5"> <a href="/prescriptions" class="em-btn">Learn more</a> </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-first">
                  <div class="nhs-main-image"> <img src="/assets/homepage/nhs-linking-image-2.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"><img src="/assets/homepage/linking-icon-3.png" class="img-fluid" alt="Icon" title=""></span>Messages</h2>
                    <p>Communicate with your GP through our messaging service, asking them your family’s health questions such as vaccinations, measurements, your pregnancy questions relating to pregnancy check ups and prenatal tests, follow ups to consultations and any other query you may have about your family's or your own health.</p>
                    <div class="empower-btn growth-video-btn mt-5"> <a href="/message" class="em-btn">Learn more</a> </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="nhs-main-image"> <img src="/assets/homepage/nhs-linking-image-3.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="appt-txt nhs-txt-left">
                    <h2><span class="heading-icon"><img src="/assets/homepage/nhs-lib-icon.png" class="img-fluid" alt="Icon" title=""></span><span class="blue-txt">NHS</span> Library</h2>
                    <p>Benefit from our extremely insightful and trusted resource - the Content Library from NHS! Directly sourced from the NHS systems, our intelligent algorithmic targeting makes sure you receive the most relevant and up-to-date information to help you on your parenting journey. Get relevant parental guidance on vaccinations, child growth and development, child health, pregnancy and other health related topics.</p>
                    <div class="empower-btn growth-video-btn mt-5"> <a href="/nhs_guidance" class="em-btn">Learn more</a> </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-first">
                  <div class="nhs-main-image"> <img src="/assets/homepage/nhs-linking-image-4.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"><img src="/assets/homepage/nhs-icon-2.png" class="img-fluid" alt="Icon" title=""></span>Baby On Board</h2>
                    <p>Directly from NHS systems, our weekly guide describes the week-by-week growth and development of the baby as well as the changes the mother is going through. Learn about your growing family as you get a weekly snapshot of the physical, emotional and social lowdown of a pregnancy.</p>
                    <div class="empower-btn growth-video-btn mt-5"> <a href="/baby_on_board" class="em-btn">Learn more</a> </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="nhs-main-image"> <img src="/assets/homepage/nhs-linking-image-5.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="appt-txt nhs-txt-left">
                    <h2><span class="heading-icon"><img src="/assets/homepage/nhs-icon-3.png" class="img-fluid" alt="Icon" title=""></span>Pregnancy Guides by <span class="blue-txt">NHS</span></h2>
                    <p>Pregnancy is a journey - and we have the best guide for you! The Pregnancy Guides by NHS is an easy to access, trusted content repository that helps inform women about the most commonly searched pregnancy topics like pregnancy journey, pregnancy check ups, vaccinations during pregnancy, health and nutrition, all directly from the NHS systems.</p>
                    <div class="empower-btn growth-video-btn mt-5"> <a href="/nhs_pregnancy_guides" class="em-btn">Learn more</a> </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-first">
                  <div class="nhs-main-image"> <img src="/assets/homepage/nhs-linking-image-6.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>