<section class="nur-appt-wrapper" id="nhs-guidance">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h2><span class="blue-txt">NHS</span> Guidance</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/nhs_services">Online NHS Services<i class="fa fa-chevron-right"></i></a></li>
              <li>NHS Guidance</li>
            </ul>
          </div>
          <div class="appt-ques-wrapper">
            <div class="appt-ques-wrap no-border-appt" id="pregnancy_guides">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                  <div class="appt-txt">
                    <h2><span class="heading-icon"><img src="/assets/homepage/nhs-icon-3.png" class="img-fluid" alt="Icon" title=""></span><span class="blue-txt">NHS</span> Pregnancy Guides</h2>
                    <p>We understand pregnancy brings a million questions - and we've got answers to some of them!</p>
                    <p>Our NHS Pregnancy guides brings NHS pregnancy content directly to you - divided into the most common pregnancy topics such as diet, exercise, antenatal care, tests and scans, vaccinations - these guides are perfect for first time parents who are hungry to learn everything as well experienced parents who want a quick refresher course on pregnancy.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                  <div class="nhs-main-image"> <img src="/assets/homepage/nhs-guidance-3.jpg" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>