<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <title>Dedicated to parents and children</title> -->
  <%= render :partial => "/layouts/facebook_app_invite_meta_tag", :locals=>{:country=> @locale} %>
  
  <!-- <meta name="description" content="The digital healthbook" /> -->

  <meta property="og:image" content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo.png"/>
  <meta property="og:image:secure_url" content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo.png" />
  <meta content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo.png" itemprop="image">
  <meta property="og:image:height" content="200">
  <meta property="og:image:width" content="200">

  <!-- <link rel='shortcut icon' href='favicon.png' type='image/x-icon' /> -->
  <link rel="shortcut icon" type="image/ico" href="/assets/nurturey.ico"/>
  <!-- CSS styles -->

  <link rel="stylesheet" href="/assets/homepage/uae/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/homepage/style.css">
  <link rel="stylesheet" href="/assets/homepage/responsive.css">

  <!-- <link rel="stylesheet" href="/assets/cookie_msg.css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <%= javascript_include_tag "https://connect.facebook.net/en_US/all.js" %>
  <!--  JavaScript Files -->
  <script src="/assets/homepage/uae/jquery-3.4.1.min.js"></script>
  <script src="/assets/homepage/uae/bootstrap.min.js"></script>
  <script src="/assets/homepage/uae/scrollreveal.js"></script>
  <script src="/assets/homepage/uae/script.js"></script>
  <script src="/assets/homepage/uae/scrollreveal.js"></script>
  <script type="text/javascript">
    (function (d, s, id) {
      var js,
      fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id))
      return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=295268883991452&version=<%=APP_CONFIG[:FB_api_version]%>";
      fjs.parentNode.insertBefore(js, fjs);
    }
    (document, 'script', 'facebook-jssdk'));
  </script>
  <%= render :partial=>"/layouts/fb_pixel",:locals=>{:page_name=>"home_uae"} %>
  <%= render partial: "/layouts/google_analytics_script" %>
  <%#=yield :head %>
  <!-- /CSS styles -->
</head>
<body class="home-pg-main">
  <!-- Header -->
  <%= render partial: 'layouts/pinkbook_navigation_bar' %>
  <!-- /Header -->

  <!-- Banner Wrapper -->
  <section class="banner-wrapper">
    <!-- Banner Area -->
    <div class="banner-area">
      <!-- Container -->
      <div class="container">
        <!-- Row -->
        <div class="row">
          <!-- Col -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <!-- Banner Content -->
            <div class="banner-content">
              <div class="nhs-banner-txt">
                <h2>
                  <span class="blue-txt">The</span> <span class="small-red-text">PinkBook</span>
                </h2>
              </div>
              <h3>Manage pregnancy and child health</h3>
              <p><i>The smartest digital upgrade for NHS paper red book</i></p>
              <p class="quote_line"><i>"It's like Red, only better"</i></p>
              <div class="banner-icons-wrap">
                <span><img src="/assets/homepage/banner-icon-1.png" class="img-fluid" alt="Image" title=""></span>
                <span><img src="/assets/homepage/banner-icon-2.png" class="img-fluid" alt="Image" title=""></span>
              </div>
              <!-- App Wrapper -->
              <div class="app-wrapper">
                <span class="download-icon">
                  <a class="nav-app-links" href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" target="_blank">
                    <span class="download-fa-icon"><i class="fab fa-apple"></i></span>
                    <span class="small-text">Download App on <span class="lg-text">App Store</span></span>
                  </a>
                </span>
                <span class="download-icon mob-btn">
                  <a class="nav-app-links" href="https://play.google.com/store/apps/details?id=com.nurturey.app" target="_blank">
                    <span class="download-fa-icon"><i class="fab fa-google-play"></i></span>
                    <span class="small-text">Download App on <span class="lg-text">Google Play</span></span>
                  </a>
                </span>
              </div>
              <!-- /App Wrapper -->
            </div>
            <!-- /Banner Content -->
          </div>
          <!-- /Col -->
          <!-- Col -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center img-app-wrapper">
            <div class="main-banner-wrap">
              <img src="/assets/homepage/banner-main-image.png" class="img-fluid" alt="Banner" title="">
            </div>
            <!-- App Wrapper -->
            <div class="app-wrapper">
              <span class="download-icon">
                <a class="nav-app-links" href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" target="_blank">
                  <span class="download-fa-icon"><i class="fab fa-apple"></i></span>
                  <span class="small-text">Download App on <span class="lg-text">App Store</span></span>
                </a>
              </span>
              <span class="download-icon mob-btn">
                <a class="nav-app-links" href="https://play.google.com/store/apps/details?id=com.nurturey.app" target="_blank">
                  <span class="download-fa-icon"><i class="fab fa-google-play"></i></span>
                  <span class="small-text">Download App on <span class="lg-text">Google Play</span></span>
                </a>
              </span>
            </div>
            <!-- /App Wrapper -->
          </div>
          <!-- /Col -->
        </div>
        <!-- /Row -->
      </div>
      <!-- /Container -->
    </div>
    <!-- /Banner Area -->
  </section>
  <!-- /Banner Wrapper -->

  <!-- Supported Wrapper -->
  <!-- Growth Wrapper -->
  <section class="growth-wrapper">
    <!-- Growth Area -->
    <div class="growth-area">
      <!-- Container -->
      <div class="container">
        <!-- Row -->
        <div class="row">
          <!-- Col -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <!-- Growth Content -->
            <div class="growth-content">
              <h2>
                <span class="site-color">Stay on top</span> of your pregnancy and child's health
              </h2>
            </div>
            <!-- /Growth Content --> 
            <!-- Growth Detail -->
            <div class="growth-detail">
              <!-- Row -->
              <div class="row">
                <!-- Col -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3"> 
                  <!-- Health Wrap -->
                  <div class="health-wrap">
                    <img src="/assets/homepage/growth-icon-1.png" class="img-fluid" alt="Growth" title="Growth">
                    <h3>Digital tracking and reminders</h3>
                    <p>Get reminded of vaccinations, growth milestones, and GP visits</p>
                  </div>
                  <!-- /Health Wrap --> 
                </div>
                <!-- /Col --> 
                <!-- Col -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3"> 
                  <!-- Health Wrap -->
                  <div class="health-wrap">
                    <img src="/assets/homepage/growth-icon-2.png" class="img-fluid" alt="Growth Icon" title="">
                    <h3>Trusted and relevant <span class="blue-txt">NHS</span> guidance</h3>
                    <p>Curated NHS content, tailored to your stage of pregnancy and child's age</p>
                  </div>
                  <!-- /Health Wrap --> 
                </div>
                <!-- /Col --> 
                <!-- Col -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3"> 
                  <!-- Health Wrap -->
                  <div class="health-wrap">
                    <img src="/assets/homepage/nhs-services.jpg" class="img-fluid" alt="Growth Icon" title="">
                    <h3>Online <span class="blue-txt">NHS</span> <br/> GP services</h3>
                    <p>Book appointments, manage vaccinations and access GP health records</p>
                  </div>
                  <!-- /Health Wrap --> 
                </div>
                <!-- /Col --> 
                <!-- Col -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3"> 
                  <!-- Health Wrap -->
                  <div class="health-wrap">
                    <img src="/assets/homepage/growth-icon-4.png" class="img-fluid" alt="Growth Icon" title="">
                    <h3>Smart and proactive health insights</h3>
                    <p>Get insights that pre-emptively identify emerging health needs</p>
                  </div>
                  <!-- /Health Wrap --> 
                </div>
                <!-- /Col -->
              </div>
              <!-- /Row -->
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> 
                  <!-- Empower Btn -->
                  <!--<div class="empower-btn growth-video-btn">
                    <a href="#" class="em-btn">See all tools</a>
                  </div>-->
                  <!-- /Empower Btn --> 
                </div>
              </div>
            </div>
            <!-- /Growth Detail --> 
            <!-- Empower Wrapper -->
            <div class="empower-wrapper"> 
              <!-- Empower Area -->
              <div class="empower-area"> 
                <!-- Container -->
                <div class="container"> 
                  <!-- Row -->
                  <div class="row align-items-center"> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> 
                      <!-- Empower Content -->
                      <div class="empower-content">
                        <h3>
                          <span class="site-color"><strong>Empower</strong></span> yourself
                        </h3>
                        <p>Nurturey's bouquet of intuitive tools will enable you to give your little one the best start</p>
                        <!-- Empower Btn -->
                        <div class="empower-btn">
                          <a href="/pinkbook_tools" class="em-btn">See all tools</a>
                        </div>
                        <!-- /Empower Btn -->
                      </div>
                      <!-- /Empower Content --> 
                    </div>
                    <!-- /Col --> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> 
                      <!-- Carousel -->
                      <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000" data-pause="false">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselFade" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselFade" data-slide-to="1" class=""></li>
                          <li data-target="#carouselFade" data-slide-to="2" class=""></li>
                          <li data-target="#carouselFade" data-slide-to="3" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active"> <img class="d-block w-100" src="/assets/homepage/empower-1.png" alt="First slide">
                            <h2>Reminders</h2>
                          </div>
                          <div class="carousel-item"> <img class="d-block w-100" src="/assets/homepage/empower-2.png" alt="Second slide">
                            <h2>Connect with your doctor</h2>
                          </div>
                          <div class="carousel-item"> <img class="d-block w-100" src="/assets/homepage/empower-3.png" alt="Third slide">
                            <h2>Digital tracking</h2>
                          </div>
                          <div class="carousel-item"> <img class="d-block w-100" src="/assets/homepage/empower-4.png" alt="Fourth slide">
                            <h2>Guidance</h2>
                          </div>
                        </div>
                      </div>
                      <!-- /Carousel -->
                      <div class="empower-btn slider_btn">
                        <a href="https://www.nurturey.com/features" class="em-btn">Learn more</a>
                      </div>
                    </div>
                    <!-- /Col --> 
                  </div>
                  <!-- /Row --> 
                </div>
                <!-- /Container --> 
              </div>
              <!-- /Empower Area --> 
            </div>
            <!-- /Empower Wrapper --> 
            
            <!-- Potential Wrapper -->
            <div class="potential-wrapper"> 
              <!-- Potential Area -->
              <div class="potential-area"> 
                <!-- Container -->
                <div class="container"> 
                  <!-- Row -->
                  <div class="row align-items-center"> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> 
                      <!-- Potential Content -->
                      <div class="potential-content">
                        <h6>Did you know<span class="ques-mark">?</span></h6>
                        <h2>Your children will achieve <span class="site-color"><strong>80% of their cognitive potential</strong></span> within the first 6 years</h2>
                        <p>Enhance their development with a scientific approach</p>
                      </div>
                      <!-- /Potential Content --> 
                    </div>
                    <!-- /Col --> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-first"> 
                      <!-- Carousel -->
                      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000" data-pause="false">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="/assets/homepage/motor-development.jpg" alt="First slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="/assets/homepage/emotional-control.jpg" alt="Second slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="/assets/homepage/social-attachment.jpg" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="/assets/homepage/vocabulary.jpg" alt="Fourth slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="/assets/homepage/math-logic.jpg" alt="Fifth slide">
                          </div>
                        </div>
                      </div>
                      <!-- /Carousel --> 
                    </div>
                    <!-- /Col --> 
                  </div>
                  <!-- /Row --> 
                </div>
                <!-- /Container --> 
              </div>
              <!-- /Potential Area --> 
            </div>
            <!-- /Potential Wrapper --> 
            
            <!-- Family Wrapper -->
            <div class="family-wrapper"> 
              <!-- Family Area -->
              <div class="family-area"> 
                <!-- Container -->
                <div class="container"> 
                  <!-- Row -->
                  <div class="row align-items-center"> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> 
                      <!-- Family Content -->
                      <div class="family-content">
                        <h3>One family. One Nurturey. <span class="site-color"><strong>Many devices.</strong></span></h3>
                        <p>Nurturey connects members of a family together, across multiple devices</p>
                      </div>
                      <!-- /Family Content --> 
                    </div>
                    <!-- /Col --> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> 
                      <!-- Family Image Wrap -->
                      <div class="family-image-wrap">
                        <img src="/assets/homepage/empower-image.jpg" class="img-fluid" alt="Family Image" title="">
                      </div>
                      <!-- /Family Image Wrap --> 
                    </div>
                    <!-- /Col --> 
                  </div>
                  <!-- /Row --> 
                </div>
                <!-- /Container --> 
              </div>
              <!-- /Family Area --> 
            </div>
            <!-- /Family Wrapper --> 
            <!-- Experience Wrapper -->
            <div class="experience-wrapper"> 
              <!-- Experience Area -->
              <div class="experience-area"> 
                <!-- Container -->
                <div class="container"> 
                  <!-- Row -->
                  <div class="row align-items-center"> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> 
                      <!-- Experience Content -->
                      <div class="experience-content">
                        <h3>Parenting experience worth <span class="site-color"><strong>millions of hours,</strong></span> at your fingertips</h3>
                        <p>Nurturey is built on cutting edge tech that leverages AI, analytics, VR etc</p>
                        <!-- Empower Btn -->
                        <div class="empower-btn">
                          <a href="javascript:void(0)" data-toggle="modal" onclick="playVid1()" data-target="#seevideoModal" class="em-btn" data-backdrop="static" data-keyboard="false">See demo</a>
                        </div>
                        <!-- /Empower Btn --> 
                      </div>
                      <!-- /Experience Content --> 
                    </div>
                    <!-- /Col --> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-first"> 
                      <!-- Experience Image Wrap -->
                      <div class="experience-image-wrap">
                        <img src="/assets/homepage/experience-image.jpg" class="img-fluid" alt="Family Image" title="">
                      </div>
                      <!-- /Experience Image Wrap -->
                      <!-- Empower Btn -->
                      <div class="empower-btn slider_btn">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#seevideoModal" class="em-btn">See demo</a>
                      </div>
                      <!-- /Empower Btn -->
                    </div>
                    <!-- /Col --> 
                  </div>
                  <!-- Row --> 
                </div>
                <!-- /Container --> 
              </div>
              <!-- /Experience Area --> 
            </div>
            <!-- /Experience Wrapper --> 
            <!-- Privacy Wrapper -->
            <div class="privacy-wrapper"> 
              <!-- Privacy Area -->
              <div class="privacy-area"> 
                <!-- Container -->
                <div class="container"> 
                  <!-- Row -->
                  <div class="row align-items-center"> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> 
                      <!-- Privacy Content -->
                      <div class="privacy-content">
                        <img src="/assets/homepage/privacy-logo.png" class="img-fluid" alt="Privacy Logo" title="">
                        <h3><span class="site-color"><strong>Data security</strong></span> and <span class="site-color"><strong>privacy</strong></span> is our priority</h3>
                        <p>Nurturey is committed to protecting your privacy and data security. We follow highest standards of information governance and comply with GDPR</p>
                      </div>
                      <!-- /Privacy Content --> 
                    </div>
                    <!-- /Col --> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> 
                      <!-- Privacy Image Wrap -->
                      <div class="privacy-image-wrap">
                        <img src="/assets/homepage/privacy-image.jpg" class="img-fluid" alt="Family Image" title="">
                      </div>
                      <!-- /Privacy Image Wrap --> 
                    </div>
                    <!-- /Col --> 
                  </div>
                  <!-- /Row --> 
                </div>
                <!-- /Container --> 
              </div>
              <!-- /Privacy Area --> 
            </div>
            <!-- /Privacy Wrapper -->
            <!-- Experience Wrapper -->
            <div class="experience-wrapper"> 
              <!-- Experience Area -->
              <div class="experience-area"> 
                <!-- Container -->
                <div class="container"> 
                  <!-- Row -->
                  <div class="row align-items-center"> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"> 
                      <!-- Experience Content -->
                      <div class="experience-content text-center">
                        <h3><span class="site-color"><strong>The smartest digital upgrade for NHS paper red book.</strong></span></h3>
                        <p>"It's like Red, only better."</p>
                      </div>
                      <!-- /Experience Content --> 
                    </div>
                    <!-- /Col --> 
                    <!-- Col -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-first text-center">
                      <div class="video-wrapper">
                        <video id="video" playsinline="" autoplay loop muted autobuffer="" poster="/assets/homepage/phone.jpg" preload="metadata" style="padding: 1px 0px 0px; width: 260px; position: relative;">
                          <source src="https://www.nurturey.com/assets/homepage/videos/iphone.mp4">
                          <source src="https://www.nurturey.com/assets/homepage/videos/iphone.ogg" type="video/ogg">
                          <source src="https://www.nurturey.com/assets/homepage/videos/iphone.webm" type="video/webm" onerror="fallback(parentNode)">
                          <img src="/assets/homepage/phone.jpg" alt="Your Journey, Your Assistant"> Your browser does not support the video tag.
                        </video>
                      </div>
                    </div>
                    <!-- /Col --> 
                  </div>
                  <!-- Row --> 
                </div>
                <!-- /Container --> 
              </div>
              <!-- /Experience Area --> 
            </div>
            <!-- /Experience Wrapper -->
          </div>
          <!-- /Col -->
        </div>
        <!-- /Row -->
      </div>
      <!-- /Container -->
    </div>
    <!-- Growth Area -->
  </section>
  <!-- /Growth Wrapper -->

  <!-- Footer -->
  <%= render :partial=>"/layouts/home_footer"%>
  <!-- /Footer -->

  <!-- Video Modal -->
  <div class="modal fade" id="videoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/paEguFt4lhI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top: 10px;"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- /Video Modal -->

  <!-- See Demo Video pop up -->
  <div class="modal fade" id="seevideoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/f9-nHDfqJiw?start=18" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top: 10px;"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- See Demo Video pop up -->

  <script type="text/savaScript">
    window.sr = ScrollReveal();

    sr.reveal('.banner-content h2, .growth-content h2, .empower-content h3, .potential-content h6, .family-content h3, .experience-content h3, .privacy-content img', {
      duration: 1000,
      origin: 'bottom',
      distance: '10px',
      scale: 1,
    });

    sr.reveal('.banner-content h3, .empower-content p, .potential-content h2, .family-content p, .experience-content p, .privacy-content h3', {
      duration: 1000,
      delay:100,
      origin: 'bottom',
      distance: '10px',
      scale: 1,
    });

    sr.reveal('.banner-content p, .empower-btn, .potential-content p, .privacy-content p', {
      duration: 1000,
      origin: 'bottom',
      delay:200,
      distance: '10px',
      viewFactor: 0.1,
      scale: 1,
    });

    sr.reveal('.app-wrapper', {
      duration: 1000,
      origin: 'bottom',
      delay:300,
      distance: '10px',
      viewFactor: 0.1,
      scale: 1,
    });

    sr.reveal('.support-content', {
      duration: 1000,
      origin: 'bottom',
      distance: '10px',
      viewFactor: 0.1,
      scale: 1,
    });

    sr.reveal('.health-wrap, .empower-area .carousel, .potential-area .carousel-inner, .family-image-wrap img, .experience-image-wrap img, .privacy-image-wrap img' , {
      duration: 2000,
      origin: 'bottom',
      delay:300,
      distance: '20px',
      viewFactor: 0.01,
      scale: 1,
    });
  </script>
</body>
</html>