<section class="nur-appt-wrapper" id="presc-page">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/features">PinkBook Tools<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/vaccinations">Vaccinations Tool<i class="fa fa-chevron-right"></i></a></li>
              <li>Pneumococcal vaccine</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="api-data"></div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $( document ).ready(function() {
    $.ajax({
      type: "GET",
      url: "https://api.nhs.uk/conditions//vaccinations/pneumococcal-vaccination/?Subscription-key=6d0cd76d8f5640c3adcb1e29ec59786d",
      dataType: "json",
      crossDomain: true,
      success: function(data) {
        //console.log(data['mainEntityOfPage']);
        var GetResultData = '';             
        GetResultData += '<div class="nhsuk-grid-column-two-thirds"><h1>'+data['about']['name']+'</h1></div>';
        if(data['mainEntityOfPage'].length > 0){
          GetResultData +='<div class="test_loc_heading"></div>';
          GetResultData += '<ul class="content-indicators">';
          data['mainEntityOfPage'];
          for (var locationCounter = 0; locationCounter < data['mainEntityOfPage'].length; locationCounter++ ) {                        
            if (typeof data['mainEntityOfPage'][locationCounter].text !== 'undefined') {
              var str = data['mainEntityOfPage'][locationCounter].text;
              var str = str.replace(new RegExp('api', 'g'), 'www');
              GetResultData += str;
            }
            else{
              for (var locationCounterget = 0; locationCounterget < data['mainEntityOfPage'][locationCounter]['mainEntity'].length; locationCounterget++ ) {
                if (typeof data['mainEntityOfPage'][locationCounter]['mainEntity'][locationCounterget].text !== 'undefined') {
                  var strlt = data['mainEntityOfPage'][locationCounter]['mainEntity'][locationCounterget].text;
                  var strlt = strlt.replace(new RegExp('api', 'g'), 'www');
                  GetResultData += strlt;
                }
              }
            }
            
          }
        }
             //console.log(data);
             $('#api-data').html(GetResultData);
         },
         error: function(result) {

         }
     });
  });
  document.addEventListener("click", function(e) { 
    if (e.target.tagName == "A" && 
      !e.target.hasAttribute("target")) 
    { 
      e.target.setAttribute("target", "_blank"); 
    } 
  }); 
</script>