<section class="nur-appt-wrapper" id="presc-page">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h2>Prescriptions</h2>
            <p class="linking-subheading presc-subheading">A hassle free way to order your repeat prescriptions - directly from the Nurturey app!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/nhs_services">Online NHS Services<i class="fa fa-chevron-right"></i></a></li>
              <li>Prescriptions</li>
            </ul>
          </div>
          <div class="linking-ques-wrapper">
            <div class="measure-ques-wrap no-border-appt">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt"> <img src="/assets/homepage/presc-banner.jpg" class="img-fluid" alt="Icon" title="">
                    <p>The GP sends your prescription list electronically to a pharmacy of your choice. Through Nurturey, you can order the repeat dose of medication you need. You can go pick up your medication at your convenience, without needing a paper prescription or meeting your GP again.</p>
                    <p>We'll send a reminder about the pickup date and time so you don’t forget, helping you organise your day-to-day.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>