<section class="container page-container">
<div class="col-lg-12 row common_terms">
  <h2 class="text-center">Privacy Policy</h2>
  <div class="row">
    <div class="col-sm-12">
      <p>Nurturey Limited (<strong>Nurturey/we/us/our/the Company</strong>) is committed to protecting and respecting your privacy. </p>
      <p>This policy sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed, stored and disclosed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. By visiting <a href="http://www.nurturey.com">http://www.nurturey.com</a> (the <strong>Site</strong>), using our mobile application (the <strong>App</strong>) or using any of the services offered on or through the Site or the App (the <strong>Services</strong>), you are deemed to have accepted and consented to the practices described in this policy.</p>
      <p>The Site and the App are owned and operated by Nurturey Limited (Company No. 08998552) of 9 Willett Way, Petts Wood, Orpington, Kent, England, BR5 1QB (our <strong>Company Address</strong>).</p>
      <p>Nurturey acts as a Data Controller, as defined in the General Data Protection Regulation (<strong>GDPR</strong>). Our Data Protection Officer (<strong>DPO</strong>), who is responsible for matters relating to privacy and data protection, can be contacted by email at <a href="mailto:dpo@nurturey.com">dpo@nurturey.com</a>.</p>
      <h6>1. INFORMATION WE COLLECT FROM YOU</h6>
      <p>Personal data, or personal information, means any information about an individual from which that person can be identified. It does not include data where the identity has been removed (anonymous data). It is important that the personal data we hold about you is accurate and current. Please keep us informed if your personal data changes during your relationship with us.<br>
        We collect and process the following data:</p>
      <p><strong>1.1 Information you give us</strong></p>
      <p>You give us personal data by filling in forms on the Site or the App, or by corresponding with us by phone, e-mail or otherwise. This includes information you provide when you register to use the Site or the App, report a problem with the Site or the App, and when you voluntarily post, comment or upload photos, records, certificates, documents, and other academic, growth and development-related data to the Site or the App.</p>
      <p><strong>When you submit personal data relating to a child under the age of 16, by submitting such information you warrant and represent that you are the holder of parental responsibility over that child or have been given express authority to do so by the holder of parental responsibility over that child.</strong></p>
      <p>The information you give us includes names, address, email address or login details, phone number, country, date of birth, personal identification number(s), personal description and characteristics (including photographs, fingerprints and handwriting), spatial data (location data), behavioural data, family data, education history, medical history and gender.</p>
      <p>We will seek your explicit consent to process personal data collected on the Site or App, unless you voluntarily and directly provide/upload/record/update any such data, in which case your consent will be deemed implicit and no further consent will be sought.</p>
      <p><strong>1.2 Information we collect about you</strong></p>
      <p>With regard to each of your visits to the Site or the App we automatically collect the following information:</p>
      <ul>
        <li>technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, location, network data,browser plug-in types and versions, languages, operating system and platform;</li>
        <li>information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from the Site (including date and time); pages you viewed or searched for; page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page and any phone number used to call our customer service number.</li>
      </ul>
      <p>We use this information as statistical data about your browsing actions and patterns, for system administration, and to evaluate, provide, protect or improve our Services (including by developing new products and services). Because we collect, use and share this information in the aggregate, it does not identify any individual.</p>
      <p><strong>1.3 Information we receive from other sources</strong></p>
      <p>We receive information about you from third parties we work with, including Facebook Analytics and Google Analytics.</p>
      <p>We collect and process this information in order to provide our service to you. We will only keep this information for as long as is necessary for the performance of the original legitimate purpose for collecting the information and/or for as long as we have your permission to keep it. We calculate the length of this period as the length of time during which you have an account registered on the Site or the App.</p>
      <p>We rely on our legitimate interests to use and process the data described above.</p>
      <h6>2. COOKIES</h6>
      <p>The Site uses cookies to distinguish you from other users of the Site or the App.</p>
      <p>This helps us to provide you with a good experience when you browse the Site and the App and also allows us to improve the Site and the App.</p>
      <p>A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer's hard drive.</p>
      <p><strong>We use the following cookies:</strong></p>
      <ul>
        <li>
          <p><strong>Strictly necessary cookies.</strong><br>
            These are cookies that are required for the operation of the Site and the App. They include, by way of general example, cookies that enable you to log into secure areas of the Site and the App.</p>
          <ol>
            <li>Session</li>
            <li>ELB (Load balancer)</li>
            <li>Timezone</li>
          </ol>
        </li>
        <li>
          <p><strong>Analytical/performance cookies.</strong><br>
            These allow us to recognise and count the number of visitors and to see how visitors move around the Site and the App when they are using it. This helps us to improve the way the Site and the App works by, for example, ensuring that users are finding what they are looking for easily.</p>
          <ol>
            <li>Facebook Pixel (Facebook Services): This cookie stores information about which part of our server farm was used by your most recent visit. This allows us to optimise our site, and your experience for various performance and server management reasons</li>
            <li>Google (Google analytics): Used to distinguish user</li>
          </ol>
        </li>
        <li>
          <p><strong>Functionality cookies.</strong><br>
            These are used to recognise you when you return to the Site and the App. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your region).</p>
        </li>
        <li>
          <p><strong>Targeting cookies.</strong><br>
            These cookies record your visit to the Site and the App, the pages you have visited and the links you have followed. We will use this information to make the Site and the App and the advertising displayed on it more relevant to your interests. We may also share this information (but only in an anonymised format) with third parties for this purpose</p>
        </li>
        <li>
          <p><strong>Social Media cookies.</strong><br>
            As well as first party cookies (i.e. cookies placed by us), please note that third parties (including, for example, advertising networks and providers of external services like web traffic analysis services) may also use cookies, which you may receive on your computer, over which we have no control. We use third party cookies on the Site and the App for advertising and remarketing. The following first and third party cookies may be placed on your computer or device:</p>
          <ol>
            <li>Facebook Login</li>
            <li>Facebook Social Graph: Used to post on Facebook</li>
          </ol>
          <p>You may block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies), you may not be able to access all or parts of our Site and the App.</p>
          <p> You can choose to enable or disable cookies in your internet browser. Most internet browsers also enable you to choose whether you wish to disable all cookies or only third party cookies. By default, most internet browsers accept cookies but this can be changed. For further details, please consult the help menu in your internet browser.</p>
        </li>
      </ul>
      <h6>3. USES MADE OF THE INFORMATION</h6>
      <p>We use information held about you in the following ways</p>
      <p><strong>3.1 Information you give to us</strong></p>
      <p>We use this information:</p>
      <ul>
        <li>to administer and manage your account and to carry out our obligations arising from any contracts entered into between you and us and to provide you with the information and services that you request from us;</li>
        <li>to respond to communications from you and to provide you with information about other services we offer that are similar to those that you have already enquired about;</li>
        <li>with your permission and/or where permitted by law, to provide you, or permit selected third parties to provide you, with information about goods or services we feel may interest you. We will not send you any unsolicited marketing or spam and will take all reasonable steps to ensure that we fully protect your rights and comply with our obligations under applicable Data Protection Laws (meaning, unless and until it is no longer directly applicable in the UK, the General Data Protection Regulation ((EU) 2016/679) (GDPR) and any national implementing laws, regulations and secondary legislation, as amended or updated from time to time, in the UK and (ii) any successor legislation to the GDPR or the Data Protection Act 1998). If you are an existing customer, we will only contact you by electronic means (e-mail or SMS) with information about services similar to those which were the subject of a previous enquiry by you. If you are a new customer, and where we permit selected third parties to use your data, we (or they) will contact you by electronic means only if you have consented to this. If you do not want us to use your data in this way, or to pass your details on to third parties for marketing purposes, please notify us in writing;</li>
        <li>to allow you to use our interactive services;</li>
        <li>to notify you about changes to our service;</li>
        <li>to ensure that content from the Site and the App is presented in the most effective manner for you and for your computer.</li>
      </ul>
      <p><strong>3.2. Information we collect about you</strong></p>
      <p>We will use this information:</p>
      <ul>
        <li>to administer the Site and the App and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</li>
        <li>to improve the Site and the App to ensure that content is presented in the most effective manner for you and for your computer;</li>
        <li>to allow you to participate in interactive features of our service, when you choose to do so;</li>
        <li>as part of our efforts to keep the Site and the App safe and secure;</li>
        <li>to measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you;</li>
        <li>to make suggestions and recommendations to you and other users of the Site and the App about goods or services that may interest you or them.</li>
      </ul>
      <p><strong>3.3 Information we receive from other sources.</strong></p>
      <p>We may combine this information with information you give to us and information we collect about you. We may use this information and the combined information for the purposes set out above (depending on the types of information we receive).</p>
      <p>We will ensure that your personal data is processed lawfully, fairly, and transparently and that it will only be processed if at least one of the following basis applies:</p>
      <ul>
        <li>you have given your clear consent to the processing of your personal data (or your child’s personal data) for a specific purpose;</li>
        <li>processing is necessary for the performance of a contract to which you are a party (or are about to be a party);</li>
        <li>processing is necessary for our compliance with the law;</li>
        <li>processing is necessary to protect somebody’s life;</li>
        <li>processing is necessary for us to perform a task in the public interest or in the exercise of official authority and the task/function has a clear basis in law; and/or</li>
        <li>processing is necessary for our legitimate interests or the legitimate interests of a third party, except where there is a good reason to protect your personal data which overrides those legitimate interests.</li>
      </ul>
      <p>We will seek your explicit consent to process personal data collected on the Site or App, unless you voluntarily and directly provide/upload/record/update any such data, in which case your consent will be deemed implicit and no further consent will be sought.</p>
      <p>However, if you do not grant the requested consent to the processing of the personal data where we need to collect the personal data arises by law, or under the terms of a contract we have with you, we may not be able to perform the contract we have or are trying to enter into with you. In this case, we may have to cancel a contract you have with us but we will notify you if this is the case at the time.</p>
      <p>We will always give you the ability to opt-out of receiving emails from us by unsubscribing using the links provided in those communications, or at the point of providing your details.</p>
      <p><strong>3.4 Parties with whom you may choose to share your content</strong></p>
      <p>You may choose to share any information, photographs or other content that you voluntarily submit to the Site or the App either on public forums and public areas of the Site or the App within your private Nurturey ‘family’ (meaning other users you have invited or accepted as members of your closed network). Such data will become available and viewable by other users as controlled by any applicable privacy settings that you define. To change your privacy settings on the Site or the App, please go to the settings section provided in the Site or the App. Once you have shared your content or made it public, that content may be re-shared by others.</p>
      <p>If you choose to connect to social media networks from our Site or App or post any of your content on our Site or App to those networks, then in accordance with your social media privacy settings, the personal information that you post, transmit, or otherwise make available on the social media platform may be viewed and/or used by other users of those networks and we have no control over such viewing and use and cannot prevent further use of such information by third parties. When you interact with us through social media networks, you acknowledge that we may access your information that is held by that account, solely in accordance with your social media privacy settings. Any links to social media are not under our control and remain solely your responsibility. You acknowledge that any information posted via social media through our Site or App, or any third party you allow to access your content, is done entirely at your own risk and that by posting to a public platform you make that information visible to third-parties who can use that information at their discretion.</p>
      <p>You may review, modify, update, correct or remove any personal data you have submitted to the Site or the App at any time. If you remove information that you posted to the Site or the App, copies may remain viewable in cached and archived pages of the Site or the App, or if other users or third parties API have copied or saved that information.</p>
      <p>Always think carefully before disclosing personal data or other information to other users or otherwise posting personal data on the Site or the App. It is important that you are aware that any data which you choose to disclose on the Site or the App may then be viewed and even used by other users (in accordance with your settings and this privacy policy). We do not control the contents of communications made between users although you can make a complaint about another user as detailed in our Site and App terms and conditions.</p>
      <p>You must respect the privacy of others and you must not disclose any personal details about other people including your family, friends, acquaintances, or other persons that may be misleading or cause them harm or offence. It is your responsibility to obtain their prior express permission in respect of any submission of their data at any time.</p>
      <h6>4. DISCLOSURE OF YOUR INFORMATION</h6>
      <p>We may share your personal information with any member of our group, which means any subsidiaries, any ultimate holding company and its subsidiaries, as defined in section 1159 of the UK Companies Act 2006.</p>
      <p>We may share your information with selected third parties (including Facebook Analytics, Google Analytics, Amazon Web Services, Facebook Ads Manager, Google Adwords) where they require access to your data to supply products and services to you on our behalf, including:</p>
      <ul>
        <li>Business partners, suppliers and sub-contractors for the performance of any contract we enter into with them or you;</li>
        <li>Advertisers and advertising networks that require the data to select and serve relevant adverts to you and others; and</li>
        <li>Analytics and search engine providers that assist us in the improvement and optimisation of the Site and App.
          We require all third parties to respect the security of your personal data and to treat it in accordance with the law. We do not allow our third-party service providers to use your personal data for their own purposes and only permit them to process your personal data for specified purposes and in accordance with our instructions.<br>
          <br>
          We may disclose your personal information to third parties (without contacting you in advance or seeking your consent):</li>
        <li>In the event that we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets;</li>
        <li>If the Company or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets where it is relevant to the part of the business being transferred and the purchaser shall be permitted to use the data for the purposes for which it was originally collected by us; and</li>
        <li>If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our Site and/or App Terms of Use and other agreements; or to protect the rights, property, or safety of the Company, our customers, or others.</li>
      </ul>
      <h6>5. WHERE WE STORE YOUR PERSONAL DATA</h6>
      <p>The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA"). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. Such staff may be engaged in, among other things, the fulfilment of your enquiries, the processing of your payment details and/or the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated as securely as it would be within the EEA and under the GDPR. Such steps may include our entering into contracts with any third parties we engage and the use of EU-approved Model Contractual Arrangements. In addition, we limit access to your personal data to those employees, agents, contractors and other third parties who have a business need to know. They will only process your personal data on our instructions and they are subject to a duty of confidentiality. We will notify you and any applicable regulator of a breach where we are legally required to do so.</p>
      <p>All information you provide to us is stored on our servers and we have put in place appropriate physical, electronic, and management procedures to safeguard and secure the data we collect. Where we have given you (or where you have chosen) a password which enables you to access certain parts of the Site or the App, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.</p>
      <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to the Site or the App; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>
      <h6>6. HOW LONG WE STORE YOUR PERSONAL DATA</h6>
      <p>We will only keep this information for as long as is necessary for the performance of the original legitimate purpose for collecting the information and/or for as long as we have your permission to keep it. To determine the appropriate retention period for personal data, we consider the amount, nature, and sensitivity of the personal data, the potential risk of harm from unauthorised use or disclosure of your personal data, the purposes for which we process your personal data and whether we can achieve those purposes through other means, and the applicable legal requirements.</p>
      <h6>7. YOUR RIGHTS</h6>
      <p>We will get your express opt-in consent before we share your personal data with any third parties for marketing purposes. You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your information to any third party for such purposes. You can exercise your right to prevent such processing by contacting us at the Company Address or by unsubscribing using the links contained in the marketing emails.</p>
      <p>The Site and/or the App may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates or to websites shared by other users. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>
      <p>You have the right to access information held about you and to ask for a copy of such information. Please contact us for more details at the Company Address or at our email address at <a href="mailto:support@nurturey.com">support@nurturey.com</a>.</p>
      <p><strong><span>UNDER THE GDPR</span>, you have the right to:</strong></p>
      <p><span>REQUEST ACCESS</span> deletion or correction to/of the information that we hold about you.</p>
      <p><span>BE INFORMED</span> of what data we hold and the purpose for processing the data as a whole or in parts and ask for a copy of that data..</p>
      <p><span>ERASURE</span> - request to be forgotten (this is not an absolute right) by ourselves and our affiliates</p>
      <p><span>RECTIFICATION</span> - have any information that we hold about you that is incorrect or incomplete be rectified by ourselves and affiliates.</p>
      <p><span>RESTRICT PROCESSING</span> of the information we hold about you (so that inaccuracies may be corrected etc).</p>
      <p><span>OBJECT</span> to the processing of your data.</p>
      <p><span>DATA PORTABILITY</span> - you can obtain and reuse the information that we hold about you.</p>
      <p><span>CHALLENGE</span> any data we use for the purposes of automated decision-making and profiling, in certain circumstances.</p>
      <p><span>COMPLAIN</span> to a supervisory authority.</p>
      <p>You will not have to pay a fee to access your personal data (or to exercise any of the other rights). However, we may charge a reasonable fee if your request is clearly unfounded, repetitive or excessive. Alternatively, we may refuse to comply with your request in these circumstances.</p>
      <p>You may revoke your consent for us to use your personal data as described in this privacy policy at any time by emailing us at <a href="mailto:support@nurturey.com">support@nurturey.com</a>, and we will delete your data from our systems. To enforce any of the above rights, please contact us using the details set out below</p>
      <h6>8. CHANGES TO OUR PRIVACY POLICY</h6>
      <p>We update our privacy policy at regular intervals. Any changes to the privacy policy that we may make in the future will be updated on the Privacy Policy page of the Site and App. Please check this page from time to time for any changes, as they are binding on you upon your first use of the Site or the App after the changes have been introduced. In the event of any conflict between the current version of this Privacy Policy and any previous version(s), the provisions that are current and in effect will prevail (unless it is expressly stated otherwise).</p>
      <p>Please note that if you access our service using your NHS login details, the identity verification services are managed by NHS Digital. NHS Digital is the controller for any personal information you provided to NHS Digital to get an NHS login account and verify your identity, and uses that personal information solely for that single purpose. For this personal information, our role is a “processor” only and we must act under the instructions provided by NHS Digital (as the “controller”) when verifying your identity. To see NHS Digital’s Privacy Notice and Terms and Conditions, please click here. This restriction does not apply to the personal information you provide to us separately.</p>
      <h6>9. CONTACT</h6>
      <p>Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to our Company Address or to our email address at <a href="mailto:support@nurturey.com">support@nurturey.com</a>.</p>
      <p>Last reviewed: October 2020</p>
    </div>
  </div>
</div>
</section>