    <div class="col-lg-12 row">
        <h1 class="text-center">Meet Our <span class="txt-green">Hero’s</span></h1>
        <h3 class="text-center">Driven by commitment and passion we are a lean team of highly motivated pfofessionals,
                                continously evolving and emprovising to ensure a promising product</h3>
        <div class="space"></div>
        <div class="row team-row">
            <div class="col-sm-3">
                <div class="teamup-box">
                    <div class="img-holder">
                        <img src="/assets/website/images/user-img-1.jpg" alt="" class="img-responsive"/>
                        <h2>John Smith</h2>
                        <h5>Founder</h5>
                    </div>
                    <div class="img-description">
                        <p>Lorem ipsum dolor sit amet, consectetur amet lacus accumsan magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum.</p>
                        <hr>
                        <a href="#." class="icon-facebook-square"></a>
                        <a href="#." class="icon-twitter"></a>
                        <a href="#." class="icon-google-plus"></a>
                        <a href="#." class="icon-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="teamup-box">
                    <div class="img-holder">
                        <img src="/assets/website/images/user-img-1.jpg" alt="" class="img-responsive"/>
                        <h2>John Smith</h2>
                        <h5>Founder</h5>
                    </div>
                    <div class="img-description">
                        <p>Lorem ipsum dolor sit amet, consectetur amet lacus accumsan magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum.</p>
                        <hr>
                        <a href="#." class="icon-facebook-square"></a>
                        <a href="#." class="icon-twitter"></a>
                        <a href="#." class="icon-google-plus"></a>
                        <a href="#." class="icon-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="teamup-box">
                    <div class="img-holder">
                        <img src="/assets/website/images/user-img-1.jpg" alt="" class="img-responsive"/>
                        <h2>John Smith</h2>
                        <h5>Founder</h5>
                    </div>
                    <div class="img-description">
                        <p>Lorem ipsum dolor sit amet, consectetur amet lacus accumsan magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum.</p>
                        <hr>
                        <a href="#." class="icon-facebook-square"></a>
                        <a href="#." class="icon-twitter"></a>
                        <a href="#." class="icon-google-plus"></a>
                        <a href="#." class="icon-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="teamup-box">
                    <div class="img-holder">
                        <img src="/assets/website/images/user-img-1.jpg" alt="" class="img-responsive"/>
                        <h2>John Smith</h2>
                        <h5>Founder</h5>
                    </div>
                    <div class="img-description">
                        <p>Lorem ipsum dolor sit amet, consectetur amet lacus accumsan magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum.</p>
                        <hr>
                        <a href="#." class="icon-facebook-square"></a>
                        <a href="#." class="icon-twitter"></a>
                        <a href="#." class="icon-google-plus"></a>
                        <a href="#." class="icon-youtube"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team-row">
            <div class="col-sm-3">
                <div class="teamup-box">
                    <div class="img-holder">
                        <img src="/assets/website/images/user-img-1.jpg" alt="" class="img-responsive"/>
                        <h2>John Smith</h2>
                        <h5>Founder</h5>
                    </div>
                    <div class="img-description">
                        <p>Lorem ipsum dolor sit amet, consectetur amet lacus accumsan magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum.</p>
                        <hr>
                        <a href="#." class="icon-facebook-square"></a>
                        <a href="#." class="icon-twitter"></a>
                        <a href="#." class="icon-google-plus"></a>
                        <a href="#." class="icon-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="teamup-box">
                    <div class="img-holder">
                        <img src="/assets/website/images/user-img-1.jpg" alt="" class="img-responsive"/>
                        <h2>John Smith</h2>
                        <h5>Founder</h5>
                    </div>
                    <div class="img-description">
                        <p>Lorem ipsum dolor sit amet, consectetur amet lacus accumsan magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum.</p>
                        <hr>
                        <a href="#." class="icon-facebook-square"></a>
                        <a href="#." class="icon-twitter"></a>
                        <a href="#." class="icon-google-plus"></a>
                        <a href="#." class="icon-youtube"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function(){
    $(".js-team").addClass("active");

    })
    </script>