<section class="container page-container">
  <div class="col-lg-12 row common_terms">
    <h2 class="text-center">Terms of Service</h2>
    <div class="row">
      <div class="col-sm-12">
        <p>Welcome to Nurturey Limited's <strong>(Nurturey/we/us/our/the Company)</strong> website at <a href="http://www.nurturey.com">http://www.nurturey.com</a> (the <strong>Site</strong>) and the mobile apps (the <strong>App</strong>). These terms of use, together with any other documents, policies and terms referred to herein, set out the terms of use under which you may use this Site and/or the App (the <strong>Terms</strong>).</p>
        <p>Any reference to <strong>you</strong> in these Terms also includes any person that accesses or uses the Site and/or the App and the services we make available via the Site or the App (the <strong>Services</strong>) on your behalf, whether as a guest or a registered user.</p>
        <p><strong>PLEASE READ THESE TERMS CAREFULLY BEFORE USING THIS SITE or APP. BY USING OUR SITE OR APP, YOU CONFIRM THAT YOU ACCEPT THESE TERMS AND AGREE TO COMPLY WITH THEM. YOUR AGREEMENT TO COMPLY WITH AND BE BOUND BY THESE TERMS OF USE IS DEEMED TO OCCUR UPON YOUR FIRST USE OF OUR SITE OR APP AND YOU WILL BE REQUIRED TO READ AND ACCEPT THESE TERMS WHEN SIGNING UP FOR AN ACCOUNT. IF YOU DO NOT AGREE TO THESE TERMS, YOU MUST NOT USE OUR SITE OR APP.</strong></p>
        <ol>
          <li>
            <p><strong>Other applicable Terms</strong></p>
            <p>These Terms incorporate our Privacy & Cookie Policy, which can be found at https://nurturey.com/home/privacy.</p>
            <p>Our Privacy Policy sets out the terms on which we collect, process, share and store any personal data we collect from you, or that you provide to us. You can choose who can view your content and activities, including your photos, as described in the Privacy Policy. We will ask you to agree to our Privacy Policy before using our Services.</p>
            <p>Our Cookie Policy sets out information about the cookies on our Site.</p>
            <p>If you use our App, the App Store Terms (if you use an Apple/iOS device) or the Google Play Terms (if you use an Android device) also apply.</p>
          </li>
          <li>
            <p><strong>Information about us</strong></p>
            <p>Our Site, http://www.nurturey.com and the App is owned and operated by the Company, which is registered in England and Wales under company number 08998552 and has its registered office at 9 Willett Way, Petts Wood, Orpington, Kent, England, BR5 1QB.</p>
          </li>
          <li>
            <p><strong>Changes to these Terms</strong></p>
            <p>We may revise these Terms at any time by amending this page. Please check this page from time to time for any changes, as they are binding on you upon your first use of the Site or the App after the changes have been introduced. In the event of any conflict between the current version of these Terms and any previous version(s), the provisions that are current and in effect will prevail (unless it is expressly stated otherwise).</p>
          </li>
          <li>
            <p><strong>Changes to our Site or App</strong></p>
            <p>We may update our Site or App from time to time, and may change the content and Services at any time. However, please note that any of the content on our Site or App may be out of date at any given time, and we are under no obligation to update it. We do not guarantee that our Site or App, or any content on it, will be free from errors or omissions.</p>
          </li>
          <li>
            <p><strong>Accessing our Site or App</strong></p>
            <p>We do not guarantee that our Services, our Site, our App, or any content on it, will always be available or be uninterrupted. Access to our Site or App is permitted on an “as is" temporary basis. We may suspend, withdraw, discontinue or change all or any part of our Site or App or Services without notice. We will not be liable to you if for any reason our Site or App is unavailable at any time or for any period.</p>
            <p>You are responsible for making all arrangements necessary for you to have access to our Site or App.<br>
              You are also responsible for ensuring that all persons who access our Site or App through your internet connection are aware of these Terms and other applicable terms and conditions, and that they comply with them.</p>
          </li>
          <li>
            <p><strong>Your Account and Password</strong></p>
            <p>In order to use our Services, you will need to register with us and set up an account. Accounts are free of charge. The information you provide on registration must be accurate, complete and kept up-to-date. If you submit any information that is false or deliberately misleading, we may suspend or terminate your use of the Site and/or App. If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party.</p>
            <p>You may register and sign in to the Site or App either using your email address or your Facebook account. If you sign in or link your account via social networks, you grant us access to your data held by that social media account (pursuant to the terms of the relevant account).</p>
            <p>We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these Terms.</p>
            <p>If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at support@nurturey.com. We will not be liable for any unauthorised use of your account.</p>
            <p>You may close your account at any time by writing an email to us on support@nurturey.com.</p>
            <p>We reserve the right to close your account if your account remains inactive for more than 24 months. We may also choose to close your account if we believe that you are misusing your account or that you are acting in breach of these terms and conditions, or for any other reason at our discretion. In such a case, you may not receive prior notice or warning of such closure.</p>
          </li>
          <li>
            <p><strong>Intellectual Property Rights</strong></p>
            <p>We are the owner or the licensee of all intellectual property rights on our Site and App, and in the tools and material published on it. Those works are protected by intellectual property laws (including copyright and trademark laws) and treaties around the world. All such rights are reserved and, subject to the below, you may not reproduce, copy, distribute, sell, sub-licence, store, or in any other manner re-use content from our Site and/or App unless given express written permission to do so by us.</p>
            <p>You may print off one copy and may download extracts of any page(s) from our Site or App for your personal use. You may draw the attention of others within your organisation to content posted on our Site or App.</p>
            <p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.</p>
            <p>Our status (and that of any identified contributors) as the authors of content on our Site or App must always be acknowledged.</p>
            <p>You must not use any part of the content on our Site or App for commercial purposes without obtaining a licence to do so from us or our licensors.</p>
            <p>If you print off, copy or download any part of our Site or App in breach of these Terms, your right to use our Site or App will cease immediately and you must, at our option, return or destroy any copies of the materials you have made. You agree that you will not use our intellectual property rights in any way other than allowed under these Terms and any infringement by you thereof will be a material breach of these Terms.</p>
          </li>
          <li>
            <p><strong>No reliance on Information</strong></p>
            <p>The content on our Site or App is provided for general information only. It is not intended to amount to advice on which you should rely. It is your responsibility to ensure that any Services or information available through the Site or App (either directly or indirectly) meet your specific requirements.</p>
            <p>Although we make reasonable efforts to update the information on our Site and App, we make no representations, warranties or guarantees, whether express or implied, that the content on our Site and App is accurate, complete or up-to-date.</p>
          </li>
          <li>
            <p><strong>Limitation of our Liability</strong></p>
            <p>Nothing in these Terms excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.</p>
            <p>To the fullest extent permissible by law, we accept no liability to any user for any loss or damage, whether foreseeable or otherwise, in contract, tort (including negligence), for breach of statutory duty, or otherwise, arising out of or in connection with the use of (or inability to use) our Site and App and Services or the use of or reliance upon our Services or any content included on our Site or App. To the fullest extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our Services, Site, App or any content on it, whether express or implied, including any guarantee that our Site or App will meet your requirements.</p>
            <p>We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:</p>
            <ul>
              <li>use of, or inability to use, our Site or App;</li>
              <li>use of or reliance on our Services or any content displayed on our Site or App;</li>
              <li>loss of profits, sales, business, or revenue;</li>
              <li>loss of data, information or images stored on our Site or App;</li>
              <li>business interruption;</li>
              <li>loss of anticipated savings;</li>
              <li>loss of business opportunity, goodwill or reputation; or any indirect or consequential loss or damage.</li>
            </ul>
            <p>Please note that we only provide our Site and App for domestic and private use. Unless agreed by us in writing in advance, you agree not to use our Site or App for any commercial or business purposes.</p>
            <p>We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our Site or App or to your downloading of any content on it, or on any website linked to it. We accept no responsibility or liability arising out of any disruption or non-availability of our Site or App resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, natural events or acts of war.</p>
            <p>We assume no responsibility for the content of websites linked on our Site and App. Unless expressly stated, these websites are not under our control. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.</p>
          </li>
          <li>
            <p>Content that you post using our Services is your content, and includes (but is not limited to) anything you post using our Services such as usernames, profile pictures, photos, descriptions, calendar activities, certificates, records, documents, comments, videos, and physical, cognitive, emotional, social development and health-related information (<strong>"Your Content"</strong>). We do not make any claim to Your Content.</p>
            <ul>
              <li>
                <p><strong>Responsibility for Your Content.</strong><br>You understand that you are solely responsible for Your Content. You represent that you have all necessary rights to Your Content and that you are not infringing or violating any third party’s rights by posting it or uploading it to the Site or the App. You agree to indemnify us for any loss suffered by us as a result of your breach of this section.</p>
              </li>
              <li>
                <p><strong>Permission to Use Your Content.</strong><br>By posting, submitting or transmitting Your Content on or via our Site or the App, you grant us a licence to use it. We don’t claim any ownership to Your Content, but we have your permission to use it to help us function and grow. That way, we won’t infringe any rights you have in Your Content and we can help promote Your Content and use it to deliver our Services to you.</p>
              </li>
              <li>
                <p><strong>Rights You Grant to us.</strong><br>You can choose who can view Your Content and activities, including your photos, as described in our Privacy Policy. By posting Your Content to any public area of our Site or App, you grant us a non-exclusive, worldwide, royalty-free, fully transferable, sub-licensable, perpetual licence to use, display, edit, modify, reproduce, distribute, store, and prepare derivative works of Your Content to operate and promote the Site and the App, in any formats and through any channels, including across any third-party website or advertising medium. Any of Your Content posted to your private profile will not be promoted, shared or accessible to third parties except to those whom you have invited to join your private Nurturey “family” (family includes users who have been added explicitly by the family members and family admin). Users may not copy, distribute, publicly display, reproduce, or create derivative works based on other user’s content without first obtaining the express written permission of the user to whom such content belongs.</p>
              </li>
              <li>
                <p><strong>Reporting Unauthorized Content.</strong><br>We take intellectual property rights very seriously, and are committed to following appropriate legal procedures to remove infringing content from our Site or App. If content that you own or have rights to has been posted to the Site or the App without your permission and you want it removed, please contact us support@nurturey.com. If Your Content infringes another person’s intellectual property, we will remove it if we receive proper notice. If any third party claims that any material posted or uploaded by you to the Site or the App violates their intellectual property rights, or their right to privacy, we have the right to disclose your identity to them. We’ll notify you if that happens.</p>
              </li>
              <li>
                <p><strong>Inappropriate, False or Misleading Content.</strong><br>This should be common sense, but there are certain types of content we don’t want posted via the Site or the App (for legal reasons or otherwise). You agree that you will not post any content that is abusive, threatening, defamatory, obscene, vulgar or otherwise offensive or in violation of our Terms (including the Content Standards set out in paragraph 15 below). You also agree not to post any content that is false and misleading or uses the Site or the App in a manner that is fraudulent or deceptive. We will not be responsible, or liable to any third party, for Your Content or the accuracy of any materials posted by you or any other user of the Site or the App.</p>
              </li>
            </ul>
            <p>Some of the Site and the App is supported by advertising revenue and may display advertisements and promotions, and you hereby agree that we may place such advertising and promotions on the Site or the App or on, about, or in conjunction with Your Content without any payment being or becoming due to you. We are not responsible for the content of any advertising on the Site or the App including, but not limited to, any errors, inaccuracies, or omissions therein.</p>
            <p>We will try to assess risks on the Site and the App and will moderate our interactive services if we think it is appropriate. Please note, however, that we are not required to moderate our interactive services. We will not be responsible for any loss to anyone who does not use our Services according to our standards (whether or not we have moderated the service).</p>
            <p>Use of our Site and/or App and/or any interactive services by a child is subject to parental consent. If your child uses our Site and/or App and/or any interactive service, we assume that your child is doing so with your consent.</p>
            <p>If you permit your child to use the Site and/or App and/or any interactive service, we advise you to explain the risks of such use. Even when we moderate the service (which we are not obliged to do), please note that moderation is not always effective. Please contact us if you have a concern about moderation.</p>
          </li>
          <li>
            <p><strong>Viruses</strong></p>
            <p>We do not guarantee that our Site or App will be secure or free from bugs or viruses. You are responsible for configuring your information technology, computer programmes and platform in order to access our Site or App. You should use your own virus protection software.</p>
            <p>You must not misuse our Site or App by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our Site or App, the server on which our Site or App is stored or any server, computer or database connected to our Site or App. You must not attack our Site or App via a denial-of-service attack or a distributed denial-of service attack. A breach of this provision is a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will cooperate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our Site and App will cease immediately.</p>
          </li>
          <li>
            <p><strong>Linking to our Site or App</strong></p>
            <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.</p>
            <p>You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</p>
            <p>You must not establish a link to our Site or App in any website that is not owned by you.</p>
            <p>Our Site or App must not be framed on any other Site, nor may you create a link to any part of our Site other than the home page.</p>
            <p>We reserve the right to withdraw linking permission without notice.</p>
            <p>The website to which you are linking must comply in all respects with the content standards paragraph set out below (Content Standards).</p>
            <p>If you wish to make any use of content on our Site other than that set out above, please contact us at support@nurturey.com.</p>
          </li>
          <li>
            <p><strong>Prohibited uses</strong></p>
            <p>You may use our Site and App only for lawful purposes. You may not use our Site or App: In any way that breaches any applicable local, national or international law or regulation.</p>
            <ul>
              <li>In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect.</li>
              <li>For the purpose of harming or attempting to harm minors in any way.</li>
              <li>To send, knowingly receive, upload, download, use or reuse any material which does not comply with our content standards described in the next paragraph (Content Standards).</li>
              <li>To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam).</li>
              <li>To knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
            </ul>
            <p>you also agree:</p>
            <ul>
              <li>Not to reproduce, duplicate, copy or resell any part of our Site or App in contravention of these Terms.</li>
              <li>Not to access without authority, interfere with, damage or disrupt:
                <ul>
                  <li>any part of our Site or App;</li>
                  <li>any equipment or network on which our Site or App is stored;</li>
                  <li>any software used in the provision of our Site or App; or</li>
                  <li>any equipment or network or software owned or used by any third party.</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <p><strong>Content standards</strong></p>
            <p>These content standards apply to any and all material which you upload or contribute to our Site or App (contributions), and to any interactive services associated with it. You must comply with the spirit and the letter of the following standards. The standards apply to each part of any contribution as well as to its whole.</p>
            <p>Contributions must:</p>
            <ul>
              <li>Be accurate (where they state facts).</li>
              <li>Be genuinely held (where they state opinions).</li>
              <li>Comply with applicable law in the UK and in any country from which they are posted.</li>
            </ul>
            <p>Contributions must not:</p>
            <ul>
              <li>Contain any material which is defamatory of any person.</li>
              <li>Contain any material which is obscene, offensive, hateful or inflammatory.</li>
              <li>Promote sexually explicit material.</li>
              <li>Promote violence.</li>
              <li>Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
              <li>Infringe any copyright, database right or trademark of any other person.</li>
              <li>Be likely to deceive any person.</li>
              <li>Be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence.</li>
              <li>Promote any illegal activity.</li>
              <li>Be threatening, abuse or invade another’s privacy, or cause annoyance, inconvenience or needless anxiety.</li>
              <li>Be likely to harass, upset, embarrass, alarm or annoy any other person.</li>
              <li>Be used to impersonate any person, or to misrepresent your identity or affiliation with any person.</li>
              <li>Give the impression that they emanate from us, if this is not the case.</li>
              <li>Advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse.</li>
            </ul>
            <p>We are not responsible for the content or accuracy of, or for any opinions, views, or values expressed in any posts, comments or other content posted by users. Any such opinions, views, or values are those of the relevant user and do not reflect our opinions, views, or values in any way.</p>
          </li>
          <li>
            <p><strong>Suspension and termination</strong></p>
            <p>We will determine, in our discretion, whether there has been a breach of these Terms. When a breach has occurred, we may take such action as we deem appropriate, including any of the following actions:</p>
            <ul>
              <li>Immediate, temporary or permanent withdrawal of your right to use our Site and App (including suspension or termination of your account).</li>
              <li>Immediate, temporary or permanent removal of any posting or material uploaded by you to our Site and App.</li>
              <li>Issue of a warning to you.</li>
              <li>Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach.</li>
              <li>Further legal action against you.</li>
              <li>Disclosure of such information to law enforcement authorities as we reasonably feel is necessary</li>
            </ul>
            <p>We exclude liability for actions taken in response to breaches of these Terms. The responses described in this policy are not limited, and we may take any other action we reasonably deem appropriate.<br>
              You agree to fully reimburse us for all losses (including loss of profit, revenue, goodwill or reputation), costs and expenses arising out of any breach of these Terms by you, or any other act or omission by you in using the Site or App or by any other person accessing the Site or App using your personal information with your authority that results in any legal responsibility on our part to any third party.</p>
            <p>If your account is terminated or deactivated (by you or by us), your photos, comments and all other data uploaded and pertaining to your account will no longer be accessible through your account, but those materials and data may persist and appear within the Site and/or App (for example if Your Content has been re-shared by other users).</p>
            <p>We encourage you to maintain your own backup of Your Content. We are not a backup service and you agree that you will not rely on the Site or the App for the purposes of backup or storage of Your Content. Whilst we will take all reasonable steps to keep Your Content secure, we do not guarantee that others will not gain access to your information or that Your Content will be stored safely. You acknowledge that the Internet may be subject to breaches of security and that the submission of content or other information may not be secure.</p>
            <p>We reserve the right to delete all of Your Content (including your user information) if you have not logged into the Site or App in the previous 12 months.</p>
          </li>
          <li>
            <p><strong>Miscellaneous</strong></p>
            <p>Clause headings are inserted for convenience only and shall not affect the interpretation of these Terms. We will not lose our rights under these Terms by reason of any delay by us in enforcing those rights.</p>
            <p>If any provision of these Terms shall be deemed unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions.</p>
            <p>These Terms, and all incorporated documents referred to herein, constitutes the entire agreement as to your use of and our provision of the Site and the App and supersedes and extinguishes all previous agreements, promises, assurances, warranties, representations and understandings between us, whether written or oral.</p>
            <p>You acknowledge that, in entering into this agreement, you do not rely on, and shall have no remedies in respect of, any statement, representation, assurance or warranty (whether made innocently or negligently) that is not set out in these Terms or any incorporated documents referred to herein</p>
          </li>
          <li>
            <p><strong>Applicable law</strong></p>
            <p>These Terms will be interpreted, construed and enforced in all respects in accordance with the laws of England and Wales, and you irrevocably submit to the jurisdiction of the Courts of England and Wales.</p>
          </li>
          <li>
            <p><strong>Contact</strong></p>
            <p>To contact us, please email support@nurturey.com.<br>
              Thank you for visiting our Site and/or App.</p>
            <p>Last reviewed: October 2020</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>