    <link rel="stylesheet" href="/assets/homepage/uae/responsive.css" >
    <link rel="stylesheet" href="/assets/homepage/uae/style.css">
    <!-- /Header -->
    <!-- Banner Wrapper -->
    <section class="banner-wrapper">
      <!-- Banner Area -->
      <div class="banner-area">
        <!-- Container -->
        <div class="container">
          <!-- Row -->
          <div class="row">
            <!-- Col -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
              <!-- Banner Content -->
              <div class="banner-content">
                <h2>تابع صحة ونمو طفلك </h2>
                <h3>Manage your child's <strong>health and development</strong></h3>
                <p>Intelligent assistant for parents</p>
                <p>Pregnancy to early childhood</p>
                <!-- App Wrapper -->
                <div class="app-wrapper"> <span class="download-icon"> <a class="nav-app-links" href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" target="_blank"> <span class="download-fa-icon"><i class="fab fa-apple"></i></span> <span class="small-text">Download App on <span class="lg-text">App Store</span></span> </a> </span> <span class="download-icon mob-btn"> <a class="nav-app-links" href="https://play.google.com/store/apps/details?id=com.nurturey.app" target="_blank"> <span class="download-fa-icon"><i class="fab fa-google-play"></i></span> <span class="small-text">Download App on <span class="lg-text">Google Play</span></span> </a> </span> </div>
                <!-- /App Wrapper --> 
              </div>
              <!-- /Banner Content -->
            </div>
            <!-- /Col -->
          </div>
          <!-- /Row -->
        </div>
        <!-- /Container -->
      </div>
      <!-- /Banner Area -->
    </section>
    <!-- /Banner Wrapper -->
    <!-- Supported Wrapper -->
    <section class="supported-wrapper">
      <!-- Supported Area -->
      <div class="supported-area">
        <!-- Container -->
        <div class="container">
          <!-- Row -->
          <div class="row">
            <!-- Col -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 offset-lg-2">
              <!-- Support Content -->
              <div class="support-content support-left-content border-bottom-support"> <span><img src="/assets/homepage/uae/support-icon-1.png" class="img-fluid" alt="Icon" title=""></span> <span class="sup-text">Selected as one of five startups to join the Anjal Z High-Impact Program, an initiative led by the Abu Dhabi Early Childhood Authority.</span> <span><img src="/assets/homepage/uae/support-icon-2.png" class="img-fluid" alt="Icon" title=""></span> </div>
              <!-- /Support Content --> 
            </div>
            <!-- Col --> 
          </div>
          <!-- /Row --> 
        </div>
        <!-- /Container --> 
      </div>
      <!-- /Supported Area --> 
    </section>
    <!-- /Supported Wrapper --> 
    <!-- Growth Wrapper -->
    <section class="growth-wrapper">
      <!-- Growth Area -->
      <div class="growth-area">
        <!-- Container -->
        <div class="container">
          <!-- Row -->
          <div class="row">
            <!-- Col -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <!-- Growth Content -->
              <div class="growth-content">
                <h2><span>Stay on top</span> of your child's health and development</h2>
              </div>
              <!-- /Growth Content --> 
              <!-- Growth Detail -->
              <div class="growth-detail">
                <!-- Row -->
                <div class="row">
                  <!-- Col -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <!-- Health Wrap -->
                    <div class="health-wrap">
                      <img src="/assets/homepage/uae/growth-icon-1.png" class="img-fluid" alt="Growth Icon" title="">
                      <h3>Digital tracking</h3>
                      <p>Track health aspects such as immunisations, growth charts, dental, vision and more</p>
                    </div>
                    <!-- /Health Wrap --> 
                  </div>
                  <!-- /Col --> 
                  <!-- Col -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <!-- Health Wrap -->
                    <div class="health-wrap">
                      <img src="/assets/homepage/uae/growth-icon-2.png" class="img-fluid" alt="Growth Icon" title="">
                      <h3>Reminders and guidance</h3>
                      <p>Receive aptly-timed and relevant alerts, reminders, articles and videos</p>
                    </div>
                    <!-- /Health Wrap --> 
                  </div>
                  <!-- /Col --> 
                  <!-- Col -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <!-- Health Wrap -->
                    <div class="health-wrap">
                      <img src="/assets/homepage/uae/growth-icon-3.png" class="img-fluid" alt="Growth Icon" title="">
                      <h3>Connect with your doctor</h3>
                      <p>Book online appointments, view vaccinations and other health records from the doctor, and more</p>
                    </div>
                    <!-- /Health Wrap --> 
                  </div>
                  <!-- /Col --> 
                  <!-- Col -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                    <!-- Health Wrap -->
                    <div class="health-wrap">
                      <img src="/assets/homepage/uae/growth-icon-4.png" class="img-fluid" alt="Growth Icon" title="">
                      <h3>Insights</h3>
                      <p>Get insights that proactively identify emerging health needs</p>
                    </div>
                    <!-- /Health Wrap --> 
                  </div>
                  <!-- /Col --> 
                </div>
                <!-- /Row -->
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <!-- Empower Btn -->
                    <div class="empower-btn growth-video-btn"> <a href="javascript:void(0)" data-toggle="modal" data-target="#videoModal" class="em-btn">Watch Video</a> </div>
                    <!-- /Empower Btn --> 
                  </div>
                </div>
              </div>
              <!-- /Growth Detail --> 
              <!-- Empower Wrapper -->
              <div class="empower-wrapper">
                <!-- Empower Area -->
                <div class="empower-area">
                  <!-- Container -->
                  <div class="container">
                    <!-- Row -->
                    <div class="row align-items-center">
                      <!-- Col -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <!-- Empower Content -->
                        <div class="empower-content">
                          <h3><strong>Empower</strong> yourself</h3>
                          <p>Nurturey’s intuitive tools will help you stay on top of your child’s health and development</p>
                          <!-- Empower Btn -->
                          <div class="empower-btn"> <a href="<%=APP_CONFIG[:default_host]%>/features" class="em-btn">Learn More</a> </div>
                          <!-- /Empower Btn --> 
                        </div>
                        <!-- /Empower Content --> 
                      </div>
                      <!-- /Col --> 
                      <!-- Col -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <!-- Carousel -->
                        <div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000" data-pause="false">
                          <ol class="carousel-indicators">
                            <li data-target="#carouselFade" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselFade" data-slide-to="1" class=""></li>
                            <li data-target="#carouselFade" data-slide-to="2" class=""></li>
                            <li data-target="#carouselFade" data-slide-to="3" class=""></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img class="d-block w-100" src="/assets/homepage/uae/empower-1.png" alt="First slide">
                              <h2>Reminders</h2>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100" src="/assets/homepage/uae/empower-2.png" alt="Second slide">
                              <h2>Connect with your doctor</h2>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100" src="/assets/homepage/uae/empower-3.png" alt="Third slide">
                              <h2>Digital tracking</h2>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100" src="/assets/homepage/uae/empower-4.png" alt="Fourth slide">
                              <h2>Guidance</h2>
                            </div>
                          </div>
                        </div>
                        <!-- /Carousel -->
                        <div class="empower-btn slider_btn"> <a href="<%=APP_CONFIG[:default_host]%>/features" class="em-btn">Learn More</a> </div>
                      </div>
                      <!-- /Col --> 
                    </div>
                    <!-- /Row --> 
                  </div>
                  <!-- /Container --> 
                </div>
                <!-- /Empower Area --> 
              </div>
              <!-- /Empower Wrapper --> 
              <!-- Potential Wrapper -->
              <div class="potential-wrapper">
                <!-- Potential Area -->
                <div class="potential-area">
                  <!-- Container -->
                  <div class="container">
                    <!-- Row -->
                    <div class="row align-items-center">
                      <!-- Col -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <!-- Potential Content -->
                        <div class="potential-content">
                          <h6>Did you know<span class="ques-mark">?</span></h6>
                          <h2>Your child will achieve <strong>80% of their cognitive potential</strong> in the first 6 years</h2>
                          <p>Enhance their development with a scientific approach</p>
                        </div>
                        <!-- /Potential Content --> 
                      </div>
                      <!-- /Col --> 
                      <!-- Col -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-first">
                        <!-- Carousel -->
                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000" data-pause="false">
                          <div class="carousel-inner">
                            <div class="carousel-item active"> <img class="d-block w-100" src="/assets/homepage/uae/motor-development.jpg" alt="First slide"> </div>
                            <div class="carousel-item"> <img class="d-block w-100" src="/assets/homepage/uae/emotional-control.jpg" alt="Second slide"> </div>
                            <div class="carousel-item"> <img class="d-block w-100" src="/assets/homepage/uae/social-attachment.jpg" alt="Third slide"> </div>
                            <div class="carousel-item"> <img class="d-block w-100" src="/assets/homepage/uae/vocabulary.jpg" alt="Fourth slide"> </div>
                            <div class="carousel-item"> <img class="d-block w-100" src="/assets/homepage/uae/math-logic.jpg" alt="Fifth slide"> </div>
                          </div>
                        </div>
                        <!-- /Carousel --> 
                      </div>
                      <!-- /Col --> 
                    </div>
                    <!-- /Row --> 
                  </div>
                  <!-- /Container --> 
                </div>
                <!-- /Potential Area --> 
              </div>
              <!-- /Potential Wrapper --> 
              <!-- Family Wrapper -->
              <div class="family-wrapper">
                <!-- Family Area -->
                <div class="family-area">
                  <!-- Container -->
                  <div class="container">
                    <!-- Row -->
                    <div class="row align-items-center">
                      <!-- Col -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <!-- Family Content -->
                        <div class="family-content">
                          <h3>One family. One Nurturey. <strong>Many devices</strong></h3>
                          <p>Nurturey connects members of a family together, across multiple devices</p>
                        </div>
                        <!-- /Family Content --> 
                      </div>
                      <!-- /Col --> 
                      <!-- Col -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <!-- Family Image Wrap -->
                        <div class="family-image-wrap"> <img src="/assets/homepage/uae/family-image-uae.jpg" class="img-fluid" alt="Family Image" title=""> </div>
                        <!-- /Family Image Wrap --> 
                      </div>
                      <!-- /Col --> 
                    </div>
                    <!-- /Row --> 
                  </div>
                  <!-- /Container --> 
                </div>
                <!-- /Family Area --> 
              </div>
              <!-- /Family Wrapper --> 
              <!-- Experience Wrapper -->
              <div class="experience-wrapper">
                <!-- Experience Area -->
                <div class="experience-area">
                  <!-- Container -->
                  <div class="container">
                    <!-- Row -->
                    <div class="row align-items-center">
                      <!-- Col -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <!-- Experience Content -->
                        <div class="experience-content">
                          <h3>Parenting experience worth millions of hours, <strong>at your fingertips</strong></h3>
                          <p>Nurturey is built on cutting edge tech</p>
                          <!-- Empower Btn -->
                          <div class="empower-btn"> <a href="javascript:void(0)" data-toggle="modal" data-target="#seevideoModal" class="em-btn">See Demo</a> </div>
                          <!-- /Empower Btn --> 
                        </div>
                        <!-- /Experience Content --> 
                      </div>
                      <!-- /Col --> 
                      <!-- Col -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-lg-first">
                        <!-- Experience Image Wrap -->
                        <div class="experience-image-wrap"> <img src="/assets/homepage/uae/experience-image.jpg" class="img-fluid" alt="Family Image" title=""> </div>
                        <!-- /Experience Image Wrap -->
                        <!-- Empower Btn -->
                        <div class="empower-btn slider_btn"> <a href="javascript:void(0)" data-toggle="modal" data-target="#seevideoModal" class="em-btn">See Demo</a> </div>
                        <!-- /Empower Btn -->
                      </div>
                      <!-- /Col --> 
                    </div>
                    <!-- Row --> 
                  </div>
                  <!-- /Container --> 
                </div>
                <!-- /Experience Area --> 
              </div>
              <!-- /Experience Wrapper --> 
              <!-- Privacy Wrapper -->
              <div class="privacy-wrapper">
                <!-- Privacy Area -->
                <div class="privacy-area">
                  <!-- Container -->
                  <div class="container">
                    <!-- Row -->
                    <div class="row align-items-center">
                      <!-- Col -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <!-- Privacy Content -->
                        <div class="privacy-content">
                          <img src="/assets/homepage/uae/privacy-logo.png" class="img-fluid" alt="Privacy Logo" title="">
                          <h3><strong>Data security</strong> and <strong>privacy</strong> is our priority</h3>
                          <p>Nurturey is committed to protecting your privacy and data security. We follow highest standards of information governance and comply with GDPR</p>
                        </div>
                        <!-- /Privacy Content --> 
                      </div>
                      <!-- /Col --> 
                      <!-- Col -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <!-- Privacy Image Wrap -->
                        <div class="privacy-image-wrap"> <img src="/assets/homepage/uae/privacy-image.jpg" class="img-fluid" alt="Family Image" title=""> </div>
                        <!-- /Privacy Image Wrap --> 
                      </div>
                      <!-- /Col --> 
                    </div>
                    <!-- /Row --> 
                  </div>
                  <!-- /Container --> 
                </div>
                <!-- /Privacy Area --> 
              </div>
              <!-- /Privacy Wrapper --> 
            </div>
            <!-- /Col --> 
          </div>
          <!-- /Row --> 
        </div>
        <!-- /Container --> 
      </div>
      <!-- Growth Area --> 
    </section>
    <!-- /Growth Wrapper --> 
    <!-- Footer -->
    
    <!-- /Footer -->
    <!-- Video Modal -->
    <div class="modal fade" id="videoModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/paEguFt4lhI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top: 10px;"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- /Video Modal --> 
    <!-- See Demo Video pop up -->
    <div class="modal fade" id="seevideoModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/f9-nHDfqJiw?start=18" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top: 10px;"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- See Demo Video pop up -->
    <script type="text/savaScript">
      window.sr = ScrollReveal();
      
      sr.reveal('.banner-content h2, .growth-content h2, .empower-content h3, .potential-content h6, .family-content h3, .experience-content h3, .privacy-content img', {
        duration: 1000,
        origin: 'bottom',
        distance: '10px',
        scale: 1,
      });
      
      sr.reveal('.banner-content h3, .empower-content p, .potential-content h2, .family-content p, .experience-content p, .privacy-content h3', {
        duration: 1000,
        delay:100,
        origin: 'bottom',
        distance: '10px',
        scale: 1,
      });
      
      sr.reveal('.banner-content p, .empower-btn, .potential-content p, .privacy-content p', {
        duration: 1000,
        origin: 'bottom',
        delay:200,
        distance: '10px',
        viewFactor: 0.1,
        scale: 1,
      });
      
      sr.reveal('.app-wrapper', {
        duration: 1000,
        origin: 'bottom',
        delay:300,
        distance: '10px',
        viewFactor: 0.1,
        scale: 1,
      });
      
      sr.reveal('.support-content', {
        duration: 1000,
        origin: 'bottom',
        distance: '10px',
        viewFactor: 0.1,
        scale: 1,
      });
      
      sr.reveal('.health-wrap, .empower-area .carousel, .potential-area .carousel-inner, .family-image-wrap img, .experience-image-wrap img, .privacy-image-wrap img' , {
        duration: 2000,
        origin: 'bottom',
        delay:300,
        distance: '20px',
        viewFactor: 0.01,
        scale: 1,
      });
    </script>
  </body>
</html>