<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm-offset-2 position-static">
      <div class="singleBx-type16 js-acivation-notification">
      <!-- <a href="#." class="icon-times btn-type4" onclick="$(this).parent().hide();"></a> -->
        <div class="titleBar-type4">
            <i class="icon-alert"></i>
        </div>
        <p class="sub-text text-black" style="font-weight:300">
          <% if params[:resubscribe] %>
            You have re-subscribed for Nurturey e-mails. Please visit General Settings of your Nurturey account if you wish to make any other changes
          <% else %>
            You have unsubscribed from Nurturey e-mails. To subscribe again, please go to General Settings of your Nurturey account or click 
            <a href="<%= APP_CONFIG["default_host"] + "/unsubscribe?sub_id=#{@member.id}&mtype=0&resubscribe=true"%>" class="resend-email-link ">here</a>
          <% end %>
          .<br/>
          <a href='/users/sign_in' class='btn btn-type2 login_btn' >Login</a>&nbsp;
        </p>
      </div>
    </div>
  </div>  
</div>  
