<section class="nur-appt-wrapper" id="immunisation-page">
  <div class="nur-faq-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="nur-faq-heading">
            <h1><span class="immunisation-icon"><img src="/assets/homepage/immunisation-icon.png" class="img-fluid" alt="Icon" title=""></span>Vaccinations Tool</h1>
            <p class="linking-subheading">Nurturey's Vaccinations Tool is an intuitive PinkBook feature that helps you track and manage your child’s vaccinations</p>
          </div>
          <div class="appt-txt"> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bread-crum-wrapper">
            <ul class="breadcrumb">
              <li><a href="/">Home<i class="fa fa-chevron-right"></i></a></li>
              <li><a href="/pinkbook_tools">PinkBook Tools<i class="fa fa-chevron-right"></i></a></li>
              <li>Vaccinations Tool</li>
            </ul>
          </div>
          <div class="linking-ques-wrapper">
            <div class="linking-ques-wrap immunisation-wrap">
              <div class="row align-items-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt mb-4">
                    <h2>How does Nurturey help?</h2>
                    <p>Nurturey PinkBook, the digital upgrade to the NHS paper red book, helps manage your child's vaccination journey by:</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>Sending reminders about upcoming vaccinations</h3>
                    <p>Don't worry about forgetting a vaccination - we'll help you keep track! Leading up to the date of vaccination, we will send helpful reminders that make sure your child never misses a dose.</p>
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>Booking an appointment with your GP</h3>
                    <p>One of the best features of Nurturey PinkBook is the ease and access of booking an appointment with the GP.</p>
                    <p>We'll remind you to book an appointment for your child's vaccination. Once booked through our app, we’ll update your calendar, sending you reminders about the upcoming appointment so you can plan your family's schedule.</p>
                    <p>You can use <span class="book-appointment-line">Messaging</span> to ask any vaccination related query from your GP such as <em>type of clothing, what to do if your child is feeling unwell, etc</em></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="nhs-main-image"> <img src="/assets/homepage/immunisation-1.png" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>Sending NHS guidance related to vaccinations</h3>
                    <p>Parents may have questions about vaccinations so we help get you the answers! Receive trusted parental guidance directly from the NHS related to vaccinations and their care to keep you informed and updated</p>
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>Accessing your child’s vaccination records</h3>
                    <p>GP-linked accounts reflect the records your GP maintains - thus, you can view previous vaccinations and keep a track of upcoming ones to help manage your child’s schedule.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="nhs-main-image"> <img src="/assets/homepage/immunisation-2.png" class="img-fluid" alt="Image" title=""> </div>
                </div>
              </div>
            </div>
            <div class="immunisation-hr">
              <hr>
            </div>
            <div class="linking-ques-wrap">
              <div class="immunisations-main">
                <div class="row align-items-center">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="appt-txt">
                      <h2>Childhood vaccination programme (From the NHS)</h2>
                      <p>The NHS has a <a href="/nhs_vaccinations_and_when_to_have_them"><span class="blue-txt">recommended schedule </span></a> for childhood vaccination that protects your child from illnesses such as whooping cough, chickenpox, hepatitis B, meningitis, rotavirus, measles, mumps, and the flu, to name a few.</p>
                      <p>The NHS routine childhood vaccines are:</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>6-in-1:</h3>
                    <p>Given in 3 doses, the 6-in-1 vaccine protects your child from diphtheria, hepatitis B, Hib (Haemophilus influenzae type B), polio, tetanus, whooping cough.</p>
                    <div class="empower-btn growth-video-btn mt-5"><a href="/six_in_one" class="em-btn">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap mt-5">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>Rotavirus:</h3>
                    <p>An oral vaccine given in 2 doses, this vaccine protects your child against rotavirus, an infectious stomach bug that typically affects babies and young children.</p>
                    <div class="empower-btn growth-video-btn mt-5"><a href="/rotavirus_vaccine" class="em-btn">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap mt-5">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>MenB:</h3>
                    <p>The MenB vaccine, given in 3 doses,  protects children against infection by meningococcal group B bacteria, which are responsible for more than 90% of meningococcal infections in young children.</p>
                    <div class="empower-btn growth-video-btn mt-5"><a href="/meningitis_b_vaccine" class="em-btn">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap mt-5">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>HiB/MenC:</h3>
                    <p>Hib and meningitis C infections are serious and potentially fatal diseases that cause meningitis and blood poisoning. Given at 12 months of age, the Hib/MenC vaccine helps protect toddlers against these diseases.</p>
                    <div class="empower-btn growth-video-btn mt-5"><a href="/hib_men_c_booster_vaccine" class="em-btn">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap mt-5">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>Pneumococcal vaccine:</h3>
                    <p>Commonly known as the pneumonia vaccine, the pneumococcal vaccine protects your child against pneumonia, meningitis and blood poisoning. Depending on the year of your child’s birth, they may get 2 or 3 doses.</p>
                    <div class="empower-btn growth-video-btn mt-5"><a href="/pneumococcal_vaccination" class="em-btn">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap mt-5">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>MMR:</h3>
                    <p>Given in 2 doses, the MMR vaccine protects your child against measles, mumps and rubella. These 3 diseases are highly infectious and rapidly spread in unvaccinated people, often resulting in serious illness.</p>
                    <div class="empower-btn growth-video-btn mt-5"><a href="/mmr_vaccine" class="em-btn">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap mt-5">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>4-in-1 preschool booster:</h3>
                    <p>The 4-in-1 pre-school booster vaccine is offered to children from the age of 3 years and 4 months to boost their protection against 4 different serious diseases: <a href="https://www.nhs.uk/conditions/diphtheria/"target="_blank"><span class="blue-txt">diphtheria</span></a>, <a href="https://www.nhs.uk/conditions/tetanus/"target="_blank"><span class="blue-txt">tetanus </span></a>, <a href="https://www.nhs.uk/conditions/whooping-cough/"target="_blank"><span class="blue-txt">whooping cough</span></a> and <a href="https://www.nhs.uk/conditions/polio/"target="_blank"><span class="blue-txt">polio.</span></a> </p>
                    <p>Prior to this booster, children were protected by the 6-in-1 vaccine thus furthering bolstering the immune system.</p>
                    <div class="empower-btn growth-video-btn mt-5"><a href="/pre_school_dtap_ipv_booster" class="em-btn">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap mt-5">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>3-in-1 teenage booster:</h3>
                    <p>A single injection given when your child is in year 9, this booster protects against tetanus, polio and diphtheria.</p>
                    <div class="empower-btn growth-video-btn mt-5"><a href="/teenage_booster" class="em-btn">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap mt-5">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>MenACWY:</h3>
                    <p>Recommended for teenagers (13 - 15 years of age), the MenACWY is a single dose vaccine that protects you against meningitis and blood poisoning. For freshers at university, the MenACWY vaccine along with the MMR vaccine is recommended to protect themselves.</p>
                    <div class="empower-btn growth-video-btn mt-5"><a href="/teenage_booster" class="em-btn">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-wrap mt-5">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>HPV:</h3>
                    <p>Offered to teenagers at 12 - 13 years of age, the HPV (Human Papillomavirus) vaccine protects against cancer caused by HPV such as cervical cancer, certain mouth and throat cancers, certain cancers of the genital and anal area. It also helps protect against genital warts.</p>
                    <p>In 2018, it was recommended that boys get the vaccination as well to reduce the risks of getting of HPV-related cancers such as head and neck cancers, and anal and genital cancers.</p>
                    <div class="empower-btn growth-video-btn mt-5"><a href="/hpv_human_papillomavirus_vaccine" class="em-btn">Learn more</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap">
              <div class="immunisations-main">
                <div class="row align-items-center">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="appt-txt">
                      <h3><span class="heading-icon"><i class="fa fa-circle"></i></span>Flu:</h3>
                      <p>The flu vaccine is recommended annually for:</p>
                      <div class="flu-list-wrap">
                        <ul>
                          <li><span class="heading-icon"><i class="fa fa-caret-right"></i></span>Children who have turned 2 or 3 years of age by 31st August</li>
                          <li><span class="heading-icon"><i class="fa fa-caret-right"></i></span>All primary school aged children</li>
                          <li><span class="heading-icon"><i class="fa fa-caret-right"></i></span>All year 7 in secondary school</li>
                          <li><span class="heading-icon"><i class="fa fa-caret-right"></i></span>Children aged 2 to 17 with long term health conditions</li>
                        </ul>
                      </div>
                      <p>Given as a nasal spray (unless advised otherwise), the flu vaccine helps protect children against the flu, which can be an unpleasant illness in children. It can also lead to serious problems such as bronchitis and pneumonia.</p>
                      <div class="empower-btn growth-video-btn mt-5"><a href="/child_flu_vaccine" class="em-btn">Learn more</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-spray-wrap">
              <div class="row align-items-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="appt-txt">
                    <p>In addition, depending on your child’s history, your family history and other medical factors, your child may be suggested to get one of the following vaccines:</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap">
              <div class="immunisations-main">
                <div class="row align-items-center">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="appt-txt">
                      <h2>BCG</h2>
                      <p>The BCG vaccination, which protects against Tuberculosis, is suggested for babies who are born in areas of the UK where the TB rates are high or have parents/grandparents from a country that has a high rate of TB transmission. It’s normally given at birth in a single dose, and can be given up to one year of age.</p>
                      <p>Older children should get their BCG vaccination if:</p>
                      <div class="flu-list-wrap">
                        <ul>
                          <li><span class="heading-icon"><i class="fa fa-caret-right"></i></span>They are under the age of 16 and have come from a country where TB is widespread</li>
                          <li><span class="heading-icon"><i class="fa fa-caret-right"></i></span>They are at a higher risk of getting TB and were not vaccinated as a baby</li>
                          <li><span class="heading-icon"><i class="fa fa-caret-right"></i></span> They are under 16 and have come in close contact with someone who has pulmonary TB</li>
                        </ul>
                      </div>
                      <div class="empower-btn growth-video-btn mt-5"><a href="/bcg_tuberculosis_tb_vaccine" class="em-btn">Learn more</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap">
              <div class="immunisations-main">
                <div class="row align-items-center">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="appt-txt">
                      <h2>Chickenpox</h2>
                      <p>Chickenpox vaccination is recommended for children in regular or close contact with someone who has a weakened immune system or is at risk of serious illness if they catch chickenpox</p>
                      <div class="empower-btn growth-video-btn mt-5"><a href="/chickenpox_vaccine" class="em-btn">Learn more</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linking-ques-wrap immunisation-spray-wrap mt-0">
              <div class="immunisations-main">
                <div class="row align-items-center">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="appt-txt">
                      <h2>Travel vaccinations</h2>
                      <p>When travelling outside the UK, you may need to get selected vaccinations to protect yourself and your family against certain illnesses.</p>
                      <p>At least 8 weeks before travel, go see your GP to find out which all vaccinations and their dose schedule you may need.</p>
                      <!--<div class="empower-btn growth-video-btn mt-5"><a href="/travel_vaccinations" class="em-btn">Travel vaccines</a></div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>