  <%= form_for "timeline", :url=>"/timeline/create_timeline",:html => { :multipart => true,id:"js-addTimeline" }, remote: true  do |f| %>
    <div class="singleBx-type6 hide-box" id="addTimelineForm">
      <div class="form-type1">
        <div class="form-row js-name">
          <%= f.text_field :name, class: "textBx-type1 js-title", placeholder:"Timeline title", maxlength: title_length,:autofocus=> true %>
        </div>
        <div class="form-row">
          <%= f.text_area :desc, size: "30x10", placeholder: "Description", class: "textarea-type1 js-description", maxlength:desc_length %>
          <%= f.hidden_field :entry_from, value:"timeline" %>
        </div>

        <div class="form-row clearFix form-action-row">
          <div class="FL">
          <!-- <a href="#html" data-pop="timeline/media" data-width="600" class="txt-link icon-camera">Add Images</a> -->
          <a href="#html" data-pop="<%= new_timeline_path(member_id: @timeline_member.id) %>" data-width="600" class="txt-link icon-camera">Add Images</a>
          <!-- <input type="hidden" name="member_id" value="<%=@timeline_member.id%>"> -->
          <%= f.hidden_field :member_id, value: @timeline_member.id %>
            <%= f.text_field :timeline_at, value: toDate(Date.today), class: "dateInput datefield js-dob", style:"margin-top: 4px;z-index: 4;", :readonly=>true %>
            <a href="#." class="btn-type6 icon-date dateInput" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </div>
          <div class="FR">
            <a href="#." class="txt-link" onclick="$('#addEntry').show();$('#addTimelineForm').hide();">Cancel</a>
            <!-- <input type="button" class="btn btn-type1 js-add" style="margin:0px;" value="Add" onClick="fileUpload(this.form,'create_timeline','upload'); return false;"> -->            
            <%= f.submit "Add", class: "btn btn-type1", style: "margin:0px;" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div id="upload"></div>

<!--
<script type="text/javascript">
 $(function(){
  $("#js-addTimeline").ajaxFrom();
$(".js-add").on("click",function(){
  if (($("#js-addTimeline .js-title").val()).trim() == "" ){
  alert("Please add title")
  }
  else{
    $("#js-addTimeline").submit();
   // console.log($("#js-addTimeline .js-title").val())
  }
})
 })
</script>
-->