<%= form_for timeline, :url=>"/timeline/save_auto_time",method:"post", :html => { :multipart => true,id:"js-form" } do |f| %>
 <!-- <div> -->
  <h2>
    Add to Timeline
  </h2>
  <div class="scroll-type4">
  <p class="txt-type-1"> <small class="txt-type-3 FR icon-bmi"><%= completed_timeline(member,timeline) %></small></p>
    <div class="form-type2 space-top">
      <div class="form-row">
        <div class="singleBx-type7">
          <div class="form-row">
            <%= f.label :name, "Title*", class: "form-label" %>
            <%= f.text_field :name, class: "textBx-type2", placeholder:"Timeline Title" %>
          </div>

          <div class="form-row reset-margin js-desc">
            <label class="form-label">Description</label>
            <%= f.text_area :desc, class: "textarea-type1", size:"30x10" %>
          </div>
        </div>
        <div class="singleBx-type7">
          <div class="form-row reset-margin">
            <input type="hidden" name="member_id" value="<%=member.id%>">
            <%= f.hidden_field :id%>
            <%= f.label :timeline_at, "Date", class:"form-label" %>
            <%= f.hidden_field :member_id, value: params[:member_id]%>
            <div class="textBx-type3">
              <%= f.text_field :timeline_at, value: toDate(timeline.timeline_at), style: "position: relative;z-index: 100000;", class: "textBx-type1 dateInput js-dob", :readonly=>true  %>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <label class="form-label FL">Add Images </label>
        <div class="FR js-media">
          <input type="file" class="custom-file-2"/>
          <label for="addNew"></label>
        </div>
        <hr class="CL hr"/>
        <div class="scroll-type2">
          <ul class="list-type-11 clearfix js-list">
           <!-- list of photos -->
            <% timeline.pictures.each do |pic| %>
              <li class="js-ss">
                <span class="js-delete-photo icon-times" data-id="<%=pic.id%>"></span>
                <img src="<%=pic.photo_url_str%>"/>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="form-action-row">
    <%if @last %>
      <%= f.submit "Save", class: "btn btn-type2", disable_with:"Saving.." %>
    <% else %>
      <%= f.submit "Save & Next", class: "btn btn-type2", disable_with:"Saving.." %>
    <% end %>

    <%= link_to "Skip", "/timeline/skip_automated_timeline?id=#{@timeline.id}&member_id=#{@member.id}", class: "txt-link", remote: true %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $("#js-form").ajaxForm();
    $(".scroll-type4").mCustomScrollbar({
      autoHideScrollbar: true,
      theme: "dark"
    });   
  })
</script>