    <!-- left section start here -->
    <!--todo: Need to put in controller or helper  -->
    
    <% family_ids = current_user.families.pluck("id") %>
    <% @families = FamilyMember.in(family_id:family_ids.map(&:to_s) ).where(member_id:current_user).map(&:family) %>
    <% @assoc_families = Family.where({'_id' => { "$in" => FamilyMember.where(member_id:current_user.id).map(&:family_id).uniq - @families.map(&:id)}}).includes(:family_members).entries %>
    <div class="left-section">
    <% if @families.blank? && @assoc_families.blank? %>
      <div class="widget-box-1 no-entry">
     <i class="icon-smile-sad"></i>
     <p>No family added</p>
     <a href="#html" data-pop="families/new" data-width="600" class="txt-link">Add new family</a>
      
  </div>
  <% elsif !current_user.has_child? %>
    <div class="widget-box-1">
    <div class="page-title-1 icon-peoplegroup"><%=(@families.first || @assoc_families.first).name%></div>
    <div class="no-entry">
        <i class="icon-smile-sad"></i>
        <p>No child added</p>
        <a  href="#html" data-pop="/families/<%=(@families.first || @assoc_families.first).id%>/member/new_child" data-width="510" class="txt-link"> Add new child</a>
    </div>
</div>
    <% else %>
      <%= render :partial=> "/timeline/list_family_member", :locals=>{:families=>@families} %>
      <%= render :partial=> "/timeline/list_family_member", :locals=>{:families=>@assoc_families} %>
    <% end %>
    </div>

    <!-- left section end here -->