 <!-- date entry view -->
  <% timelines.each_with_index do |timeline,index| %>
   <div class="line-label <%=timeline.timeline_at.strftime('%Y')%>" ><span><%=timeline.timeline_at.strftime("%B %Y") %></span></div>
        

  <% if timeline.timelined_type == "Health" %>
    <%= render :partial=>"timeline/nutrient_health_timeline", :locals=>{timeline:timeline}%>
  <% elsif timeline.timelined_type == "Milestone" %>
    <%= render :partial=>"timeline/nutrient_milestone_timeline", :locals=>{timeline:timeline}%>
  <% elsif timeline.timelined_type == "Document" %>
    <%= render :partial=>"timeline/nutrient_document_timeline", :locals=>{timeline:timeline}%>
  <% elsif timeline.timelined_type == "Jab" %>
    <%= render :partial=>"timeline/nutrient_immunisation_timeline", :locals=>{timeline:timeline}%>
  <% else %>
    <%= render :partial=>"timeline/timeline_entry_list",  :locals=>{timeline:timeline}%>
  <% end %>   
<% end %>

<script type="text/javascript">
     $(".pic a").unbind();
     $(".pic a").lightbox();
      var aa= $(".line-label span");
     aa.each(function(index){ if($(this).text() == $(aa[index+1]).text() ){ $(aa[index+1]).hide(); }      })
     // });
 </script>
