
<span class="js-selected-member" style="display:none;"><%= params[:member_id] %> </span>
<% families.each do |fam| %>
  <div class="widget-box-1">
    <div class="page-title-1 icon-peoplegroup"><%= truncate(fam.name, length: 20) %></div>
    <ul class="nav-list-1" data-accordian="nav-list-1">
      <% fam.family_members.each do |family_member| %> 
       <% if family_member.member.class.to_s == "ParentMember" %>
       <% elsif (family_member.member.is_expected? rescue true) %>
       <% else %>
        <li class="js-member">
          <span class="<%= family_member.member_id %>" ></span>
            <a href="#." class="list-title fontIcon js-<%=family_member.member.class.to_s%>">
 
            <%= profile_image_tag(family_member.member,"thumb") %>  
          <span><%= truncate(family_member.member.first_name, length: 18) %>
          </span></a>
          <div class="list-sub">
            <%# if family_member.member.class.to_s == "ChildMember" %>
              <%#= link_to "Manage Tools", nutrients_path(member_id:family_member.member.id), remote: true, class: "js-nav js-nutrient js-change-url" %>
              <%= link_to "Manage Tools", family_member_nutrients_path(fam.url_name, family_member.member.id), remote: true, class: "js-nav js-nutrient js-change-url" %>
              <span id="left_nutrients_<%= family_member.member.id %>">
              <%= render partial: "timeline/nutrients_list", locals: {family_member: family_member, first_time: true} %>
              </span> 
            <%# else %>
              <%#= link_to "Home", "/users/home_page", class: "js-nav js-dashboard", remote: true %>
              <%#= link_to "Calendar", "#", class: "js-nav js-calender" %>
            <%#end%>
          </div>
        </li>
         <% end %>
      <% end %>
    </ul>
  </div>
<% end %>