<% member = family_member.member %>
<% api_version = 1 %>
<% member.member_nutrients(api_version,current_user).order_by("position ASC").each do |member_nutrient| %>
    <% tool = member_nutrient.nutrient %>
	<% if tool.present? %>
  <% class_name = defined?(first_time) && tool.title.downcase == 'timeline' ? "js-nav current js-timeline js-change-url" : "js-nav js-#{member_nutrient.nutrient.title.downcase} js-change-url" %>
  
	<%= link_to tool.title, nutrient_link(tool,family_member), class: class_name, remote: true %>
  <% end %>
<% end %>
 