<%= link_to "","#html", data: {pop: facebook_preview_timeline_path(timeline), width: "510"}, class: "icon-fb-share" %>
<div class="drop-over btn-type7">
     <a class="fontIcon dots" href="#."></a>
     <div class="drop-nav">
         <%= link_to "Edit",'#html', data: {pop: edit_milestone_path(timeline.timelined,source: 'timeline'), width: '600'} if timeline.timelined %> 
         <%= link_to "Remove", "/timeline/delete_timeline?id=#{timeline.id}",confirm: "Are you sure you want to delete?", remote: true %>             
     </div>
</div>
<div class="timeline-icon icon-manage-check">
  <% milestone = Milestone.find(timeline.timelined_id) rescue Milestone.new %>
  <div class="page-title-3">Post from Milestones
    <small>
      <span><%= toDate3(timeline.timeline_at) %></span>          
    </small>
  </div>
</div>
<p class="page-title-3 word-break js-emotion"><%=timeline.name%></p>
<p class="word-break js-emotion"><%=milestone.description %> </p>

<div class="pic">
  <% if milestone.pictures.blank? && milestone.display_default_image?  && milestone_default_image_exists?(milestone) %>
    <a href="<%= default_image_url(milestone) %>" class="txt-link">
      <%= image_tag(default_image_url(milestone), class: 'fb-img-size') %>
    </a>
  <% else %>
    <% if milestone.pictures.count >= 3 %>
      <div class="img-gallery">
        <% milestone.pictures.take(3).each_with_index do |pic,index| %>
          <a href="<%=pic.photo_url_str%>" class="img-type<%=index+1%>">  
            <img src="<%=pic.photo_url_str('large')%>" alt=""/>
          </a>
        <%end %>
      </div>
      <% if milestone.pictures.count-3 >0 %>
        <p class="text-right space-top-2">
          <a href="<%=milestone.pictures[3].photo_url_str%>" class="txt-link"> 
          <%=milestone.pictures.count-3 %> more photo</a>
          
          <% milestone.pictures.drop(4).each do |pic| %>
          <a href="<%=pic.photo_url_str%>" class="lightbox"> </a>
          <% end %>
        
        </p>
      <% end %>
    <% elsif milestone.pictures.count < 3 %>
      <% milestone.pictures.take(1).each do |pic| %>
        <a href="<%=pic.photo_url_str%>" class="txt-link">
        <img src="<%=pic.photo_url_str('large')%>" class="fb-img-size"></a>
      <% end %>
      <% if milestone.pictures.count-1 >0 %>
        <p class="text-right space-top-2">
          <a href="<%= milestone.pictures[1].photo_url_str%>"  class="txt-link">
          <%=milestone.pictures.count-1 %> more photo</a>
        </p>
      <% end %>
    <% end %>
  <% end %>  
</div>