 
<div class="singleBx-type6 <%=timeline.id%> js-jj" data-year="<%=timeline.timeline_at.strftime('%Y') %>">
     <div class="drop-over btn-type7">
         <a class="fontIcon dots" href="#."></a>
         <div class="drop-nav">
             <%= link_to "Remove", "/timeline/delete_timeline?id=#{timeline.id}",confirm: "Are you sure you want to delete?", remote: true %>
         </div>
     </div>
     <div class="timeline-icon icon-document-color">
         <div class="page-title-3  js-emotion">Post from Documents
             <small><span><%= toDate3(timeline.timeline_at) %></span></small>
         </div>
     </div>

     <ul class="list-box-type1">
         <li>
             <div class="list-section-2 icon-document-color">
                 <div class="page-title-3 reset-margin js-emotion"><%= timeline.name %></div>
                <p><span>Uploaded</span> <%= toDate3(timeline.timeline_at) %></p>
             </div>
         </li>
     </ul>
 </div>

