<div class="singleBx-type6 <%=timeline.id%> js-jj" data-year="<%=timeline.timeline_at.strftime('%Y') %>">

  <%= render partial: "nutrient_milestone_timeline_data", :locals=>{timeline:timeline} %>
        
 </div>

