  <div class="singleBx-type6 js-jj <%=timeline.id%>" data-year="<%=timeline.timeline_at.strftime('%Y') %>">
    <div class="drop-over btn-type7">
        <a class="fontIcon dots" href="#."></a>
        <div class="drop-nav">
            <!-- <a href="#.">Edit Information</a> -->
            <%= link_to "Remove", "/timeline/delete_timeline?id=#{timeline.id}",confirm: "Are you sure you want to delete?", remote: true %>
        </div>
    </div>

    <!-- <h2 class="page-title-4">Entries from Tools</h2> -->
    <div class="timeline-icon icon-tracker">
        <div class="page-title-3">Post from Measurements
            <small><span><%= toDate3(timeline.timeline_at) %></span></small>
        </div>
    </div>


    <ul class="list-box-type1">
        <li class="list-arrow-type1">
            <div class="page-title-3"><%#=timeline.name%></div>
            <% health = Health.find(timeline.timelined_id) # rescue Health.new %>
            <% changed_attribute(timeline.desc).each do |k,v| %>
            
            <div class="list-section-1 icon-<%=Health::OverView_Param[k]%>"><div class="page-title-3 reset-margin"><%= value_convert(v,k,@health_unit[k]) %> <%= @health_unit[k] %></div> <p><span>Last updated:<br>
            Over</span> <%= toDate2(timeline.timeline_at) %></p></div>
            <% end %>
            <div class="list-section-1 icon-bmi"><div class="page-title-3 addon-type1 js-emotion"><%= timeline.name%> BMI</div> <p><span>Calculated</span></p></div>
        </li>
        
    </ul>
</div>