<div class="singleBx-type6 <%=timeline.id%> js-jj" data-year="<%=timeline.timeline_at.strftime('%Y') %>">
    <div class="drop-over btn-type7">
        <a class="fontIcon dots" href="#."></a>
        <div class="drop-nav">
            <!-- <a href="#.">Edit Information</a> -->
            <%= link_to "Remove", "/timeline/delete_timeline?id=#{timeline.id}",confirm: "Are you sure you want to delete?", remote: true %>
        </div>
    </div>
     <% jab = Jab.find(timeline.timelined_id) rescue nil
      vaccin = jab.vaccination rescue Vaccination.new %> 
     <% due_on = (timeline.desc.last.to_date rescue timeline.created_at) %>
    <div class="timeline-icon icon-immunization">
    <%#=Vaccination::Category[vaccin.category]  %>
      <div class="page-title-3">Post from Immunisation
          <small>
            <span><%= toDate3((timeline.desc.to_date rescue timeline.created_at)) %></span>
          </small>
      </div>
    </div>
 
    <!-- <h2 class="page-title-4">Entries from Tools</h2> -->
    <ul class="list-box-type1">
         
        <li>        
            <div class="list-section-2 icon-badge" >
                <div class="page-title-3 reset-margin"><%= vaccin.get_name %></div>
                <p><span><%=timeline.desc.split("on").first %> <%= "on" if toDate1(timeline.desc.last).present? %>  </span> <%=  toDate1(timeline.desc)  %></p>
            </div>
        </li>
    </ul>
</div>