<div class="singleBx-type6a">
  <div class="titleBar reset-margin">
    <h1><%=profile_image_tag(@timeline_member,"small") %> TIMELINE</h1>
    <div class="actionBar">
      <a class="btn btn-big-type1 icon-plus" href="#." onclick="event.preventDefault(); $('#addTimelineForm').slideToggle();$('#timeline_name').focus();">Create post</a>

      <!-- <a href="#html" data-pop="<%= new_timeline_path(member_id: @timeline_member.id) %>" data-width="600" class="btn btn-big-type1 icon-plus">Create post</a> -->
    </div>
   </div>  
 </div>

         
       
               <% if current_user.user.sign_in_count ==1 %>
        <!-- timeline welcome note here (Commented because we are displaying info popup)-->
  <!-- <div class="singleBx-type3">
    <div class="titleBar-type4">
        <i class="icon-bell"></i>
    </div>
    <a href="#." class="icon-times btn-type4" onclick="$(this).parent().hide();"></a>
    <div class="page-title-3">Welcome to timeline!</div>
    <p>Timeline is the culmination of all your information across Nurturey tools. Every moment of your child's growth is precious. Timeline will help you develop meaningful, diverse and a complete story of your journey.</p>
  </div> -->
              
        
         <% end %>


        <!-- add to timeline action -->
        <%= render :partial=>"add_timeline" %>
         <!-- Automated -->
        <% if @setting == "pending" && (@display_setting.status != "Done" && @display_setting.note.to_date < Date.today rescue false)  %>
      <%# if @setting == "pending" && (@display_setting.status == "true" ||false ) %>
        <div class="singleBx-type3a space-bottom clearFix js-automated-entries">
            <div class="titleBar-type4">
                <i class="icon-bell"></i>
            </div>
            <p class="page-title-2">We have created a few posts that you may like on <%=@timeline_member.first_name%>'s Timeline.</p>
            <p class="txt-type-3 FL">Update whichever posts you can</p>
            <div class="form-action-row text-right FR">
            
              <!-- <a href="#." class="txt-link js-close-auto-entires">Remind later</a> -->
               <a href="#html" class="btn btn-type1" data-pop="/timeline/automated_timeline?member_id=<%=@timeline_member.id%>" data-width="600" >View posts</a>
               <%= link_to "Remind later", "/timeline/remind_later?setting_id=#{@display_setting.id}", class: "txt-link js-close-auto-entires", remote: true%>
               <%= link_to "No, thanks", "/timeline/remind_later?setting_id=#{@display_setting.id}&no_thanks=true", class: "txt-link js-close-auto-entires", remote: true%>
               <!-- <a href="#." class="txt-link" onclick="$(this).parent().parent().hide();">No, thanks</a> -->
            </div>
        </div>

           
        <% end %>


        <!-- date entry view -->
        <div id="timeline-pagination">
             
            <%= render :partial=>"list_timeline", :locals=> {:timelines => @timelines} %>
            
        </div>
        <div id="infinite-scrolling" style="display:none">
         
          <%= paginate @timelines %>
        </div>
        <!-- timeline born note here -->

        
       