<div class="singleBx-type6 js-jj <%=timeline.id%>" data-year="<%=timeline.timeline_at.strftime('%Y') %>">
  <!-- <a href="#." class="icon-fb-share"></a> -->
  <%#= link_to "","/users/auth/facebook?timeline_id=#{timeline.id}", class: "icon-fb-share" if timeline.name.present? %>
  
  <%= link_to "","#html", data: {pop: facebook_preview_timeline_path(timeline), width: "510"}, class: "icon-fb-share" %>
  <div class="drop-over btn-type7">
    <a class="fontIcon dots" href="#."></a>
    <div class="drop-nav">
        <a href="#html" data-pop="/timeline/edit?id=<%=timeline.id%>" data-width="600">Edit</a>
        <%= link_to "Remove", "/timeline/delete_timeline?id=#{timeline.id}",confirm: "Are you sure you want to delete?", remote: true %>
    </div>
  </div>
  <div class="timeline-icon icon-timeline">
    <div class="page-title-3 word-break js-emotion">
      <%= timeline.name %>
      <small><span><%= toDate3(timeline.timeline_at) %></span>
      </small>
    </div>
  </div>
  <p class="word-break js-emotion"><%= timeline.desc %></p>

  <!-- image view -->
  <div class="pic">
    <% if timeline.pictures.blank? && (timeline.display_default_image?)  && nutrient_default_image_exists?(timeline) %>
      <a href="<%= default_image_url(timeline) rescue nil %>" class="txt-link">
        <%= image_tag(default_image_url(timeline), class: 'fb-img-size') %>
      </a>
    <% else %>
      <% if timeline.pictures.count >= 3 %>
        <div class="img-gallery">
          <% timeline.pictures.take(3).each_with_index do |pic,index| %>
            <a href="<%= pic.photo_url_str%>" class="img-type<%=index+1%>  lightbox" ><img src="<%=pic.photo_url_str('large')%>" alt=""/></a>
          <%end %>
        </div>
        <% if timeline.pictures.count-3 >0 %>
          <p class="text-right space-top-2">
            <a href="<%= timeline.pictures[3].photo_url_str('large')%>" class="<%=timeline.id%> lightbox"><%=timeline.pictures.count-3 %> more photo</a>
            <% timeline.pictures.drop(1).each do |pic| %>
              <a href="<%= pic.photo_url_str%>" class="<%=timeline.id%> lightbox"></a>
            <% end %>
          </p>
        <% end %>
      <% elsif timeline.pictures.count < 3 %>
        <% timeline.pictures.sample(1).each do |pic| %>
          <a href="<%=pic.photo_url_str%>" class="lightbox">
          <img src="<%=pic.photo_url_str('large')%>" class="fb-img-size"></a>
        <% end %>
        <% if timeline.pictures.count-1 >0 %>
          <p class="text-right space-top-2">
            <a href="<%=timeline.pictures[1].photo_url_str%>"   class="txt-link lightbox">
            <%=timeline.pictures.count-1 %> more photo</a>
          </p>
        <% end %>
      <% end %>
    <% end %>
  </div> <!-- Pic div end-->
</div>
