<!-- right section start here -->
     <%#= javascript_include_tag "timeline" %>
 <script type="text/javascript">
 $(function(){
  // $('a').nivoLightbox();
   $('#timline-Bar').css('height', $('.timline-sorting').height());
   $(".timeline-list a").first().addClass("active"); //().click()
 })
 $(".js-born").on("click",function(){
  $(".js-birthday").show();
  $('html, body').animate({ 
      scrollTop: $(".js-birthday").offset().top
     }, 1000);
 })
 </script>
 
        <div class="timline-sorting">
            <div class="timeline-hoder" id="timline-Bar"></div>
            <div class="timeline-list">
              <% timeline_month(@timeline_member).each_with_index do |month,index|%>
              <%= link_to month,"/timeline?member_id=#{params[:member_id]}&selected_date=#{(Date.today.strftime('%d-month-%Y')).gsub('month',month)}", remote: true, class: (index ==0 ? "js-scroll" : "") %> 
              <% end %>
                
                <% if timeline_year(@timeline_member).present?%>
                <a href="/timeline?member_id=<%=params[:member_id]%>&selected_date=<%=Date.today.day+1%>-<%=Date::MONTHNAMES.compact()[Date.today.month-1]%>-<%= Date.today.year%>" class="js-scroll <%= Date.today.year%>" data-year="<%= Date.today.year%>" data-remote="true">Earlier in <%= Date.today.year %></a>
                  <% (timeline_year(@timeline_member)).each do |y| %>
                    <%= link_to y,"/timeline?member_id=#{params[:member_id]}&selected_date=1-December-#{y}", remote: true %>   
                  <% end %>
                <% end %>  
                
                 <%= link_to born_link_text(@timeline_member),"#", class: "born-link js-born" %>
                  
                  
            </div>
        </div>

    <!-- right section end here -->