
<% if @timeline.errors.blank? && !@pic_invalid %>
  // $(".singleBx-type6").last().after("<%= escape_javascript(render :partial=>'/timeline/timeline_detail', :locals=> {:timeline => @timeline})%>");
  $(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
  // $("#timeline-pagination").prepend("<%= escape_javascript(render :partial=>'/timeline/timeline_detail', :locals=> {:timeline => @timeline})%>");
  $.fn.close();
  $('form')[0].reset();
  $('#addTimelineForm').slideUp();
  $("div.pic a").lightbox();
  $(".js-scroll").click();
<% elsif @pic_invalid==true %>
  alert("Only images are allowed.")
<% else %>
  $(".red").removeClass("red");
  $(".js-"+ "<%= @timeline.errors.messages.keys.join(', .js-')%>").addClass("red")  
<% end %>