<% if @timeline.errors.blank? && !@pic_invalid %>
  // $(".singleBx-type6").last().after("<%= escape_javascript(render :partial=>'/timeline/timeline_detail', :locals=> {:timeline => @timeline})%>");
  $(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
  // $("#timeline-pagination").prepend("<%= escape_javascript(render :partial=>'/timeline/timeline_detail', :locals=> {:timeline => @timeline})%>");
  
  $('form')[0].reset();
  $(".fileload").remove();
  $("div.pic a").lightbox();
  $(".js-scroll").click();
<% elsif @pic_invalid==true %>
  alert("Only images are allowed.")
<% end %>