$("#picture_<%= @picture.id %>").remove();
$(".<%=@timeline.id%>").hide()
$(".<%=@timeline.id%>").after("<%=j render :partial=>'timeline/timeline_entry_list',  :locals=>{timeline:@timeline}%>");
$(".<%=@timeline.id%>").first().remove();
