   <%= form_for :timeline, url:"/timeline/update_timeline", :html => { :multipart => true,:id=>"timeline-form" }, method: :put do |f| %>
<h2>
  Edit post
</h2>
   <div class="scroll-type4">
  
     <div class="form-type2 space-top">
      <div class="form-row">
        <div class="singleBx-type7">
          <div class="form-row">
            <%= f.label :name, "Title*", class: "form-label" %>
            <%= f.text_field :name, class: "js-name textBx-type2", placeholder:"Title",maxlength: title_length %>
            <%= hidden_field_tag "deleted_image"%>
          </div>

          <div class="form-row reset-margin js-desc">
            <label class="form-label">Description</label>
            <%= f.text_area :desc, class: " textBx-type2", size:"30x2", maxlength:desc_length %>
          </div>
        </div>
        <div class="singleBx-type7">
          <div class="form-row reset-margin">
            <%= f.label :timeline_at, "Date", class:"form-label" %>
            <%= hidden_field_tag :id, @timeline.id %>
            <%= f.hidden_field :member_id, value: @timeline.member_id %>
            <div class="textBx-type3">
              <%= f.text_field :timeline_at, value: toDate(@timeline.timeline_at || Date.today), style: "position: relative;z-index: 100000;", class: "js-timeline_at textBx-type1 dateInput js-dob" , :readonly=>true %>
            </div>
          </div>
        </div>
      </div>
    
      <div class="form-row">
        <label class="form-label FL">Add Images </label>
        <div class="FR js-media">
          <input type="file" name=p[] class="custom-file-2" accept="image/*" multiple="ture"/>
          <label for="addNew"></label>
        </div>
        <hr class="CL hr"/>
        <div class="scroll-type2">
          <ul class="list-type-11 clearfix js-list">
             <% if @timeline.pictures.present? %>
                      <% @timeline.pictures.each do |pic| %>
                        <li class="js-ss" id="picture_<%= pic.id %>">                            
                            <%#= link_to "", data:{picid:pic.id} do %>
                            <!-- <a> -->
                                <span class="js-remove-photo js-add_to_list icon-times" data-picid="<%=pic.id%>" ></span>
                            <% #end %>
                               <!-- </a>           -->
                            <%= image_tag(pic.photo_url_str(:medium)) %> 
                            <% end %>      
                        </li>
                      <% end %> 

          </ul>
        </div>


      </div>
    </div>
  </div>
  <div class="form-type3">
    <div class="form-action-row">
      <%= f.submit "Update", class: "btn btn-type2", disable_with:"Updating.." %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
$(function(){
  $("#timeline-form").ajaxForm()
})
$(".js-remove-photo").on("click",function(){
   var list = $("#deleted_image").val().split(",");
   // debugger
   list.push($(this).data("picid"));
   $("#deleted_image").val(list.toString())
});
  $(".scroll-type4").mCustomScrollbar({
    autoHideScrollbar: true,
    theme: "dark"
    });
</script>