<%#= form_tag send_to_facebook_timeline_path(@timeline) do %>
	<%#= text_area_tag :post_title,timeline_fb_name(@timeline) %>
	<%#= submit_tag "Post" %>
<%# end %>

<div>
  <h2 class="page-title-3">Below text will appear in your Facebook status</h2>
  <%= form_tag send_to_facebook_timeline_path(@timeline) do %>
    <div class="form-type2">
      <div class="form-row">
        <%= text_area_tag :post_title, timeline_fb_name(@timeline), :class=> "textBx-type6 fb_status_txtarea" %>    
      </div>
      <div class="pic">
        <%= image_tag timeline_image_url(@timeline), class: 'fb-img-size mg-lt-btm-10' %>
      </div>
      <div class="form-row">
        <%= submit_tag "Post", :class => "btn btn-type2 no-margin-top",disable_with: "Posting.." %>
      </div>	
  <% end %>
</div>

<script type="text/javascript">
  $('#post_title').focus();
</script>