<%#= javascript_include_tag "https://connect.facebook.net/en_US/all.js" %>
<div class="left-section">
	<%= render partial: "timeline/left_section" %>
</div>	

<div class="center-section">
	<%= render partial: 'timeline/timeline_center_sec' %>
</div>
<div class="right-section">
	<%= render partial: 'timeline/timeline_right_section' %>
</div>

<script type="text/javascript">
  update_left_nav("<%= @timeline_member.id %>", "timeline");

  if("<%= @display_timeline_info %>"=="true"){
    $.fn.popclick({pop: "<%= timeline_info_timeline_index_path %>", width: "600" })
  }

  if("<%= flash[:notice].present? %>"=="true"){
  	$(".globel-msg").html("<span>" + "<%= flash[:notice] %>" + "</span>")

  // To hide global msg after page reload.
  setTimeout(function(){
    $('.globel-msg').html("");
  }, 5000);

  }
$(".js-emotion").unbind();
$(".js-emotion").emoticonize({
});

</script>