<% if params[:page].blank?%>
  <% if !params[:selected_date].present? %>
    $(".center-section").html("<%= escape_javascript(render :partial=>'/timeline/timeline_center_sec')%>");
    if($(".right-section").length == 0){
      $(".center-section").after("<div class='right-section'></div>")
    }
    $(".right-section").html("<%= escape_javascript(render :partial=>'/timeline/timeline_right_section')%>");
  <% else %>
   $("#infinite-scrolling").html("<%=j paginate @timelines%>")
    var t1 = [];
    var append_data = true;
     $(".js-birthday").hide(); 
     $(".js-jj").each(function(i) {  t1.push($(this).data("year"))})
     var t = $.unique(t1);
     t = t.filter(Number);
     t = t.sort(); 
    if(t.length == 0){
      $("#timeline-pagination").append("<%=j render :partial=>'timeline/list_timeline', :locals=> {:timelines => @timelines} %>")
 
    }
     
     if(parseInt(Math.max.apply(Math, t))== parseInt("<%=@timelines.first.timeline_at.strftime('%Y')%>")){
      $("#timeline-pagination").html("<%=j render :partial=>'timeline/list_timeline', :locals=> {:timelines => @timelines} %>")
    }

  $.each(t,function(q){ 
    if(parseInt("<%=@timelines.first.timeline_at.strftime('%Y')%>") > t[q]){
      $(".js-jj[data-year='"+t[q]+"'").remove()
      $('.line-label.'+t[q]).remove(); 
    }
    else if(parseInt("<%=@timelines.first.timeline_at.strftime('%Y')%>") == t[q]){
       $(".js-jj[data-year='"+t[q]+"'").remove()
      $('.line-label.'+t[q]).remove(); 
      $("#timeline-pagination").append("<%=j render :partial=>'timeline/list_timeline', :locals=> {:timelines => @timelines} %>")
     $('html, body').animate({
      scrollTop: $(".line-label.<%=@timelines.first.timeline_at.strftime('%Y')%>").offset().top
     }, 1000);
     return false;
    }
    else{ 
      if(append_data){
        append_data = false
      
      $("#timeline-pagination").append("<%=j render :partial=>'timeline/list_timeline', :locals=> {:timelines => @timelines} %>")
     $('html, body').animate({
      scrollTop: $(".line-label.<%=@timelines.first.timeline_at.strftime('%Y')%>").offset().top
     }, 1000);
    }
    }
     
  })
  <% end %>
  pagination = "true"
<% else %>
  $("#timeline-pagination").append("<%=j render :partial=>'timeline/list_timeline', :locals=> {:timelines => @timelines} %>")
<% end %>

<% if @display_timeline_info %>
  $.fn.popclick({pop: "<%= timeline_info_timeline_index_path %>", width: "600" })
<% end %>  
 
$(".js-emotion").unbind();
$(".js-emotion").emoticonize({
});
