<style>
.js-img-uploader {
    position:relative; 
    overflow:hidden; 
    width:300px; 
    height:120px;
    background:#f3f3f3; 
    border:2px dashed #e8e8e8;
}

#filePhoto{
    position:absolute;
    width:300px;
    height:400px;
    top:-50px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}
.fileload{
    position:absolute;
    width:300px;
    height:216px;
    top:-50px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.js-img-uploader img{
    position:absolute;
    width:302px;
    
    height:352px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}
</style>

<script type="text/javascript">
$(function(){
    $("form .fileload").remove()
    var count=0;
    // var imageLoader = document.getElementById('filePhoto');
    var imageLoader = $(".fileload").last()[0];
    imageLoader.addEventListener('change', handleImage, false);
    // $(".fileload").unbind("change")
    // $(".fileload").on("change",handleImage);

    function handleImage(e) {
        var bevent = e;
        var reader = new FileReader();
        reader.onload = function (event) {
            // var cc = $(bevent.target).data("count")

            $(bevent.target).parent().find('img').attr('src',event.target.result);
            // if(parseInt(count)==0 || (count- parseInt(cc)==0)){
               window.kk = (bevent.target);
      $(bevent.target).addClass("custom-file-2")
                if ($("ul li.js-ss").length >= 8){
                  alert("Maximum 8 images are allowed")
                }
                else
                {    
                $(".milestone_pictures1").append('<li class="js-img-uploader uploader js-ss">click here or drag here images <img src=""/><input type="file" name="userprofile_picture[]"  class=" js-fileupload fileload" accept="image/*"/> </li>');

               var imageLoader = $(".fileload").last()[0];
            imageLoader.addEventListener('change', handleImage, false);
            // }
        }
        }

        reader.readAsDataURL(e.target.files[0]);
    }
})
</script>

<!-- <form action="/health/create" method="post"> -->
<div id="raj">
  <div class="js-done"><span class="btn  btn-type1">Done</span></div>

    <div class="scroll-type2" style="height:150px;" data-count="0">
        <ul class="list-type-11 clearfix milestone_pictures1">   
            <li class="js-img-uploader uploader js-ss" data-count="0">                            
              click here or drag here your images 
              <img src=""/>
              <input type="file" name="userprofile_picture[]"  data-count="0"  class=" fileload" accept="image/*" />
            </li>
        </ul>
    </div>





</div>

<!-- </form> -->