<h2>
  New post
</h2>
<%= form_for :timeline, url:"/timeline/create_timeline", :html => { :multipart => true, id:"js-addTimeline-popup" } do |f| %>
   <div class="scroll-type4">
  
     <div class="form-type2 space-top">
      <div class="form-row">
        <div class="singleBx-type7">
          <div class="form-row">
            <%= f.label :name, "Title*", class: "form-label" %>
            <%= f.text_field :name, class: "js-name textBx-type2", placeholder:"Title",maxlength: title_length %>
          </div>

          <div class="form-row reset-margin js-desc">
            <label class="form-label">Description</label>
            <%= f.text_area :desc, class: " textBx-type2 js-description", size:"30x2", maxlength:desc_length %>
          </div>
        </div>
        <div class="singleBx-type7">
          <div class="form-row reset-margin">
            <%= f.label :timeline_at, "Date", class:"form-label" %>
            <%= hidden_field_tag :id, @timeline.id %>
            <%= f.hidden_field :member_id, value: @timeline_member.id %>
            <div class="textBx-type3">
              <%= f.text_field :timeline_at, value: toDate(@timeline.timeline_at || Date.today), style: "position: relative;z-index: 100000;", class: "js-timeline_at textBx-type1 dateInput js-dob" , :readonly=>true %>
            </div>
          </div>
        </div>
      </div>
    
      <div class="form-row">
        <label class="form-label FL">Add Images </label>
        <div class="FR js-media">
          <input type="file" class="custom-file-2" accept="image/*" />
          <label for="addNew"></label>
        </div>
        <hr class="CL hr"/>
        <div class="scroll-type2">
          <ul class="list-type-11 clearfix js-list">
             <% if @timeline.pictures.present? %>
                      <% @timeline.pictures.each do |pic| %>
                        <li class="js-ss" id="picture_<%= pic.id %>">                            
                            <%= link_to delete_timeline_pic_timeline_index_path(pic_id:pic.id), remote: true do %>
                                <span class="js-remove-photo icon-times"></span>
                            <% end %>
                                         
                            <%= image_tag(pic.photo_url_str(:medium)) %> 
                            <% end %>      
                        </li>
                      <% end %> 

          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="form-type3">
    <div class="form-action-row">
      <%= f.submit "Add", class: "btn btn-type2", disable_with:"Saving.." %>
      <span class="txt-type-1 FR space-top">Get <%= Score::Points["Timeline"] %> points per entry</span>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    (function ($) {
        $("#js-addTimeline-popup").ajaxForm();
        $("form#js-addTimeline-popup .js-name").val($("form#js-addTimeline .js-title").val())
        $("form#js-addTimeline-popup .js-description").val($("form#js-addTimeline .js-description").val())
        $("form#js-addTimeline-popup .js-dob").val($("form#js-addTimeline .js-dob").val())
        input = $(".js-name")
        input.focus().val(input.val());
    })(jQuery);
    $(".scroll-type4").mCustomScrollbar({
      autoHideScrollbar: true,
      theme: "dark"
    });
</script>