<%= stylesheet_link_tag  "jquery.bxslider" %>
<script type="text/javascript">
$('.bxslider').bxSlider({
    mode: 'fade',
    pager: false,
    nextText: '',
    prevText: ''
});
</script>
<ul class="bxslider">
  <% @timeline.pictures.each do |pic| %>
    <li>
        <div class="gallery-img">
          <img src="<%=pic.photo_url_str('original')%>">
        </div>
        <div class="gallery-description">
            <div class="page-title-6 js-emotion"><%= @timeline.name %></div>
            <p style="word-wrap:break-word;"><%= @timeline.desc %></p>
            <p><a href="#"  class="dd txt-link-type1" onclick='$.fn.close();$.fn.popclick({pop: "/timeline/edit?id=<%=@timeline.id%>", width: 600 })'>Edit</a> | 

            <a href="#." class="txt-link-type1">Delete</a></p>
        </div>
    </li>
    <% end %>
     
</ul>
 