$.fn.close();
<% unless  @last %>
<% if !@skipped %>
$(".<%=@current_timeline.id%>").hide()
$(".<%=@current_timeline.id%>").after("<%=j render :partial=>'timeline/timeline_entry_list',  :locals=>{timeline:@timeline}%>");
console.log("<%=@current_timeline.id%>");
$(".<%=@current_timeline.id%>").first().remove()
<% end %>
$.fn.popclick({pop:"/timeline/automated_timeline?id=<%=@timeline.id%>&member_id=<%=@member.id%>"})
<% else %>
$(".js-automated-entries").close();
<% end %>