<div class="logoBack">
  <h2 class="space-bottom-1"><i class="icon-timeline info-icon"></i> Timeline</h2>
    <ul class="pin-list">
        <li>Timeline builds the complete story for your child.</li>
        <li>Nurturey automatically posts events from other tools such as milestones, measurements etc to build a diverse and meaningful story.</li>
        <li>And you can create your own important timeline event.</li>
    </ul>
    <div class="form-type3">
        <div class="form-action-row">
            <input type="button" value="Got it!" class="btn btn-type2" style="margin-left:42px;" onclick="$.fn.close();" />
        </div>
    </div>
</div>
