<% if @status %>
$(".<%=@timeline.id%>").hide()
$(".<%=@timeline.id%>").after("<%=j render :partial=>'timeline/timeline_entry_list',  :locals=>{timeline:@timeline}%>");
$(".<%=@timeline.id%>").first().remove()
$.fn.close();
$(".pic a").unbind();
$(".pic a").lightbox();
<% elsif @pic_invalid == true %>
  alert("Only images are allowed.")
<% else %>
  $(".red").removeClass("red");
  $(".js-"+ "<%= @timeline.errors.messages.keys.join(', .js-')%>").addClass("red")
<% end %>

$(".js-emotion").unbind();
$(".js-emotion").emoticonize({
});