<%= form_tag send_invites_invitations_path, remote: true do %>  

<div>
    <table cellspacing="0" cellpadding="0" width="100%" id="tableType1">
        <thead>
        <tr>
            <th width="17%">Invitation List (<span id='new_invitations_count'>0</span>)</th>
            <th width="15%">&nbsp;</th>
        </tr>
        </thead>
        <tbody class='invitations'>
          <%= render partial: "invitation_email" %>
        </tbody>

    </table>
</div>
<!-- <p class="space-top"><i class="icon-lock"></i> We understand and respect your privacy and hence go far to ensure that data provided by you is kept safe. Read our <a href="#.">privacy policy</a> to know more</p> -->
<div class="form-action-row space-top">
    <%#= form_tag send_invites_invitations_path, remote: true do %>  
        <%#= text_field_tag :emails %>  
        <%= submit_tag "Send", class: "btn btn-type2" %>
        <a href="#html" id="showTemp" data-pop="<%= view_invite_invitations_path %>" data-width="510" class="txt-link">View invite</a>
        <span class="txt-type-1 FR space-top">Get <%= Score::Points["Invitation"] %> points when your friends join Nurturey!</span>
    <%# end %>    
</div>
<%= hidden_field_tag :invite_email_text, "You have been invited by #{current_user.first_name} to try out Nurturey." %>
<% end %>

<script type="text/javascript">
    $('#tableType1').dataTable({
            "scrollY": "auto",
            "scrollCollapse": true,
            "searching": false,
            "paging": false,
            "ordering": false,
            "oLanguage": {
                "sEmptyTable":"<div class='data-error empty-msg-1'><p> No invitation has been sent </p></div>"
            }
        });
</script>