<tr id="invitation_<%= @member.email.gsub('@','').gsub('.','') %>">
    <td>
    	<%= @member.email %>
    	<%= hidden_field_tag "emails[]", @member.email %>
    </td>
    <td>
        <%= link_to "","#html", data: {pop: edit_email_invitations_path(email: @member.email)}, class: "icon-pencil txt-link-type2" %>
        <a href="#." class="icon-trash-o txt-link-type2 js-remove_invite_email" ></a>
    </td>
</tr>

<script type="text/javascript">
	function remove_email(){
		alert($(this).val());
	}
</script>