
        <!-- health parameters start here -->
        <div class="singleBx-type6a">
            <div class="titleBar reset-margin">
                <h1><div class="user-avatar"></div>Invite friends to Nurturey</h1>
            </div>
        </div>
        <div class="singleBx-type6">
            <!-- invite Form-->
            <div class="form-type2">
                <%= form_for :Invitation, url: add_invitee_invitations_path, method: "get", remote: true do |f| %>  
                  <div class="form-row js-display-error-after">
                      <%= f.text_field :email, placeholder: "Enter your friend's email to invite", id: "inviteEmail", class: "textBx-type6 js-email", maxlength: 60 %>
                      <%= f.submit "Add Invitee", class: "btn btn-type1" %>
                  </div>
                <% end %>  
                <!--invitation table -->
                <div class="singleBx-type11 invitations_list" style="display:none;">
                    <%#= render partial: "invitations/invitations_list" %>
                </div>    
                
            </div>

        </div>
        <div class="singleBx-type5">
            <%= render partial: "invitations/past_invitations" %>
        </div>
         <div id="infinite-scrolling" style="display:none">
         
          <%= paginate @past_invitations %>
        </div>
    <!-- right section end here -->
<!-- body section end here -->
<!-- footer include here -->
<!--#include virtual="inc-footer.shtml" -->
<script type="text/javascript">
    $(function () {
        $('#tableType2').dataTable({
            "scrollY": "auto",
            "scrollCollapse": true,
            "searching": false,
            "paging": false,
            "ordering": false,
            "oLanguage": {
            "sEmptyTable":"<div class='data-error empty-msg-1'><p> No invitation has been sent</p></div>"
            }
        });
        // scroll script
        $(".dataTables_scrollBody").mCustomScrollbar({
            autoHideScrollbar: true,
            theme: "dark"
        });
        //
        input = $("#inviteEmail");
        input.focus().val(input.val());
    })

    <!--
    
    -->
</script>
</body>