<div class="titleBar-type1a">
    <h2>Past invitations</h2>
</div>
<table cellspacing="0" cellpadding="0" width="100%" id="tableType2" class="badge-table">
    <thead>
    <tr>
        <th width="80%">Email</th>
        <th width="20%" class="text-right">Status</th>
    </tr>
    </thead>
    <tbody id="invitations_pagination">
    <%= render partial: "invitations/list_past_invitation_entries" %>
    
    </tbody>

</table>