<tr class="<%= cycle('odd','even') %>">
    <td><%= invitation.member.email %></td>
    <td class="txt-green">
    	<% if invitation.status == 'invited' %>
    		Pending
    	<% elsif invitation.status == 'accepted' %>
    		Joined
    	<% else %>
    		<%= invitation.status.capitalize %>	
    	<% end %>
    </td>
</tr>