$('.error').remove();
$.each($("[class*='js-']"), function( index,input ) {
	$(input).removeClass("border-red");
})

<% if @member.valid? %>
	if($('.invitations_list').is(':hidden')) {
 	   $('.invitations_list').show();
	}
	if($("tbody.invitations").length){
		$("tbody.invitations").append("<%= j render partial: 'invitations/invitation_email' %>")
	}
	else{
		$(".invitations_list").html("<%= j render partial: 'invitations/invitations_list' %>")
	}
	$("#new_invitations_count").text(parseInt($("#new_invitations_count").text())+1);
	$('input#emails').val(function(i,val) { 
      return val + (!val ? '' : ',') + "<%= @member.email %>";
	});
	$("#inviteEmail").val("");
	input = $("#inviteEmail")
    input.focus().val(input.val());
    $.ajax({
    	url:"/invitations/invite_friend_to_nurturey",
    	type: "GET",
    	dataType: "JSON"
    });
<% else %>
	$('.js-email').addClass("border-red");
	$('.js-display-error-after').after("<span class='error'><%= @member.errors.messages[:email].first %></span>");
<% end %>