<%# debugger %>
$('.error').remove();
$.each($("[class*='js-']"), function( index,input ) {
	$(input).removeClass("border-red");
})

<% if @member.valid? %>
	$.fn.close();
	<% old_email = params[:old_email].gsub("@","").gsub('.','') %>
	console.log("<%= old_email %>")
	$("#invitation_<%= old_email %>").hide();
	$("#invitation_<%= old_email %>").after("<%= j render partial: 'invitations/invitation_email' %>");
	$("#invitation_.<%= old_email %>").remove();


	// $('input#emails').val(function(i,val) { 
 //      return val + (!val ? '' : ',') + "<%= @member.email %>";
	// });
<% else %>
	$('.js-edit_email').addClass("border-red");
	$('.js-edit_email').after("<span class='error'><%= @member.errors.messages[:email].first %></span>");
<% end %>