<% if @invitation.status== Invitation::STATUS[:rejected] %>
  <% if @invitation.sender_type == "Family" %>
  	$("#family_<%= @invitation.family.id %>").remove();
  <% else %>
  	$("#family_<%= @invitation.family.id %>").html("<%= j render :partial => '/families/family', locals: {family: @invitation.family} %>")
  <% end %>	
<% end %>
 