<%#= form_tag change_email_invitations_path do %>
  <%#= text_field_tag :email %>
<%# end %>

<div>
  <h2 class="space-bottom-1">Edit email</h2>
  <%= form_for :Invitation, url: change_email_invitations_path, method: "get", remote: true do |f| %>  
    <div class="form-type2">
      <div class="form-row clearFix">
        <div class="singleBx-type7 FL">
          <div class="form-row reset-margin">
            <%#= f.label "Enter email address", :class => "form-label" %>
            <%= f.text_field :email, value: @member.email, placeholder: "Enter your friends email to invite", id: "inviteEmail", class: "textBx-type6 js-edit_email" %>   
            <%= hidden_field_tag :old_email, @member.email %>      
            <%#= text_field_tag :email,params[:email], :class => "textBx-type2 js-email" %>
            <%#= f.text_field :email, :class => "textBx-type2 js-email", :placeholder => "smith@gmail.com", maxlength: 30 %>
          </div>
        </div>
      </div>
      <div class="form-type3">
        <div class="form-action-row">
          <%= submit_tag "Done", :class => "btn btn-type2" %>
        </div>
      </div>
    </div>
  <% end %>  
</div>

<script type="text/javascript">
    (function ($) {
        input = $(".js-edit_email")
        input.focus().val(input.val());
    })(jQuery);
</script>