if ($(".left-section").length == 0)
{
	$(".bodywapper").html("<%= escape_javascript(render :partial=>'/timeline/left_section')%>");
	$(".bodywapper").append('<div class="center-section"></div>')
	$(".bodywapper").append('<div class="right-section"></div>')
	$(".right-section").html('<%= j render :partial=>"/users/dashboard_right_sec" %>');

	$(function(){
	    $('[data-accordian]').unbind('accordianBox');
	    // parentMember();
	    $('[data-accordian]').accordianBox();  
	  })
}
<% if params[:page].blank? %>
	$(".center-section").html("<%= escape_javascript(render :partial=>'invitations/main_content')%>")
	pagination = "true"
	$(".js-badges").show();
	$(".js-invitation").hide();
<% else %>
	$("#invitations_pagination").append("<%=j render :partial=>'/invitations/list_past_invitation_entries'%>")
<% end %>