$(".invitations_list").html("").hide();
$(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
if($(".data-error").length){
	$(".data-error").remove();
}
<% @invitations.each do |invitation| %>
		$("#invitations_pagination").prepend("<%=j render partial: 'invitations/past_invitation', locals: {invitation: invitation} %>")
<% end %>