<div>
  <h2 class="space-bottom-1">Review Nurturey Invitation</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
        <div class="form-row">
            <textarea name="" id="" cols="30" rows="8" class="textBx-type2 js-invite-email-content">You have been invited by <%= current_user.first_name %> to try out Nurturey.</textarea>
        </div>
    </div>
    <div class="form-type3"><div class="form-action-row">
        <input type="button" value="Save" class="btn btn-type2 js-copy-email-content"/>
        <span class="brass FR space-top-1">Get <%= Score::Points["Invitation"] %> points when your friends join Nurturey!</span>
    </div></div>
  </div>
</div>

<script type="text/javascript">
  input = $(".js-invite-email-content")
  input.focus().val(input.val())
</script>