<div class="left-section">
	<%= render partial: "timeline/left_section" %>
</div>	
<div class="center-section">
	<%= render :partial=>'documents/documents_center_sec',:locals=>{:member_nutrients=> @member_nutrients} %>
</div>	
<div class="right-section">
	<%= render :partial=>'documents/documents_right_sec',:locals=>{:member_nutrients=> @member_nutrients} %>
</div>	