<% if @documents.present? %>
  <% @documents.each do |document| %>
    <tr>
      <td class='break-word'>
        <!-- <i class="icon-pdf"></i>  -->
        <%= truncate(document.name, length: 20) %> 
      </td>
      <td> <%= document.document_type %></td>
      <td> <%= toDate(document.file_updated_at) %> </td>
      <td>
    	  <span class="actionBar">
            <%= link_to "","#html", data: {pop: edit_document_path(document), width: "600"}, class: "icon-pencil" %>
            &nbsp;
            <%= link_to "",download_document_path(document), class: "icon-download-file" if document.file.present? %>
            &nbsp;
            <%= link_to "",document_path(document.id), method: :delete, class: "icon-trash-o", remote: true, confirm: "Are you sure you want to delete?" %>
    	  </span>
      </td>
  </tr>
  <% end %>
<% else %>
  <% if params[:controller]=='documents' && params[:action]=='search' %>  
    <tr>
      <td colspan=4 style="text-align:center;">
        No search results found
      </td> 
    </tr>
  <% end %>  
<% end %>