<!-- reapte user -->
<div class="singleBx-type8">
    <div class="titleBar-type3 clearFix">
        <h1 class="FL">
        <%=profile_image_tag(@member,"small") %>
            DOCUMENTS
        </h1>
        <div class="actionBar">
            
            <div class="serarch-box">
            <%= form_for :Document, url: search_documents_path, remote: true, method: :get do |f|  %>
                <i class="icon-search"></i>
                <%= hidden_field_tag :member_id, @member.id  %>
                <%= f.text_field :name, placeholder: "Search" %>
            <% end %>    
            </div>
            <%#= link_to "",list_google_doc_path(member_id: @member.id), class: "txt-link-type1 icon-gdrive", style: "margin-top:6px;" %>
            &nbsp;
            <%= link_to "Upload",'#html', data: {pop: new_document_path(member_id: @member.id), width: "600"}, class: "btn btn-big-type1 icon-plus", style: "margin-top:6px;" %>
        </div>
    </div>
    <div class="singleBx-type11 text-center table-type3">
        <table cellpadding="0" cellspacing="0" id="tableType1">
            <thead><tr>
                <th width="30%">Name</th>
                <th width="25%">Type</th>
                <th width="20%">Last Modified</th>
                <th width="25%">&nbsp;</th>
            </tr></thead>
            <tbody class="member_documents">
                <%= render partial: "document_list" %>            
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">

    $(function () {
        //datatable
        $('#tableType1').dataTable({
            "scrollY": false,
            "scrollCollapse": true,
            "searching": false,
            "paging": false,
            "ordering": false,
            "oLanguage": {
                "sEmptyTable":"<div class='data-error empty-msg-1'><p>No documents uploaded yet. Keep your documents safe and accessible. We support pdf, doc, docx, xls, jpg and png. Click on the Upload button to get started.</p></div><br/>"
                // 'sEmptyTable':'<h2 class="txt-type-1 page-title-5 text-italic">No Documents Uploaded Yet!</h2> <i class="icon-pdf no-documents"></i> <p class="txt-type-3">Keep your documents safe and accessable. We support pdf, doc, docx, xls, jpg and png.</p>        <p class="page-title-5 no-margin-bottom">Click on the Upload button to get started!</p>'
            }
        });
    })
    
</script>