<div class="singleBx-type15">
    <div class="page-title-1">Keep your Documents updated!</div>
    <!-- <ul class="list-type-10 clearFix">
        <li class="line"></li>
        <li>
            <p class="page-title-1a FL">Birth Certificate</p>
            <%#= link_to "",'#html', data: {pop: new_document_path(member_id: @member.id)}, class: "txt-link-type1 icon-upload-file FR", style: "padding-bottom:6px;" %>    
        </li>
        <li>
            <p class="page-title-1a FL">Admission Card</p>
            <%#= link_to "",'#html', data: {pop: new_document_path(member_id: @member.id)}, class: "txt-link-type1 icon-upload-file FR", style: "padding-bottom:6px;" %>
        </li>
        <li>
            <p class="page-title-1a FL">Immunisation Card</p>
            <%#= link_to "",'#html', data: {pop: new_document_path(member_id: @member.id)}, class: "txt-link-type1 icon-upload-file FR", style: "padding-bottom:6px;" %>
        </li>
        <li>
            <p class="page-title-1a FL">Sample Document</p>
            <%#= link_to "",'#html', data: {pop: new_document_path(member_id: @member.id)}, class: "txt-link-type1 icon-upload-file FR", style: "padding-bottom:6px;" %>
        </li>
    </ul> -->
</div>