<%# form_path = @document.new_record? ? save_documents_documents_path(member_id: @member.id) : document_path(member_id: @member.id) %>
<%= form_for @document, multipart: true, html: {class: 'document-form', id: "js-form"} do |f| %>
<%= hidden_field_tag :member_id, @member.id %>
<div class="scroll-type4">
    <div class="form-type2 space-top">
        <div class="form-row">
            <div class="singleBx-type7">
                <div class="form-row">
                    <%= f.text_field :name, class: "textBx-type2 js-name",placeholder: "Document Name", maxlength: 40 %>
                </div>
            </div>
            <div class="singleBx-type7">
                <div class="form-row reset-margin">
                    <label class="custom-select">
                        <%= f.select :document_type, collection: (Document::DOC_TYPES.values) %>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-row">
            <label class="form-label FL">Select Document Files </label>
            <div class="FR">
                <% file_value = (params[:document] && params[:document][:file] ? params[:document][:file] : nil) %>
                <%= f.file_field :file, value: file_value, id: "document_upload", class: "custom-file-2" %>                
                <label for="document_upload"></label>
            </div>
            <hr class="CL hr"/>
            <div class="scroll-type2">
                <ul class="list-type-11 clearfix">
                    <li class='js-document js-file'>  
                        <% if @document.file.present? %>                      
                            <div class="js-doc-file" id="js-file-<%= @document.id %>" >
                                <%= link_to "", delete_attachment_document_path(@document.id), method: :delete, class: "icon-times js-remove-document", remote: true %>
                                <span class="js-doc-filename">
                                    <%= @document.file.original_filename %>
                                </span>
                            </div>    
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="form-type3"><div class="form-action-row">
    <%= f.submit "#{@document.new_record? ? 'Add' : 'Update'}", class: "btn btn-type2", disable_with: "#{@document.new_record? ? 'Saving' : 'Updating'}.." %>
    <!-- <input type="button" value="Add" class="btn btn-type2"/> -->
</div></div>
</div>
</div>
<% end %>

<script type="text/javascript">
    (function ($) {
     $("#js-form").ajaxForm()
        input = $(".js-name")
        input.focus().val(input.val());
    })(jQuery);
</script>