<% if @document.errors.blank? %>
  $.fn.close();
  $(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
  $("table tbody.member_documents").html("<%= j render partial: 'documents/document_list' %>")
<% else %>
    $('.error').remove();
	$.each($("[class*='js-']"), function( index,input ) {
		$(input).removeClass("border-red");
	})
	<% @document.errors.messages.each do |k,v| %>
		$('.js-' + "<%= k.to_s %>").addClass("border-red");		
		$('.js-' + "<%= k.to_s %>").after("<span class='error'><%= v.first %></span>");
<% end %>
<% end %>