<div class="logoBack">
  <h2 class="space-bottom-1"><i class="icon-document-color info-icon"></i> Documents</h2>
    <ul class="pin-list">
        <li>Upload and securely preserve key documents for your child. </li>
    </ul>
    <div class="form-type3">
        <div class="form-action-row">
            <input type="button" value="Got it!" class="btn btn-type2" style="margin-left:42px;" onclick="$.fn.close();" />
        </div>
    </div>
</div>
