$(".bodywapper").html("<%= j render partial: 'documents/documents_index' %>")
update_left_nav("<%= @member.id %>", "documents");
$(function(){
  		//uncomment if  required. to avoid double collapse left nav removing this code (Rajesh)
  		// Toggle does not work when clicked from manage_family. Put inside condition (Aman)
		$('[data-accordian]').accordianBox();
		$('.accordion-type1 .js-acc-main').click(function(){
		      $(this).parent().toggleClass('active');
		      $(this).parent().find(".js-timeline").click()
   });
});   