$(".right-section").html("<%= j(render :partial=>'documents/documents_right_sec')%>")
$(".center-section").html("<%= j(render :partial=>'documents/documents_center_sec')%>")

<% if @display_documents_info %>
  $.fn.popclick({pop: "<%= documents_info_documents_path %>", width: "600" })
<% end %>
