<div class="left-section">
	<%= render partial: "timeline/left_section" %>
</div>	

<div class="center-section">
	<%= render partial: 'documents/documents_center_sec' %>
</div>
<div class="right-section">
	<%= render partial: 'documents/documents_right_sec' %>
</div>

<script type="text/javascript">
	update_left_nav("<%= @member.id %>", "documents");
	if("<%= @display_documents_info %>"=="true"){
	    $.fn.popclick({pop: "<%= documents_info_documents_path %>", width: "600" })
	  }
</script>