<b> Select The document You want to upload </b>
<br/><br/>
<% @google_docs.each do |doc| %>
	<p>
		<%= link_to doc, download_google_doc_path(doc_upload: doc, member_id: @member.id), remote: true %>
	</p>
<% end %>	