
/*------------------------------------------
Responsive Grid Media Queries - 1280, 1024, 768, 480
1280-1024   - desktop (default grid)
1024-768    - tablet landscape
768-480     - tablet 
480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1280px) {
.banner-content h3 {
	font-size: 44px;
}
.download-fa-icon {
	font-size: 32px;
}
#footer .download-icon {
	width: 100%;
}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
.banner-area {
	background: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,.84)), url(../images/banner-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
}
}

@media all and (max-width: 992px) {
.health-wrap h3 {
	min-height: auto;
	display: block;
}
.experience-content {
	margin-bottom: 60px;
}
#footer {
	text-align: center;
}
.support-content {
	max-width: 100%;
	margin: 10px 0;
	text-align: center;
}
.health-wrap h3 {
	padding: 20px 0;
}
.health-wrap p {
	font-size: 18px;
	max-width: 60%;
	width: 100%;
	margin: 0 auto;
}
.health-wrap {
	padding: 16px 0;
}
#carouselFade {
	padding: 50px 0 0 0;
}
.experience-image-wrap {
	text-align: center;
}
.border-footer {
	border-right: none;
}
.links-content {
	padding-top: 12px;
}
.empower-btn.slider_btn {
	display: block;
	margin: 102px 0 0px 0;
}
.empower-btn.slider_btn {
	display: block;
	margin: 102px 0 0px 0;
}
.experience-area .empower-btn.slider_btn {
	margin: 40px 0 0px 0;
}
.empower-content .empower-btn, .experience-content .empower-btn {
	display: none;
}
.empower-btn a {
	font-size: 16px;
	padding: 14px 40px;
}
}

@media all and (max-width: 767px) {
.banner-area {
	background: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,.84)), url(../images/banner-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 80%;
}
.banner-content h3 {
	font-size: 44px;
}
.support-content {
	display: block;
}
.support-content span {
	width: 100%;
	text-align: center;
}
.growth-wrapper {
	padding: 90px 0;
}
.growth-content h2 {
	font-size: 36px;
	max-width: 90%;
	line-height: 46px;
}
.health-wrap p {
	max-width: 90%;
}
.start-header.scroll-on .navbar-toggler {
	margin-top: 10px;
}
.family-wrapper, .experience-wrapper, .privacy-wrapper, .empower-wrapper, .potential-wrapper {
	padding: 100px 0;
}
.family-content h3, .experience-content h3, .privacy-content h3, .empower-content h3, .potential-content h2 {
	font-size: 34px;
}
.family-content p, .experience-content p, .privacy-content p, .empower-content p, .potential-content p {
	font-size: 20px;
	line-height: 30px;
	padding: 20px 0;
}
.potential-area {
	padding-top: 40px;
}
.support-content span {
	margin: 0;
	padding: 10px;
}
.sup-text {
	max-width: 90%;
}
#footer {
	padding: 40px 15px 30px 15px;
}
#footer .download-icon {
	width: 70%;
	margin: 10px auto;
}
#videoModal .modal-dialog, #seevideoModal .modal-dialog {
	max-width: 90%;
}
.download-icon.mob-btn {
	margin-top: 6px;
}
.footer-btn {
	text-align: center;
}
/* faq page css starts */
.nur-all-boxes {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	max-width: 100%;
	width: 100%;
}
.nur-box {
	margin: 20px 0px;
	width: 100%;
}
.nur-faq-wrapper {
	padding: 30px 0 30px 0;
}
.nur-faq-heading h2 {
	font-size: 34px;
	line-height: 37px;
}
.nur-box-heading h2 {
	font-size: 30px;
	padding-bottom: 14px;
}
.card-body p {
	font-size: 18px;
	line-height: 30px;
}
/* faq page css ends */
}

@media all and (max-width: 480px) {
.navbar-light .navbar-nav .nav-link {
	padding-top: 12px !important;
	font-size: 24px;
}
.download-icon {
	margin: 20px 10px 10px 10px;
	max-width: 72%;
	width: 100%;
}
.header-wrap .download-icon {
	max-width: 60%;
}
.navbar-collapse {
	padding: 0px 0;
}
.banner-content h2 {
	font-size: 28px;
}
.banner-content h3 {
	font-size: 30px;
	line-height: 36px;
	padding: 20px 0;
}
.banner-content p {
	font-size: 20px;
	line-height: 24px;
}
.app-wrapper {
	margin: 10px 0;
}
.banner-content {
	padding-top: 30px;
}
.growth-wrapper {
	padding: 70px 0;
}
.growth-content h2 {
	font-size: 28px;
	line-height: 38px;
}
.growth-detail {
	padding: 50px 0 70px 0;
}
.health-wrap h3 {
	padding: 10px 0;
	font-size: 20px;
}
.family-content h3, .experience-content h3, .privacy-content h3, .empower-content h3, .potential-content h2 {
	font-size: 24px;
	line-height: 34px;
}
.empower-content p {
	max-width: 100%;
}
.family-wrapper, .experience-wrapper, .privacy-wrapper, .empower-wrapper, .potential-wrapper {
	padding: 70px 0;
}
.family-content p, .experience-content p, .privacy-content p, .empower-content p, .potential-content p {
	font-size: 18px;
	line-height: 28px;
	padding: 20px 0;
}
.experience-image-wrap {
	max-width: 70%;
	width: 100%;
	margin: 0 auto;
}
.footer-btn {
	text-align: center;
	margin-top: 10px;
}
.footer-btn img {
	margin: 10px;
	width: 58%;
}
.footer-text {
	padding: 10px 0;
}
.download-fa-icon {
	font-size: 36px;
}
.small-text {
	margin: 6px 10px;
}
#footer .download-icon {
	width: 70%;
	margin: 10px auto;
}
}
