/*------------------------------------------------------------------
[Style Layout Sheet For NURTUREY]

*  Basic Common CSS for HTML Tags(like:- html, body, div, span, p, a, h1 and many others)
*  Fonts
1. Body
2. Preloader

3. Home Pages
3.1 Header CSS
3.2 Banner CSS
3.3 Support CSS
3.4 Growth CSS


-------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
ul li {
	list-style-type: none;
}
html {
	width: 100%;
	height: 100%;
}
a, a:hover {
	text-decoration: none;
	outline: none;
}
img {
	max-width: 100%;
	-webkit-user-drag: none;
}
button:focus{
	outline: none;
}
body {
	font-family: 'SFProDisplay-Regular', 'Arial', 'Helvetica', sans-serif;
	float: left;
	color: #000;
	width: 100%;
	background-color: #fff;
	margin: 0;
	font-size: 18px;
}
@font-face {
	font-family: 'SFProDisplay-Medium';
	src: url('./fonts/SFProDisplay-Medium.eot');
	src: url('./fonts/SFProDisplay-Medium.woff') format('woff'), url('./fonts/SFProDisplay-Medium.ttf') format('truetype'), url('./fonts/SFProDisplay-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Heavy';
	src: url('./fonts/SFProDisplay-Heavy.eot');
	src: url('./fonts/SFProDisplay-Heavy.woff') format('woff'), url('./fonts/SFProDisplay-Heavy.ttf') format('truetype'), url('./fonts/SFProDisplay-Heavy.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Semibold';
	src: url('./fonts/SFProDisplay-Semibold.eot');
	src: url('./fonts/SFProDisplay-Semibold.woff') format('woff'), url('./fonts/SFProDisplay-Semibold.ttf') format('truetype'), url('./fonts/SFProDisplay-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Bold';
	src: url('./fonts/SFProDisplay-Bold.eot');
	src: url('./fonts/SFProDisplay-Bold.woff') format('woff'), url('./fonts/SFProDisplay-Bold.ttf') format('truetype'), url('./fonts/SFProDisplay-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Regular';
	src: url('./fonts/SFProDisplay-Regular.eot');
	src: url('./fonts/SFProDisplay-Regular.woff') format('woff'), url('./fonts/SFProDisplay-Regular.ttf') format('truetype'), url('./fonts/SFProDisplay-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SFProDisplay-Light';
	src: url('./fonts/SFProDisplay-Light.eot');
	src: url('./fonts/SFProDisplay-Light.woff') format('woff'), url('./fonts/SFProDisplay-Light.ttf') format('truetype'), url('./fonts/SFProDisplay-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Almarai-Bold';
	src: url('./fonts/Almarai-Bold.eot');
	src: url('./fonts/Almarai-Bold.woff') format('woff'), url('./fonts/Almarai-Bold.ttf') format('truetype'), url('./fonts/Almarai-Bold.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GoodDogPlain';
	src: url('./fonts/GoodDogPlain.eot');
	src: url('./fonts/GoodDogPlain.woff') format('woff'), url('./fonts/GoodDogPlain.ttf') format('truetype'), url('./fonts/GoodDogPlain.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

/**-------------------------
2. PreLoader CSS Starts
-------------------------**/



/**-------------------------
PreLoader CSS Ends
-------------------------**/

/* ------------------- 
3. HOME PAGE STARTS 
------------------- */

/* --------------------------
3.1 Header Css Starts Here
----------------------------- */

.navbar-collapse {      
    background-color: rgba(250,250,250,0.99);       
    padding: 10px 0;        
    position: absolute;     
    top: 100%;      
    width: 100%;        
    margin-top: 10px;       
}
.navbar-collapse ul{
	text-align: center;
}
.navbar-light .navbar-nav .nav-link {
	padding-top: 20px !important;
	border-bottom: 1px rgba(0,0,0,0.05) solid;
	font-size: 26px;
	width: 100%;
	font-family: 'SFProDisplay-Light';
}
.nav-link {
	display: block;
	padding: .5rem 1rem;
}
.start-header {
	opacity: 1;
	transform: translateY(0);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {       
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);     
    padding: 0 0 5px 0;     
    -webkit-transition : all 0.3s ease-out;     
    transition : all 0.3s ease-out;     
    background-color: #fff !important;      
    position: fixed;        
}       
.start-header.scroll-on .header-wrap{       
    padding: 5px 0;     
}       
.header-wrap {      
    padding: 30px 0;        
}
.start-header.scroll-on .navbar-brand img{
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.logo-scroll {
    width: 26px !important;
}
.download-icon {
    padding: 2px;
    display: inline-block;
    border: 1px solid #d0d0d0;
    margin: 25px 10px 10px 10px;
    border-radius: 6px;
    min-width: 170px;
}
.download-fa-icon {
    width: fit-content;
    display: inline-block;
    font-size: 36px;
}
.lg-text {
    display: block;
    text-align: left;
    font-weight: bold;
    font-family: 'SFProDisplay-Bold';
    font-size: 18px;
}
.small-text {
    font-size: 13px;
    margin: 0 4px;
    display: inline-block;
    width: fit-content;
    line-height: 18px;
    font-family: 'SFProDisplay-Medium';
    text-align: left;
    position: relative;
    top: 3px;
}
#footer .download-icon {
    border: 1px solid #5a5e62;
    width: 90%;
    text-align: center;
}
.nav-app-links {
    font-size: 22px;
    width: 100%;
    font-family: 'SFProDisplay-Light';
    margin: 10px;
    color: #474747 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-app-links:hover{
	color: #000 !important;
}
.start-header.scroll-on .navbar-toggler {
    margin-top: 0px;
}
.navbar-brand img{
	width: 100%;
	max-width: 120px;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	margin-top: -6px;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 26px;
	height: 19px;
	background-image: none;
	position: relative;
	border-bottom: 3px solid #696969;
	transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 26px;
	position: absolute;
	height: 3px;
	background-color: #696969;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #00000080 !important;
	font-weight: 500;
	transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #000000e6 !important;
}
.nav-item.active .nav-link{
	color: #000000e6 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item{
	position: relative;
	transition: all 200ms linear;
}
.bg-light {
    background-color: transparent !important;
    transition: all 200ms linear;
}

/* --------------------------
Header Css Ends Here
----------------------------- */

/* --------------------------
3.2 Banner Css Starts Here
----------------------------- */

.banner-area{
	background-image: url(/assets/homepage/uae//banner-image.jpg);
	padding: 200px 0 140px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
}
.banner-content{
	max-width: 80%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}
.banner-content h2 {
    font-family: 'Almarai-Bold';
    font-size: 34px;
    line-height: 44px;
}
.banner-content h3 {
    color: #000;
    font-size: 50px;
    line-height: 56px;
    padding: 40px 0;
}
.banner-content h3 strong{  
    font-family: 'SFProDisplay-Bold';
    color: #DF606A;
}
.banner-content p {
    font-size: 26px;
    color: #7c8293;
    padding: 2px 0px;
    width: 100%;
    line-height: 30px;
}
.app-wrapper {
    margin: 30px 0;
}
.app-wrapper .store-wrap {
    display: inline-block;
    max-width: 40%;
    margin: 10px 10px;
    width: 100%;
}

/* --------------------------
Banner Css Ends Here
----------------------------- */


/* --------------------------
3.3 Support Css Starts Here
----------------------------- */

.supported-wrapper {
    padding: 30px 0;
    box-shadow: 20px 0px 20px -3px #e2e2e2;
}
.support-content {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}
.support-content span {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    line-height: 22px;
    color: #8e8e8e;
}
.sup-text {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 14px;
    vertical-align: middle;
}
.support-content img{
    vertical-align: middle;
}


/* --------------------------
Support Css Ends Here
----------------------------- */


/* --------------------------
3.4 Growth Css Starts Here
----------------------------- */

.growth-wrapper {
    padding: 120px 0;
    text-align: center;
}
.growth-content h2 {
    font-size: 42px;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    line-height: 48px;
}
.growth-content h2 span {   
    color: #2bcb79; 
    font-family: 'SFProDisplay-Heavy';  
}
.growth-detail {
    padding: 100px 0 70px 0;
}
.empower-btn.growth-video-btn { 
    margin: 60px 0 0 0; 
}
.health-wrap h3 {   
    font-family: 'SFProDisplay-Medium'; 
    font-size: 20px;    
    padding: 32px 0;    
    font-weight: bold;  
    min-height: 116px;  
    display: grid;  
    align-items: end;   
}
.health-wrap p {
    font-size: 17px;
    color: #7f8290;
    line-height: 25px;
    font-family: 'SFProDisplay-Medium';
}
.family-wrapper, .experience-wrapper, .privacy-wrapper, .empower-wrapper, .potential-wrapper {
    padding: 100px 0;
}
.family-content h3, .experience-content h3, .privacy-content h3, .empower-content h3, .potential-content h2{
    font-size: 38px;
    line-height: 48px;
}
.empower-content h3 strong{ 
    color: #2c93da; 
    font-family: 'SFProDisplay-Heavy';  
}   
.potential-content h2 strong{   
    font-family: 'SFProDisplay-Heavy';  
    color: #54b044; 
}   
.family-content h3 strong{  
    font-family: 'SFProDisplay-Heavy';  
    color: #ec9130; 
    display: block; 
}   
.experience-content h3 strong{  
    color: #ed71da; 
    font-family: 'SFProDisplay-Heavy';  
}   
.privacy-content h3 strong{ 
    font-family: 'SFProDisplay-Heavy';
    color: #4284f4;
}
.family-content p, .experience-content p, .privacy-content p, .empower-content p, .potential-content p {
    font-size: 24px;
    color: #a1abbc;
    line-height: 32px;
    padding: 40px 0;
}
.empower-content p{
	max-width: 90%;
	width: 100%;
	margin: 0 auto;
}
.experience-image-wrap {
    text-align: left;
}
.privacy-content img{
	margin-bottom: 30px;
}
.empower-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
}
.empower-btn a {
    color: #ca8040;
    font-size: 18px;
    border: 1px solid #ca8040;
    border-radius: 36px;
    padding: 14px 70px;
    transition: 0.48s;
}
.empower-btn a:hover{
	color: #fff;
	background-color: #ca8040;
}
.potential-content h6 {
    font-size: 2.6rem;
    color: #e4ba47;
	font-family: 'GoodDogPlain';
    letter-spacing: 1px;
    padding: 10px 15px;
    width: 100%;
}
.ques-mark{
	color: #449a4d;
	padding-left: 5px;
}
.potential-area .carousel-inner {
    max-width: 90%;
    width: 100%;
}
#carouselFade .carousel-indicators {
  bottom: -40px;
}
#carouselFade .carousel-indicators li {
  background: #484848;
  height: 12px;
  width: 12px;
  border-radius: 10px;
  margin-left: 6px;
  border-top: 0px;
  border-bottom: 0px;
  opacity: 1;
}
#carouselFade .carousel-indicators li.active {
  background: #ffba48;
}
#carouselFade .carousel-inner h2{
	font-size: 18px;
	font-family: 'SFProDisplay-Regular';
    color: #5e5e5e;
}
.empower-btn.slider_btn{
    display:none;
}
#videoModal .modal-dialog {
    max-width: 550px;
    margin: 200px auto;
}
#videoModal .close {
    font-size: 30px;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    transition: 0.48s;
    position: absolute;
    right: -20px;
    top: -18px;
    background: #14953a;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}
#videoModal .close:hover {
    color: #14953a;
    background-color: #fff;
}
#videoModal .modal-body {
    padding: 14px 22px;
}
#videoModal .modal-content{
	border-radius: 0px;
}
#videoModal {
    padding: 0 !important;
}
    #seevideoModal .modal-dialog {  
    max-width: 550px;   
    margin: 200px auto; 
}   
#seevideoModal .close { 
    font-size: 30px;    
    color: #fff;    
    text-shadow: none;  
    opacity: 1; 
    transition: 0.48s;  
    position: absolute; 
    right: -20px;   
    top: -18px; 
    background: #14953a;    
    border-radius: 50%; 
    width: 42px;    
    height: 42px;   
}   
#seevideoModal .close:hover {   
    color: #14953a; 
    background-color: #fff; 
}   
#seevideoModal .modal-body {    
    padding: 14px 22px; 
}   
#seevideoModal .modal-content{  
    border-radius: 0px; 
}   
#seevideoModal {    
    padding: 0 !important;  
}


/* --------------------------
Growth Css Ends Here
----------------------------- */

/* --------------------------
Footer Css Ends Here
----------------------------- */

#footer {
    width: 100%;
    background-color: #121212;
    color: #5a5e62;
    padding: 40px 0 30px 0;
}
.border-footer {
    border-right: 1px solid #1f1f1f;
}
.footer-text p {
    font-size: 16px;
}
.footer-btn img {
    margin: 10px 0 0 0;
}
.border-footer {
    border-right: 1px solid #1f1f1f;
}
.links-content h5 {
    color: #fff;
    font-size: 18px;
    padding: 4px 0;
    font-family: 'SFProDisplay-Medium';
}
.links-content a {
    color: #5a5e62;
    font-size: 16px;
    transition: 0.48s;
}
.links-content a:hover{
	color: #fff;
}
.copyright-text p {
    font-size: 16px;
    padding: 20px 0 0 0;
    border-top: 1px solid #1f1f1f;
    margin: 10px 0 0 0;
}
#footer .nav-app-links {
    color: #5a5e62 !important;
}
#footer .nav-app-links:hover {
    color: #ffffff !important;
}
.banner-content .download-icon {
    background: #fff;
}
#footer .download-icon {
    border: 1px solid #5a5e62;
}

/* --------------------------
Footer Css Ends Here
----------------------------- */

/* --------------------------
Cookie Css Starts Here
----------------------------- */

.cookie-msg {
    font-size: 16px;
    color: gray;
    background: black;
    text-align: center;
    font-family: sans-serif;
    color: #747572 !important;
    font-size: 14px;
}
.cookie-msg p {
    display: inline-block;
    max-width: 1200px;
    padding: 15px;
}
.cookie-msg a {
    text-decoration: none;
    color: #cdcdcd;
}
.close-cookie-banner {
    background: #f0c073;
    padding: 5px 8px;
    border-radius: 4px;
    color: #3d2a0b !important;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

/* --------------------------
Cookie Css Ends Here
----------------------------- */

/* ------------------- 
HOME PAGE ENDS
------------------- */

.start-header.scroll-on{
-webkit-animation: slide-down 0.90s;
-moz-animation: slide-down 0.90s;
animation: slide-down 0.90s;
}

@-webkit-keyframes slide-down { 0% { opacity:0; transform:translateY(-100%);}100% { opacity:0.9; transform:translateY(0);}}

@-moz-keyframes slide-down { 0% { opacity:0; transform:translateY(-100%);}100% { opacity:0.9; transform:translateY(0);}}

@keyframes slide-down { 0% { opacity:0; transform:translateY(-100%);}100% { opacity:0.9; transform:translateY(0);}}