<% @user = @user || current_user.user %>
<%# byebug%>
<% if session[:alexa_flow_status] == true %>
  <% session[:email] = @user.email%>
  <% session[:alexa_platform] = @platform%>

  <script type="text/javascript">
    $(document).ready(function(){
      var form_data = {"platform":"<%=@platform %>", "app_name":"<%=session[:alexa_source_reference]%>","redirect_uri":"<%=session[:alexa_redirect_uri]%>", "email":"<%=@user.email%>","auth_token":"<%=@user.api_token(session[:alexa_flow_status]%>","state":"<%=session[:alexa_state]%>"}
      var session_data = 
      {"redirect_uri":"<%=session[:alexa_redirect_uri]%>","state":"<%=session[:alexa_state]%>"};
        session_data["email"] = "<%= @user.email%>";
        session_data["token"] = "<%= @user.api_token(session[:alexa_flow_status])%>";
        session_data["alexa_platform"] = "<%=@platform%>";
        session_data["alexa_source_reference"]= "<%=session[:alexa_source_reference]%>";

      <%if @user.errors.present? %>
        <%if session[:alexa_action_for_fb] == "signup"%>
          $(".js-main-body").html("<%= escape_javascript(render :partial=>'/alexa/sign_up/alexa_signup')%>");
            history.pushState(null, '', "/alexa/sign_up?<%=alexa_reference_params%>");

        <% else  %>
        $(".js-main-body").html("<%= escape_javascript(render :partial=>'/alexa/sign_up/sign_in')%>");
         history.pushState(null, '', "/alexa/sign_in?<%=alexa_reference_params%>");
        <% end %>
        $(".js-alexa-signup-error").html("<%=session[:reset_error]%> <%=session[:reset_email]%>");
      <% else%>
      $(".js-main-body").html("<%= escape_javascript(render :partial=>'/alexa/sign_up/sign_in')%>");
         history.pushState(null, '', "/alexa/sign_in?<%=alexa_reference_params%>");
        session_data["email"] = "<%= @user.email%>";
        session_data["token"] = "<%= @user.api_token(session[:alexa_flow_status])%>";
        session_data["alexa_platform"] = "<%=@platform%>";
        session_data["alexa_source_reference"]= "<%=session[:alexa_source_reference]%>";
        signin_api(form_data,session_data);
      <% end %>
    });
  </script>
<% end %>