 
<script type="text/javascript">
  <% if session[:alexa_flow_status] == true %>
    <% if session[:alexa_action_for_fb] == "signup"%>
      window.location.href = "/alexa/sign_up?state=<%=session[:alexa_state]%>&redirect_uri=<%=session[:alexa_redirect_uri]%>&app_name=<%=session[:alexa_source_reference]%>"
    <% else  %>
      window.location.href = "/alexa/sign_in?state=<%=session[:alexa_state]%>&redirect_uri=<%=session[:alexa_redirect_uri]%>&app_name=<%=session[:alexa_source_reference]%>"
    <% end %>
  <% elsif request.env["PATH_INFO"] == "/users/auth/google_oauth2/callback"%>
      window.location.href = "/calendar" 
  <%else%>
    session[:signup_error] = "Permissions denied."
    window.location.href = "/users/sign_in?pageName=signup"  
  <% end %>
</script>