<tr>
  <td bgcolor="#ffffff"  style="padding:0;border-top: 1px solid #E8E8E8;">
    <table  width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
      <tr>
        <td height="60" valign="middle" style="padding:0;">
          <p class="h3" style="font-size:12px;text-align:center;margin:0;padding: 0;"><b>Nurturey mobile app available on</b></p>
        </td>
      </tr>
      <tr>
        <td class="app-links" valign="top">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
            <tr>
              <td width="160" style="padding:0;"></td>
              <td align="center" class="app-links" width="150" style="padding:0; margin-bottom: 20px;">
              <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/AppleStore.jpg" width="150" alt="Apple app store" style="border:0;"></a></td>
              <td align="center" width="20" style="padding:0;"></td>
              <td width="150" style="padding:0;"><a href="https://play.google.com/store/apps/details?id=com.nurturey.app"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/GooglePlay.jpg" width="150" alt="Google Play store" style="border:0;"></a></td>
              <td width="160" style="padding:0;"></td>
            </tr>
            <tr><td height="30" style="padding:0;"></td></tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>