<tr>
  <td class="footer" style="padding:0;width:100%;max-width:600px;Margin:0 auto;">
    <table style="border-spacing:0;font-family:sans-serif;color:#333333;" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="30" style="padding:0;"></td>
        <td width="540" style="padding:0;" align="center">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
            <tr><td height="30" style="padding:0;">&nbsp;</td></tr>
            <tr>
              <td align="center" style="padding:0;">
                <table border="0" cellspacing="0" cellpadding="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                  <tr>
                    <td align="center" style="padding:0;"><a href="https://www.facebook.com/nurtureyonweb?ref=hl"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/fb_icon.png" height="40" alt="Facebook" style="border:0;"></a></td>
                    <td width="20" style="padding:0;"></td>
                    <td align="center" style="padding:0;"><a href="<%=APP_CONFIG['youtube_url']%>"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/youtube_icon.png" height="40" alt="Youtube" style="border:0;"></a></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td height="10"></td></tr>
            <tr>
              <td style="padding:0;" align="center">
                <p style="font-size: 12px; color: #AFAFAF; text-align: center; padding: 0; margin: 0;">This email was sent to <%= @email %> <br/><% unless (show_unsubscribe rescue false) %>
                  <% if member = (Member.find_by(email: @email) rescue nil) %>
                    <br/>If you no longer wish to receive these emails you may <a href="<%= APP_CONFIG['default_host'] + "/unsubscribe?sub_id=#{member.id rescue nil}&mtype=#{@type || 0}"%>" style="text-decoration: none; color: #14953A;">unsubscribe</a> at any time.
                  <% end %>
                <% end %>
                <br/>Nurturey Limited<br/><br/>Contact us at <a href="mailto:support@nurturey.com" style="text-decoration: none; color: #14953A;">support@nurturey.com</a></p><br/>

                <p style="font-size: 12px; margin: 0; padding: 0;color: #AFAFAF;"><a href="<%= APP_CONFIG["default_host"]%>/home/privacy" style="text-decoration: none; color: #14953A;">Privacy Policy</a>&nbsp;|&nbsp;<a href="<%= APP_CONFIG["default_host"]%>/home/terms" style="text-decoration: none; color: #14953A;">Terms and conditions</a></p>
              </td>
            </tr>
            <tr><td height="30" style="padding:0;"></td></tr>
          </table>
        </td>
        <td width="30" style="padding:0;"></td>
      </tr>
    </table>
  </td>
</tr>