<tr>
  <td style="padding-bottom:20px;"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/logo.jpg" alt="Nurturey" width="115" height="39" class="responsive-image" style="display: inline-block;"/></td>
</tr>