
<!-- FOOTER -->

<!-- App stores -->
<%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
<!-- App stores Ends--> 



<!-- Copyright & Links -->
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>
<!-- Footer Ends -->