<tr>
        <td align="center" style="padding-top: 30px;">
          <a href="https://www.facebook.com/nurtureyonweb?ref=hl"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/facebook.jpg" alt="Facebook" width="9px" height="18px" style="display: inline-block; padding-right:10px;"/></a>
          <a href="<%=APP_CONFIG['youtube_url']%>"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/youtube.jpg" alt="Youtube" width="26px" height="18px" style="display: inline-block; padding-left:10px;"/></a>
        </td>
      </tr>

      <tr>
        <td class="footer-text" width="100%" align="center" style="text-align: center; font-size: 12px; color: #AFAFAF; width: 400px; padding: 20px;"><p style="margin: 0px;font-size: 12px;">This email was sent to <a style="color: #14953A;text-decoration: none;" href="#"> <%=GlobalSettings::SupportEMail%></a>.<br/>If you no longer wish to receive these emails you may unsubscribe at any time. <br/>Nurturey, London. <br/><br/>Contact us at <a style="color: #14953A;text-decoration: none;"  href="mailto:<%=GlobalSettings::SupportEMail%>"><%=GlobalSettings::SupportEMail%></a></p></td>
      </tr>
