<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="30"></td>
    <td class="logo" style="padding:0;"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/logo.jpg" width="115" alt="Nurturey" style="border:0;"></td>
  </tr>
</table>
