<tr>
  <td>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="30"></td>
        <td><p style="padding:0; margin: 0; line-height:26px; color: #6B6B6B;">Have a great day!<br/>Kind regards,<br/>Team Nurturey</p></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="30" style="padding:0;"></td>
</tr>
