<tr>
              <td style="border-top:1px solid #efefef; padding-top:20px;">
                
                <!-- Appstore buttons starts -->
                
                <!--[if (gte mso 9)|(IE)]>
                <table width="380" align="left" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td>
                <![endif]-->

                <table align="left" class="stores" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="font-size: 12px; padding-bottom: 10px;" ><p style="margin: 0px;font-size: 12px;"><strong>Nurturey mobile App available on</strong></p></td>
                </tr>

                <tr>
                  <td>
                    <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" style="text-decoration: none;"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/AppleStore.jpg" alt="AppleStore" width="150px" height="50px" style="display: inline-block; padding-right: 10px;"/></a>
                    <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" style="text-decoration: none;"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/GooglePlay.jpg" alt="GooglePlay" width="150px" height="50px" style="display: inline-block;"/></a>
                  </td>
                </tr>
                </table>

                <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
                </table>
                <![endif]-->
              
                <!--[if mso]></td><td><![endif]-->

                <!-- Social icon table start -->

              </td>
            </tr>
            
          </table> <!-- end of email container -->
        </td>
      </tr>