<tr>
  <td style="padding:0;text-align: right;">
    <p style="font-size: 14px; margin: 0; padding: 0;">
      <a href="<%= APP_CONFIG['default_host']%>/mails_view/<%= url_params.to_query %>" target="_blank" style="text-decoration: none; color:#6B6B6B ">View in browser</a>
    </p>
  </td>
</tr>
