<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
<style type="text/css">

      @media screen and (max-width: 600px) {

        table[class="main-container"] {
          width: 100% !important;
          max-width: 100%;
        }
        
        table[class="emailContainer"] {
        min-width: 100% !important;
        padding: 10px;
        padding:30px 0px;
        }
        
        
        table[class="stores"] {
          text-align: left;
          width: 100% !important;

        }

        table[class="social-icons"] {
          width: 100% !important;
          padding: 20px 0px;
        }

        table .social-icons .a img {
          text-align: left;
        }

        td[class="find-us-txt"] {
          padding-bottom: 10px;
        }

      }
  
  </style>

  <body style="font-family:'Helvetica', Arial, sans-serif; padding: 0px; margin: 0px; min-width: 100%!important; background-color: #F8F8F8; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
    
    <!--[if (gte mso 9)|(IE)]>
      <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
    <![endif]-->

    <table class="main-container" border="0px" width="600" align="center" cellpadding="0" cellspacing="0" style="padding-top:30px; width: 100%; max-width: 600px;">
      <tr>
        <td>
          <table class="email-container" border="0px" width="100%" cellpadding="0" cellspacing="0" style="padding:30px 20px; background-color: white; width: 100%;">
            
          <!-- 1st row starts -->
            <%= render :partial=>"layouts/updated_mailer_layout/first_row"%>
           
            
            <!-- 2nd Row starts -->
            <%= yield %>
            <!-- 3rd Row -->
            <%= render :partial=>"layouts/updated_mailer_layout/third_row" %>

      <!-- 4th Row / Footer starts -->
       <%= render :partial=>"layouts/updated_mailer_layout/fourth_row" %>
    </table> <!-- end of main container -->
    <!--[if (gte mso 9)|(IE)]>
        </td>
      </tr>
    </table>
    <![endif]-->
  </body>
</html>