<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
      <!--[if (gte mso 9)|(IE)]>
        <style type="text/css">
          table {border-collapse: collapse;}
        </style>
      <![endif]-->
    </head>
    <body style="background-color:#F8F8F8;margin:0 !important;padding:0 !important;">
      <center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
        <div class="webkit" style="max-width:600px;margin:0 auto;">
          <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center">
              <tr>
                <td>
          <![endif]-->
          <table class="outer" align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;">
            <tr>
              <td height="30" style="padding:0;"></td>
            </tr>

            <!-- View in browser functionality -->
            <%= yield :view_in_browser_content %>

            <tr><td height="10"></td></tr>
            <tr>
              <td style="padding:0;">
                <!-- Email Container 600px -->
                <table class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;background-color:#ffffff;">
                  <tr>
                    <td height="30" style="padding:0;"></td>
                  </tr>
                  <tr>
                    <td>
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="30"></td>
                          <td class="logo" style="padding:0;"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/Logo.jpg" width="115" alt="Nurturey" style="border:0;"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="one-column" style="padding:0;">
                      <!-- Headline Table -->
                      <%= yield :head_table_content %>
                    </td>
                  </tr>
                  
                  <tr>
                    <td height="30" style="padding:0;"></td>
                  </tr>
                  <!-- Body Text -->
                  <tr>
                    <td class="one-column" style="padding:0;">
                      <%= yield :body_content %>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding: 0; margin: 0"></td></tr>
                  <tr>
                    <td>
                      <%= yield %>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding: 0; margin: 0"></td></tr>
                  <!-- Regard Text -->
                  <%= render :partial=>"layouts/updated_mailer_layout/regard_text" %>
                  <!-- App stores -->
                </table>
              </td>
            </tr>
            <!-- Email Container 600px Ends -->
            <!-- Footer -->
              <%= render :partial=> "layouts/updated_mailer_layout/footer" %>
            <!-- Footer Ends -->
          </table>
        </div>
      </center>
    </body>
  </html>