<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <%= link_to "System Settings", "/admin/system_settings" %> 
 <br/>
 <br/>
 <%= @system_setting.errors.full_messages.first if @system_setting.errors.any? %>

<%= form_for @system_setting,url:"/admin/system_settings/#{@system_setting.id}", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Update Setting</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

     <div class="form-row">
        <label class="form-label">Name(eg. PopupLuanch)</label>
         <%= f.text_field :name, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Status</label>
         <%= f.select :status, options_for_select(['Active','Draft'],@system_setting.status), :class => 'custom-select1  ' %> 
    </div> 
    <div class="form-row">
        <label class="form-label">Description(eg. Launch after 5 signin count, 100 popup per day)</label>
         <%= f.text_area :description, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">setting values(eg, {"sigin_count"=>5,"per_day_limit"=>100})</label>
         <%= f.text_area :setting_values, class: "js-name textBx-type2"  %>
         
    </div> 
   <!--  <div class="form-row">
      <label class="form-label">Limit per day</label>
      <%#= f.select :per_day_limit, options_for_select((10..10000).step(10),@system_setting.per_day_limit), :class => 'custom-select1  ' %> 
    </div>
    <div class="form-row">
        <label class="form-label">Sigin in count</label>
         <%#= f.select :per_day_limit, options_for_select((10..10000).step(10),@system_setting.per_day_limit), :class => 'custom-select1  ' %> 
    </div>  --> 

    <div class="form-type3"><div class="form-action-row">
      <%= f.submit "Update", class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
 <%= button_to "Cancel", "/admin/system_settings", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
 