  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#system_setting').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-setting').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_system_setting",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> System Settings </h2>
<br/>
<%= link_to "Add New System Setting", "/admin/system_settings/new_setting" %>
 
<br/>
<br/>
<table id="system_setting" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th></th>
            <th>Name                      </th>
            <th>Description               </th>
            <th>Status                    </th>
            <th>Setting Values             </th>
            <th>Action                     </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Name                      </th>
            <th>Description               </th>
            <th>Status                    </th>
            <th>Setting Values             </th>
            <th>Action                     </th>
          </tr>
        </tfoot>
        <tbody>
          
     <% (@system_settings||[]).each do | setting |  %>
        <tr id="dataRow1">
            <td></td>
            <td class="js-delete"> <%= setting.name %></td>
            <td> <%= setting.description%>  </td>
            <td> <%= setting.status%>  </td>
            <td> <%= JSON.pretty_generate(setting.setting_values) %>  </td>
            <td> <%=link_to "","/admin/system_settings/#{setting.id}/edit",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/system_settings/delete_system_setting?id=#{setting.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{setting.id}" %>
            </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
    
  </div> -->
  <div class="CL"></div>
 
