<%
resource = :user
resource_name = "user"
%>
<div class="bodyBox1">
  <div class="loginBox formBorder">
 
    <div class="messageOrange">
      <p><b>Please fill in your email and we will send you a link to reset your password
      </b><br>
    </div>
    <div class="RegiFormBox noBorder">
      <%= form_for(resource, :as => resource_name, :url =>  user_password_path, :html => { :method => :post, :class => "form-horizontal" }) do |f| %> 
      <div class="formRow">
        <label>Email</label>
        <%= f.email_field :email, :class=>"inputType1", :autofocus => true, :placeholder => "Email" %>
        <div class="CL"></div>
      </div>
      <div class="formRow popActionBtn">
        <input type="submit" class="buttonType4" value="Submit">
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(".buttonType4").click(function(){
    if($("#user_email").val().length > 0){
      $(".messageOrange").hide();
    }else{
      $(".messageOrange").show();
    }
  });

  if($("#notice-message").html().length > 0){
    var error_msg = $("#notice-message").html();
    $(".messageOrange").html(error_msg);
    $("#notice-message").hide();
    $(".messageOrange").show();
  }

</script>
