<% if @success %>
 $(".error").html("");
 $(".js-close-setting").click();
 $(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
<% else %>
  $(".error").html("<%= @error %>");
 // $(".js-close-setting").click();
<% end %>