<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <%#= link_to "organization List", "/admin/organization_for_admin_panel" %> 
 <br/>
 <br/>
 <br/>
 <%= @organization.errors.full_messages.first if @organization.errors.any? %>
<% @url = @organization.new_record? ? "/admin/clinic/create_organization" : "/admin/clinic/update_organization"%>
<%= form_for @organization,url: @url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @organization.new_record? ? "Add" : "Update"%> organization</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    
    
    <div class="form-row">
        <label class="form-label">Name</label>
         <%= f.text_field :name, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">UID</label>
         <%= f.text_field :uid, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Clinic Type(eg. smrthi)</label>
         <%= f.text_field :clinic_type, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Clinic ID(eg. For smrthi 1)</label>
         <%= f.text_field :clinic_id, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Address</label>
         <%= f.text_field :address, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">PostCode</label>
         <%= f.text_field :postcode, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Longitude</label>
         <%= f.text_field :longitude, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Latitude</label>
         <%= f.text_field :latitude, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Phone no</label>
         <%= f.text_field :phone_no, class: "js-name textBx-type2"  %>
    </div> 

     
    <% if !@organization.new_record?%>
    <%= hidden_field_tag :id,@organization.id%>
    <% end %>
    <div class="form-type3"><div class="form-action-row">
       <%= f.submit (@organization.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
  
    </div></div>
  </div>
</div>
<% end %>
 <%= link_to "Cancel", "/admin/clinic/", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
 