<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <%#= link_to "organization List", "/admin/organization_for_admin_panel" %> 
 <br/>
 <br/>
 <br/>
 <%= @organization_user.errors.full_messages.first if @organization_user.errors.any? %>
<% @url = @organization_user.new_record? ? "/admin/clinic/create_organization_user" : "/admin/clinic/update_organization_user"%>
<%= form_for @organization_user,url: @url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"><%= @organization_user.new_record? ? "Add" : "Update"%> organization user</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    
    
    <div class="form-row">
        <label class="form-label">Name</label>
         <%= f.text_field :name, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">UID</label>
         <%= f.text_field :uid, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Email</label>
         <%= f.text_field :email, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Phone No</label>
         <%= f.text_field :phone_no, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Organization</label>
        <%= f.select :organization_id, options_from_collection_for_select(Clinic::Organization.all,:id,:name,(@organization.id rescue nil)),:include_blank=>true, :class => 'custom-select1  ' %> 
          
    </div> 

     
    <% if !@organization_user.new_record?%>
    <%= hidden_field_tag :id,@organization_user.id%>
    <% end %>
    <div class="form-type3"><div class="form-action-row">
       <%= f.submit (@organization_user.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
  
    </div></div>
  </div>
</div>
<% end %>
 <%= link_to "Cancel", "/admin/clinic/", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
 