<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <%= link_to "All Organization", "/admin/clinic" %> 
 <br/>
 <br/>
<%= render :partial=>"/admin/clinic/organization_form" %>