<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <%= link_to "All Organization", "/admin/clinic" %>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
 <%= link_to "All OrganizationUser", "/admin/clinic/list_organization_user" %> 
 <br/>
 <br/>
<%= render :partial=>"/admin/clinic/organization_user_form" %>