<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <%#= link_to "organization List", "/admin/organization_for_admin_panel" %> 
 <br/>
 <br/>
 <br/>
<% @url = "/admin/clinic/save_imported_organization_user"%>
 <%= @error_message %>
<%= form_for @organization_user,url: @url, :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1"> Import organization user</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    
    
    <div class="form-row">
        <label class="form-label">User Details file(Only xlsx)</label>
         <%= file_field_tag :user_list, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Organization</label>
        <%= f.select :organization_id, options_from_collection_for_select(PatientAccess::Organization.all,:id,:name,(params[:organization_id])),:include_blank=>true, :class => 'custom-select1  ' %> 
          
    </div> 
         <%#= hidden_field_tag :organization_id,(@organization.id rescue nil)  %>
     
    <div class="form-type3"><div class="form-action-row">
       <%= f.submit "Import", class: "btn btn-type2", disable_with: "Importing.."  %>
  
    </div></div>
  </div>
</div>
<% end %>
 <%= link_to "Cancel", "/admin/clinic/", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>
 