  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#organization').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-organization').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_organization",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> Organization List </h2>
<br/>
<%= link_to "Add New Organization", "/admin/clinic/new_organization" %>
 &nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "All Organization Users", "/admin/clinic/list_organization_user" %>
<br/>
<br/>
<table id="organization" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                 </th>
            <th>Name             </th>
            <th>UId              </th>
            <th>Clinic Type      </th>
            <th>Clinic ID        </th>
            <th>Address          </th>
            <th>PostCode         </th>
            <th>Longitude         </th>
            <th>Latitude         </th>
            <th>Phone No         </th>
            <th>Action           </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <tr>
            <th>                 </th>
            <th>Name             </th>
            <th>UId              </th>
            <th>Clinic Type      </th>
            <th>Clinic ID        </th>
            <th>Address          </th>
            <th>PostCode         </th>
            <th>Longitude         </th>
            <th>Latitude         </th>
            <th>Phone No         </th>
            <th>Action           </th>
          </tr>
        </tfoot>
        <tbody>
          
     <% @organizations.each do | organization |  %>
        <tr id="dataRow1">
            <td></td>
            <td class="js-delete"> <%= organization.name %></td>
            <td> <%= organization.uid%>  </td>
            <td> <%= organization.clinic_type %>  </td>
            <td> <%= organization.clinic_id %>  </td>
            <td> <%= organization.address%>  </td>
            <td> <%= organization.postcode%>  </td>
            <td> <%= organization.longitude%>  </td>
            <td> <%= organization.latitude%>  </td>
            <td> <%= organization.phone_no%>  </td>

            <td> 
            <%=link_to "list users","/admin/clinic/list_organization_user?organization_id=#{organization.id}",class: "txt-link-type2 ",style:"width:70px;"  %>    
            <%=link_to "","/admin/clinic/#{organization.id}/edit",class: "icon-pencil txt-link-type2",style:"width:70px;"  %>
            <%= link_to "", "/admin/clinic/delete_organization?id=#{organization.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{organization.id}",style:"width:70px;" %>
            </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
