  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#organization_user').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-organization_user').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_organization_user",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> Organization User List </h2>
<br/>
<br/>
<% if @organization.present?%>
<h3>Organization: <%=@organization.name%></h3>
<% end %>
<br/>
<br/>

<%= link_to "Add New organization user", "/admin/clinic/new_organization_user?organization_id=#{@organization.id rescue nil}" %>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <%= link_to "Import organization user", "/admin/clinic/import_user_from_file?organization_id=#{@organization.id rescue nil}" %>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "List Organization", "/admin/clinic" %>

<br/>
<br/>
<table id="organization_user" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                </th>
            <th>Name            </th>
            <th>UId              </th>
            <th>Email           </th>
            <th>Phone No        </th>
            <th>Action          </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>                </th>
            <th>Name            </th>
            <th>UId              </th>
            <th>Email           </th>
            <th>Phone No        </th>
            <th>Action          </th>
          </tr>
        </tfoot>
        <tbody>
          
     <% @organization_users.each do | organization_user |  %>
        <tr id="dataRow1">
            <td></td>
            <td class="js-delete"> <%= organization_user.name %></td>
            <td> <%= organization_user.uid%>  </td>
            <td> <%= organization_user.email%>  </td>
            <td> <%= organization_user.phone_no%>  </td>
            <td>
              <%#=link_to "Organization","/admin/clinic/get_organization_detail?id=#{organization_user.organization_id}",class: "txt-link-type2 ",style:"width:70px;"  %>
             <%=link_to "","/admin/clinic/edit_user?id=#{organization_user.id}",class: "icon-pencil txt-link-type2 ",:style=>"width:70px;"  %>
              <%= link_to "", "/admin/clinic/delete_organization_user?id=#{organization_user.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{organization_user.id}" %>
            </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
