  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-card').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_action_card",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> Action Card List </h2>
<br/>
<%= link_to "Add New Action Card", "/admin/action_card_list_maintenance/new_action_card" %>
 
<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th></th>
            <th>Name                          </th>
            <th>Priority                      </th>
            <th>Header                        </th>
            <th>Line1                         </th>
            <th>Tech line1                    </th>
            <th>Line2                         </th>
            <th>Tech Line2                    </th>
            <th>Line3                         </th>
            <th>Tech Line3                    </th>
            <th>Line4                         </th>
            <th>Tech Line4                    </th>
            <th>Button                        </th>
            <th>Image                         </th>
            <th>Dismissable                   </th>
            <th>Supported Api Version         </th>
            <th>Card Status                   </th>
            <th>Card Type                     </th>
            <th>Notification Message          </th>
            <th>Tech Notification Message     </th>
            <th>Action                        </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Name                          </th>
            <th>Priority                      </th>
            <th>Header                        </th>
            <th>Line1                         </th>
            <th>Tech line1                    </th>
            <th>Line2                         </th>
            <th>Tech Line2                    </th>
            <th>Line3                         </th>
            <th>Tech Line3                    </th>
            <th>Line4                         </th>
            <th>Tech Line4                    </th>
            <th>Button                        </th>
            <th>Image                         </th>
            <th>Dismissable                   </th>
            <th>Supported Api Version         </th>
            <th>Card Status                     </th>
            <th>Card Type                     </th>
            <th>Notification Message          </th>
            <th>Tech Notification Message                   </th>
            <th>Action                        </th>
             
          </tr>
        </tfoot>
        <tbody>
          
     <% @action_cards.each do | action_card |  %>
        <tr id="dataRow1">
            <td></td>
            <td> <%= action_card.name %></td>
            <td> <%= action_card.priority %></td>
            <td> <%= action_card.header%>  </td>
            <td> <%= action_card.line1 %>  </td>
            <td> <%= action_card.tech_line1 %></td>
            <td> <%= action_card.line2 %>  </td>
            <td> <%= action_card.tech_line2 %></td>
            <td> <%= action_card.line3 %>  </td>
            <td> <%= action_card.tech_line3 %>  </td>
            <td> <%= action_card.line4 %>  </td>
            <td> <%= action_card.tech_line4 %>  </td>
            <td> <%= action_card.button %>  </td>
            <td> <%= action_card.image %>  </td>
            <td> <%= action_card.dismissable%>  </td>
            <td> <%= action_card.supported_api_version%>  </td>
            <td> <%= action_card.card_status %>  </td>
            <td> <%= action_card.card_type %>  </td>
            <td> <%= action_card.notification_msg %>  </td>
            <td> <%= action_card.tech_notification_msg %>  </td>
             
            <td> <%=link_to "","/admin/action_card_list_maintenance/#{action_card.id}/edit",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/tool_list_maintenance/delete_action_card?id=#{action_card.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{action_card.id}" %>
            </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
