<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <%#= link_to "Role List", "/admin/role_for_admin_panel" %> 
 <br/>
 <br/>
 <br/>
 <%= @action_card.errors.full_messages.first if @action_card.errors.any? %>

<%= form_for @action_card,url:"/admin/action_card_list_maintenance", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Add Action Card</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
        <label class="form-label">Name</label>
         <%= f.text_field :name, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Priority</label>
        <%= f.select :priority, options_for_select((1..50),@action_card.priority), :class => 'custom-select1  ' %>
          
    </div>

    <div class="form-row">
        <label class="form-label">Header</label>
         <%= f.text_field :header, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
        <label class="form-label">Line1</label>
         <%= f.text_field :line1, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Tech Line1</label>
         <%= f.text_field :tech_line1, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
        <label class="form-label">Line2</label>
         <%= f.text_field :line2, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Tech Line2</label>
         <%= f.text_field :tech_line2, class: "js-name textBx-type2"  %>
    </div>


    <div class="form-row">
        <label class="form-label">Line3</label>
         <%= f.text_field :line3, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Tech Line3</label>
         <%= f.text_field :tech_line3, class: "js-name textBx-type2"  %>
    </div>
 
    <div class="form-row">
        <label class="form-label">Line4</label>
         <%= f.text_field :line4, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Tech Line4</label>
         <%= f.text_field :tech_line4, class: "js-name textBx-type2"  %>
    </div>



    <div class="form-row">
      <label class="form-label">Dismissable</label>
      <%= f.select :dismissable, options_for_select(['true','false'],@action_card.dismissable), :class => 'custom-select1  ' %>   
    </div> 

    
    <div class="form-row">
      <label class="form-label">Supported Api Version</label>
      <%= f.select :supported_api_version, options_for_select((1..10),@action_card.supported_api_version), :class => 'custom-select1  ' %>
    </div>

    <div class="form-row">
        <label class="form-label">Image</label>
         <%= f.text_field :image, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
        <label class="form-label">Button</label>
         <%= f.text_field :button, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Notification Message</label>
         <%= f.text_field :notification_msg, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Tech Notification Message</label>
         <%= f.text_field :tech_notification_msg, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Card Type</label>
         <%= f.text_field :card_type, class: "js-name textBx-type2"  %>
    </div>
    
    <div class="form-row">
      <label class="form-label">Card Status</label>
      <%= f.select :card_status, options_for_select(["Draft","Active","Inactive"],@action_card.card_status), :class => 'custom-select1  ' %>
    </div>

 
    <div class="form-type3">
      <div class="form-action-row">
        <%= f.submit "Create", class: "btn btn-type2", disable_with: "Saving.."  %>
      </div>
    </div>

  </div>
</div>
<% end %>
  
 <%= button_to "Cancel", "/admin/action_card_list_maintenance", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>


 