
<br/>
<br/>
<br/>

<h2> System Pointer Links </h2>
<br/>

   <%= link_to "Add Pointer Link", "/admin/pointers/new_pointer_link" %>
   
<br/>
<br/>
 
<table id="pointer-links" class="display" cellspacing="0" >
</table>
<div class="CL"></div>
 
  <script type="text/javascript">
   
   $(document).ready(function() {
    var t = $('#pointer-links').DataTable( {
       "scrollX":true,      

        "rowCallback": function( row, data, iDisplayIndex ) {
           var info = $(this).DataTable().page.info();
           var page = info.page;
           var length = info.length;
           var index = (page * length + (iDisplayIndex +1));
           $(row).addClass("js-row-"+ data._id);
           $('td:eq(0)', row).html(index);
        }     ,
       "columns":[
          {"title":"",                "data":null}, 
          {"title":"Pointer ID",      "data":"custome_id"}, 
          {"title":"Priority",        "data":"link_order"}, 
          {"title":"Link",            "data":"name"},
          {"title":"Source Name",     "data":"title"},
          {"title":"Link title",      "data":"source"}, 
          {"title":"Link type",       "data":"type"}, 
          {"title":"Link image url",  "data":"image_url"}, 
          {"title":"Status",          "data":"status"}, 
          {"title":"country",         "data":"country"}, 
          {"title":"Url Status",      "data":"link_url_status"}, 
          {"title":"Image Url Status","data":"link_image_url_status"}, 
          {"title":"Action",
            mRender: function (data, type, row) {
                 return '<a href="/admin/pointers/edit_pointer_link?id=' + row._id + '&amp;source=pointer_controller" class="txt-link-type2 txt-link-type2q" style="width:70px;" target="_blank">Edit</a><a href="/admin/pointers/delete_pointer_link?id='+row._id+ '" class="qicon-trash-o txt-link-type2q js-' + row._id+ '" data-confirm="Are you sure you want to delete?" data-remote="true" style="width:70px;">Delete</a> <a href="/admin/pointers/clone_pointer_link?id='+row._id+'" class="txt-link-type2 " data-remote="true" style="width:70px;">Duplicate</a><a href="/admin/pointers/validate_pointer_link?pointer_link_id='+row._id+'" class="txt-link-type2 " data-remote="true" style="width:70px;">Validate Link</a>'
          }
        }
      
        ],
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 0, "asc" ]],
        "serverSide": true,
        "pageLength":100,
        "ajax": {
            url: '/admin/pointers/paginated_link_data',
            "data":{id:"<%=params[:id]%>"},
            "dataSrc": 'pointer_links'

        } 
      });

    //new $.fn.dataTable.FixedHeader( t );

    $('.js-delete').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      
      $.ajax({
        url: "delete_scenario",
        "data": {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );


      $('#pointer-links thead th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

} );


 </script> 
 <style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 40px 0px 1px;
}

.dataTables_scrollBody{
  min-height: 123px !important;
}
div.container {
        width: 80%;
    }

 </style>
<div id="clone-dialog"></div>