<% @system_pointer = system_pointer %>
<%= form_for @system_pointer,url:"/admin/pointers/update_pointer", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Edit System Pointer</h2>
  Pointer Custom id : <%= @system_pointer.custome_id%><br/>
  <br/>
  
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    <div class="form-row">
        <label class="form-label">Status</label>
         <%= f.select :status, options_for_select(['Draft','Testing','DevReview', 'Active','Deactive'],@system_pointer.status), :class => 'custom-select1  ' %> 
    </div> 

    <div class="form-row">
        <label class="form-label">Pointer Type(General/Affiliate)</label>
         <%= f.select :pointer_type, options_for_select(['General','Affiliate'],@system_pointer.pointer_type), :class => 'custom-select1  ' %> 
         
    </div> 

    <%= f.hidden_field :id, value:@system_pointer.id%>



    <div class="form-row">
        <label class="form-label">Topic</label>
        <%= f.text_field :topic, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
    <% scenario_detail = (@system_pointer.scenario_detail || {}) rescue {}%>
        <label class="form-label">Scenario(Type ID/Scenario description below to select)</label>
        <%= autocomplete_field_tag :system_scenario_custome_id,'',autocomplete_system_scenario_scenario_details_title_admin_pointers_path,:value=>"ID: #{scenario_detail['custome_id']},  Title: #{scenario_detail['title']}", :id_element=>'#sys_article_ref_system_scenario_detail_custome_id',:size=>120,'data-auto-focus' => true ,'min-length' => 0,:onfocus=>"javascript:$(this).autocomplete('search',' ');" %>
        
        <%=f.hidden_field :system_scenario_detail_custome_id,:value=>scenario_detail["custome_id"] %>
    </div>
    <!-- 
    <div class="form-row">
        <label class="form-label">Scenario ID</label>
        <div class="system_scenario_detail_custome_id"><%=@system_pointer.system_scenario_detail_custome_id%></div>
        
    </div> -->
    <div class="form-row">
        <label class="form-label">Notification Expiry</label>
        <%= f.text_field :notification_expiry, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Notification Expiry in tech</label>
        <%= f.text_field :notification_expiry_tech, class: "js-name textBx-type2"  %>
    </div>
 <div class="form-row">
        <label class="form-label">Exclusion</label>
        <%= f.text_field :exclusion, class: "js-name textBx-type2"  %>
    </div>
 
     
    
     
    </div>
    <div class="form-type3">
      <div class="form-action-row">
        <%= f.submit "Update",name:"update", class: "btn btn-type2", disable_with: "Update"  %>
      </div>
    </div>

    <span class="js-next-pointer">
  <%if @next_pointer_custome_id < @max_custome_id %>

    <%= f.submit "Update and Edit Next", name:"update_and_edit_next", class: "btn btn-type2", disable_with: "Update and Edit Next"  %>
     <%#= link_to "Edit Next Pointer", "/admin/pointers/edit_next_pointer?id=#{@next_pointer_custome_id}", remote:true, :class=> "btn btn-type2" %>
    <% end %>
</span>
  </div>
</div>
<% end %>

 <%= button_to "Cancel", "/admin/pointers/#{@system_pointer.id}", :method => "get",class: "btn btn-type2"  %>
 
 <%#= button_to "Edit Scenario", "/admin/pointers/#{@system_pointer.id}", :method => "get",class: "btn btn-type2"  %>


<%scenario = @system_pointer.scenario_detail%>
<% if scenario.present?%>
 <%#=link_to "Edit Scenario","#html",:data=>{:pop=>"/admin/scenario_details/edit_scenario?id=#{scenario.id}",:height=>"500", :width => "810" },class: "btn btn-type2",style:"width:70px;" %>
<% end %>

<span class="js-previous-pointer" style="float: right">
  <% if @previous_pointer_custome_id > 0  %>
    <%= link_to "Edit Previous Pointer", "/admin/pointers/edit_previous_pointer?id=#{@previous_pointer_custome_id }", remote:true, :class=> "btn btn-type2" %>
    <% end %>
</span>
<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  $("body").on('keyup',"#system_scenario_custome_id", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
      if($("#system_scenario_custome_id").val().length < 1){
        $("#system_scenario_custome_id").focus();
      }
    }
  });
})
  
</script>