<% @system_pointer_link = system_pointer_link %>
<%= form_for @system_pointer_link,url:"/admin/pointers/update_pointer_link", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Edit System Pointer Link</h2>
  Pointer custom id: <%=@system_pointer_link.custome_id%>
  <%#= link_to "Back to Pointer", "/admin/pointers/#{@system_pointer.id}"%>&nbsp;&nbsp;&nbsp;&nbsp;
  <br/>
  <br/>
  <span class="js-next-pointer">
  <%if @next_pointer_link_id.present? %>
     <%= link_to "Edit Next Pointer link", "/admin/pointers/edit_next_pointer_link?id=#{@next_pointer_link_id}", remote:true %>
    <% end %>
</span>
<span class="js-previous-pointer" style="float: right">
  <% if @previous_pointer_link_id.present?  %>
    <%= link_to "Edit Previous Pointer link", "/admin/pointers/edit_previous_pointer_link?id=#{@previous_pointer_link_id }", remote:true %>
    <% end %>
</span>
  <br/>
  
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    
     <div class="form-row">
        <label class="form-label">Priority</label>
         <%= f.select :link_order, options_for_select((1..10),@system_pointer_link.link_order), :class => 'custom-select1  ' %> 
        <%#= f.text_field :status, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Link</label>
        <%= f.text_field :name, class: "js-name textBx-type2"  %>
    </div>

<div class="form-row">
    <% system_pointer = (@system_pointer || {}) rescue {}%>
        <label class="form-label">Pointer(Type ID/Pointer topic below to select)</label>
        <%= autocomplete_field_tag :sys_article_ref_link_detail_custome_id,'',autocomplete_system_pointer_custom_id_admin_pointers_path,:value=>"ID: #{system_pointer['custome_id']},  Title: #{system_pointer['topic']}", :id_element=>'#sys_article_ref_link_custome_id',:size=>120,'data-auto-focus' => true ,'min-length' => 0,:onfocus=>"javascript:$(this).autocomplete('search',' ');" %>
        
        <%=f.hidden_field :custome_id %>
    </div>

    <div class="form-row">
        <label class="form-label">Source Name</label>
        <%= f.text_field :title, class: "js-name textBx-type2"  %>
    </div>
    <%= f.hidden_field :id, value:@system_pointer_link.id%>
    
    <div class="form-row">
        <label class="form-label">Link title</label>
        <%= f.text_field :source, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Link type</label>
         <%= f.select :type, options_for_select(['Article','Video'],@system_pointer_link.type), :class => 'custom-select1  ' %> 
    </div> 
    <div class="form-row">
        <label class="form-label">Link image url</label>
        <%= f.text_field :image_url, class: "js-name textBx-type2"  %>
    </div> 

      <div class="form-row">
        <label class="form-label">Status</label>
         <%= f.select :status, options_for_select(['Draft','Testing','DevReview', 'Active','Deactive'],@system_pointer_link.status), :class => 'custom-select1  ' %> 
    </div> 

  
    <div class="form-row">
        <label class="form-label">Country</label>
        <%= f.select :country, options_for_select(@counteries,@system_pointer_link.country), :class => 'custom-select1  ' %> 
    </div> 


     
    
     
    </div>
    <div class="form-type3"><div class="form-action-row">
      <%= f.submit "Update", class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div>
<span class="js-next-pointer">
  <%if @next_pointer_link_id.present?  %>

    <%= f.submit "Update and Edit Next", name:"update_and_edit_next", class: "btn btn-type2", disable_with: "Update and Edit Next"  %>
     <%#= link_to "Edit Next Pointer", "/admin/pointers/edit_next_pointer?id=#{@next_pointer_custome_id}", remote:true, :class=> "btn btn-type2" %>
    <% end %>
</span>

    </div> 
  </div>
</div>
<% end %>
<% if @system_pointer.present?%>
<%= button_to "Cancel", "/admin/pointers/#{@system_pointer.id}", :method => "get",class: "btn btn-type2" %>
<% else %>
<%= button_to "Cancel", "/admin/pointers/all_pointer_links", :method => "get",class: "btn btn-type2" %>
<% end %>

<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  $("body").on('keyup',"#sys_article_ref_link_detail_custome_id", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
      if($("#sys_article_ref_link_detail_custome_id").val().length < 1){
        $("#sys_article_ref_link_detail_custome_id").focus();
      }
    }
  });
})
  
</script>