<% @system_scenario = System::Scenario::ScenarioDetail.new%>
<%= form_for @system_scenario,url:"/admin/pointers/update_pointer", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Edit System Scenario</h2>
  Pointer Custome id : <%= @system_scenario.custome_id%><br/>
  <br/>
  
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

<div class="form-row">
        <label class="form-label">Stage</label>
         <%= f.text_field :stage, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Category in tech</label>
        <%= f.text_field :category, class: "js-name textBx-type2"  %>
    </div> 


     <div class="form-row">
        <label class="form-label">Scenario title</label>
        <%= f.text_field :title, class: "js-name textBx-type2"  %>
    </div>      
    <div class="form-row">
        <label class="form-label">Scenarios title in tech</label>
        <%= f.text_field :title_in_tech, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Condition</label>
        <%= f.text_field :condition, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
        <label class="form-label">Condition in tech</label>
        <%= f.text_field :condition_in_tech, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Score</label>
        <%= f.text_field :score, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Ds</label>
        <%= f.text_field :ds, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Ds in tech</label>
        <%= f.text_field :ref_start_date, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Dp</label>
        <%= f.text_field :dp, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Dp in tech</label>
        <%= f.text_field :ref_peak_rel_date, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Dexp</label>
        <%= f.text_field :dexp, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Dexp in tech</label>
        <%= f.text_field :ref_expire_date, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">N_factor</label>
        <%= f.text_field :N_factor, class: "js-name textBx-type2"  %>
    </div> 
