var t = $('#example2').DataTable();
     t.row.add( [
           '222',
            "<%= @cloned_sys_pointer_link.id %>",
            "<%= @cloned_sys_pointer_link.link_order%>  ",
            " <%= @cloned_sys_pointer_link.name%>   ",
            " <%= @cloned_sys_pointer_link.title %>",
            " <%= @cloned_sys_pointer_link.source %> ",
            " <%= @cloned_sys_pointer_link.type   %> ",
            " <%= @cloned_sys_pointer_link.image_url %> ",
            " <%= @cloned_sys_pointer_link.link_url_status %> ",
            " <%= @cloned_sys_pointer_link.link_image_url_status %> ",
            " <%= @cloned_sys_pointer_link.status %> ",
            " <%= @cloned_sys_pointer_link.country %> ",
             
           ' <%=link_to "","/admin/pointers/edit_pointer_link?id=#{@cloned_sys_pointer_link.id}",class: "icon-pencil txt-link-type2 " %> <%= link_to "", "/admin/pointers/delete_pointer_link?id=#{@cloned_sys_pointer_link.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{@cloned_sys_pointer_link.id}" %> <%=link_to "Duplicate","/admin/pointers/clone_pointer_link?id=#{@cloned_sys_pointer_link.id}",class: "txt-link-type2 ",remote: true  %>'
        ] ).draw( true );
 
         
             
$( "#clone-dialog" ).html("Pointer Link has been duplicated . It is added in bottom in the list. ID is <%=@cloned_sys_pointer_link.id%>")
$( "#clone-dialog" ).dialog();