<% if params[:show_in_list] != "false" %>
var t = $('#example').DataTable();
     t.row.add( [
     	     '',
            "<%= @cloned_sys_pointer.custome_id %>",
            "<%= @cloned_sys_pointer.status%>  ",
            " <%= @cloned_sys_pointer.stage%>   ",
            " <%= @cloned_sys_pointer.category %>",
            " <%= @cloned_sys_pointer.scenarios %> ",
            " <%= @cloned_sys_pointer.name   %> ",
            " <%= @cloned_sys_pointer.condition %> ",
            " <%= @cloned_sys_pointer.criteria %> ",
            " <%= @cloned_sys_pointer.topic %> ",
            " <%= @cloned_sys_pointer.score %> ",
            " <%= @cloned_sys_pointer.ds %> ",
            " <%= @cloned_sys_pointer.ref_start_date %> ",
            " <%= @cloned_sys_pointer.dp %> ",
            " <%= @cloned_sys_pointer.ref_peak_rel_date %> ",
            " <%= @cloned_sys_pointer.dexp %> ",
            " <%= @cloned_sys_pointer.ref_expire_date %> ",
            " <%= @cloned_sys_pointer.N_factor %> ",
            " <%= @cloned_sys_pointer.notification_expiry %> ",
            " <%= @cloned_sys_pointer.notification_expiry_tech %> ",
            " <%= @cloned_sys_pointer.exclusion %> ",
           ' <%=link_to "","/admin/pointers/edit_pointer?id=#{@cloned_sys_pointer.id}",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/pointers/delete_pointer?custome_id=#{@cloned_sys_pointer.custome_id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{@cloned_sys_pointer.custome_id}" %>   |               <%=link_to "Duplicate","/admin/pointers/clone_pointer?id=#{@cloned_sys_pointer.id}",class: "txt-link-type2 ",remote: true  %>'
        ] ).draw( true );
 
$( "#clone-dialog" ).html("Pointer has been duplicated . It is added in bottom in the list.custome id is <%=@cloned_sys_pointer.custome_id%>")
$( "#clone-dialog" ).dialog();


<% else %>

$( "#clone-dialog" ).html("Pointer has been duplicated .custome id is <%=@cloned_sys_pointer.custome_id%>. You can find it in all pointer list")
$( "#clone-dialog" ).dialog();

<% end %>