table = $('#example2').DataTable();
table.row($(".js-<%=@sys_pointer_link.id%>").parents('tr')).remove().draw(false);

table = $('#pointer-links').DataTable();
table.row($(".js-<%=@sys_pointer_link.id%>").parents('tr')).remove().draw(false);
