<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
 
 <%= link_to "All Users", "/admin/users"%>&nbsp;&nbsp;&nbsp;&nbsp;
 <%= link_to "All Pointers", "/admin/pointers"%>
 
<div class="js-edit-pointer-link">
<%= render :partial=>"pointer_link_form", locals:{system_pointer_link:@system_pointer_link} %>
 
 </div>
