<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
 <%= link_to "All Users", "/admin/users" %> &nbsp;&nbsp;&nbsp;&nbsp;
 <%=link_to "Report", "/admin/users/report" %>&nbsp;&nbsp;&nbsp;&nbsp;
 <%= link_to "All Pointer", "/admin/pointers" %> &nbsp;&nbsp;&nbsp;&nbsp;
 <%#= link_to "Pointer link refs", "/admin/pointers/#{@system_pointer.id}" %> 
<br/>
<br/>
<div class="js-edit-pointer-form">
  <%= render :partial=>'pointer_form', locals:{system_pointer:@system_pointer} %> 
</div>