<br/>
  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#examplex').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,10, 50, 100, 200], ["All", 10, 50, 100, 200]],
      "order": [[ 1, "desc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
     

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
.display{
width: 100% !important;
	}
.dataTables_scrollFootInner{
width: 100% !important;

}
.dataTables_scrollHeadInner{
width: 100% !important;
}
 
 </style>


 
<br/>
<br/>
<h2> Assigned and pushed history in 30 days</h2>
 
<br/>
<br/>
<h2>Id: <%= @system_pointer.custome_id %></h2>
<br/>
<br/>
<table id="examplex" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th></th>
            <th >Date </th>
            <th>Total Assigned  </th>
            <!-- <th>Sent  </th>
            <th>Pending  </th> -->
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
             
            <th >Date                </th>
            <th>Total Assigned  </th>
           <!--  <th>Sent  </th>
            <th>Pending  </th> -->
          </tr>
        </tfoot>
        <tbody>
          
     <% @report_data.each do | history_detail |  %>
     
        <% date = history_detail.keys.first %>
        <% value = history_detail[date] %>
        <tr>
           <td></td>
            
             <td> <%= date.to_date.strftime("%d-%m-%Y") %>  </td>
            <td> <%= value["total_count"]%>   </td>
           <!--  <td> <%#= value["sent"]%>   </td>
            <td> <%#= value["pending"]%>   </td> -->
        </tr>
    <% end %>                  
    </tbody>
</table> 
   
  <!-- <div class="CL"></div> -->
   