$('#link-details-btn').val("Fetch Link Data");
<%if @link_details != nil %>
  var title = '<%= @link_details["title"].strip%>'
  var description = '<%= @link_details["best_description"].strip%>'
  var page_keywords = '<%= @link_details["keywords"]%>'
   

  var image_radio_button_html = ""
  var link_text_field = ""
  $('#sys_article_ref_link_title').val(title)
    $("#page-title").val('<%= URI.parse(params[:link]).host.split(".")[0..-2].join(".").gsub("www.","").titleize%>')
  $('#page-description').val(description)
  $('#page-keywords').val(page_keywords)

  <%if @link_details["images"] != nil %>
    <% @link_details["images"].each do |image| %>
      image_radio_button_html = image_radio_button_html+ "<label> <input type='radio' name='sys_article_ref_link[image_url]' value='<%= image %>'> <img style='max-width: 200px' src='<%= image %>'></label>";
    <% end %>

  <%else%>

    link_text_field = '<label class="form-label">Link image url</label> <%= f.text_field :image_url, class: "js-name textBx-type2"  %>'
   
  <% end %>
  document.getElementById("radio_images").innerHTML = image_radio_button_html
  document.getElementById("url_container").innerHTML = link_text_field
  document.getElementById("link-details-btn").innerHTML = "Fetch Data"
<% end %>


  