$(".js-custome-id-val").val("<%= @system_pointer.custome_id %>");
<%if @system_pointer_assigned_count[@system_pointer.id].present? && @system_pointer_assigned_count[@system_pointer.id].to_i > 0%>
<% link = "<a href='#html' data-pop='/admin/pointers/get_pointer_history?id=#{@system_pointer.id}' data-width='810'>#{@system_pointer_assigned_count[@system_pointer.id]}</a>".html_safe %>
<% else %>
<% link = 0 %>
<% end %>
<% scenario_detail= @system_pointer.scenario_detail || System::Scenario::ScenarioDetails.new %>
var t = $('#example').DataTable();
<% if ["DevReview","Active"].include?(@system_pointer.status)%>
    <%link_value =  link_to (@next_level_mapping_text[@system_pointer.status]), "/admin/pointers/update_pointer_status?id=#{@system_pointer.id}&authenticity_token=#{form_authenticity_token}",:class=>"js-status-#{@system_pointer.id}", "method"=> "put",:remote=>true  %>
<% else %>
  <% link_value = ''%>
<% end %>
t.rows().clear().draw()
      row = t.row.add( [
           '',
            "<%= @system_pointer.custome_id %>",
            "<%= @system_pointer.status%>  ",
            "<%= link %>",
            " <%= @system_pointer.pointer_type %>   ",
            '<%=link_to scenario_detail.title,"#html",:class=>"",:data => {:pop => "/admin/scenario_details/#{scenario_detail.id}?source_controller=pointer" , :width => "810"} %>',
            " <%= @system_pointer.topic %> ",
            " <%= @system_pointer.notification_expiry %> ",
            " <%= @system_pointer.notification_expiry_tech %> ",
            " <%= @system_pointer.exclusion %> ",
           ' <%=link_to "","/admin/pointers/edit_pointer?id=#{@system_pointer.id}",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/pointers/delete_pointer?custome_id=#{@system_pointer.custome_id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{@system_pointer.custome_id}" %>   |               <%=link_to "Duplicate","/admin/pointers/clone_pointer?id=#{@system_pointer.id}",class: "txt-link-type2 ",remote: true  %>|<%=link_to "History","#html",:class=>"",:data => {:pop => "/admin/pointers/get_pointer_history?id=#{@system_pointer.id}" , :width => "810"} %> | <%=link_value%>',
           ''
        ] ).draw( true ).node();
 $(row).attr('id', "js-<%=@system_pointer.custome_id%>");
var t1 = $('#example2').DataTable();
t1.rows().clear().draw()
<%@system_pointer_links.each do |system_pointer_links| %>
     t1.row.add( [
           '222',
            "<%= system_pointer_links.id %>",
            "<%= system_pointer_links.link_order%>  ",
            " <%= system_pointer_links.name%>   ",
            " <%= system_pointer_links.title %>",
            " <%= system_pointer_links.source %> ",
            " <%= system_pointer_links.type   %> ",
            " <%= system_pointer_links.image_url %> ",
            " <%= system_pointer_links.status %> ",
            " <%= system_pointer_links.country %> ",
            " <%= system_pointer_links.link_url_status %> ",
            " <%= system_pointer_links.link_image_url_status %> ",
             
           ' <%=link_to "","/admin/pointers/edit_pointer_link?id=#{system_pointer_links.id}",class: "icon-pencil txt-link-type2 " %> <%= link_to "", "/admin/pointers/delete_pointer_link?id=#{system_pointer_links.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{system_pointer_links.id}" %> <%=link_to "Duplicate","/admin/pointers/clone_pointer_link?id=#{system_pointer_links.id}",class: "txt-link-type2 ",remote: true  %>'
        ] ).draw( true );
 <% end %>
 $(".js-notification-on").parent().parent().attr("action","/admin/pointers/test_notification_on?custome_id=<%=@system_pointer.custome_id%>")
 $(".js-notification-off").parent().parent().attr("action","/admin/pointers/test_notification_off?custome_id=<%=@system_pointer.custome_id%>")
 $(".js-previous-pointer").hide();

 $(".js-next-pointer").hide();
 <%if @next_pointer_custome_id < @max_custome_id %>
 $(".js-next-pointer").show();
 <% end %>
 <% if @previous_pointer_custome_id > 0 %>
 $(".js-previous-pointer").show();
 <% end %>
 $(".js-previous-pointer").html('<%= link_to "Previous Pointer", "/admin/pointers/go_to_previous_pointer?id=#{@previous_pointer_custome_id}", remote:true %>');
 $(".js-next-pointer").html('<%= link_to "Next Pointer", "/admin/pointers/go_to_next_pointer?id=#{@next_pointer_custome_id}", remote:true %>');