  <script type="text/javascript">
   $(document).ready(function() {
    $('#example tfoot th').each( function () {
        var title = $(this).text();
        if(title !='')
          
          {
            $(this).html( '<input type="text" placeholder="' + title+'" />' );
          }
    } );

    var t = $('#example').DataTable( {
    
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,10, 50, 100, 200], ["All", 10, 50, 100, 200]],
      "order": [[ 1, "asc" ]]

    } );
    // Apply the search
    t.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            console.log(this.value)
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-pointer').click( function () {
      this_obj = $(this);
      id = $(this).data("custome_id");
      $.ajax({
        url: "delete_pointer",
        data: {custome_id:custome_id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 40px 40px 1px;
}
.dataTables_scroll{position:relative}
.dataTables_scrollHead{margin-bottom:40px;}
.dataTables_scrollFoot{position:absolute; top:41px}
tfoot{
display: table-header-group;
}
tfoot input {
        width: 100%;
        padding: 1px;
        box-sizing: border-box;
    }

    td {
        min-width:60px;
        max-width:150px;
    }

 </style>
<br/>
<br/>
<h2> Pointer List </h2>
<br/>
<%= link_to "Add Pointer", "/admin/pointers/new_pointer" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "All pointer links", "/admin/pointers/all_pointer_links" %>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "validate all pointer links", "/admin/pointers/validate_all_pointer_links",:remote=>true,:disable_with=>"job adding.." %>

<br/>
<br/>
<table id="example" class=" cell-border" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th></th>
            <th>ID           </th>
            <th>Status            </th>
            <th> Assigned in 30 days </th>
            <th> Links(active) </th>
            <th>Pointer Type      </th>
            <th>Scenarios         </th>           
            <th>Topic             </th>
            <th>Notification Expiry      </th>
            <th>Notification Expiry in tech  </th>
            <th>Exclusion  </th>

            <th>Action            </th>
             <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
          <th></th>
            <th>ID                </th>
             <th>Status            </th>
            <th> Assigned in 30 days </th>
            <th> Links(active) </th>
            <th>Pointer Type      </th>
            <th>Scenarios         </th>           
            <th>Topic             </th>
            <th>Notification Expiry                 </th>
            <th>Notification Expiry in tech                 </th>
            <th>Exclusion  </th>
            <th >Action            </th>
             <th></th>
          </tr>
        </tfoot>
        <tbody>
          
     <% (@sys_pointers|| []).each do | pointer |  %>
        <% pointer_scenario_detail = pointer.scenario_detail || System::Scenario::ScenarioDetails.new%>
        <tr id="js-<%=pointer.custome_id%>">
        <td></td>
            <td class="js-delete"> <%= pointer.custome_id %></td>
             <td> <%= pointer.status%>  </td>
             <% assign_count = @system_pointer_assigned_count == nil ? 0 : @system_pointer_assigned_count[pointer.custome_id] %>
             <td>
                <% if assign_count.present? && assign_count.to_i > 0 %> 
                  <%= link_to (assign_count),"#html",:class=>"",:data => {:pop => "/admin/pointers/get_pointer_history?id=#{pointer.id}" , :width => "810" } %>
                <% else %>
                <%= assign_count.to_i %>
                <% end %>
             </td>
              
            <td> <%= @pointer_links[pointer.custome_id]["total"] rescue 0%>(<%= @pointer_links[pointer.custome_id]["active"] rescue 0%>) </td>
            <td> <%= pointer.pointer_type%> </td>
            <td>
            <%=link_to pointer_scenario_detail.title,"#html",:class=>"",:data => {:pop => "/admin/scenario_details/#{pointer_scenario_detail.id}?source_controller=pointer" , :width => "810"} %>
            </td>
            <td> <%= pointer.topic %> </td>
            <td> <%= pointer.notification_expiry %> </td>
            <td> <%= pointer.notification_expiry_tech %> </td>
            <td> <%= pointer.exclusion %> </td>

            <td> 
              <span>
                <%=link_to '',"/admin/pointers/#{pointer.id}",class: "icon-pencil txt-link-type2"  %>
                </span>
                <span> <%= link_to "", "/admin/pointers/delete_pointer?custome_id=#{pointer.custome_id}",confirm: 'Are you sure you want to delete?', :class=> "icon-trash-o txt-link-type2 js-#{pointer.custome_id}",:remote=> true %>
                  
                </span>
                <span><%=link_to "|Duplicate","/admin/pointers/clone_pointer?id=#{pointer.id}",class: "txt-link-type2 ",remote: true  %>  
                </span>
              <span>
                <%=link_to "| History","#html",:class=>"",:data => {:pop => "/admin/pointers/get_pointer_history?id=#{pointer.id}" , :width => "810"} %>
              </span>
              <% if ["DevReview","Active"].include?(pointer.status)%>
              <span>

                <%if @next_level_mapping_text != nil %>
                <%=link_to (@next_level_mapping_text[pointer.status]), "/admin/pointers/update_pointer_status?id=#{pointer.id}&authenticity_token=#{form_authenticity_token}",:class=>"js-status-#{pointer.id}", "method"=> "put",:remote=>true  %>
                
                <% end -%>

              </span>
              <% end %>
            </td>
            <td> </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
    
  </div> -->
  <div class="CL"></div>
 
<div id="clone-dialog" style="display:none;" title="Pointer">
  <p>Pointer has been duplicated . It is added in bottom in the list.</p>
</div>