<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
 <!-- <%#= link_to "Pointer links", "/admin/pointers/#{@system_pointer.id}"%>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <%#= link_to "All Users", "/admin/users"%>&nbsp;&nbsp;&nbsp;&nbsp;
 <%#= link_to "All Pointers", "/admin/pointers"%>
 -->
<%= form_for @system_pointer_link,url:"/admin/pointers/create_pointer_link", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Add System Pointer Link</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    
     <div class="form-row">
        <label class="form-label">Priority</label>
         <%= f.select :link_order, options_for_select((1..10),@system_pointer_link.link_order), :class => 'custom-select1  ' %> 
        <%#= f.text_field :status, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Link </label>
        <%= f.text_field :name, class: "js-name textBx-type2" , id: "content-fetch-link"%> 
        <label class="form-label"> Ex. https://www.nurturey.com </label>
        <br/>
        <br/>
        <button type="button" id="link-details-btn" class="btn" style = "background-color: Gold" onclick="fetchLinkInfo()" >Fetch Link Data</button>
    </div>

    <div class="form-row">
    <% system_pointer = (@system_pointer || {}) rescue {}%>
        <label class="form-label">Pointer(Type ID/Pointer topic below to select)</label>
        <%= autocomplete_field_tag :sys_article_ref_link_detail_custome_id,'',autocomplete_system_pointer_custom_id_admin_pointers_path,:value=>"ID: #{system_pointer['custome_id']},  Title: #{system_pointer['topic']}", :id_element=>'#sys_article_ref_link_custome_id',:size=>120,'data-auto-focus' => true ,'min-length' => 0,:onfocus=>"javascript:$(this).autocomplete('search',' ');" %>
        
        <%=f.hidden_field :custome_id %>
    </div>


    <div class="form-row">
        <label class="form-label">Source Name</label>
        <%= f.text_field :title, class: "js-name textBx-type2"  %>
    </div>
    <%#= f.hidden_field :custome_id, value:@system_pointer_link.custome_id%>
    
    <div class="form-row">
        <label class="form-label">Link title</label>
        <%= f.text_field :source, class: "js-name textBx-type2", id: "page-title" %>
    </div> 

     <div class="form-row">
        <label class="form-label">Page Kewords</label>
        <%= f.text_field :keywords, class: "js-name textBx-type2", id: "page-keywords" %>
    </div>

    <div class="form-row">
        <label class="form-label">Link Description</label>
        <%= f.text_field :description, class: "js-name textBx-type2", id: "page-description" %>
    </div> 

    <div class="form-row">
      <label class="form-label">Link Images</label>
        <div id = "radio_images">

        </div>
    </div>

    <div class="form-row">
        <label class="form-label">Link type</label>
         <%= f.select :type, options_for_select(['Article','Video'],@system_pointer_link.type), :class => 'custom-select1  ' %> 

        <%#= f.text_field :type, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
      <div id="url_container"> </div>
    </div> 


    <div class="form-row">
      <label class="form-label">Status</label>
       <%= f.select :status, options_for_select(['Draft','Testing','DevReview', 'Active','Deactive'],@system_pointer_link.status), :class => 'custom-select1  ' %> 
  </div> 

  
    <div class="form-row">
        <label class="form-label">Country</label>
        <%= f.select :country, options_for_select(@counteries,@system_pointer_link.country), :class => 'custom-select1  ' %> 
    </div> 

    </div>
    <div class="form-type3"><div class="form-action-row">
      <%= f.submit "Create", class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
<% if @system_pointer.present?%>
<%= button_to "Cancel", "/admin/pointers/#{@system_pointer.id}", :method => "get",class: "btn btn-type2"  %>

<% else %>
<%= button_to "Cancel", "/admin/pointers/all_pointer_links", :method => "get",class: "btn btn-type2" %>
<% end %>

<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  $("body").on('keyup',"#sys_article_ref_link_detail_custome_id", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
      if($("#sys_article_ref_link_detail_custome_id").val().length < 1){
        $("#sys_article_ref_link_detail_custome_id").focus();
      }
    }
  });
})

function fetchLinkInfo() {
    input_link = document.getElementById("content-fetch-link").value;
    console.log(input_link)
    document.getElementById("link-details-btn").innerHTML = "Fetching Data..";

    $.ajax({
    type: "GET",
    url: "/admin/pointers/get_link_details",
    data: "link="+input_link,
    dataType: "script",
    // success: function(response){
    //   console.log(response)
    // }
     error: function (request, error)  {
      
     console.log("errorThrown");
     console.log(error);
      
    }
  });
}

  
</script>