<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }

</style>
 <!-- <%#= link_to "All Users", "/admin/users" %> &nbsp;&nbsp;&nbsp;&nbsp;<%#=link_to "  Report", "/admin/users/report" %>&nbsp;&nbsp;&nbsp;&nbsp;
 <%#= link_to "All Pointer", "/admin/pointers" %> 
 <br/>
 <br/> -->
 <br/>
 <br/>
 <%= @system_pointer.errors.full_messages.first if @system_pointer.errors.any? %>
<%= form_for @system_pointer,url:"/admin/pointers/create_pointer", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Add System Pointer</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    <div class="form-row">
        <label class="form-label">Status</label>
         <%= f.select :status, options_for_select(['Draft','Testing','DevReview', 'Active','Deactive'],@system_pointer.status), :class => 'custom-select1  ' %> 
    </div> 
    <div class="form-row">
        <label class="form-label">Pointer Type(General/Affiliate)</label>
         <%= f.select :pointer_type, options_for_select(['General','Affiliate'],@system_pointer.pointer_type), :class => 'custom-select1  ' %> 

         <%#= f.text_field :pointer_type, class: "js-name textBx-type2"%>
         
    </div> 

    <%= f.hidden_field :id, value:@system_pointer.id%>

    <div class="form-row">
        <label class="form-label">Topic</label>
        <%= f.text_field :topic, class: "js-name textBx-type2", id: "content-fetch-link"%>
    </div>

  
    <div class="form-row">
    
    <label class="form-label">Scenario(Type ID/Scenario description below to select) </label>
        <%= autocomplete_field_tag :system_scenario_custome_id,'',autocomplete_system_scenario_scenario_details_title_admin_pointers_path, :id_element=>'#sys_article_ref_system_scenario_detail_custome_id',:size=>120,'data-auto-focus' => true ,'min-length' => 0,:onfocus=>"javascript:$(this).autocomplete('search',' ');" %>
        <%=f.hidden_field :system_scenario_detail_custome_id %>
       </div> 
 <div class="form-row">
        <label class="form-label">Notification Expiry</label>
        <%= f.text_field :notification_expiry, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Notification Expiry in tech</label>
        <%= f.text_field :notification_expiry_tech, class: "js-name textBx-type2"  %>
    </div>
 
     <div class="form-row">
        <label class="form-label">Exclusion</label>
        <%= f.text_field :exclusion, class: "js-name textBx-type2"  %>
    </div>
 
    
     
    </div>
    <div class="form-type3"><div class="form-action-row">
      <%= f.submit "Create", class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
 <%= button_to "Cancel", "/admin/pointers", :method => "get",class: "btn btn-type2"  %>

 <style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  $("body").on('keyup',"#system_scenario_custome_id", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
    if($("#system_scenario_custome_id").val().length < 1){
      $("#system_scenario_custome_id").focus();
    }
  }
  });
})


  
</script>