  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-pointer').click( function () {
      this_obj = $(this);
      id = $(this).data("custome_id");
      $.ajax({
        url: "delete_pointer",
        data: {custome_id:custome_id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
<!-- <%#= link_to "All Users", "/admin/users"%> &nbsp;&nbsp;&nbsp;&nbsp;<%#=link_to "  Report", "/admin/users/report" %> -->
<br/>
<br/>
<h2> Pushed Pointer Count </h2>
<br/>
 
 Total Device - <%= Device.count %>
 <br/>
 Android Device - <%= Device.where(platform:"android").count %> <br/>
 Ios Device - <%= Device.where(platform:"ios").count %><br/>
 Device with Token - <%=Device.not_in(token:[nil,""]).count %><br/>
<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
          <th></th>
            <th>Date                </th>
             <th>Total            </th>
            <th>Sent             </th>
            <th>Pending  </th> 
            
          </tr>
        </thead>
        <tfoot>
          <tr>
          <th></th>
           <th>Date                </th>
             <th>Total            </th>
            <th>Sent             </th>
            <th>Pending  </th> 
             
          </tr>
        </tfoot>
        <tbody>
          
     <% @data.each do | data |  %>
        <tr id="dataRow1">
        <td></td>
         <td  > <%= data[:date] %></td>
            <td  > <%= data[:total] %></td>
             <td> <%= data[:sent]%>  </td>
            <td> <%= data[:pending] %>   </td>
         
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
  