  <script type="text/javascript">
   $(document).ready(function() {
    var t2 =   $('#example').DataTable( {
        "scrollX": true
      } );

    t2.on( 'order.dt search.dt', function () {
        t2.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    


    var t = $('#example2').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
  } );

 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
.col-width{
  width: 70px !important;
}
.dataTable{
 min-width:810px;  
}
 </style>
 
<br/>
<br/>

<h2> Pointer Detail </h2><br/>
<% if params[:show_only] != "true"%>

<%= link_to "Add Pointer", "/admin/pointers/new_pointer" %>
<br/><br/>
<br/>
<br/>
<span class="js-next-pointer">
  <%if @next_pointer_custome_id < @max_custome_id %>
    <%= link_to "Next Pointer", "/admin/pointers/go_to_next_pointer?id=#{@next_pointer_custome_id}", remote:true %>
    <% end %>
</span>
<span class="js-previous-pointer" style="float: right">
  <% if @previous_pointer_custome_id > 0 %>
    <%= link_to "Previous Pointer", "/admin/pointers/go_to_previous_pointer?id=#{@previous_pointer_custome_id}", remote:true %>
    <% end %>
</span>
<br/>
<br/>

<% end %>

<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
    <th></th>
            <th>ID           </th>
            <th>Status            </th>
            <th> Assigned in 30 days </th>
            <th>Pointer Type      </th>
            <th>Scenarios         </th>           
            <th>Topic             </th>
            <th>Notification Expiry      </th>
            <th>Notification Expiry in tech  </th>
            <th>Exclusion  </th>
<% if params[:show_only] != "true"%>

            <th>Action            </th>
             <th></th>
<% end %>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>ID           </th>
            <th>Status            </th>
            <th> Assigned in 30 days </th>
            <th>Pointer Type      </th>
            <th>Scenarios         </th>           
            <th>Topic             </th>
            <th>Notification Expiry      </th>
            <th>Notification Expiry in tech  </th>
            <th>Exclusion  </th>
<% if params[:show_only] != "true"%>

            <th>Action            </th>
             <th></th>
<% end %>             
          </tr>
        </tfoot>
        <tbody>
          
        <% [@system_pointer].each do | pointer |  %>
        <% pointer_scenario_detail = pointer.scenario_detail || System::Scenario::ScenarioDetails.new %>
         <tr id="js-<%=pointer.custome_id%>">
            <td></td>
            <td class="js-delete"> <%= pointer.custome_id %></td>
            <td> <%= pointer.status%>  </td>
            <% assign_count = @system_pointer_assigned_count[pointer.id] %>

           <td> <%#= assign_count %>
              <% if assign_count.present? && assign_count.to_i > 0 %>
                
                <%= link_to (assign_count),"#html",:class=>"",:data => {:pop => "/admin/pointers/get_pointer_history?id=#{pointer.id}" , :width => "510" } %>
              <% else%>
                <%= assign_count || 0 %>  
              <% end %>
             
           </td>

            <td> <%= pointer.pointer_type%>   </td>
            <td> 
              <% if params[:show_only] != "true"%>
                <%=link_to pointer_scenario_detail.title,"#html",:class=>"",:data => {:pop => "/admin/scenario_details/#{pointer_scenario_detail.id}?source_controller=pointer" , :width => "810"} %>
              <% else %>
                <%= pointer_scenario_detail.title %>
              <% end %>

            </td>
            <td> <%= pointer.topic %> </td>
            <td> <%= pointer.notification_expiry %> </td>
            <td> <%= pointer.notification_expiry_tech %> </td>
            <td> <%= pointer.exclusion %> </td>
<% if params[:show_only] != "true"%>

            <td> <%=link_to "","/admin/pointers/edit_pointer?id=#{pointer.id}",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/pointers/delete_pointer?custome_id=#{pointer.custome_id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{pointer.custome_id}" %>| <%=link_to "Duplicate","/admin/pointers/clone_pointer?id=#{pointer.id}&show_in_list=false",class: "txt-link-type2 ",remote: true  %>  |  <%=link_to "History","#html",:class=>"",:data => {:pop => "/admin/pointers/get_pointer_history?id=#{pointer.id}" , :width => "810"} %>
              <% if ["DevReview","Active"].include?(pointer.status)%>
              <span>
                <%=link_to (@next_level_mapping_text[pointer.status]), "/admin/pointers/update_pointer_status?id=#{pointer.id}&authenticity_token=#{form_authenticity_token}",:class=>"js-status-#{pointer.id}", "method"=> "put",:remote=>true  %>
              </span>
              <% end %>
            </td>
            <td></td>
<% end %>
        </tr>
<% end %>
                  
    </tbody>
</table> 

<br/> <br/>
<% if params[:show_only] != "true"%>

<%= button_to "Test Notification On", "/admin/pointers/test_notification_on?custome_id=#{@system_pointer.custome_id}", :method => "get",class: "js-notification-on btn btn-type2",:remote=>true,:disable_with=>"Wait.."  %>


<%= button_to "Test Notification Off", "/admin/pointers/test_notification_off?custome_id=#{@system_pointer.custome_id}", :method => "get",class: "js-notification-off btn btn-type2",:remote=>true,:disable_with=>"Wait.."  %> <!-- </div> -->
    
  <div class="CL"></div>
   
   <br/>
   <br/>


<div class="js-test_validation_form">
 <%= form_tag("/admin/pointers/test_notification_validation_to_asign",method: 'get', remote: true) do %>
  <div class="form-type2">
    <div class="form-row">
        <label class="form-label"></label>
     
    <%= select_tag :member_id, options_from_collection_for_select(@member_list, "id", "first_name"), {:class => 'custom-select1  '} %>
    <%= hidden_field_tag :custome_id, @system_pointer.custome_id,:class=>"js-custome-id-val" %>
    <%= submit_tag "Vaildate Pointer assignment",class: "btn btn-type2",:disable_with=>"Validating.." %>
    <% end %>
    </div>
  </div>
</div>
 
<div id="clone-dialog" style="display:none;" title="Pointer">
  <p>Pointer has been duplicated . It is added in bottom in the list.</p>
</div>
 
  <br/>
<br/>
<br/>
<h2> Pointer link Detail </h2>
<br/>
<br/>
<%= link_to "Add Pointer Link", "/admin/pointers/new_pointer_link?custome_id=#{@system_pointer.custome_id}" %>
<br/>
<br/>
<%= link_to "Validate and Update links", "/admin/pointers/validate_pointer_link?pointer_id=#{@system_pointer.id}",class: "btn btn-type2",:disable_with=>"Validating..",:remote=>true %>
<br/><br/>

    <table id="example2" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
      <th></th>
        <th>Id</th>            
        <th>Priority</th>            
        <th>Link</th>
        <th>Source Name</th>
        <th>Link title</th>
        <th>Link type</th>
        <th>Link image url</th>
        <th>Status</th>
        <th>Country</th>
        <th>Url Status</th>
        <th>Image Url Status</th>
        <th>Action</th>
        </tr>
      </thead>
      <tfoot>
          <tr>
            <th></th>
            <th>Id</th>            
            <th>Priority</th>            
            <th>Link</th>
            <th>Source Name</th>
            <th>Link title</th>
            <th>Link type</th>
            <th>Link image url</th>
            <th>Status</th>
            <th>Country</th>
            <th>Url Status</th>
            <th>Image Url Status</th>
            <th>Action</th>
          </tr>
      <tbody class="js-pointer-info">
              <%@system_pointer_links.each do |pointer_link|  %>  
        <tr class="js-row-<%=pointer_link.id%>">
            <td></td>
            <td><%=pointer_link.id%></td>
            <td><%=pointer_link.link_order %></td>
            <td><%=pointer_link.name %></td>
            <td><%=pointer_link.title %></td>
            <td><%=pointer_link.source %></td>
            <td><%=pointer_link.type %></td>
            <td><%=pointer_link.image_url %></td>
            <td><%=pointer_link.status %></td>
            <td><%=pointer_link.country %></td>
            <td><%=pointer_link.link_url_status %></td>
            <td><%=pointer_link.link_image_url_status %></td>
            <td><%=link_to "","/admin/pointers/edit_pointer_link?id=#{pointer_link.id}",class: "col-width icon-pencil txt-link-type2 " %>
              
              <%= link_to "", "/admin/pointers/delete_pointer_link?id=#{pointer_link.id}",confirm: "Are you sure you want to delete?", remote: true, class: "col-width icon-trash-o txt-link-type2 js-#{pointer_link.id}" %> 
              <%=link_to "Duplicate","/admin/pointers/clone_pointer_link?id=#{pointer_link.id}",class: "txt-link-type2 col-width",remote: true  %>
              <% if ["DevReview","Active"].include?(@system_pointer.status)%> | 
                <%=  link_to (@next_level_mapping_text[@system_pointer.status]), "/admin/pointers/update_pointer_status?id=#{@system_pointer.id}&authenticity_token=#{form_authenticity_token}",:class=>"col-width js-status-#{@system_pointer.id}", "method"=> "put",:remote=>true  %>
              <% end %>
              <a href="/admin/pointers/validate_pointer_link?pointer_link_id=<%=pointer_link.id%>" class="txt-link-type2 col-width" data-remote="true" style="width:70px;">Validate Link</a>
            </td>
         </tr>
         <% end %>
          
    </tbody>
    </table> 
    <% end %>