
$('td:eq(2)',$("#js-<%=@system_pointer.custome_id%>")).html("<%=@system_pointer.status%>");
<%if ["DevReview","Active"].include?(@system_pointer.status)%>
  $(".js-status-<%=@system_pointer.id%>").html("<%=@pointer_next_status%>")
<% else %>
$(".js-status-<%=@system_pointer.id%>").hide()
<% end %>