<% if params[:pointer_id] %>
  window.location.reload()
<% else %>
$('td:eq(-3)',$(".js-row-<%=@pointer_link.id%>")).html("<%=@pointer_link.link_url_status%>");
$('td:eq(-2)',$(".js-row-<%=@pointer_link.id%>")).html("<%=@pointer_link.link_image_url_status%>");
$('td:eq(3)',$(".js-row-<%=@pointer_link.id%>")).html("<%=@pointer_link.name%>");
$('td:eq(7)',$(".js-row-<%=@pointer_link.id%>")).html("<%=@pointer_link.image_url%>");

<% end%>