  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[ -1, 10, 50, 100, 200], ["All", 10, 50, 100, 200]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-module-access').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_module_access",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
<!-- <%#= link_to "All Users", "/admin/users"%> &nbsp;&nbsp;&nbsp;&nbsp;<%#=link_to "  Report", "/admin/users/report" %>&nbsp;&nbsp;&nbsp;&nbsp; <%#= link_to "All Pointer", "/admin/pointers" %> --> 
<br/>
<br/>
<h2> Module Access List </h2>
<br/>
<%= link_to "Add Module access for Role", "/admin/module_access_for_role/new_module_access" %>
 &nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "User role list", "/admin/user_role_for_admin_panel" %>

<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                  </th>
             
            <th> Role             </th>
            <th> Module Name </th>
             
            <th> Action            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th> Role             </th>
            <th> Module Name </th>
            <th >Action            </th>
          </tr>
        </tfoot>
        <tbody>
         <% if  @module_access_list_for_role.present? %>
     <% @module_access_list_for_role.each do | module_access |  %>
        <tr id="dataRow1">
            <td></td>
            <td> <%= module_access.role %>  </td>
            <td> <%= module_access.module_name %>  </td>
            <td> <%=link_to "","/admin/module_access_for_role/#{module_access.id}/edit",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/module_access_for_role/delete_module_access?id=#{module_access.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{module_access.id}" %>
            </td>
        </tr>
    <% end %>  
    <% end %>                
    </tbody>
</table> 
 
  <div class="CL"></div>
 
 
