<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  
 <br/>
 <br/>
 <br/>
 <br/>
 <%= @module_access_for_role.errors.full_messages.first if @module_access_for_role.errors.any? %>

<%= form_for @module_access_for_role,url:"/admin/module_access_for_role", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Add Module access for role</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

      

    <div class="form-row">
        <label class="form-label">Role</label>
         <%= f.select :role, options_for_select(RoleForAdminPanel.distinct(:name),@module_access_for_role.role), :class => 'custom-select1  ' %> 
    </div> 
    <div class="form-row">
        <label class="form-label">Module Name</label>
         <%= f.select :module_name, options_for_select(UserRoleForAdminPanel::ModuleNameMapping,@module_access_for_role.module_name), :class => 'custom-select1  ' %> 
    </div>

     
    <div class="form-type3"><div class="form-action-row">
      <%= f.submit "Create", class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
 <%= button_to "Cancel", "/admin/module_access_for_role", :method => "get",class: "btn btn-type2"  %>