<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if !mso]><!-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
      <!--[if (gte mso 9)|(IE)]>
        <style type="text/css">
          table {border-collapse: collapse;}
        </style>
      <![endif]-->
    </head>
    <body style="background-color:#F8F8F8;margin:0 !important;padding:0 !important;">
      <center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
        <div class="webkit" style="max-width:600px;margin:0 auto;">
          <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center">
              <tr>
                <td>
          <![endif]-->
          <table class="outer" align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;">
            <tr>
              <td height="30" style="padding:0;"></td>
            </tr>
            <tr>
              <td style="padding:0;text-align: right;">
                <p style="font-size: 14px;"><a href="<%= APP_CONFIG['default_host']%>/campaign_manager/email_campaign/uninstall_callback_campaign_browser_view?campaign_id=<%=@uninstall_callback_campaign.id%>" style="text-decoration: none; color:#6B6B6B ">View in browser</a></p>
              </td>
            </tr>
            <tr>
              <td height="10" style="padding:0;"></td>
            </tr>
            <tr>
              <td style="padding:0;">
                <!-- Email Container 600px -->
                <table class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;background-color:#ffffff;">
                  <tr>
                    <td height="30" style="padding:0;"></td>
                  </tr>
                  <tr>
                    <td class="logo" style="padding:0;text-align:center;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/Logo.jpg" width="115" alt="Nurturey" style="border:0;"></td>
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr>
          <td class="full-width-image" style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/main-image.jpg" width="600" alt="We sent your parenting PA back to college" style="border:0;width:100%;max-width:600px;height:auto;"></td>
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr>
          <td class="full-width-image" style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/sub-head.jpg" width="600" alt="Now she's back with even better tools" style="border:0;width:100%;max-width:600px;height:auto;"></td>
          </tr>
                  
                  <tr>
                    <td height="30" style="padding:0;"></td>
                  </tr>
                  <!-- Features -->
                  <tr>
                    <td class="features" style="padding:0;" width="100%">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                        <tr>
                          <td class="two-column" colspan="3" style="padding:0;text-align:center;font-size:0;" align="center" width="600">
                            <!-- Features Column 1 -->
                            <!--[if (gte mso 9)|(IE)]>
                              <table width="100%">
                                <tr>
                                  <td width="44%" valign="top">
                            <![endif]-->
                            <div class="column" style="width:100%;max-width:600px;display:inline-block;vertical-align:top;">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                                <tr>
                                  <td class="inner" style="padding:0;">
                                    <table class="contents" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:16px;text-align:left;">
                                      <tr>
                                        <td width="30" style="padding:0;"></td>
                                        <td width="64" style="padding:0;" valign="top"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/graphic_one.png" width="64" height="64" alt="Better Performance" style="border:0;width:100%;max-width:64px;height:auto;"></td>
                                        <td width="15" style="padding:0;"></td>
                                        <td style="padding:0;">
                                          <p style="color: #00000; padding: 0 0 10px 0; margin: 0;"><b>Better Performance</b></p>
                                          <p style="color: #00000; padding: 0px; margin: 0px;">We have made over a dozen massive tweaks, giving your PA the velocity of light.</p>
                                        </td>
                                        <td width="30" style="padding:0;"></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr><td height="30" style="padding:0;"></td></tr>
                              </table>
                            </div>
                            <!-- Features Column 2 -->
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <td width="44%" valign="top">
                            <![endif]-->
                            <div class="column" style="width:100%;max-width:600px;display:inline-block;vertical-align:top;">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                                <tr>
                                  <td class="inner" style="padding:0;">
                                    <table class="contents" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:16px;text-align:left;">
                                      <tr>
                                        <td width="30" style="padding:0;"></td>
                                        <td width="64" style="padding:0;" valign="top"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/graphic_two.png" width="64" height="64" alt="More Intuitive Experience" style="border:0;width:100%;max-width:66px;height:auto;"></td>
                                        <td width="15" style="padding:0;"></td>
                                        <td style="padding:0;">
                                          <p style="color: #00000; padding: 0 0 10px 0; margin: 0;"><b>More Intuitive Experience</b></p>
                                          <p style="color: #00000; padding: 0px; margin: 0px;">Nurturey now has a  much improved UI with intuitive tooltips and data flow.</p>
                                        </td>
                                        <td width="30" style="padding:0;"></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="30" style="padding:0;"></td>
                                </tr>
                              </table>
                            </div>
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <td width="44%" valign="top">
                            <![endif]-->
                            <!-- Features Column 3 -->
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <td width="44%" valign="top">
                            <![endif]-->
                            <div class="column" style="width:100%;max-width:600px;display:inline-block;vertical-align:top;">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                                <tr>
                                  <td class="inner" style="padding:0;">
                                    <table class="contents" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:16px;text-align:left;">
                                      <tr>
                                        <td width="30" style="padding:0;"></td>
                                        <td width="64" style="padding:0;" valign="top"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/graphic_three.png" width="64" height="64" alt="More Knowledge" style="border:0;width:100%;max-width:66px;height:auto;"></td>
                                        <td width="15" style="padding:0;"></td>
                                        <td style="padding:0;">
                                          <p style="color: #00000; padding: 0 0 10px 0; margin: 0;"><b>More Knowledge</b></p>
                                          <p style="color: #00000; padding: 0px; margin: 0px;">The best parenting PA just got better, with hundreds of new algorithms and learnings.</p>
                                        </td>
                                        <td width="30" style="padding:0;"></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="30" style="padding:0;"></td>
                                </tr>
                              </table>
                            </div>
                            <!-- Features Column 4 -->
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <td width="44%" valign="top">
                            <![endif]-->
                            <div class="column" style="width:100%;max-width:600px;display:inline-block;vertical-align:top;">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                                <tr>
                                  <td class="inner" style="padding:0;">
                                    <table class="contents" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:16px;text-align:left;">
                                      <tr>
                                        <td width="30" style="padding:0;"></td>
                                        <td width="64" style="padding:0;" valign="top"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/graphic_four.png" width="64" height="64" alt="Easier Connectivity" style="border:0;width:100%;max-width:66px;height:auto;"></td>
                                        <td width="15" style="padding:0;"></td>
                                        <td style="padding:0;">
                                          <p style="color: #00000; padding: 0 0 10px 0; margin: 0;"><b>Easier Connectivity</b></p>
                                          <p style="color: #00000; padding: 0px; margin: 0px;">We have mighty new ways to share content, responsibilites and chores with family members.</p>
                                        </td>
                                        <td width="30" style="padding:0;"></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="40" style="padding:0;"></td>
                                </tr>
                              </table>
                            </div>
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <td width="44%" valign="top">
                            <![endif]-->
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <!-- Features Ends -->

                  <!-- Sub Headline -->

                <tr>
          <td class="full-width-image" width="600" style="padding:0;" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/call2action-image.png" width="600" alt="Give the best PA for parenting another shot:) Download Now" style="border:0;width:100%;max-width:600px;height:auto;"></td>
        </tr>
                 <tr>
                    <td height="30" colspan="3" style="padding:0;"></td>
                 </tr>
                  <!-- Call to action -->
                  <tr>
                    <td class="main-button" align="center" style="padding:0;text-align:center;" width="600">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="100%" align="center"><p style="padding: 0px 0px 20px 0px; margin: 0px; font-size: 18px; text-align: center; display: block;">Remember, this PA still works for free :)</p></td>
              </tr>
              <tr>
                <td>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="30%"></td>
                      <td width="40%" height="60" bgcolor="#14953A" align="center" style="border-radius: 4px;"><a href="<%= APP_CONFIG['default_host']%>/campaign_manager/email_campaign/uninstall_callback_campaign?campaign_id=<%=@uninstall_callback_campaign.id%>" style="display:inline-block;width:230px;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/button.png" width="230" height="60" alt="Go to your Nurturey App"></a></td>
                      <td width="30%"></td>
                    </tr>
                  </table>
                </td>
                
              </tr>
            </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="30" style="padding:0;"></td>
                  </tr>
                  <!-- Regard Text -->
                  <tr>
                    <td style="padding:0;line-height: 26px; color: #6B6B6B;" align="center">Have a great day!<br/>Kind regards,<br/>Team Nurturey</td>
                  </tr>
                  <tr>
                    <td height="30" style="padding:0;"></td>
                  </tr>
                  <!-- App stores -->
                  <tr>
                    <td class="app-links" style="padding:0;border-top: 1px solid #E8E8E8;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                        <tr>
                          <td height="60" valign="middle" style="padding:0;">
                            <p class="h3" style="font-size:12px;text-align:center;margin:0px;padding:20px 0;"><b>Nurturey mobile app available on</b></p>
                          </td>
                        </tr>
                        <tr>
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                            <tr>
                              <td width="160" style="padding:0;"></td>
                              <td width="150" style="padding:0;"><a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/AppleStore.jpg" width="150" alt="Apple app store" style="border:0;"></a></td>
                              <td width="20" style="padding:0;"></td>
                              <td width="150" style="padding:0;"><a href="https://play.google.com/store/apps/details?id=com.nurturey.app"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/GooglePlay.jpg" width="150" alt="Google Play store" style="border:0;"></a></td>
                              <td width="160" style="padding:0;"></td>
                            </tr>
                          </table>
                        </tr>
                        <tr>
                          <td height="30" style="padding:0;"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Email Container 600px Ends -->
            <!-- Footer -->
            <tr>
              <td class="footer" align="center" style="padding:0;width:100%;max-width:600px;Margin:0 auto;">
                <table style="border-spacing:0;font-family:sans-serif;color:#333333;" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="30" style="padding:0;"></td>
                    <td style="padding:0;" align="center">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                        <tr>
                          <td height="30" style="padding:0;"></td>
                        </tr>
                        <tr>
                          <td align="center" style="padding:0;">
                            <table border="0" cellspacing="0" cellpadding="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                              <tr>
                                <td align="center" style="padding:0;"><a href="https://www.facebook.com/nurtureyonweb?ref=hl"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/fb_icon.png" height="40" alt="Facebook" style="border:0;"></a></td>
                                <td width="20" style="padding:0;"></td>
                                <td align="center" style="padding:0;"><a href="<%=APP_CONFIG['youtube_url']%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/campaign_mailer/youtube_icon.png" height="40" alt="Youtube" style="border:0;"></a></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr><td height="10"></td></tr>
                        <tr>
                          <td style="padding:0;" align="center">
                            <p style="font-size: 12px; color: #AFAFAF; text-align: center; padding: 0; margin: 0;">This email was sent to <%=@user.email %> <br/>If you no longer wish to receive these emails you may <a href='<%= APP_CONFIG['default_host'] + "/unsubscribe?sub_id=#{@user.member.id}&mtype=#{@type || 0}"%>' style="text-decoration: none; color: #14953A;">unsubscribe</a> at any time.<br/>Nurturey Limited<br/><br/>Contact us at <a href="mailto:support@nurturey.com" style="text-decoration: none; color: #14953A;">support@nurturey.com</a></p><br/>
                            
                            <p style="font-size: 12px; margin: 0; padding: 0;color: #AFAFAF;"><a href="https://nurturey.com/home/privacy" style="text-decoration: none; color: #14953A;">Privacy Policy</a>&nbsp;|&nbsp;<a href="https://nurturey.com/home/terms" style="text-decoration: none; color: #14953A;">Terms and conditions</a></p>
                            
                          </td>
                        </tr>
                        <tr>
                          <td height="30" style="padding:0;"></td>
                        </tr>
                      </table>
                    </td>
                    <td width="30" style="padding:0;"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- Footer Ends -->
          </table>
        </div>
      </center>
    </body>
  </html>