@import url('fonts/font.css');
html{ 
  height:100%;
  min-height:100%;
}
body{
  font-family: "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:12px;
  color:#252525;
  overflow-x: hidden;
  overflow-y: auto;
}
h2{
  font-weight:300;
}
a,a:hover{
  color:#fac266;
}
h3{
  font-size:20px;
  font-weight:300;
  margin-top:0;
  margin-bottom:20px;
}
.hide{ display:none;}
.no-padding-left{
  padding-left:0px;
}
.no-padding-right{
  padding-right:0px;
}
.no-margin-bottom{
  margin-bottom:0px;
}
.no-margin-top{
  margin-top:0px;
}
.txt-green{
  color:#05983c;
}
.txt-lt-green{
  color:#c0f2cf;
}
.txt-white{
  color:#FFF !important;
}
.txt-orange{
  color:#fac266;
}
.txt-red{
  color:#F00;
}
.txt-bold{
  font-weight:bold;
}
.txt-msg{
  font-size:14px;
  position:absolute;
  width:100%;
  top:-65px;
}
header{
  background: URL('../images/videoBg.jpg') no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.pageWidth{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.nurturey-logo{
  background:URL('../images/logo.png') no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  width: 135px;
  height: 46px;
  display:inline-block;
  margin-top: 5px;
}
.navbar-link a{
  margin-left:10px;
  font-size:13px;
  text-transform:uppercase;
  color:#ffffff;
  font-weight:normal;
  display:inline-block;
}
.navbar-link a.active{
  color:#fac266;
}
.navbar-link{
  padding-top:12px;
}
.signup-link,.login-link{
  background:#FFFFFF;
  padding:8px 20px;
  border-radius:50px;
  color:#010101 !important;
}
.signup-link{
  background-color:#fac266;
}
.header-text{
  font-size:13px;
  text-align:center;
  color:#FFFFFF;
}
.header-text h1{
  font-size:46px;
  color:#fac266;
  line-height:1.2;
  font-weight:300;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);    
  margin-bottom: 0;
  margin-top: 0;
}
.header-text h1 span{
  font-family: 'HelveticaNeue-Thin', Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-style: normal;
  color:#FFFFFF;
}
.sub-text{
  font-family: "HelveticaNeue-Medium", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:22px;
  color:#fac266;
  font-weight: normal;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  margin-bottom: 0;
}
.product-avatar{
  display: inline-block;
  width: 500px;
  height: 23rem;
  background: url(../images/home-bg.svg) center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 13px 0;
}
.playBtn{
  display: none;
  font-size: 9px;
  color: #8c8c8c;
  position: absolute;
  outline: none;
  height: 44px;
  width: 63px;
  margin-left: -38px;
  bottom: 49px;
  left: 50%;
  background-color: #d1d1d1;
  border-radius: 11px;
  padding-top: 5px;
}
.playBtn:hover,.playBtn:focus{
  text-decoration:none;
  color:#8c8c8c;
  outline:none;
}
.playBtn:before,.pausedBtn:before{
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e072';
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 12px;
    background-color: #FFF;
    margin: 0 auto;
    display: block;
    /* margin-bottom: 5px; */
    text-align: center;
}
.pausedBtn:before{
  content:'\e074';
}
.btn-green,.btn-green:hover{
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #10641e;
  color: #FFF;
  font-size: 17px;
  font-weight: normal;
  border: 1px solid #FFF;
  box-sizing: border-box;
  font-family: "HelveticaNeue-Medium", Helvetica, Arial, "Lucida Grande", sans-serif;;
}
.btn-burgundy{
  padding:10px 30px;
  border-radius:50px;
  background-color:#fac266;
  color:#282828;
  font-size:17px;
  font-weight:normal;
}
.login-form .btn-burgundy,.signup-form .btn-burgundy,.reset-form .btn-burgundy{
  border-radius:5px;
  padding:5px 0;
  font-size:16px;
  width:100%;
  border-radius:50px;
}
.btn-burgundy:hover{
  background-color:#f4b348;
}
.form-action{
  padding:10px 0;
}
.video-container{ position:relative; width:100%;}
.nav-stacked{
  padding-top:25px;
  position:relative;
  z-index:5;
}
.nav-replace{
  height:103px;
  padding-top:25px;
  display:none;
}
.video-container video{
  height:100%;
  width:100%;
  opacity:0;
  position:absolute;
  left:0;
  bottom:0;
  object-fit: contain;
  -webkit-transition: opacity 0.5s, bottom 0 0.5s;
  -moz-transition: opacity 0.5s, bottom 0 0.5s;
  -o-transition: opacity 0.5s, bottom 0 0.5s;
  -ms-transition: opacity 0.5s, bottom 0 0.5s;
  transition: opacity 0.5s, bottom 0 0.5s;
  z-index:0;
}
.video-container.playing video{
  opacity:1;
}
.center-block {
  position: absolute;
  width: 100%;
  top: 0;
}
.next-page{
  width:35px;
  height:30px;
  position:absolute;
  bottom:0;
  width:100%;
}
.next-page:hover{
  text-decoration:none;
}
.next-page:before{
  width: 35px;
  height: 30px;
  background-color:#FFFFFF;
  content:'\e114';
  display:block;
  margin:0 auto;
  text-align:center;
  font-size:18px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color:#336548;
  border-radius:5px 5px 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-container{
  padding-top:15px;
}
.sub-nav-box{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
[class*='spicon-']{
  display:inline-block;
  vertical-align:middle;
  margin-right:8px;
}
.spicon-step1{
  width:161px;
  height:161px;
  margin:0 auto;
  display:block;
  background: url("../images/1.png") no-repeat center center;
}
.spicon-step2{
  width:161px;
  height:161px;
  margin:0 auto;
  display:block;
  background: url("../images/2.png") no-repeat center center;
}
.spicon-step3{
  width:161px;
  height:161px;
  margin:0 auto;
  display:block;
  background: url("../images/3.png") no-repeat center center;
}
.link-group{
  text-align:center;
  font-size:18px;
  padding:10px 0;
}
.link-group a{
  margin:0 7px;
  color:#232323;
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, "Lucida Grande", sans-serif;
}
.link-group a:last-child{
  margin-right:0;
}
.link-group a:first-child{
    margin-left: 0;
}
.link-group a:hover{
  color:#038b35;
  text-decoration:none;
}
.link-group a i{
  font-size:20px;
  vertical-align:middle;
  margin-right:5px;
  width:26px;
  display:inline-block;
}
.text-type-1{
  font-size:15px;
}
.text-type-1 h2{
  font-size: 71px;
  font-weight: 300;
  text-transform: uppercase;
}
.btn-video{
  border: 0;
  color: #FFF;
  background-color: #303030;
}
.space{
  margin-top:15px;
  margin-bottom:15px;
  min-height:1px;
}
.navbar-inverse{
  background:transparent;
}
.bg-divider{
  background:url('../images/divider.png') no-repeat center center;
  padding:16px 0;
}
.parent-section{
  background:url('../images/parent-bg.jpg') no-repeat center bottom;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-color:#038d36;
  min-height:800px;
}
.text-type-2{
  font-size:35px;
  font-weight:300;
  text-align:center;
  color:#FFF;
  margin-bottom:40px;
}
.text-type-2 span{
  font-weight:500;
}

.step-box{
  text-align:center;
  font-size:16px;
  color:#FFF;
  margin-bottom:30px;
}
.step-box h2{
  color:#fac266;
  font-size:26px;
  font-weight:300;
}
.dot-box{
  text-align:center;
  font-size:50px;
  color:rgba(0,0,0,0.2);
  line-height:3;
}

.green-box{
  background-color:#006926;
  padding:15px;
  border-radius:10px;
  margin:50px 0 0;
  color:#97dcb1;
  font-size:13px;
  line-height:1.5;
  min-height:155px;
}
.green-box h2{
  margin:0px;
  font-size:22px;
  font-weight:normal;
  color:#FFFFFF;
  margin-bottom:10px;
}
.green-box-icon1:before{
  content:'';
  background:url('../images/icon-sprite.png') no-repeat -668px top;
  display:block;
  width:78px;
  height:108px;
  float:left;
  margin:25px 25px 25px 0;
}
.green-box-icon2:before{
  content:'';
  background:url('../images/icon-sprite.png') no-repeat -668px -113px;
  display:block;
  width:80px;
  height:94px;
  float:left;
  margin:25px 20px 24px 0;
}
.device-box{
  text-align:center;
  font-size:16px;
  font-weight:300;
  color:#434343;
  padding-bottom: 15px;
}
.device-box p{
  line-height:1.2;
}
.device-box h2{
  font-size:40px;
  font-weight:300;
  color:#2f2f2f;
  margin-bottom:25px;
}
.tellus-section{
  background:url('../images/tell-bg.png') no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-color:#038b35;
  padding:30px 0;
  text-align:center;
  font-size:20px;
  color:#FFFFFF;
}
.tellus-section h2{
  font-size:35px;
  font-weight:300;
  margin:0;
}
footer{
  background-color:#0f0f0f;
  padding:50px 0;
  color:#5a5a5a;
}
footer h3{
  font-size:16px;
  color:#FFFFFF;
  margin-bottom:5px;
}
.link-box a{
  padding:3px 3px;
  font-size:14px;
  color:#a0a0a0;
}
.link-box a:first-child{
    padding: 3px 3px 3px 0px;
}

.link-box.hidden-xs img {
    height: 44px;
    margin-bottom: 15px;
}
[class*="-link"]:before{
  font-size:18px;
  margin-right:5px;
  vertical-align:top;
  display:inline-block;
  width:20px;
  text-align:left;
}

[class*="-link"]{
  padding-bottom:10px;
}
.fb-link:before{
  color:#559be8;
}

.tw-link:before{
  color:#57c5e9;
}

.go-link:before{
  color:#c13726;
}

.u-link:before{
  color:#FFFFFF;
}
.page-up,.page-up:hover{
  position:fixed;
  bottom:15px;
  right:15px;
  top:inherit;
  width: 30px;
  height: 30px;
  display: block;
  z-index: 2;
  background: #fac266;
  text-align: center;
  line-height: 30px;
  font-size:20px;
  border-radius: 8px;
  color: #FFF;
  text-decoration:none;
  display:none;
}
.stack-header{
  position:fixed;
  top:-53px;
  width:100%;
  z-index:5;
  height:50px;
  background:url(../images/header-bg.png);
  box-shadow:0 0px 3px rgba(0,0,0,0.5);
  display: block !important;
  padding-top: 0px;
}
.stack-header .nurturey-logo{
  width: 135px;
  height: 46px;
  margin-top: 2px;  
}
.stack-header .navbar-link{
  padding-top:8px;
}
.body-inner{
  padding-top:50px;
}
.nav-inner{
  background:url(../images/header-bg.png);
  position:fixed;
  width:100%;
  z-index:5;
  top:0;
}
.faq-list{
  margin:0;
  padding:0;
}
.faq-list li{
  list-style:none;
  position:relative;
  padding-left:20px;
  padding-bottom:20px;
}
.faq-list li p{
  color:#6d6d6d;
}
.faq-list li:before{
  content:'.';
  color:#fac266;
  font-size:50px;
  line-height: 0;
  position: absolute;
  left: 0;
  top: -5px;
}
.teamup-box{
  border:1px solid #e9e9e8;
  padding:5px;
  border-radius:5px;
}
.img-holder{
  position:relative;
}
.img-holder .img-responsive{
  width:100%;
}
.img-holder h2{
  background-color:#2f2d2e;
  font-size:18px;
  text-align:center;
  display:inline-block;
  color:#FFFFFF;
  padding:10px;
  position:absolute;
  bottom:20px;
}
.img-holder h5{
  background-color:#038b35;
  color:#FFFFFF;
  font-size:12px;
  display:inline-block;
  padding:5px 8px;
  border-radius:5px;
  position:absolute;
  bottom:2px;
  left:10px;
}
.teamup-box:hover{
  border-color:#ff9d00;
}
.teamup-box:hover .img-holder h2{
  color:#ff9d00;
}
.img-description{
  padding:10px;
  font-size:14px;
  color:#6d6d6d;
  line-height:1.3;
}
.img-description hr{
  margin-top:10px;
  margin-bottom:10px;
}
.img-description [class*='icon-']{
font-size:25px;
  color:#cdd0d7;
  text-decoration:none;
}
.img-description [class*='icon-']:hover{
  color:#ff9d00;
}
.team-row .col-sm-3{
  padding:15px;
}
.position-static{
  position:static;
}
.login-bg{
  height:100%;
  width:100%;
  background:url(../images/videoBg.jpg) no-repeat center center fixed;
  background-size:cover;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  -ms-background-size:cover;
}
.login-box {
  width: 380px;
  height: 350px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0; 
  margin: auto;
}
.login-control .input-group .form-control.error,.login-control .input-group .form-control.error:focus{
  background-color:#ffe0e1;
}
/*.txt-msg{
    top: -12px;
  }*/
.form-box{
  background-color:#f6f6f6;
  box-shadow:0 0 8px rgba(0,47,18,0.5);
  padding:30px;
  border-radius:8px;
}
.form-box .login-control{
  border-radius:5px;
  border:1px solid #bababa;
  padding:10px;
  background-color:#FFF;
}
.form-box .login-control .form-group{
  margin:0px;
}
.form-box .form-group{
  margin-left:0;
  margin-right:0;
}
.form-box ::-webkit-input-placeholder {
   color: #bababa;
}

.form-box :-moz-placeholder { /* Firefox 18- */
   color: #bababa;  
}

.form-box ::-moz-placeholder {  /* Firefox 19+ */
   color: #bababa;  
}

.form-box :-ms-input-placeholder {  
   color: #bababa;  
}
.login-control .form-group:first-child{
  border-bottom:1px solid #bababa;
}
.login-control .input-group .form-control{
  border:0px;
  box-shadow:none;
}
.signup-control .input-group .input-group-addon{
  border:0px;
  background:#FFF;
  color:#bababa;
  padding-right:0px;
}
.signup-control .input-group .form-control,.login-control .input-group .form-control{
  box-shadow:none;
  border-radius:4px;
  z-index:0;
  padding-left:33px;
}
.signup-control .input-group,.login-control .input-group{
  width:100%;
}
.signup-control .input-group i,.login-control .input-group i{
  position:absolute;
  z-index:1;
  font-size:17px;
  left:10px;
  top:10px;
  color:#bababa;
}
/**/
.login-control .input-group .form-control:focus{
  background-color:#fff5d1;
  border-radius:0;
}
.form-control:focus{
  border-color:#ffd234;
}

.stack-sub-nav{
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 2;
  left: 0px;
  background: #FFF;
  box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.stack-sub-replace{
  height:55px;
  display:none;
}
/* popup css */
.popupWrapper{ padding:10px; border-radius:5px; box-shadow:0px 0px 8px rgba(0, 0, 0, 0.5); }
.pop-close{ position:absolute; right: 16px; top: 10px; color:transparent; display:block; height:16px; width:16px; z-index:1; }
.pop-close:before{ content:"\f00d"; position:absolute; left:0; top:0; color:#CCC; display:block; font-size:23px; line-height:16px; }
.collapse{
  display:none;
}
.copy-note {
  border-top: 1px solid #4c4c4c;
  padding-top: 10px;
}

/* custum icon */
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-dwwwlr');
  src:url('fonts/icomoon.eot?#iefix-dwwwlr') format('embedded-opentype'),
  url('fonts/icomoon.woff?-dwwwlr') format('woff'),
  url('fonts/icomoon.ttf?-dwwwlr') format('truetype'),
  url('fonts/icomoon.svg?-dwwwlr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before,[class^="icon-"]:after, [class*=" icon-"]:after,.pop-close:before{
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right:5px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-user-child-girl:before {
  content: "\e63c";
}
.icon-user-child-boy:before {
  content: "\e63d";
}
.icon-user-male:before {
  content: "\e63e";
}
.icon-user-female:before {
  content: "\e63f";
}
.icon-health-big:before {
  content: "\e63b";
}
.icon-immunization:before {
  content: "\e638";
}
.icon-document-color:before {
  content: "\e63a";
}
.icon-image:before {
  content: "\e636";
}
.icon-picture:before {
  content: "\e637";
}
.icon-thumbs-up:before {
  content: "\e639";
}
.icon-star:before {
  content: "\e606";
}
.icon-vaccine-drop:before {
  content: "\e632";
}
.icon-vaccine-tab:before {
  content: "\e633";
}
.icon-vaccine-inj:before {
  content: "\e634";
}
.icon-jab-user:before {
  content: "\e635";
}
.icon-waistcirc:before {
  content: "\e619";
}
.icon-alert:before {
  content: "\e630";
}
.icon-bell:before {
  content: "\e631";
}
.icon-download-file:before {
  content: "\e62f";
}
.icon-gdrive:before {
  content: "\e62b";
}
.icon-upload-file:before {
  content: "\e62c";
}
.icon-pdf:before {
  content: "\e62d";
}
.icon-search:before {
  content: "\e62e";
}
.icon-photoalbum:before {
  content: "\e62a";
}
.icon-cherish:before {
  content: "\e627";
}
.icon-organise:before {
  content: "\e628";
}
.icon-peoplegroup-team:before {
  content: "\e629";
}
.icon-health:before {
  content: "\e622";
}
.icon-graduation:before {
  content: "\e623";
}
.icon-others:before {
  content: "\e624";
}
.icon-mind:before {
  content: "\e625";
}
.icon-tracker:before {
  content: "\e626";
}
.icon-facebook-square:before {
  content: "\e61a";
}
.icon-parent:before {
  content: "\e61b";
}
.icon-manage-check:before {
  content: "\e61c";
}
.icon-forums:before {
  content: "\e61d";
}
.icon-smile-sad:before {
  content: "\e61e";
}
.icon-question-o:before {
  content: "\e61f";
}
.icon-timeline:before {
  content: "\e620";
}
.icon-waistcirc:before {
  content: "\e619";
}

.icon-headcirc:before {
  content: "\e61a";
}

.icon-pencil:before {
  content: "\e617";
}
.icon-trash-o:before {
  content: "\e618";
}
.icon-check-square-o:before {
  content: "\e615";
}
.icon-square-o:before {
  content: "\e616";
}
.icon-check:before {
  content: "\e612";
}
.icon-check-circle:before {
  content: "\e613";
}
.icon-check-circle-o:before {
  content: "\e614";
}
.icon-upload:before {
  content: "\e611";
}

.icon-calender:before {
  content: "\e605";
}
.icon-peoplegroup-plus:before {
  content: "\e60d";
}
.icon-peoplegroup:before {
  content: "\e60e";
}
.icon-addchild:before {
  content: "\e60f";
}
.icon-adduser:before {
  content: "\e610";
}
.icon-bmi:before {
  content: "\e600";
}
.icon-born:before {
  content: "\e601";
}
.icon-camera:before {
  content: "\e602";
}
.icon-date:before {
  content: "\e603";
}
.icon-height:before {
  content: "\e604";
}
.icon-vaccine:before {
  content: "\e606";
}
.icon-weight:before {
  content: "\e607";
}
.icon-lock:before {
  content: "\e608";
}
.icon-points:before {
  content: "\e609";
}
.icon-minus:before {
  content: "\e60a";
}
.icon-plus:before {
  content: "\e60b";
}
.icon-tag-bg:before {
  content: "\e60c";
}
.icon-user:before {
  content: "\f007";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-search:before {
  content: "\f002";
}
.icon-times:before {
  content: "\f00d";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-star:before {
  content: "\f005";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}


.text-green{
  color:#038b35;
}

.singleBx-type16{
  margin-top: 150px;
  background-color:#ffffff;
  border-radius:5px;
  padding:10px 10px 10px 72px;
  position:relative;
  margin-bottom:15px;
}
.titleBar-type4{
  background-color:#f6d29a;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 5px 0 0 5px;
  width: 62px;
}
.titleBar-type4 i{
  position:relative;
  display:block;
  height:100%;
  text-align:center;
}
.titleBar-type4 i:before{
  display: block;
  width: 36px;
  height: 36px;
  font-size: 36px;
  line-height: 0.9;
  margin: 0px;
  color: #d59f4c;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left:-18px;
  margin-top:-18px;
}
/* green background */
.btn-type1{
  background-color:#179741;
  color:#FFFFFF;
  margin-top:10px;
}
.orBox{
  text-align:center;

  font-size:12px;
  text-transform:uppercase;
  background:url("../images/line-txt-dot.gif") repeat-x center center;
}
.orBox span{
  padding:10px 5px;
  background-color:#f6f6f6;
  display:inline-block;
}
.even-row{
  background-color:#b9c7b3;
}
.vw-img-holder{
  padding-right:0;
}
.vw-img-even-holder{
  padding-left:0;
}
.vw-img-holder img,.vw-img-even-holder img{
  width:100%;
}
.info-type-1{
  position:relative;
  left:-90px;
}
.info-type-2{
  position:relative;
  right:-90px;
}
.info-type-3 {
  position: relative;
  left: -70px;
}
.info-sp-1{
  padding-top:13%;
}
.info-sp-2{
  padding-top:12%;
  text-align:right;
}
.info-sp-3{
  padding-top:7%;
}
.even-row h2{
  color:#FFF;
}
.img-full{
  width:100%;
}

.new-menu{
    width: 100%;
    position: fixed;
    background-color:#fac266;
    opacity: 0.95;
    z-index: 9;
    left: 0;
    top: 0;
}
.close-action{
    position: absolute;
    right: 0;
    top:0;
    font-size: 30px;
    color: #FFF;
}
.main-sub-links{
    position: absolute;
    left: 0;
    right: 0;
    top:30%
}
.main-sub-links a{
    display: block;
    padding:10px 0;
    font-size: 190%;
}
.main-sub-links img{
    padding: 0 8px;
}
.view-btn-group img {
    padding: 0 5px;
    height: 46px;
}
.txt-thin{
    font-family: 'HelveticaNeue-Light', Helvetica, Arial, "Lucida Grande", sans-serif;
}
.text-type-3{
    font-size: 35px;
    text-align: center;
}
.appoint-box{
    padding: 20px 0;
    text-align: center;
    position: relative;
}
.avatar-box {
    margin: 15px 10px 15px 9px;;
    border-radius: 5px;
    box-shadow: 0px 0 22px rgba(213,221,227,0.4);
    padding: 30px 30px 30px 160px;
    box-sizing: border-box;
    min-height: 190px;
}
.avatar-box.box-3{
    margin-left:80px; padding-left: 132px;
}
.avatar-box.left{
    margin-left: 50px;
}
.avatar-box.right{
    padding: 30px 160px 30px 30px;
    margin-right: 50px;
}
.avatar-box h1 {
    font-size: 23px;
    font-family: 'HelveticaNeue-Light';
    margin: 0;
}
.avatar-box h4 {
    font-size: 13px;
    font-family: 'HelveticaNeue-Bold';
    margin: 5px 0 8px;
}
.avatar-box p {
    margin-bottom: 0;
}
.avatar-box .avatar-1 {
    position: absolute;
    top: 15px;
    display: inline-block;
    width: 188px;
    height: 190px;
    background: url(../images/icon-1.svg) center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 0;
}
.avatar-box.right .avatar-2 {
    position: absolute;
    top: 15px;
    display: inline-block;
    width: 188px;
    height: 190px;
    background: url(../images/icon-2.svg) center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    right: 0;
}
.avatar-box .avatar-3 {
    position: absolute;
    top: 15px;
    display: inline-block;
    width: 201px;
    height: 190px;
    background: url(../images/icon-3.svg) center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 14px;
}
.avatar-box.right .avatar-4 {
    position: absolute;
    top: 15px;
    display: inline-block;
    width: 188px;
    height: 190px;
    background: url(../images/icon-4.svg) center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    right: 0;
}
.text-blue{
    color: #2a84dd;
}
.text-pink{
    color: #d03869;
}
.text-lavender{
    color: #8b60b5;
}
.text-burgundy{
    color: #cf8a41;
}
.navbar-collapse.collapse{
    display: none !important;
}
.collapse.in{
    display: block !important;
    height: 100% !important;
    text-align: center;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: transparent;
}
.navbar-inverse .navbar-toggle{
    border-color: transparent;
    margin: 0;
}
.navbar-toggle{
    display: block;
}
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (device-width : 414px)
and (device-height : 736px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio : 3)
and (-webkit-device-pixel-ratio : 3)
{
    .header-text h1 {
        font-size: 19px;
        margin-top: 34px;
    }
    .playBtn {
        height: 49px;
        width: 69px;
        margin-left: -42px;
        bottom: 76px;
        font-size: 8px;
    }
    .product-avatar {
        height: 30rem !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
  .device-box{
    padding-bottom:15px;
  }
  .img-holder h2{
    font-size:14px;
    padding:5px;
  }
  .img-holder h5{
    font-size:11px;
  }
  .text-type-1 h2{
    font-size:47px;
  }
  .navbar-collapse.collapse{
    padding-top:10px;
  }
  .stack-header .navbar-collapse.collapse {
    padding-top:0px;
  }
  .header-text h1{
    font-size:40px;
    line-height:1.2;
    margin-top: 20%;
  }
  .avatar-box{
      padding: 30px 30px 30px 115px;
  }
  .avatar-box.box-3{
      margin-left: 78px;
      padding: 23px 30px 15px 97px;
  }
  .avatar-box h1 {
      font-size: 22px;
      margin: 0;
  }
  .avatar-box h4 {
      font-size: 12px;
  }
  .appoint-box {
      padding: 36px 0;
  }
  .parent-section{
      min-height: 850px;
  }
  .text-type-3{
      padding: 30px 0;
  }
  .avatar-box.right {
      padding: 30px 126px 30px 30px;
      margin-right: 50px;
  }
  .playBtn{
    height: 56px;
    width: 80px;
    margin-left: -38px;
    bottom: 107px;
    left: 48.6%;
  }
  .sub-text{
    font-size:22px;
    line-height:1.2;
  }
  .navbar-link{
    padding-top:13px;
    position:relative;
    z-index:8;
  }
  .stack-header .navbar-link{
    padding-top:10px;
  }
  .text-type-1{
    padding-top:0px;
  }
  .bg-divider{
    padding:0 0 16px 0;
  }
  .link-group{
    font-size:20px;
  }
  footer{
    padding: 10px 0;
  }
  .link-box a{
    display:inline-block;
  }
  [class*="-link"]:before{
    font-size:22px;
  }
  .copy-note{
    margin-top:15px;
    padding-top:15px;
    padding-bottom:20px;
  }
  header{
    min-height:inherit;
  }
}
@media (min-width:320px) and (max-width: 767px){
  /*header{
    height:480px !important;
  }*/
  .body-inner header{
    height:auto !important;
  }
  .login-box{
    width:300px !important;
    padding-top:50px;
    top: auto;
    bottom: auto;
  }
  .text-type-1 h2{
    font-size:30px;
  }
  .info-type-1,.info-type-3{
    left:0px;
  }
  .info-type-2{
    right:0;
  }
  .info-sp-1,.info-sp-3{
    padding-top:0;
    padding-bottom:20px;
  }
  .info-sp-2{
    padding-top:0;
    padding-bottom:20px;
    text-align:left;
  }
  .vw-img-holder,.vw-img-even-holder{
    padding-left:0;
    padding-right:0;
    overflow:hidden;
  }
  .login-box{
    width:320px;
  }
  .form-box{
    padding:15px;
  }
  .login-control .input-group-addon{
    padding:6px 0px 6px 12px;
  }
  header{
    min-height:inherit;
  }
  .navbar-header .nurturey-logo{
    width:85%;
    height: 55px;
  }
  .stack-header .nurturey-logo{
    height: 46px;
  }
  .text-type-3{
    font-size: 16px;
  }
  .body-inner{
    padding-top:65px;
  }
  .nav-inner{
    padding:0;
  }
  .nav-inner .navbar-link{
    padding-top:5px;
  }
  .nav-inner .navbar-collapse{
    top:66px;
  }
  .navbar-link{
    padding-top:13px;
    position:static;
  }
  .stack-header .navbar-link{
    padding-top:10px;
  }
  .stack-header .nurturey-logo{
    width:80%;
  }
  .nav-stacked{
    padding-top:0px;
  }
  .nav-replace{
    height:79px;
    padding-top:0px;
  }
  .navbar-collapse{
    position: fixed;
    right: 0px;
    top: 0px;
    background-color:#fac266;
    opacity: 0.95;
    z-index: 9;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .stack-header .navbar-collapse{
    top: 50px;
  }
  .navbar-collapse a{
    display: block;
    text-align: center;
    padding: 10px 0;
    margin-left:0px;
  }
  .main-sub-links{
      top:20%;
      text-align: center;
  }
  .main-sub-links img{
      height: 40px;
      padding: 8px;
  }
  .navbar-inverse .navbar-toggle{
    border-color: transparent;
    margin-right: 0;
    background-color: transparent;
  }
  .stack-header .navbar-inverse .navbar-toggle{
    margin: 0;
    padding: 6px 8px;
  }
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: transparent;
  }
  .signup-link, .login-link{
    border-radius:0;
  }
  .header-text h1{
    font-size:17px;
    margin-top: 15px;
  }
  .sub-text,.btn-burgundy{
    font-size:13px;
  }
  .view-btn-group img {
      padding: 0 1px;
      height: 25px;
  }
  .space {
      margin-top: 11px;
      margin-bottom: 10px;
  }
  .btn-green,.btn-green:hover{
      padding: 4px 5px;
      font-size: 10px;
  }
  .header-text {
        font-size: 10px;
    }
  .product-avatar{
        width: 100%;
        height: 23rem;
    }
  .parent-section{
      background:none;
      background-color:#007f30;
  }
  .playBtn {
      height: 40px;
      width: 56px;
      margin-left: -35px;
      bottom: 58px;
      font-size: 8px;
  }
  .playBtn:before, .pausedBtn:before {
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 10px;
  }   
  .link-group{
    padding-bottom:0px;
    font-size: 13px;
    padding: 8px 0;
  }
  .link-group a{
    display:inline-block;
    padding:0 6px;
    margin:0;
    font-size: 12px;
  }
  .stack-nav .col-lg-12{
    padding:0px;
  }
  /*.stack-sub-nav{
    padding-top:5px;
  }*/
  .stack-sub-replace{
    height:34px;
  }
  .link-group a i{
    font-size: 21px;
    vertical-align: middle;
    margin:0 auto;
    display: block;
    height: 25px;
  }
  .video-container{
    height:inherit;
  }
  .video-container video{
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom:inherit;
    z-index:0;
  }
  /*.page-container{
    padding-top:5px;
    padding-bottom:10px;
  }*/
  .text-type-2{
    font-size: 16px;
    margin-bottom: 20px;
  }
  .step-box{
    font-size: 13px;
    margin-bottom: 20px;
  }
  .step-box h2{
    font-size: 16px;
  }
  .green-box{
    padding: 10px;
    margin: 24px 0 24px;
    font-size: 13px;
  }
  .green-box h2{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .device-box{
    font-size: 13px;
  }
  .device-box h2{
    font-size: 16px;
    font-weight: bold;
  }
  .device-box img{
    margin-bottom:5px;
  }
  .tellus-section{
    font-size:13px;
  }
  .tellus-section h2{
    font-size: 22px;
  }
  footer{
    padding: 10px 0;
  }
  .link-box a{
    display:inline-block;
  }
  [class*="-link"]:before{
    font-size:22px;
  }
  .copy-note{
    padding-top:15px;
    margin-top:15px;
  }
  .copy-note .text-right{
    text-align:left;
  }
  .hidden-480{
    display:none;
  }
  .text-type-1{
    padding-top:0px;
  }
  .text-type-1.text-right{
    text-align:left !important;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-bottom:30px;
    margin-top:30px;
  }
  .col-sm-6.col-xs-6{
    width:auto;
  }
  .login-form .btn-burgundy,.signup-form .btn-burgundy,.reset-form .btn-burgundy{
    border-radius:5px;
    padding:5px 12px;
    font-size:14px;
  }
  .avatar-box{
      min-height: 150px;
  }
  .avatar-box .avatar-1 {
      width: 115px;
      height: 125px;
      left: 4px;
      bottom: 0;
      top: inherit;
  }
  .avatar-box.right .avatar-2 {
      width: 112px;
      height: 130px;
      right: 0px;
      bottom: 0;
      top: inherit;
  }
  .avatar-box .avatar-3 {
      width: 115px;
      height: 125px;
      left: 4px;
      bottom: 0;
      top: inherit;
  }
  .avatar-box.right .avatar-4 {
      width: 112px;
      height: 130px;
      right: 0px;
      bottom: 0;
      top: inherit;
  }
  .avatar-box.right{
      padding: 11px 138px 11px 15px;
      margin: 15px 0;
  }
  .avatar-box.box-3 {
      margin: 15px 0;
      padding-left: 132px;
      padding: 11px 15px 11px 120px;
  }
  .avatar-box.left {
      margin: 15px 0px 15px 0px;
      padding: 11px 15px 11px 120px;
  }
  .avatar-box h1 {
      font-size: 20px;;
  }
  .avatar-box h4 {
      font-size: 12px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .spicon-step1{
        background: url("../images/1@2x.png") no-repeat center center;
        background-size: cover;
    }
    .spicon-step2{
        background: url("../images/2@2x.png") no-repeat center center;
        background-size: cover;
    }
    .spicon-step3{
        background: url("../images/3@2x.png") no-repeat center center;
        background-size: cover;
    }
}


.text-black{
  color:black;
}
.login_btn{
  border-radius: 5px;
}

.btn-type2{
  background-color:#ffc15d;
  color:#000000;
  margin-top:10px;
}
.resend-email-link{
  color:#006926 !important;
  text-decoration:none;
}
.resend-email-link:hover{
  text-decoration:underline;
}