  <script type="text/javascript">
   $(document).ready(function() {

    $('#example tfoot th').each( function () {
        var title = $(this).text();
        if(title !='')
          
          {
            $(this).html( '<input type="text" placeholder="'+title+'" />' );
          }
    } );

    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],   
        
      "scrollX": true,
      "lengthMenu": [[-1, 10, 50, 100, 200], ["All",10, 50, 100, 200]],
        // "deferRender":    true,
        // "scrollY":        200,
        // "scrollCollapse": true,
        // "scroller":       true

    } );

    // Apply the search
    t.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            console.log(this.value)
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );


    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    $('.js-delete-module-access').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_batch_notification",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );

 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    td {
        min-width:60px;
        max-width:200px;
    }
 </style>
<!-- <%#= link_to "All Users", "/admin/users"%> &nbsp;&nbsp;&nbsp;&nbsp;<%#=link_to "  Report", "/admin/users/report" %>&nbsp;&nbsp;&nbsp;&nbsp; <%#= link_to "All Pointer", "/admin/pointers" %> --> 
<br/>
<% batch_notification_list =  BatchNotification::BatchNotificationManager.where(:identifier.nin=>["4","11","18",	"action_for_home"]).order_by("created_at asc")%>

<div class="js-test_validation_form">
<%= form_tag("/admin/batch_notification_manager/test_notification_on",method: 'get', remote: true) do %>
  <div class="form-type2">
    <div class="form-row">
        <label class="form-label"><b>Identifier</b></label>
     
    <%= select_tag :identifier, options_from_collection_for_select(batch_notification_list, "identifier", "identifier"), {:class => 'custom-select1  '} %>
     <%= hidden_field_tag :check_validation_status, "false"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= submit_tag "Test notification on(Without validatation)",class: "btn btn-type2",:disable_with=>"Wait.." %>
    <%= submit_tag "Test notification on(With validatation)",class: "btn btn-type2",:disable_with=>"Wait.." %>
    <% end %>
    
    </div>

    
  </div>
  <%= form_tag("/admin/batch_notification_manager/clear_notification_count",method: 'get', remote: true) do %>
  <div class="form-type2">
    <div class="form-row">
        <label class="form-label"></label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= submit_tag "Reset validation count",class: "btn btn-type2", :style=>"margin-left: 31px;",:disable_with=>"Wait.." %>
    <% end %>
</div>

<br/>
<br/>
<div class="js-test_validation_form" style="display: none;">
<%= form_tag("/admin/batch_notification_manager/test_notification_on",method: 'get', remote: true) do %>
  <div class="form-type2">
    <div class="form-row">
        <label class="form-label"><b>Identifier</b></label>
     
    <%= select_tag :identifier, options_from_collection_for_select(batch_notification_list, "identifier", "identifier"), {:class => 'custom-select1  '} %>
     <%= hidden_field_tag :check_validation_status, "true"%>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= submit_tag "Test notification on(With validation)",class: "btn btn-type2" %>
    <% end %>

    </div>
  </div>
    </div>
  </div>
</div>

 
<div class="js-test_validation_form"  >
 <%#= form_tag("/admin/batch_notification_manager/clear_notification_count",method: 'get', remote: true) do %>
  <div class="form-type2">
    <div class="form-row">
        <label class="form-label"></label>
    <%#= submit_tag "Clear validation count",class: "btn btn-type2" %>
    <%# end %>
    </div>
  </div>
</div>


<div style="cursor: pointer;" onclick="$('.js-allowed-push').toggle()" class= "btn btn-type2"> Max allowed notification details </div>
<div class="js-allowed-push" style="display: none;">
<br/>
<h3> Max email allowed for a Day:  <%= GlobalSettings::TotalMaxAllowedEmail%></h3>
<br/>
<h3> Max push allowed for a Day:  <%= GlobalSettings::TotalMaxAllowedPush%>
</h3>
<br/>
<h3>Push allowed for tools in a Day</h3><%= GlobalSettings::MaxAllowedPushCountTypeWise%>
<br/>
<br/>
<h3>Email allowed for tools in a Day:</h3> <%= GlobalSettings::MaxAllowedEmailCountTypeWise%>
<br/>
<br/>
</div>
<br/>
<br/>
<h2> Batch Notification List </h2>
<br/>
<%= link_to "Add new batch notification", "/admin/batch_notification_manager/new_batch_notification" %>
 &nbsp;&nbsp;&nbsp;&nbsp;
<%#= link_to "User role list", "/admin/batch_notification_manager" %>

<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                  </th>
            <th> Identifier       </th>
            <th> Status          </th>
            <th> Priority       </th>
            <th> Notify By       </th>
            <th> Batch No          </th>
            <th> case       </th>
            <th> Push Type       </th>
            <th> Message          </th>
            <th> TitlePrefix          </th>
            <th> Destination       </th>
            <th> Category       </th>
            <th> Tool Status       </th>
            <th> Subscription Status       </th>
            <Th> Total Allowed Push Count </Th>
            <th>Gap in send Notification again </th>
            <!-- <th> Check Sent in X Day </th> -->
            <th> Check Sent Before </th>
            <th> Check Signup Tenure (in days)</th>
            <th> Added Child Member Tenure</th>
            <th> User Activity Status</th>
            <th> User Segment        </th>
            <th> Notification Action          </th>
            <th> Expire in no of day          </th>
            <th> frequency          </th>
            <th> Week Days for push          </th>
            <!-- <th> Sunday </th>
            <th> Monday </th>
            <th> Tuesday </th>
            <th> Wednesday </th>
            <th> Thursday </th>
            <th> Friday </th>
            <th> Saturday </th> -->
            <th> Action           </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th> Identifier       </th>
            <th> Status          </th>
            <th> Priority       </th>
            <th> Notify By       </th>
            <th> Batch No          </th>
            <th> case       </th>
          
            <th> Push Type       </th>
            <th> Message          </th>
            <th> TitlePrefix          </th>
            <th> Destination       </th>
            <th> Category       </th>
            <th> Tool Status       </th>
            <th> Subscription Status       </th>
            <Th> Total Allowed Push Count </Th>
            <th>Gap in send Notification again </th>
            <th> Check Sent Before </th>
            <th> Check Signup Tenure (in days)</th>
            <th> Added Child Member Tenure</th>
            <th> User Activity Status</th>
            <th> User Segment        </th>
            
            <th> Notification Action          </th>
            <th> Expire in no of day          </th>
            <th> Frequency          </th>
            <th> Week Days for push          </th>
            <!-- <th> Sunday </th>
            <th> Monday </th>
            <th> Tuesday </th>
            <th> Wednesday </th>
            <th> Thursday </th>
            <th> Friday </th>
            <th> Saturday </th>
 -->
            <th >Action            </th>
          </tr>
        </tfoot>
        <tbody>
         <% if  @batch_notifications.present? %>
     <% @batch_notifications.each do | batch_notification |  %>
        <tr id="dataRow1">
            <td></td>
            <td> <a href="/admin/users/push_notification_response_report?identifier=<%= batch_notification.identifier %>" target="_blank" ><%= batch_notification.identifier %></a>  </td>
            <td> <%= batch_notification.status %>  </td>
            <td> <%= batch_notification.priority %>  </td>
            <td> <%= batch_notification.notify_by %>  </td>
            <td> <%= batch_notification.batch_no %>  </td>
            <td> <%= batch_notification.case %>  </td>
            <td> <%= batch_notification.push_type %>  </td>
            <td> <%= batch_notification.message %>  </td>
            <td> <%= batch_notification.title_prefix %>  </td>
            <td> <%= batch_notification.destination %>  </td>
            <td> <%= batch_notification.category %>  </td>
            <td> <%= batch_notification.tool_status %>  </td>
            <td> <%= batch_notification.subscription_status %>  </td>
            <td> <%= batch_notification.total_allowed_push_count == -1 ? "NA" : batch_notification.total_allowed_push_count  %>  </td>
            <td> <%= batch_notification.check_sent_in_x_day %>  </td>
            <td> <%= batch_notification.check_sent_before %>  </td>
            <td> <%= batch_notification.check_signup_tenure %>  </td>
            <td> <%= batch_notification.added_child_member_tenure.gsub("."," ") %>  </td>
            <td> <%= batch_notification.user_activity_status %>  </td>
            <td> <%= batch_notification.user_segment %>  </td>
            <td> <%= batch_notification.action %>  </td>
            <td> <%= batch_notification.expire_in_no_of_day %>  </td>
            <td> <%= batch_notification.frequency %>  </td>
            <td> <%= batch_notification.week_days_for_push %>  </td>
            <!-- <td> <%#= batch_notification.sunday %>  </td>
            <td> <%#= batch_notification.monday %>  </td>
            <td> <%#= batch_notification.tuesday %>  </td>
            <td> <%#= batch_notification.wednesday %>  </td>
            <td> <%#= batch_notification.thursday %>  </td>
            <td> <%#= batch_notification.friday %>  </td>
            <td> <%#= batch_notification.saturday %>  </td>
              
 -->
            <td> <%=link_to "","/admin/batch_notification_manager/#{batch_notification.id}/edit",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/batch_notification_manager/delete_batch_notification?id=#{batch_notification.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{batch_notification.id}" %>
            </td>
        </tr>
    <% end %>  
    <% end %>                
    </tbody>
</table> 
      <div id="js-dialog"> </div>    

  <div class="CL"></div>
 
 
