<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  
 <br/>
 <br/>
 <br/>
 <br/>

<%= form_for @batch_notification,url:"/admin/batch_notification_manager", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Add new batch notification</h2>
 <%if @batch_notification.errors.any? %>
 <%= @batch_notification.errors.full_messages.first %>
 <br/>
 <br/>
 <% end %>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
      <div class="form-row">
        <label class="form-label">Identifier</label>
         <%= f.text_field :identifier, class: "js-name textBx-type2"  %>
      </div>

      <div class="form-row">
        <label class="form-label">Message</label>
         <%= f.text_area :message, class: "js-name textBx-type2"  %>
      </div> 
     
      <div class="form-row">
        <label class="form-label">Priority</label>
         <%= f.select :priority, options_for_select((0..50),@batch_notification.priority), :class => 'custom-select1  ' %> 
      </div> 

      <div class="form-row">
        <label class="form-label">Notify By(Email/Push/Both)</label>
         <%= f.select :notify_by, options_for_select(["push","email"],@batch_notification.notify_by),{:include_blank=> false},:multiple=>true,:size=>2, :class => 'custom-select1  ' %> 
      </div> 


      <div class="form-row">
        <label class="form-label">Destination(Deeplink)</label>
         <%= f.select :destination, options_for_select(BatchNotification::BatchNotificationManager.destination_values,@batch_notification.destination), :class => 'custom-select1  ' %> 
          
      </div>


      <div class="form-row">
        <label class="form-label">Category</label>
         <%= f.select :category, options_for_select(BatchNotification::BatchNotificationManager.destination_values,@batch_notification.category), :class => 'custom-select1  ' %> 
          
      </div>

      <div class="form-row">
        <label class="form-label">Case</label>
         <%= f.text_area :case, class: "js-name textBx-type2"  %>
      </div>

      
     <div class="form-row">
        <label class="form-label">Tool Status(send push if tool is active/deactived/NA)</label>
        <%= f.select :tool_status, options_for_select(["NA","active","deactivated"],@batch_notification.tool_status), :class => 'custom-select1  ' %>
      </div>
      
      <div class="form-row">
        <label class="form-label">Subscription Status(send push if user has subscription free/paid)</label>
        <%= f.select :subscription_status, options_for_select(["free","paid"],@batch_notification.subscription_status),{:include_blank=> false},:multiple=>true,:size=>2,  :class => 'custom-select1  ' %>
      </div>
      <% option_values = [["NA", -1]] + (1..10).map{|a| [a*100, a*100]} %>
      <div class="form-row">
        <label class="form-label">Total Allowed Push Count </label>
        <%= f.select :total_allowed_push_count, options_for_select(option_values,@batch_notification.total_allowed_push_count), :class => 'custom-select1  ' %>
      </div>

      <div class="form-row">
        <label class="form-label">Expire in no of day</label>
        <%= f.select :expire_in_no_of_day, options_for_select((0..50),@batch_notification.expire_in_no_of_day), :class => 'custom-select1  ' %>
          
      </div>
      
      <div class="form-row">
        <label class="form-label">Frequency</label>
         <%= f.text_field :frequency, class: "js-name textBx-type2"  %>
      </div>
      <div class="form-row">
        <label class="form-label">action</label>
        <%= f.select :action, options_for_select((BatchNotification::BatchNotificationManager.action_values),@batch_notification.action), :class => 'custom-select1  ' %>
          
      </div>



       <div class="form-row">
        <label class="form-label">Push Type</label>
         <%= f.select :push_type, options_for_select(["Batch","Instant"],@batch_notification.push_type), :class => 'custom-select1  ' %> 
      </div> 

      <div class="form-row">
        <label class="form-label">Status</label>
         <%= f.select :status, options_for_select(["Active","Draft"],@batch_notification.status), :class => 'custom-select1  ' %> 
      </div> 

    <div class="form-row">
        <label class="form-label">Batch no</label>
         <%= f.select :batch_no, options_for_select((0..24),@batch_notification.batch_no), :class => 'custom-select1  ' %> 
    </div>



    <div class="form-row">
        <label class="form-label">Gap in send notification again(in days)</label>
         <%= f.select :check_sent_in_x_day, options_for_select((["NA"] + (0..90).to_a),@batch_notification.check_sent_in_x_day), :class => 'custom-select1  ' %> 
      </div> 


       <div class="form-row">
        <label class="form-label">Check Notification Sent Before</label>
         <%= f.select :check_sent_before, options_for_select([false,true],@batch_notification.check_sent_before), :class => 'custom-select1  ' %> 
      </div> 


     <div class="form-row">
        <label class="form-label">Check Signup Tenure(in days)</label>
         <%= f.select :check_signup_tenure, options_for_select( (["NA"]+(0..180).to_a),@batch_notification.check_signup_tenure), :class => 'custom-select1  ' %> 
      </div> 

      <div class="form-row">
        <label class="form-label">Added Member Tenure</label>
        <%= select_tag :duration, options_for_select( (["NA"]+(0..365).to_a),(@record.added_child_member_tenure.split(".")[0] rescue "NA") ), :class => 'custom-select1' %>
        <%= select_tag :frequency, options_for_select(["NA","day","month","years"],(@record.added_child_member_tenure.split(".")[1].downcase rescue 0) ), :class => 'custom-select1' %> 
      </div>
     
      <div class="form-row">
        <label class="form-label">User activity status</label>
        <% activity_status_list = (["Active","Inactive","Defunct"] + User.distinct(:activity_status)).uniq %>
        <%= f.select :user_activity_status, options_for_select(activity_status_list,@batch_notification.user_activity_status),{:include_blank=> false},:multiple=>true,:size=>3, :class => 'custom-select1  ' %>          
      </div>
      
      <div class="form-row">
        <label class="form-label">User Segment</label>
        <% segment_list =  GlobalSettings::UserSegment.keys.map(&:to_s)%>
         
        <%= f.select :user_segment, options_for_select(segment_list,@batch_notification.user_segment),{:include_blank=> false},:multiple=>true,:size=>segment_list.count, :class => 'custom-select1  ' %>
      </div>
     <!-- Enable for days -->

     <div class="form-row">
        <label class="form-label">Week days for push </label>
         <%= f.select :week_days_for_push, options_for_select(["sunday","monday","tuesday","wednesday", "thursday","friday","saturday"],@batch_notification.week_days_for_push),{:include_blank=> false},:multiple=>true,:size=>7, :class => 'custom-select1  ' %> 
      </div> 


    <div class="form-type3"><div class="form-action-row">
      <%= f.submit "Create", class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
 <%= button_to "Cancel", "/admin/batch_notification_manager", :method => "get",class: "btn btn-type2"  %>