<% if @error %>
$( "#js-dialog").html("Error occurred")
$( "#js-dialog" ).dialog();
<% else %>
$( "#js-dialog" ).html("Assigned notification count is <%=@assigned_notification_count %><br/>Sent push notification count is <%=@sent_push_notification_count%><br/>Sent email notification count is <%=@sent_email_notification_count%>")
$( "#js-dialog" ).dialog();
 
<% end %>