.singleBx-type6
  - url = params[:action] == "edit" ? admin_questionnaire_question_path(@questionnaire.id,@question.id) : admin_questionnaire_questions_path  
  = form_for @question, as: "question", :url => url do |f|
    - if @question.errors.any?
      #error_explanation
        %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
        %ul
          - @question.errors.full_messages.each do |msg|
            %li= msg
    .form-type1
      .form-row   
        = f.label :question_text
        = f.text_area :question_text, :rows => 8, :cols => 35
      .form-row
        = f.label :question_type
        = select_tag "question[question_type]", options_for_select(SystemQuestion::QUESTION_TYPE), :prompt => "Select Type"
      .form-row#set_high{:style => "display:none"}

        = f.label :set_high
        = f.select :set_high, options_for_select(("0".."10").to_a, selected:@question.set_high ), :prompt => "Select High"
      .form-row#high_label{:style => "display:none"}
        = f.label :high_label
        = f.text_field :high_label, :rows => 1, :cols => 1
      .form-row#set_low{:style => "display:none"}
        = f.label :set_low
        = f.select :set_low, options_for_select(("0".."10").to_a,selected:@question.set_low), :prompt => "Select Low"
      .form-row#low_label{:style => "display:none"}
        = f.label :low_label
        = f.text_field :low_label, :rows => 1, :cols => 1
      .form-row
        = f.submit 'Save', class: "btn btn-type2"

:javascript
  $("#question_question_type").change(function(){
    if ($(this).val() == "2")
      {
        $("#set_high").show();
        $("#set_low").show();
        $("#high_label").show();
        $("#low_label").show();
      }
    else
      {
        $("#set_high").hide();
        $("#set_low").hide();
        $("#high_label").hide();
        $("#low_label").hide();
      }
  });