#bodyWapper
  = link_to 'All Questionnaire', admin_questionnaires_path
  = link_to 'Add Question', new_admin_questionnaire_question_path(@questionnaire.id)
  = "(#{@questionnaire.title})"
  %h5 Questions

  %table.tableGride{:width=>"100%", :border=>"1", :cellspacing=>"0", :cellpadding=>"0"}
    %tr
      %th Question text
      %th Question type
      %th
      %th
      

    - @questions.each do |question|
      %tr{:style=>"text-align:center"}
        %td= question.question_text
        %td= question.question_type == "2" ? "Low-High" : "Yes-No"			
        %td
          = link_to 'Show', admin_questionnaire_question_path(@questionnaire.id,question.id)  
          |  
          =link_to 'Edit', edit_admin_questionnaire_question_path(@questionnaire.id,question.id)
          |
          =link_to 'Destroy', admin_questionnaire_question_path(@questionnaire.id,question.id), :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
  = link_to 'Back', admin_questionnaire_path(@questionnaire.id)