%p#notice= notice

%p
  %b Question text:
  = @question.question_text
%p
  %b Question type:
  = @question.question_type

= link_to 'Edit', edit_admin_questionnaire_question_path(@questionnaire.id,@question.id)
\|
= link_to 'Back', admin_questionnaire_questions_path
