= @answer.question.question_text
%br/
%br/
= form_for @answer, :url => admin_questionnaire_question_save_answer_path do |f|
  - if @answer.question.question_type.eql?("1")
    .field
      = f.label :yes
      = f.radio_button(:yes_no, true)
      = f.label :no
      = f.radio_button(:yes_no, false)
  - else
    .field
      = f.label :rating
      = select_tag "answer[rating]", options_for_select((@answer.question.set_low..@answer.question.set_high).to_a), :prompt => "Ratings"
  end
  .actions
    = f.submit 'Save'
