<% is_super_admin =  current_user.email == AppConfig["superadmin_email"] rescue false %>
<br/>
<br/>
<br/>
<br/>
<%= form_tag("/admin/manage_nhs_account/get_filter_data",method: 'post') do %>
  <%= render :partial=>"/admin/api_log/user_detail_form_for_search"%>
  <div class="form-row">
     Clinic Linked
     <%=select_tag "clinic_linked", options_for_select(["Linked","Not Linked"], params[:clinic_linked]),:prompt => 'Select Email Status', :class=>"custom-select chosen-field1 js-status1" %>
    
  </div>
   
   <div class="form-row" style="background: white">
    <label class="form-label">Linking Start Date</label>
    <%= text_field_tag :start_date, (params[:start_date]|| (Date.today - 1.month).to_s), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    &nbsp;&nbsp;&nbsp;&nbsp;
   <label class="form-label">Linking End Date</label>
     
    <%= text_field_tag :end_date, (params[:end_date] || Date.today.to_s), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
  <div class="form-row">
    <%=  submit_tag "Search",class:"btn btn-type2" %>
  </div>
<%end %>
<script type="text/javascript">
  $(document).ready(function() {
    var t = $('#nhs_account').DataTable( {
      "columnDefs": [ {
        "searchable": false,
        "orderable": false,
        "targets": 0
      } ],
      "scrollX": true,
      "lengthMenu": [[30, 50, 100, 200, -1], [30, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]
    });
    t.on( 'order.dt search.dt', function () {
      t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
          cell.innerHTML = i+1;
      } );
    } ).draw();

  } );
</script> 
<style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
  }
</style>
 
<br/>
<br/>
<h2> NhsLogin/ Gp Linked Accounts </h2>
<br/>
 
<br/>
<br/>
<br/>
Total result: <%=@nhs_account_count %>
<br/>
<br/>
<%=@message %>
<br/>
<br/>
<br/>
<table id="nhs_account" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th>
      <% if is_super_admin %>
        <th>Name                          </th>
        <th>Email                         </th>
        <th>Linked On                    </th>
      <% end %>
      <th>User ID                         </th>
      <th>NhsLogin Status                 </th>
      <th>Clinic Linked                 </th>
      <th>LinkingType(Proxy/Self)                 </th>
      <% if is_super_admin %>
      
        <th>UserAccountStatus         </th>
      <% end %>
      <th>UpdateUserAccount  </th>
      <th>Clinic Access                 </th>    
      <% if is_super_admin %>
     
        <th>UpdateClinic Access  </th>
      <% end %>
      <th>GpSocApiRequestCount(Date)    </th>
      <th>                              </th>    
    </tr>
  </thead>
  <tfoot>
   <tr>
      <th></th>
      <% if is_super_admin %>
        <th>Name                          </th>
        <th>Email                         </th>
        <th>Linked On                    </th>
      <% end %>
      <th>User ID                         </th>
      <th>NhsLogin Status               </th>
      <th>Clinic Linked                 </th>
      <th>LinkingType(Proxy/Self)                 </th>
      <th>UserAccountStatus         </th>
      <% if is_super_admin %>
        <th>UpdateUserAccount  </th>
      <% end %>
      <th>Clinic Access                 </th>    
      <% if is_super_admin %>

        <th>UpdateClinic Access  </th>
      <% end %>
      <th>GpSocApiRequestCount(Date)    </th>
      <th>   </th>
    </tr>
       
    </tr>
  </tfoot>
  <tbody>
    <% @nhs_accounts.each do | account |  %>
      <% begin %>
         <% user = account.user %>
          <%# if user.present? %>
            <tr id="<%=account.id%>">
              <td></td>
            <% if is_super_admin %>
              <td> <%= account.name %> </td>
              <td> 
                <a href="#html" data-height="600" data-overflow="scroll"  data-pop="/admin/users/get_user_detail?user_email=<%=account.email%>"  style="width:70px;">
                  <%= account.email %>
                </a>
              </td>
              <% linked_on = Clinic::LinkDetail.where(member_id:account.id).only(:created_at).last.created_at rescue nil%>
              <td><span style="display:none;"><%= linked_on.to_i %></span><%= linked_on.to_date rescue nil%></a></td>
            <% end %>
              <td> <%= account.id %> </td>
              <td> <%= @member_ids.include?(account.id.to_s) == true ? "Yes": "No"%></td>
              <td> <%= account.clinic_link_state >= 2 ? "Yes": "No" %> </td>
              <td> <%= account.class.to_s == "ChildMember" ? "Proxy" : "Self" %> </td>
              
              <% if user.present? %>
                <td id="td-<%=user.id%>">  <%= user.status  rescue nil%>  </td>
              <% else %>
                <td>  </td>
              <% end %>
              
              <% if is_super_admin %>
                <% if user.present? %>
                  <td>
                    <%= link_to user_action(user), "/admin/users/update_user_status?id=#{user.id}", remote: true, id:user.id %></td>
                <% else %>
                  <td>  </td>
                <% end %>
              <% end %>
              
              <%if user.present? %>
                <td id="clinic_account_status-<%=user.id%>">  
                  <%= account.clinic_account_status  rescue "" %>               
                </td>
              <%else %>
                <td><%= account.clinic_account_status  rescue "" %></td>
              <% end %>
            
            <% if is_super_admin %>
              <td> 
                <%= link_to user_clinic_access(account), "/admin/manage_nhs_account/update_clinic_account_status?id=#{account.id}", remote: true, id:"update_clinic_account_status_#{account.id}" %>
              </td>
            <% end %>
              <td>  <%= account.gpsoc_api_request_count.to_i%>(<%=(account.gpsoc_api_request_updated_on||Date.today).strftime("%d-%m-%Y") rescue ""%> )              </td>
              <td> </td>
            </tr>
          <%# end %>
      <%rescue Exception => e %>
        <%= e.message%>
      <%end%>
      <% end %> 
     
  </tbody>
</table> 
<div class="CL"></div>
 








