<script type="text/javascript">
  $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
        "searchable": false,
        "orderable": false,
        "targets": 0
      } ],
      "scrollX": true,
      "lengthMenu": [[30, 50, 100, 200, -1], [30, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]
    });
    t.on( 'order.dt search.dt', function () {
      t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
          cell.innerHTML = i+1;
      } );
    } ).draw();

  } );
</script> 
<style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
  }
</style>
 
<br/>
<br/>
<h2> Design A Smile Contest Entry List </h2>
<br/>
 
<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th>
       <th>Name                         </th>
      <th>Email                         </th>
      <th>Address                       </th>
      <th>No of children                </th>
      <th>Age of children                </th>
      <th>File                           </th>    
      <th>                           </th>    
    </tr>
  </thead>
  <tfoot>
   <tr>
      <th></th>
       <th>Name                         </th>
      <th>Email                         </th>
      <th>Address                       </th>
      <th>No of children                </th>
      <th>Age of children                </th>
      <th>File                           </th>    
      <th>                           </th>    
    </tr>
       
    </tr>
  </tfoot>
  <tbody>
    <% @design_entries.each do | entry |  %>
      <tr id="dataRow1">
        <td></td>
        <td> <%= entry.name %>                   </td>
        <td> <%= entry.email %>                  </td>
        <td> <%= entry.address%>                  </td>
        <td> <%= entry.no_of_children %>         </td>
        <td> <%= entry.age_of_childrens %>        </td>
        <% if entry.local_image.present? %>
        <td> <%= link_to entry.local_image.original_filename, entry.local_image.url %>                   </td>
        <% else %>
        <td> <%= link_to entry.file.original_filename, entry.file.url %>                   </td>
        <% end %>
        <td></td>
      </tr>
   <% end %> 
  </tbody>
</table> 
<div class="CL"></div>
 








