<tr class="js-<%=record.id%>">
  <td><%= toDate(record.updated_at) %></td>
  <td><%= value_convert(record.height,"height",@health_unit["height"]) %></td>
  <td><%= value_convert(record.weight,"weight",@health_unit["weight"]) %></td>
  <td><%= value_convert(record.head_circum,"head_circum", @health_unit["head_circum"])%></td>
  <td><%= value_convert(record.waist_circum,"waist_circum", @health_unit["waist_circum"])%></td>
  <td>
    <a href="#html" data-pop="/health/edit?health_record_id=<%=record.id%>" data-width="600"class="icon-pencil txt-link-type1"></a>
  </td>
</tr>
 
