
  <div class="clearFix">
    <div class="singleBx-type12">
      <i class="icon-<%=Health::HEALTH_PARAM[data_type]%>"></i>
      <% if eval("health.#{data_type}") %> 
      <p class="page-title-2 light"><%= value_convert(eval("health.#{data_type}"),data_type,@health_unit[data_type])  %> <%= @health_unit[data_type] %></p>
      <p>
        <span class="txt-type-3">Updated:
        <%= toDate2(health.updated_at)%></span>
      </p>
      <% else %>
      <p><span class="txt-type-3">
        <%= Health::Health_norecord[data_type] %></span>
      </p>
      <% end %>
      
    <b><span style="font-size: 13px;">Your child's growth with WHO benchmarks</span></b><br/>

    </div>
    <div class="singleBx-type13">
      <div id="healthCharts" class="chartBox healthCharts" style="height:320px;"></div>
      <div class="legend-list">
          <div class="legend-1">Child</div>
          <div class="legend-2">P3</div>
          <div class="legend-3">P15</div>
          <div class="legend-4">P85</div>
          <div class="legend-5">P97</div>
          <br/>
      </div>
      
     
    </div>
</div>
     <div class="singleBx-type11 space-bottom-1 icon-info-circle view-info" style="color:#a2a2a2 !important;">
      The P3, P15, P85, and P97 indicate the percentage of children (of a given age) who have the same or less measurement value. E.g. A P15 line suggests that 15% of the children (of a given age) measure same or less.</div>
 
   