  <ul class="list-type-4">
    <% Health::OverView_Param.each do|k,v| %>
      <li class="js-health-link" data-id="<%=k%>">
        <i class="icon-<%=v%>"></i>
          <% if eval("@last_#{k}_record")   %>
            <p class="page-title-2 light">
              <%=  value_convert(eval("@last_#{k}_record[k]"),k,@health_unit[k])  || last_health_record.bmi %> 
              <%= @health_unit[k] %>
            </p>
            <p><span class="txt-type-3">Updated:<br>
              <%= toDate2(eval("@last_#{k}_record").updated_at) %></span>
            </p>
          <% else %>
            <p><span class="txt-type-3"><%= Health::Health_norecord[k] %></span></p>
          <% end %>
      </li>
    <% end %>
     
  </ul>
 