<div class="singleBx-type6a">
  <div class="titleBar reset-margin">
    <h1>
 <%=profile_image_tag(@member,"small") %>
 MEASUREMENTS</h1>
    <div class="actionBar">
    <a href="#html" data-pop="/health/new_health_record?member_id=<%=params[:member_id]%>" data-width="600" class="btn btn-big-type1 icon-plus">Add</a>
                   
                </div>
  </div>
</div>

    <!-- health parameters start here -->
<div class="singleBx-type5">
  <ul class="tab-list-type1">
    <li class="active js-health-tab" data-type="all" data-member-id="<%=params[:member_id]%>">All</li>
    <li class="js-health-tab" data-type="height" data-member-id="<%=params[:member_id]%>">Height</li>
    <li class="js-health-tab" data-type="weight" data-member-id="<%=params[:member_id]%>">Weight</li>
    <li class="js-health-tab" data-type="bmi" data-member-id="<%=params[:member_id]%>">BMI</li>
    <li class="js-health-tab" data-type="head_circum" data-member-id="<%=params[:member_id]%>">
      Head Circumference
    </li>
    <li class="js-health-tab" data-type="waist_circum" data-member-id="<%=params[:member_id]%>">
      Waist
    </li>
  </ul>
  <div class="js-health-summery" >
    <%= render :partial=>"health/health_overview", :locals=>{last_health_record: @last_health_record}  %>
  </div>
  <!-- no entery msg-->
  <!-- entery table -->
  <div class="js-health-entries">
    <%= render :partial=>"list_health_record", :locals=>{health_records: @health_records} %>
  </div>
</div>
