<div class="singleBx-type11">
        <div class="table-title clearFix"><h2 class="FL"><%= get_health_label(params[:data_type]) %></h2>
          <% if Health::HEALTH_ENTRY_TITLE[parameter].camelcase != "BMI" %>
          <a href="#html" data-pop="/health/new_health_record?member_id=<%=params[:member_id]%>&type=<%=Health::HEALTH_ENTRY_PARAM[parameter]%>" data-width="600" class="txt-link-type1 icon-plus FR spaceAdd" >Add</a>
          <% end %>
        </div>
        <div>

<table cellspacing="0" cellpadding="0" width="100%" id="health_record_entries">
    <thead>
      <tr>
      <% if Health::HEALTH_ENTRY_TITLE[parameter].camelcase != "BMI" %>
        <th width="13%">Date</th>
        <th width="20%"><%= Health::HEALTH_ENTRY_TITLE[parameter].camelcase %> <%= unit %></th>
        <th width="16%">Difference</th>
        <th width="15%">&nbsp;</th>
        <% else %>
             <th width="13%">Date</th>
             <th width="16%"><%= Health::HEALTH_ENTRY_TITLE[parameter].camelcase %></th>
            <th width="16%">Difference</th>
            <th width="16%">&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% parameter = Health::HEALTH_ENTRY_PARAM.invert[parameter]%>
    <% if parameter=="bmi" %>
    <% health_records.each_with_index do |record,index| %>
      <tr class="js-<%=record.id%>">
        <td><%#=record.created_at.strftime("%d %b") %> <%= toDate(record.updated_at) %></td>
        <td><%=record.bmi || 0 %></td>
        <td><%= record.bmi.to_i - health_records[index+1].bmi.to_i rescue  record.bmi || 0 %></td>
        <td>
        <% if Health::HEALTH_ENTRY_TITLE[parameter].camelcase != "BMI" %>
        <a href="#html" data-pop="/health/edit?health_record_id=<%=record.id%>&type=<%=parameter%>" data-width="600"class="icon-pencil txt-link-type1"></a>
        <%= link_to "","/health/delete_parameter?id=#{record.id}&type=#{parameter}", class: "icon-trash-o txt-link-type2", remote: true, confirm: "Are you sure you want to delete?" %>
        <% else %>
        &nbsp;
        <% end %>
        </td>
      </tr>
    <% end %>
    <% else %>
    <% health_records.each_with_index do |record,index| %>
      <tr class="js-<%=record.id%>">
        <td> <%#=record.created_at.strftime("%d %b") %> <%= toDate(record.updated_at) %> </td>
       
        <td><%=value_convert(record[parameter],parameter,@health_unit[parameter]) || "-" %></td>
        <td> <%= (value_convert(record[parameter].to_f,parameter,@health_unit[parameter]) - value_convert(health_records[index+1][parameter].to_f,parameter,@health_unit[parameter])).round(2) rescue  value_convert(record[parameter].to_f,parameter,@health_unit[parameter]) || "-" %></td>
        <td>
        <a href="#html" data-pop="/health/edit?health_record_id=<%=record.id%>&type=<%=parameter%>" data-width="600"class="icon-pencil txt-link-type2"></a>
        <%= link_to "","/health/delete_parameter?id=#{record.id}&type=#{parameter}", class: "icon-trash-o txt-link-type2", remote: true, confirm: "Are you sure you want to delete?" %>
           
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>