      <div class="singleBx-type11">
        <div class="table-title clearFix"><h2 class="FL"><%= get_health_label(params[:data_type]) %></h2>
          <a href="#html" data-pop="/health/new_health_record?member_id=<%=params[:member_id]%>" data-width="600" class="txt-link-type1 icon-plus FR spaceAdd">Add</a>
        </div>
        <div>
          <table cellspacing="0" cellpadding="0" width="100%" id="health_record_entries">
            <thead>
              <tr>
                  <th width="17%">Date</th>
                  <th width="16%">Height</th>
                  <th width="14%">Weight</th>
                  <th width="2%">BMI</th>
                  <th width="18%">Head CF</th>
                  <th width="18%">Waist</th>
                  <th width="15%">&nbsp;</th>
              </tr>
              </thead>
          <tbody>
            <% health_records.each do |record| %>
            <% record.convert_to_unit(@convert_unit_val_list)  %>
              <tr class="js-<%=record.id%>">
                <td><%#=record.created_at.strftime("%d %b") %><%= toDate(record.updated_at) %></td>
                <td><%= record["height"] || "-" %></td>
                <td><%= record["weight"] || "-" %></td>
                 <td> <%=record.bmi%> </td>
                <td><%= record["head_circum"] || "-" %></td>
                <td><%= record["waist_circum"]|| "-" %></td>
               
                <td>

                 <a href="#html" data-pop="/health/edit?health_record_id=<%=record.id%>" data-width="600"class="icon-pencil txt-link-type2"></a>
                 <%= link_to "","/health/delete_parameter?id=#{record.id}", class: "icon-trash-o txt-link-type2", remote: true, confirm: "Are you sure you want to delete?" %>
                </td>
              </tr>
             <% end %>
            </tbody>

          </table>
        </div>
      </div>
      