 
<div class="singleBx-type15">
    <div class="page-title-1">Metric System setting</div>
    <%= form_for :member, :url=>"/member/set_metric_system", remote: true, html:{id:"user_metric_system"} do |f| %>
    <div class="discla-txt">        
        <input type="radio" id="relat1" name="relation" class="custom-radio" checked="">
   <b>Weight</b>: &nbsp; <%= radio_button_tag :weight_unit, 'kgs',current_user.metric_system["weight_unit"] == "kgs", class: " textBx-type9" %>
   <label for="weight_unit_kgs" class="form-label">Kgs</label>
   &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <%= radio_button_tag :weight_unit, 'lbs', current_user.metric_system["weight_unit"] == "lbs", class: " textBx-type9",value: "lbs" %> <label for="weight_unit_lbs" class="form-label">lbs</label> &nbsp;&nbsp;
   <br/>
   <br/>
 
   <b>Length</b>: &nbsp;&nbsp;<%= radio_button_tag :length_unit, 'cms',  current_user.metric_system["length_unit"] == "cms", class: " textBx-type9" %>
     <label for="length_unit_cms" class="form-label">cms</label>
   &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
   <%= radio_button_tag :length_unit, 'inches',  current_user.metric_system["length_unit"] == "inches", class: " textBx-type9" %>
   <label for="length_unit_inches" class="form-label">inches</label>
    
   <br/>
   </div>
   <div class="page-title-1">Timezone:</div>
   <!-- <b>Timezone:</b> -->
   <div class="discla-txt">
   <label class="custom-select">
    <%= select_tag :time_zone,options_for_select(ActiveSupport::TimeZone.all.map{|time_zone| [time_zone,time_zone.name]},current_user.time_zone), :class => "custom-select timezone"%>
  </label>  
   <br/>
   <!-- <br/> -->
   </div>
   <div class="page-title-1">Want to receive emails from Nurturey?</div>
   <div class="discla-txt">
   <% MemberSetting::MailerType.keys.each do |index| %>
    <div class="box1">
    <%= check_box_tag "subscibe_mails[#{index}]","on",(@subscribe_mail_ids || []).include?(index.to_s),class: "custom-checkbox-2 head_circum" %>
      
      <label for="subscibe_mails_<%=index%>"></label><%=MemberSetting::MailerType[index]%>
    </div>
   <br/>
    <% end %>
    </div>
     <div class="discla-txt">
   <div class="box2"></div>
   <%= submit_tag "Save", class:"btn btn-type1", disable_with:"Saving" %>
   
  </div>
  <% end %>
</div>



   


 