<% if @health_record.present? %>
$(".globel-msg").html("<span>" + "<%= @message %>" + "</span>") 
$('#health_record_entries').append("<%= j render :partial=> 'add_health_record', :locals=> {record: @health_record}%>");
$(".js-health-tab.active").click();
$(".dataTables_empty").hide();
<% end %>
<% if params["commit"] != "Save & add more" %>
$.fn.close();
<% end %>