<% if params[:data_type] != "all" %>
  $(".js-health-summery").html("<%= escape_javascript(render :partial=>'/health/health_detail', :locals=>{health: (@last_health_record || Health.new), data_type: params[:data_type]})%>");
  $(".js-health-entries").html("<%= escape_javascript(render :partial=> 'health_parameter_entries', :locals=>{health_records: @health_records, parameter: @chart_param.downcase , unit: @chart_unit}) %>");
  
  options.title.text = "";
  options.yAxis.title.text = '<%=Health::HEALTH_ENTRY_TITLE[params[:data_type]].camelcase %>  <%= "in #{@chart_unit}" if @chart_unit %>';
  options.tooltip.valueSuffix = "<%= @chart_unit %>";
  
  options.series[0].name = "P3";
  options.series[0].data = <%= @who_data[:p3]%>;
  options.series[1].name = "P15";
  options.series[1].data = <%= @who_data[:p15] %>;
  options.series[2].name = "P85";
  options.series[2].data = <%= @who_data[:p85]%>;
  options.series[3].name = "P97";
  options.series[3].data = <%= @who_data[:p97]%>;
  options.series[4].name = "Child's";
  options.series[4].data = <%= @chart_update %>;
  $('.healthCharts').highcharts(options);
<% else %>
  $(".js-health-summery").html("<%= escape_javascript(render :partial=>'/health/health_overview', :locals=>{last_health_record: @member.health_records.last , data_type: params[:data_type]})%>");
  $(".js-health-entries").html("<%= escape_javascript(render :partial=> 'list_health_record', :locals=>{health_records: @health_records}) %>");
<% end %>
$(function(){
  $('#health_record_entries').dataTable({
    "scrollY": "250px",
    "scrollCollapse": true,
    "searching": false,
    "paging": false,
    "ordering": false,
    "oLanguage": {
      "sEmptyTable":"<div class='data-error empty-msg-1'><p>Click add to start recording measurement data</p></div>"
    }


  });
 
  $(".dataTables_scrollBody").mCustomScrollbar({
    autoHideScrollbar: true,
    theme: "dark"
  });   
})
  