<% if @health_records.blank? %>
    <%= link_to "",close_info_pop_health_index_path(member_id: @member.id), class: "pop-close", remote: true %>
<% end %>
<div class="logoBack">
  <h2 class="space-bottom-1"><i class="icon-tracker info-icon"></i> Measurements</h2>
    <ul class="pin-list">
        <li>Record key physical growth measurements of your child.</li>
        <li>Track information against the WHO growth percentile data.</li>
        <li>Nurturey will automatically post entries to Timeline.</li>
    </ul>
    <div class="form-type3">
        <div class="form-action-row">
            <%= link_to "Got it!",close_info_pop_health_index_path(member_id: @member.id), class: "btn btn-type2", style: "margin-left:42px;", remote: true  %>
            <!-- <input type="button" value="Got it!" class="btn btn-type2" style="margin-left:42px;" onclick="$.fn.close();" /> -->
        </div>
    </div>
</div>