 $(".center-section").html("<%= escape_javascript(render :partial=>'/health/health_content')%>");
 $(".right-section").html("<%= j render :partial=>'/health/health_disclaimer' %>");
 
 $('#health_record_entries').dataTable({
    "scrollY": "250px",
    "scrollCollapse": true,
    "searching": false,
    "paging": false,
    "ordering": false,
    "oLanguage": {
      "sEmptyTable":"<div class='data-error empty-msg-1'><p>Click add to start recording measurement data</p></div>"
    }
  });

 $(".dataTables_scrollBody").mCustomScrollbar({
    autoHideScrollbar: true,
    theme: "dark"
  });

<% if @display_health_info %>
  $.fn.popclick({pop: "<%= health_info_health_index_path(member_id: @member.id) %>", width: "600" })
<% end %> 