<div class="left-section">
	<%= render partial: "timeline/left_section" %>
</div>	

<div class="center-section">
	<%= render partial: '/health/health_content' %>
</div>
<div class="right-section">
	<%= render partial: '/health/health_disclaimer' %>
	<%#= render partial: '/health/metric_system' %>
</div>

<script type="text/javascript">
	update_left_nav("<%= @member.id %>", "measurements");
	$('#health_record_entries').dataTable({
	    "scrollY": "250px",
	    "scrollCollapse": true,
	    "searching": false,
	    "paging": false,
	    "ordering": false,
	    "oLanguage": {
	      "sEmptyTable":"<div class='data-error empty-msg-1'><p>Click add to start recording measurement data</p></div>"
	    }
	  });

	$(".dataTables_scrollBody").mCustomScrollbar({
	    autoHideScrollbar: true,
	    theme: "dark"
	});
</script>