
<div>
    <h2 class="space-bottom-1">
        Add measurements
    </h2>
<%= form_for @health, url: @url || "/health/create_record", method: "post", remote: true do |f| %>

    <div class="form-type2">
        <div class="form-row">
            <label class="form-label">Date</label>

            <div class="textBx-type3">
                 
                <%= f.text_field :updated_at, class: " textBx-type1 dateInput js-dob", style: "position: relative;z-index: 100000;", value: toDate(@health_date || Date.today), :readonly=>true %>
                <%= f.hidden_field :member_id, value: @member.id %>
            </div>
        </div>
        <div class="form-type2 clearFix">
            <div class="form-row box-group-3 clearFix">
                <div class="box1">
                    <input type="checkbox" name="" class="custom-checkbox-2 height" id="hcheck1" onclick="checkRow(this,1)" checked/>
                    <label for="hcheck1"></label>
                </div>
                <div class="box2">
                    <%= f.label "Height", class: "form-label" %>
                     <%= f.text_field :height,  class: "inputType1 textBx-type9", value: (@health.height || @health_min_max["height_min"]), 'data-min'=>@health_min_max["height_min"], 'data-max'=>@health_min_max["height_max"] %>
                    
                </div>
                <div class="box3">
                    <input type="radio" id="relat1" name="relation" class="custom-radio" checked>
                    <label for="relat1"><%=@health_unit["height"]%></label>
                    <div class="slider-type-1 space-top-1 js-slider" id="input-slider-1"></div>
                </div>
            </div>



            <div class="form-row box-group-3 clearFix">
                <div class="box1">
                    <input type="checkbox" name="" class="custom-checkbox-2 weight" id="hcheck2" onclick="checkRow(this,2)" checked/>
                    <label for="hcheck2"></label>
                </div>
                <div class="box2">
                    <label class="form-label">Weight</label>
                    <%= f.text_field :weight, value: (@health.weight || @health_min_max["weight_min"]), class: "inputType1 textBx-type9", 'data-min'=>@health_min_max["weight_min"], 'data-max'=>@health_min_max["weight_max"] %>
                     
                </div>
                <div class="box3">
                    <input type="radio" id="relat3" name="relation1" class="custom-radio" checked>
                    <label for="relat3"><%=@health_unit["weight"]%></label>
                    <div class="slider-type-1 space-top-1 js-slider" id="input-slider-2"></div>
                </div>
            </div>

            <div class="form-row box-group-3 clearFix">
                <div class="box1">
                    <input type="checkbox" name="" class="custom-checkbox-2 head_circum" id="hcheck3" onclick="checkRow(this,3)" checked/>
                    <label for="hcheck3"></label>
                </div>
                <div class="box2">
                    <label class="form-label">Head CF</label>
                    <%= f.text_field :head_circum, value: (@health.head_circum || @health_min_max["head_circum_min"]), class: "inputType1 textBx-type9", 'data-min'=>@health_min_max["head_circum_min"], 'data-max'=>@health_min_max["head_circum_max"] %>
                </div>
                <div class="box3">
                    <input type="radio" id="relat5" name="relation2" class="custom-radio" checked >
                    <label for="relat5"><%=@health_unit["head_circum"]%></label>
                    <div class="slider-type-1 space-top-1 js-slider" id="input-slider-3"></div>
                </div>
            </div>
            <div class="form-row box-group-3 clearFix">
                <div class="box1">
                    <input type="checkbox" name="" class="custom-checkbox-2 waist_circum" id="hcheck4" onclick="checkRow(this,4)" checked/>
                    <label for="hcheck4"></label>
                </div>
                <div class="box2">
                    <label class="form-label">Waist</label>
                   <%= f.text_field :waist_circum, value: (@health.waist_circum || @health_min_max["waist_circum_min"]), class: "inputType1 textBx-type9",'data-min'=>@health_min_max["waist_circum_min"], 'data-max'=>@health_min_max["waist_circum_max"] %>
                </div>
                <div class="box3">
                    <input type="radio" id="relat7" name="relation3" class="custom-radio" checked >
                    <label for="relat7"><%=@health_unit["waist_circum"]%></label>
                    <div class="slider-type-1 space-top-1 js-slider" id="input-slider-4"></div>
                </div>
            </div>
        </div>
    </div>

<div class="form-type3">
<div class="form-action-row">
<%= f.submit "Save", class: "btn btn-type2",disable_with:"Saving.." %>
<%= f.submit "Save & add more", class: "txt-link-type1 js-submit-more", :style=>"display:none;" %>
<% if @url.blank? %>
    <a href="#." class="txt-link-type1 js-save-and-more">Save & add more</a>
    <% end %>
    <span class="txt-type-1 FR space-top">Get <%= Score::Points["Health"] %> points per entry</span>
</div>
</div>
<% end %>
 </div>
 
 

<!-- custom scrollbar stylesheet -->
 
<script type="text/javascript">
function checkRow(obj, objId){
        if($(obj).is(':checked')==true){
            if(objId==1){
                $('#relat1').prop('disabled',false);
                $('#height-range').prop('disabled',false);
                $("#health_height").prop('disabled',false);
                $( "#input-slider-1" ).slider({disabled:false})
            }
            if(objId==2){
                $('#relat3').prop('disabled',false);
                $('#weight-range').prop('disabled',false);
                $("#health_weight").prop('disabled',false);
                $( "#input-slider-2" ).slider({disabled:false})
            }
            if(objId==3){
                $('#relat5').prop('disabled',false);
                $('#head-range').prop('disabled',false);
                $("#health_head_circum").prop('disabled',false);
                $( "#input-slider-3" ).slider({disabled:false})
            }
            if(objId==4){
                $('#relat7').prop('disabled',false);
                $('#waist-range').prop('disabled',false);
                $("#health_waist_circum").prop('disabled',false);
                $( "#input-slider-4" ).slider({disabled:false})
            }
        }else{
            if(objId==1){
                $('#relat1').prop('disabled',true);
                $('#height-range').prop('disabled',true);
                $("#health_height").prop('disabled',"disabled");
                $( "#input-slider-1" ).slider({disabled:true})
            }
            if(objId==2){
                $('#relat3').prop('disabled',true);
                $('#weight-range').prop('disabled',true);
                $("#health_weight").prop('disabled',true);
                $( "#input-slider-2" ).slider({disabled:true})
            }
            if(objId==3){
                $('#relat5').prop('disabled',true);
                $('#head-range').prop('disabled',true);
                $("#health_head_circum").prop('disabled',true);
                $( "#input-slider-3" ).slider({disabled:"true"})
            }
            if(objId==4){
                $('#relat7').prop('disabled',true);
                $('#waist-range').prop('disabled',true);
                $("#health_waist_circum").prop('disabled',true);
                $( "#input-slider-4" ).slider({disabled:true})
            }
        }
    }
$(function(){
    $(".js-save-and-more").on("click",function(){
      $(".js-submit-more").click();
    });

    $(".js-slider").slider({
            range: "min",
            min: 10,
            max: 500,
            step: 0.1,
            slide: function( event, ui ) {
                var val =  (ui.value);
                $(this).parent().parent().find("input:text").val(val)
            }
        });
    $(".js-slider").each(function(){
         var min_val = $(this).parent().parent().find("input:text").data("min"),
         max_val = $(this).parent().parent().find("input:text").data("max");
         // .slider({ values: [ val] })
          $(this).slider("option", "min", min_val);
          $(this).slider("option", "max", max_val);
    })
     
        $(".js-slider").each(function(){
           var val = $(this).parent().parent().find("input:text").val();
           $(this).slider("option", "value", val)
        })

        $("body").on("keyup",".textBx-type9",function(){
          $(this).parent().parent().find(".js-slider").slider({value:$(this).val() })
        })

        $(".custom-checkbox-2").click();
        <% @health_setting.each do |i| %>
         $(".<%=i%>").click();
        <% end %>
    
 })
 

   
</script>