$(".js-<%=@health.id%>").hide().after("<%= j render :partial=> 'add_health_record', :locals=> {record: @health}%>");
$(".js-<%=@health.id%>").first().remove();
$(".dataTables_empty").hide();
$(".js-health-tab.active").click();
$.fn.close();