.singleBx-type6
  = form_for @questionnaire, :as=>  "questionnaire", url: "/admin/questionnaires/#{@questionnaire.new_record? ? nil : @questionnaire.id}" do |f|
    - if @questionnaire.errors.any?
      #error_explanation
        %h2= "#{pluralize(@questionnaire.errors.count, "error")} prohibited this questionnaire from being saved:"
        %ul
          - @questionnaire.errors.full_messages.each do |msg|
            %li= msg
    .form-type1
      .form-row
        = f.label :title
        = f.text_field :title
      .form-row
        = f.label :description
        = f.text_area :description, :rows => 10, :cols => 40
      .form-row
        = f.submit 'Save', class: "btn btn-type2"
