= link_to 'Add Questionnaire', new_admin_questionnaire_path
%h4 Questionnaires
.bodyWapper
  %table.tableGride{:width=>"100%",:border=>"1"}
    %tr
      %th{:width=>"20%"} Title
      %th{:width=>"20%"} Description
      %th{:width=>"20%"} Date of creation
      %th
      %th 
      %th 
      %th

    - @questionnaires.each do |questionnaire|
      %tr
        %td= questionnaire.title
        %td= questionnaire.description
        %td= questionnaire.created_at      
        %td= link_to 'Show', admin_questionnaire_path(questionnaire.id)
        %td= link_to 'Edit', edit_admin_questionnaire_path(questionnaire.id)
        %td= link_to 'Destroy', admin_questionnaire_path(questionnaire.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= link_to 'List Questions', admin_questionnaire_questions_path(questionnaire.id)
        
  %br
