= link_to 'List Questions', admin_questionnaire_questions_path(@questionnaire.id)
/= link_to 'List Relevance', admin_questionnaire_relevances_path(@questionnaire.id)
%p#notice= notice

%p
  %b Title:
  = @questionnaire.title
%p
  %b Description:
  = @questionnaire.description
%p
  %b Date of creation:
  = toDate(@questionnaire.created_at)

= link_to 'Edit', edit_admin_questionnaire_path(@questionnaire.id)
\|
= link_to 'Back', admin_questionnaires_path
