<% submit_path = @member.new_record? ? create_child_family_member_index_path(@family.id) : update_child_member_path(@family_member.id) %>

<%= form_for (@member.new_record? ? :Member : @member), :url=> submit_path, :html=>{ :multipart => true},:remote=>true do |f| %>
    <%= f.fields_for nested_family_members_fields do |family_mem| %>    
    <div class="form-type2">
      <div class="form-row no-margin-bottom">
        <div class="singleBx-type7">
          <div class="form-row">
            <%= f.text_field :first_name, class: "textBx-type2 js-first_name", placeholder:"First Name", maxlength: 20 %>
          </div>          
        </div>
        <div class="singleBx-type7">
          <div class="form-row">           
            <%= f.text_field :last_name, class: "textBx-type2 js-last_name", placeholder:"Last Name", maxlength: 20 %>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="singleBx-type7">
          <div class="form-row no-margin-bottom">
            <%= label_tag 'relation_type', 'Select Relationship', class: 'form-label' %>
            <% if @member.new_record? %>
             <%= family_mem.radio_button :role, 'Son', class: "custom-radio", checked: @member.new_record? ? true : @family_member.role %>
            <% else %>
             <%= family_mem.radio_button :role, 'Son', class: "custom-radio" %>
            <% end %>  
            <%= family_mem.label :role_son, 'Son' %>
            <%= family_mem.radio_button :role, 'Daughter', class: "custom-radio"  %>
            <%= family_mem.label :role_daughter, 'Daughter' %>
          </div>
        </div>
        <div class="singleBx-type7">
          <div class="form-row no-margin-bottom">
              <%= f.label :birth_date, 'Birthday',class: "form-label" %>
              <div class="textBx-type3 js-birth_date">
                <% child_birth_date = @member.new_record? ? Date.today.strftime("%d-%m-%Y") : @member.birth_date.strftime("%d-%m-%Y") %>
                <%= f.text_field :birth_date, :value => child_birth_date, style: "position: relative;z-index: 100000;", class: "textBx-type1 dateInput js-dob", :readonly=>true %> 
              </div>
          </div>    
        </div>        
      <% end %>      
    </div>
    <div class="form-type3"><div class="form-action-row">
      <%= f.submit "#{@member.new_record? ? 'Add' : 'Update'}", class: "btn btn-type2", disable_with:"#{@member.new_record? ? 'Saving..' : 'Updating..'}" %>
      <span class="brass FR space-top-1">Get <%= Score::Points["Child"] %> points per member added!</span>
    </div></div>
  </div>
<% end %>

<script type="text/javascript">
    (function ($) {
        input = $(".js-first_name");
        input.focus().val(input.val());
    })(jQuery);
</script>