$.each($("[class*='js-']"), function( index,input ) {
  $(input).removeClass("border-red");
})
$('.error').remove();

<% if @member_exists %>
  $('.js-email').addClass("border-red");
  // $("p.txt-type-1").after("<div class='error' style='padding-bottom:15px'> This member is already added in this family </div>");
  $(".js-email").after("<span class='error'> This member is already added in this family </span>");
<% else %>
  <% if @elder_member.errors.blank? %>
    $.fn.close();
    $(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
    $("#family_<%= @family.id %>").html("<%=j render :partial => "/families/family", :locals => {family: @family} %>")
  <% else %>
    <% @elder_member.errors.messages.each do |k,v| %>	
  	$('.js-' + "<%= k.to_s %>").addClass("border-red");
  	$('.js-' + "<%= k.to_s %>").after("<span class='error'><%= v.first %></span>");
    <% end %>
  <% end %>
<% end %>