<% if @child_member.errors.blank? %>
    $.fn.close();
    $(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
    if($(".left-section").length>0){
      $.ajax({
      url: "/dashboard",
      type: "GET",
      dataType: "script",
      complete: function(){
        $.fn.popclick({pop: "<%= tool_activation_member_path(@child_member.id) %>", width: "500" })
      }
    });

    	$(".js-home").click();
    }
    else{
      $("#family_<%= @family.id %>").html("<%=j render :partial => "/families/family", :locals => {family: @family} %>")
    }
  <% else %>
  	$.each($("[class*='js-']"), function( index,input ) {
    		$(input).removeClass("border-red");
  	})
  	<% @child_member.errors.messages.each do |k,v| %>
  		$('.js-' + "<%= k.to_s %>").addClass("border-red");		
  	<% end %>
<% end %>