<% unless @invitation.persisted? %>
  <% if current_user == @family.owner %>
  	$("#family_<%= @family.id %>").html("<%=j render :partial => "/families/family", :locals => {family: @family} %>")
  <% else %>
    $("#family_<%= @family.id %>").remove();
  <% end %> 
<% end %> 
