<%= stylesheet_link_tag "jquery.bxslider.css" %>
<ul class="bxslider milestone-gallery">
    <li>
        <div class="gallery-img milestone-gallery">
            <%= image_tag(@picture.photo_url_str) %>
        </div>        
    </li>    
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            mode: 'fade',
            pager: false,
            nextText: '',
            prevText: ''
        });
    });
</script>