<div>
  <% if params[:family] %>
    <p class="page-title-5">Edit your information</p>
  <% else %>
    <h2 class="page-title-3">Welcome onboard!</h2>
  <% end %>  
    <%= form_for :Member, :url=> 'member/update_current_member', :html=>{ :multipart => true},:remote=>true do |f| %>        
          <div class="form-type2">
            <div class="form-row no-margin-bottom">
              <div class="FL"><div class="singleBx-type7">
                <div class="form-row">
                  <%= f.text_field :first_name, value: current_user.first_name, class: "textBx-type2 js-first_name", placeholder:"First Name", maxlength: 20 %> 
                </div>
              </div>
              <div class="singleBx-type7">
                <div class="form-row">
                  <%= f.text_field :last_name, value: current_user.last_name, class: "textBx-type2 js-last_name", placeholder:"Last Name", maxlength: 20 %>
                  
                </div>
              </div>
              <div class="CL"></div>
              <div class="form-row">
              <label class="form-label">Location</label>
              <select name="Member[country_code]" id="countries" style="width:487px;">
                <%= render :partial=>"member/countries" %>
            </select>
              </div>
              </div>
              
              <!-- <div class="FR">              
               <%#= profile.file_field :local_image, id: "uplodAvatar", class: "custom-file" %>
                <label for="uplodAvatar" style="margin:0px;"></label>
              </div> -->
            </div>
            <%# debugger %>
            <div class="form-action-row">
            <%= hidden_field_tag :family_member_id,@family_member.id if @family_member %>
            <%= f.hidden_field :validate_first_name, value: true %>
            <%= f.submit "Save", class: "btn btn-type2", disable_with: "Saving.." %>
            <% if params[:family] %>
              <a href="#." class="txt-link" onclick="$.fn.close();">Cancel</a>
            <% end %>  
            </div>
          </div>
    <% end %>
</div>
 
<script type="text/javascript">
  oHandler = $("#countries").msDropdown().data("dd");
  oHandler.set('value','<%= @country_code %>');
  console.log(oHandler.get('value'));
  if(oHandler.get('value') == ""){
    oHandler.set('value','uk')
  }
  
  <% if !params[:family] %>
    $(".pop-close").hide();
  <% end %>

  (function ($) {
        input = $(".js-first_name");
        input.focus().val(input.val());
    })(jQuery);
</script>