<h2 class="page-title-3">Add Image</h2>
<%= form_for @member, :url=> update_child_member_path(@family_member.id), :html=>{ :multipart => true, :id=>"myform"} do |f| %>
		<div class="profile-upload-img <%= FamilyMember::IMAGE_CLASS[underscore(@family_member.role)] %> js-profile-image">
      <% if @member.profile_image.persisted? %>	
        <%= image_tag(@member.profile_image.photo_url_str(:original), id: 'target1', style: "display:block;") %>
      <% end %>    
		</div>
	<div class="form-type3"><div class="form-action-row">
    	<%= f.submit "Save", class: "btn btn-type2 js-pic-submit", disable_with: "Saving.." %>
        <%= f.fields_for :profile_image   do |profile| %>
        <%= profile.file_field :local_image, id: "js-add-profile-pic", class: "custom-file-2", accept: "image/x-png, image/gif, image/jpeg" %>
        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
          <%= profile.hidden_field attribute, :id => attribute %>
        <% end %>
        <label for="js-add-profile-pic" class="txt-link js-profile-pic space-top-2 text-green">Add new Image</label>
        <% end %>
	</div></div>
<% end %>

<script type="text/javascript">
    $(function () {
            $("label.js-profile-pic").on("click", function (event) {
            	event.preventDefault();                
                if (event.target == this) {
                    $("#" + $(this).attr("for")).click();
                }
            });

        $('.js-profile-image img').load(function(){
            console.log('init',[xsize,ysize]);
            $(".profile-upload-img").removeClass("icon-user-child-boy");
            $(".profile-upload-img").removeClass("icon-user-child-girl");
            $(".profile-upload-img").removeClass("icon-user");
            if(parseInt(this.width) > parseInt(this.height)){
                  $('.js-profile-image img').width("100%")
                  $('.js-profile-image img').height("auto")
                }
                else{
                  $('.js-profile-image img').width("auto")
                  $('.js-profile-image img').height("100%")
                }
            $('.js-profile-image img').Jcrop({
              onChange: $.showCoords,
              onSelect: $.showCoords,
              allowResize: true,
              allowSelect: true,
              aspectRatio: 1 / 1,
              setSelect: [ 130, 0, 210, 210 ]
            })  
        });
        $('#myform').ajaxForm();
         
    })
  

</script>