<div>
  <h2 class="space-bottom-1">Edit elder member role</h2>  
  <%= form_for :ParentMember, :url=> update_elder_member_path(@family_member.id), :html=>{ :multipart => true},:remote=>true, :method => :put do |f| %>
    <div class="form-type2">
      <div class="form-row clearFix">
        <div class="singleBx-type7 FL">
          <div class="form-row reset-margin">
            <%= f.label "Email address", :class => "form-label" %>
            <%= @family_member.member.user.email %>
            <%#= f.text_field :email, value: @family_member.member.user.email, :class => "textBx-type2", :placeholder => "smith@gmail.com", readonly: true %>
          </div>
        </div>
        <%= f.fields_for [:family_members,@family_member] do |family_mem| %>
          <div class="singleBx-type7 FL">
            <div class="form-row reset-margin">
              <%= family_mem.label "Select Relationship", :class => "form-label" %>
              <label class="custom-select">
                <%= family_mem.select :role, options_for_select(FamilyMember::ELDER_ROLES,@family_member.role), :class => 'custom-select' %> 
              </label>
            </div>
          </div>  
        <% end %>  
      </div>
      <div class="CL"></div>
      <div class="form-type3">
        <div class="form-action-row">      
          <%= f.submit "Save", :class => "btn btn-type2",disable_with:"Saving.." %>
          <!-- <span class="brass FR space-top-1">Get 200pts per member added!</span> -->
        </div>
      </div>  
    </div>
  <% end %>  
</div>
