<% if session[:tour_step] == 0 %>
  <%= link_to "",trigger_tour_step_member_index_path, class: "pop-close", remote: true %>
<% end %>
<div>
  <h2 class="space-bottom-1">Add a new child member</h2>  
  <%= render partial: "member/child_form" %>
</div>