<div>
  <h2 class="space-bottom-1">Add a new elder member</h2>  
  <%= form_for :ParentMember, :url=> create_elder_family_member_index_path(@family.id), :html=>{ :multipart => true},:remote=>true do |f| %>
    <div class="form-type2">
      <div class="form-row clearFix">
        <div class="singleBx-type7 FL">
          <div class="form-row reset-margin">
            <%= f.label "Enter email address", :class => "form-label" %>
            <%= f.text_field :email, :class => "textBx-type2 js-email", :placeholder => "smith@gmail.com", maxlength: 60 %>
          </div>
        </div>  
        <%= f.fields_for :family_members do |family_mem| %>
          <div class="singleBx-type7 FL">
            <div class="form-row reset-margin">
              <%= family_mem.label :relationship,"Relationship with the children", :class => "form-label" %>
              <label class="custom-select">
              <%= family_mem.select :role, options_for_select(FamilyMember::ELDER_ROLES), :class => 'custom-select js-role' %> 
            </label>
            <%= family_mem.hidden_field :family_id, value: @family.id %>          
            </div>
          </div>  
        <% end %>
      </div>
      <div class="CL"></div>
      <div class="form-row txt-type-2 icon-envelope no-margin-bottom" style="padding-top:10px;"> 
        An email will be sent to the person to accept your request to join your family on Nurturey.
      </div>
      <div class="form-type3">
        <div class="form-action-row">
          <%= f.submit "Send", :class => "btn btn-type2", disable_with:"Saving.." %>      
          <span class="brass FR space-top-1">Get <%= Score::Points["Member"] %> points per member added!</span>
        </div>
      </div>
    </div>
  <% end %>  
</div>

<script type="text/javascript">
    (function ($) {
        input = $(".js-email")
        input.focus().val(input.val());
    })(jQuery);
</script>