<% unless @family_member.persisted? %>  
  <% if @family.having_member?(current_user) %>
  	$("#family_<%= @family.id %>").html("<%=j render :partial => "/families/family", :locals => {family: @family} %>")
  <% else %>
    $("#family_<%= @family.id %>").remove();
  <% end %>
<% end %> 
