<% if session[:tour_step] == 0 %>
  <%= link_to "",trigger_tour_step_member_index_path, class: "pop-close", remote: true %>
<% end %>
<h2 class="space-bottom">
    Great, you are all set to be a pro-parent!
</h2>
        <p class="space-bottom">Our productivity tools allow you to manage a specific aspect of your life around kids.</p>
        <p>Use 
        <%= link_to "Manage tools", nutrients_path(member_id: @child_member.id,family:true,popup:true), class: "txt-link reset-padding js-change-url", remote: true %>
        <!-- <a href="manage-trackers.shtml" class="txt-link reset-padding">Manage tools</a> -->
         to activate/deactivate tools from our ever growing list. We have activated following tools already.</p>
<ul class="list-type-13 clearFix">
    <li>
        <i class="icon-timeline"></i>
        <p class="page-title-5 reset-margin">Timeline</p>

    </li>
    <li>
        <i class="icon-calender"></i>
        <p class="page-title-5 reset-margin">Calender</p>

    </li>
    <li>
        <i class="icon-tracker"></i>
        <p class="page-title-5 reset-margin">Measurements</p>

    </li>
    <li>
        <i class="icon-manage-check"></i>
        <p class="page-title-5 reset-margin">Milestones</p>

    </li>
    <li>
        <i class="icon-immunization"></i>
        <p class="page-title-5 reset-margin">Immunisations</p>

    </li>
    <li>
        <i class="icon-document-color"></i>
        <p class="page-title-5 reset-margin">Documents</p>

    </li>
</ul>
<div class="form-type3"><div class="form-action-row">
  <% if session[:tour_step] == 0 %>
    <%= link_to "Thanks, I got it",trigger_tour_step_member_index_path, class: "btn btn-type2", remote: true %>
  <% else %>
    <a href="#." class="btn btn-type2" onclick="event.preventDefault(); $.fn.close();">Thanks, I got it</a>
  <% end %>  
  <!-- <a href="#." class="btn btn-type2">Thanks, I got it</a>  -->
  <!-- <a href="manage-trackers.shtml" class="txt-link reset-padding">Manage tools</a> -->
  <%= link_to "Manage tools", nutrients_path(member_id: @child_member.id,family:true,popup:true), class: "txt-link reset-padding js-change-url", remote: true %>
</div></div>
</div>
</div>