$.fn.close();
$(".js-trigger-pop").hide();
<% if session[:tour_step] %>	
	if($(".trigger-overlay").is(":hidden")){		
			$(".trigger-overlay").show();
		}
	<% if session[:tour_step] == 1 %>
		$(".trigger-overlay").show();		
		$(".manage-info-pop").show();		
	<% elsif session[:tour_step] == 2 %>		
		$(".left-info-pop").show();
	<% else %>
		$(".trigger-overlay").hide();		
	<% end %>
<% else %>
	$(".trigger-overlay").hide();
<% end %>