<% if @success %>
 $(".error").html("");
 $('#user_timezone').html("<%= current_user.time_zone %>")
 $(".js-close-setting").click();
 $(".globel-msg").html("<span>" + "<%= @message %>" + "</span>")
<% else %>
  $(".error").html("<%= @error %>");
 // $(".js-close-setting").click();
<% end %>