<% if @member.errors.blank? && @family_member && @family_member.errors.blank? %>
  $.fn.close();
  $("#family_member_<%= @family_member.id %>").html("<%=j render :partial => "/families/family_member", :locals => {family_member: @family_member} %>")
<% else %>
	$('.error').remove();
	$.each($("[class*='js-']"), function( index,input ) {
  		$(input).removeClass("border-red");
	})
	<% @member.errors.messages.each do |k,v| %>
		$('.js-' + "<%= k.to_s %>").addClass("border-red");		
		$('.js-' + "<%= k.to_s %>").after("<span class='error'><%= v.first %></span>");
	<% end %>
	<%# debugger %>
	<% if @member.profile_image && @member.profile_image.errors.present? %>
		alert("Only images are allowed.");
	<% end %>
<% end %>
<% unless @pic_valid %>
	alert("Only images are allowed");
	$(".js-pic-submit").val('Save').removeAttr('disabled');
<% end %>