<% if @family_member.errors.blank? %>
  $.fn.close();
  $("#family_member_<%= @family_member.id %>").html("<%=j render :partial => "/families/family_member", :locals => {family_member: @family_member} %>")
<% elsif @family_member.member.profile_image.errros.present? %>   
  alert("Only images are allowed.");
<% end %>	
