<% if @updated %>
  $.fn.close();
  $(".avatar-name").html("<%= current_user.first_name %>")
  <% if @families.blank? %>
    if($(".left-section").length>0){
      $.fn.popclick({pop: "<%= new_family_path(first_time: true) %>", width: "600"})
    }  
  <% elsif @family_member %>
  	$("#family_member_<%= @family_member.id %>").html("<%=j render :partial => "/families/family_member", :locals => {family_member: @family_member} %>")
  <% elsif session[:invited_user].present? %>
  	$.fn.close();
  	$(".js-home").click()
    <%# session[:invited_user] = nil %>
  <% end %>
<% else %>
  // $.fn.close();
  // $.fn.popclick({pop: "/member/edit_current_member", width: "630" })
  $('.error').remove();
  $.each($("[class*='js-']"), function( index,input ) {
      $(input).removeClass("border-red");
  })
  <% current_user.errors.messages.each do |k,v| %>
    $('.js-' + "<%= k.to_s %>").addClass("border-red");
    $('.js-' + "<%= k.to_s %>").after("<span class='error'><%= v.first %></span>");
  <% end %>
<% end %>