
<% fields.each do |keys| %>
   
  <%if keys == "system_jab_id"%>
    <td>
            
      <% if data[keys].present?%>
      <% system_jab = ::SystemJab.where(id:data[keys]).last %>
      <%=link_to data[keys],"#html",:class=>"",:data => {:pop => "/admin/system_template/get_system_jab_detail?template_id=#{params[:template_id]}&show_only=true&system_jab_id=#{data[keys]}" , :width => "810"} %>
      <% end %>
    </td>
  
  <% else %>
    <td>
      <%=data[keys].to_s.blank? ? "" : data[keys]  %>      
    </td>
  <% end %>
<% end %>
