
<% fields.each do |keys| %>
  <% if keys == "important_status"%>
    <td>
      <%=SystemMilestone::ImprotantStatus[data[keys]] %>      
    </td>
  <% elsif keys == "faq"%>
    <td>
      <%=System::Faq::Question.where(custom_id:data[keys]).last.title rescue nil %>      
    </td>
  <% elsif keys == "encourage"%>
    <td>
      <% title = SysArticleRef.where(custome_id:data[keys]).last.topic rescue  nil %>      
      <% if title.present?%>
      <%=link_to title,"#html",:class=>"",:data => {:pop => "/admin/pointers/#{data[keys]}?show_only=true&custom_id=#{data[keys]}" , :width => "810"} %>
      <% end %>
    </td>
  
  <% else %>
    <td>
      <%=data[keys].to_s.blank? ? "" : data[keys]  %>      
    </td>
  <% end %>
<% end %>