 
<% fields.each do |keys| %>
   
  <%if keys == "nhs_syndicate_content_id"%>
    <td>
       
      <% if data[keys].present?%>
      <% content_title = ::Nhs::SyndicatedContent.where(:id.in=>data["nhs_syndicate_content_id"].to_s.split(",")).pluck(:title) %>
       <%=content_title.join(",") %>
     
      <% end %>
    </td>
  
  <% else %>
    <td>
       
      <%=data[keys].to_s.blank? ? "" : data[keys]  %>      
    </td>
  <% end %>
<% end %>
