
<% fields.each do |keys| %>
   
  <%if keys == "gpsoc_immunisation_jab_custom_id"%>
    <td>
       
      <% if data[keys].present?%>
      <% gpsoc_jabs = ::System::GpsocImmunisationJab.where(system_jab_id:data["_id"]).last %>
       <%=gpsoc_jabs.term rescue '' %>
     
      <% end %>
    </td>
  
  <% else %>
    <td>
       
      <%=data[keys].to_s.blank? ? "" : data[keys]  %>      
    </td>
  <% end %>
<% end %>
