<li onclick="location.href='album-details.shtml'">
                <img src="images/post-dummy-img-gallery-2.jpg" alt=""/>
                <div class="album-desc">
                    <div class="data-holder clearFix">
                        <div class="FL"><h2>Album Name</h2>
                        <p><%= album.name %></p></div>
                        <a href="#." class="icon-camera FR"><%=album.pictures.count %> Photos</a>
                    </div>
                </div>
            </li>