    <div class= "singleBx-type6" >
        <div class="titleBar-type2">
            <a class="btn btn-big-type1 icon-plus FR" href="#.">Add</a>
            <h2 class="page-title-5 no-margin-bottom"><%= @album.name %></h2>
            <span class="txt-type-3"><%= @album.created_at %></span>
        </div>
        <p><%= @album.desc %></p>
        <ul class="tab-list-type4">
            <li class="active">All</li>
            <li>Photos</li>
            <li>Videos</li>
            <li>Sounds</li>
        </ul>

        <ul class="list-type-12 clearFix">
        <% @album.pictures.each do |pic | %>
            <li onclick="location.href='album-details.html'">
                <img src="images/post-dummy-img-gallery-2.jpg" alt=""/>
                <div class="album-desc"></div>
            </li>
            <% end %>
            </ul>
    </div>
