    <%if albums.blank? %>
      <div class="singleBx-type6 js-no-album">
          <div class="singleBx-type11 text-center">
              <h2 class="txt-type-1">You Have No Existing Albums</h2>
              <i class="icon-photoalbum no-album"></i>
              <p class="txt-type-3">Album's let you preserve beautiful memories. You can upload photo's, video's or sound's to your albums.</p>
              <p>Go ahead and click on 'Create New Album' to create the first one!</p>
          </div>
      </div>
    <% end %>


    <div class="singleBx-type6">
        <ul class="list-type-12 clearFix js-album-list_item">
          <% (albums|| []).each do |album| %>
            <li class="js-get-album-detail" data-id="<%=album.id%>">
                <img src="<%= album_cover(album) %>" alt=""/>
                <div class="album-desc">
                    <div class="data-holder clearFix">
                        <div class="FL"><h2><%= album.name %></h2>
                        <p><%= truncate(album.desc,length:15) %></p></div>
                        <a href="#." class="icon-camera FR"><%=album.pictures.count %> Photos</a>
                    </div>
                </div>
            </li>
            <% end %>
          </ul>
        </div>
