.popupWindow
  .popupHead
    .popupTitle Add album image
    .closeBtn
    .CL
  .popupContaint
    .popupFormBox
      = form_tag "/album/add_photo?test_report_id=#{@album.blank? ? " " : @album.id }",:id=>'add_photo_form', :multipart => true do
        - @album = ''
        - @name = @album.blank? ? "name" : @album.name
        - @order_no = @album.blank? ? "1" : '1'
        - @status = @album.blank? ? "true" : 'true'
        %input#test_reports_order_no.inputType1{:name => "test_reports[order_no]",:type => "hidden", :value => @order_no}/
        .formRow
          %label Photo*:
          = file_field_tag "test_reports[local_image]",:id=>"album_photo", :class =>"inputType5", :size=>6
          %p.errorMsgLeft
          .CL
        .formRow.popActionBtn 
          %input.buttonType2{:type => "submit", :value => "submit"}/
          %input.buttonType1{:onclick => "$('#facebox').hide();$('#facebox_overlay').hide();return false;", :type => "submit", :value => "cancel"}/
          .CL

:javascript
   
  $("#add_photo_form").submit(function() {
    var chec_error = true;
    if($('#album_photo').val() == ""){
      $('#album_photo').addClass("error");
      chec_error = false;
    }
    return chec_error;
    });
     
