.bodyWapper
  .tabBox
    %a.tabSelected{:href => "#."} All Albums
    .CL
  .tabContainer{:style => "padding:14px"}
    %br/
    %ul.memberAlbum
      - @albums.each do | single_album |
        %li
          %a.box{:href => "/photo_list?test_report_id=#{single_album.id}"}
            - if single_album.pictures.blank?
              %img{:class => "", :alt => "", :height => "110", :src => "/assets/default.jpg", :style=> "width: 100%; height: 100%;"}/ 
            - else
              %img{:class => "", :alt => "", :height => "110", :src => "#{single_album.pictures[0].photo_url_str} ", :style=> "width: 100%; height: 100%;"}/            
          %a{:href => "/photo_list?test_report_id=#{single_album.id}"}
            = single_album.name
            (#{single_album.pictures.count})
          %a.deleteIcon{:href => "/destroy_album?id=#{single_album.id}", :onclick => "return confirm('Are you sure you want to Delete this row')", :title => "Delete"}
          %br/
      %li
        %a.box{:href => "/album/add_album", :rel => "facebox"}
          %span.plusIconBig>
          Add
          %br>/
          new album
    .CL
  .CL
