$(".js-album-list").show();
$(".js-create-new-album").hide();
$(".js-album-detail").hide();
$(".js-create-new-album").show();
$(".js-no-album").hide();
$(".js-album-count").html("<%=@member.albums.count%>")
$(".js-album-list_item").append("<%= j render :partial=>'/album/add_album',:locals=>{album: @album}%>")
$.fn.close();