$(".js-album-list").hide();
$(".js-album-detail").show();
$(".js-create-new-album").hide();
$(".js-album-detail").html("<%= j render :partial=>'/album/album_detail', :locals=>{album:@album} %>");
 $(".js-titleBar").append('<div class="actionBar js-backto-album"><a class="btn btn-big-type1 js-backto-album-link" href="#">Back to Albums</a></div>');