 
   
 <!-- page title-->
    <div class="singleBx-type6a">
        <div class="titleBar reset-margin js-titleBar">
            <h1><%=profile_image_tag(@member) %> Your Albums <span class="notifiacation-2 js-album-count"><%= @member.albums.count %></span></h1>

            <div class="actionBar js-create-new-album">
            
                <a class="btn btn-big-type1" href="#html" data-width="600" data-pop="album/new?member_id=<%=@member.id%>">Create New Album</a>
            </div>
        </div>
    </div>

 <div class="js-album-list" >
  <%= render partial:"/album/album_list", :locals=>{albums: @albums} %>
 </div>
 <div class="js-album-detail">
 </div>