 <%= form_for :album, url:"/album/", :html => { :multipart => true }, :remote=>true do |f| %>
<div>
    <h2>
        Add to Album (need to change?)
    </h2>
    <p class="txt-type-1">*Mandatory Fields</p>
    
    <div class="form-type2 space-top">
        <div class="form-row">
            <div class="singleBx-type7">
                <div class="form-row reset-margin">
                    <%= f.label :name, "Title*", class: "form-label" %>
                    <%= f.text_field :name, class: "textBx-type2", placeholder:"Album Title" %>
                </div>
            </div>
            <div class="singleBx-type7">
                <div class="form-row reset-margin">
                    <%= f.label :album_date, "Date", class:"form-label" %>
                    <%= f.hidden_field :member_id, value: params[:member_id]%>
                    <div class="textBx-type3">
                        <%= f.text_field :album_date, value: toDate(Date.today), style: "position: relative;z-index: 100000;", class: "textBx-type1 dateInput js-dob"  %>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label class="form-label">Description</label>
            <div class="singleBx-type11">
            <%= f.text_area :desc, class: "textarea-type1", size:"30x10" %>
            </div>
        </div>
        <div class="form-row">
            <label class="form-label FL">Media Files </label>
            <div class="FR js-media">
                <input type="file" class="custom-file-2"/>
                <label for="addNew"></label>
            </div>
            <hr class="CL hr"/>
            <div class="scroll-type2">
                <ul class="list-type-11 clearfix js-list">
                   

                </ul>
            </div>

        </div>
    </div>
</div>
<div class="form-action-row">
   <%= f.submit "Add", class: "btn btn-type2" %>
   <%= link_to "Cancel", "#.", class: "txt-link" %>
</div>
<% end %>
