  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#amazon_affiliate_link').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    

} );
 </script> 
 <style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
  }
 </style>
 
<br/>
<br/>
<h2> Product List </h2>
<br/>
<%#= link_to "Add New Tool", "/admin/tool_list_maintenance/new_tool" %>
 
<br/>
<br/>
<table id="amazon_affiliate_link" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                     </th>
            <th>Name                 </th>
            <th>Price                </th>
            <th>Link Url             </th>
            <th>Image Url            </th>
            <th>Provider             </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>                     </th>
            <th>Name                 </th>
            <th>Price                </th>
            <th>Link Url             </th>
            <th>Image Url            </th>
            <th>Provider             </th>
          </tr>
        </tfoot>
        <tbody>
          
     <% @products.each do | product |  %>
        <tr id="dataRow1">
            <td></td>
            <td > <%= product.product_name %></td>
            <td > <%= product.product_price %></td>
            <td> <%= product.product_link_url%>  </td>
            <td> <%= product.product_image_url%>  </td>
            <td> <%= product.product_provider %></td>
            
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
