<%= form_tag "/admin/amazon_affiliate_links/search_product", url:"/admin/amazon_affiliate_links/search_product"  do %>
<div class="form-type1">
<br/>
<div class="form-row"> 
   <%= text_field_tag :search_keywords, params[:search_keywords] , placeholder:"search_keywords",  class: "textBx-type1 " %>
  </div>
  <div class="form-row"> 
   <%= text_field_tag :search_index, params[:search_index], class: "textBx-type1 inputType2 " ,placeholder:"search_index"%>
  </div>
   
 

  <div class="form-row">
     <%=select_tag "country_code", options_for_select(['IN',"UK"], params[:country_code]),:prompt => 'Select country', :style=>"width:125px;",:multiple=>false, :class=>"custom-select" %>
  </div>
  
  <div class="form-row">
    <%=  submit_tag "Search",class:"btn btn-type2" ,:disable_with=>"Searching.."%>
  </div>
<div class="form-row">
    <%#=  submit_tag "Export to Excel",class:"btn btn-type2" %>
  </div>
  <% end %>