<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <%#= link_to "Role List", "/admin/role_for_admin_panel" %> 
 <br/>
 <br/>
 <br/>
 <%= @subscription.errors.full_messages.first if @subscription.errors.any? %>

<%= form_for @subscription,url:"/admin/subscription_maintenance/#{@subscription.id}", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Update subscription</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    

    <div class="form-row">
        <label class="form-label">Title</label>
         <%= f.text_field :title, class: "js-name textBx-type2"  %>
    </div>
    <div class="form-row">
        <label class="form-label">Identifier (0 for Free)</label>
        <%= f.select :identifier, options_for_select((0..10),@subscription.identifier), :class => 'custom-select1  ' %>
          
    </div>


     <div class="form-row">
        <label class="form-label">Description</label>
         <%= f.text_field :description, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Product id for android</label>
         <%= f.text_field :android_product_id, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
        <label class="form-label">Product id for ios</label>
         <%= f.text_field :ios_product_id, class: "js-name textBx-type2"  %>
    </div>

    <div class="form-row">
        <label class="form-label">Plan Type</label>
        <%= f.select :plan_type, options_for_select(['basic','premium'],@subscription.plan_type), :class => 'custom-select1  ' %>
          
    </div> 
  
    <div class="form-row">
        <label class="form-label">Category</label>
        <%= f.select :category, options_for_select(['Free','Silver','Gold'],@subscription.category), :class => 'custom-select1  ' %>
          
    </div>

    
    
    <div class="form-row">
        <label class="form-label">Subscription Listing Order (0 for Free)</label>
        <%= f.select :subscription_listing_order, options_for_select((0..10),@subscription.subscription_listing_order), :class => 'custom-select1  ' %>
          
    </div>

    
    <div class="form-row">
        <label class="form-label">Plan duration type </label>
        <%= f.select :plan_duration, options_for_select([['Daily','Day'],['Weekly','Week'] ,['Monthly','Month'],['Yearly','Year']],@subscription.plan_duration), :class => 'custom-select1  ' %>
    </div>

    <div class="form-row">
        <label class="form-label">Plan duration frequency</label>
        <%= f.select :frequency, options_for_select((1..365),@subscription.frequency), :class => 'custom-select1  ' %>
    </div>
     
    <div class="form-row">
        <label class="form-label">Free Trial </label>
        <%= f.text_field :free_trial, class: "js-name textBx-type2"  %>
        
    </div>
    <% subscription_trial_duration = @subscription.trial_duration.split(".") rescue [] %>
       <div class="form-row">
        <label class="form-label">Free Trial Duration </label>
        <%= select_tag :free_trial_period, options_for_select((0..365),subscription_trial_duration[0]), :class => 'custom-select1  ' %>
        <%= select_tag :free_trial_frequency, options_for_select([['Day','day'],['Week','week'] ,['Month','month'],['Yearly','year']],subscription_trial_duration[1]), :class => 'custom-select1  ' %> 
          
         
    </div>

    <% subscription_grace_period = @subscription.grace_period.split(".") rescue [] %>
       <div class="form-row">
        <label class="form-label">Grace Period </label>
        <%= select_tag :grace_period, options_for_select((0..365),subscription_grace_period[0]), :class => 'custom-select1  ' %>
        <%= select_tag :grace_frequency, options_for_select([['Day','day'],['Week','week'] ,['Month','month'],['Yearly','year']],subscription_grace_period[1]), :class => 'custom-select1  ' %> 
          
         
    </div>
    <div class="form-row">
        <label class="form-label">Plan_info </label>
         <%= f.text_field :plan_info, class: "js-name textBx-type2"  %>
         
    </div>

    <div class="form-row">
        <label class="form-label">Subscription Status </label>
        <%= f.select :subscription_status, options_for_select(["Draft","Active"],@subscription.subscription_status), :class => 'custom-select1  ' %>
        
    </div>

  

 

    <div class="form-row">
        <label class="form-label">Supported Api Version</label>
        <%= f.select :supported_api_version, options_for_select(app_version_supported_options,@subscription.supported_api_version), :class => 'custom-select1  ' %>
          
    </div>

        <div class="form-row">
        <label class="form-label">Android Supported App Version</label>
         <%= f.text_field :android_supported_app_version_str, class: "js-name textBx-type2"  %>
    </div> 
    <div class="form-row">
        <label class="form-label">Ios Supported App Version </label>
         <%= f.text_field :ios_supported_app_version_str, class: "js-name textBx-type2"  %>
    </div> 

     
    <div class="form-row">
        <label class="form-label">Max Premium Tool Count (-1 for unlimited)</label>
         <%= f.text_field :max_premium_tool_count, class: "js-name textBx-type2"  %>
         
    </div>
    <div class="form-row">
        <label class="form-label">Max Basic Tool Count (-1 for unlimited) </label>
         <%= f.text_field :max_basic_tool_count, class: "js-name textBx-type2"  %>
         
    </div>

    <div class="form-type3"><div class="form-action-row">
      
        <%= f.submit "Update", class: "btn btn-type2", disable_with: "Saving.."  %>
  
    </div></div>
  </div>
</div>
<% end %>
  
 <%= button_to "Cancel", "/admin/subscription_maintenance", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>


 