<br/>
  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": true,
            "targets": 0,
            "width": 35
        },{"width": 227,"targets": 1},{"targets": 2,"width": 267},{"targets": 3,"width": 167},{"targets": 2,"width": 300},{"targets": 2,"width": 130} ],
      "scrollX": false,
      "autoWidth" : false,
      "autoHeight": true,
      "scrollY": false,
      "fixedHeader": true,
       "fixedColumns": true,
      "lengthMenu": [[5,10, 50, -1], [5,10, 50, "All"]],
      "order": [[ 0, "desc" ]]

    } ).draw();
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } );
t.columns.adjust().draw()
     

} );
 </script> 
 <style type="text/css">

table.dataTable {
    margin: 0 !important;
}
 div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
width: 100% !important;
}
.display{
width: 100% !important;
  }
.dataTables_scrollFootInner{
width: 100% !important;

}
.dataTables_scrollHeadInner{
  box-sizing: content-box; 
  padding-right: 0px;
width: 100% !important;
}

.dataTables_scrollBody{
  height: 200px !important;
}
table.dataTable tbody tr td {
  text-align: left;
padding: 5px 8px !important;

} 
 </style>


<br/>
<br/>
<h2>Users checking subscription list </h2>
<br/>
 
<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th> Sno &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>User Name                   </th>
            <!-- <th>User Country                   </th> -->
            <th>Child Name             </th>
            <th>Tool             </th>
            <th>Family Name             </th>
            <th>Date           </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>User Name                   </th>
            <th>Child Name             </th>
            <th>Tool             </th>
            <th>Family Name             </th>
            <th>Date           </th>
          </tr>
        </tfoot>
        <tbody>
     
    <% if @log_data.present? %>
     <% @log_data.each do | data |  %>
     <% begin%>
       <% data[:request_params] = data[:request_params] || {} %>
       <% tool_id = data[:request_params]["tool_id"]  rescue nil%>
       <% member_id = data[:member_id] || data[:request_params]["member_id"] rescue nil%>
       <% member = Member.find(member_id) rescue Member.new%>
       <% family_id = (data[:family_id] || data[:request_params]["family_id"] )rescue nil%>
     <% if family_id.blank?%>
       <% family = FamilyMember.where(member_id:member.id).last.family rescue Family.new%>
     <% else %>
       <% family = Family.find(family_id) rescue Family.new %>
     <% end %>

     <% user = User.where(email:data[:user_email]).last rescue User.new%>
     <% tool = Nutrient.find(tool_id) rescue Nutrient.new%>

     <%# user = User.where(email:data[:user_email]).last %>
        <tr id="dataRow1">
          <td></td>
          <td> <%= user.first_name rescue nil %> <%= user.last_name rescue nil %></td>
          <td> <%= member.first_name  rescue nil%>  <%= member.last_name rescue nil %>         </td>
          <td> <%= tool.title rescue nil%>          </td>
          <td> <%= family.name rescue nil %>          </td>
          <td> <%= data.created_at.to_date.to_date2 rescue nil%>          </td>
        </tr>
        <% rescue %>
        
        <% end %>
    <% end %> 
    <% else %>
     No data found.
    <% end %>                 
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
