  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-subscription').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_subscription",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> Subscription Manager List </h2>
<br/>
<%= link_to "Add New Subscription", "/admin/subscription_maintenance/new_subscription" %>
 
<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th></th>
            <th>Title                   </th>
            <th>Identifier                   </th>
            <th>Description             </th>
            <th>Plan Type               </th>
            <th>Android Product Id      </th>
            <th>IOS Product Id          </th>
            <th>Category                </th>
            <th>Plan Duration Type           </th>
            <th>Plan Duration Frequency       </th>
            <th>Subscription Listing Order          </th>
             
            <th>Free Trial              </th>
            <th>Free Trial Duration             </th>
            <th> Grace Period </th>
            <th> Plan Info              </th>
            <th>Subscription Status     </th>
            <th>Supported Api Version   </th>
            <th>Android Supported App Version   </th>
            <th>Ios Supported App Version   </th>

            <th>Max Premium Tool Count   </th>
            <th>Max Basic Tool Count   </th>
            <th>Action                  </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>Title                   </th>
            <th>Identifier                   </th>
            <th>Description             </th>
            <th>Plan Type               </th>
            <th>Android Product Id      </th>
            <th>IOS Product Id          </th>
            <th>Category                </th>
            <th>Plan Duration Type           </th>
            <th>Plan Duration Frequency       </th>
            <th>Subscription Listing Order           </th>
             
            <th>Free Trial              </th>
            <th>Free Trial Duration              </th>
            <th> Grace Period </th>
            <th> Plan Info              </th>
            <th>Subscription Status     </th>
            <th>Supported Api Version   </th>
            <th>Android Supported App Version   </th>
            <th>Ios Supported App Version   </th>
            <th>Max Premium Tool Count   </th>
            <th>Max Basic Tool Count   </th>
            <th >Action                 </th>
             
          </tr>
        </tfoot>
        <tbody>
    <% plan_duration_mapping= {"Day"=>"Daily", "Week"=>"Weekly", "Month"=>"Monthly", "Year"=>"Yearly"}%>
    <% if @subscriptions.present? %>
     <% @subscriptions.each do | subscription |  %>
        <tr id="dataRow1">
            <td></td>
            <td> <%= subscription.title %></td>
            <td> <%= subscription.identifier %>          </td>
            <td> <%= subscription.description%>        </td>
            <td> <%= subscription.plan_type %>        </td>
            <td> <%= subscription.android_product_id %>        </td>
            <td> <%= subscription.ios_product_id %>        </td>
            <td> <%= subscription.category %>          </td>
            <td> <%= plan_duration_mapping[subscription.plan_duration] %>  </td>
            <td> <%= subscription.frequency %> </td>
            <td> <%= subscription.subscription_listing_order %>  </td>
            <td> <%= subscription.free_trial %>     </td>
            <td> <%= subscription.trial_duration %>     </td>
            <td> <%= subscription.grace_period %>     </td>
            <td> <%= subscription.plan_info %>     </td>
            <td> <%= subscription.subscription_status %>  </td>
            <td> <%= subscription.supported_api_version == -1 ? "NA" : subscription.supported_api_version          %>  </td>
            <td> <%= subscription.android_supported_app_version_str %>  </td>
            <td> <%= subscription.ios_supported_app_version_str      %>  </td>
            <td><%=subscription.max_premium_tool_count %>   </td>
            <td><%= subscription.max_basic_tool_count %>  </td>
             
            <td> <%=link_to "","/admin/subscription_maintenance/#{subscription.id}/edit",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/subscription_maintenance/delete_subscription?id=#{subscription.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{subscription.id}" %>
            </td>
        </tr>
    <% end %> 
    <% else %>
     No subscription manager found. Please add new.
    <% end %>                 
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
