<style type="text/css">
   
  .popupWrapper{
    overflow-y: scroll;
  }
</style>

  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[500, 100, 200,"All"], [ 500, 100, 200, -1]],
      
      "order": [[ 0, "asc" ]],
      "paging": false

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
          
            cell.innerHTML =  ( (parseInt("<%=params[:page] || 1 %>") - 1) * 100) + i+1;
        } );
    } ).draw();
     
} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
.dataTables_scrollHead table tr th:last-child, .dataTables_scrollBody table>thead>tr th:last-child, .dataTables_scrollBody table>tbody>tr th:last-child {
    min-width: 120px;
}
 </style>
 
<br/>
<br/>

<%= form_tag("/admin/subscription_maintenance/subscription_report",method:'get')  do %>
  <div class="form-type1">
    <div class="form-row" style="background-color:white;"> 
     <%= text_field_tag :email, params[:email], class: "textBx-type1 inputType2 " ,placeholder:"Email"%>
    </div>
    <div class="form-row">
      <%=select_tag "country_code", options_for_select( Report::UserBasicSummaryReportData.new.valid_country_list, params[:country_code]),:prompt => 'Select country', :style=>"width:125px;",:multiple=>true,:size=>10,:class=>"custom-select" %>
    </div>
    
    <div class="form-row">
      <%=select_tag "platform", options_for_select(Subscription.distinct(:platform), params[:platform]),:prompt => 'Select subscription platform', :style=>"width:125px;",:multiple=>true,:size=>3,:class=>"custom-select" %>
    </div>


    <div class="form-row">
       <%=select_tag "subscription_manager_id", options_from_collection_for_select(SubscriptionManager.all,:id,:title, params[:subscription_manager_id]),:prompt => 'Select subscription type', :style=>"width:125px;",:multiple=>true,:size=>5, :class=>"custom-select" %>
    
    </div>
    <div class="form-row" style="background: white">
      <label class="form-label">Purchase Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start</label>
      <%= text_field_tag :purchase_start_date, (params[:purchase_start_date]), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>false %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End &nbsp;
<%= text_field_tag :purchase_end_date, (params[:purchase_end_date]), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>false %>
    </div>
    
    <div class="form-row" style="background: white">
      <label class="form-label">Expiry Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start</label>
      <%= text_field_tag :expiry_start_date, (params[:expiry_start_date]), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>false %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;End &nbsp;
      <%= text_field_tag :expiry_end_date, (params[:expiry_end_date]), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>false %>
    </div>

  <div class="form-row">
    <%=  submit_tag "Search",class:"btn btn-type2" %>
  </div>

<%end %>

<br/>
<br/>
<h2> Subscription Report </h2>
<br/>

<%= link_to "Users checking subscription listing","#html", :class => "btn btn-type2", :data => {:pop => "/admin/subscription_maintenance/get_users_list_checking_subcription_list" , :width => "1124" } %>
 
<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th></th>
            <th>User Email                   </th>
            <th>User Country                   </th>
            <th>Family                       </th>
            <th>Device             </th>
            <th>Subscription Type           </th>
            <th>Purchase Date      </th>
            <th>Expiry Date          </th>
            
            <th>Action                  </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th>User Email                   </th>
            <th>User Country                 </th>
            <th>Family                       </th>
            <th>Device                       </th>
            <th>Subscription Type            </th>
            <th>Purchase Date                </th>
            <th>Expiry Date                  </th>
            <th>Action                       </th>
          </tr>
        </tfoot>
        <tbody>
     
    <% if @subscriptions.present? %>
     <% @subscriptions.each do | subscription |  %>
     <% begin%>
       <% subscription_manager = subscription.subscription_manager%>
       <% member = subscription.member rescue nil%>
       <% user = member.user rescue User.new %>
       <%# device = member.devices.last%>
        <tr id="dataRow1">
            <td></td>
            <td>
              
              <a href="#html" data-height="500" data-pop="/admin/users/get_user_detail?user_email=<%= user.email %>"> <%= user.email %>

            </td>
            <td> <%= user.country_code %>          </td>
            <td> 
              <%= link_to subscription.family_id,"#html", :data => {:pop => "/admin/users/user_families_detail?family_id=#{subscription.family_id}" , :width => "1124" } %>
               
            </td>
            
            <td> <%= subscription.platform%>        </td>
            <td> <%= subscription_manager.title%>        </td>
            <td> <%= subscription.start_date%>        </td>
            <td> <%= subscription.expiry_date%>        </td>
             
            <td> <%= link_to "Subscription History","#html",  :data => {:pop => "/admin/users/user_subscription_history?id=#{user.member_id}" , :width => "1124" },:style=>'width:62px;' %> &nbsp;
            </td>
        </tr>
        <% rescue %>
        <%# byebug%>
        <% end %>
    <% end %> 
    <% else %>
     No data found.
    <% end %>                 
    </tbody>
</table> 
 <%= will_paginate @subscriptions %> 
 <!-- </div>
    <br/>
  </div> -->
  <div class="CL"></div>
    <br/>
    <br/>
    <br/>

<!-- </div> -->
 
