/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.dataTables.min
 
 *= require default-style
 *= require jquery-ui-1.10.3.custom.min
 
 *= require jquery.mCustomScrollbar
 *= require dd
 *= require flags
 *= require jquery.lightbox
 *= require jquery.Jcrop
 *= require fullcalendar
 *= require fullcalendar.print
 *= require jqueryTimepicker
 *= require emotion
 *= require cookie_msg
 * require_tree
  
  
*/

.cookie-msg{
  padding-top: 6px;
  margin-top: -1px;
}
/* todo :Prshant need to change it */
.datefield{
  width: 94px;
  position: absolute;
  z-index: 0;
  background: none;
  border: none;
  margin-left: 25px;
  margin-top: 3px;
}

#requested_family{
	background: white;
	width: 500px;
	height: 110px;
	text-align: center;
	padding: 100px;
}

.red {
  border: red solid 1px !important;
}

.ui-state-default .ui-icon {
        background-image: url("/assets/ui-icons_888888_256x240.png") !important;
}