.cookie-msg {
   
  font-size: 16px;
  color: gray;
  background: black;
  text-align: center;
  font-family: sans-serif;
  color:#747572 !important;

  font-size: 14px;
}
  
.cookie-msg p{
  display: inline-block;
  max-width: 1200px;
  padding: 15px;
  
}
.cookie-msg a {
  text-decoration: none;
  color: #cdcdcd;
}

.cookie-msg a:hover {
  color: white;
}

.close-cookie-banner {
  background: #f0c073;
  padding: 5px 8px;
  border-radius: 4px;
  color: #3d2a0b !important;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

.close-cookie-banner:hover {
  background: #d29f4d;
}
