/*
 * FullCalendar v1.5.4 Print Stylesheet
 *
 * Include this stylesheet on your page to get a more printer-friendly calendar.
 * When including this stylesheet, use the media='print' attribute of the <link> tag.
 * Make sure to include this stylesheet IN ADDITION to the regular fullcalendar.css.
 *
 * Copyright (c) 2011 Adam Shaw
 * Dual licensed under the MIT and GPL licenses, located in
 * MIT-LICENSE.txt and GPL-LICENSE.txt respectively.
 *
 * Date: Tue Sep 4 23:38:33 2012 -0700
 *
 */
 
 
 /* Events
-----------------------------------------------------*/
.fc-today{
	background-color: #ddd;
}
.fc-event-skin {
	background: none;
	color: #000 !important;
	}
	
/* horizontal events */
	
.fc-event-hori {
	border-width: 0 0 1px 0 !important;
	border-bottom-style: dotted !important;
	border-bottom-color: #000 !important;
	padding: 1px 0 0 0 !important;
	}
	
.fc-event-hori .fc-event-inner {
	border-width: 0 !important;
	padding: 0 1px !important;
	}
	
/* vertical events */
	
.fc-event-vert {
	border-width: 0 0 0 1px !important;
	border-left-style: dotted !important;
	border-left-color: #000 !important;
	padding: 0 1px 0 0 !important;
	}
	
.fc-event-vert .fc-event-inner {
	border-width: 0 !important;
	padding: 1px 0 !important;
	}
	
.fc-event-bg {
	display: none !important;
	}
	
.fc-event .ui-resizable-handle {
	display: none !important;
	}
	

.fc-button-today .fc-button-content {
	color: #FFFFFF !important;
	}
.fc-button-today .fc-button-content:hover {
  cursor: pointer;
  text-decoration: underline;
  }

/* existing classes should replace */
.fc-header-title h2 {
  width: auto !important;
  color: #FFFFFF !important;
}
.fc-button-today.fc-state-default .fc-button-inner {
  background-color: transparent;
  border: 0px;
}
.fc-header .fc-button-today .fc-button-content {
  color: #179741 !important;
  text-transform: capitalize;
}
.fc-state-default .fc-button-effect {
  position: absolute;
  top: 50%;
  left: 0;
  display: none;
}
.fc-button-prev.fc-state-default .fc-button-inner, .fc-button-next.fc-state-default .fc-button-inner {
  background: transparent;
  color: #FFF;
  border: 0px;
  width: 21px;
  text-align: center;
}
.fc-button-month.fc-state-default.fc-state-active .fc-button-inner, .fc-button-agendaWeek.fc-state-active .fc-button-inner, .fc-button-agendaDay.fc-state-active .fc-button-inner {
  background: #525252;
}
/* New classes should Added */
.fc-button.fc-button-today {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.fc-button-today.fc-state-default .fc-button-inner {
  background-color: transparent;
  border: 0px;
}
.fc-button.fc-button-today .fc-button-effect {
  display: none;
}
.fc-button.fc-button-prev, .fc-button.fc-button-next {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #2d8847;
  border: 0px;
}

.fc-button.fc-button-prev .fc-button-inner .fc-button-content, .fc-button.fc-button-next .fc-button-inner .fc-button-content {
  padding: 0;
  float: none;
  display: inline;
  font-size: 10px;
}
.fc-button-next.fc-state-default .fc-button-inner {
  width: 24px;
}