/* comment css */
body{
  background:url("../images/web-bg.png");
  font-family:'Ubuntu', sans-serif;
  font-size:12px;
  color:#252525;
  overflow:auto;
  margin-top:50px;
}

a{
  color:#252525;
}

a:hover{
  text-decoration:none;
}

.clearFix:after, .img-gallery:after{
  content:" ";
  display:block;
  clear:both;
}

.CL{
  clear:both;
}

.FL{
  float:left;
}

.FR{
  float:right;
}

.wapperBx{
  width:1000px;
  margin:0 auto;
}

.bodywapper{
  padding:20px 0;
  min-height:200px;
  /*min-height:500px;  */
}
.bodywapper:after{
  content:"";
  display:block;
  clear:both;
}

/* text addon */
.bold{
  font-weight:bold !important;
}
.light{
  font-weight:300 !important;
}
.medium{
  font-weight:500 !important;
}
/* common button class */
.btn{
  display:inline-block !important;
  padding:7px 12px !important;
  border-radius:5px;
  margin-right:5px;
  font-size:12px;
  text-decoration:none;
  border:0;
  overflow:visible;
  cursor:pointer;
}

/* green background */
.btn-type1{
  background-color:#179741;
  color:#FFFFFF;
  margin-top:10px;
}

/* orange background */
.btn-type2{
  background-color:#ffc15d;
  color:#000000;
  margin-top:8px;
}
/* Text with icon */
.btn-type3{
  font-family:'Ubuntu', sans-serif;
  color:#05983c;
  font-weight:bold;
  font-size:14px;
  padding:2px 6px 6px !important;
  margin-right:0px;
}
.btn-type3:before{
  font-family:icomoon;
  font-size:20px;
  font-weight:normal;
  vertical-align:middle;
  margin-right:5px;
}
/* icon button */
.btn-type4{
  text-decoration:none;
  position:absolute;
  right:10px;
  top:10px;
}
.btn-type4:hover:before{
  color:#9c9c9c;
}
.btn-type4:before{
  color:#d6d6d6;
  font-size:18px;
  display:block;
}
.btn-type6{
  text-decoration:none;
  font-weight:bold;
  margin-right:8px;
}
.btn-type6:before{
  color:#d6d6d6;
  font-size:24px;
  vertical-align:middle;
}
.btn-type6:after{
  content:"\f0d7";
  color:#d6d6d6;
  font-size:24px;
  vertical-align:middle;
  margin-left:8px;
}
/* this user for dropdown box*/
.btn-type7{
  position:absolute;
  right:5px;
  top:3px;
}
.btn-type7 .drop-nav{
  top:34px;
  right:5px;
}

.btn-type8{
  width: 18px;
  height: 18px;
  display: block;
  float: left;
  text-decoration: none;
  position: relative;
  top: -1px;
}
.btn-type8:before{
  font-size:18px;
  color:#4d4d4d;
  position:absolute;
  top:-1px;
}

/* big button with #fdc065 */
.btn-big-type1{
  font-family:'Ubuntu', sans-serif;
  background-color:#fdc065;
  border-radius:50px;
  height:32px;
  line-height:32px;
  padding:0px 16px !important;
  font-size:13px;
  font-weight:500;
  text-decoration:none;
}

/* big button with #3a3a3a */
.btn-big-type2{
  background-color:#3a3a3a;
  font-family:'Ubuntu', sans-serif;
  border-radius:50px;
  height:48px;
  line-height:48px;
  padding:0px 20px !important;
  font-size:15px;
  font-weight:500;
  text-decoration:none;
  color:#FFFFFF;
}

.btn-big-type1:before, .btn-big-type2:before{
  font-family:'icomoon';
  margin-right:5px;
  font-size:16px;
  vertical-align:middle;
  line-height: 16px;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-top: -3px;
}

/* title css */
h1{
  font-size:22px;
  font-weight:300;
}

h2, .page-title-4{
  font-size:18px;
  font-weight:500;
  color:#252525;
}
h2:before{
  color:#0d7e36;
  font-size:43px;
  vertical-align:middle;
  margin-right:15px !important;
}
h2 small{
  font-size:13px;
  display:block;
  font-weight:normal;
}

h2 small span{
  color:#a2a2a2;
}
/* page titles */
.page-title-1{
  font-size:13px;
  color:#a2a2a2;
  text-transform:uppercase;
  padding:10px 0 10px 12px;
  font-weight:bold;
}
.page-title-1a{
  font-size:13px;
}
.page-title-1:before{
  font-size:19px;
  vertical-align:middle;
  font-weight:normal;
}
.page-title-2,.page-title-8{
  font-size:16px;
  font-weight:300;
  margin-bottom:5px;
}
.page-title-3{
  font-size:18px;
  line-height:1.2;
  margin-bottom:8px;
}
.page-title-3 small{
  display:block;
  font-size:12px;
}
.page-title-3 small span{
  color:#a2a2a2;
}
.page-title-4{
  font-weight:300;
  margin-bottom:10px;
}
.page-title-5,.titleBar-type2 h2.page-title-5{
  font-size:15px;
  font-weight:500;
  margin-bottom:15px;
}
.page-title-6{
  font-size:16px;
  font-weight:bold;
  margin-bottom:15px;
}
.page-title-7{
  font-size:25px;
  font-weight:300;
  margin-bottom:20px;
}
.page-title-8{
  color:#d5d5d5;
  font-weight:300;
}
.page-title-9{
  color:#a3886a;
  font-size:16px;
  font-weight:bold;
  text-shadow:1px 1px 1px #FFF;
  margin-bottom:5px;
}
.page-title-9:before{
  font-size:23px;
  vertical-align:middle;
}
/* used for popup table header*/
.addon-type1{
  margin-bottom:0px;
  margin-top:13px;
}
.titleBar{
  margin-bottom:10px;
}

.titleBar:after{
  content:" ";
  display:block;
  clear:both;
}

.titleBar h1{
  float:left;
}

.titleBar .actionBar{
  float:right;
}

.titleBar-fill{
  background-color:#FFFFFF;
  border-bottom:1px solid #dddddd;
  margin:-15px -15px 15px;
  padding:10px 15px;
  border-radius:5px 5px 0 0;
}

.titleBar-fill:after{
  content:" ";
  display:block;
  clear:both;
}

.titleBa-fill h1{
  float:left;
}

.titleBar-fill .actionBar{
  float:right;
}

.titleBar-type1,.titleBar-type3,.titleBar-type1a{
  background-color:#f6f6f6;
  border-bottom:1px solid #dddddd;
  margin:0px -15px 20px;
  padding:10px 15px;
}
.titleBar-type3{
  background-color:transparent;
  margin:-15px -15px 15px;
}
.titleBar-type1:after{
  content:" ";
  display:block;
  clear:both;
}
.titleBar-type1a{
  margin-top:-15px;
  border-radius:5px 5px 0 0;
}
.titleBar-type1 h2,.titleBar-type2 h2,.titleBar-type1a h2{
  font-size:18px;
  font-weight:500;
}
.titleBar-type1 h2 small,.titleBar-type1a h2 small{
  display:inline-block;
  margin-left:10px;
  font-size:12px;
}
.titleBar-type1a h2:before{
  font-size:25px;
  margin-right:10px !important;
}

.titleBar-type2{
  background-color:#f6f6f6;
  border-bottom:1px solid #dddddd;
  margin:-15px -15px 15px;
  padding:10px 15px;
  border-radius:5px 5px 0 0;
}
/* notification */
.notifiacation-1,.notifiacation-2{
  background-color:#e09930;
  color:#FFFFFF;
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  text-align:center;
  display:inline-block;
  border-radius:50%;
}
.notifiacation-1 i{
  margin-right:0px !important;
  line-height:15px !important;
}
.notifiacation-1 i:before{
  line-height: 15px;
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 11px;
}
.notifiacation-2{
  font-size:16px;
  width:25px;
  height:25px;
  vertical-align:middle;
  line-height:25px;
}
/* list accordian*/
.nav-list-1 li{
  margin-bottom:2px;
}
.nav-list-1 li.current a.list-title{
  background-color:#fdc065;
}
.nav-list-1 li.current a.list-title:after{
  content:"\f078";
  color:#d3973d;
}
.nav-list-1 li a.list-title{
  background-color:#f6f6f6;
  display:block;
  border-bottom:3px solid #ededed;
  padding:5px 5px 5px 12px;
  font-size:14px;
  font-weight:500;
  text-decoration:none;
  position:relative;
}

.nav-list-1 li a.list-title:after{
  content:"\f054";
  font-size:18px;
  color:#cccccc;
  display:block;
  position:absolute;
  right:5px;
  top:11px;
}
.nav-list-1 li .list-sub{ display:none; }
.nav-list-1 li .list-sub a{
  display:block;
  padding:10px 13px;
  background-color:#f4eade;
  font-size:13px;
  text-decoration:none;
  border-top:1px solid #eadecf;
}
.nav-list-1 li .list-sub a.current{
  background-color:#ffffff;
}
.nav-list-1 li .list-sub-title{
  background-color:#f4eade;
  color:#cbbeae;
  font-size:12px;
  font-weight:700;
  text-transform:uppercase;
  padding:10px 13px;
}
.user-avatar{
  border-radius:50%;
  width:30px;
  height:30px;
  overflow:hidden;
  display:inline-block;
  vertical-align:middle;
  margin-right:5px;
  position:relative;
}
.user-avatar:before{
  content:'\f007';
  position:absolute;
  width:26px;
  height:26px;
  line-height:26px;
  left:0;
  top:0;
  text-align:center;
  font-size:15px;
  color:#cccccc;
  border:2px solid #cccccc;
  background-color:#f6f6f6;
  border-radius:50%;
  z-index:0;
}
.user-avatar img{
  width:100%;
  height:auto;
  position:relative;
  z-index:1;
}
/* box creation css */
.loading-box{
  text-align:center;
}
.singleBx-type1{
  border-radius:5px;
  border-top:5px solid #e4d6c7;
  padding:15px;
  background-color:#ffffff;
  position:relative;
  margin-bottom:10px;
  z-index:1;
}

.singleBx-type2{
  border-radius:15px;
  border:5px solid rgba(228, 214, 199, 0.8);
  padding:15px;
  background-color:#ffffff;
  position:relative;
  z-index:0;
}

.singleBx-type3, .singleBx-type3a, .singleBx-type3b{
  background-color:#ffeed4;
  padding:10px 10px 10px 72px;
  border-radius:5px;
  margin-top:10px;
  margin-bottom:10px;
  line-height:1.4;
  position:relative;
  border:1px solid #eadecf;
  min-height:40px;
}
.singleBx-type3a{
  padding:10px 10px 10px 72px;
}
.singleBx-type3b{
  border:2px solid #FFF;
  background-color:#f6f6f6;
  box-shadow:2px 2px 0px #ddd2c4;
  padding:10px;
}
.singleBx-type4{
  border-radius:15px;
  border:5px solid rgba(228, 214, 199, 0.8);
  padding:15px;
  background-color:#ffffff;
  position:relative;
  z-index:0;
}
.singleBx-type6 a{
  text-decoration:none;
}
.singleBx-type6 .txt-link:before{
  font-size:24px;
  color:#d6d6d6;
  margin-right:8px;
}
.singleBx-type5, .singleBx-type6,.singleBx-type8,.singleBx-type6a,.singleBx-type6b{
  border-radius:5px;
  padding:15px;
  background-color:#ffffff;
  position:relative;
  line-height:1.4;
}
.singleBx-type5 p, .singleBx-type6 p{
  margin-bottom:8px;
}
.singleBx-type6{
   margin-bottom:10px;
 }
.singleBx-type6a{
  padding:5px 10px;
  margin-bottom:10px;
  box-shadow:2px 2px 0px #ddd2c4;
}
.singleBx-type6b{
  background-color:#f6f6f6;
  margin-bottom:10px;
}
.singleBx-type7{
  width:238px;
  margin-right:15px;
  float:left;
}
.singleBx-type10{
  width:280px;
  margin-right:15px;
  float:left;
}
.singleBx-type11{
  border:1px solid #e6e6e6;
  border-radius:5px;
  padding:15px;
}
.singleBx-type12{
  text-align:center;
  margin-bottom:20px;
}
.singleBx-type12 i{
  font-size: 60px;
  line-height: 0.8;
  color: #0d7e36;
  margin-bottom: 10px;
  display: inline-block;
 }
.singleBx-type13{
  border-top:2px solid #eeeeee;
  padding:20px 0;
}

.singleBx-type14{
  border-radius:5px;
  overflow:hidden;
  position:relative;
  margin-bottom:10px;
}
.singleBx-type14 .drop-over .dots{
  text-shadow:1px 2px 3px transparent, 0 0 0 #c0c0c0, 1px 2px 3px transparent;
}
.singleBx-type15{
  border:2px solid #FFFFFF;
  background-color:#fff;
}
.singleBx-type16{
  background-color:#ffffff;
  border-radius:5px;
  padding:10px 10px 10px 72px;
  position:relative;
  margin-bottom:15px;
}
.singleBx-type17{
  float:left;
  width:33.33%;
}
.singleBx-type17 label.form-label{
  display:inline-block !important;
  margin-right:15px;
  width:80px;
}
.singleBx-type17 .slider-type-1{
  margin-top:10px;
}
.singleBx-type17 input[type="radio"] + label{
  margin-top:5px;
}
/* vaccination record box */
.singleBx-type8{
  margin-bottom:15px;
}
.singleBx-type9{
   margin:8px -15px;
   background-color:#f6f6f6;
 }
.left-section{
  width:200px;
  float:left;
  min-height:20px;
}
.center-section{
  width:608px;
  min-height:20px;
  float:left;
  margin:0 10px;
}
.right-section{
  width:172px;
  float:left;
  min-height:20px;
}
.widget-box-1{
  border:3px solid #ffffff;
  background-color:#ffffff;
  margin-bottom:10px;
}
/* box list creation */
.list-box-type1{
  border-bottom:1px solid #e6e6e6;
  border-radius:3px;
}
.list-box-type1 li{
  border:1px solid #e6e6e6;
  border-bottom:0;
  padding:15px;
  border-radius:3px;
  position:relative;
  cursor:pointer;
}
.list-box-type1 li:before{
  content:"\f054";
  position:absolute;
  right:15px;
  top:25px;
  font-size:21px;
  color:#d6d6d6;
}
.list-box-type1 li:hover:before{
  color:#038b35;
}
.list-box-type1 li span{
  color:#a2a2a2;
}
.list-box-type1 li:after{
  content:" ";
  display:block;
  clear:both;
}
.list-box-type1 li.list-arrow-type1:before{
  top:35px;
}
.list-section-1, .list-section-2{
  width:33%;
  display:block;
  float:left;
}
.list-section-2 p{
  margin-bottom:0;
}
.list-section-1:before{
  font-size:58px;
  float:left;
  margin-right:10px;
  line-height:1;
  color:#0d7e36;
}
.list-section-2:before{
  font-size:35px;
  width:35px;
  height:35px;
  float:left;
  margin-right:10px;
  line-height:1;
  color:#0d7e36;
}
.list-section-2{
  width:auto;
  float:none;
}
/* text types */
.txt-type-1{
  color:#e09930;
  line-height:1.8;
  margin-bottom:15px;
}
.txt-type-2{
  color:#252525;
  font-size:13px;
  line-height:1.3;
}
.txt-type-2:before{
  margin-bottom:18px;
  float:left;
  margin-right:10px;
}
h2 small.txt-type-3,.txt-type-3{
  color:#a2a2a2 !important;
  font-size:12px;
  line-height:1.2;
}
h2 small.txt-type-3{
  padding-top:11px;
}
.txt-type-4{
  color:#a2a2a2;
  line-height:1.2;
}
/* form types */
.form-type1{
  margin:-15px;
}
.form-type1 .form-row{
  padding:20px;
}
.form-type1 .form-row:nth-child(even){
  background-color:#f6f6f6;
  border-top:1px solid #e8e8e8;
}
.form-type1 .form-action-row{
  padding:10px 20px;
}
.form-type1 .form-action-row .btn-type1:hover{
  color:#ffffff;
}
.form-type2 label.form-label{
  display:block;
  font-size:15px;
  color:#9d9d9d;
  margin-bottom:10px;
}
.form-type2 .form-row{
  margin-bottom:15px;
}
.form-type2 .form-row:after, .form-type2:after{
  content:" ";
  display:block;
  clear:both;
}

.form-type3 .form-row{
  padding:10px 30px;
}
.form-type3 .form-action-row{
  padding:10px 0;
}

/* form fields */
.textBx-type1{
  width:100%;
  border:0px;
  font-size:14px;
  background-color:transparent;
}
.textBx-type2{
  width:92.3%;
  padding:8px;
  border:1px solid #eeeeee;
  border-radius:5px;
  font-size:13px;
  background-color:transparent;
}
.textBx-type3,.textBx-type3a{
  width:92.9%;
  padding:7px;
  border:1px solid #eeeeee;
  border-radius:5px;
  font-size:13px;
  background-color:transparent;
  position:relative;
}
.textBx-type3:after,.textBx-type3a:after{
  content:"\e605";
  font-size:18px;
  color:#05983c;
  position:absolute;
  right: 1px;
  top: 6px;
  /*cursor:pointer;*/
}
.textBx-type3a:after{
  content:"\e600";
  font-size:21px;
  line-height:0.9;
}
.textBx-type4{
  width:94%;
  padding:8px;
  border:1px solid #eeeeee;
  border-radius:50px;
  font-size:14px;
  background-color:transparent;
  position:relative;
  margin-top:20px;
}
.textBx-type5{
  width:95%;
  border:0px;
  font-size:14px;
  background-color:transparent;
  margin-left:5px;
}
.textBx-type6{
  width:70%;
  padding:6px;
  border:1px solid #eeeeee;
  border-radius:5px;
  font-size:13px;
  background-color:transparent;
  margin-right:5px;
  background-color:#FFF;
}
.textBx-type8,.textBx-type9{
  width:85.3%;
  padding:8px;
  border:1px solid #eeeeee;
  border-radius:5px;
  font-size:14px;
  background-color:transparent;
}
.textBx-type9{
  width:34px;
  vertical-align:middle;
}
.textBx-type9:disabled{
  color:#cccccc;
}
.textBx-type7{
  width:56%;
  padding:2%;
  border:1px solid #eeeeee;
  border-radius:5px;
  font-size:13px;
  background-color:transparent;
  margin-right:5px;
  background-color:#FFF;
}
.textarea-type1{
  width:80%;
  border:0;
  font-size:14px;
  height:30px;
  resize:none;
  background-color:transparent;
}

/* custom radio */
input[type="radio"].custom-radio{
  position:absolute;
  display:none;
}
input[type="radio"].custom-radio + label{
  margin-right:10px;
  position:relative;
  display:inline-block;
  cursor:pointer;
}
input[type="radio"].custom-radio + label:before{
  border:2px solid #EEEEEE;
  border-radius:50% 50% 50% 50%;
  content:" ";
  display:inline-block;
  height:16px;
  margin-right:8px;
  vertical-align:middle;
  width:16px;
}
input[type="radio"].custom-radio:checked + label:after{
  content:" ";
  display:inline-block;
  width:8px;
  height:8px;
  background-color:#05983c;
  border-radius:50% 50% 50% 50%;
  position:absolute;
  left:6px;
  top:6px;
}
input[type="radio"].custom-radio:disabled + label:after{
  background-color:#ccc;
}

input[type="radio"].custom-radio-2{
  position:absolute;
  display:none;
}
input[type="radio"].custom-radio-2 + label{
  margin-right:10px;
  position:relative;
  display:inline-block;
  cursor:pointer;
}
input[type="radio"].custom-radio-2 + label:before{
  border:2px solid #EEEEEE;
  border-radius:50% 50% 50% 50%;
  content:" ";
  display:inline-block;
  height:16px;
  margin-right:8px;
  vertical-align:middle;
  width:16px;
}
input[type="radio"].custom-radio-2:checked + label:after{
  content:" ";
  display:inline-block;
  width:8px;
  height:8px;
  background-color:#05983c;
  border-radius:50% 50% 50% 50%;
  position:absolute;
  left:6px;
  top:6px;
}
/* custom File */
input[type="file"].custom-file{
  position:absolute;
  display:none;
}
input[type="file"].custom-file + label{
  position:relative;
  display:block;
  width:117px;
  height:105px;
  border:2px dashed #eeeeee;
  background-color:#ffffff;
  cursor:pointer;
}
input[type="file"].custom-file + label:before{
  content:"\f007";
  font-family:'icomoon';
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1;
  font-size:83px;
  color:#ededed;
  position:absolute;
  width:117px;
  text-align:center;
  margin-top:10px;
  display:block;
  z-index:0;
}
input[type="file"].custom-file + label:after{
  content:"UPLOAD PHOTO";
  font-size:11px;
  width:117px;
  text-align:center;
  position:absolute;
  bottom:15px;
  left:0;
  text-shadow:2px 1px 2px #FFF;
}
/* custom File */
input[type="file"].custom-file-2{
  position:absolute;
  display:none;
}
input[type="file"].custom-file-2 + label{
  position:relative;
  display:block;
  padding-left:23px;
  padding-top:3px;
  height:18px;
  background-color:#ffffff;
  cursor:pointer;
}
input[type="file"].custom-file-2 + label:before{
  content:"\e60b";
  font-family:'icomoon';
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1;
  font-size:20px;
  color:#179741;
  position:absolute;
  width:18px;
  text-align:center;
  display:block;
  z-index:0;
  left:0;
  top:0;
}
/* placeholder all */
::-webkit-input-placeholder{ color:#a2a2a2; font-weight:300; }
::-moz-placeholder{ color:#a2a2a2; font-weight:300; }
/* firefox 19+ */
:-ms-input-placeholder{ color:#a2a2a2; font-weight:300; }
/* ie */
input:-moz-placeholder{ color:#a2a2a2; font-weight:300; }

/* different types of links */
.txt-link{
  color:#006926;
  font-weight:500;
  padding:0 8px;
  text-decoration:none;
}
.txt-link:hover{
  text-decoration:underline;
}
.txt-link-type1{
  color:#006926;
  text-decoration:none;
}
.txt-link-type1:hover{
  text-decoration:underline;
}
.txt-link-type2{
  padding-right:8px;
  text-decoration:none;
}
.born-link:after{
  content:"\e601";
  float:left;
}
#overLay{
  z-index:99 !important;
}
.globel-msg{
  font-size:12px;
  text-align:center;
  display:inline-block;
  position:absolute;
  bottom:-7px;
  color:#252525;
  z-index:1;
  left:0;
  right:0;
}
.globel-msg span{
  display:inline-block;
  padding:3px 9px;
  border-radius:4px;
  background-color:#FFF;
  border:1px solid #e66d70;
  box-shadow:2px 1px 3px rgba(0,0,0,0.3);
}


/* header css */
header{
  background:url("../images/header-bg.png");
  padding:3px 0;
  position:fixed;
  width:100%;
  top:0;
  z-index:9;
}

.logo{
  background:url("../images/logo.png") no-repeat left top;
  width:32px;
  height:43px;
  display:block;
  vertical-align:middle;
  margin-right:9px;
  float:left;
}

.primNav{
  display:inline-block;
  vertical-align:middle;
  display:block;
  float:left;
  vertical-align:middle;
  margin-top:15px;
  font-size:13px;
}

.primNav a{
  color:#b0e2c1;
  text-decoration:none;
  padding:0 10px;
  font-weight:normal;
}

.primNav a:hover{
  color:#ffc15d;
}

.primNav a.active{
  color:#ffc15d;
}

.avatar-box{
  float:right;
  color:#FFFFFF;
  margin-right:181px;
}

.avatar-box li{
  display:inline;
  position:relative;
  z-index:3;
}

.avatar-box span{
  font-weight:bold;
}
.avatar-box .user-avatar{
  width: 35px;
  height: 35px;
  margin-right:0px;
  margin-left:5px;
}
.avatar-box2{
  width:100px;
  height:100px;
  margin:0 auto;
  position:relative;
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius:50%;
  border:4px solid #FFF;
  overflow:hidden;
}
.avatar-box2:hover .edit-img{
  display:block;
}
.avatar-box2 .edit-img{
  position:absolute;
  bottom:0;
  width:100%;
  left:0;
  background-color:rgba(0,0,0,0.5);
  height:30px;
  display:none;
}
.avatar-box2 .edit-img:before{
  font-size:20px;
  margin-right:0px;
  color:#FFF;
  line-height:30px;

}

.avatar-img{
  border-radius:50%;
  border:1px solid #086c2a;
  vertical-align:middle;
  margin-left: 5px;
  margin-right: 5px;
}
a.settingBx{
  text-decoration:none;
  margin-left:8px;
  margin-top: 4px;
  display: inline-block;
}
a.settingBx i{
  font-size: 18px;
  text-decoration: none;
  color: #FFF;
  margin-right: 5px;
}
.avatar-box li:hover a.settingBx{
  background-color: #FFFFFF;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: -10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 0;
  margin-top:-3px;
  padding-top:7px;
}
.avatar-box li:hover a.settingBx i{
  color:#038b35;
}
.avatar-box li:hover .setting-sub{
  display:block;
}

.setting-sub{
  position:absolute;
  display:none;
  background-color:#FFFFFF;
  box-shadow:1px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius:5px 0 5px 5px;
  min-width:160px;
  top:33px;
  right:0;
  z-index:3;
}

.setting-sub a{
  margin:0px;
  white-space:nowrap;
  box-shadow:none;
  display:block;
  text-decoration:none;
  padding:8px 10px;
  border-bottom:1px solid #eaeaea;
  color:#1b1b1b;
  font-size:13px;
}

.setting-sub a:hover{
  background-color:#0e7e36;
  color:#FFFFFF;
}

.setting-sub a:first-child{
  border-radius:5px 0 0 0;
}

.setting-sub a:last-child{
  border:0px;
  border-radius:0 0 5px 5px;
}

/* footer css */
footer{
  background:url("../images/footer-bg.png");
  color:#5a5a5a;
  padding:30px 0;
  font-size:13px;
}

footer a{
  font-size:14px;
  color:#5a5a5a;
  text-decoration:none;
}

footer a:hover{
  color:#FFFFFF;
}

footer h2{
  font-size:16px;
  font-weight:bold;
  color:#FFFFFF;
  margin-bottom:10px;
  line-height:1.2;
}

.ft-box2{
  width:30%;
  float:left;
  line-height:1.5;
}

.ft-box2 img{
  margin-bottom:8px;
}

.ft-box1{
  width:40%;
  float:left;
}

.ft-box1 a{
  display:inline-block;
  margin-left:8px;
}

.ft-links a{
  padding:0 5px;
  color: #fac266;
  font-size:12px;
}

.copyRight{
  font-size:12px;
  margin-top:15px;
  text-align:center;
  border-top:1px solid #272727;
  padding-top:15px;
}

.qLink a{
  padding:5px 0;
}

[class*="-link"]:before{
  font-size:18px;
  margin-right:5px;
  vertical-align:top;
  display:inline-block;
  width:17px;
  text-align:left;
}

[class*="-link"]{
  padding-bottom:10px;
}

.fb-link:before{
  color:#559be8;
}

.tw-link:before{
  color:#57c5e9;
}

.go-link:before{
  color:#c13726;
}

.u-link:before{
  color:#FFFFFF;
}

/* manage family */
.dots{
  text-decoration:none; position:absolute; right:10px; top:5px;
  color:rgba(0, 0, 0, 0.1);
  text-shadow:1px 2px 3px #FFF, 0 0 0 #c0c0c0, 1px 2px 3px #FFF;
}

.dots:before{
  content:"\e609";
  text-decoration:none;
  font-size:30px;
  display:block;
}

.add-action{
  float:right;
  margin-right:30px;
}
.add-action a:first-child{
  margin-right:10px;
}
.actionBar .btn-big-type1.icon-peoplegroup{
  margin-right:30px;
}

.family-list:after{
  content:" ";
  display:block;
  clear:both;
}

.family-list li{
  float:left;
  width:23%;
  margin-right:25px;
  margin-bottom:25px;
  position:relative;
}

.family-list li:nth-child(4n){
  margin-right:0px;
}

.fa-main-bx{
  border:1px solid #eaeaea;
  border-radius:5px;
  position:relative;
  box-shadow:4px 4px 0px #f5f5f5;
  height:290px;
}

#showList .fa-main-bx.search_family{
  height: 180px;
}

.fa-footer-bx{
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#f6f6f6;
  border-radius:0 0 5px 5px;
  min-height:41px;
}

.fa-footer-bx .dots{
  position:relative;
  width:40px;
  height:40px;
  float:right;
  right:inherit;
  top:inherit;
  text-shadow:1px 2px 3px #f6f6f6, 0 0 0 #c0c0c0, 1px 2px 3px #f6f6f6;
  border-left:1px solid #f6f6f6;
  border-top:1px solid #f6f6f6;
}

.fa-footer-bx .dots:before{
  text-align:center;
  height:40px;
  width:41px;
  line-height:40px;
}

.fa-footer-bx:after{
  content:" ";
  display:block;
  clear:both;
}

.fa-container{
  padding:15px;
  margin-bottom:40px;
  text-align:center;
  min-height:200px;
  font-weight:500;
  line-height:1.7;
}

.fa-container h3{
  font-size:18px;
  font-weight:normal;
}

.fa-container small{
  font-size:13px;
  color:#a2a2a2;
}

.fa-container a{
  text-decoration:none;
}

.fa-avatar{
  width:100px;
  height:100px;
  margin:0 auto 10px;
  overflow:hidden;
  position:relative;
  display:block;
  text-decoration:none;
}

.fa-avatar img{
  position:relative;
  width:100%;
  height:auto;
}

.fa-avatar:before{
  width:100px;
  height:100px;
  line-height:100px;
  font-size:70px;
  color:#ededed;
  position:absolute;
  left:0;
  top:0;
}

.fa-footer-name{
  float:left;
  padding:10px;
}

.drop-over .dots{
  top:inherit;
  right:inherit;
  display:inline-block;
  z-index:1;
}

.drop-over:hover .dots{
  background-color:#ffffff;
  text-shadow:1px 2px 3px #FFF, 0 0 0 #c0c0c0, 1px 2px 3px #FFF;
  border-left:1px solid #e9e9e9;
  border-top:1px solid #e9e9e9;
  box-shadow:1px -1.5px 2px rgba(0, 0, 0, 0.5);
  z-index:3;
  top:inherit;
  right:inherit;
}

.drop-over:hover .drop-nav{
  display:block;
}

.drop-nav{
  position:absolute;
  right:0;
  top:41px;
  background-color:#ffffff;
  border-radius:5px 0 5px 5px;
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.5);
  z-index:2;
  display:none;
}

.drop-nav a{
  display:block;
  white-space:nowrap;
  padding:7px 10px;
  text-decoration:none;
  border-bottom:1px solid #eaeaea;
}

.drop-nav a:hover{
  background-color:#0e7e36;
  color:#ffffff;
}

.drop-nav a:first-child{
  border-radius:5px 0 0 0;
}

.drop-nav a:last-child{
  border:0px;
  border-radius:0 0 5px 5px;
}

.request-sent{
  color:#e09930;
  font-style:italic;
}

.family-list li.income-request{
  background-color:#fbfbfb;
}

.family-list li.income-request .fa-container{
  margin-bottom:0px;
  min-height:240px;
  line-height:1.8;
}

.fa-admin .fa-main-bx{
  border-color:#fdc065;
}

.fa-admin .fa-footer-bx{
  background-color:#fdc065;
}

.fa-admin .dots{
  text-shadow:1px 2px 3px #fdc065, 0 0 0 #c0c0c0, 1px 2px 3px #fdc065;
  border-left:1px solid #fdc065;
  border-top:1px solid #fdc065;
}

h2.family-name small{
  display:block;
  margin-left:0;
}

.footerNote{
  margin-top:20px;
}

.footerNote:before{
  content:"\e608";
  font-size:18px;
  display:inline-block;
  vertical-align:bottom;
  margin-right:5px;
}
/* line label */
.line-label{ text-align:center; background:url("/assets/line-txt-dot.gif") repeat-x center center; margin-top:5px; margin-bottom:5px; }
.line-label span{ text-transform:uppercase; background-color:#f2e8dc; display:inline-block; font-size:12px; font-weight:bold; color:#c2b4a3; padding:0 8px; }
.born-box{
  text-align:center;
}
.born-box h2{ font-weight:normal; }
.born-box:before{
  display:inline-block;
  font-size:65px;
  margin-bottom:10px;
  color:#179741;
}
/* timeline list */
.timeline-list{
  margin-left:38px;
}
.timeline-list a{
  display:block;
  border-bottom:1px solid #e7d8c6;
  text-decoration:none;
  padding:10px 0;
  color:#a3886a;
  font-size:13px;
  font-weight:bold;
  text-shadow:1px 1px 2px #FFF;
  position:relative;
}
.timeline-list a.active:before{
  content:" ";
  display:block;
  position:absolute;
  width:10px;
  height:10px;
  background-color:#0d7e36;
  border:7px solid #ffffff;
  border-radius:50%;
  left:-38px;
  top:5px;
}
.timeline-list a.active:first-child:before{
  top:-3px;
}
.timeline-list a:first-child{
  padding-top:0px;
}
.timeline-list a:last-child{
  padding-bottom:0px;
  border:0px;
}
.timeline-list a:hover{
  color:#000000;
}
.timline-sorting{
  position:relative;
}
.timeline-hoder{
  width:10px;
  background-color:#e4d7c8;
  position:absolute;
  border-radius:10px;
  margin-left:7px;
}
.timeline-list a.active{
  color:#000000;
}
.full-img{
  width:100%;
  height:auto;
}

/* image gallery css */
.img-gallery a img{
  width:100%;
  height:100%;
}
.img-gallery a.img-type1{
  float:left;
  display:block;
  width:58%;
  margin-right:10px;
  height:323px;
  padding-top: 5px;
}
.img-gallery a.img-type2{
  display:block;
  float:left;
  width:40%;
  height:156px;
  padding-top: 5px;
}
.img-gallery a.img-type3{
  display:block;
  float:left;
  width:40%;
  height:156px;
  margin-top:10px;
}
/* popup css */
.popupWrapper{ display:none; padding:15px; border-radius:5px; box-shadow:0px 0px 8px rgba(0, 0, 0, 0.5); display:none;}
.pop-close{ position:absolute; right:15px; top:15px; color:transparent; display:block; height:16px; width:16px; z-index:1; }
.pop-close:before{ content:"\f00d"; position:absolute; left:0; top:0; color:#CCC; display:block; font-size:23px; line-height:16px; }

/* custom select */
label.custom-select select{
  -moz-appearance:none;
  background:none repeat scroll 0 0 transparent;
  border:1px solid #EEEEEE;
  border-radius:5px 5px 5px 5px;
  color:#888888;
  cursor:pointer;
  display:inline-block;
  font-family:'Ubuntu', sans-serif;
  font-size:13px !important;
  margin:0;
  outline:medium none;
  padding:8px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0){
  label.custom-select select{ padding-right:18px }
}

label.custom-select{ position:relative }
label.custom-select:after{
  content:'\f107';
  font-family:icomoon;
  font-size:23px;
  font-weight:normal;
  vertical-align:middle;
  color:#aaa;
  right: 10px;
  top: -8px;
  padding:0 0 2px;
  position:absolute;
  pointer-events:none;
}
label.custom-select:before{
  content:'';
  right: 1px;
  top: -10px;
  width: 25px;
  height: 32px;
  background: #FFF;
  position: absolute;
  pointer-events: none;
  display: block;
  border-radius: 0 5px 5px 0;
}
/* list types */
.list-type-1:after{
  content:" ";
  display:block;
  clear:both;
}
.list-type-1 li{
  float:left;
  width:30%;
  margin-right:5%;
  margin-bottom:2%;
}
.list-type-1 li:nth-child(3n){
  margin-right:0px;
}
.list-type-1 .fa-main-bx{
  padding:20px;
  text-align:center;
  height:auto !important;
}
.list-type-1 .fa-avatar img{
  position:relative;
  width:100%;
  height:100%;
}
.list-type-1 .avatar-box2{
  margin:8px auto;
}
.list-type-1 .fa-avatar:before{
  width:100px;
  height:100px;
  line-height:100px;
}
.list-type-1 small{
  font-size:12px;
}
.list-type-1 small span{
  color:#a2a2a2;
}
/* for immunisation job */
.list-type-2{
  margin-bottom:15px;
  margin-top: 10px;
}
.list-type-2 li{
  padding:5px;
  border-bottom:1px solid #e6e6e6;
}
.list-type-2 li:hover{
  background-color:#fef6e8;
}
.list-type-2 li:after{
  content:'';
  display:block;
  clear:both;
}
.list-type-3 li{
  display:inline-block;
  border:0px;
}
.list-type-3 li a{
  text-decoration:none;
  display:inline-block;
  padding-left:3px;
  font-size:18px;
  width:18px;
  height:17px;
  vertical-align:top;
  line-height:1;
}
.list-type-3 li.action-immunisation{
  display:none;
}
.list-type-2 li:hover .list-type-3 li.action-immunisation{
  display:inline-block;
}
.list-type-3{
  list-style:none;
}
.list-type-3 li{
  margin-right:0px;
  font-weight:500;
  font-size:13px;
  border-left:0px solid #ccc;
  padding-left:5px;
}
.list-type-3 li:first-child{
  padding-left:0;
  border-left:0;
}
.list-type-3 i{
  font-size:25px;
  vertical-align:middle;
  margin-right:5px;
  font-weight:normal;
}
.list-type-3 li.active{
  color:#05983c;
}

.list-type-4{
  margin-bottom:30px;
}
.list-type-4:after{
  content:'';
  display:block;
  clear:both;
}
.list-type-4 li{
  width:13.95280235988201%;
  border-left:1px solid #e6e6e6;
  display:block;
  float:left;
  padding:0 16px;
  text-align:center;
}
.list-type-4 li:hover i{
  color:#fdc065 !important;
}
.list-type-4 li i{
  color:#0d7e36;
  font-size:50px;
  line-height:1;
  cursor:pointer;
}
.list-type-4 li:first-child{
  width:14.10029498525074%;
  border-left:0px;
}
/* for milstone check list */
.list-type-9 li,.list-type-9a li{
  width:27.13864306784661%;
  padding:11px;
  float:left;
  border:1px solid #ebebeb;
  border-radius:5px;
  margin-right:15px;
  margin-bottom:15px;
  box-shadow:3px 3px 0px rgba(0,0,0,0.1);
  position:relative;
  background-color:#FFFFFF;
}
.list-type-5 li, .list-type-7 li{
  width:44.55017301038062%;
  padding:11px;
  float:left;
  border:1px solid #ebebeb;
  border-radius:5px;
  margin-right:15px;
  margin-bottom:15px;
  box-shadow:3px 3px 0px rgba(0,0,0,0.1);
  position:relative;
  background-color:#FFFFFF;
}


.list-type-9a li .btn {
  width: 100%;
  padding: 7px 0px !important;
}
.list-type-5 li{
  min-height: 150px;
}
.list-type-5 li .page-title-5{
  margin-right:20px;
}
.list-type-5 li:nth-child(2n), .list-type-7 li:nth-child(2n),.list-type-9 li:nth-child(3n),.list-type-9a li:nth-child(3n){
  margin-right:0px;
}
.list-type-5 li .list-action, .list-type-7 li .list-action{
  position:absolute;
  right:0px;
  top:12px;
}
.list-type-5 li .action-panel, .list-type-7 li .action-panel-2{
  position:absolute;
  padding:10px;
  background-color:#f6f6f6;
  border-top:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea;
  width:92.84436493738819%;
  left:0;
  bottom:0;
  display:none;
}
.list-type-5 li .action-panel a{
  text-decoration:none;
  color:#086c2a;
  font-size:13px;
}
.list-type-7 li{
  height:180px;
}
.list-type-7 li .action-panel-2{
  display:block;
  border-radius:0 0 5px 5px;
  min-height:19px;
}
.list-type-7 li .action-panel-2 a{
  text-decoration:none;
}
.sub-panel{
  display:none;
}
.list-type-7 li:hover .sub-panel{
  display:block;
}
.list-type-7 li .action-panel-2 .sub-panel a{
  font-size:18px;
  display:inline-block;
  width:18px;
  height:18px;
  position:relative;
  vertical-align:middle;
}
.list-type-7 li .action-panel-2 .sub-panel a:before{
  position:absolute;
  left:0;
  top:0;
  display:block;
  width:18px;
  height:18px;
  text-align:center;
}
/**/
.list-type-6{
  border:3px solid #FFFFFF;
  background-color:#FFFFFF;
}
.list-type-6 li{
  border:1px solid #ededed;
  border-bottom-width:4px;
  background-color:#f6f6f6;
  padding:8px 28px 8px 8px;
  font-size:14px;
  position:relative;
  cursor:pointer;
  margin-bottom:2px;
  word-break: break-word;
}
.list-type-6 li small{
  color:#a2a2a2;
  font-size:12px;
}
.list-type-6 li:after{
  content:'\e60b';
  font-size:20px;
  position:absolute;
  right:0;
  top:15px;
  color:rgba(230,230,230,.5);
  text-shadow:1px 2px 3px #f6f6f6, 0 0 0 #c0c0c0, 1px 2px 3px #f6f6f6;
}
.list-type-6 li.list-head{
  padding:8px;
  color:#a2a2a2;
  border:none;
  background-color:transparent;
}
.list-type-6 li.list-head:after{
  content:"";
}
.list-type-8{
  margin-bottom:10px;
}
.list-type-8 li{
  border-bottom:1px solid #d6c8b6;
  padding:10px 0;
}
.list-type-8 li:first-child{
  padding-top:0px;
}
.list-type-9 li{
  height:180px;
  overflow:hidden;
  cursor:pointer;
}
.list-type-9 li.card img{
  margin:-11px;
  width:100%;
  height:100%;
  position:absolute;
}
.list-type-9 li .singleBx-type12{
  width:100%;
  margin-bottom:0px;
}
.list-type-9a li{
  height:240px;
  text-align:center;
  position:relative;
}

.list-type-9a li i{
  font-size:80px;
  line-height:80px;
  width:80px;
  height:80px;
  margin-bottom:8px;
  display:inline-block;
  position:relative;
  color:#006926;
}
.list-type-9b{
  margin-top:15px;
  margin-bottom:8px;
}
.list-type-9b li{
  height:90px;
}
.list-type-9b li i{
  font-size: 60px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  margin-top:8px;
}
.list-type-9a li i:before{
  line-height:1;
  position:absolute;
  top:0;
  left:0;
  margin-right:0;
}
.list-type-9a li .btn{
  width:100% !important;
}
.list-type-9a li a.txt-link{
  display:inline-block;
}
.list-type-9a li p{
  margin-bottom:8px;
}
.list-type-9a li .img-track{
  border-radius:5px;
  width:100%;
  height:auto;
  margin:8px 0;
}
.list-type-9b-addon{
  margin-left:0px;
}
.list-type-9b-addon li{
  width:20.13864306784661%;
}
.list-type-10{
  border:1px solid #ededed;
}
.list-type-10 li{
  border-top:1px solid #ededed;
  padding:8px;
}
.list-type-10 li .btn{
  padding-right:0px !important;
  padding-left:0px !important;
}
.list-type-10 li:after{
  content:'';
  display:block;
  clear:both;
}
.list-type-10 li:first-child{
  border-top:0px;
  background-color:#f6f6f6;
}
.list-type-10 li.line{
  height:1px;
  padding:0px;
  margin:0px;
  background-color:#ededed;
}
.list-type-11{
  margin-right:10px;
}
.list-type-11 li{
  width:23%;
  padding:1%;
  display:block;
  float:left;
  position:relative;
}
.list-type-11 li .icon-times{
  position:absolute;
  right:8px;
  top:8px;
  text-decoration:none;
  font-size:20px;
  color:#F00;
  display:none;
}
.list-type-11 li:hover .icon-times{
  display:block;
}
.list-type-11 li img{
  width:100%;
  height:130px;
  border-radius:5px;
  border:1px solid #fff;
  box-shadow:1px 2px 3px rgba(0,0,0,0.3);
}
.list-type-12 li{
  width:23.6340206185567%;
  margin-right:15px;
  margin-bottom:15px;
  float:left;
  border-radius:5px;
  overflow:hidden;
  border:1px solid #eaeaea;
  box-shadow:1px 3px 0 2px #f5f5f5;
  position:relative;
  cursor:pointer;
}
.list-type-12 li:nth-child(4n){
  margin-right:0px;
}
.list-type-12 li img{
  width:100%;
  height:100%;
  margin-bottom:-5px;
}
.list-type-12 li:hover .album-desc{
  border:5px solid rgba(0,0,0,0.5);
  border-radius:5px;
  position:absolute;
  z-index:5;
  height:95.63794983642312%;
  width:95.63794983642312%;
  top:0;
}
.list-type-12 li .album-desc > .data-holder{
  position:absolute;
  bottom:0;
  width:88%;
  padding:3% 6%;
  background-color:rgba(0,0,0,0.5);
  color:#ffffff;
  font-size:11px;
}
.list-type-12 li:hover .album-desc > .data-holder{
  width:92%;
  padding:3% 4% 1%;
}
.list-type-12 li .album-desc > .data-holder a{
  color:#ffc15e;
  font-size:12px;
  text-decoration:none;
}
.list-type-12 li .album-desc > .data-holder a:before{
  font-size:15px;
  vertical-align:middle;
}
.list-type-12 li .album-desc > .data-holder p{
  margin-bottom:0;
}
.list-type-12 li .album-desc > .data-holder h2{
  color:#FFF;
  font-size:13px;
}
.list-type-13 li{
  width:40%;
  float:left;
  margin: 10px 0;
}
.list-type-13 li i{
  font-size: 35px;
  color: #838383;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 0.5;
  height: 35px;
  width: 35px;
  display: inline-block;
}
.list-type-13 li .page-title-5{
  display:inline-block;
}
/* media upload */
.media-upload{
  width:500;
  height:350px;
  border:2px solid #eeeeee;
  background-color:#ffffff;
  border-radius:5px;
  padding:5px;
  overflow:auto;
}

/* gallery css */
.gallery-img{
  float:left;
  width:60%;
  margin-bottom:-3px;
}
.gallery-img img{
  width:100%;
}
.gallery-description{
  float:left;
  width:36%;
  padding:5% 2%;
}
.gallery-description p{
  line-height:1.4;
  margin-bottom:15px;
}
.milestone-gallery .bx-wrapper .bx-next {
  right: 5px;
  color: #252525;
}
.milestone-gallery .gallery-img {
  width: 100%;
  color: #252525;
}
/* custom checkbox */
input[type="checkbox"].custom-checkbox-1{
  position:absolute;
  display:none;
}
input[type="checkbox"].custom-checkbox-1 + label{
  display:inline-block;
  width:20px;
  height:20px;
  position:relative;
  vertical-align:top;
  margin-right:10px;
}
input[type="checkbox"].custom-checkbox-1 + label:before{
  content:"\e616";
  font-size:24px;
  line-height:20px;
  display:block;
  width:20px;
  height:20px;
  position:absolute;
  top:0;
  left:0;
  color:#05983c;
  cursor:pointer;
}
input[type="checkbox"].custom-checkbox-1:checked + label:before{
  content:"\e615";
}
/**/
input[type="checkbox"].custom-checkbox-2{
  position:absolute;
  display:none;
}
input[type="checkbox"].custom-checkbox-2 + label{
  display:inline-block;
  width:20px;
  height:20px;
  position:relative;
  vertical-align:top;
  margin-right:8px;
}
input[type="checkbox"].custom-checkbox-2 + label:before{
  content:"\e614";
  font-size:24px;
  line-height:20px;
  display:block;
  width:20px;
  height:20px;
  position:absolute;
  top:0;
  left:0;
  color:#cfcfcf;
  cursor:pointer;
}
input[type="checkbox"].custom-checkbox-2:checked + label:before{
  content:"\e613";
  color:#05983c;
}
/**/
input[type="checkbox"].custom-checkbox-3,input[type="checkbox"].custom-checkbox-4{
  position:absolute;
  display:none;
}
input[type="checkbox"].custom-checkbox-3 + label{
  display:inline-block;
  border:1px solid #ededed;
  padding:8px 15px;
  font-size:13px;
  position:relative;
  vertical-align:top;
  margin-right:10px;
  cursor:pointer;
}
input[type="checkbox"].custom-checkbox-3 + label .user-avatar{
  width:40px;
  height:40px;
  display:block;
  margin:0 auto 5px;
  border:1px solid #FFF;
  box-shadow:1px 2px 2px rgba(0,0,0,0.3);
}
input[type="checkbox"].custom-checkbox-3 + label .user-avatar:before{
  width:36px;
  height:36px;
  line-height:36px;
  font-size:18px;
  display:block;
}
input[type="checkbox"].custom-checkbox-3 + label img{
  width:100%;
  height:100%;
}
input[type="checkbox"].custom-checkbox-3:checked + label{
  border-color:#fac266;
}
input[type="checkbox"].custom-checkbox-4 + label{
  position:relative;
  width:25px;
  height:25px;
  margin-right:7px;
  cursor:pointer;
}
input[type="checkbox"].custom-checkbox-4 + label:before{
  content:'\e635';
  display:block;
  position:absolute;
  left:0;
  top:0;
  color:#989898;
  font-size:20px;
}
input[type="checkbox"].custom-checkbox-4 + label:after{
  content:'\e61f';
  display:block;
  position:absolute;
  width:16px;
  height:16px;
  background-color:#fff;
  border-radius:50%;
  right:0;
  bottom:0;
  color:#989898;
  font-size:13px;
  text-align:center;
  line-height:16px;
  margin-right:0px;
}
input[type="checkbox"].custom-checkbox-4:checked + label:after{
  content:'\e613';
  color:#0d7e36;
  font-size:14px;
}
/* data table css */
.table-type1 th,.table-type2 th{
  text-align:left;
  color:#a2a2a2;
  font-size:13px;
  padding:10px;
  font-weight:normal;
}
.table-type1 td,.table-type2-data td{
  font-size:15px;
  padding:10px 0;
  border-bottom:1px solid #e6e6e6;
}
.table-type1 td,.table-type1 th{
  padding:10px;
}
.table-type2-data{
  width:100%;
}
.table-type2-data td{
  padding:10px;
}
.table-type3{
  padding-bottom:0px;
}
.table-type3 div.dataTables_scrollHead{
  margin: -15px -15px 0;
  padding: 10px 15px;
  border-radius:5px 5px 0 0;
  color: #a2a2a2;
}
.table-type3 table.dataTable tbody td{
  text-align:left;
  padding:5px 22px;
}
.table-type3 table.dataTable tbody tr:hover td{
  background-color:#fef6e8;
}
.table-type3 table.dataTable tbody tr td:last-child{
  text-align:right;
}
.table-type3 table.dataTable tbody tr td:last-child .actionBar{
  display:none;
  float:right;
}
.table-type3 table.dataTable tbody tr td:last-child .actionBar a{
  text-decoration:none;
  font-size:18px;
  display:inline-block;
  line-height:1.2;
  width: 18px;
  height: 18px;
}
.table-type3 table.dataTable tbody tr:hover td:last-child .actionBar{
  display:inline;
}
.table-type3 table.dataTable tbody tr:last-child td{
  border:0px;
  border-radius: 0 0 5px 5px;
}
.table-type3 td i{
  font-size:18px;
}
.table-type3 td.dataTables_empty{
  background-color:#FFF;
  text-align:center !important;
}
.table-type3 .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{
  margin:0 -15px;
  width:auto !important;
  height:auto !important;
}
div.dataTables_scrollBody{

}
.scroll-type1{
  width:600px;
  height:296px;
  overflow:auto;
}
.scroll-type2{
  width:100%;
  height:225px;
  overflow:auto;
}
.scroll-type3{
  width:100%;
  height:445px;
  overflow:auto;
}
.scroll-type4{
  width:100%;
  height:400px;
  overflow:auto;
}
.scroll-type4 .mCSB_inside > .mCSB_container{
  margin-right:20px;
}
.scroll-type5{
  width:100%;
  max-height:300px;
  overflow:auto;
}
.scroll-type5 .mCSB_scrollTools{
  opacity:1;
  z-index:9;
}
.scroll-type5 .mCSB_inside > .mCSB_container{
  z-index:0;
}
/* tab lists */
.tab-list-type1,.tab-list-type2{
  list-style:none;
  border:1px solid #e6e6e6;
  border-radius:30px;
  box-shadow:0px 0px 0px 3px #f5f5f5;
  margin-bottom:15px;
}
.tab-list-type1{
  display:inline-block;
  margin-left:45px;
}
.tab-list-type1:after,.tab-list-type2:after,.tab-list-type4:after{
  content:'';
  display:block;
  clear:both;
}
.tab-list-type1 li,.tab-list-type2 li a{
  display:block;
  float:left;
  font-size:12px;
  padding:10px 17px;
  border-left:1px solid #e6e6e6;
  background-color:#FFF;
  text-align:center;
  cursor:pointer;
}
.tab-list-type1 li.active,.tab-list-type2 li.active a{
  background-color:#fdc065;
  cursor:default;
}
.tab-list-type1 li:first-child,.tab-list-type2 li:first-child a{
  border-radius:30px 0 0 30px;
  border-left:0px;
}
.tab-list-type1 li:last-child,.tab-list-type2 li:last-child a{
  border-radius: 0 30px 30px 0;
  padding:10px 31px;
}

/* tab2*/
.tab-list-type2 li a{
  width:9.826989619377163%;
  padding: 10px 0;
  text-decoration:none;
}
.tab-list-type2 li:last-child a,.tab-list-type2 li:first-child a{
  padding:10px 0;
}
.tab-list-type2 li:first-child a{
  padding:10px 0;
}
.tab-list-type2 li a{
  text-decoration: none;
}
/* tab2*/
.tab-list-type3{
  border-radius:5px;
  margin-bottom:15px;
  list-style:none;
}
.tab-list-type3 li a{
  display:block;
  float:left;
  padding: 9px 29px;
  text-align: center;
  font-size: 13px;
  border: 1px solid #eaeaea;
  color:#c0c0c0;
  cursor:pointer;
  text-decoration:none;
}
.tab-list-type3 li:first-child a{
  border-radius: 5px 0 0 5px;
}
.tab-list-type3 li:last-child a{
  padding:9px 32px;
  border-radius: 0 5px 5px 0;
}
.tab-list-type3 li a i{
  display:inline-block;
  font-size:40px;
  line-height:1;
}
.tab-list-type3 li a p{
  margin-bottom:0px;
}
.tab-list-type3 li.active a{
  border-color:#ffc15e;
  color:#252525;
}
.tab-list-type3 li.active a i{
  color:#ffc15e;
}
.tab-list-type4{
  list-style:none;
  border:1px solid #e6e6e6;
  border-radius:30px;
  box-shadow:0px 0px 0px 3px #f5f5f5;
  margin:30px 140px;
}
.tab-list-type4 li{
  float:left;
  width:24.85507246376812%;
  text-align:center;
  font-size:15px;
  padding:10px 0;
  border-right:1px solid #e6e6e6;
  cursor:pointer;
}
.tab-list-type4 li:last-child{
  width:25%;
  border:0px;
  border-radius:0 50px 50px 0;
}
.tab-list-type4 li:first-child{
  border-radius:50px 0 0 50px;
}
.tab-list-type4 li.active{
  background-color:#ffc15e;
}

/* sub titles */
.chartBox{
  height:200px;
}
/* slider type */
.slider-type-1.ui-slider-horizontal{
  background-color:#e8e8e8;
  width:97.3%;
  border-radius:8px;
  box-shadow:inset 1px 1px 3px rgba(0,0,0,.2);
  margin-bottom:15px;
}
.slider-type-1.ui-slider-horizontal .ui-slider-range-min{
  border-radius:8px;
  background-color:#e09930;
  box-shadow:inset 1px 1px 3px rgba(0,0,0,.2);
}
.slider-type-1.ui-slider-horizontal .ui-slider-handle{
  background-color:#fcfcfc;
  cursor:pointer !important;
  border:1px solid #dcdcdc;
  border-radius:3px;
  width: 25px !important;
  height: 25px !important;
  top: -.6em !important;
  color:#d5922e;
  box-shadow:0 0 3px rgba(0,0,0,0.2);
}
.slider-type-1.ui-slider-horizontal .ui-slider-handle:before{
  content:"|||";
  text-align:center;
  width: 25px !important;
  height: 25px !important;
  line-height:25px;
  display:block;
  font-size:14px;
}
/* slider disable */
.slider-type-1.ui-slider.ui-state-disabled .ui-slider-range-min{
  background-color:#cccccc;
}
.slider-type-1.ui-slider.ui-state-disabled .ui-slider-handle{
  color:#cccccc;
}
/* image icon */
.img-icon-type1{
  width:30px;
  height:30px;
  border-radius:30px;
  vertical-align:middle;
  margin-right:8px;
}
.hr{
  border-top:1px solid #d5d5d5;
  color:#d5d5d5;
  margin:15px 0;
}

/* developer addition */
.datefield{
  width: 65px;
  z-index: 0;
  background: none;
  border: none;
  margin-top: 3px;
}
#no_family{
  background: white;
  width: 800px;
  height: 50px;
  text-align: center;
  padding: 100px;
}
.border-red{
  border-color: red;
}
.error{
  color: red;
}
.no-border{
  border: none;
}
.js-doc-file{
  border: 1px solid;
  height: 100px;
  border-radius: 8px;
  padding: 8px;
  word-wrap: break-word;
}
.text-green{
  color: green;
}
.text-orange{
  color: #e09930;
}
.js-profile-pic.txt-link:hover{
  cursor: pointer;
}
.js-trigger-pop{
  display: none;
}
.width_200px{
  width: 200px;
}
.fb-img-size{
  /*width: 472px;*/
  /*height: 394px;*/
  width: 486px;
  height: 323px;
  padding-top: 5px;  
}
.word-break{
  word-break: break-word;
}
.hide{
  display: none;
}  
.mg-lt-btm-10{
  margin-left: 10px;
  margin-bottom: 10px;
}
.fb_status_txtarea{
  width: 95%;
}
/* -------------- */
.img-center{
  margin:0 auto 10px;
  text-align:center;
}
.img-responsive{
  width:100%;
  margin-bottom:-5px;
}
.envelope-box{
  border:1px solid #ffc15e;
  border-radius:5px;
  padding: 0px 7px 0px 55px;
  font-size:14px;
  line-height:1.2;
  position:relative;
  margin:10px 0;
  height:48px;
  cursor:pointer;
}
.envelope-box span{
  display:inline-block;
  padding-top:7px;
}
.envelope-box:before{
  display:block;
  content:'\f0e0';
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 12px 10px;
  font-size: 24px;
  background-color: #ffc15e;
  border-radius: 5px;
  color:#FFF;
}
.avatar-type1{
  float:left;
  width:31%;
}
.avatar-type1 img{
  width:35px;
  height:auto;
  border:2px solid #FFF;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
  border-radius:35px;
}
.avatar-type1-desc{
  float:left;
  width:69%;
}
.empty-msg-1{
  color:#a9a9a9;
  text-align:center;
}
.empty-msg-1:before{
  content:'\e61e';
  font-size:90px;
  margin-bottom:15px;
  display:inline-block;
}
/* accordion */
.accordion-type1{
  margin-top:10px;
}
.accordion-type1 li{
  border:1px solid #ededed;
  margin-bottom:2px;
  -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
  transition: all 1s;
}
.accordion-type1 li .acc-main{
  padding:10px 10px 10px 60px;
  position:relative;
  cursor:pointer;
  -webkit-transition: all 1s; /* Safari 3.1 to 6.0 */
  transition: all 1s;
}
.accordion-type1 li .acc-main:before{
  font-size:40px;
  color:#a9a9a9;
  position:absolute;
  left:10px;
}
.accordion-type1 li:hover .acc-main:before{
  color:#038b35;
}
.accordion-type1 li .acc-content{
  padding:10px;
}
.collapse:after{
  content:'\f054';
  position:absolute;
  right:15px;
  font-size:15px;
  top:40%;
  color:#d6d6d6;
}
.accordion-type1 li.active{
  border-color:#fac266;
}
.accordion-type1 li.active > .acc-main:before{
  color:#038b35;
}
.accordion-type1 li.active > .acc-main:after{
  content:'\f078';
  color:#d79a3e;
}
.accordion-type1 li.active > .acc-main{
  background-color:#fac266;
}
button i{
  font-size:14px;
}
.no-album,.no-documents{
  font-size:150px;
  color:#b0b0b0;
  line-height:1;
  margin-bottom:30px;
  display:block;
}
.no-documents{
  font-size:100px !important;
}
.serarch-box{
  display:inline-block;
  border:3px solid #f5f5f5;
  border-radius:50px;
  padding:5px 5px 5px 10px;
}
.serarch-box input{
  border:0px;
  width: 148px;
}
.serarch-box i{
  font-size:14px;
  vertical-align:middle;
  line-height:1;
  height:17px;
  display:inline-block;
  color:#545454;
}
.titleBar-type3 .actionBar{
  float:right;
}
.titleBar-type3 .actionBar a{
  margin:0 10px;
  vertical-align:middle;
  font-size:13px;
  font-weight:500;
}
.titleBar-type3 .actionBar a:last-child{
  margin-right:0px;
}
.titleBar-type3 .actionBar a:before{
  vertical-align:middle;
}
.titleBar-type4{
  background-color:#f6d29a;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 5px 0 0 5px;
  width: 62px;
}
.titleBar-type4 i{
  position:relative;
  display:block;
  height:100%;
  text-align:center;
}
.titleBar-type4 i:before{
  display: block;
  width: 36px;
  height: 36px;
  font-size: 36px;
  line-height: 0.9;
  margin: 0px;
  color: #d59f4c;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left:-18px;
  margin-top:-18px;
}
.from-album{
  position:absolute;
  bottom:10px;
}
.from-album img{
  width:47px;
}
[class*='icon-vaccine'] small{
  color:#646464;
  font-size:14px !important;
}
.profile-img-holder{
  position:relative;
  border:1px dashed #eeeeee;
  width:115px;
  height:115px;
  margin-bottom:10px;
}
.profile-img-holder img{
  position:relative;
  z-index:1;
  width:100%;
}
.profile-img-holder:before{
  font-size:50px;
  width:100px;
  height:100px;
  text-align:center;
  display:block;
  line-height:100px;
  position:absolute;
  left:0;
  top:0;
}
.spaceAdd{
  margin-top:6px;
  margin-right:5px;
}
.table-action-row td{
  background-color:#fcfcfc;
  padding-left:8px;
  padding-right:8px;
}
.box-group-3 .box1{
  float:left;
  width:5%;
}
.box-group-3 .box2{
  float:left;
  width:11%;
}
.box-group-3 .box3{
  float:left;
  width:84%;
}

.badge-type1,.badge-type2,.badge-type3,.badge-type4{
  width:172px;
  margin-bottom: 105px;
  color: #bfa784;
  cursor:pointer;
}
.hex {
  margin-top: 60px;
  width: 172px;
  height: 99.30px;
  background: #ecdfcf;
  position: relative;
  z-index:1;
}
.hex:before, .hex:after {
  content:"";
  border-left: 86px solid transparent;
  border-right: 86px solid transparent;
  position: absolute;
}
.hex:before {
  top: -59px;
  border-bottom: 60px solid #ecdfcf;
}
.hex:after {
  bottom: -59px;
  border-top: 60px solid #ecdfcf;
}
.hex.inner,.badge-type2 .hex.inner,.badge-type3 .hex.inner,.badge-type4 .hex.inner {
  background-color:#FFF;
  -webkit-transform: scale(.9, .9);
  -moz-transform: scale(.9, .9);
  transform: scale(.9, .9);
  z-index:1;
}
.hex.inner:before,.badge-type2 .hex.inner:before,.badge-type3 .hex.inner:before,.badge-type4 .hex.inner:before {
  border-bottom: 60px solid #FFF;
}
.hex.inner:after,.badge-type2 .hex.inner:after,.badge-type3 .hex.inner:after,.badge-type4 .hex.inner:after {
  border-top: 60px solid #FFF;
}
.hex.inner2 {
  background-color:#f2e9dc;
  -webkit-transform: scale(.93, .93);
  -moz-transform: scale(.93, .93);
  transform: scale(.93, .93);
  z-index:2;
}
.hex.inner2:before {
  border-bottom: 60px solid #f2e9dc;
}
.hex.inner2:after {
  border-top: 60px solid #f2e9dc;
}
.hex .hex-top{
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  top: -26px;
  font-size: 17px;
}
.hex .hex-count{
  position: absolute;
  width: 110%;
  text-align: center;
  color: #FFF;
  border-bottom: 10px solid #ecdfcf;
  border-top: 10px solid #ecdfcf;
  left: -10px;
  right: -10px;
  height: 80.3px;
  z-index: 1;
  top: 0;
  background-color: #d5bd9b;
  line-height: 80.3px;
  font-size: 40px;
  font-weight: bold;
}
.hex .hex-bottom{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -26px;
  text-transform: uppercase;
  z-index: 1;
  font-size: 17px;
}
.ribin{
  width:120px;
  position:relative;
  margin:0 auto;
}
.ribin:after,.ribin:before{
  content: "";
  border: 55px solid transparent;
  border-bottom: 40px solid transparent;
  position: absolute;
}
.ribin:after{
  border-left: 86px solid #e4d5bf;
  left: 0;
}
.ribin:before{
  border-right: 86px solid #e4d5bf;
  right: 0;
}
/* badge 2 */
.badge-type2{
  color: #b2b2b2;
}
.badge-type2 .hex{
  background:#d2d2d2;
}
.badge-type2 .hex.inner2{
  background:#efefef;
}
.badge-type2 .hex:after{
  border-top-color:#d2d2d2;
}
.badge-type2 .hex:before{
  border-bottom-color:#d2d2d2;
}
.badge-type2 .hex .hex-count{
  border-bottom-color:#d2d2d2;
  border-top-color:#d2d2d2;
  background-color:#a8a8a8;
}
.badge-type2 .ribin:after{
  border-left-color:#ababab;
}
.badge-type2 .ribin:before{
  border-right-color:#ababab;
}
.badge-type2 .hex.inner2:before{
  border-bottom-color:#f1f1f1;
}
.badge-type2 .hex.inner2:after{
  border-top-color:#f1f1f1;
}
/* badge 3*/
.badge-type3{
  color: #c37e41;
}
.badge-type3 .hex{
  background:#d89d51;
}
.badge-type3 .hex.inner2{
  background:#e4b98b;
}
.badge-type3 .hex:after{
  border-top-color:#d89d51;
}
.badge-type3 .hex:before{
  border-bottom-color:#d89d51;
}
.badge-type3 .hex .hex-count{
  border-bottom-color:#d89d51;
  border-top-color:#d89d51;
  background-color:#c47e41;
}
.badge-type3 .ribin:after{
  border-left-color:#c47e41;
}
.badge-type3 .ribin:before{
  border-right-color:#c47e41;
}
.badge-type3 .hex.inner2:before{
  border-bottom-color:#e4b98b;
}
.badge-type3 .hex.inner2:after{
  border-top-color:#e4b98b;
}
/* badge 4*/
.badge-type4{
  color: #d8a821;
}
.badge-type4 .hex{
  background:#e9ca55;
}
.badge-type4 .hex.inner2{
  background:#f2e3a1;
}
.badge-type4 .hex:after{
  border-top-color:#e9ca55;
}
.badge-type4 .hex:before{
  border-bottom-color:#e9ca55;
}
.badge-type4 .hex .hex-count{
  border-bottom-color:#e9ca55;
  border-top-color:#e9ca55;
  background-color:#c4971c;
}
.badge-type4 .ribin:after{
  border-left-color:#d8a821;
}
.badge-type4 .ribin:before{
  border-right-color:#d8a821;
}
.badge-type4 .hex.inner2:before{
  border-bottom-color:#f2e3a1;
}
.badge-type4 .hex.inner2:after{
  border-top-color:#f2e3a1;
}

.badge-txt-1{
  font-size:23px !important;
}
.score-box .badge-type3,.score-box{
  position:relative;
}
.score-box .badge-type3{
  z-index:2;
}
.score-box .badge-info{
  position:absolute;
  top:0px;
  width:65%;
  height:100px;
  margin-left:25px;
  padding-left:170px;
  text-align:center;
}
.badge-count{
  font-size:35px;
  display:inline-block;
}
.badge-count small{
  font-size:20px;
}
.badge-table td,.badge-table th{
  font-size:14px !important;
}
.form-type4 .form-label{
  display:inline-block;
  font-size: 13px;
  color:#999;
  width:20%;
  vertical-align:top;
}
.form-type4 .form-control{
  display:inline-block;
  font-size: 13px;
  color:#252525;
  width:79%;
}
.form-type4 .form-row{
  min-height:28px;
}
.form-type4 .form-row a{
  display:none;
}
.form-type4 .form-row:hover{
  background-color:#fef6e8;
}
.form-type4 .form-row:hover a{
  display:inline-block;
}
.form-type4 .form-row:after{
  content:" ";
  display:block;
  clear:both;
}
.form-type4 > .form-row{
  padding:8px;
}
#showPass input{
  margin-bottom:8px;
}
.hr-solid{
  border-top:1px solid #eeeeee;
}
.timeline-icon{
  position:relative;
  padding-left:40px;
}
.timeline-icon:before{
  display:block;
  border-radius:50%;
  width:35px;
  height:35px;
  font-size:34px;
  position:absolute;
  left:0;
  top:0;
  margin-right:0px;
  color:#cccccc;
}
.no-entry{
 text-align:center;
  padding:15px;
}
.no-entry i{
  font-size:60px;
  margin-bottom:8px;
  display:inline-block;
  color:#ddd;
  line-height:1;
}
.dataTables_empty{
  text-align:left !important;
  padding:10px 15px 0px !important;
  border-bottom:0px !important;
}
.dataTables_empty:hover{
  background-color:transparent !important;
}
.data-error{
  text-align:center;
}
.data-error i{
  color:#ddd;
  display:block;
  font-size:30px;
}
.box-action{
  position:absolute;
  bottom:10px;
  width:88%;
}
.profile-upload-img{
  width:500px;
  height:400px;
  overflow:hidden;
  position:relative;
}
.profile-upload-img:before{
  font-size: 200px;
  position: absolute;
  width: 500px;
  height: 400px;
  text-align: center;
  line-height: 400px;
  color: #f1f1f1;
  z-index:0;
}
.profile-upload-img:after{
  content: 'Upload new profile image';
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 60px;
  font-size: 18px;
  font-family: arial;
  color: #f1f1f1;
  z-index: -1;
}
.page-up{
  background-color:#fef6e8;
  width:30px;
  height:30px;
  position:fixed;
  bottom:15px;
  right:15px;
  top:inherit;
  display: block;
  z-index: 9;
  text-align: center;
  line-height: 30px;
  font-size:20px;
  border-radius: 8px;
  color: #FFF;
  text-decoration:none;
  display:none;
}
.page-up:before{
  color:#252525;
  width:30px;
  height:30px;
  position:absolute;
  left:0;
  top:0;
  line-height:30px;
  font-size:16px;
}
.cover-img .drop-over{
  display:none;
}
.cover-img:hover .drop-over{
  display:block;
}
.cover-img .drop-over .dots {
  text-shadow: 1px 2px 3px transparent, 0 0 0 #000, 1px 2px 3px transparent;
}
.discla-txt{
  padding:10px;
  padding-top:0px;
}
.discla-txt p{
  margin-bottom:8px;
}
.discla-txt p:last-child{
  margin-bottom:0;
}
.list-type-9 .user-avatar{
  float: left;
  width: 35px;
  height: 35px;
  border: 2px solid #FFF;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  margin-right:8px;
}
.list-type-9 .user-avatar:before{
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border:0px;
}
.thumb-view .thumb-img{
  width:100px;
  height:100px;
  margin-left:20px;
  float:left;
  position:relative;
}
.thumb-view .thumb-img a{ position:absolute; right:0px; top:0px; font-size:25px; color:#FF0000; display:none;}
.thumb-view .thumb-img:first-child{
  margin-left:0px;
}
.thumb-view .thumb-img:hover a{ display:block;}
.thumb-view .thumb-img img{
  width:100%;
  height:100%;
  border:2px solid #FFF;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}
.legend-list{
  text-align:right;
  padding-top:8px;
}
.legend-list div{
  display:inline-block;
  margin-right:15px;
}
.legend-1:before,.legend-2:before,.legend-3:before,.legend-4:before,.legend-5:before,.legend-6:before{
  display:inline-block;
  width:15px;
  height:10px;
  content:"";
  vertical-align:middle;
  margin-right:5px;
}
.legend-1:before{
  background-color:#fdc065;
}
.legend-6:before{
  background-color:rgb(251, 246, 217);
  /*border:1px solid #fdc065;*/
}
.legend-2:before{
  background-color:#e3e3e3;
}
.legend-3:before{
  background-color:#cccccc;
}
.legend-4:before{
  background-color:#b6b6b6;
}
.legend-5:before{
  background-color:#9a9a9a;
}
.pin-list li:before{
  content:'\e642';
  width:18px;
  height:18px;
  line-height:0.9;
  font-size:25px;
  -ms-transform: rotate(-30deg);  /*IE 9*/
  -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
  transform: rotate(-30deg);
  color:#9d6001;
  position:absolute;
  left:0;
}
.pin-list{
  margin-left:8px;
}
.pin-list li{
  padding:8px 0 8px 35px;
  font-size:16px;
  position:relative;
}
.info-icon{
  font-size:30px;
  color:#444444;
}
.logoBack{
  background:url('../images/water-logo.png') no-repeat right bottom;
}

.trigger-overlay{
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  position:fixed;
  z-index:9;
  left:0;
  top:0;
}
.manage-info-pop{
  top: 50px;
  position:absolute;
  border-radius:5px;
  background-color:#FFFFFF;
  width:250px;
  z-index:99;
  padding:10px;
  line-height:1.5;
  /*left:365px;*/
}
.left-info-pop{
  position:absolute;
  border-radius:5px;
  background-color:#FFFFFF;
  width:250px;
  z-index:999;
  padding:10px;
  line-height:1.5;
  top:157px;
}
.up-arrow{
  border:10px solid transparent;
  border-bottom:10px solid #FFF;
  border-top:0px;
  position:absolute;
  top:-10px;
  width:0px;
  height:0px;
}
.left-arrow{
  border:10px solid transparent;
  border-right:10px solid #FFF;
  border-left:0px;
  position:absolute;
  top:10px;
  left:-10px;
  width:0px;
  height:0px;
}

.first-box .widget-box-1{
  z-index:9990;
  position:relative;
}

.first-box .trigger-overlay{
  z-index:99;
}

.icon-fb-share{
  background:url("../assets/fb-share.png") no-repeat left top;
  width:108px;
  height:21px;
  display:block;
  position:absolute;
  right:0px;
  top:37px;
  cursor:pointer;
  z-index:1;
}
.singleBx-type5 p.title-action, .singleBx-type6 p.title-action{
  margin-bottom:0px;
}
.singleBx-type5 p.title-action a, .singleBx-type6 p.title-action a{
  color:#a2a2a2;
  font-size:15px;
  line-height:15px;
}
.avatar-box li.header-notification i {
  font-size: 24px;
  line-height: 0;
  color: rgba(0,0,0,0.5);
}
.avatar-box li.header-notification {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  cursor:pointer;
}
.avatar-box li.header-notification .note-count{
  background-color:#d9401c;
  color:#FFF;
  font-size:10px;
  border-radius:5px;
  padding:3px 5px;
  position:absolute;
  right:-10px;
  top:-5px;
}
.notification-view{
  position:absolute;
  background-color:#FFF;
  /*width:380px;*/
  width:300px;
  border-radius:8px;
  margin-top: 26px;
  margin-left:-20px;
  box-shadow:0px 0px 8px rgba(0,0,0,0.5);
  display: none;
}
.avatar-box li.header-notification.active i{
  color:#FFF;
}
.notification-view:before{
  content:"";
  width:0;
  height:0;
  border:15px solid transparent;
  border-bottom:15px solid #007f30;
  border-top:0px;
  display:inline-block;
  left: 17px;
  top: -15px;
  position:absolute;
}
.notification-head{
  background-color:#007f30;
  border-radius:8px 8px 0 0;
  padding:8px 10px;
  color:#FFF;
  text-transform:uppercase;
}
.notification-title{
  line-height:1.7;
}
.avatar-box li.header-notification .notification-setting{
  width:20px;
  height:20px;
}
.avatar-box li.header-notification .notification-setting i{
  color:#FFF;
  font-size:20px;
}
.notification-footer{
  background-color:#007f30;
  border-radius:0 0 8px 8px;
}
.notification-footer a{
  display:block;
  /* Commenting these 2 lines as not using 'view all' for now */
  /*width:50%;*/
  /*float:left;*/
  box-sizing:border-box;
  color:#FFF;
  text-transform:uppercase;
  text-decoration:none;
  padding:8px 10px;
  text-align:center;
  border-left:1px solid rgba(0, 0, 0, 0.2);

}
.notification-footer a:first-child{
  border-left:0px;
}
.list-type-14 li{
  border-bottom:1px solid #f5ecdb;
  padding:10px;
  display:block;
}
.list-type-14 li:after{
  content:"";
  display:block;
  clear:both;
}
.avatar-type2{
  width:40px;
  height:40px;
  overflow:hidden;
  border-radius:50%;
  float:left;
}
.notification-text{
  float:left;
  font-size:14px;
  margin-left:10px;
  line-height:1.4;
  color:#000;
  width: 75%;
}
.notification-icon{
  float:right;
  width:10px;
  height:10px;
  border-radius:50%;
  margin-top:5px;
  margin-right:10px;
}
.notification-icon.active{
  background-color:#f0ad4e;
}
.list-type-14 li .time-stamp{
  color:#989898;
}

.view-info:before{
  font-size:32px;
  position:absolute;
  color:#e3e3e3;
  left:8px;
}
.view-info{
  border-color:#f1f1f1;
  padding:8px 8px 8px 50px;
  position:relative;
  min-height:30px;
  color:#e3e3e3;
}