* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body {
    line-height: 1.2;
    font-size:12px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img{
    border: 0px;
}
/* reset property */
.reset-margin{
  margin:0 !important;
}
.no-margin-left{
  margin-left:0px !important;
}
.no-margin-right{
  margin-right:0px !important;
}
.no-margin-top{
  margin-top:0px !important;
}
.no-margin-bottom{
  margin-bottom:0px !important;
}
.reset-padding{
  padding:0 !important;
}
.reset-border{
  border:0 !important;
}
.no-padding-left{
  padding-left:0px !important;
}
.no-padding-right{
  padding-right:0px !important;
}
.no-padding-top{
  padding-top:0px !important;
}
.no-padding-bottom{
  padding-bottom:0px !important;
}
/* custom space */
.space-block{
  display:inline-block;
}
.space-bottom{
  margin-bottom:10px;
}
.space-bottom-1{
  margin-bottom:20px;
}
.space-top{
   margin-top:15px;
 }
.space-top-1{
  margin-top:20px;
}
.space-top-2{
   margin-top:10px;
 }
.space-left{
  margin-left:15px;
}
.space-right{
  margin-right:15px;
}
.space-right-section{
  margin-right:182px;
}

/* text property */
.brass{
  color:#e09930;
}

.hide-box{
  display:none;
}
.text-bold{
  font-weight:bold;
}
.text-inline{
  display:inline-block;
}
.text-normal{
  font-weight:normal;
}
.text-center{
  text-align:center;
}
.text-right{
  text-align:right !important;
}
.text-italic{
  font-style:italic;
}
.position-relative{
  position:relative;
}
.position-absolute{
  position:absolute;
}
.position-static{
  position:static;
}
/* text colors */
.txt-green{
  color:#038b35;
}
.txt-orange{
  color:#ffc15d;
}
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?xd817y');
  src:url('fonts/icomoon.eot?#iefixxd817y') format('embedded-opentype'),
  url('fonts/icomoon.woff?xd817y') format('woff'),
  url('fonts/icomoon.ttf?xd817y') format('truetype'),
  url('fonts/icomoon.svg?xd817y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,[class*=" icon-"]:before,[class^="icon-"]:after, [class*=" icon-"]:after,.list-box-type1 li:before,.fontIcon:before,.fontIcon:after,.born-link:after,.pop-close:before,.textBx-type3:after,.textBx-type3a:after,.dropzone .dz-default.dz-message:before,.bx-wrapper .bx-prev:before,.bx-wrapper .bx-next:before,input[type="checkbox"].custom-checkbox-1 + label:before,input[type="checkbox"].custom-checkbox-2 + label:before,.list-type-6 li:after,.user-avatar:before,.envelope-box:before,.page-title-9:before,.empty-msg-1:before,input[type="checkbox"].custom-checkbox-4 + label:before,input[type="checkbox"].custom-checkbox-4 + label:after,.pin-list li:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right:5px;
  vertical-align:middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info-circle:before {
  content: "\e644";
}

.icon-notification:before {
  content: "\e645";
}

.icon-cog:before {
  content: "\e643";
}
.icon-pin:before {
  content: "\e642";
}
.icon-linkedin-square:before {
  content: "\e640";
}
.icon-badge:before {
  content: "\e641";
}
.icon-user-child-girl:before {
  content: "\e63c" !important;
}
.icon-user-child-boy:before {
  content: "\e63d" !important;
}
.icon-user-male:before {
  content: "\e63e" !important;
}
.icon-user-female:before {
  content: "\e63f" !important;
}
.icon-health-big:before {
  content: "\e63b";
}
.icon-immunization:before {
  content: "\e638";
}
.icon-document-color:before {
  content: "\e63a";
}
.icon-image:before {
  content: "\e636";
}
.icon-picture:before {
  content: "\e637";
}
.icon-thumbs-up:before {
  content: "\e639";
}
.icon-star:before {
  content: "\e606";
}
.icon-vaccine-drop:before {
  content: "\e632";
}
.icon-vaccine-tab:before {
  content: "\e633";
}
.icon-vaccine-inj:before {
  content: "\e634";
}
.icon-jab-user:before {
  content: "\e635";
}
.icon-alert:before {
  content: "\e630";
}
.icon-bell:before {
  content: "\e631";
}
.icon-download-file:before {
  content: "\e62f";
}
.icon-gdrive:before {
  content: "\e62b";
}
.icon-upload-file:before {
  content: "\e62c";
}
.icon-pdf:before {
  content: "\e62d";
}
.icon-search:before {
  content: "\e62e";
}
.icon-photoalbum:before {
  content: "\e62a";
}
.icon-cherish:before {
  content: "\e627";
}
.icon-organise:before {
  content: "\e628";
}
.icon-peoplegroup-team:before {
  content: "\e629";
}
.icon-health:before {
  content: "\e622";
}
.icon-graduation:before {
  content: "\e623";
}
.icon-others:before {
  content: "\e624";
}
.icon-mind:before {
  content: "\e625";
}
.icon-tracker:before {
  content: "\e626";
}
.icon-facebook-square:before {
  content: "\e61a";
}
.icon-parent:before {
  content: "\e61b";
}
.icon-manage-check:before {
  content: "\e61c";
}
.icon-forums:before {
  content: "\e61d";
}
.icon-smile-sad:before {
  content: "\e61e";
}
.icon-question-o:before {
  content: "\e61f";
}
.icon-timeline:before {
  content: "\e620";
}
.icon-waistcirc:before {
  content: "\e604";
}
.icon-headcirc:before {
  content: "\e621";
}
.icon-pencil:before {
  content: "\e617";
}
.icon-trash-o:before {
  content: "\e618";
}
.icon-check-square-o:before {
  content: "\e615";
}
.icon-square-o:before {
  content: "\e616";
}
.icon-check:before {
  content: "\e612";
}
.icon-check-circle:before {
  content: "\e613";
}
.icon-check-circle-o:before {
  content: "\e614";
}
.icon-upload:before {
  content: "\e611";
}

.icon-calender:before {
  content: "\e605";
}
.icon-peoplegroup-plus:before {
  content: "\e60d";
}
.icon-peoplegroup:before {
  content: "\e60e";
}
.icon-addchild:before {
  content: "\e60f";
}
.icon-adduser:before {
  content: "\e610";
}
.icon-bmi:before {
  content: "\e600";
}
.icon-born:before {
  content: "\e601";
}
.icon-camera:before {
  content: "\e602";
}
.icon-date:before {
  content: "\e603";
}
.icon-height:before {
  content: "\e619";
}
.icon-weight:before {
  content: "\e607";
}
.icon-lock:before {
  content: "\e608";
}
.icon-points:before {
  content: "\e609";
}
.icon-minus:before {
  content: "\e60a";
}
.icon-plus:before {
  content: "\e60b";
}
.icon-tag-bg:before {
  content: "\e60c";
}
.icon-user:before {
  content: "\f007";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-search:before {
  content: "\f002";
}
.icon-times:before {
  content: "\f00d";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-star:before {
  content: "\f005";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-plus-squre{
  background-color:#c7c7c7;
  padding:5px;
  padding-right:0px;
  display:inline-block;
  border-radius:5px;
  color:#FFF;
  font-size:19px;
  line-height:1.1;
  vertical-align:middle; margin-right:5px;
}
/* custome icon */
.you-icon{ position:relative;}
.you-icon:before{
  content:"\e60c";
  position:absolute;
  font-size:24px;
  z-index:0;
  left:-1px;
  top:20px;
}
.you-icon:after{
  content:"You";
  position:absolute;
  top:24px;
  color:#ffffff;
  z-index:1;
  font:700 13px 'Ubuntu', sans-serif;
  width:38px;
  text-align:center;
}