<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
 <!-- <%#= link_to "All Users", "/admin/users" %> &nbsp;&nbsp;&nbsp;&nbsp;<%#=link_to "  Report", "/admin/users/report" %>&nbsp;&nbsp;&nbsp;&nbsp;
 <%#= link_to "All Pointer", "/admin/pointers" %> &nbsp;&nbsp;&nbsp;&nbsp;
 <%#= link_to "All Role", "/admin/role_for_admin_panel" %>  -->

 <br/>
 <br/>
 <br/>
 <br/>
 <%= @user_role.errors.full_messages.first if @user_role.errors.any? %>

<%= form_for @user_role,url:"/admin/user_role_for_admin_panel/#{@user_role.id}", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Update Role</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

     <div class="form-row">
        <label class="form-label">Email</label>
         <%= f.text_field :email, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Role</label>
         <%= f.select :role, options_for_select(RoleForAdminPanel.distinct(:name),@user_role.role), :class => 'custom-select1  ' %> 
    </div> 
     

    

    <div class="form-type3"><div class="form-action-row">
      <%= f.submit "Update", class: "btn btn-type2", disable_with: "Saving.."  %>
      
    </div></div>
  </div>
</div>
<% end %>
 <%= button_to "Cancel", "/admin/user_role_for_admin_panel", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>