  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-role').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_role",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
<!-- <%#= link_to "All Users", "/admin/users"%> &nbsp;&nbsp;&nbsp;&nbsp;<%#=link_to "  Report", "/admin/users/report" %>&nbsp;&nbsp;&nbsp;&nbsp; <%#= link_to "All Pointer", "/admin/pointers" %> --> 
<br/>
<br/>
<h2> User Role List </h2>
<br/>
<%= link_to "Add new user to role", "/admin/user_role_for_admin_panel/new_role" %>
 &nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "System role list", "/admin/role_for_admin_panel" %>

<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                  </th>
            <th> Email            </th>
            <th> Role             </th>
            <th> Member ID </th>
            <th> Action            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
            <th> Email            </th>
            <th> Role             </th>
            <th> Member ID </th> 
            <th >Action            </th>
             
          </tr>
        </tfoot>
        <tbody>
          
     <% @user_roles.each do | user_role |  %>
        <tr id="dataRow1">
            <td></td>
            <td class="js-delete"> <%= user_role.email %></td>
            <td> <%= user_role.role %>  </td>
            <td> <%= user_role.member_id %>  </td>
             
             
            <td> <%=link_to "","/admin/user_role_for_admin_panel/#{user_role.id}/edit",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/user_role_for_admin_panel/delete_role?id=#{user_role.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{user_role.id}" %>
            </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
