<style>
 .js-custome-table {
    border-collapse: collapse;
  }
  .js-custome-th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }
</style>
<div class="js-custome">
<br/>
<br/>
<h2> Push notification summary Identifier wise 
 
<br/>
<h2>
Destination : <%= params[:destination] %> 
<br/>
Date : <%= params[:selected_date] %> 
</h2>
<br/>
<br/>
 
  <table class="js-custome-table">
    <tr class="js-custome-th">
      <td class="js-custome-th" > Identifier </td>
      <td class="js-custome-th" > Sent </td>
      <td class="js-custome-th" > Pending </td>
      <td class="js-custome-th" > Client Response count(Email/Push) </td>
    </tr>
    <% data_present = false %>
    <% user_notifications1.each do | notification|  %>
      <% if notification.present? %>
        <% notification.each do |k,v| %>
     
          <% sent_data =  user_notification_sent1[k] || {} %>
          <% identifier_list.each do |type| %>
          <%#byebug%>
              <% if sent_data[type].to_i > 0  || v[type].to_i > 0 %>
              <% data_present = true%>
                <tr class="js-custome-th">
                  <td class="js-custome-th"> <%= link_to type,"#html",:class=>"",:data => {:pop => "/admin/users/get_push_notification_identifier_detail?identifier=#{type}" , :width => "810" } %> </td>
                  <td class="js-custome-th" > <%= sent_data[type].to_i%> 
                  </td>
                  <td class="js-custome-th"><%= v[type].to_i  %>   </td>
                  <%# byebug%>
                  <td class="js-custome-th"><%= v[type+"_client_responded"].to_i  %>
                  (<%=v[type+"_email_response_count"].to_i%>/<%=v[type+"_push_response_count"].to_i%>)

                  </td>
                </tr>
              <% end %>
          <% end %>
        <% end %>
      <% else %>
        
      <% end %> 
    <% end %> 
    <% if data_present == false %>
      <tr class="js-custome-th"> <td class="js-custome-th" colspan="4"> No data </td></tr>
      <% end %>
  </table>
</div>

 
<div class="btn btn-type2" onclick="$('#js-identifier').hide();$('.js-monthly').show();">Back to Notification report</div>
