<% @data1 = {"signup"=>{:last_week_signup_with_verified_account=>0, :last_6_month_signup_with_account_verified=>13, :last_6_month_signup=>29, :last_week=>1, :delete_user_in_last_week=>0,:user_verified_account_deleted_in_last_7_day=>0}, 
  "active_user"=>
     {:net_churn=>0, 
      :churn_negative=>0, 
      :churn_positive=>0, 
      :last_week_user_with_account_verified=>0, 
      :last_6_month_active_user_with_account_verified=>13, 
      :active_user_in_6_month=>28, 

      :last_week=>4
    },

     "inactive_user"=>
       {:total_inactive_user_in_last_6_month=>1, 
        :total_inactive_user_with_verified_account=>nil,
        :inactive_user_in_last_6_month_with_verified_account=>3,
        :total=>199, 
        :last_week=>382}, 
        "active_family"=>
          {:net_churn=>0, 
            :churn_negative=>1, 
            :last_week_added_family=>3,
            :total_family_in_last_6_month=>1,
            :churn_positive=>1, 
            :family_deleted_in_last_week=>0,
            :total_active_family_in_last_6_month=>0, 
            :last_week_active_family=>0
          }, 
        "kid"=>
           {:new_kid_added_in_last_week=>0, 
            :total_kid_in_last_6_month=>0, 
            :total_active_kid_in_last_6_month=>0, 
            :kid_deleted_in_last_week=>0,
            :churn_positive=>0, 
            :churn_negative=>0, 
            :net_churn=>0
            }, 
        "pregnancy"=>
         {:pregnancy_completed_in_last_week=>0, 
          :total_pregnancy_in_last_6_month=>0, 
          :active_pregnancy_in_last_6_month=>0, 
          :pregnancy_deleted_in_last_week=>0,
          :pregnancy_added_in_last_week=>0, 
          :total_pregnancy_completed_in_last_6_month=>0, 
          :churn_positive=>0, 
          :churn_negative=>0, 
          :net_churn=>0}, 
        "nhs_signup"=>{
          :total=>5, 
          :last_week=>0}, 
        "nhs_login"=>
        {:total=>44, 
          :last_week=>0}, 
        "gp_link"=>{:total=>14, :new_added_last_week=>1, :tpp_delink_account_in_last_week=>0, :emis_delink_account_in_last_week=>0}, "proxy_link"=>{:total=>3, :new_proxy_linking_last_week=>0}}.with_indifferent_access %>


<% signup_data = @data["signup"]%>
<% active_user = @data["active_user"]%>
<% inactive_user = @data["inactive_user"]%>
<% kid = @data["kid"]%>
<% pregnancy = @data["pregnancy"]%>
<% family = @data["active_family"]%>
<% nhs_signup = @data["nhs_signup"]%>
<% nhs_login = @data["nhs_login"]%>
<% gp_link = @data["gp_link"]%>
<% proxy_link = @data["proxy_link"]%>
<style>
  table{
    margin-top: 34px;
  }
  table th, td {
    font-size: 15px;
    padding: 5px;
  border: 1px solid black;
  background: white;
}
  </style>
  <br/>

  <%= render :partial=>"admin/kpi/kpi_form" %>
  <br/>
  <br/>
  <br/>
  <% if @data[:created_date].present? %>
    <h2>KPI Data on <%=@data[:created_date].to_date.strftime('%d-%m-%Y')%></h2> 
  <% else %>
    <h2>KPI Data</h2>
  <% end %>
<table>
  <thead>

    <th></th>
    <th>Total </th>
    <th>New (Last 7 days)</th>
    <th>Churn (Deleted users)</th>
  </thead>
  <tr>
    <td>SignUp</td>
    <td> <%=signup_data[:last_6_month_signup] %> </td>
    <td> <%=signup_data[:last_week] %> </td>
    <td> <%=signup_data[:delete_user_in_last_week] %> </td>
  </tr>

   <tr>
    <td>Sign up with verified email</td>
    <td> <%=signup_data[:last_6_month_signup_with_account_verified] %> </td>
    <td> <%=signup_data[:last_week_signup_with_verified_account] %> </td>
    <td> <%=signup_data[:user_verified_account_deleted_in_last_7_day] %> </td>
  </tr>
</table>


 

<table>
  <th></th>
  <th>Total</th>
  <th>New (Last 7 days)</th>
  <th>Churn+ </th>
  <th>Churn- </th>
  <th>Net Churn </th>
  <tr>
    <td>Active users</td>
    <td> <%=active_user[:active_user_in_6_month] %> </td>
    <td> <%=active_user[:last_week_active_user] %> </td>
    <td> <%=active_user[:churn_positive] %>  </td>
    <td> <%=active_user[:churn_negative] %>  </td>
    <td> <%=active_user[:net_churn] %>  </td>
  </tr>

   <tr>
    <td>Active users with verified email</td>
    <td> <%=active_user[:last_6_month_active_user_with_account_verified] %> </td>
    <td> <%=active_user[:last_week_user_with_account_verified] %> </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
</table>

<table>
  <thead>

    <th></th>
    <th>Total</th>
     
  </thead>   
  <tr>
    <td>Inactive users (Customer)</td>
    <td> <%=inactive_user[:total_inactive_user_in_last_6_month] %> </td>
  </tr>

   <tr>
    <td>Inactive users (Prospect)</td>
    <td> <%=inactive_user[:total_inactive_prospect_user_in_last_6_month] %> </td>
     
  </tr>
</table>



<!-- ...................Kid, pregnancy, family......... -->


<table>
  <thead>

    <th></th>
    <th>Total</th>
    <th>New (Last 7 days)</th>
    <th>Churn+ </th>
    <th>Churn- </th>
    <th>Net Churn </th>
  </thead>
  <!--  -----------------Kid -------------------->
  <tr>
    <td>No of kids</td>
    <td> <%=kid[:total_kid_in_last_6_month] %> </td>
    <td> <%=kid[:new_kid_added_in_last_week] %> </td>
    <td> - </td>
    <td> -  </td>
    <td> <%= kid[:kid_deleted_in_last_week] %> </td>
    
  </tr>
  <tr>
    <td>No of active kids</td>
    <td> <%=kid[:total_active_kid_in_last_6_month] %> </td>
    <td> <%=kid[:new_kid_added_in_last_week] %> </td>
    <td> <%=kid[:churn_positive] %>  </td>
    <td> <%=kid[:churn_negative] %>  </td>
    <td> <%=kid[:net_churn] %>  </td>
  </tr>
  <!--  -----------------Pregnancy -------------------->
 
   <tr>
    <td>No of pregnancies</td>
    <td> <%=pregnancy[:total_pregnancy_in_last_6_month] %> </td>
    <td> <%=pregnancy[:pregnancy_added_in_last_week] %> </td>
    <td> -  </td>
    <td> -  </td>
    <td> <%= pregnancy[:pregnancy_deleted_in_last_week] %>  </td>
  </tr>

  <tr>
    <td>No of active pregnancies</td>
    <td> <%=pregnancy[:active_pregnancy_in_last_6_month] %> </td>
    <td> <%=pregnancy[:pregnancy_added_in_last_week] %> </td>
    <td> <%=pregnancy[:churn_positive] %>  </td>
    <td> <%=pregnancy[:churn_negative] %>  </td>
    <td> <%=pregnancy[:net_churn] %>  </td>
    
  </tr>

  <tr>
    <td>No of completed pregnancies</td>
    <td> <%=pregnancy[:total_pregnancy_completed_in_last_6_month] %> </td>
    <td> <%=pregnancy[:pregnancy_completed_in_last_week] %> </td>
    <td> -  </td>
    <td> -  </td>
    <td> -  </td>
  </tr>
<!----------------------------- Family ----------------------------- -->

  <tr>
    <td>No of families</td>
    <td> <%=family[:total_family_in_last_6_month] %> </td>
    <td> <%=family[:last_week_added_family] %> </td>
    <td> -   </td>
    <td> -   </td>
    <td> <%= family[:family_deleted_in_last_week]%>   </td>
  </tr>

  <tr>
    <td>No of active familes</td>
    <td> <%=family[:total_active_family_in_last_6_month] %> </td>
    <td> <%=family[:last_week_active_family] %> </td>
      <td> <%=family[:churn_positive] %>   </td>
    <td> <%=family[:churn_negative] %>   </td>
    <td> <%=family[:net_churn] %>   </td>
   
  </tr>

</table>



<!-- NHS----------------------------------------- -->
<table>
  <thead>
    <th></th>
    <th>Total</th>
    <th>New (Last 7 days)</th>
    <th>Churn </th>
  </thead>
  <tr>
    <td>  NHS sign up</td>
    <td>  <%=nhs_signup[:total] %> </td>
    <td>  <%=nhs_signup[:last_week] %> </td>
    <td>  - </td>
  </tr>

  <tr>
    <td>  NHS login</td>
    <td>  <%=nhs_login[:total] %> </td>
    <td>  <%=nhs_login[:last_week] %> </td>
    <td>  - </td>
  </tr>

  <tr>
    <td>  GP Link</td>
    <td>  <%=gp_link[:total] %> </td>
    <td>  <%=gp_link[:new_added_last_week] %> </td>
    <td>  <%= gp_link[:tpp_delink_account_in_last_week].to_i + gp_link[:emis_delink_account_in_last_week].to_i %> </td>
  </tr>

  <tr>
    <td>  Proxy Link</td>
    <td>  <%=proxy_link[:total] %> </td>
    <td>  <%=proxy_link[:new_proxy_linking_last_week] %> </td>
    <td>  - </td>
  </tr>

</table>