<style type="text/css">
    .table_content{
        background: white;
        font-size: 14px;
    }
</style>
<table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride table_content" style= "table-layout: auto;">
        <tbody><tr>
             
            <th width="10%" align="left">Name</th>
            <th width="12%" align="left">Email</th>
            <th width="7%" align="left">Country</th>
             
            <th width="10%" align="left">Email verification status</th>            
            <th width="10%" align="left">Email Domain status</th>            
            <th width="10%" align="left">Provider</th>
            <th width="10%" align="left">ActivityStatus</th>
            <th width="13%" align="left">signup At</th>
            <th width="20%" align="left">Action</th>
             
        </tr>
     <% @users.each do | user |  %>
     <%begin%>
        <tr id="dataRow1">
            <!-- <td ><input type="checkbox" id="<%#=user.id%>" /></td> -->
            <td align="left" valign="top" style="text-overflow: ellipsis;word-wrap: break-word;"><a class="greenTxt"><%= user.member.name rescue nil %></a></td>
            <td align="left" valign="top"><%= user.email %></td>
            <td align="left" valign="top">
              <%= ISO3166::Country[user.country_code] ? ISO3166::Country[user.country_code] : user.country_code %>
            </td>
            <!-- <td align="left" valign="top"><%#= user.id %></td> -->
            <td align="left" valign="top" id="td-<%=user.id%>" ><%= user.status %></td>
            <td align="left" valign="top" ><%= user.email_domain_status %></td>
            <td align="left" valign="top" ><%= user.provider %></td>
            <td align="left" valign="top" ><%= user.activity_status %></td>

            <td align="left" valign="top" style="text-overflow: ellipsis;word-wrap: break-word;white-space: nowrap;overflow: hidden;"><%= user.created_at   %></td>
            
            <td align="left" valign="top" >
              <%= link_to "User Detail", "/admin/users/get_user_detail?id=#{user.id}", id:user.id %> |<%= link_to user_action(user), "/admin/users/update_user_status?id=#{user.id}", remote: true, id:user.id %> | <%= link_to user_mail_status(user), "/admin/users/update_user_for_mail_registration?id=#{user.id}", remote: true, id: "mail-#{user.id}" %> | <%= link_to 'Delete', "/admin/users/delete_user?id=#{user.id}", remote: true, id:user.id, :data => {:confirm => 'Are you sure?'} %>  
            </td>

        </tr>
      <% rescue   %>
      <% end %>      
    <% end %>                  
        
    </tbody>
</table> 