<br/>
<br/>
<br/>

<h2> Deleted User List </h2>
<br/>

<table id="deleted_user_detail"  cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>                                   </th>
      <th>Email                              </th>
      <th>Deleted On Date                    </th>
      <th>Account Status                             </th>
      <th>Provider                           </th>
      <th>Last Sign In At                    </th>
      <th>Activity Status                    </th>
      <th>Segment                            </th>
      <th>Deleted By                         </th>

    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>                                   </th>
      <th>Email                              </th>
      <th>Deleted On Date                    </th>
      <th>Account Status                             </th>
      <th>Provider                           </th>
      <th>Last Sign In At                    </th>
      <th>Activity Status                    </th>
      <th>Segment                            </th>
      <th>Deleted By                         </th>

    </tr>
  </tfoot>
  <tbody>
   
    <% if @deleted_users.present? %>
     <% @deleted_users.each do |deleted_user_detail|  %>
        <tr id="dataRow1">
            <td></td>
            <td><%=deleted_user_detail.user_email%></td>
            <td><%=deleted_user_detail.deleted_on_date.strftime("%d-%m-%Y")%></td>
            <td><%=deleted_user_detail.account_status%></td>
            <td><%=deleted_user_detail.provider%></td>
            <td><%=deleted_user_detail.last_sign_in_at.strftime("%d-%m-%Y")%></td>
            <td><%=deleted_user_detail.activity_status%></td>
            <td><%=deleted_user_detail.segment%></td>
            <td><%=(deleted_user_detail.deleted_by_user_name || deleted_user_detail.deleted_by_email_id || deleted_user_detail.deleted_by)%></td>
             
        </tr>
      <% end %>  
    <% end %>
    </tbody>
</table> 
  </div> 
  <div class="CL"></div>
 
  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#deleted_user_detail').DataTable( {
       
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 0, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    
} );
 </script> 
 <style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
}

.dataTables_scrollBody{
  min-height: 123px !important;
}
 

 </style>
