 <%= form_tag("/admin/users/update_credit_in_family_cvtme_purchase",method: 'get', remote: true) do %>
  <div class="form-type2" style=" height:430px;overflow: scroll;">
    <div class="form-row">
        <label class="form-label">Family list</label>
     
    <%= select_tag :family_id, options_from_collection_for_select(@family_list,:id,:name), {:class => 'custom-select1  '} %>
    </div>
    <div class="form-row">
        <label class="form-label">Credit Test count</label>
      <% count_list = {"unlimited"=>-1} %>
    <%(0..100).each do |a| %>
       <% count_list[a] = a %>
    <% end %>
    <%= select_tag :credit_test_count, options_for_select(count_list.to_a), {:class => 'custom-select1  '} %>
     <%= hidden_field_tag :member_id, params[:id] %>
    </div>

    <div class="form-row">
      <label class="form-label">Purchase Date</label>
     
    <%= text_field_tag :purchase_date, Date.today, style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
    
    <%= submit_tag "Add credit",class: "btn btn-type2" %>
    <%= submit_tag "Set remaining test count to 0",class: "btn btn-type2" %>

    <% end %>
     
    <br/>

    <div class="js_no_sign_in_result">
    </div>
  </div>
 
 <script type="text/javascript">
    $( document ).ready(function(){
     
});
       
 </script>