<br/>
<br/>
<h1>Update User Detail</h1>
<br/>
<br/>
<%= form_tag "/admin/users/update_user_datail", url:"/admin/users/update_user_datail"  do %>
<div class="form-type1">
 <%= hidden_field_tag :id, @user.id %>
 <div class="form-row">
 User Type:
 <br/>
 <br/>
    <%=select_tag "user_type", options_for_select(["Internal", "General"], @user.user_type),:prompt => 'Select User Type', :style=>"width:125px;",:class=>"custom-select" %>
  </div>

   


   <div class="form-row">
   Country:
   <br>
   <br>
   <% countries_with_code = ISO3166::Country.all_names_with_codes rescue ISO3166::Country.all %>
     <%=select_tag "country_code", options_for_select(countries_with_code, @user.get_user_country_code ),:prompt => 'Select country', :style=>"width:125px;",:class=>"custom-select" %>
  </div>
   
  <div class="form-row">
     Account Status:
     <br/>
     <br/>
     <%=select_tag "status", options_for_select([User::STATUS[:approved],User::STATUS[:unapproved]], @user.status) , :style=>"width:125px;",:class=>"custom-select" %>
  </div>
  <div class="form-row">
     Trial Days:
     <br/>
     <br/>
     <%=select_tag "trial_days", options_for_select((0..365), @user.trial_days) , :style=>"width:125px;",:class=>"custom-select" %>
  </div>

  <div class="form-row">
     Price Exemption:
     <br/>
     <br/>
     <%=select_tag "pricing_exemption", options_for_select(["none","basic","all"], @user.pricing_exemption) , :style=>"width:125px;",:class=>"custom-select" %>
  </div>

  <div class="form-row">
     Activity Status:
     <br/>
     <br/>
     <%=select_tag "activity_status", options_for_select(["Active","Inactive","Defunct"], @user.activity_status) , :style=>"width:125px;",:class=>"custom-select" %>
  </div>

  <div class="form-row">
  Notification On? :
  <br>
  <br>
    <%=select_tag "notification_on", options_for_select([false, true], @member.notification_subscribed?), :style=>"width:125px;",:class=>"custom-select" %>
  </div>

<div class="form-row">
  Mail Subscribed? :
  <br>
  <br>
    <%=select_tag "subscibe_mails", options_for_select([false, true],  @member.user.unregister_from_mail), :style=>"width:125px;",:class=>"custom-select" %>
  </div>
<div class="form-row">
   Allow Sigin via 
   <br/>
   <br/>
  <% allowed_provider_list = (User.distinct(:allowed_signin_provider) + User::SiginProviderList).uniq - ["",nil  ]%>
    <%= select_tag :allowed_signin_provider, options_for_select(allowed_provider_list.sort,@user.allowed_signin_provider),:multiple=>true,   :class => 'custom-select1',:size=>5 %> 
 </div> 

<% if current_user.email == AppConfig["superadmin_email"] %>
<div class="form-row">
  Role for admin panel :
  <br>
  <br>
    <%=select_tag "role_for_admin_panel", options_for_select(["none","admin","superadmin"], @user.role_for_admin_panel), :style=>"width:125px;",:class=>"custom-select" %>
  </div>
<% end %>
   
  <div class="form-row">
    <%=  submit_tag "Update",class:"btn btn-type2" %>

    <%= link_to "Cancel", "/admin/users/get_user_detail?id=#{@user.id}",  :class=> "btn btn-type2" %>
  </div>
  <% end %>

  <br/>
  <br/>
  <br/>