      <div class="singleBx-type11">
         <h2 class="space-bottom-1">
        User Details
    </h2>
        <div>
          <table cellspacing="0" cellpadding="0" width="100%" id="health_record_entries">
            <thead>
              <tr>
                  <th width="17%">Name</th>
                  <th width="17%">Email</th>
                  <th width="16%">Device token</th>
                  <th width="14%">Platform </th>
                  <th width="10%"> Enable status </th>
                  <th width="14%"> Build No. </th>
                  <th width="14%" > Os Version </th>
                  <th width="15%">&nbsp;</th>
              </tr>
              </thead>
          <tbody>
          <% device = (@user.member.devices.last rescue nil) || Device.new %>
              <tr class="js-<%=@user.id%>">
                <td><%= @user.first_name %></td>
                <td><%= @user.email %></td>
                <td><%= (device.token rescue nil)%></td>
                <td><%= device.platform %></td>
                <td><%= (device.enabled || true) %></td>
                <td><%= device.build_number %></td>
                <td><%= device.os_version %></td>
                 
               
                <td>

                  
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      