<style type="text/css">
    .table_content{
        background: white;
        font-size: 16px;
    }
</style>
<br/>
<br/>
<h1>User Details</h1>
<br/>
 <% @device = @member.devices.last rescue nil %>
  <% member_active_tools = MemberNutrient.in(member_id:@member.childern_ids).pluck(:nutrient_id) %>

        <% member_active_tools_name = Nutrient.in(id:member_active_tools).pluck(:title).uniq %>
      <% user_subscription_details = User.user_subscription(@member,4) %>  
      <% sso_providers = ::User::SsoLoginDetail.where(user_id:@user.id).pluck(:provider)%>
      <% sso_providers = sso_providers.blank? ? ["Nurturey"] : sso_providers %>
<table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride table_content " style= "table-layout: fixed;">
        <tr>
            <td>First Name</td>
            <td> <%= @user.first_name%> </td>
        </tr>

        <tr>
            <td> Last Name</td>
            <td> <%= @user.last_name%> </td>
        </tr>

        <tr>
            <td>Country Code</td>
            <td> <%= @user.get_user_country_code %>  [ <%= ISO3166::Country[@user.get_user_country_code] ? ISO3166::Country[@user.get_user_country_code] : @user.get_user_country_code %> ]</td>
        </tr>

         <tr>
            <td> Email </td>
            <td> <%= @user.email%> </td>
        </tr>
        <tr>
            <td> User Type</td>
            <td> <%= @user.user_type%> </td>
        </tr>
        <tr>
            <td> Sign up date</td>
            <td> <%= @user.created_at.to_date.to_date1 %> </td>
        </tr>
         <tr>
            <td> Sign In Count</td>
            <td> <%= @user.sign_in_count%> </td>
        </tr>
        <tr>
            <td> Activity Status</td>
            <td> <%= @user.activity_status%> </td>
        </tr>
         <tr>
            <td> Activity Status V2</td>
            <td> <%= @user.activity_status_v2 %> </td>
        </tr>
           <tr>
            <td> Last sign in at</td>
            <td> <%= @user.last_sign_in_at.to_date.to_date1 %> </td>
        </tr>
        <tr>
            <td> Email Verified</td>
            <td> <%=  ["confirmed", "approved"].include?(@user.status) %> </td>
        </tr>
        <tr>
            <td> Email Verification Status</td>
            <td> <%= @user.status%> </td>
        </tr>
        <tr>
            <td> User Segment</td>
            <td> <%= @user.segment%> </td>
        </tr>
        <tr>
            <td> User Stage</td>
            <td> <%= @user.stage%> </td>
        </tr>
        <tr>
            <td> Trial Days</td>
            <td> <%= @user.trial_days%> </td>
        </tr>

        <tr>
            <td> Price Exemption</td>
            <td> <%= @user.pricing_exemption%> </td>
        </tr>


          <tr>
            <td>No. of families</td>
            <td> <%= @member.user_families.count %> </td>
        </tr>
         <tr>
            <td> Metric System</td>
            <td> <%= @member.metric_system %> </td>
        </tr>
         <tr>
            <td> Time Zone</td>
            <td> <%= @member.time_zone%> </td>
        </tr>
       
        
        <tr>
            <td>Notification ON?</td>
            <td> <%= @member.notification_subscribed? %> </td>
        </tr>


         <tr>
            <td>Mail Subscribe?</td>
            <td> <%= @member.user.unregister_from_mail %> </td>
        </tr>

         <tr>
            <td> Device token present? </td>
            <td> <%= @device.token.present? rescue false %> </td>
        </tr>


        
       

         
         <tr>
            <td> Welcome Email Sent?</td>
            <td> <%= @user.welcome_email_sent.present?%> </td>
        </tr>

        <tr>
            <td> Logged in via app?</td>
            <td> <%= @user.app_login_status%> </td>
        </tr>

       
        
       
        <tr>
            <td> Member Active Tools</td>
            <td> <%= member_active_tools_name %> </td>
        </tr>

        
      
        

        <tr>
            <td> Adult Tools List</td>
            <td class="js-subscription-tool-list"> <%= user_subscription_details[0].uniq %> </td>
        </tr>


         <tr>
            <td> device token </td>
            <td> <%= @device.token rescue nil %> </td>
        </tr>
         <tr>
            <td>Device Platform</td>
            <td> <%= @device.platform rescue nil %> </td>
        </tr>

        <tr>
            <td> App Build No.</td>
            <td> <%= @device.build_number rescue nil %> </td>
        </tr>

        <tr>
            <td>  Device Os Version </td>
            <td> <%= @device.os_version rescue nil %> </td>
        </tr>

        <tr>
            <td> Can access admin panel? ( admin panel role)</td>
            <td> <%= @user.can_access_admin_panel?%> (<%=@user.role_for_admin_panel%>) </td>
        </tr>
        <tr>
            <td> Allowed Sign in via provider (Detail available for Provider)</td>
            <td> <%= @user.allowed_signin_provider%> &nbsp;&nbsp;&nbsp;&nbsp;        (<%=sso_providers.join(", ") %>)   </td>
        </tr>

       
</table> 
<br/>
<br/>
<h2> User Subscription Detail </h2>
<% subscription = Subscription.where(member_id:@member.id.to_s).not_expired.last || Subscription.where(member_id:@member.id).free_subscription.last || Subscription.default_subscription(nil) %>
<%subscription_manager = subscription.subscription_manager %>
<table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride table_content" style= "table-layout: fixed;">
        <tr>
            <td>User Subscription</td>
            <td class="js-subscription"> <%= user_subscription_details[1] %>  </td>
        </tr>
        <tr>
            <td>User Subscription Category</td>
            <td class="js-subscription-category"> <%= user_subscription_details[2] > 0 && subscription.assigned_by == "admin"  ? "Free": "Paid" %>  </td>
        </tr>

         <tr>
            <td>Subscription Platform</td>
            <td class="js-subscription-platform"> <%= (subscription.platform || @device.platform) rescue nil %> </td>
        </tr>
        <!-- <tr>
            <td>Subscription listing order</td>
            <td class="js-subscription-level"> <%#= user_subscription_details[2] %> </td>
        </tr>
 -->
         <tr>
            <td>Subscription Start Date</td>
            <td class="js-subscription-start"> <%= subscription.start_date %> </td>
        </tr>

         <tr>
            <td>Subscription Last Renewal Date </td>
            <td class="js-subscription-renewal"> <%= subscription.last_renewal_date %> </td>
        </tr>


         <tr>
            <td>Subscription Expiry Date</td>
            <td class="js-subscription-expiry"> <%= subscription.expiry_date %> </td>
        </tr>

         <tr>
            <td>Subscription Cancellation Date</td>
            <td class="js-subscription-end"> <%= subscription.cancellation_date %> </td>
        </tr>
         <tr>
            <td>Subscription Free Trial End Date</td>
            <td class="js-subscription-trial"> <%= subscription.free_trial_end_date %> </td>
        </tr>
         <tr>
            <td>Subscription Grace Period Date</td>
            <td class="js-subscription-grace"> <%= subscription.grace_period_date %> </td>
        </tr>

         <tr>
            <td>Subscription Valid Certification</td>
            <td class="js-subscription-certificate"> <%= subscription.subscription_valid_certificate %> </td>
        </tr>

       
</table>
<br/>
<br/>
<h2> User families cvmte purchase </h2>
 
<table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride table_content" style= "table-layout: fixed;">
        <tr style="background-color: cyan;">
          <td>Family Name</td>
          <td>  Latest Purchase Date  </td>
          <td>  Expiry in day  </td>
          <td>  Cvtme test (Remaining/Taken)  </td>
        </tr>
        <% @member.user_families.each do |family|%>
          <% cvtme_purchase = family.cvtme_purchase%>
          <tr>
            <td><%= family.name%></td>
            <td><span class="js-cvtme_purchase_date_<%=family.id%>"><%= cvtme_purchase[:purchase_date].to_date.to_date2 rescue nil%></span>
            </td>
            <td><span class="js-cvtme_purchase_expiry_in_days_<%=family.id%>"><%= cvtme_purchase[:purchase_expiry_in_days]%></span></td>
            
            
            <td> 
                <span class="js-cvtme_total_attempt_remaining_<%=family.id%>"><%=cvtme_purchase[:total_attempt_remaining]%> </span> / <%= cvtme_purchase[:total_attempt_taken] %>  </td>
          </tr>
        <% end %>
        
       
</table> 
<% if params[:user_email].blank? %> 
<%= link_to "User List", "/admin/users/" ,class: "btn btn-type2"  %>
 
<span class="js-previous-pointer">
   
    <%= link_to "Edit User", "/admin/users/edit_user_detail?id=#{@user.id}" , :class=> "btn btn-type2" %>
     
</span>

<%= link_to "Change subscription","#html", :class => "btn btn-type2", :data => {:pop => "/admin/users/user_subscription_change_form?id=#{@user.member_id}" , :width => "510" } %>
<%= link_to "Add credit to CVTME","#html", :class => "btn btn-type2", :data => {:pop => "/admin/users/edit_credit_in_family_cvtme_purchase?id=#{@user.member_id}" , :width => "510" } %>

<%= link_to "Subscription History","#html", :class => "btn btn-type2", :data => {:pop => "/admin/users/user_subscription_history?id=#{@user.member_id}" , :width => "1124" } %>
<%= link_to "Show User Families detail","#html", :class => "btn btn-type2", :data => {:pop => "/admin/users/user_families_detail?member_id=#{@user.member_id}" , :width => "1124" } %>
<%= link_to "Show User Events","/admin/api_log/get_filter_data?email=#{@user.email}&start_date=#{Date.today - 6.month }&end_date=#{Date.today}&log_category=event" , :class => "btn btn-type2" ,:target=>"blank" %>
<% end %>

