<% if @notification.present? %>
<br/>
<h2> Identifier:   <%= @notification.identifier%>
<br/>
<br/>
<h2> Case <br/>
 <%= @notification.case%> </h2>
<br/>
<br/>
<h2>Message<br/> <%=@notification.message %></h2>
<br/>
</br/>
<% else %>
  No information found. 
<% end %> 