<style type="text/css">
  ul.farParentDiv li {
    list-style-type: disc;
    font-size:20px;
}
</style>
  <% module_list_for_user = current_user.accessible_admin_panel_module_list_for_user%>

 <ul class="farParentDiv">
  <% if module_list_for_user.include?("SummeryReports&UserList") %>
    <li>
     <%=link_to "User basic list", "/admin/users/" %> </li>
     
     <li>
     <%=link_to "Deleted User list", "/admin/users/deleted_user_details" %> </li>
    <li>

      <%=link_to "User Type", "/admin/users/user_type" %> 
    </li>
    <li><%=link_to "Basic summary report", "/admin/users/report" %>
    </li>
  <% end %>
  <% if module_list_for_user.include?("PointersMaintenance") %>
    <li><%=link_to "Pointers maintenance", "/admin/pointers/" %> 
    </li>
  <% end %>
  <% if module_list_for_user.include?("ScenarioDetails") %>
    <li> <%=link_to "Scenario maintenance", "/admin/scenario_details" %>
    </li>
  <% end %>
  <% if module_list_for_user.include?("SubscriptionMaintenance") %>
    <li> <%=link_to "Subscription maintenance", "/admin/subscription_maintenance" %></li>
  <% end %>
  <% if module_list_for_user.include?("ToolsListMaintenance") %>

    <li> <%=link_to "Tools list maintenance", "/admin/tool_list_maintenance/" %>
    </li>
  <% end %>

  <% if module_list_for_user.include?("ActionCardListMaintenance") %>
    <li> <%=link_to "Action card list maintenance", "/admin/action_card_list_maintenance/" %> 
    </li>
  <% end %>
  <% if module_list_for_user.include?("UserRoleMaintenance") %>
    <li> <%=link_to "User Role maintenance", "/admin/user_role_for_admin_panel/" %>
    </li>
  <% end %>
  <% if module_list_for_user.include?("ModuleAccessMaintenance") %>
    <li> <%=link_to "Module Access maintenance", "/admin/module_access_for_role/" %>
    </li>
  <% end %>

  <% if module_list_for_user.include?("PushNotificationReport") %>
    <li> <%=link_to "User Notification Report", "/admin/pointers/push_pointer_count_report/" %>
    </li>
  <% end %>
  
  <% if module_list_for_user.include?("BatchNotificationManager") %>
    <li> <%=link_to "Batch Notification maintenance", "/admin/batch_notification_manager/" %>
    </li>
  <% end %>
  
  <% if module_list_for_user.include?("PushNotificationReport") %>
    <li> <%=link_to "Push notification report", "/admin/users/push_notification_report/" %>
    </li>
  <% end %>

  <% if module_list_for_user.include?("FacePlusPlus") %>
    <li> <%=link_to "Face++ Api", "/admin/face_plus/" %>
    </li>
  <% end %>
  
  <% if module_list_for_user.include?("SummeryReports&UserList") %>
    <li> <%=link_to "Alexa Request", "/admin/alexa/" %>
    </li>
  <% end %>

  <% if module_list_for_user.include?("SystemTemplate") %>
    <li> <%=link_to "All Template", "/admin/system_template/" %>
    </li>
  <% end %>
    
  <% if module_list_for_user.include?("SubscriptionReport") %>
    <li> <%=link_to "Subscription Report", "/admin/subscription_maintenance/subscription_report" %>
    </li>
  <% end %>

  <% if module_list_for_user.include?("SystemFaq") %>
    <li> <%=link_to "System Faq", "/admin/faq" %>
    </li>
  <% end %>

  <% if module_list_for_user.include?("ApiLog") %>
    <li> <%=link_to "Api Log", "/admin/api_log" %>
    </li>
    <li> <%=link_to "Admin panel access Log", "/admin/api_log/admin_panel_access_log" %>
    </li>
  <% end %>

  <% if module_list_for_user.include?("EventLog") %>
    <li>
      <%=link_to "Event Log", "/admin/api_log/event_log_data" %>
    </li>
  <% end %>

  <% if module_list_for_user.include?("NHSRequestManager") %>
    <li> <%=link_to "NHS Api", "/admin/nhs_request_manager" %>
    </li>
  <% end %>
  
  <% if module_list_for_user.include?("AffiliateLinks") %>
    <li>
      <%=link_to "Affiliate Links", "/admin/amazon_affiliate_links" %>
    </li>    
  <% end %>


  <% if module_list_for_user.include?("KpiData") %>
    <li>
      <%=link_to "KpiData", "/admin/users/kpi_data" %>
    </li>    
  <% end %>
  <% if module_list_for_user.include?("Clinic") %>
    <li>
      <%=link_to "Setup Organization", "/admin/clinic" %>
    </li>    
  <% end %>
  <% if module_list_for_user.include?("SystemSettings") %>
    <li>
      <%=link_to "System Settings", "/admin/system_settings" %>
    </li>    
  <% end %>

  <% if module_list_for_user.include?("EmisLog") %>
    <li>
      <%=link_to "Emis Log", "/admin/api_log/emis_logs" %>
    </li>    
  <% end %>
   <% if module_list_for_user.include?("TppLog") %>
    <li>
      <%=link_to "Tpp Log", "/admin/api_log/tpp_logs" %>
    </li>    
  <% end %>

  <% if module_list_for_user.include?("CvtmePurchaseEventLog") %>
    <li>
      <%=link_to "CVTME purchase log", "/admin/api_log/cvtm_purchase_event_log_data" %>
    </li>    
  <% end %>

  <% if module_list_for_user.include?("NhsSyndicatedContent") %>
    <li>
      <%=link_to "Nhs Syndicated Content", "/admin/nhs_syndicated_content" %>
    </li>    
  <% end %>
  <% if module_list_for_user.include?("SmileADesignContest") %>
    <li>
      <%=link_to "SmileADesign Contest", "/admin/smile_a_design_contest_result" %>
    </li>    
  <% end %>

<% if module_list_for_user.include?("NhsLogin/GPLinked AccountManager") %>
    <li>
      <%=link_to "Manage NhsLogin/GPLinked Account", "/admin/manage_nhs_account" %>
    </li>    
  <% end %>

  <% if module_list_for_user.include?("UnregisterFromEmail") %>
    <li>
      <%=link_to "Manage UnregisterFromEmail", "/admin/unregister_from_email" %>
    </li>    
  <% end %>
  

  <% if module_list_for_user.include?("NhsApiLog") %>
    <li>
      <%=link_to "NhsApiLog", "/admin/api_log/nhs_api_logs" %>
    </li>    
  <% end %>

</ul>