<style type="text/css">
    .table_content{
        background: white;
        font-size: 16px;
    }
</style>
<br/>
<br/>
<h1>KPI Data</h1>
<br/>
<br/>
<div>
<%= form_tag("/admin/users/kpi_data",method: 'get') do %>
  <div class="form-type2" overflow: scroll;">
    <div class="form-row">
      <label class="form-label">Start Date</label>
     
    <%= text_field_tag :start_date, (params[:start_date]||Date.today-7.day), style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
    <div class="form-row">
      <label class="form-label">End Date</label>

    <%= text_field_tag :end_date, (params[:end_date]||Date.today), style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
    <%= submit_tag "Submit",class: "btn btn-type2" %>
    </div>
<% end %>
</div>
<br/>
<br/>
<br/>
<% day_count =  ((params[:start_date]||Date.today-7.day).to_date - (params[:end_date]||Date.today).to_date).to_i.abs %>
<br/>
<table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride table_content " style= "table-layout: fixed;">
     
    <tr>
        <td>Active User</td>
        <td> <%= @data[:active_user]%> </td>
    </tr>

    <tr>
      <td> New Signup User in <%=day_count %> days</td>
      <td> <%= @data[:new_signup_user]%> </td>
    </tr>

    <tr>
      <td> Lost Active User <%=day_count %> days</td>
      <td> <%= @data[:lost_active_user]%> </td>
    </tr>
    
    <tr>
      <td> Active Subscription</td>
      <td> <%= @data[:active_subscription]%> </td>
    </tr>
    <tr>
      <td> New Subscription <%=day_count %> days</td>
      <td> <%= @data[:new_subscription]%> </td>
    </tr>
    <tr>
      <td>Lost Subscription <%=day_count %> days</td>
      <td> <%= @data[:lost_subscription]%> </td>
    </tr>
    <tr>
      <td> Percentage Conversion for 3 months</td>
      <td> <%= @data[:percentage_conversion]%> </td>
    </tr>


     
       
</table> 
<br/>
<br/>
  