$(".js-monthly").hide()
$("#js-identifier").html("<%= j render :partial=>'admin/users/identifier_report', locals:{user_notification_sent1:@user_notification_sent,user_notifications1:@user_notifications,identifier_list:@identifier_list} %>")
$("#js-identifier").show();

