
<!--  response report for particular identifier in time ranges -->
<style>
 .js-custome-table {
    border-collapse: collapse;
  }
  .js-custome-th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }
</style>



<div class="singleBx-type6" >
<div><h2> Response Report For Notification Identifier </h2></div>
 <br/>
 <%= form_tag("/admin/users/push_notification_identifier_response_summary_report",method: 'get') do %>
 <%#= form_tag("#html",method: 'get',"data-pop"=>'/admin/users/push_notification_response_report') do %>
  <div class="form-type1">
    <div class="form-row">
      <label class="form-label">Start Date</label>
     
      <%= text_field_tag :start_date1, (params[:start_date1]|| (Date.today - 1.month).to_s), style: "position: relative;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label class="form-label">End Date</label>
     
    <%= text_field_tag :end_date1, (params[:end_date1] || Date.today.to_s), style: "position: relative; ", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
    <div class="form-row">

     
    

    <div class="form-row">
     
    <%= submit_tag "Notification Response Report ",class: "btn btn-type2" %>
  </div>
    <% end %>
<br/>
</div>

<div class="js-custome">



<br/>
<br/>
<h2> Push notification identifier response  summary </h2>
 
<br/>
<h2>
Identifier : <%= @identifier %> </h2>
From: <%= params[:start_date1] || (Date.today- 1.month) %> , to: <%=params[:end_date1] || Date.today %>
<br/>
<br/>
<br/>
 identifier(Sent/pending/response(email/ response push)
 <div style="overflow-x:auto;">
  <table class="js-custome-table">
    <tr class="js-custome-th">
      <td class="js-custome-th" > Date </td>
      <% @identifier_list.each do |identifier| %> 
      <td class="js-custome-th" > <%=identifier%> </td>
      <% end%>
       
    </tr>
    <% data_present = false %>
    <%if @user_notification_assigned.present?%>
      <% @user_notification_assigned = Hash[@user_notification_assigned.sort_by { |k,_| k }.reverse]%>
      <%# @user_notifications.each do | notification|  %>
        <%# if notification.present? %>
          <% @user_notification_assigned.each do |k,v| %>
            <% sent_data =  @user_notification_sent[k] || {} %>
              <%# if sent_data[identifier].to_i > 0  || v[identifier].to_i > 0 %>
                <% data_present = true%>
                <tr class="js-custome-th">
                  <td class="js-custome-th"> <%=k%> </td>
                  <% @identifier_list.each do |identifier| %>  

                    <td class="js-custome-th">
                      <% if  sent_data[identifier].present? %>
                        sent:<%= sent_data[identifier].to_i%> 
                      <% end %>
                      <% if  v[identifier].present? %>
                      
                      pending:<%= v[identifier].to_i  %>  
                      <% end %>
                      
                      <% if   v[identifier+"_client_responded"].present? %>
                      response:<%= v[identifier+"_client_responded"].to_i  %>
                      (email:<%=v[identifier+"_email_response_count"].to_i%> push:<%=v[identifier+"_push_response_count"].to_i%>)
                     <% end %>
                    </td>
                  <% end %>

                </tr>
              <% #end %>
          <%  end %>
         
    <%end %>
    <% if data_present == false %>
      <tr class="js-custome-th"> <td class="js-custome-th" colspan="<%=@identifier_list.count + 1 %>"> No data </td></tr>
      <% end %>
  </table>
</div>
</div>
<br/>
<br/>

 
 