  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "desc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
     });
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>

<div class="js-monthly">

<br/>
<h2> Push notification summary 
(<%=(params[:start_date] || Date.today - 1.month ).to_date.strftime("%d-%B-%Y")%>   To  <%=(params[:end_date]|| Date.today).to_date.strftime("%d-%B-%Y") %>) 
<br>
tool(pending)- sent for tool(pending for tool) </h2>
<br/>
 
<br/>
<br/>
<div class="singleBx-type6" >
<div><h2> Report search </h2></div>
 <br/>
 <%= form_tag("/admin/users/push_notification_report",method: 'get') do %>
    <div class="form-row">
      <label class="form-label">Start Date</label>
     
    <%= text_field_tag :start_date, (params[:start_date]|| (Date.today - 1.month).to_s), style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label class="form-label">End Date</label>
     
    <%= text_field_tag :end_date, (params[:end_date] || Date.today.to_s), style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
    

     <br/>
    <%= submit_tag "Search",class: "btn btn-type2" %>
    <% end %>
<br/>
</div>

<div class="singleBx-type6" >
<div><h2> Response Report For Notification Identifier </h2></div>
 <br/>
 <%= form_tag("/admin/users/push_notification_response_report",method: 'get') do %>
 <%#= form_tag("#html",method: 'get',"data-pop"=>'/admin/users/push_notification_response_report') do %>
    <div class="form-row">
      <label class="form-label">Start Date</label>
     
    <%= text_field_tag :start_date1, (params[:start_date1]|| (Date.today - 1.month).to_s), style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label class="form-label">End Date</label>
     
    <%= text_field_tag :end_date1, (params[:end_date1] || Date.today.to_s), style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
    <div class="form-row">

    <label class="form-label">Notification identifier</label>

    <%= select_tag :identifier, options_for_select(BatchNotification::BatchNotificationManager.all.map(&:identifier),params[:identifier]), class: "textBx-type11" %>
    </div>
    

     <br/>
    <%= submit_tag "Notification Response Report ",formtarget:"_blank",class: "btn btn-type2" %>
    <% end %>
<br/>
</div>
<%= link_to "Response summary for all identifier", "/admin/users/push_notification_identifier_response_summary_report",class: "btn btn-type2",target:"_blank"%>

<br/>
<br/>
<br/>

<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                  </th>
            <th> Date       </th>
            <th> TotalAssign           </th>
            <th> Sent          </th>
            <th> Pending       </th>
            <th> client Response count(Email/Push)       </th>
            <% (BatchNotification::BatchNotificationManager::destination_values - ["NA"]).each do |category|%>
              <th><%=category%>(pending)</th>
            <% end %>
            <!-- <th> Measurement(pending)          </th>
            <th> Timeline(pending)      </th>
            <th> Milestone(pending)          </th>
            <th> Home (pending)      </th>
            <th> Manage Family (pending)         </th>
            <th> Immunisation (pending)         </th>
            <th> Pointer (pending)         </th>
            <th> Prenatal Test (pending)         </th>
            <th> Manage Tools (pending)         </th> -->
            <th>          </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>                  </th>
            <th> Date       </th>
            <th> TotalAssign           </th>
            <th> Sent          </th>
            <th> Pending       </th>
            <th> client Response count(Email/Push)       </th>
            <% (BatchNotification::BatchNotificationManager::destination_values - ["NA"]).each do |category|%>
              <th>
                <%=link_to "#{category}(pending)","/admin/users/push_notification_report_identifier_wise?destination=#{category}&start_date=#{params[:start_date]}&end_date=#{params[:end_date]}" %> 

              </th>
            
            <% end %>
            
            
          </tr>
        </tfoot>
        <tbody>
         <% if  @user_notifications.present? %>
     <% @user_notifications.each do | notification |  %>
     <% sent_data = @user_notification_sent[notification["sent_date"]] %>
        <tr id="dataRow1">
            <td></td>
             <% sent_data = {} if sent_data.blank? %>
            <td> <%= notification["sent_date"] %>  </td>
            <td> <%= notification["totalCount"] %>  </td>
            <td> <%= sent_data["sent"].to_i > 0 ? sent_data["sent"] : sent_data["email_sent"] .to_i  %>  </td>
            <td> <%= notification["pending"] %>  </td>
            <td> <%= notification["client_responded"].to_i %>(<%=notification["email_response_count"].to_i%>/<%=notification["push_response_count"].to_i%>)  </td>
            
            <% (BatchNotification::BatchNotificationManager::destination_values - ["NA"]).each do |category|%>
              <td>
              <%category_name = category.split(" ").join("_")%>
                <a href="/admin/users/push_notification_report_identifier_wise?destination=<%=category%>&selected_date=<%= notification["sent_date"] %>" data-remote="true">
                  <% if category_name == "Home"%>
                  <%# byebug%>
                  <% end %>
               <%= sent_data[category_name].to_i > 0 ? sent_data[category_name] : sent_data["#{category_name}_sent_email"] %>(<%=notification["#{category_name}_pending"].to_i > 0 ? notification["#{category_name}_pending"] : notification["#{category_name}_pending_email"] %>)  
              </a>

              </td>
            
            <% end %>

             
              
            
            
             
            <td> </td>
        </tr>
    <% end %>  
    <% end %>                
    </tbody>
</table> 
 </div>
  <div class="CL"></div>
 
 
   <div id="js-identifier" style="display:none;">
    <%#= render :partial=>"/admin/users/identifier_report" %>
   </div>