
<!--  response report for particular identifier in time range -->
<style>
 .js-custome-table {
    border-collapse: collapse;
  }
  .js-custome-th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }
</style>
<div class="singleBx-type6" >

<div class="js-custome">
<div><h2> Response Report For Notification Identifier </h2></div>
 <br/>
 <%= form_tag("/admin/users/push_notification_response_report",method: 'get') do %>
<div class="form-type1">

 <%#= form_tag("#html",method: 'get',"data-pop"=>'/admin/users/push_notification_response_report') do %>
    <div class="form-row">
      <label class="form-label">Start Date</label>
     
    <%= text_field_tag :start_date1, (params[:start_date1]|| (Date.today - 1.month).to_s), style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <label class="form-label">End Date</label>
     
    <%= text_field_tag :end_date1, (params[:end_date1] || Date.today.to_s), style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
    <div class="form-row">

    <label class="form-label">Notification identifier</label>

    <%= select_tag :identifier, options_for_select(BatchNotification::BatchNotificationManager.all.map(&:identifier),params[:identifier]), class: "textBx-type11" %>
    </div>
  <div class="form-row">
    <%= submit_tag "Submit ",class: "btn btn-type2" %>
  </div>
    </div>
    <% end %>
<br/>
</div>
</div>
<br/>
<br/>
<h2> Push notification response summary Identifier wise </h2>
 
<br/>
<h2>
Identifier : <%= @identifier %> </h2>
From: <%= params[:start_date1] %> , to: <%=params[:end_date1]%>
<br/>
<br/>
<br/>
 
  <table class="js-custome-table">
    <tr class="js-custome-th">
      <td class="js-custome-th" > Date </td>
      <td class="js-custome-th" > Sent </td>
      <td class="js-custome-th" > Pending </td>
      <td class="js-custome-th" > Client Response count(Email/Push) </td>
    </tr>
    <% data_present = false %>
    <%if @user_notification_assigned.present?%>
      <% @user_notification_assigned = Hash[@user_notification_assigned.sort_by { |k,_| k }.reverse]%>
      <%# @user_notifications.each do | notification|  %>
        <%# if notification.present? %>
          <% @user_notification_assigned.each do |k,val| %>
           
            <% sent_data =  @user_notification_sent[k] || {} %>
            <% if sent_data[@identifier].to_i > 0  || val[@identifier].to_i > 0 %>
              <% data_present = true%>
              <tr class="js-custome-th">
                <td class="js-custome-th"> <%=k%> </td>
                <td class="js-custome-th"> <%= sent_data[@identifier].to_i%> 
                </td>
                <td class="js-custome-th"><%= val[@identifier].to_i  %>   </td>
                <td class="js-custome-th"><%= val[@identifier+"_client_responded"].to_i  %>
                (<%=val[@identifier+"_email_response_count"].to_i%>/<%=val[@identifier+"_push_response_count"].to_i%>)
                </td>
              </tr>
            <% end %>
          <%  end %>
        <%# else %>
        <%# end %> 
      <%# end %> 
    <%end %>
    <% if data_present == false %>
      <tr class="js-custome-th"> <td class="js-custome-th" colspan="4"> No data </td></tr>
      <% end %>
  </table>
</div>

 
 