  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "desc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
     });
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<% params[:start_date] = params[:start_date].present? ? params[:start_date] : Date.today - 1.month%>
<% params[:end_date] = params[:end_date].present? ? params[:end_date] : Date.today  %>

<h2> Push notification summary Identifier wise(<%=params[:start_date].to_date.strftime("%d-%B-%Y")%> To <%= params[:end_date].to_date.strftime("%d-%B-%Y")%>) 
<br>
Identifier(pending)- sent for tool(pending for tool) </h2>
<br/>
 
<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                                         </th>
            <th> Date                                    </th>
            <th> TotalAssign                             </th>
            <th> Sent                                    </th>
            <th> Pending                                 </th>
            <th> Client Response count(Email/Push)       </th>
            <% @identifier_list.each do |type| %>
            <th><%= "identifier_" if type.to_i > 0 %><%= type%></th>
            <% end %>
             
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>                                         </th>
            <th> Date                                    </th>
            <th> TotalAssign                             </th>
            <th> Sent                                    </th>
            <th> Pending                                 </th>
            <th> client Response count(Email/Push)       </th>
            <% @identifier_list.each do |type| %>
            <th>
              <% if type.to_i > 0 %>
                <%= link_to "identifier_#{type}" ,"#html",:class=>"",:data => {:pop => "/admin/users/get_push_notification_identifier_detail?identifier=#{type}" , :width => "510" } %>
              <% else %>
                <%= type%>
              <% end %>
             </th>
            <% end %>
          </tr>
        </tfoot>
        <tbody>
         <% if  @user_notifications.present? %>
     <% @user_notifications.each do | notification|  %>
      
     <% notification.each do |k,v| %>
     <% sent_data =  @user_notification_sent[k] %>
        <tr id="dataRow1">
            <td></td>
             <% sent_data = {} if sent_data.blank? %>
            <td> <%= k %>  </td>
            <td> <%= v["total_count"] %>  </td>
            <td> <%= sent_data["sent"].to_i %>  </td>
            <td> <%= v["pending"] %>  </td>
            <td><%#=v.inspect%> <%= v["totalClientResponse"] %> (<%=v["totalEmailResponse"]%>/<%=v["totalPushResponse"]%> )</td>
            <% @identifier_list.each do |type| %>
              <td> <%= sent_data[type].to_i%> (<%= v[type].to_i  %>) <%#= v %> </td>
            <% end %>
            
        </tr>
        <% end %>
    <% end %>  
    <% end %>                
    </tbody>
</table> 
 
  <div class="CL"></div>
 <%= link_to "Back to Notification report", "/admin/users/push_notification_report?start_date=#{params[:start_date]}&end_date=#{params[:end_date]}", :method => "get",class: "btn btn-type2"  %>
 
 
   