<div class="bodyWapper">
<div class="tabBox"> 
<% if @all_countries.blank? %>
<br/>
<br/>
<div style="font-size:18px; text-align: center ;">  Data is loading. Please try after few minutes</div>
<% else%>
<div class="activityAction" style= "float:right;">
      <div class="jqSmallform FL">
     <!--  <%#=link_to "All users", "/admin/users" %>&nbsp;&nbsp;
      <%#=link_to "All pointers", "/admin/pointers" %></div> -->
    </div> 
    </div>
    <br/>
<div class="singleBx-type6" >

<%= form_tag "search", url:"/admin/users/search" do |f| %>
<div class="form-type1">
  <div class="form-row"> 
   <%= text_field_tag :start_date, nil, class: "textBx-type1 inputType2 dateInput" ,placeholder:"Start date", :readonly=>true %>
  </div>
  <div class="form-row">
    <%= text_field_tag :end_date, nil, class: "textBx-type1 inputType2 dateInput" ,placeholder:"End date", :readonly=>true %>
  </div>
  <div class="form-row">
    <!-- <label class="form-label">Country</label> --> <%=select_tag "country", options_for_select(@all_countries, params[:country]),:prompt => 'Select country', :style=>"width:125px;",:class=>"custom-select" %>
  </div>
  <div class="form-row">
    <%= submit_tag "Search",class:"btn btn-type2" %>
  </div><% end %>
</div>


</div>
 
<%#= will_paginate @report %>
<br/>
Data Updated on:  <%= @report_data.updated_at.in_time_zone.to_date %>
<br/><br/>
  <table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride" style= "table-layout: fixed;">
    <tr>
      <th style="text-align: center;"> Sr No. </th>
      <th> Country</th>
      <th> Users </th>
      <th> Children </th>
      <th style="width: 13%;"> Immunisations(Jabs)</th>
      <th> Timelines </th>
      <th> Measurments </th>
      <th> Milestones </th>
      <th> Pictures </th>
      <th> Documents </th>
    </tr>
    <% @report.each_with_index do |data,index|%>
    <% data = data.with_indifferent_access %>
      <tr>
        <td> <%= index+1 %>
        <td class="country"> <%= data["country"] %> </td>
        <td class="user"><%= data["users"]%></td>
        <td class="member"><%= data["children"]%></td>
        <td class="immunisation"><%= data[:immunisations]%>(<%=data[:jabs]%>)</td>
        <td class="timeline"><%= data[:timelines]%></td>
        <td class="measurement"><%= data[:measurements]%></td>
        <td class="milestone"><%= data[:milestones]%></td>
        <td class="pic"><%= data[:pics]%></td>
        <td class="Document"><%= data[:documents]%></td>
      </tr>
    <% end %>
    </table>
  <br/>
  <br/>
  
  Total entries in System:
  
  <table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride" style= "table-layout: fixed;">
  <tr>
      <th style="text-align: center;">Total count </th>
      <th> Country</th>
      <th> Users </th>
      <th> Children </th>
      <th style="width: 13%;"> Immunisations(Jabs)</th>
      <th> Timelines </th>
      <th> Measurments </th>
      <th> Milestones </th>
      <th> Pictures </th>
      <th> Documents </th>
    </tr>
     <tr>
        <td> 
        <td> <%= @report.count %> </td>
        <% if @report_data.blank? || @report_data.total_count_data.blank? %>
          <td><%= User.count %></td>
          <td><%= ChildMember.count %></td>
          <td><%= Vaccination.where(opted: "true").count %>(<%= Jab.count - Jab.in(vaccination_id:Vaccination.where(:opted.ne=>"true").pluck(:id)).count%>)</td>
          <td><%= Timeline.count %></td>
          <td><%= Health.count %></td>
          <td><%= Milestone.count %></td>
          <td><%= Picture.count %></td>
          <td><%= Document.count %></td>
        <% else %>
          <% total_count = @report_data.total_count_data.with_indifferent_access %>
          <td><%= total_count["user"] %></td>
          <td><%= total_count["children"] %></td>
          <td><%= total_count["vaccination"] %>(<%=total_count["jab"]%>)</td>
          <td><%= total_count["timeline"] %></td>
          <td><%= total_count["measurement"] %></td>
          <td><%=total_count["milestone"]  %></td>
          <td><%=total_count["picture"]  %></td>
          <td><%=total_count["document"]  %></td>
          
        <% end %>
      </tr>
  </table>
  <br/>

    <br/>
   
   <% @report_data.analytic_data.each do |k,v| %> 
    <b><%= k.humanize%> </b> : <%= v %><br/>
   <% end %>
   <!-- Average User: <%#= @average_user %> -->
</div>

<br/>
<br/>
<div>
<%= link_to "User not signed in last N months","#html", :class => "btn1 btn-type31 ", :data => {:pop => "/admin/users/user_not_signed_in_since_form" , :width => "510" } %>
 
</div>


<br/>
<br/>
<div>
<%= link_to "User signed in at least once every N days in last M days","#html", :class => "btn1 btn-type31 ", :data => {:pop => "/admin/users/user_login_atleast_once_at_interval_in_duration_form" , :width => "510" } %>
 
</div>
<% end %>
<br/>
<br/><br/>
<br/>
<style>
td{
  text-align: center ;
}
</style>
 