<div class="bodyWapper">
    <div class="tabBox">  
    <%= will_paginate @users %>
    <div class="CL"></div>
  </div>
  <div class="tabContainer">
    <div class="activityAction" style= "float:right;">
      <div class="jqSmallform1 FL"> 
      </div>
    </div> 
    
<div class="singleBx-type6" >
  <%= render :partial=>"search_form" %>
</div>
</div>



<!--  -->
    <div class="tabAction">
      <div class="tabactionlinks" style="margin-left: -10px;">
      </div>
      <div class="activityAction">
        <div class="jqSmallform FL popupFilter" style="margin-top: -7px;">
        </div>
        <div class="topgreenbar-cl" style="width: 224px;"></div>
      </div>
    </div>
    <div id="health_test_reports_list_div">
      <%= render :partial=>"user_list" %>
      <%= will_paginate @users %> 
 </div>
  </div>
  <div class="CL"></div>
</div>

 