<div class="bodyWapper">
<div class="tabBox"> 
<div class="activityAction" style= "float:right;">
      <div class="jqSmallform FL">
      <%#=link_to "All users", "/admin/users" %>
        
      </div>
    </div> 
    </div>
    <br/>
<div class="singleBx-type6" >
<%= form_tag "search", url:"/admin/users/search" do |f| %>
<div class="form-type1">
  <div class="form-row"> 
   <%= text_field_tag :start_date, nil, class: "textBx-type1 inputType2 dateInput" ,placeholder:"Start date", :readonly=>true %>
  </div>
  <div class="form-row">
    <%= text_field_tag :end_date, nil, class: "textBx-type1 inputType2 dateInput" ,placeholder:"End date", :readonly=>true %>
  </div>
  <div class="form-row">
    <!-- <label class="form-label">Country</label> --> 
    <%=select_tag "country", options_for_select(@all_countries, params[:country]),:prompt => 'Select country', :style=>"width:125px;",:class=>"custom-select" %>
  </div>
  <div class="form-row">
    <%= submit_tag "Search",class:"btn btn-type2" %>
  </div>
</div>

<% end %>
</div>
 
<%#= will_paginate @report %>
  <table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride" style= "table-layout: fixed;">
    <tr>
      <th> Sr No. </th>
      <th> Country</th>
      <th> Users </th>
      <th> Childern </th>
      <th style="width: 13%;"> Immunisations(Jabs)</th>
      <th> Timelines </th>
      <th> Measurments </th>
      <th> Milestones </th>
      <th> Pictures </th>
      <th> Documents </th>
    </tr>
     

    <% @report.each_with_index do |data,index|%>
      <% @user = @user.to_i + data[:users] %>
      <% @children = @children.to_i + data[:childern] %>
      <% @immunisations = @immunisations.to_i + data[:immunisations] %>
      <% @jabs = @jabs.to_i + data[:jabs] %>
      <% @timelines = @timelines.to_i + data[:timelines] %>
      <% @measurements = @measurements.to_i + data[:measurements] %>
      <% @pics = @pics.to_i + data[:pics] %>
      <% @milestones = @milestones.to_i + data[:milestones] %>
      <% @documents = @documents.to_i + data[:documents] %>
      <tr>
        <td> <%= index+1 %>
        <td> <%= data[:country] %> </td>
        <td><%= data[:users]%></td>
        <td><%= data[:childern]%></td>
        
        <td><%= data[:immunisations]%>(<%= data[:jabs]%>)</td>

        <td><%= data[:timelines]%></td>
        <td><%= data[:measurements]%></td>
        <td><%= data[:milestones]%></td>
        <td><%= data[:pics]%></td>
        <td><%= data[:documents]%></td>
      </tr>
    <% end %>
    
  </table><br/>
  <br/>
  Total entries in System:
  <table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride" style= "table-layout: fixed;">
  <tr>
      <th style="text-align: center;">Total count </th>
      <th> Country</th>
      <th> Users </th>
      <th> Childern </th>
      <th style="width: 13%;"> Immunisations(Jabs)</th>
      <th> Timelines </th>
      <th> Measurments </th>
      <th> Milestones </th>
      <th> Pictures </th>
      <th> Documents </th>
    </tr>
     <tr>
        <td> 
        <td> <%= @report.count %> </td>
        <td><%= @user %></td>
        <td><%= @children %></td>
        <td><%= @immunisations %>(<%= @jabs %>)</td>
        <td><%= @timelines %></td>
        <td><%= @measurements %></td>
        <td><%= @milestones %></td>
        <td><%= @pics %></td>
        <td><%= @documents %></td>
      </tr>
  </table>
  <!-- Average User: <%#=  @average_user %> -->
  <br/>

    <br/>
   
     
</div>

<style>
td{
  text-align: center ;
}
</style>