$(".js-cvtme_total_attempt_remaining_<%=@family.id%>").html("<%=@cvtme[:total_attempt_remaining]%>")
$(".js-cvtme_purchase_date_<%=@family.id%>").html("<%=@cvtme[:purchase_date].to_date.to_date2 rescue nil%>")
$(".js-cvtme_purchase_expiry_in_days_<%=@family.id%>").html("<%=@cvtme[:purchase_expiry_in_days]%>")

 
$.fn.close();