<% if @error %>
alert("Please add start date and expire date for subscription")
<% else%>
<% user_subscription_details = User.user_subscription(@current_member,4) %>
<%# subscription_manager,@subscription = user_subscription_details[2] == Subscription::Level["free"] ? [SubscriptionManager.free_subscription,Subscription.default_subscription(nil)] : [@subscription.subscription_manager,@subscription] %>
<% subscription_manager,@subscription = user_subscription_details[2] == Subscription::Level["free"] ? [SubscriptionManager.free_subscription,@subscription] : [@subscription.subscription_manager,@subscription] %>

$(".js-subscription").html("<%=user_subscription_details[1] %>")
$(".js-subscription-category").html("<%=user_subscription_details[2] > 0 && @subscription.assigned_by == 'admin' ? 'Free' :  'Paid' %>")


$(".js-subscription-tool-list").html("<%=user_subscription_details[0] %>");
$(".js-subscription-level").html("<%=user_subscription_details[2] %>");
$(".js-subscription-end").html("<%=@subscription.cancellation_date %>");
$(".js-subscription-start").html("<%=@subscription.start_date %>");
$(".js-subscription-renewal").html("<%=@subscription.last_renewal_date %>");
$(".js-subscription-expiry").html("<%=@subscription.expiry_date %>");
$(".js-subscription-trial").html("<%=@subscription.free_trial_end_date %>");
$(".js-subscription-certificate").html("<%=@subscription.subscription_valid_certificate %>");
$(".js-subscription-grace").html("<%=@subscription.grace_period_date %>");
$(".js-subscription-platform").html("<%=@subscription.platform %>");

 
$.fn.close();
<% end %>