
 <style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
}

.dataTables_scrollBody{
  min-height: 123px !important;
  max-height: 300px !important;
}
div.container {
  width: 100%;
    }

 </style>

<br/>
<br/>

<h2> Subscription History </h2>
<br/>
 
<table id="subscription_history" class="display" cellspacing="0" >
</table>
<div class="CL"></div>
 
  <script type="text/javascript">
   
   $(document).ready(function() {
    var t = $('#subscription_history').DataTable( {
       "scrollX":false,      
       "scrollY":true,      

        "rowCallback": function( row, data, iDisplayIndex ) {
           var info = $(this).DataTable().page.info();
           var page = info.page;
           var length = info.length;
           var index = (page * length + (iDisplayIndex +1));
           // $(row).attr('id',  data._id);
           $('td:eq(0)', row).html(index);
        }     ,
       "columns":[
          {"title":"SNO","data":null}, 
          {"title":"Family","data":"family_name"}, 
          {"title":"Subscription","data":"subscription"}, 
          {"title":"Assigned By","data":"assigned_by"}, 
          
          {"title":"Start Date(UTC)",
             mRender: function (data, type, row) {
              if (row.start_date.length >0){
                return new Date(row.start_date).toLocaleString("en-GB", {timeZone: "UTC"}) 
              }
              else{
                return ''
              }
             }
          }, 
          {"title":"End Date(UTC)",
             mRender: function (data, type, row) {
              console.log(row)
              if (row.end_date != "undefined" && row.end_date.length >0){
                return new Date(row.end_date).toLocaleString("en-GB", {timeZone: "UTC"}) 
              }
              else{
                return ''
              }
             }
          }, 
          {"title":"CancellationDate(UTC)",
             mRender: function (data, type, row) {
              if (row.cancellation_date != "undefined" && row.cancellation_date.length > 0) {
                return new Date(row.cancellation_date).toLocaleString("en-GB", {timeZone: "UTC"}) 

              }
              else{
                return ''
              }
          }   
          }, 

          {"title":"Expiry Date(UTC)",
             mRender: function (data, type, row) {
              if (row.cancellation_date != "undefined" && row.cancellation_date.length > 0) {
              return new Date(row.expiry_date).toLocaleString("en-GB", {timeZone: "UTC"}) }
              else{
                return ''
              }
             }
          }, 
          {"title": "subscription_valid_certificate","data":"subscription_valid_certificate"}
        ],
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 0 , "desc" ]],
        "serverSide": true,
        "pageLength":100,
        "ajax": {
            url: '/admin/subscription_maintenance/subscription_history_paginated_data',
            "data":{id:"<%=params[:id]%>"},
            "dataSrc": 'subscription_data'

        } 
      });

      
    
 

} );


 </script> 
