<br/>
  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#examplex').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0,
            "width": 40
        },{"width": 115,"targets": 1},{"width": 127,"targets": 2},{"targets": 3,"width": 117},{"targets": 4,"width": 119},{"targets": 5,"width": 97},{"targets": 6,"width": 150},{"targets": 7,"width": 231} ],
      "scrollX": false,
      "autoWidth" : true,
      "autoWidth": true,
      "autoHeight": true,
      "scrollY": false,
      "fixedHeader": true,
       "fixedColumns": true,
      "lengthMenu": [[5,10, 50, -1], [5,10, 50, "All"]],
      "order": [[ 0, "desc" ]]

    } ).draw();
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } );
t.columns.adjust().draw()
     

} );
 </script> 
 <style type="text/css">

table.dataTable {
    margin: 0 !important;
}
 div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
width: 100% !important;
}
.display{
width: 100% !important;
	}
.dataTables_scrollFootInner{
width: 100% !important;

}
.dataTables_scrollHeadInner{
  box-sizing: content-box; 
  padding-right: 0px;
width: 100% !important;
}

.dataTables_scrollBody{
  height: 200px !important;
}
table.dataTable tbody tr td {
    text-align: center;
} 
 </style>


 
<br/>
<br/>
<h2> User Families detail</h2>
 
<!-- <br/> -->
<br/>
 
<!-- <br/> -->
<br/>
<table id="examplex" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th></th>
            <th>Family Name </th>
            <th>Activity Status</th>
            <th>Activity Status V2</th>
            <th>Segment</th>
            <th>Pricing Stage</th>
            <th>Trial Days  </th>
            <th>Price Exemption </th>
            <th>Elder Members  </th>
            <th>No of kids</th>
            <th>No of mothers</th>
            <th>No of pregnancy</th>
            <th> Sent invitations</th>
            <th> Received invitations</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
          
            <th></th>
            <th>Family Name </th>
            <th>Activity Status</th>
            <th>Activity Status V2</th>
            <th>Segment</th>
            <th>Pricing Stage</th>
            <th>Trial Days  </th>
            <th>Price Exemption </th>
            <th>Elder Members  </th>
            <th>No of kids</th>
            <th>No of mothers</th>
            <th>No of pregnancy</th>
            <th> Sent invitations</th>
            <th> Received invitations</th>
           
          </tr>
        </tfoot>
        <tbody>
     <% @families.each do |family |  %>
        <tr>
           <td></td>
            <td> <%= family.name %>  </td>
            <td> <%= family.activity_status %>  </td>
            <td> <%= family.activity_status_v2 %>  </td>
            <td> <%= family.segment %>  </td>
            <td> <%= family.pricing_stage %>  </td>
            <td> <%= family.trial_days %>  </td>
            <td> <%= family.pricing_exemption %>  </td>
            <td style="white-space: pre-wrap; word-wrap: break-word;"> <%= Member.where(:id.in=>family.family_elder_member_ids).map(&:email).join(" ,\n") %>  </td>
            <td> <%= family.no_of_kids %>  </td>
            <td> <%= family.no_of_mothers %>  </td>
            <td> <%= family.no_of_pregnancy %>  </td>
            <td> <%= family.sent_invitations.count %>  </td>
            <td> <%= family.received_invitations.count %>  </td>
            

            
            
        </tr>
    <% end %>                  
    </tbody>
</table> 
   
  <!-- <div class="CL"></div> -->
   