$(".js_sign_in_atleast_result").html("")
$(".js_sign_in_atleast_result").html("<br/> Total no of number of user signed in at least once every <%=params[:interval]%> days in last <%= params[:duration]%> days : <b> <%=@count.to_i%></b>")