 <br/>
 <br/>
 <h2> Number of user signed in at least once every N days in last M </h2>
 
  
 <br/>
 <%= form_tag("/admin/users/user_login_atleast_once_at_interval_in_duration",method: 'get', remote: true) do %>
  <div class="form-type2">
    <div class="form-row">
        <label class="form-label">Duration(In Days)</label>
     
    <%= select_tag :duration, options_for_select(0..360), {:class => 'custom-select1  '} %>
    </div>

    <div class="form-row">
        <label class="form-label">Interval(In Days)</label>
     
    <%= select_tag :interval, options_for_select(0..360), {:class => 'custom-select1  '} %>
    </div>
     
    <%= submit_tag "submit",class: "btn btn-type2" %>
    <% end %>
    <br/>

    <div class="js_sign_in_atleast_result">
    </div>
  </div>
 