<div class="bodyWapper">
<div class="tabBox"> 
<div class="activityAction" style= "float:right;">
      <div class="jqSmallform FL">
      <%#=link_to "All users", "/admin/users" %>
        
      </div>
    </div> 
    </div>
    <br/>
 Uer list with their signup type .
<%= will_paginate @paginated_data %> 

</div>
 
  <table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride" style= "table-layout: fixed;">
    <tr>
      <th style="text-align: center;"> Sr No. </th>
      <th> Date</th>
      <th> FB Users </th>
      <th> Web Users </th>
       
    </tr>
      <% @data.each_with_index do |v,index| %>
      <tr>
        <td> <%= index+1 %>
        <td class="country"> <%= v["created_at"] %> </td>
        <td class="user">  <%= v["fb_user"] %> </td>
        <td class="member"><%= v['web_user'] %></td>
        
      </tr>
    <% end %>
    </table>
  <br/>
  <br/>
  
  Total entries in System:
  
  <table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride" style= "table-layout: fixed;">
     <tr>
        <td> Total count
        <td> <%= @paginated_data.total_entries %> </td>
        <td><%= User.not_in(uid:nil).count %></td>
        <td><%= User.where(uid:nil).count %></td>
          
      </tr>
  </table>
  <br/>

     
   <!-- Average User: <%#= @average_user %> -->
</div>

<style>
td{
  text-align: center ;
}
</style>

 