   <br/>
   <% if @user_subscription.present? %>
     <% subscription_manager = @user_subscription.subscription_manager %>
   User subscribed for Family <b><%= Family.find(@user_subscription.family_id).name %> </b> with subscription plan <b><%= subscription_manager.title%> </b> 
   <% else%>
     <% @user_subscription=  Subscription.default_subscription(nil) %>
     User subscribed for subscription plan <b> Free </b>
   <% end %>
   <br/>
   <br/>
 <%= form_tag("/admin/users/update_user_subscription",method: 'get', remote: true) do %>
  <div class="form-type2" style=" height:530px;overflow: scroll;">
    <div class="form-row">
        <label class="form-label">Family list</label>
     
    <%= select_tag :family_id, options_from_collection_for_select(@family_list,:id,:name), {:class => 'custom-select1  '} %>
    </div>
    <div class="form-row">
        <label class="form-label">Subscription list</label>
     
    <%= select_tag :subscription_manager_id, options_from_collection_for_select(@subscription_available,"id",:title,@user_subscription.subscription_manager_id), {:class => 'custom-select1  '} %>
     <%= hidden_field_tag :member_id, params[:id] %>
    </div>


    <div class="form-row">
      <label class="form-label">Subscription Device</label>
     
    <%= select_tag :subscription_device, options_for_select(["ios","android"],@user_subscription.platform), {:class => 'custom-select1  '} %>
      
    </div>


    <div class="form-row">
      <label class="form-label">Subscription Start Date</label>
     
    <%= text_field_tag :subscription_start_date, @user_subscription.start_date, style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
    
     <!-- <div class="form-row">
      <label class="form-label">Subscription Last Renewal Date</label>
     
    <%#= text_field_tag :subscription_last_renewal_date, @user_subscription.last_renewal_date, style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>
 -->
    

   

    <div class="form-row">
      <label class="form-label">Subscription Expiry Date</label>
     
    <%= text_field_tag :subscription_expiry_date, @user_subscription.expiry_date, style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>

     <div class="form-row">
      <label class="form-label">
     <%= check_box_tag :cancellation_date %>Subscription Cancellation Date</label>
     
    <%#= text_field_tag :subscription_cancellation_date, @user_subscription.end_date, style: "position: relative;z-index: 100000;", class: "textBx-type5 dateInput1 js-dob11", :readonly=>true %>
     <%= text_field_tag :subscription_cancellation_date_selected, @user_subscription.cancellation_date, style: "display:none;position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
    </div>

<!--  <div class="form-row">
      <label class="form-label">
     <%#= check_box_tag :is_trial_period, @user_subscription.free_trial_end_date.present? %>Subscription Free Trial Started?</label>
<div> -->


    <!-- <div class="form-row">
      <label class="form-label">
     Subscription Free Trial Date - <%#= @user_subscription.free_trial_end_date || "NA" %> </label> 
    <%#= text_field_tag :subscription_free_trial_end_date, @user_subscription.free_trial_end_date, style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput1 js-dob11", :readonly=>true %> 
    </div> -->
   
  
 

    <%= submit_tag "Update",class: "btn btn-type2" %>
    <% end %>
    <br/>

    <div class="js_no_sign_in_result">
    </div>
  </div>
 
 <script type="text/javascript">
    $( document ).ready(function(){
       var end_date_present = "false"=="<%=@user_subscription.subscription_valid_certificate %>"
       console.log(end_date_present)
      $("#cancellation_date").attr("checked",end_date_present);
      if(end_date_present){
        $("#subscription_cancellation_date_selected").show();
      }


      $("#is_trial_period").attr("checked","true" == "<%=@user_subscription.free_trial_end_date.present?%>");
    })
     $("#cancellation_date").change(function() {
    if(this.checked) {
        $("#subscription_cancellation_date_selected").show();
        $("#subscription_cancellation_date").hide();
    }
    else{
      $("#subscription_cancellation_date_selected").hide();
        $("#subscription_cancellation_date").show();
    }
});
       
 </script>