<br/>
 <br/>
 <h2> User not signed in last N months </h2>
 
  
 <br/> 
 <%= form_tag("/admin/users/user_not_signed_in_since",method: 'get', remote: true) do %>
  <div class="form-type2">
    <div class="form-row">
        <label class="form-label">Months</label>
     
    <%= select_tag :no_of_month, options_for_select(0..36), {:class => 'custom-select1  '} %>
     
    </div>
    <%= submit_tag "Find User not signed in since",class: "btn btn-type2" %>
    <% end %>
     
    <br/>
    <br/>

    <div class="js_no_sign_in_result">
    </div>
  </div>
 