 <% @data = data%>
 <% @fields = fields%>
 <% if (!class_name.present? rescue true) %>

 <% class_name = @data.present? ? @data.first.class.to_s : @class_name.to_s%>
 <% end %>
 <script type="text/javascript">
   $(document).ready(function() {
    var t = $("#<%=(@data.first.class.collection_name.to_s rescue class_name.to_s).gsub('::','_') %>").DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": <%=!params[:show_only]%>,
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 0, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-role').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_template_entry",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
.align_right{
  text-align: right;
}
.dataTables_scrollHead table tr th:last-child, .dataTables_scrollBody table>thead>tr th:last-child, .dataTables_scrollBody table>tbody>tr th:last-child {
    min-width: 121px;
}
<%if params[:show_only]%>
.popupWrapper{
  width: auto !important;
}
<% end %>
 </style>


<br/>
<h3><%=   %><h3>
<br/>
<% if (parent_mapped_id.present? rescue false)%>
 
<%= link_to "Add New", "/admin/system_template/new_system_record?class_name=#{class_name}&template_id=#{@system_template.id}&country_code=#{params[:country_code]}&parent_mapped_id=#{parent_mapped_id}"%>
<% else %>
<%= link_to "Add New", "/admin/system_template/new_system_record?class_name=#{class_name}&template_id=#{@system_template.id}&country_code=#{params[:country_code]}"%>
<% end %>


 <% if @system_template.mapped_table == "Nhs::GuideTiles"%>
   &nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;&nbsp;   &nbsp;   &nbsp;
   <%=link_to "Add category","#html",:class=>"",:data => {:pop => "/admin/system_template/add_syndicated_content_action_card_category?country_code=#{params[:country_code]}&template_id=#{@system_template.id}" , :width => "60%"},style: "width:63px" %>
  <% end %>
<div>
  <br/>
 
<table id="<%=(@data.first.class.collection_name.to_s rescue class_name.to_s).gsub('::','_')%>" class="cell-border" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th></th>
              <% @fields.each do |keys| %>
               
                <%if class_name == "SystemVaccin" && keys == "category"%>
                  <th>Route            </th>
                <%else%>
                  <th><%=keys.titleize%>            </th>
                <% end %>
              <% end %>
               

            <th>Action            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
             <% @fields.each do |keys| %>
              <%if class_name == "SystemVaccin" && keys == "category"%>
                  <th>Route            </th>
                <%else%>
                  <th><%=keys.titleize%>            </th>
                <% end %>
              <% end %>
              <% if @show_only != true %>
            <th>Action            </th>
            <% end %>
          </tr>
        </tfoot>
        <tbody>

     <% @data.each do |data|  %>
        <tr class="js-<%=data.class.collection_name.to_s%>-<%=data.id%>" style="text-align: right;">
            <td> </td>
             <% if class_name.to_s == "SystemMilestone"%>
               <%= render :partial=> "/admin/system_template/list/system_milestone", :locals=>{:data=>data,:fields=>fields}%>
            <% elsif class_name.to_s == "SystemJab"%>
               <%= render :partial=> "/admin/system_template/list/system_jab", :locals=>{:data=>data,:fields=>fields}%>
            <% elsif class_name.to_s == "System::GpsocImmunisationJab"%>
               <%= render :partial=> "/admin/system_template/list/gpsoc_immunisation_jab", :locals=>{:data=>data,:fields=>fields}%>
            <% elsif class_name.to_s== "SystemVaccin"%>
               <%= render :partial=> "/admin/system_template/list/system_vaccine", :locals=>{:data=>data,:fields=>fields}%>
            <% elsif class_name.to_s== "System::Pregnancy::PregnancyWeekDetail"%>
               <%= render :partial=> "/admin/system_template/list/pregnancy_week_detail", :locals=>{:data=>data,:fields=>fields}%>
            <% else %>

               <% @fields.each do |keys| %>
                  <td>
                    <%=data[keys].to_s.blank? ? "" : data[keys]  %>      
                  </td>
                <% end %>
              <% end %>
            <td> 
             
            <% country_code = data["country"] || data["country_code"] || country_code%>
          <% if @show_only != true %>
            <% if params[:action] != "show_system_record" %> 
              <%=link_to "Show","/admin/system_template/show_system_record?country_code=#{country_code}&template_id=#{@system_template.id}&class_name=#{data.class.to_s}&record_id=#{data.id}",style: "width:27px"%>
            <% else %>
            <% @parent_mapped = parent_mapped_id rescue nil%> 
              <%=link_to "Duplicate","/admin/system_template/duplicate_system_record?country_code=#{country_code}&template_id=#{@system_template.id}&class_name=#{data.class.to_s}&record_id=#{data.id}&parent_mapped_id=#{@parent_mapped}",style: "width:63px" ,:remote=> true%>
            <% end %>
               <%=link_to "","/admin/system_template/edit_system_record?country_code=#{country_code}&template_id=#{@system_template.id}&record_id=#{data.id}&class_name=#{data.class.to_s}",class: "icon-pencil txt-link-type2d"  %>    <%= link_to "", "/admin/system_template/delete_system_record?country_code=#{country_code}&template_id=#{@system_template.id}&class_name=#{data.class.to_s}&record_id=#{data.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2c js-#{data.id}" %>
                 <%=link_to "Linked Syndcated Content","#html",:class=>"",:data => {:pop => "/admin/system_template/get_linked_syndicated_content?country_code=#{country_code}&template_id=#{@system_template.id}&record_id=#{data.id}&class_name=#{data.class.to_s}" ,  :width => "90%"},style: "width:63px" %>
            <% end %>
            </td>
        </tr>
             <% end %>
    </tbody>
</table> 

</div>