  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-role').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_template_entry",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h3> <%= @system_template.title%> for <%= @selected_country || "all countries" %></h3>
<br/>
<%#= link_to "Add New", "/admin/system_template/new_system_record?template_id=#{@system_template.id}&country_code=#{@selected_country}"%>
 
<br/>
<br/>
 
<%= render :partial=> "/admin/system_template/list_record", :locals=>{data:@data,fields:@fields,country_code:country_code,class_name:@class_name} %>
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
