<%= form_tag "/admin/system_template/save_syndicated_content_action_card_category", :html => {:multipart => true },:remote=> true do |f| %>
<div>
  <h2 class="space-bottom-1">Add Category</h2>
  <h3><span class="js-error"> </span></h3>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
        <label class="form-label">Name</label>
        <%= text_field_tag :title, nil, :class=> "js-name textBx-type2" %> 
    </div>
    
    <div class="form-type3">
      <div class="form-action-row">
      
     <%=submit_tag "Save", class:"btn", data: { disable_with: "Please wait..." }%>
    </div></div>
  </div>
</div>
<% end %>
 
<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>