<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <%#= link_to "Role List", "/admin/role_for_admin_panel" %> 
 <br/>
 <br/>
 <div class="js-error-msg"></div>
 <br/>
 <%#= @system_template.errors.full_messages.first if @system_template.errors.any? %>

<%= form_tag "/admin/system_template/clone_complete_data_for_country", :class=>"js-clone_data_for_country", :html => {:multipart => true },:remote=> true do |f| %>
<div>
  <h2 class="space-bottom-1">Clone system data</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
        <label class="form-label">Source Country</label>
        <%= select_tag :source_country_code, options_for_select(@available_country_list), :class => 'custom-select1  ' %> 
          
    </div>
    <%= hidden_field_tag :template_id, @system_template.id%>
    <div class="form-row">
        <label class="form-label">Country for data to be cloned </label>
        <%= select_tag :destination_country_code, options_for_select(@available_country_for_clone), :class => 'custom-select1  ' %> 
          
    </div> 




    <div class="form-type3"><div class="form-action-row">
      
  
    </div></div>
  </div>
</div>
<% end %>
 <div class = "btn btn-type2 js-form_clone_country">  Clone</div>
 <%#= button_to "Cancel", "/admin/system_template_list_maintenance", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>


<script type="text/javascript">
  $(document).ready(function(){
    $(".js-form_clone_country").click(function(){
      
      $(".js-clone_data_for_country").submit();
    });
  });
</script>