 
<% if params[:parent_mapped_id].present? %>
<% parent_mapped_id = params[:parent_mapped_id] %>
<% data = @record %>
  var t = $("#<%=@class_name.collection_name.to_s%>").DataTable();
  var a = [''];
  <% record_data = [''] %>
  <% @fields.each do |column|%>
    a.push('<%=@record[column].to_s%>');
  <% end %> 
 <% country_code = @record["country"] || @record["country_code"] || @country_code%>
  <% @parent_mapped = parent_mapped_id rescue nil%> 
  <% action_row = []%>
  var yy = []
  yy.push('<%=link_to "Duplicate","/admin/system_template/duplicate_system_record?country_code=#{country_code}&template_id=#{@system_template.id}&class_name=#{@record.class.to_s}&record_id=#{data.id}&parent_mapped_id=#{@parent_mapped}",style: "width:63px" ,:remote=> true%>');
  yy.push('<%=link_to "","/admin/system_template/edit_system_record?country_code=#{country_code}&template_id=#{@system_template.id}&record_id=#{data.id}&class_name=#{data.class.to_s}",class: "icon-pencil txt-link-type2d"  %>    <%= link_to "", "/admin/system_template/delete_system_record?country_code=#{country_code}&template_id=#{@system_template.id}&class_name=#{data.class.to_s}&record_id=#{data.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2c js-#{data.id}" %>');
 a.push(yy.join(' '))
console.log(a)
     t.row.add(a).draw( true ).nodes().to$().addClass('js-<%=data.class.collection_name.to_s%>-<%=data.id%> align_right');
<% end %>   
$( "#clone-dialog" ).html("Record has been duplicated . It is added in bottom in the list.")
$( "#clone-dialog" ).dialog();

