  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": true,
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-role').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_template",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> All Template List </h2>
<br/>
<%= link_to "Add New Template", "/admin/system_template/new_template" %>
 
<br/>
<br/>
<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th></th>
             <th>Title            </th>
            <th>Description             </th>
            <th>MappedTable             </th>
            <th>Template For             </th>
            <th>Action            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th></th>
             <th>Title            </th>
            <th>Description             </th>
            <th>MappedTable             </th>
            <th>Template For             </th>
            <th>Action            </th>
          </tr>
        </tfoot>
        <tbody>
          
     <% @system_templates.each do | system_template |  %>
        <tr id="dataRow1">
            <td></td>
            <td > <%= link_to "#{system_template.title}", "/admin/system_template/#{system_template.id}" %></td>
            <td> <%= system_template.description%>  </td>
            <td> <%= system_template.mapped_table%>  </td>
            <td> <%= system_template.template_for%>  </td>
             
            <td> <%=link_to "","/admin/system_template/#{system_template.id}/edit",class: "icon-pencil txt-link-type2 "  %>    <%= link_to "", "/admin/system_template/delete_template?id=#{system_template.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{system_template.id}" %>
            </td>
        </tr>
    <% end %>                  
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
