
 
<%if @record.class.to_s == "SystemVaccin" %>
  <%= render :partial=> "/admin/system_template/forms/new_vaccine"%>
<% elsif @record.class.to_s == "SystemJab" %>
  <%= render :partial=> "/admin/system_template/forms/new_jab"%>
<% elsif @record.class.to_s == "System::Child::CheckupPlanner::Checkup" %>
  <%= render :partial=> "/admin/system_template/forms/new_child_checkup"%>
<% elsif @record.class.to_s == "System::Child::CheckupPlanner::Test" %>
  <%= render :partial=> "/admin/system_template/forms/new_child_system_checkup_test"%>
<% elsif @record.class.to_s == "AllergyManager" %>
  <%= render :partial=> "/admin/system_template/forms/new_system_allergy"%>
<% elsif @record.class.to_s == "AllergySymptomManager" %>
  <%= render :partial=> "/admin/system_template/forms/new_system_allergy_symptom"%>
<% elsif @record.class.to_s == "SystemTimeline" %>
  <%= render :partial=> "/admin/system_template/forms/new_system_timeline"%>
<% elsif @record.class.to_s == "SystemMilestone" %>
  <%= render :partial=> "/admin/system_template/forms/new_system_milestone"%>
<% elsif @record.class.to_s == "System::Pregnancy::PregnancyWeekDetail" %>
  <%= render :partial=> "/admin/system_template/forms/pregnancy_week_detail"%>
<% elsif @record.class.to_s == "System::GpsocImmunisationJab" %>
  <%= render :partial=> "/admin/system_template/forms/new_gpsoc_immunisation_jab"%>
<% elsif @record.class.to_s == "Nhs::GuideTiles" %>
  <%= render :partial=> "/admin/system_template/forms/nhs_guide_tile"%>
<% end %>