<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <%#= link_to "Role List", "/admin/role_for_admin_panel" %> 
 <br/>
 <br/>
 <br/>
 <%= @system_template.errors.full_messages.first if @system_template.errors.any? %>

<%= form_for @system_template,url:"/admin/system_template", :html => { :multipart => true } do |f| %>
<div>
  <h2 class="space-bottom-1">Add system_template</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
        <label class="form-label">Title</label>
         <%= f.text_field :title, class: "js-name textBx-type2"  %>
    </div> 

    <div class="form-row">
        <label class="form-label">Description</label>
         <%= f.text_field :description, class: "js-name textBx-type2"  %>
    </div> 

      <div class="form-row">
        <label class="form-label">Mapped Table</label>
        <%= f.select :mapped_table, options_for_select(available_system_table,@system_template.mapped_table), :class => 'custom-select1  ' %>
          
    </div> 

    <div class="form-row">
        <label class="form-label">Template For</label>
        <%= f.select :template_for, options_for_select(['child','pregnancy','all'],@system_template.template_for), :class => 'custom-select1  ' %>
          
    </div> 

     

 


    <div class="form-type3"><div class="form-action-row">
      
  
    </div></div>
  </div>
</div>
<% end %>
 <div class = "btn btn-type2 js-form-system_template">  Create</div>
 <%= button_to "Cancel", "/admin/system_template", :method => "get",class: "btn btn-type2"  %>
 <br/>
 <br/>
 <br/>


<script type="text/javascript">
  $(document).ready(function(){
    $("#nutrient_categories").tokenize({datas:"select",placeholder:""});
    $(".js-form-system_template").click(function(){
       
      $("#new_system_template").submit();
    });
  });
</script>