    
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
<%= link_to "All template list", "/admin/system_template",  class: "btn btn-type2"  %> 
<br/>
<% if (@country_data.first[0].downcase != "all" rescue true) %>
<%= link_to "Clone for Country","#html", :class => "btn btn-type2", :data => {:pop => "/admin/system_template/clone_form_for_country?template_id=#{@system_template.id}" , :width => "1124" } %>
<% end %>
<br/>
<h2> <%= @system_template.title%> </h2>
<br/>
 <h3>Select country:</h3>
<br/>
 
<%= select_tag :country, options_for_select(@country_data),:prompt => "Select country", :class => 'js-country custom-select1  ' %>
 <div class="js-data">
  </div>
  <div class="CL"></div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $(document).on("change",".js-country",function(){
      var country_code = $(this).val();
      var template_id = "<%=params[:id]%>"
      $.ajax({
        url: "/admin/system_template/get_system_data_for_selected_country",
        type: "GET",
        data: {country_code:country_code,template_id:template_id},
        dataType: "script"
      });
    });
     <% if params[:country_code].present? %>
  $(".js-country").val("<%=params[:country_code]%>")
  $(".js-country").change();
  <% end %>
  })
  
</script>
 
