<br/>
<br/>
<% country_code = params[:country_code]|| @country_code %>
<% if @show_only != true %>
<%= link_to "Back to main list", "/admin/system_template/#{@system_template.id}?country_code=#{country_code}",  class: "btn btn-type2"  %>
<br/>
<br/>
<br/>
<% if @next_record_id.present? %>
<%= link_to "Next", "/admin/system_template/show_system_record?class_name=#{@record.class.to_s}&record_id=#{@next_record_id}&country_code=#{country_code}&template_id=#{@system_template.id}"%>
<% end %>

<% if @previous_record_id.present? %>
<%= link_to "Previous", "/admin/system_template/show_system_record?class_name=#{@record.class.to_s}&record_id=#{@previous_record_id}&country_code=#{country_code}&template_id=#{@system_template.id}", :style=>"float:right;" %>
<% end %>

<% end %>

<%if @record.class.to_s == "SystemVaccin" %>
  <% @fields.delete("route")%>
  <%= render :partial=> "/admin/system_template/list_record", :locals=>{data:@data,fields:@fields,country_code:country_code}%>
  <% jab_data,jab_fields = SystemVaccin.get_jab_data(@record) %>
  <% if jab_data.present?%>
    <%= render :partial=> "/admin/system_template/list_record", :locals=>{data:jab_data,fields:jab_fields,country_code:country_code,parent_mapped_id:@record.id}%>
  <% else%>
    No data for SystemJab
  <% end%>

<%elsif @record.class.to_s == "SystemJab" %>
  <%= render :partial=> "/admin/system_template/list_record", :locals=>{data:@data,fields:@fields,country_code:country_code}%>
    
<% elsif @record.class.to_s == "System::Child::CheckupPlanner::Checkup"%>

  <%= render :partial=> "/admin/system_template/list_record", :locals=>{data:@data,fields:@fields,country_code:country_code}%>
  <% checkup_tests,test_fields = @record.class.get_checkup_test_data(@record) %>

  <%= render :partial=> "/admin/system_template/list_record", :locals=>{class_name:"System::Child::CheckupPlanner::Test", data:checkup_tests,fields:test_fields,country_code:country_code,parent_mapped_id:@record.id}%>
<% elsif @record.class.to_s == "SysMedicalEventTime"%>

  <%= render :partial=> "/admin/system_template/list_record", :locals=>{data:@data,fields:@fields,country_code:country_code}%>
  <% test_component,test_fields = @record.class.get_component_test_data(@record) %>
  <%= render :partial=> "/admin/system_template/list_record", :locals=>{data:test_component,fields:test_fields,country_code:country_code,parent_mapped_id:@record.id}%>
<% elsif @record.class.to_s == "SystemMilestone"%>
  <% @fields.delete("n2_m2")%>
  <% @fields.delete("n2_2m2") %>
  <%= render :partial=> "/admin/system_template/list_record", :locals=>{data:@data,fields:@fields,country_code:country_code}%>

<% else %>
<%= render :partial=> "/admin/system_template/list_record", :locals=>{data:@data,fields:@fields,country_code:country_code}%>
<% end %>


<div id="clone-dialog"></div>
