<% @syndicated_content = syndicated_content %>
<script type="text/javascript">
  $(document).ready(function(){
    // $("#syndicated_content_keywords").tokenize({datas:"select",placeholder:""});
    

    // $(".TokensContainer").focusout(function(){
    //  var keywords = $("#syndicated_content_keywords").tokenize().toArray().join(",")
    
    //   $("#keywords").val(keywords);
       
    // });
  });
</script>
<style type="text/css">
  .textBx-type2{
    background-color: #ffffff;
  }
</style>
  

 <br/>
 <br/>
 <br/>
 <br/>
<div class="js-error_msg">
<%= @syndicated_content.errors.full_messages.first if (@syndicated_content.errors.any? rescue false) %>
</div>
<% @is_new_record = @syndicated_content.new_record? %>
<% @url = @syndicated_content.new_record? ? "/admin/nhs_syndicated_content/add_syndicated_content" : "/admin/nhs_syndicated_content/update_syndicated_content"%>
  <% if @source == "syndicated_content_controller"%>
    <% remote_status = false %>
    <% style =  "" %>
  <% else %>
    <% style =  "overflow:scroll;height:400px" %>
    <% remote_status =  true %>
  
  <% end %>
    
    <%= form_for @syndicated_content,url: @url, :html => { :id=>"nhs_syndicated_content_form", :multipart => true,:style=>style },:remote=>remote_status do |f| %>
<div>
  <%= hidden_field_tag :source,@source%>
  <h2 class="space-bottom-1"><%= @is_new_record ? "Add" : "Update" %> Syndicated Content </h2>
  <% if !@is_new_record%>
   (Custom ID- <%=@syndicated_content.custom_id%>)
   <br/>
   <br/>
    <%= hidden_field_tag :syndicated_content_id,@syndicated_content.id %>
  <% end %>


  

  <div class="form-type2">
    <div class="form-row no-margin-bottom">
    
    <div class="form-row">
        <label class="form-label">Status</label>
         <%= f.select :status, options_for_select(['Draft','Testing','DevReview', 'Active','Deactive'],@syndicated_content.status), :class => 'custom-select1  ' %> 
    </div> 

    <div class="form-row">
      <label class="form-label">Title </label>
        <%= f.text_area :title, size: "30x5",class: "js-name textBx-type2"  %>
    </div> 


    <div class="form-row">
        <label class="form-label">Categories</label>
        <select  id="tokenize_categories" class="textBx-type2 js-category" name="nhs_syndicated_content[category]" multiple="multiple">
          <%(@categories||[]).each do |a|%>
            <option value="<%=a%>" selected><%=a%></option>
          <% end %>

        </select>
        <!-- <label class="form-label">Categories</label>-->
         <%= hidden_field_tag :categories  %> 
    </div>



    <% scenario_detail = (@syndicated_content.scenario_detail || {}) rescue {}%>
     <% value = scenario_detail.present? ? "ID: #{scenario_detail['custome_id']},  Title: #{scenario_detail['title']}" : nil %>
        <label class="form-label">Scenario(Type ID/Scenario description below to select)</label>
        <%= autocomplete_field_tag :system_scenario_custome_id,'',autocomplete_system_scenario_scenario_details_title_admin_pointers_path,:value=>value, :id_element=>'#system_scenario_detail_custom_id',:size=>120,'data-auto-focus' => true ,'min-length' => -1,:onfocus=>"javascript:$(this).autocomplete('search',' ');" %>
        
        <%=hidden_field_tag :system_scenario_detail_custom_id,scenario_detail['custome_id'] %>
    </div>

<br/>
    <div class="form-row">
      <label class="form-label">Genre </label>
        <%= f.text_field :genre,class: "js-name textBx-type2"  %>
    </div> 
<div class="form-row">
      <label class="form-label">Sort Order ID(Number only eg. 1,2,3..etc)</label>
        <%= f.text_field :order_id,class: "js-name textBx-type2"  %>
    </div> 

  <div class="form-row">
        <label class="form-label">Api link</label>
        <%= f.text_field :api_link, class: "js-name textBx-type2"  %>
    </div>

      <div class="form-row">
        <label class="form-label">Web Url(https://www.nhs.uk/.../)</label>
        <%= f.text_field :web_url, class: "js-name textBx-type2"  %>
      </div>

     <% notification_expiry = @syndicated_content.notification_expiry.split(".") rescue [] %>
       <div class="form-row">
        <label class="form-label">Notification Expiry </label>
        <%= select_tag :notification_expiry_period, options_for_select(["NA"]+(0..365).to_a,notification_expiry[0].blank? ? "NA" : notification_expiry[0]), :class => 'custom-select1  ' %>
        <%= select_tag :notification_expiry_frequency, options_for_select([["NA",""],['Day','day'],['Week','week'] ,['Month','month'],['Yearly','year']],notification_expiry[1]), :class => 'custom-select1  ' %> 
    </div>

    <div class="form-type3 js-save">
      <div class="form-action-row">
       <%= f.submit (@syndicated_content.new_record? ? "Create": "Update"), class: "btn btn-type2", disable_with: "Saving.."  %>
  
    </div>
    
  </div>

     <span class="js-next-syndicated_content">
  <%if (@next_syndicated_content_custom_id < @max_custom_id rescue false) %>

    <%= f.submit "Update and Edit Next", name:"update_and_edit_next", class: "btn btn-type2", disable_with: "Update and Edit Next"  %>
    <% end %>
</span>
  </div>
</div>
<% end %>
  <% if @source == "syndicated_content_controller"%>
  <% if @syndicated_content.new_record? %>
 <%= link_to "Cancel", "/admin/nhs_syndicated_content",class: "btn btn-type2"   %>
  <% else %>
 <%= link_to "Cancel", "/admin/nhs_syndicated_content/#{@syndicated_content.id}",class: "btn btn-type2"   %>
 <% end %>
  <% else %>
 <%= link_to "Cancel", "#",class: "btn btn-type2", :onClick=>"$('.pop-close').click()"  %>
 <% end %>
 <br/>
 <br/>
 <span class="js-next-syndicated_content" style="float: right">
  <%if (@next_syndicated_content_custom_id < @max_custom_id rescue false) %>
    <%= link_to "Edit Next syndicated_content", "/admin/nhs_syndicated_content/edit_next_syndicated_content?id=#{@next_syndicated_content_custom_id }", remote:true, :class=> "btn btn-type2" %>
    <% end %>
</span>

 <span class="js-previous-syndicated_content" style="float: right">
  <% if (@previous_syndicated_content_custom_id > 0 rescue false)  %>
    <%= link_to "Edit Previous syndicated_content", "/admin/nhs_syndicated_content/edit_previous_syndicated_content?id=#{@previous_syndicated_content_custom_id }", remote:true, :class=> "btn btn-type2" %>
    <% end %>
</span>
 <br/>
 <br/>
 <br/>
 <br/>
<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>

<script type="text/javascript">
$(document).ready(function(){
  $("body").on('keyup',"#system_scenario_custome_id", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
    if($("#system_scenario_custome_id").val().length < 1){
      $("#system_scenario_custome_id").focus();
    }
  }
  });
  $("#tokenize_categories").tokenize({datas:"select",placeholder:""});
    $(".js-save").click(function(){
      var categories = $("#tokenize_categories").tokenize().toArray().join(",")
      $("#categories").val(categories);
             
    });
    $(".js-next-syndicated_content").click(function(){
      var categories = $("#tokenize_categories").tokenize().toArray().join(",")
      $("#categories").val(categories);
       
       
    });

})
  
</script>