
<br/>
<br/>
<br/>

<h2> Syndicated Content List </h2>
<br/>
<% if @source == "syndicated_content_controller"%>

  <span class="js-next-syndicated_content">
    <% if @syndicated_content.present? %> 
      <%if @next_syndicated_content_custom_id.to_i < @max_custom_id.to_i %>
        <%= link_to "Next syndicated_content", "/admin/nhs_syndicated_content/go_to_next_syndicated_content?id=#{@next_syndicated_content_custom_id}", remote:true %>
        <% end %>
    </span>
    <span class="js-previous-syndicated_content" style="float: right">
      <% if @previous_syndicated_content_custom_id.to_i > 0 %>
        <%= link_to "Previous syndicated_content", "/admin/nhs_syndicated_content/go_to_previous_syndicated_content?id=#{@previous_syndicated_content_custom_id}", remote:true %>
        <% end %>
    </span>
    <br/>
    <br/>
    <% end %>

  <% if (linked_tool_custome_id.present? rescue false)%>
    <%=link_to "Add New syndicated_content", "#html",:data=>{:pop=> "/admin/nhs_syndicated_content/new_syndicated_content?linked_tool_custome_id=#{linked_tool_custome_id}&tool_type=#{tool_type}&tool_subtype=#{tool_subtype}",:height=>"500", :width => "810" }  %>
  <% elsif @source == "syndicated_content_controller"%>
    <%=link_to "Add New syndicated_content", "/admin/nhs_syndicated_content/new_syndicated_content?source=#{@source}" %>
   

  <% else %>
    <%=link_to "Add New syndicated_content", "#html",:data=>{:pop=>"/admin/nhs_syndicated_content/new_syndicated_content",:height=>"500", :width => "810" } %>
  <% end %>
<br/>
<br/>
<%end %>
<table id="syndicated_content" class="cell-border" cellspacing="0" >
</table>
  <div class="CL"></div>
  <script type="text/javascript">
   
   $(document).ready(function() {
    var t = $('#syndicated_content').DataTable( {
       "scrollX":true,      

        "rowCallback": function( row, data, iDisplayIndex ) {
           var info = $(this).DataTable().page.info();
           var page = info.page;
           var length = info.length;
           var index = (page * length + (iDisplayIndex +1));
           $(row).attr('id', data._id);
           $('td:eq(0)', row).html(index);
          if (<%=@source != "syndicated_content_controller"%>)
           { 
            $('td:eq(-1)', row).hide();
             
           }
        }     ,
        "headerCallback": function( thead, data, start, end, display ) {

           if (<%=@source != "syndicated_content_controller"%>)
           { 
             $(thead).find('th').eq(-1).hide();
             $(thead).find('th').eq(-2).hide();
           }
        },
       "columns":[
          {"title":"","data":null}, 
          {"title":"ID","data":"custom_id"}, 
          {"title":"Status","data":"status"}, 
          {"title":"Title","data":"title"},
          {"title":"Category","data":"category"}, 
          {"title":"Genre","data":"genre"}, 
          {"title":"SortOderId","data":"order_id"}, 

          {"title":"Api Link","data":"api_link"}, 
          {"title":"Web Link","data":"web_url"}, 
          {"title":"Notification Expiry","data":"notification_expiry"}, 
          {"title":"Content",
            mRender: function (data, type, row) {
                 return '<a href="#html", data-pop="/admin/nhs_syndicated_content/show_content?id=' + row._id + '&amp;tool_class=Nhs::SyndicatedContent" class="txt-link-type2" style="width:70px;">content</a>'
            }
          }, 
          {"title":"Scenario",
            mRender: function (data, type, row) {
                 return '<a href="#html", data-pop="/admin/scenario_details/show?linked_tool_id=' + row._id + '&amp;source=<%=@source%>&amp;tool_class=Nhs::SyndicatedContent" class="txt-link-type2" style="width:70px;">Show linked scenario</a>'
          }
        }, 
         {"title":"LinkedTool",
            mRender: function (data, type, row) {
                 return '<a href="#html", data-width="100px;" data-pop="/admin/nhs_syndicated_content/get_linkd_tool_with_sydicated_content?content_id=' + row._id + '&amp;source=<%=@source%>" class="txt-link-type2" style="width:70px;">LinkedTool</a>'
          }
        }, 
 
          {"title":"Action",
            mRender: function (data, type, row) {
                 return '<a href="/admin/nhs_syndicated_content/' + row._id + '" class="txt-link-type2" style="width:70px;">Show</a><a href="/admin/nhs_syndicated_content/fetch_content?id=' + row._id + '" class="txt-link-type2" style="width:70px;" data-remote="true">Fetch Content </a><a href="/admin/nhs_syndicated_content/edit_syndicated_content?id=' + row._id + '&amp;source=<%=@source%>" class="txt-link-type2" style="width:70px;">Edit</a><a href="/admin/nhs_syndicated_content/delete_syndicated_content?syndicated_content_id='+row._id+ '" class="qicon-trash-o txt-link-type2q js-' + row._id+ '" data-confirm="Are you sure you want to delete?" data-remote="true" style="width:70px;">Delete</a>  <a href="#html", data-pop="/admin/nhs_syndicated_content/link_with_tool?id=' + row._id + '" class="txt-link-type2" style="width:70px;">Link With Tool</a>'
          }
        }
      
        ],
      "lengthMenu": [[-1,5, 10, 50, 100, 200], ["All", 5, 10, 50, 100, 200]],
      "order": [[ 0, "asc" ]],
        "serverSide": true,
        "pageLength":100,
        "ajax": {
            url: '/admin/nhs_syndicated_content/paginated_data',
            "data":{id:"<%=params[:id]%>"},
            "dataSrc": 'syndicated_content_list'

        } 
      });

    //new $.fn.dataTable.FixedHeader( t );

    $('.js-delete').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      
      $.ajax({
        url: "delete_syndicated_content",
        "data": {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );


    //   $('#syndicated_content thead th').each( function () {
    //     var title = $(this).text();
    //     $(this).html( '<input type="text" placeholder="'+title+'" />' );
    // } );
    //   t.columns().every( function () {
    //     var that = this;
 
    //     $( 'input', this.footer() ).on( 'keyup change', function () {
    //         console.log(this.value)
    //         if ( that.search() !== this.value ) {
    //             that
    //                 .search( this.value )
    //                 .draw();
    //         }
    //     } );
    // } );

} );


 </script> 
 <style type="text/css">
  div.dataTables_scrollHead{
    padding: 0 0px;
    margin: 0px 19px 0px 1px;
}

.dataTables_scrollBody{
  min-height: 123px !important;
}
div.container {
        width: 80%;
    }

 </style>


 