  <script type="text/javascript">
   $(document).ready(function() {
    var t = $('#syndicated_tool_list').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
      "scrollX": false,
      "lengthMenu": [[10, 50, 100, 200, -1], [10, 50, 100, 200, "All"]],
      "order": [[ 1, "asc" ]]

    } );
    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
    $('.js-delete-link_tool').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delink_tool_with_syndicated_content",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );
 </script> 
 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
 </style>
 
<br/>
<br/>
<h2> Linked Tool List </h2>
<br/>
<br/>
<table id="syndicated_tool_list" class="cell-border" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th></th>
            <th>Tool                   </th>
            <th>CountryCode             </th>
            <th>Title                   </th>
            <th>Action                  </th>
          </tr>
        </thead>
       <!--  <tfoot>
            <tr>
            <th></th>
            <th>Title                   </th>
            <th>Class                   </th>
            <th>Action                  </th>
          </tr>
        </tfoot> -->
        <tbody>
    <% if @syndicated_linked_tools.present? %>
     <% @syndicated_linked_tools.each do | syndicated_linked_tool |  %>
        <tr id="dataRow1">
            <td></td>
            <td><%= syndicated_linked_tool.linked_tool_class%></td>
            <td><%= syndicated_linked_tool.get_country_code%></td>
            <td><%= syndicated_linked_tool.get_title%></td>
             
            <td> <%= link_to "", "/admin/nhs_syndicated_content/delink_tool_with_syndicated_content?id=#{syndicated_linked_tool.id}",confirm: "Are you sure you want to delete?", remote: true, class: "icon-trash-o txt-link-type2 js-#{syndicated_linked_tool.id}" %>
            </td>
        </tr>
    <% end %> 
    <% else %>
     No Tool linked.
    <% end %>                 
    </tbody>
</table> 
 <!-- </div>
    
  </div> -->
  <div class="CL"></div>
<!-- </div> -->
 
