<%= form_tag "/admin/nhs_syndicated_content/save_link_tool_linking", :html => {:multipart => true },:remote=> true do |f| %>
<div>
  <h2 class="space-bottom-1">Tool to be linked</h2>
  <div class="form-type2">
    <div class="form-row no-margin-bottom">

    <div class="form-row">
        <label class="form-label">Tool to be linked</label>
        <%= select_tag :tool_class, options_for_select(@tool_class),:prompt=>"Select tool for linking" ,   :class => 'custom-select1 js-tool-class ' %> 
    </div>

        <%#= select_tag :country_code, options_for_select(@available_country_list), :class => 'custom-select1  ' %> 
          
    <%= hidden_field_tag :content_id, @syndicated_content.id%>
    <div class="form-row js-tool">
        <label class="form-label">Country </label>
        <%= select_tag :country_code, options_for_select(["all",'']), :class => 'custom-select1  ' %> 
    </div> 

    <div class="form-row js-tool"> 
       <% value =   nil %>
        <label class="form-label">(Type tool relative word below to select)</label>
        <%= autocomplete_field_tag :linked_tool_class,'',autocomplete_link_tool_title_admin_nhs_syndicated_content_index_path,:value=>value, :id_element=>'#linked_tool_id',:size=>60,'data-auto-focus' => true ,'min-length' => -1,:onfocus=>"javascript:$(this).autocomplete('search',' ');", :fields => {:country_code => '#country_code',:class_name=>'#tool_class' } %>
        
        <%=hidden_field_tag :linked_tool_id %>
    </div>


    <div class="form-type3">
      <div class="form-action-row">
      
     <%=submit_tag "Save and link next", class:"btn", data: { disable_with: "Please wait..." }%>
    </div></div>
  </div>
</div>
<% end %>

<script type="text/javascript">
   $(document).ready(function() {
   
    $(".js-tool-class").chosen({
      width: "80%",
      search_contains: true
    });
   $('.js-tool-class').change( function () {
      this_obj = $(this);
      class_name = this_obj.val()
      
    
      $.ajax({
        url: "/admin/nhs_syndicated_content/get_country_list_for_tool_class",
        data: {class_name:class_name},
        script: "script",
        success: function(i){
          select = $('#country_code');
          select.empty();
          select.append("<option value=''>---Select tool country---</option>");
          if( i[0] == "NA"){
            $(".js-tool").hide()
           }
          else{
            $(".js-tool").show()
            for (var j = 0; j < i.length; j++){
              $("#country_code").append("<option value='" + i[j]+ "'>" + i[j]+ "     </option>");
            }
          }
        }
      });
       
    } );

    $("body").on('keyup',"#linked_tool_class", function(event) {
    if (event.keyCode == 8 || event.keyCode == 46)
    {
    if($("#linked_tool_class").val().length < 1){
      $("#linked_tool_class").focus();
    }
  }
  });

  })

   
</script>
<style type="text/css">
  .ui-autocomplete{ 
    overflow: auto;
    height: 179px;
  }
</style>