<% if @status == 200 %>
	$("#linked_tool_id").val('')
	$('[name="linked_tool_class"]').val("")
	$(".js-tool-class").val('')
	$(".js-tool-class").change()
<% else %>
alert("Error while linking")
<% end %>