
 <%#= form_tag("/admin/nhs_request_manager/media_data", method: "get") do %>
 <%= form_tag("/admin/nhs_request_manager/get_data", method: "get") do %>
 	<div class="form-row">
	     <label class="form-label">Start Date</label>
         <%if start_date == nil %>
             <%= text_field_tag :start_date, 'select' ,style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
         <%else%>
	       <%= text_field_tag :start_date, start_date ,style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
        <%end%>
    </div>
    <br/>

    <div class="form-row">
        <label class="form-label">End Date</label>
        <%if end_date == nil %>
    	    <%= text_field_tag :end_date,'end_date' ,style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
        <%else%>
            <%= text_field_tag :end_date,end_date ,style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
        <%end%>
    </div>

	<br/>	

    <div class="form-row">
        <label for="q">Page: </label>
        <%if page_value == nil %>
            <input id="page_value" name="page_value" type="number" required/>
        <%else%>
            <input id="page_value" name="page_value" type="number" value="<%=page_value%>" required/>
        <%end%> 
    </div>

    <div class="form-row">
        <label for="q">Comma Separated keywords : </label>

        <%if term == nil %>
            <input id="term" name="term" type="text" required/>
        <%else%>
            <input id="term" name="term" type="text" value="<%=term%>" required/>
        <%end%> 

    </div>

    <br/>

    <div class="form-row">
	    <input name="commit" type="submit" value="Search" class= "btn btn-type2"/>
        <!-- <input name="commit" type="submit" value="Save Videos content" class= "btn btn-type2"/> -->
    </div>

    <div class="form-row">
        <input name="commit" type="submit" value="Save" class= "btn btn-type2"/>
    </div>

 <% end %>
