
</br>

<h1>National Health Services Request</h1>
    <%=link_to "Search", "/admin/nhs_request_manager/nhs_search_request" ,class: "btn btn-type2"%>
      	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <%=link_to "news", "/admin/nhs_request_manager/nhs_news_request" ,class: "btn btn-type2" %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <%#=link_to "Videos", "/admin/nhs_request_manager/media_request" ,class: "btn btn-type2" %>
       <%=link_to "Videos", "/admin/nhs_request_manager/search_data" ,class: "btn btn-type2" %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <%=link_to "Show Saved Articles", "/admin/nhs_request_manager/show_saved_articles" ,class: "btn btn-type2" %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <%=link_to "Show Saved Videos", "/admin/nhs_request_manager/show_saved_media" ,class: "btn btn-type2" %>

       <%=link_to "Search Organisations", "/admin/nhs_request_manager/get_organisation_data" ,class: "btn btn-type2" %>
<br/>
<br/>
<br/>
<br/>
<br/>
