 
<% content_orders = ["newest","oldest"] %>
 <%= form_tag("/admin/nhs_request_manager/nhs_news_request_output", method: "get") do %>
 	<div class="form-row">
         <label class="form-label">Start Date</label>
         <%if start_date == nil %>
             <%= text_field_tag :start_date, 'select' ,style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
         <%else%>
           <%= text_field_tag :start_date, start_date ,style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
        <%end%>
    </div>
    <br/>

    <div class="form-row">
        <label class="form-label">End Date</label>
        <%if end_date == nil %>
            <%= text_field_tag :end_date,'end_date' ,style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
        <%else%>
            <%= text_field_tag :end_date,end_date ,style: "position: relative;z-index: 100000;", class: "textBx-type11 dateInput js-dob1", :readonly=>true %>
        <%end%>
    </div>

    <br/>   

    <div class="form-row">
        <label for="q">Page: </label>
        <%if page == nil %>
            <input id="page" name="page" type="number" required/>
        <%else%>
            <input id="page" name="page" type="number" value="<%=page%>" required/>
        <%end%> 
    </div>

    <div class="form-row">
        <label for="q">Comma Separated keywords : </label>

        <%if keywords == nil %>
            <input id="keywords" name="keywords" type="text" required/>
        <%else%>
            <input id="keywords" name="keywords" type="text" value="<%=keywords%>" required/>
        <%end%> 

        
    </div>

    <br/>
    
    <div class="form-row">
	    <label class="form-label">Order</label>

        <%if order == nil %>
            <select id="order" name="order" required>
            <option selected disabled>select</option>
            <% if content_orders.present? %>
            <% content_orders.each do |order| %>
                <option value=<%= order%>> <%= order%> </option>
            <% end %>
            <% end %>
        </select>

        <%else%>
            <select id="order" name="order" value="<%=order%>" required>
            <% if content_orders.present? %>
            <% content_orders.each do |order_value| %>

                <%if order == order_value %>
                    <option selected value=<%= order_value%>> <%= order_value%> </option>
                <%else%>
                    <option value=<%= order_value%>> <%= order_value%> </option>
                <%end%>
            <% end %>
            <% end %>
        </select>
        <%end%> 

    </div>
    
    <br/>

    <div class="form-row">
	    <input name="commit" type="submit" value="Search News" class= "btn btn-type2"/>
        <input name="commit" type="submit" value="Save News content" class= "btn btn-type2"/>
    </div>

    <div class="form-row">
        
    </div>

 <% end %>