 
 <% content_orders = ["asc","desc"] %>
 <%= form_tag("/admin/nhs_request_manager/show_organisation_data", method: "get") do |f| %>
 	
    <div class="form-row">
        <label for="q">Organisation Type : </label>
        <%if organisation_type.blank? %>
            <%= text_field_tag 'organisation_type', 'GP'%>
        <%else%>
            <%= text_field_tag 'organisation_type', organisation_type %>
        <%end%> 
    </div>

    <br/>

    <div class="form-row">
        <label for="q">Limit : </label>
        <%if organisation_type.blank? %>
            <%= text_field_tag 'limit', '25'%>
        <%else%>
            <%= text_field_tag 'limit', limit %>
        <%end%> 
    </div>

    <br/>

    <div class="form-row">
        <label for="q">Offset : </label>
        <%if offset.blank? %>
            <%= text_field_tag 'offset', ''%>
        <%else%>
            <%= text_field_tag 'offset', offset %>
        <%end%> 
    </div>

    <br/>

    <div class="form-row">
        <label for="q">Service Code : </label>
        <%if service_code.blank? %>
            <%= text_field_tag 'service_code', ''%>
        <%else%>
            <%= text_field_tag 'service_code', service_code %>
        <%end%> 
    </div>

    <br/>

    <div class="form-row">
        <label for="q">ODS Code : </label>
        <%if service_code.blank? %>
            <%= text_field_tag 'ods_code', ''%>
        <%else%>
            <%= text_field_tag 'ods_code', ods_code %>
        <%end%> 
    </div>

    <br/>

    <div class="form-row">
        <label for="q">Selected Fields : </label>
        <%if select_param.blank? %>
            <%= text_field_tag 'select_param', ''%>
        <%else%>
            <%= text_field_tag 'select_param', select_param %>
        <%end%> 
    </div>

    <br/>

    <div class="form-row">
        <label class="form-label">Order</label>

        <%if order == nil %>
            <select id="order" name="order" required>
            <option selected disabled>select</option>
            <% if order.present? %>
            <% content_orders.each do |order_value| %>
                <option value=<%= order_value%>> <%= order_value%> </option>
            <% end %>
            <% end %>
        </select>

        <%else%>
            <select id="order" name="order" value="<%=order%>" required>
            <% if content_orders.present? %>
            <% content_orders.each do |order_value| %>

                <%if order == order_value %>
                    <option selected value=<%= order_value%>> <%= order_value%> </option>
                <%else%>
                    <option value=<%= order_value%>> <%= order_value%> </option>
                <%end%>
            <% end %>
            <% end %>
        </select>
        <%end%> 

    </div>

    <br/>

    <div class="form-row">
        <label for="q">Order By : </label>
        <%if order_by.blank? %>
            <%= text_field_tag 'order_by', ''%>
        <%else%>
            <%= text_field_tag 'order_by', order_by %>
        <%end%> 
    </div>

    <br/>

    <div class="form-row">
        <label for="q">latitude : </label>
        <%if lat.blank? %>
            <%= text_field_tag 'lat', ''%>
        <%else%>
            <%= text_field_tag 'lat', lat %>
        <%end%> 
    </div>
    <br/>

    <div class="form-row">
        <label for="q">Longitude : </label>
        <%if long.blank? %>
            <%= text_field_tag 'long', ''%>
        <%else%>
            <%= text_field_tag 'long', lat %>
        <%end%> 
    </div>
    <br/>
    

    <div class="form-row">
	    <input name="commit" type="submit" value="Search Organisations" class= "btn btn-type2"/>
    </div>

 <% end %>