
<%= form_tag("/admin/nhs_request_manager/nhs_search_request_output", method: "get") do %>

  <label for="q">Search for:</label>
  <input id="q" name="q" type="text" />
  <input name="commit" type="submit" value="Search" class= "btn btn-type2"/>
  
<% end %>