<%= render :partial=>"/admin/nhs_request_manager/header" %>
<div class="singleBx-type6" >
  <%= render :partial=>"/admin/nhs_request_manager/form", :locals=>{:start_date=>@start_date,:end_date=>@end_date, :page_value=>@page, :term=>@keywords_string}%>

</div>

<div class="singleBx-type6" >
	<h3> Filtered Data </h3>
	<br/>
	<%= @data[:filtered_data].to_json %>
</div>

<div class="singleBx-type6" >
	<h3>Complete Data without Keywords</h3>
	<br/>
	<%= @data[:complete_data].to_json %>
</div>	