<%= render :partial=>"header" %>
<div class="singleBx-type6" >
  <%= render :partial=>"organisation_form",:locals=>{:organisation_type => "", :limit => "", :offset => "", :service_code => "", :ods_code => "", :select_param => "", :order_by => "", :order => "",:lat => "",:long => ""}%>
</div>