
<%= render :partial=>"header" %>
<div class="singleBx-type6" >
  <%= render :partial=>"search_form" %>
</div>

<div class="singleBx-type6" >

<h1>Seach for <b>"<%= @data["question"]["query"] %>"</b></h1>
<br/>
	<table width="100%" border="1" cellspacing="0" cellpadding="0" class="tableGride table_content" style= "table-layout: auto;">
        <tbody><tr>
             
            <th width="10%" align="left">id</th>
            <th width="12%" align="left">Title</th>
            <th width="7%" align="left">Summary</th>
            <th width="10%" align="left">Url</th>            
            <th width="10%" align="left">Collection</th> 
        </tr>

     <% @data["results"].each do |row_data|%>

        <tr id="dataRow1">
            <!-- <td ><input type="checkbox" id="<%#=user.id%>" /></td> -->
            <td align="left" valign="top" style="text-overflow: ellipsis;word-wrap: break-word;"> <%= row_data["id"] %> </td>
            <td align="left" valign="top" style="text-overflow: ellipsis;word-wrap: break-word;"> <%= row_data["title"] %> </td>
            <td align="left" valign="top" style="text-overflow: ellipsis;word-wrap: break-word;"> <%= row_data["summary"] %> </td>
            <td align="left" valign="top" style="text-overflow: ellipsis;"><a href=<%= row_data["url"] %>> <%= row_data["url"] %></a>  </td>
            <td align="left" valign="top" style="text-overflow: ellipsis;word-wrap: break-word;"> <%= row_data["collection"] %> </td>
        </tr>
            
    <% end %>                  
        
    </tbody>
</table> 

<br/>
<%= @data["results"] %>
</div>





<!-- Output will be shown here -->