<%= render :partial=>"header" %>
<div class="singleBx-type6" >
  <%= render :partial=>"news_form", :locals=>{:start_date=>@start_date,:end_date=>@end_date, :page=>@page, :keywords=>@keywords_string, :order=>@order}%>
</div>

<div class="singleBx-type6" >
	<h3> Filtered Data </h3>
	<br/>
	<% if @data != nil %>
		<%= @data[:filtered_data].to_json %>
	<%end%>
</div>

<div class="singleBx-type6" >
	<h3>Complete Data without Keywords</h3>
	<br/>

	<% if @data != nil %>
		<%= @data[:complete_data].to_json %>
	<%end%>
	
</div>


