  <script type="text/javascript">
   $(document).ready(function() {

    $('#example tfoot th').each( function () {
        var title = $(this).text();
        if(title !='')
          
          {
            $(this).html( '<input type="text" placeholder="'+title+'" />' );
          }
    } );

    var t = $('#example').DataTable( {
      "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],   
        
      "scrollX": true,
      "lengthMenu": [[-1, 10, 50, 100, 200], ["All",10, 50, 100, 200]],
        // "deferRender":    true,
        // "scrollY":        200,
        // "scrollCollapse": true,
        // "scroller":       true

    } );

    // Apply the search
    t.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            console.log(this.value)
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );


    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();

    $('.js-delete-module-access').click( function () {
      this_obj = $(this);
      id = $(this).data("id");
      $.ajax({
        url: "delete_batch_notification",
        data: {id:id},
        script: "script",
        success: function(){
          this_obj.parent().parent().remove()
        }
      });
       
    } );

} );

 </script> 

 <style type="text/css">
div.dataTables_scrollHead{
  padding: 0 0px;
  margin: 0px 19px 0px 1px;
}
/*
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    td {
        min-width:60px;
        max-width:200px;
    }*/
 </style>

<%= render :partial=>"header" %>
<br/>

<table id="example" class="display" cellspacing="0" width="100%">
 
        <thead>
          <tr>
            <th>                  </th>
            <th> Keywords       </th>
            <th> Link          </th>
            <th> Name       </th>
            <th> Description       </th>
            <th> Search Type          </th>
            <th> NHS Keywords       </th>
            <th> Link Relationship       </th>
            <th> Date Published          </th>
            <th> Date Modified       </th>
            
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>                  </th>
            <th> Keywords       </th>
            <th> Link          </th>
            <th> Name       </th>
            <th> Description       </th>
            <th> Search Type          </th>
            <th> NHS Keywords       </th>
            <th> Link Relationship       </th>
            <th> Date Published          </th>
            <th> Date Modified       </th>
          </tr>
        </tfoot>
        <tbody>
         <% if  @data.present? %>

     <% @data.each do | data |  %>
        <tr id="dataRow1">
            <td></td>

            <td> <%= data.keywords %>  </td>
            <td> <%= data.link %>  </td>
            <td> <%= data.link_name %>  </td>
            <td> <%= data.description %>  </td>
            <td> <%= data.search_type %>  </td>
            <td> <%= data.nhs_keywords %>  </td>
            <td> <%= data.link_relationship %>  </td>
            <td> <%= data.date_added %>  </td>
            <td> <%= data.date_modified %>  </td>

        </tr>
    <% end %>  
    <% end %>                
    </tbody>
</table> 