<%= render :partial=>"header" %>
<div class="singleBx-type6" >
  <%= render :partial=>"organisation_form",:locals=>{:organisation_type => @organisation_type, :limit => @limit, :offset => @offset, :service_code => @service_code, :ods_code => @ods_code, :select_param => @select_param, :order_by => @order_by, :order => @order,:lat => @lat,:long => @long}%>
</div>

<div class="singleBx-type6" >
	<h3> Organisations data </h3>
	<br/>
	<%= @data %>
</div>

