<!-- EMAIL Container -->
<tr>
  <td align="center" valign="top" width="600">
    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
      <!-- ICON, CHILD IMAGE, TITLE, FEATURE IMAGE, -->
      <tr>
        <td valign="top" align="center">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td width="30">&nbsp;</td>
              <td width="540" align="center">
                <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td height="40">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/Dental-Health-Icon.png"
                        alt="Z Score" height="30">&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="20">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center">
                      <strong><span style="font-size: 34px; margin: 0px; padding: 0px; color: #3F3F3F;">Dental
                          Health</span></strong>
                    </td>
                  </tr>
                  <tr>
                    <td height="10">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center">
                      <span style="font-size: 26px; margin: 0px; padding: 0px; color: #3F3F3F;">Stay on top of your <%=@child_name%>'s dental health</span>

                    </td>
                  </tr>
                  <tr>
                    <td height="50">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="col100" align="center" valign="top">
                      <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td valign="top"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/dental_health_chart.png"
                              alt="Feature 1" height="auto" width="200"></td>
                          <td width="20">&nbsp;</td>
                          <td valign="top">
                            <p style=" font-size: 20px; margin: 0px;"><strong>A comprehensive view</strong></p>

                            <p style="line-height: 1.4; color: #4e4e4e;">Track the complete life cycle of milk teeth eruption and shedding with easy to use interactive feature.</p>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" height="20">&nbsp;</td>
                        </tr>
                        <tr>
                          <td valign="top"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/dental_health_analytic.png"
                              alt="Feature 1" height="auto" width="200"></td>
                          <td width="20">&nbsp;</td>
                          <td valign="top">
                            <p style=" font-size: 20px; margin: 0px;"><strong>Relevant information</strong></p>
                            <p style="line-height: 1.4; color: #4e4e4e;"><span id="gmail-69">Nurturey's</span> dental health tool keeps you aware of the upcoming teeth that are due for your peace of mind and connects you with relevant guidance and information.</p>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3" height="20">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td width="30">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- 4 COLUMNS -->


      <!-- BUTTONS -->
      
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" valign="top">
                <a href="<%=@dental_health_deeplink%>">
                  <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/dental_health-button.png"
                  height="50" alt="Check Dental Health">
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td height="40">&nbsp;</td>
      </tr>

      <!-- UPCOMING TEETH (3 ROWS) -->
      <tr>
        <td align="center" valign="top" style="border-top: 1px solid #efefef;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr align="center" valign="top">
              <td width="30"></td>
              <td align="center" valign="top">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <!-- Title -->
                    <td class="col100" align="center" valign="top">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td height="50">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center" valign="top" width="100%">
                            <p style="font-size: 24px; margin: 0px;"><strong>Milk teeth due for eruption for <%=@child_name%></strong></p>
                          </td>
                        </tr>

                        <tr>
                          <td height="30">&nbsp;</td>
                        </tr>
                        <% if @upcoming_tooth_hash.present? %>
                           <% tooth_hash = @upcoming_tooth_hash[0] %>
                          <tr>
                            <td width="100%" align="center" valign="top">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td width="120" align="center" valign="top">
                                    <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/<%= tooth_hash[:title].downcase.gsub(" ","-") %>.png"
                                      height="80" alt="Lower right second molar">
                                  </td>
                                  <td width="20" style="width: 20px">&nbsp;</td>
                                  <td valign="top">
                                    <p style=" font-size: 18px; margin: 0px;"><strong><%= tooth_hash[:title] %></strong></p>
                                    <p style="font-size: 16px; line-height: 1.4; color: #4e4e4e; margin: 6px 0px;"><%= tooth_hash[:due_by_text] %></p>
                                    <p style=" font-size: 16px; margin: 0px;"></p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        <% end %>

                        <!-- <tr>
                          <td height="10" style="border-bottom: 1px solid #efefef;">&nbsp;</td>
                        </tr> -->
                        <!-- <tr>
                          <td height="10">&nbsp;</td>
                        </tr> -->
                        <%# end %>
                        <tr>
                          <td height="40">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>


                </table>
              </td>
              <td width="30"></td>
            </tr>


          </table>
        </td>
      </tr>

      <!-- BUTTONS -->
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" valign="top">
                <a href ="<%=@dental_health_deeplink%>">
                  <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/dental_health-button.png"
                  height="50" alt="Check Dental Health">
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td height="40">&nbsp;</td>
      </tr>

      <tr>
        <td width="100%" align="center" valign="top" style="border-top: 1px solid #efefef;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="40">&nbsp;</td>
            </tr>
            <tr>
              <td align="center" valign="top" width="100%">
                <p style="font-size: 24px; margin: 0px;"><strong>
                    <%= @child_name %>'s upcoming teeth at his age</strong></p>
              </td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
            <tr>
              <td><a href="https://www.youtube.com/watch?v=Oq9sghXWZds&feature=youtu.be"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/video-image.png" alt="Play Video"
                    style="height: auto; width: 100%;"></a></td>
            </tr>
            <tr>
              <td height="40">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- BUTTONS -->
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center" valign="top">
                <a href="<%= @dental_health_deeplink %>">
                  <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/dental_health-button.png"
                  height="50" alt="Check Dental Health">
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td height="40">&nbsp;</td>
      </tr>

    </table>
  </td>
</tr>
