
  <!-- EMAIL Container -->
  <tr>
    <td align="center" valign="top" width="600">
      <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
        
        <!-- ICON, CHILD IMAGE, TITLE, FEATURE IMAGE, -->
        <tr>
          <td valign="top" align="center" style="border-bottom: 1px solid #EAEAEA;;">
            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="30">&nbsp;</td>
                <td width="540" align="center">
                  <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                    <tr><td height="40">&nbsp;</td></tr>
                    <tr>
                      <td valign="top" align="center">
                        <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/Dental-Health-Icon.png" alt="Dental Health" height="30">&nbsp;
                      </td>
                    </tr>
                    <tr><td height="20">&nbsp;</td></tr>
                    <tr>
                      <td valign="top" align="center"><img src="<%= @child.profile_or_generic_image_url("small") %>" alt="Your Child" style="border-radius: 50%;" height="80" width="80">
                      </td>
                    </tr>
                    <tr><td height="20">&nbsp;</td></tr>
                    <tr>
                      <td align="center">
                        <strong><span style="font-size: 26px; margin: 0px; padding: 0px; color: #3F3F3F;"><%= @child_name %>&#39;s Dental Health</span></strong>
                      </td>
                    </tr>
                    <tr><td height="10" style="padding:0; margin:0; line-height: 0px;">&nbsp;</td></tr>
                    <tr>
                      <td align="center">
                        <p style="font-size: 14px;padding: 0px; margin: 0px; color: #9B9B9B;"> <%= @updated_at_text %> </p>
                      </td>
                    </tr>
                    <tr><td height="20">&nbsp;</td></tr>
                    <tr>
                      <td align="center" valign="top" width="100%"><p style="font-size: 18px; margin: 0px;"><strong><%= @child_name %></strong> has grown <%= @erupted_tooth_count %> teeth</p></td>
                    </tr>
                    <tr><td height="30">&nbsp;</td></tr>
                  </table>
                </td>
                <td width="30">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr><td height="40">&nbsp;</td></tr>
        <!-- 4 COLUMNS -->
        <tr>
          <td width="100%" align="center" valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td colspan="4"  width="100%" align="center">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="30">&nbsp;</td>
                      <td align="center" width="540" style="font-size: 20px; color: #F4AA52;"><strong>Teeth updated vs expected</strong></td>
                      <td width="30">&nbsp;</td>
                    </tr>
                    <tr><td colspan="3" height="20">&nbsp;</td></tr>
                  </table>
                </td>
              </tr>
              
            <% stat_data = @tooth_stats_hash.each_slice(2).to_a %>
    
              <tr>
                <% stat_data.each do |stat| %>

                <td class="col100" align="center" valign="top">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <% stat.each do |data|%>
                      
                      <td width="150" bgcolor="#F2F2F2" align="center" height="100" style="border: 1px solid #ffffff; padding: 10px;">
                        <p style="font-size: 14px; margin: 0px 0px 5px 0px;"><%=data["name"]%>
                        </p>
                        <p style="font-size: 30px; margin: 0px 0px 5px 0px;">
                          <strong>
                            <%=data["stat"]%>
                          </strong>
                        </p>
                        <p style="font-size: 12px; margin: 0px; color: #858585;">
                          <% if data["updated_at"].to_s.strip.empty?%>
                            <%= @updated_at_text_default %> 
                          <% else %>
                          <%= data[:updated_at]%> 
                          <% end %>
                        </p>
                      </td>
                      <% end -%>
                      
                    </tr>
                  </table>
                </td>
                <% end -%>
              </tr>
            </table>
          </td>
        </tr>
        
        <tr><td height="30">&nbsp;</td></tr>
        
        <tr>
          <td align="center" valign="top" style="border-bottom: 1px solid #efefef;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr align="center" valign="top">
                <td width="30"></td>
                <td width="540">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <!-- Title -->
                      <td align="center" valign="top">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center" valign="top"><span style="font-size: 20px; color: #F4AA52;"><strong>Recently updated teeth</strong></span></td>
                          </tr>
                          
                          <tr><td height="20" style="line-height: 0px;">&nbsp;</td></tr>
                          
                          <tr>
                            <td align="center">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <% if @recently_updated_teeth.present? %>  
                                  <tr bgcolor="#F5F5F5" height="30" style="font-size: 14px; color: #9B9B9B; font-weight: normal;">
                                    <th width="60%" align="left" style="padding-left: 10px;">Tooth</th>
                                    <th width="40%" align="left" style="padding-left: 10px;">Age</th> 
                                  </tr>
                                  
                                  <% @recently_updated_teeth.each do |tooth| %>
                                    <tr height="50" style="font-size: 14px;">
                                      
                                      <td valign="top"  style="padding-left: 10px; padding-top: 10px; font-size: 14px; border-bottom: 1px solid #eaeaea;"><strong><%=tooth[:title]%> </strong></td>
                                      
                                      <td valign="top" style="padding-left: 10px; padding-top: 10px; border-bottom: 1px solid #EAEAEA;">
                                        <% tooth = Child::ToothChart::ToothDetails.find (tooth[:child_tooth_id]) rescue nil%>
                                        <% updated_date = (tooth.shedded_on_date || tooth.erupted_on_date || tooth.created_at) rescue nil %>
                                         <%= ApplicationController.helpers.calculate_age(@child.birth_date,updated_date) rescue ""%> 
                                      </td> 
                                    </tr>
                                  <% end %>
                                  <% else %>
                                  <tr height="50" style="font-size: 14px;">

                                    
                                    <td align="center">
                                      <p style="font-size: 14px; color: #9B9B9B; margin: 0px; padding: 0px;">No teeth updated </p>
                                    </td>
                    
                      
                                    
                                  </tr>
                                <% end %>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height="20" style="line-height: 0px;">&nbsp;</td></tr>
                    <tr>
                      <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center" valign="top">
                               <a href="<%= @dental_health_deeplink %>"> 
                                <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/dental_health_update_button.png" height="50" alt="Update Dental Health">
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height="40" style="line-height: 0px;">&nbsp;</td></tr>
                  </table>
                </td>
                <td width="30"></td>
              </tr>
            </table>
          </td>
        </tr>
        
        <!-- BUTTONS -->
        
        
        <tr><td height="40">&nbsp;</td></tr>
        
        <!-- UPCOMING TEETH (3 ROWS) -->
        <tr>
          <td align="center" valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr align="center" valign="top">
                <td width="30"></td>
                <td>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <!-- Title -->
                      <td align="center" valign="top">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center" valign="top"><span style="font-size: 20px; color: #F4AA52;"><strong><%= @child_name %>&#39;s upcoming teeth at <%= @gender_pronoun %> age</strong></span></td>
                          </tr>
                          
                          <tr><td height="20" style="padding: 0px; margin: 0px; line-height: 0px;">&nbsp;</td></tr>
                        <% if @upcoming_tooth_hash.present? %>                          

                          <% [@upcoming_tooth_hash[0]].each do |tooth_hash| %>
                             <tr>
                            <td width="100%" align="center" valign="top">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td width="120" align="center" valign="top">
                                  <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/<%= tooth_hash[:title].downcase.gsub(" ","-") %>.png" height="80" alt="Lower right second molar">
                                  </td>
                                  <td width="20" style="width: 20px">&nbsp;</td>
                                  <td valign="top">
                                  <p style=" font-size: 18px; margin: 0px;"><strong><%=tooth_hash[:title]%></strong></p>
                                  <p style="font-size: 16px; line-height: 1.4; color: #4e4e4e; margin: 6px 0px;"><%=tooth_hash[:due_by_text]%></p>
                                  <!-- <p style=" font-size: 16px; margin: 0px;"><a href="#" style="color: #038231; text-decoration: none;">Learn more</a></p> -->
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          
                          <tr><td height="10" style="border-bottom: 1px solid #efefef;">&nbsp;</td></tr>
                          <tr><td height="10">&nbsp;</td></tr>
                          <%end %>
                        <% end %>
                        </table>
                      </td>
                    </tr>
                    <tr><td height="40">&nbsp;</td></tr>
                    <!-- BUTTONS -->
                    <tr>
                      <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center" valign="top">
                              <a href="<%= @dental_health_deeplink %>">
                                <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/dental_health-button.png" height="50" alt="Check Dental Health">
                              </a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="30"></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr><td height="40">&nbsp;</td></tr>
        
        <tr>
          <td width="100%" align="center" valign="top" style="border-top: 1px solid #efefef;"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="100%" align="center">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    
                    <tr>
                      <td width="30">&nbsp;</td>
                      <td width="540" align="center">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr><td height="40">&nbsp;</td></tr>
                          <tr>
                            <td align="center" valign="top" width="100%">
                              <p style="font-size: 24px; margin: 0px;"><strong>Check out this video for a quick overview</strong></p>
                            </td>
                          </tr>
                          <tr><td height="20">&nbsp;</td></tr>
                          <tr>
                            <td align="center" valign="top"><a href="https://www.youtube.com/watch?v=Oq9sghXWZds"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/video-image.png" alt="Play Video" style="height: auto; width: 100%;"></a>
                            </td>
                          </tr>
                          <tr><td height="20">&nbsp;</td></tr>
                          <tr>

                            <td align="center" valign="top">
                              <a href="<%= @dental_health_deeplink %>">
                                <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/dental_health/dental_health-button.png" height="50" alt="Check Dental Health">
                              </a>
                            </td>
                          </tr>
                          <tr><td height="40">&nbsp;</td></tr>
                          <tr>
                            <td height="40">
                              <p style="font-size: 14px; color: #4D4D4D;">Have a great day!<br/>Kind regards,<br/><br/>Team Nurturey</p>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td width="30">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr><td height="40">&nbsp;</td></tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr> 
