<tr>
    <td>
      <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="30">&nbsp;</td>
          <td width="540" align="center">
            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
              <tr><td height="40">&nbsp;</td></tr>
              <tr><td valign="top" align="center">

                <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/z-score-icon.png" alt="Z Score" height="30">&nbsp;</td></tr>
              <tr><td height="20">&nbsp;</td></tr>
              <tr>
                <td valign="top" align="center">
                <img src="<%= @child_member.profile_or_generic_image_url("small") %>" alt="Your Child" style="border-radius: 25px;">
                  
                </td>
              </tr>
              <tr><td height="20">&nbsp;</td></tr>
              <tr>
                <td align="center">
                  <strong><span style="font-size: 34px; margin: 0px; padding: 0px; color: #3F3F3F;"><%=@child_member.first_name%>&#39;s Z score Classification</span></strong>
                </td>
              </tr>
              <tr><td height="40">&nbsp;</td></tr>
            </table>
          </td>
          <td width="30">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
    
<% @zscore_analysis.each do |analysis| %>
  <% analysis_type = analysis[:type]%>
  <tr>
    <td class="classification" valign="top" align="center">
      <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="30">&nbsp;</td>
          <td width="540">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td align="center" valign="top">
                  <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/zscore/<%=analysis_type%>-icon.png" alt="<%=analysis_type.titleize%>">
                </td>
                <td width="20">&nbsp;</td>
                <td valign="top" align="center">
                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td valign="top" style="border-bottom: 1px solid #efefef; padding-bottom:10px; ">
                        <%=analysis_type.titleize%>
                      </td>
                    </tr>
                    <tr><td height="20">&nbsp;</td></tr>
                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                            <td valign="top">
                              <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/zscore/<%=analysis[:current_status][:status]%>.png" alt="Positive">
                            </td>
                            <td width="10">&nbsp;</td>
                            <td valign="top"><span style="margin:0px;"><%=analysis[:current_status][:message]%></span></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height="30">&nbsp;</td></tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <td width="30">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>


  
  <!-- BUTTON  -->  
  <tr>
    <td align="center" valign="top">
      <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td align="center" valign="top">
            <a href="<%= "#{APP_CONFIG['default_host']}?#{@zscore_deeplink.to_query}&source=email_deeplink&token=#{@user.deeplink_api_token}" %>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/zscore/zscore_button.png" alt="Check Z Score" height="50"></a>
          </td>
        </tr>
        <tr><td height="30">&nbsp;</td></tr>
      </table>
    </td>
  </tr>
    
 
  