<% zscore_tool_id = ::Child::Zscore.get_tool_id%>
<% zscore_tool = Nutrient.find(zscore_tool_id) %>
<tr>
  <td>
    <table class="center-table" width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td width="30">&nbsp;</td>
        <td width="540" align="center">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
            <tr><td height="40">&nbsp;</td></tr>
            <tr><td valign="top" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/z-score-icon.png" height="30"></td></tr>
            <tr><td height="20">&nbsp;</td></tr>
            <tr><td align="center"><strong><span style="font-size: 40px; margin: 0px; padding: 0px; color: #3F3F3F;">Z-Score Classification</span></strong></td></tr>
            <tr><td height="20">&nbsp;</td></tr>
            <tr><td align="center" style="font-size: 26px; margin: 0px; padding: 0px;"><span style="font-size: 24px; margin: 0px; padding: 0px; color: #4e4e4e">A must have tool - Z Score is WHO's most advanced tool to broadly understand and assess the growth of young children.</span></td></tr>
            <tr><td height="40">&nbsp;</td></tr>
          </table>
        </td>
        <td width="30">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>

<!-- First Section -->
<tr>
  <td>
    <table class="center-table" width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td width="30">&nbsp;</td>
        <td width="540" align="center">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
            <tr><td height="20">&nbsp;</td></tr>
            <tr>
              <td valign="top">
                <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td valign="top"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/zscore/zscore_analysis.png" alt="Feature 1" height="auto" width="200"></td>
                    <td width="20">&nbsp;</td>
                    <td valign="top">
                      <p style=" font-size: 20px; margin: 0px;"><strong>Understand whether <%=@child_member.first_name%>'s growth is on track </strong></p>
                      <p style="line-height: 1.4; color: #4e4e4e;">By calculating WHO's Z score tool, Nurturey will be able to indicate whether <%=@child_member.first_name%>'s height, weight and BMI data is on track or needs attention.</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td height="40">&nbsp;</td></tr>
            <tr>
              <td valign="top">
                <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td valign="top"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/zscore/weight_image.png" alt="Feature 2" height="auto" width="200"></td>
                    <td width="20">&nbsp;</td>
                    <td valign="top">
                      <p style="margin: 0px; font-size: 20px;"><strong>Understand <%=@child_member.first_name%>'s growth pattern with Z score charts</strong></p>
                      <p style="line-height: 1.4; color: #4e4e4e;">Kids go through growth spurts. It is normal for the growth indicators go above or below the normal pattern line on a few occasions. However, it is important to track pattern over a period of time.</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td height="20">&nbsp;</td></tr>
            <tr><td align="center"><a href="<%= "#{APP_CONFIG['default_host']}?#{@zscore_deeplink.to_query}&source=email_deeplink&token=#{@user.deeplink_api_token}" %>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/zscore/zscore_button.png" alt="Check Z Score" height="50"></a></td></tr>
            <tr><td height="40">&nbsp;</td></tr>
          </table>
        </td>
        <td width="30">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>

