<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="format-detection" content="telephone=no"> 
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
</head>
<body bgcolor="#f8f8f8" style="padding: 30px 0px; margin: 0px; font-family: 'Helvetica-Neue', 'Arial', 'sans-serif;">
  
  <style>
    @media screen and (max-width:580px) {
    
      .col100 {
        width: 100% !important;
        display: block !important;
      }
      
      .app-links td{
        width: 100% !important;
        display: block !important;
        text-align: center;
      }

  }
  </style>
  
  <table align="center" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; margin: 0px auto; max-width: 600px;">
    <tr>
      <td align="center">
        <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" height="40" alt="Nurturey">
      </td>
    </tr>
    
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
  
  <!-- EMAIL Container -->
  <tr>
    <td align="center" valign="top" width="600">
      <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
        
        <!-- ICON, CHILD IMAGE, TITLE, FEATURE IMAGE, -->
        <tr>
          <td valign="top" align="center">
            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="30">&nbsp;</td>
                <td width="540" align="center">
                  <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                    <tr><td height="40">&nbsp;</td></tr>
                    <tr>
                      <td valign="top" align="center" style="padding: 0px; margin: 0px;">
                        <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/immunisation/Immunisation Icon.png" alt="Immunisation" height="30">
                      </td>
                    </tr>
                    <tr><td height="20" style="padding: 0px; margin: 0px;">&nbsp;</td></tr>
                    <tr>
                      <td valign="top" align="center" style="padding: 0px; margin: 0px;">
                        <img src="<%= @child.profile_or_generic_image_url('thumb') %>" alt="Your Child" style="border-radius: 25px;">
                      </td>
                    </tr>
                    <tr><td height="10" style="padding: 0px; margin: 0px;">&nbsp;</td></tr>
                    <tr>
                      <td align="center">
                        <p style="font-size: 26px;padding: 0px; margin: 0px;"><strong><%=@child.first_name%>'s Immunisations is<br /><span style="color: #FAC266;">approaching</span></strong></p>
                        </td>
                    </tr>
                    <tr><td height="30">&nbsp;</td></tr>
                  </table>
                </td>
                <td width="30">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- EYE SIGHT -->
        <tr>
          <td align="center" valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr align="center" valign="top">
                <td width="30"></td>
                <td>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <!-- Title -->
                      <td align="center" valign="top">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center" valign="top" width="100%"><p style="font-size: 18px; margin: 0px;">It seems that the planned/estimated due date is approaching for <%=@child.first_name%>'s immunisations</p></td>
                          </tr>
                          
                          <tr><td height="30">&nbsp;</td></tr>
                          <tr>
                            <td>
                              <table style="width:100%" border="0" cellpadding="0" cellspacing="0">
                                <tr bgcolor="#F5F5F5" height="30" style="font-size: 14px; color: #9B9B9B; font-weight: normal;">
                                  <th width="50%" align="left" style="padding-left: 10px;">Immunisations</th>
                                  <th width="15%" align="left" style="padding-left: 10px;">Jab</th> 
                                  <th width="35%" align="left" style="padding-left: 10px;">Planned / Estimated on</th>
                                  
                                </tr>
                                 <% @jabs.each_with_index do |jab, index| %>
                                  <tr height="50" style="font-size: 14px;">
                                    <td style="padding-left: 10px; font-size: 14px; border-bottom: 1px solid #eaeaea;"><strong><%=jab[:vaccine].name%></strong></td>
                                    <td style="padding-left: 10px; border-bottom: 1px solid #EAEAEA;"><%= jab[:jab_index].to_i.ordinalize %></td> 
                                    <td style="padding-left: 10px; border-bottom: 1px solid #EAEAEA;"><%= jab[:schedule_date].to_date.to_date3%></td>
                                  </tr>
                                  <%end%>
                                
                                
                                </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="30"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><td height="20">&nbsp;</td></tr>
        <tr>
          <td width="100%" align="center">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="30">&nbsp;</td>
                <td align="center" valign="top" width="540">
                  <p style="font-size: 14px; color: #4D4D4D; margin: 0px; padding: 0px; text-align: center;">Open Nurturey app to view all upcoming Immmunisation schedules</p>
                </td>
                <td width="30">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><td height="20">&nbsp;</td></tr>
        
        <!-- BUTTONS -->
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" valign="top">
                  <a href="<%=@immunisation_deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/immunisation/button.png" height="50" alt="Immunisation"></a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        
        <tr><td height="40">&nbsp;</td></tr>
        
        <!-- VIDEO SECTION -->

        <tr>
          <td valign="top" align="center" style="padding:0;border-top: 1px solid #E8E8E8;">
            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="30">&nbsp;</td>
                <td width="540">
                  <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                    <tr><td height="40">&nbsp;</td></tr>
                    <tr>
                      <td align="center" valign="top"><span style="font-size: 26px;"><strong>Just few steps to get started</strong></span></td>
                    </tr>
                    <tr><td height="20">&nbsp;</td></tr>
                    <tr><td><a href="https://www.youtube.com/watch?v=6UfIJ1pfwv4"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/immunisation/video-image.png" alt="Play Video" style="height: auto; width: 100%;"></a></td></tr>
                    <tr><td height="20">&nbsp;</td></tr>
                    <tr><td align="center"><a href="<%=@immunisation_deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/immunisation/button.png" alt="Immunisation" height="50"></a></td></tr>
                    <tr><td height="40">&nbsp;</td></tr>
                  </table>
                </td>
                <td width="30">&nbsp;</td>
              </tr>

            </table>
          </td>
        </tr>
        
        <tr><td height="40">&nbsp;</td></tr>
        
      </table>
    </td>
  </tr>

<!-- FOOTER -->
    <%= render :partial=> "/layouts/updated_mailer_layout/footer"%>
<!-- Footer Ends -->  
  
</table>
</body>
</html>
