<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--[if !mso]><!-->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--[if (gte mso 9)|(IE)]>
      <style type="text/css">
        table {border-collapse: collapse;}
      </style>
    <![endif]-->
  </head>
  <body style="background-color:#F8F8F8;margin:0 !important;padding:0 !important;">
    <center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
      <div class="webkit" style="max-width:600px;margin:0 auto;">
        <!--[if (gte mso 9)|(IE)]>
          <table width="600" align="center">
            <tr>
              <td>
        <![endif]-->
        <table class="outer" align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;">
          <tbody>
          <tr>
            <td height="30" style="padding:0;"></td>
          </tr>
          <tr>
            <td style="padding:0;text-align: right;">
              <p style="font-size: 14px;">
                <a class="js-view_in_browser"href="<%= APP_CONFIG['default_host']%>/mails_view/<%= {:object_name=> 'user_notification', :object_id=> @user_notification.id, :mail=> 'batch_mail_text_html' }.to_query %>" target="_blank" style="text-decoration: none; color:#6B6B6B ">View in browser</a>
              </p>
            </td>
          </tr>
          <tr>
            <td height="10" style="padding:0;"></td>
          </tr>
          <tr>
            <td style="padding:0;">
              <!-- Email Container 600px -->
              <table class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;background-color:#ffffff;">
                <tbody><tr>
                  <td height="30" style="padding:0;"></td>
                </tr>
                <tr>
                  <td class="logo" style="padding:0;text-align:center;"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0;"></td>
                </tr>
                <tr>
                  <td height="30" style="padding:0;"></td>
                </tr>
                <!-- Main Image -->
                <tr>
                  <td style="padding:0;">
                    <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" border="0" cellpadding="0" cellspacing="0">
                      <tbody><tr>
              <td width="236" style="padding:0;"></td>
              <td class="one-column" style="padding:0;">
                <img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/birthday-<%=@age_in_month%>-months.png" height="158" width="128" alt="Happy <%=@age_in_month.ordinalize%> month birthday!">
              </td>
              <td width="236" style="padding:0;"></td>
            </tr>
            <tr>
              <td colspan="3" height="30" style="padding:0;"></td></tr>
               <tr>
                  <td width="254" style="padding:0;"></td>
                  <td class="one-column" style="padding:0;text-align: center">
                    <img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/Yay-word.png" height="60" width="92" alt="Yay!">
                  </td>
                  <td width="254" style="padding:0;"></td>
                </tr>
                <tr>
                  <td colspan="3" height="30" style="padding:0;"></td></tr>
                    <tr>
                      <td width="260" style="padding:0;"></td>
                      <td style="width: 80px; height: 80px; padding:0;text-align: center">
                        <img src="<%= @child.profile_or_generic_image_url("small") %>" alt="Yay!" style="border-radius: 50%" height="80" width="80">
                      </td>
                      <td width="260" style="padding:0;"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="30" style="padding:0;"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

                                
                <!-- Body Text -->
                <tr>
                  <td class="one-column" style="padding:0;">
                    <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" border="0" cellpadding="0" cellspacing="0">
                      <tbody><tr>
                        <td width="30" style="padding:0;"></td>
                        <td class="body-text" style="padding:0;">
                          <p style="font-size:24px;text-align:center;padding: 0px; margin: 0px; color: #F6A623;"><%= @child.first_name%> is now  <%= @age_in_month%> <%="month".pluralize(@age_in_month)%> old</p>
                          <br>
                      
                          <p style="font-size:18px;text-align:center;padding: 0px; margin: 0px;">We at Nurturey would like to wish <%=@child.pronoun4 %> a happy, healthy and active birthday</p>
                          <br>
                      
                          <p style="font-size:16px;line-height:24px;text-align:center;padding: 0px; margin: 0px;">We have created a timeline post for <%= @child.first_name.titleize%>'s to mark this day. Check it out and add a picture to create a gorgeous memory :)</p>
                        </td>
                        <td width="30" style="padding:0;"></td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
                <tr>
                  <td height="30" style="padding:0;"></td>
                </tr>

                <!-- Call to action -->
                <tr>
                  <td class="main-button" align="center" style="padding:0;text-align:center;" width="600">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="210" style="padding:0;"></td>
              <td width="180" height="50" align="center">
                <a href="<%=@deeplink%>" style="display:inline-block;width:180px;"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/view_timeline.png" width="180" height="50" alt="View timeline"></a>
                
              </td>
              <td width="210" style="padding:0;"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td height="30" style="padding:0;"></td>
    </tr>
    <!-- Regard Text -->
    <tr>
      <td style="padding:0;line-height: 26px; color: #6B6B6B;" align="center">Have a great day!<br>Kind regards,<br>Team Nurturey</td>
    </tr>
    <tr>
      <td height="30" style="padding:0;"></td>
    </tr>
    <!-- App stores -->
    <%#= render :partial=>"/layouts/updated_mailer_layout/app_store"%>
    <tr>
      <td height="30" style="padding:0;"></td>
    </tr>
  </tbody></table>
</td>
    </tr>
          <%= render :partial=>"/layouts/updated_mailer_layout/footer"%>
       
        </tbody>
      </table>
            
          
          <!-- Email Container 600px Ends -->
          <!-- Footer -->
            
              
          
          <!-- Footer Ends -->
        
      </div>
    </center>
  
</body></html>