<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
<style>
body {
padding: 0px;
margin: 0px;
font-family:Helvetica, Arial, "sans-serif";
}
  
h1, h2, h3 {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
  
@media screen and (max-width:560px) {
table td p, h1, h2, h3  {
width: auto !important;
display: block !important;
}

td.tool, .app-links td {
width: 100% !important;
display: block !important;
text-align: center;
}


.subscription-subtitle {
font-size: 0.75 !important;
}

  /*img {
    width: 100% !important;
    height: auto !important;
  }*/

  .logo td{
    width: 100% !important;
    display: block !important;
    text-align: center !important;
  }


}
</style>
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div class="webkit" style="max-width:600px;margin:0 auto;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
      <tr>
      <td>
    <![endif]-->

    
<!-- Email Starts -->
<table>
  <tr><td height="30" style="padding:0;"></td></tr>
  <tr>
    <td>
      <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td style="padding:0;"><img  src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="20" style="padding:0;"></td></tr>


<!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<tr>
  <td width="600" style="padding: 0px; margin: 0px; width: 600;">   
    <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif; color:#000000; margin:0 auto; padding: 0px; width:100%; max-width:600px; background-color:#ffffff;">
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td style="padding: 0px; margin: 0px; display: block;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="250" style="padding: 0; margin: 0;">&nbsp;</td>
              <td width="100" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_added/pregnancy-icon.jpg" width="50" alt="Nurturey Maths"></td>
              <td width="250" style="padding: 0; margin: 0;">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-weight: normal; font-size: 18px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Hi <%=@user_name%>,</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="10" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h1 style="font-weight: normal; font-size: 30px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Pregnancy has been added</h1></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-weight: normal; font-size: 18px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Nurturey helps you better manage things around your pregnancy like tests, immunisations, tracking through great sets of tools</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="70" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: normal; font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #ED5575;">Things to look out for</h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="left">
                <ul style="padding: 0px; margin: 0px;">
                  <li style="background: url('<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_added/list-dot.jpg') no-repeat left 5px; padding: 0px 0px 15px 20px; background-size: 10px; list-style: none; margin-bottom: 15px; border-bottom: 1px solid #efefef;">Currently the pregnancy is in its <strong><%=@pregnancy_week%></strong> and the estimated due date is <strong><%=@estimated_due_date%></strong> </li>
                  
                <% if @first_parental_test_date.present? %>
                  <li style="background: url('<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_added/list-dot.jpg') no-repeat left 5px; padding: 0px 0px 15px 20px; background-size: 10px; list-style: none; margin-bottom: 15px; border-bottom: 1px solid #efefef;">The first prenatal test has been estimated to be scheduled on <strong><%=@first_parental_test_date%></strong></li>
                <% end %>
                  <li style="background: url('<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_added/list-dot.jpg') no-repeat left 5px; padding: 0px 0px 0px 20px; background-size: 10px; list-style: none;">Use the <strong>Pregnancy Health Card</strong> tool to regulalry update your measurements and other vital health details</li>
                </ul>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="70" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: normal; font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #ED5575;">Terrific tools, each designed to help you at every stage of your pregnancy!</h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="left">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <% @tool_list.each_with_index do |tool, index| %>
                    <tr><td><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_added/<%=(tool[:identifier]).gsub(' ' ,'_')%>.jpg" width="24" alt="<%=tool[:title]%>" style="vertical-align: middle; display: inline-block; width: 24px !important;">&nbsp;&nbsp;<span style="font-size: 18px;"><strong><%= tool[:title]%></strong></span></td></tr>
                    <tr><td height="10" style="padding:0;"></td></tr>
                    <tr><td><p style="font-size: 16px; color: #7D7D7D; margin: 0px; padding: 0px;"><%= tool[:pregnancy_description]%></p></td></tr>
                      <% if index != @tool_list.length-1 %>
                      <tr><td height="20" style="padding:0; border-bottom: 1px solid #efefef;"></td></tr>
                      <tr><td height="20" style="padding:0;"></td></tr>
                    <%end%>
                  <% end %>
                  
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr><td align="center"><p style="font-size: 18px; color: #000000; margin: 0px; padding: 0px;">…and more to come</p></td></tr>
                </table>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="100">&nbsp;</td>
              <td width="400" align="center"><a href="<%=@deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_added/Manage_Tools.jpg" alt="Open Manage Tools" width="230" style="width: 230px !important;"></a></td>
              <td width="100">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="100" style="padding:0;"></td></tr>
      <%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
    </table>
  </td>
</tr>       
<!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>

</table>    
<!-- Email Ends -->   
    
</div>
</center>
</body>
</html>

  