<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
      table {border-collapse: collapse;}
    </style>
    <![endif]-->
  </head>
  <body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
    <style>
      @media screen and (max-width:560px) {
      table td p, h1, h2, h3  {
      width: auto !important;
      display: block !important;
      }
      .app-links td {
      width: 100% !important;
      display: block !important;
      text-align: center;
      }
      img {
      width: 100% !important;
      height: auto !important;
      }
      h1 {
      font-size: 34px !important;
      }
      }
    </style>
    <center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
      <div class="webkit" style="max-width:600px;margin:0 auto;">
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
        <tr>
          <td>
            <![endif]-->
            <!-- Email Starts -->
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td height="30" style="padding:0;"></td>
              </tr>
              <tr>
                <td style="padding: 0px; margin: 0px;">
                  <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="20">&nbsp;</td>
                      <td style="padding:0;" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
                      <td width="20">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="10" style="padding:0;"></td>
              </tr>
              <!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
              <tr>
                <td style="padding: 0px; margin: 0px;">
                  <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0; font-family:sans-serif; color:#333333; margin:0 auto; padding:0px; width:100%; max-width:600px; background-color:#ffffff; min-height: 200px;">
                    <tr>
                      <td style="padding: 0px; margin: 0px;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding: 0px; margin: 0px;">
                          <tr>
                            <td height="30">&nbsp;</td>
                          </tr>
                          <tr>
                            <td style="padding: 0px; margin: 0px;" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/main.jpg" height="314" style="max-width: 600px;" alt="Nurturey's GP Linking" ></td>
                          </tr>
                          <tr>
                            <td height="30">&nbsp;</td>
                          </tr>
                          <tr>
                            <td style="padding: 0px; margin: 0px;">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td width="50">&nbsp;</td>
                                  <td style="font-size: 18px; line-height: 36px;  padding: 0px; margin: 0px;" align="center">
                                    <p style="font-size: 30px; padding: 0px; margin: 0px;">With <strong>Nurturey’s GP linking</strong> feature, stay on top of your child's and your health!</p>
                                  </td>
                                  <td width="50">&nbsp;</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td height="30" style="padding:0;"></td>
                          </tr>
                          <tr>
                            <td style="padding: 0px; margin: 0px;" align="center">
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td width="50">&nbsp;</td>
                                  <td style="border-radius: 10px; background: #FFF8F9; min-height: 400px;" align="center">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td width="20">&nbsp;</td>
                                        <td style="padding: 0px; margin: 0px;" align="center"  bgcolor="#FFF8F9">
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td style="padding: 0px; margin: 0px;" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/child_health.png" alt="Access health records" height="30px" style="text-align: center; max-width: 30px;"></td>
                                            </tr>
                                            <tr>
                                              <td height="10" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px;"><strong>Access child health records</strong></p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="20" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px; font-size: 16px;">Manage child's vaccinations, measurements, check ups and more - all automatically synced and updated!</p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td width="20">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="50">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td height="20" style="padding:0;"></td>
                                </tr>
                                <tr>
                                  <td width="50">&nbsp;</td>
                                  <td style="border-radius: 10px; background: #EFF9FF; min-height: 400px;" align="center">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td width="20">&nbsp;</td>
                                        <td style="padding: 0px; margin: 0px;" align="center">
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td style="padding: 0px; margin: 0px;" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/manage-appointment-icon.png" alt="Book appointments with GP" height="30px" style="text-align: center; max-width: 30px;"></td>
                                            </tr>
                                            <tr>
                                              <td height="10" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px;"><strong>Book appointments with GP</strong></p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="20" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px; font-size: 16px;">Hassle-free and instant appointment booking for your child's and your health checks</p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td width="20">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="50">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td height="20" style="padding:0;"></td>
                                </tr>
                                <tr>
                                  <td width="50">&nbsp;</td>
                                  <td style="border-radius: 10px; background: #FFF8F9; min-height: 400px;" align="center">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td width="20">&nbsp;</td>
                                        <td style="padding: 0px; margin: 0px;" align="center">
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td style="padding: 0px; margin: 0px;" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/rx-icon.png" alt="Repeat prescriptions" height="30px" style="text-align: center; max-width: 30px;"></td>
                                            </tr>
                                            <tr>
                                              <td height="10" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px;"><strong>Repeat prescriptions</strong></p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="20" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px; font-size: 16px;">Order repeat prescriptions at a pharmacy of your choice - never forget a dose! </p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td width="20">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="50">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td height="20" style="padding:0;"></td>
                                </tr>
                                <tr>
                                  <td width="50">&nbsp;</td>
                                  <td style="border-radius: 10px; background: #EFF9FF; min-height: 400px;" align="center">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td width="20">&nbsp;</td>
                                        <td style="padding: 0px; margin: 0px;" align="center">
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td style="padding: 0px; margin: 0px;" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/email.png" alt="Messages" height="30px" style="text-align: center; max-width: 30px;"></td>
                                            </tr>
                                            <tr>
                                              <td height="10" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px;"><strong>Messages</strong></p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="20" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px; font-size: 16px;">Communicate with your GP directly through Nurturey</p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td width="20">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="50">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td height="20" style="padding:0;"></td>
                                </tr>
                                <tr>
                                  <td width="50">&nbsp;</td>
                                  <td style="border-radius: 10px; background: #FFF8F9; min-height: 400px;" align="center">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td width="20">&nbsp;</td>
                                        <td style="padding: 0px; margin: 0px;" align="center">
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td style="padding: 0px; margin: 0px;" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/nhs-content.png" alt="Reminders and guidance" height="30px" style="text-align: center; max-width: 40px;"></td>
                                            </tr>
                                            <tr>
                                              <td height="10" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px;"><strong>Reminders and guidance</strong></p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="20" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px; font-size: 16px;">Receive timely reminders and trusted guidance for health events such as upcoming appointments, prescription pick up, etc. </p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td width="20">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="50">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td height="50" style="padding:0;"></td>
                                </tr>
                                <tr>
                                  <td width="50">&nbsp;</td>
                                  <td style="border-radius: 10px; min-height: 400px;" align="center">
                                    <p style="padding: 0px; margin: 0px; font-size: 24px;"><strong>How do I link my GP?</strong></p>
                                  </td>
                                  <td width="50">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td height="20" style="padding:0;"></td>
                                </tr>
                                <tr>
                                  <td width="50">&nbsp;</td>
                                  <td style="border-radius: 10px; background: #EFF9FF; min-height: 400px;" align="center">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td width="20">&nbsp;</td>
                                        <td style="padding: 0px; margin: 0px;" align="center">
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px;"><strong>NHS Login</strong></p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="20" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px; font-size: 16px;">Use NHS Login to set up your PinkBook automatically! <br/> <br/>No NHS Login? Create one through Nurturey in a few taps</p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td width="20">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="50">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td height="20" style="padding:0;"></td>
                                </tr>
                                <tr>
                                  <td width="50">&nbsp;</td>
                                  <td style="border-radius: 10px; background: #FFF8F9; min-height: 400px;" align="center">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td width="20">&nbsp;</td>
                                        <td style="padding: 0px; margin: 0px;" align="center">
                                          <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px;"><strong>Account Linkage Key/Passphrase</strong></p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="20" style="padding:0;"></td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <p style="padding: 0px; margin: 0px; font-size: 16px;">Use the <strong>linkage key/passphrase</strong> provided by your GP to connect to your online account.</p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td height="30" style="padding:0;"></td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td width="20">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="50">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td height="20" style="padding:0;"></td>
                                </tr>
                                <tr>
                                  <td width="50">&nbsp;</td>
                                  <td style="border-radius: 10px; min-height: 400px;" align="center">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                        <td align="center">
                                          <p style="padding: 0px; margin: 0px; font-size: 24px;">
                                            <a href="<%=@deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/button.jpg" height="50px" alt="Link GP" style="max-width: 300px;"></a></p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="50">&nbsp;</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="50" style="padding:0;"></td>
                    </tr>
                    <!-- App stores -->
                    <tr>
                      <td  bgcolor="#ffffff"  style="padding:0;border-top: 1px solid #E8E8E8;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                          <tr>
                            <td height="60" valign="middle" style="padding:0;">
                              <p class="h3" style="font-size:12px;text-align:center;margin:0;padding: 0;"><b>Nurturey mobile app available on</b></p>
                            </td>
                          </tr>
                          <tr>
                            <td class="app-links" valign="top">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;">
                                <tr>
                                  <td width="160" style="padding:0;"></td>
                                  <td class="app-links" width="150" style="padding:0; margin-bottom: 20px;"><a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/AppleStore.jpg" width="150" alt="Apple app store" style="border:0; width: 150px !important;"></a></td>
                                  <td width="20" style="padding:0;"></td>
                                  <td width="150" style="padding:0; "><a href="https://play.google.com/store/apps/details?id=com.nurturey.app"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/GooglePlay.jpg" width="150" alt="Google Play store" style="border:0; width: 150px !important;"></a></td>
                                  <td width="160" style="padding:0;"></td>
                                </tr>
                                <tr>
                                  <td height="30" style="padding:0;"></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- App stores Ends-->
                  </table>
                </td>
              </tr>
              <!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
              <!-- Copyright & Links -->
              <%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>
              <!-- Footer Ends -->
            </table>
            <!-- Email Ends -->		
      </div>
    </center>
  </body>
</html>