<% if @birthday_email_for == "monthly" %>
  <%= render :partial=>"/batch_mailer/month_birthday_email_for_identifier_20" %>
<% elsif @birthday_email_for == "annually"%>
  <%= render :partial=>"/batch_mailer/birthday_email_for_identifier_20" %>
<% end %>