<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
<style>
@media screen and (max-width:560px) {
table td p, h1, h2, h3  {
width: auto !important;
display: block !important;
}

td.tool, .app-links td {
width: 100% !important;
display: block !important;
text-align: center;
}

.app-links td, .column {
width: 100% !important;
display: block !important;
text-align: center;
}


/*img {
  width: 100% !important;
  height: auto !important;
}
*/
h1 {
  font-size: 34px !important;
}


}
</style>
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div class="webkit" style="max-width:600px;margin:0 auto;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
      <tr>
      <td>
    <![endif]-->

    
    
<!-- Email Starts -->
<table>
  <tr><td height="30" style="padding:0;"></td></tr>
  <tr>
    <td>
      <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="10" style="padding:0;"></td></tr>


<!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<tr>
  <td style="padding: 0px; margin: 0px;">   
    <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto; padding: 0px; width:100%;max-width:600px;background-color:#ffffff; min-height: 200px;">
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table  width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="250">&nbsp;</td>
              <td width="100" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/pregnancy-thumbnail.jpg" alt="Pregnancy" width="70" style="display: inline-block !important;"></td>
              <td width="250">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="10" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-weight: normal; font-size: 14px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #000000;">
                  <%= @pregnancy.name%>
                </p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>

      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0"> 
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h1 style="font-weight: normal; font-size: 34px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">You are in the <strong><%= @pregnancy_week.to_i.ordinalize%> week</strong> of your pregnancy</h1></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0"> 
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: normal; font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">
                 <%= @pregnancy_week_text%> 
              </h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFF5F9" style="background-color: #FFF5F9;"> 
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center">
                
<!-- prenatal test -->
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr><td height="30" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/prenatal-icon.jpg" alt="Prental Tests" width="36" style="width: 36px !important;"></td></tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr><td width="400" align="center"><h3 style="font-weight: bold; font-size: 18px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">
                    Upcoming prenatal tests</h3></td></tr>
                    <% prenatal_test_button = "button1.png" %>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr>
                    <td width="500" style="padding: 0px; margin: 0px; border: 1px solid #FFE0E4;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFF5F9" style="background-color: #ffffff;">
                        <tr>
                          <td width="30">&nbsp;</td>
                          <td width="440" align="center">

                            <% if @upcoming_prenatal_test.present? %>
                             
                              <% prenatal_test_date = @upcoming_prenatal_test.est_due_time.in_time_zone(@current_user.time_zone).to_date.to_date4%>
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr><td height="30" style="padding:0;"></td></tr>
                                <tr><td width="400" align="center"><h4 style="font-weight: bold; font-size: 16px; color: #F3596B; text-align: center; padding: 0px; margin: 0px; display: inline-block;">
                                  <%= @upcoming_prenatal_test.name%>
                                </h4></td></tr>
                                <tr><td height="20" style="padding:0;"></td></tr>
                                <tr><td width="400" align="center"><p style="font-weight: normal; font-size: 18px; color: #000000; text-align: center; padding: 0px; margin: 0px; display: inline-block;">
                                <% if @upcoming_prenatal_test.component.present? %>
                                  The tests <%= @upcoming_prenatal_test.component.count > 1 ? 'are': 'is' %> estimated to take place on <strong>
                                    <%= prenatal_test_date%>
                                  </strong> and would include 
                                  <%= raw @upcoming_prenatal_test.component.map{|b| b.gsub(b,"<strong>#{b}</strong>")}.to_sentence %>
                                <% else %>
                                  The test is estimated to take place on <strong>
                                  <%= prenatal_test_date%></strong>. If you know about the test components that would be carried out, you can add them
                                  <tr><td height="20" style="padding:0;"></td></tr>
                                  <tr><td width="400" align="center"><h4 style="font-weight: normal; font-size: 14px; color: #7C7C7C; text-align: center; padding: 0px; margin: 0px; display: inline-block;">
                                  You will be reminded on the above date
                                </h4></td></tr>
                                  


                                  <% prenatal_test_button = 'add_test_component.png'%>
                                <% end %>
                                </p></td></tr>
                                <tr><td height="20" style="padding:0;"></td></tr>
                              </table>
                              <% else %>
                                  <% prenatal_test_button = "add_test.png"%>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr><td height="30" style="padding:0;"></td></tr>
                                    <tr><td width="400" align="center">
                                    <p style="font-weight: normal; font-size: 18px; color: #000000; text-align: center; padding: 0px; margin: 0px; display: inline-block;">
                                      No tests are scheduled as per the record. If your health practitioner has recommended any more test, add it in the <b>Prenatal Test</b> tool
                                    </p>
                                  </td>
                                </tr>
                                <tr><td height="20" style="padding:0;"></td></tr>
                              </table>
                            <% end %>
                          </td>
                          <td width="30">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr>
                    <td>
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="220">&nbsp;</td>
                          <td width="160"><a href="<%=@prenatal_test_deeplink%>"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/<%=prenatal_test_button%>" width="160" alt="Learn More" style="width: 160px !important; vertical-align: middle;"></a></td>
                          <td width="220">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                </table>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0"> 
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr><td height="35" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/Pregnancy-Health-Card-Icon.jpg" alt="Pregnancy Health Card" width="31" style="width: 31px !important;"></td></tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr><td width="400" align="center"><h3 style="font-weight: bold; font-size: 18px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Your current pregnancy health record</h3></td></tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr>
                    <td width="500" style="padding: 0px; margin: 0px;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="column" width="140" height="160" align="center" style="border: 1px solid #E3E3E3;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr><td height="20" style="padding:0;"></td></tr>
                              <tr><td height="24" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/weight-icon.png" width="21" alt="Width" style="width: 21px !important;"></td></tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td width="120" align="center"><h4 style="font-weight: bold; font-size: 14px; color: #000000; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Weight</h4></td></tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td width="120" align="center"><p style="font-weight: normal; font-size: 18px; color: #000000; text-align: center; padding: 0px; margin: 0px; display: inline-block;">
                                <% if @pregnancy_last_weight.present? && @pregnancy_last_weight["weight"].present?%>
                                  <%= @pregnancy_last_weight["weight"]%><%=@metric_system["weight_unit"] %>
                                <% else %>
                                   -
                                <% end %>
                            </p></td></tr>
                   
                
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td width="120" align="center"><p style="font-weight: normal; font-size: 12px; color: #7C7C7C; text-align: center; padding: 0px; margin: 0px; display: inline-block;">

                                <%= @measurment_updated_at_text.present? ? "Updated #{@measurment_updated_at_text}" : "#{@not_yet_updated}" %>
                                  
                                </p></td></tr>
                              <tr><td height="20" style="padding:0;"></td></tr>
                            </table>
                          </td>
                          <td class="column" width="30" height="20" align="center"></td>
                          <td class="column" width="140" height="160" align="center" style="border: 1px solid #E3E3E3;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr><td height="20" style="padding:0;"></td></tr>
                              <tr><td height="24" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/blood-pressure-icon.png" width="21" alt="Width" style="width: 21px !important;"></td></tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td width="120" align="center"><h4 style="font-weight: bold; font-size: 14px; color: #000000; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Blood pressure</h4></td></tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td width="120" align="center"><p style="font-weight: normal; font-size: 18px; color: #000000; text-align: center; padding: 0px; margin: 0px; display: inline-block;"><%=@pregnancy_last_bp.last_updated_record rescue "-" %></p></td></tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td width="120" align="center"><p style="font-weight: normal; font-size: 12px; color: #7C7C7C; text-align: center; padding: 0px; margin: 0px; display: inline-block;">
                                <%= @bp_updated_at_text.present? ? "Updated #{@bp_updated_at_text}" : "#{@not_yet_updated}" %>
                  

                            </p></td></tr>
                              <tr><td height="20" style="padding:0;"></td></tr>
                            </table>
                          </td>
                          <td class="column" width="30" height="20" align="center"></td>
                          <td class="column" width="140" height="160" align="center" style="border: 1px solid #E3E3E3;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr><td height="20" style="padding:0;"></td></tr>
                              <tr><td height="24" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/haemoglobin-icon.png" width="21" alt="Width" style="width: 21px !important;"></td></tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td width="120" align="center"><h4 style="font-weight: bold; font-size: 14px; color: #000000; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Haemoglobin</h4></td></tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td width="120" align="center"><p style="font-weight: normal; font-size: 18px; color: #000000; text-align: center; padding: 0px; margin: 0px; display: inline-block;">
                                <%= @pregnancy_last_hemoglobin.last_updated_record rescue "-"%></p></td></tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td width="120" align="center"><p style="font-weight: normal; font-size: 12px; color: #7C7C7C; text-align: center; padding: 0px; margin: 0px; display: inline-block;">
                                <%=  @hemoglobin_updated_at_text.present? ? "Updated #{@hemoglobin_updated_at_text}" : "#{@not_yet_updated}" %> 

                              </p></td></tr>
                              <tr><td height="20" style="padding:0;"></td></tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr>
                    <td>
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="190">&nbsp;</td>
                          <td align="center" width="220"><a href="<%= @pregnancy_health_card_deeplink%>"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/button2.png" width="220" alt="View full health record" style="width: 220px !important;"></a></td>
                          <td width="190">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                </table>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
         
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFF5F9" style="background-color: #FFF5F9;"> 
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr><td height="30" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/prenatal-icon.jpg" alt="Kick Counter" width="36" style="width: 36px !important;"></td></tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr><td width="400" align="center"><h3 style="font-weight: bold; font-size: 18px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Kick Counter</h3></td></tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr><td width="400" align="center"><p style="font-weight: normal; font-size: 18px; color: #000000; text-align: center; padding: 0px; margin: 0px; display: inline-block;">

                    <% if @kick_counter_records_count > 0  && @avg_kick_count.present? %>
                      You have experienced an avg of <strong><%= @avg_kick_count %> </strong> in the last week. Keep tracking baby movements on <strong>Kick Counter</strong> to keep monitoring your baby's development
                      <% kick_count_button = "button3.png"%>
                    <% elsif @pregnancy_week >= 28 && @kick_counter_records_count == 0 %>
                       You have not used Kick Counter this week. Use the <strong>Kick Counter</strong> tool to record your baby’s movement and easily monitor your baby's development
                      <% kick_count_button = "open_kick_counter.png"%>
                      
                    <% elsif @pregnancy_week >= 28  && @total_kick_count == 0%>
                      You have not recorded any baby kicks so far. Use the <strong>Kick Counter</strong> tool to record your baby’s movement and easily monitor your baby's development
                      <% kick_count_button = "open_kick_counter.png"%>
                    <% else %>
                      You are in the <%= @pregnancy_week.to_i.ordinalize%> week of your pregnancy. Baby Kicks should usually be monitored from 28th week. Scheduled date to start monitoring begins from 
                      <%= (@pregnnacy.expected_on - 12.weeks).to_date.to_date4 %>
                      <% kick_count_button = "open_kick_counter.png"%>
                    <% end %>
                  
                </p></td></tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr><td  align="center" width="200"><a href="<%=@kick_counter_deeplink%>"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/<%=kick_count_button%>" width="200" alt="View Kick Counter" style="width: 200px !important;"></a></td>   
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                </table>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <% if @recommneded_pointers.present? %>
        <tr><td height="30" style="padding:0;"></td></tr>
        <tr>
          <td width="100%" style="padding: 0px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0"> 
              <tr>
                <td width="50">&nbsp;</td>
                <td width="500" align="center">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr><td height="30" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/pointer-icon.jpg" alt="Pointers" width="28" style="width: 28px !important;"></td></tr>
                    <tr><td height="20" style="padding:0;"></td></tr>
                    <tr><td width="400" align="center"><h3 style="font-weight: bold; font-size: 18px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Here are a few interesting pointers</h3></td></tr>
                    <tr><td height="30" style="padding:0;"></td></tr>
                    <tr>
                      <td width="500" style="padding: 0px; margin: 0px; border: 1px solid #E3E3E3;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <% @recommneded_pointers.each do |pointer| %>
                          <tr><td width="400" align="center" height="50" style="border-bottom: 1px solid #E3E3E3;">
                            <a href="<%=@pointer_deeplink %>&feed_id=<%=pointer.id%>" style="text-decoration: none; color: #038231;"><%= pointer.name%></a></td></tr>
                            <% end %>
                        </table>
                      </td>
                    </tr>
                    <tr><td height="30" style="padding:0;"></td></tr>
                    <tr>
                      <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="190">&nbsp;</td>
                            <td width="220"><a href="<%=@pointer_deeplink%>"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/pregnancy_summary_batch_30/open_pointer.png" width="220" alt="Open Pointers" style="width: 220px !important; vertical-align: middle;"></a></td>
                            <td width="190">&nbsp;</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height="30" style="padding:0;"></td></tr>
                  </table>
                </td>
                <td width="50">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><td height="30" style="padding:0;"></td></tr>
      <% end %>
      <!-- App stores -->
      <%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
      <!-- App stores Ends-->
    </table>
  </td>
</tr>       
<!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  

<!-- Copyright & Links -->
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>
<!-- Footer Ends -->



</table>    
<!-- Email Ends -->   
    
</div>
</center>
</body>
</html>

  