<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


  


  <html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
  </head>

  <body bgcolor="#f8f8f8" style="padding: 30px 0px; margin: 0px; font-family: 'Helvetica-Neue', 'Arial', 'sans-serif;">

    <style>
      @media screen and (max-width:580px) {

        .col100 {
          width: 100% !important;
          display: block !important;
        }

        .col100 td {
          width: 100% !important;
          display: block !important;
          text-align: center;
        }

        .app-links td {
          width: 100% !important;
          display: block !important;
          text-align: center;
        }

      }
    </style>

    <table align="center" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; margin: 0px auto; max-width: 600px;">
      <!-- logo -->
      <tr>
        <td align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" height="40" alt="Nurturey"></td>
      </tr>
      <tr>
        <td height="20"></td>
      </tr>

      <%# if @premium_subscription_status %>
        <%= render :partial=>"/batch_mailer/dental_health_premium"%>
      <%# else %>
        <%#= render :partial=>"/batch_mailer/dental_health_free"%>
      <%# end %>
      
      <!-- FOOTER -->
      <%= render :partial=>"/layouts/updated_mailer_layout/footer"%>
      <!-- Footer Ends -->

    </table>
  </body>

  </html>



