<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
<style>
@media screen and (max-width:560px) {
table td p, h1, h2, h3  {
width: auto !important;
display: block !important;
}

.app-links td {
width: 100% !important;
display: block !important;
text-align: center;
}

/*
img {
  width: 100% !important;
  height: auto !important;
}*/

h1 {
  font-size: 34px !important;
}
  
td.tool-column {
width: 100% !important;
display: block !important;
}


}
</style>
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div class="webkit" style="max-width:600px;margin:0 auto;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
      <tr>
      <td>
    <![endif]-->

    
<!-- Email Starts -->
<table width="100%" cellpadding="0" cellspacing="0">
  <tr><td height="30" style="padding:0;"></td></tr>
  <tr>
    <td>
      <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="10" style="padding:0;"></td></tr>


<!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<tr>
  <td style="padding: 0px; margin: 0px;">   
    <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto; padding: 0px; width:100%;max-width:600px;background-color:#ffffff; min-height: 200px;">
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td style="padding: 0px; margin: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="20">&nbsp;</td>
              <td width="560" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  
                  <!-- Pregnancy Icon & Name -->
                  <tr>
                    <td style="padding: 0px; margin: 0px;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="250">&nbsp;</td>
                          <td width="100" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_due/pregnancy-thumbnail.jpg" alt="Your Pregnancy" width="70" style="display: inline-block !important;"></td>
                          <td width="250">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td height="10" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="50">&nbsp;</td>
                          <td width="500" align="center"><p style="font-weight: normal; font-size: 14px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #000000;"><%= @pregnancy.name%></p></td>
                          <td width="50">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                              
                  
                  <!-- Email Headline and Sub Head -->
                  <tr>
                    <td width="100%" style="padding: 0px;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="50">&nbsp;</td>
                          <td width="500" align="center"><h1 style="font-weight: normal; font-size: 34px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #000000;"><strong>You are nearing your due date</strong></h1></td>
                          <td width="50">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="50">&nbsp;</td>
                          <td width="500" align="center"><p style="font-weight: normal; font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #565656;">As you come closer to your due date, here is a few things we recommend to enjoy the full Nurturey experience</p></td>
                          <td width="50">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  
                  
                  <!-- First Section -->
              
                  <tr>
                    <td width="560" align="center" style="background-color:#F1F0FF; border-radius: 30px;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="30">&nbsp;</td>
                          <td width="500" style="padding: 0px;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr><td height="50" style="padding:0;"></td></tr>
                              <tr>
                                <td width="500" align="center"><h2 style="font-weight: normal; font-size: 24px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #000000;"><strong>Once baby is born, mark the pregnancy complete</strong></h2></td>
                              </tr>
                              <tr><td height="20" style="padding:0;"></td></tr>
                              <tr>
                                <td width="100%" style="padding: 0px;">
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td width="150">&nbsp;</td>
                                      <td width="80" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_due/manage-family.png" alt="Manage Family" width="60" style="display: inline-block !important; width: 60px !important;"></td>
                                      <td width="150">&nbsp;</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr><td height="20" style="padding:0;"></td></tr>
                              <tr>
                                <td width="440" style="width: 400px;" align="center"><p style="font-weight: normal; font-size: 18px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #40494F;">Once the baby is born, mark the pregnancy complete from your pregnancy detail screen, by going through <strong>Manage family</strong>.<br/><br/>Once you mark your pregnancy complete, Nurturey takes care of everything else, even if its twins or triplets</p></td>
                              </tr>
                              <tr><td height="20" style="padding:0;"></td></tr>
                              <tr>
                                <td width="500" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_due/image1.png" alt="Pregnancy Health Card" width="500" style="display: inline-block !important;"></td>
                              </tr>
                              <tr><td height="20" style="padding:0;"></td></tr>
                              <tr>
                                <td width="100%" style="padding: 0px;">
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <td width="160">&nbsp;</td>
                                      <td width="120" align="center"><a href="<%=@deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_due/take_a_look_btn.png" alt="Take a look" width="120" style="display: inline-block !important; width: 120px !important;"></td>
                                      <td width="160">&nbsp;</a></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr><td height="50" style="padding:0;"></td></tr>
                            </table>
                          </td>
                          <td width="30">&nbsp;</td>
                        </tr>
                      </table>

                    </td>
                  </tr>
              
                  <tr><td height="20" style="padding:0;"></td></tr>
                  
                  <!-- Second Section -->
              
                  <tr>
                    <td width="560" align="center" style="background-color:#FFF2E3; border-radius: 30px;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="30">&nbsp;</td>
                          <td width="500" style="padding: 0px;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr><td height="50" style="padding:0;"></td></tr>
                              <tr>
                                <td width="100%" align="center"><h2 style="font-weight: normal; font-size: 24px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #000000;"><strong>For the newborn(s), you will gain access to variety of tools to assist you in parenting</strong></h2></td>
                              </tr>
                              <tr><td height="30" style="padding:0; border-bottom: 1px solid #D8D8D8;"></td></tr>
                              <tr><td height="30" style="padding:0;"></td></tr>
                              <tr>
                                <td width="100%" style="width: 500px;" align="center"><p style="font-weight: normal; font-size: 18px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #F26969;"><strong>Let’s learn about few of them</strong></p></td>
                              </tr>
                              <tr><td height="50" style="padding:0;"></td></tr>

                            <% tool_list = {1=>["Measurements","Immunisations"],2=>["Milestones","Z score"],3=>['Child Health Card','Mental Maths']}%>

                            <% tool_list.each do |row,tools| %>

                              <!-- Tools List <%=row%> Row-->
                              <tr>
                                <td width="500" style="padding: 0px;">
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                      <% tools.each_with_index do |tool,index| %>
                                        <!-- <%=index%>st tool -->

                                      <td class="tool-column" width="235" valign="top">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                          <tr>
                                            <td width="60" valign="top"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/pregnancy_due/<%=(@tools_hash[tool][:identifier]).gsub(' ' ,'_') rescue nil%>.png" alt="<%=tool%>" width="60" style="width: 60px !important;"></td>
                                            <td width="10" style="display: inline-block;">&nbsp;</td>
                                            <td width="100%">
                                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr><td style="font-size:16px;"><strong><%=@tools_hash[tool][:title]%></strong></td></tr>
                                                <tr><td height="10" style="padding:0; display: inline-block">&nbsp;</td></tr>
                                                <tr><td style="color: #484759; font-size: 16px;">
                                                <%=@tools_hash[tool][:description]%></td></tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                      <% if index ==0%>
                                        <td class="tool-column" style="width: 30px; height: 30px" width="30" height="30px">&nbsp;</td>
                                      <% end %>
                                      <% end %>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <% if row == 3%>
                                <td height="50" style="width:100%;height:50px;padding:0;" width="100%"></td></tr>
                                <% else %>
                                <td height="30" style="width:100%;height:30px;padding:0;" width="100%"></td></tr>
                                <% end %>
                            <% end %>
                           
                              
                              
                              <tr>
                                <td width="440" style="width: 400px;" align="center"><p style="font-weight: normal; font-size: 18px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #F26969;"><strong>and many more</strong></p></td>
                              </tr>
                              <tr><td height="30" style="padding:0; border-bottom: 1px solid #D8D8D8;"></td></tr>

                              <tr><td height="30" style="padding:0;"></td></tr>
                              <tr>
                                <td align="center"><p style="padding: 0px; margin: 0px; font-size: 24px;">…and keep <strong>Nurturey updated</strong> with the latest information to utilize these tools to the best of their abilities</p></td>
                              </tr>
                              <tr><td height="50" style="padding:0;"></td></tr>
                            </table>
                          </td>
                          <td width="30">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                </table>
              </td>
              <td width="20">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="100" style="padding:0;"></td></tr>
      <!-- App stores -->
      <%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
      <!-- App stores Ends-->
    </table>
  </td>
</tr>       
<!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  
<!-- Copyright & Links -->
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>
<!-- Footer Ends -->



</table>    
<!-- Email Ends -->   
    
</div>
</center>
</body>
</html>

  