<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
<style>
@media screen and (max-width:560px) {
table td p, h1, h2, h3  {
width: auto !important;
display: block !important;
}

.app-links td {
width: 100% !important;
display: block !important;
text-align: center;
}
/*

img {
  width: 100% !important;
  height: auto !important;
}
    */

h1 {
  font-size: 34px !important;
}


}
</style>
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div class="webkit" style="max-width:600px;margin:0 auto;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
      <tr>
      <td>
    <![endif]-->

    
<!-- Email Starts -->
<table>
  <tr><td height="30" style="padding:0;"></td></tr>
  <tr>
    <td>
      <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="10" style="padding:0;"></td></tr>


<!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<tr>
  <td style="padding: 0px; margin: 0px;">   
    <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto; padding: 0px; width:100%;max-width:600px;background-color:#ffffff; min-height: 200px;">
      
      <tr>
        <td style="padding: 0px; margin: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr><td height="50">&nbsp;</td></tr>
            <tr><td align="center"><p style="margin: 0px; padding: 0px; color: #838383; font-size: 20px;">Introducing new feature</p></td></tr>
            <tr><td height="10">&nbsp;</td></tr>
            <tr><td align="center"><h1 style="margin: 0px; padding: 0px; color: #0D74CE; font-size: 40px; line-height: 40px;">NHS library</h1></td></tr>
            <tr><td height="30">&nbsp;</td></tr>
            
            
            <tr>
                            <td style="padding: 0px; margin: 0px;" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/nhs_library_promo_batch_37/main-image.jpg" height="300" style="max-width: 350px;" alt="NHS Library" ></td>
                        </tr>
                        <tr><td height="30">&nbsp;</td></tr>
                        <tr>
                            <td style="padding: 0px; margin: 0px;">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="50">&nbsp;</td>
                                        <td style="font-size: 18px; line-height: 24px;  padding: 0px; margin: 0px;" align="center">
                                            <p style="font-size: 24px;"><strong>Get credible NHS guidance, directly on the Nurturey app</strong></p>
 
                                            <p>To provide trusted, relevant content on to your fingertips, Nurturey directly links to the NHS, for credible article and guidance -  a dependable support for your pregnancy and parenting journey.</p>
                                            
                                            <p><a style="text-decoration: none; color: #14953A;" href="<%=@deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/nhs_library_promo_batch_37/button.jpg" height="50" width="300" alt="Open NHS Library"></a></p>
                                            
                                        </td>
                                        <td width="50">&nbsp;</td>
                                    </tr>
                                    <tr><td width="50">&nbsp;</td></tr>
                                </table>
                            </td>
                        </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <!-- App stores -->
      <%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
      
      <!-- App stores Ends-->
    </table>
  </td>
</tr>       
<!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  

<!-- Copyright & Links -->
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>



</table>    
<!-- Email Ends -->   
    
</div>
</center>
</body>
</html>

  