<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
<style>
@media screen and (max-width:560px) {
table td p, h1, h2, h3  {
width: auto !important;
display: block !important;
}

td.tool, .app-links td {
width: 100% !important;
display: block !important;
text-align: center;
}

.subscription-title {
font-size: 1em !important;
}

.subscription-subtitle {
font-size: 0.75 !important;
}

.subscription-pricing {
font-size: 1.6em !important;
}

/*img {
  width: 100% !important;
  height: auto !important;
}*/

h1 {
  font-size: 34px !important;
}

  .tool-column {
    width: 100% !important;
    display: block;
    text-align: center;
  }

}
</style>
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div class="webkit" style="max-width:600px;margin:0 auto;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
      <tr>
      <td>
    <![endif]-->

    
<!-- Email Starts -->
<table>
  <tr><td height="30" style="padding:0;"></td></tr>
  <tr>
    <td>
      <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="10" style="padding:0;"></td></tr>


<!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<tr>
  <td style="padding: 0px; margin: 0px;">   
    <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto; padding: 0px; width:100%;max-width:600px;background-color:#ffffff; min-height: 200px;">
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td style="padding: 0px; margin: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-weight: normal; font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Hi <%=@user_name%></p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="10" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h1 style="font-weight: normal; font-size: 34px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">A little one has been added to <%=@family_name%></h1></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td style="padding: 0px; margin: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/tools_info_email/<%=@child_role%>-child-icon.jpg" height="60" alt="Child" style="width: 60px !important;">
                <p style="display: block; font-size: 16px; text-align: center; margin: 10px 0px 0px;"><strong><%=@child_name%></strong></p><p style="font-size: 14px; display: block; text-align: center; margin-top: 5px;"><%=@child_age%> old</p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-weight: normal; font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Be on top of <%=@child_name%>’s health and development with Nurturey</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="left">
                <ul style="padding: 0px; margin: 0px;">
                  <li style="background: url('<%=APP_CONFIG['default_host']%>/assets/mailer/tools_info_email/list-dot.jpg') no-repeat left 5px; padding: 0px 0px 15px 20px; background-size: 10px; list-style: none; margin-bottom: 15px; border-bottom: 1px solid #efefef;"><%=@child_name%> was born on <%=@child_dob%>. Use <strong>Timeline</strong> to view important life events</li>
                  <% if @jab_count > 0%>
                  <li style="background: url('<%=APP_CONFIG['default_host']%>/assets/mailer/tools_info_email/list-dot.jpg') no-repeat left 5px; padding: 0px 0px 0px 20px; background-size: 10px; list-style: none;"><strong><%=@jab_count%> immunisation</strong> jabs have been scheduled for <%=@child_name%> and can be tracked through <strong>Immunisation</strong>.</li>
                  <% end %>
                </ul>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-weight: normal; font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Start the journey with these tools</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <% @ordered_tool_list_first_section.each_with_index do |tool, index| %>

        <tr>
          <%if index%2 != 0%>
            <td width="100%" style="padding: 0px;">
          <%else%>
            <td width="100%" style="padding: 0px;" bgcolor="#F4F4F4">
          <%end%>

            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="50">&nbsp;</td>
                <td>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr><td height="30" style="padding:0;"></td></tr>
                    <tr>
                      <td width="500" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/tools_info_email/<%=(tool[:identifier]).gsub(' ' ,'_')%>.jpg" style="width: 30px !important;">
                      
                      </td>
                    </tr>
                    <tr><td height="10" style="padding:0;"></td></tr>
                    <tr><td align="center" style="font-size: 18px; padding:0; margin: 0px; "><strong><%=tool[:title]%></strong></td></tr>
                    <tr><td height="10" style="padding:0;"></td></tr>
                    <tr>
                      <td align="center" style="font-size: 16px; padding:0; margin: 0px; color: #424242;"><%=tool[:description]%></td>
                    </tr>
                    <tr><td height="30" style="padding:0;"></td></tr>
                    <tr>
                      <td width="100%">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="240" align="center" class="tool-column">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr><td width="250" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/tools_info_email/<%=(tool[:identifier]).gsub(' ' ,'_')%>-img2.jpg" alt="<%tool[:title]%>-img2" width="240" style="width: 240px !important;"></td></tr>
                                <tr><td height="10" style="padding:0;"></td></tr>
                              </table>
                            </td>
                            <td width="20" class="tool-column">&nbsp;</td>
                            <td width="240" align="center" class="tool-column">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr><td width="250" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/tools_info_email/<%=(tool[:identifier]).gsub(' ' ,'_')%>-img3.jpg" alt="<%tool[:title]%>-img3" width="240" style="width: 240px !important;"></td></tr>
                                <tr><td height="10" style="padding:0;"></td></tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height="30" style="padding:0;"></td></tr>
                    <tr>
                      <td width="100%" style="padding: 0px;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="100">&nbsp;</td>
                            <td width="400" align="center">
                              <%if tool[:identifier] == "Measurements"%>
                                <a href="<%=@measurements_deeplink%>">
                              <%elsif tool[:identifier] == "Tooth Chart"%>
                                <a href="<%=@tooth_chart_deeplink%>">
                              <%else%>
                                <a href="<%=@milestones_deeplink%>">
                              <%end%>
                              <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/tools_info_email/<%=(tool[:identifier]).gsub(' ' ,'_')%>_button.jpg" alt="<%tool[:title]%>" width="210" style="width: 210px !important;"></a></td>
                            <td width="100">&nbsp;</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height="50" style="padding:0;"></td></tr>
                  </table>
                </td>
                <td width="50">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><td height="30" style="padding:0;"></td></tr>
      <%end%>

      
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: normal; font-size: 26px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">and many more terrific tools, each designed to help you at every stage of managing your children</h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="left">
                
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  
                  <% @tool_list_second_section.each_with_index do |tool, index| %>

                      <tr><td><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/tools_info_email/<%=(tool[:identifier]).gsub(' ' ,'_')%>.jpg" width="24" alt="<%=tool[:title]%>" style="vertical-align: middle; display: inline-block; width: 24px !important;">&nbsp;&nbsp;<span style="font-size: 18px;"><strong><%=tool[:title]%></strong></span></td></tr>
                      <tr><td height="10" style="padding:0;"></td></tr>
                      <tr><td><p style="font-size: 16px; color: #7D7D7D; margin: 0px; padding: 0px;"><%=tool[:description]%></p></td></tr>

                      <% if @tool_list_second_section.length != index + 1%>
                        <tr><td height="20" style="padding:0; border-bottom: 1px solid #efefef;"></td></tr>
                        <tr><td height="20" style="padding:0;"></td></tr>
                      <% end %>
                  <%end%>
                  
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr><td align="center"><p style="font-size: 18px; color: #000000; margin: 0px; padding: 0px;">…and more</p></td></tr>
                </table>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="100">&nbsp;</td>
              <td width="400" align="center"> <a href="<%=@manage_tool_deeplink%>"> <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/tools_info_email/manage_tools_button.jpg" alt="Manage Tools" width="210" style="width: 210px !important;"></a></td>
              <td width="100">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="100">&nbsp;</td>
              <td width="400" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/tools_info_email/smiley.jpg" width="30" alt="Smile" style="width: 30px !important;"></td>
              <td width="100">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="10" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center" style="font-size: 18px; color: #B1B1B1;"><em>Wish you happy parenting</em></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <!-- App stores -->
      <%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
      <!-- App stores Ends-->
    </table>
  </td>
</tr>       
<!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  

<!-- Copyright & Links -->
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>
<!-- Footer Ends -->



</table>    
<!-- Email Ends -->   
    
</div>
</center>
</body>
</html>

  