<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
<style>
@media screen and (max-width:560px) {
table td p, h1, h2, h3  {
width: auto !important;
display: block !important;
}

.app-links td {
width: 100% !important;
display: block !important;
text-align: center;
}


/*img {
  width: 100% !important;
  height: auto !important;
}*/

h1 {
  font-size: 34px !important;
}
  td [class="feature"] {
    width: 100% !important;
    display: block !important;
  }


}
</style>
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div class="webkit" style="max-width:600px;margin:0 auto;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
      <tr>
      <td>
    <![endif]-->

    
<!-- Email Starts -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr><td height="30" style="padding:0;"></td></tr>
  <tr>
    <td>
      <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="10" style="padding:0;"></td></tr>


<!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<tr>
  <td style="padding: 0px; margin: 0px;">   
    <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto; padding: 0px; width:100%;max-width:600px;background-color:#ffffff; min-height: 200px;">
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td style="padding: 0px; margin: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
                  <tr>
                    <td style="padding: 0px; margin: 0px;" align="center">
                      <p style="font-size: 40px; color: #E51B4A; padding: 0px; margin: 0px;">A contest that might put £100 in your pocket*</p>
                    </td>
                  </tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr>
                    <td style="padding: 0px; margin: 0px;" align="center">
                      <p style="font-size: 24px; color: #696969; padding: 0px; margin: 0px;"><em>(And definitely a big smile on your kid’s face!)</em></p>
                    </td>
                  </tr>
                  <tr><td height="50" style="padding:0;"></td></tr>
                  <tr>
                    <td style="padding: 0px; margin: 0px;" align="center">
                      <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/design_smile/revised_des_logo.jpg" alt="Design a smile" width="300" style="max-width: 300px;">
                    </td>
                  </tr>
                  <tr><td height="50" style="padding:0;"></td></tr>
                  <tr>
                    <td style="padding: 0px; margin: 0px;" align="center">
                      <p style="font-size: 20px; color: #E51B4B; padding: 0px; margin: 0px;"><strong>What is this contest all about?</strong></p>
                    </td>
                  </tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr>
                    <td style="padding: 0px; margin: 0px;" align="center">
                      <p style="font-size: 18px; color: #000000; padding: 0px; margin: 0px;">To celebrate the National Smile Month, Digital Red Book, Nurturey, has launched its 'design-a-smile' contest, to find the best representation of a smile.</p>
                    </td>
                  </tr>
                  <tr><td height="50" style="padding:0;"></td></tr>
                  <tr>
                    <td style="padding: 0px; margin: 0px;" align="center">
                      <p style="font-size: 20px; color: #E51B4B; padding: 0px; margin: 0px;"><strong>Okay, I'm in… What do I do now?</strong></p>
                    </td>
                  </tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr>
                    <td style="padding: 0px; margin: 0px;" align="center">
                      <p style="font-size: 18px; color: #000000; padding: 0px; margin: 0px;">Create a smile out of whatever materials you can find at home; crayons, pens, paints, pottery, clay, felt etc. We want to open the creative floodgates and see your own interpretation of a smile.<br/><br/>

                      Our invitation to you, is to be as creative as possible, but most importantly, have oodles of fun!</p>
                    </td>
                  </tr>
                </table>
              
              </td>
              <td width="50">&nbsp;</td>
            </tr>
            
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td style="margin: 0px; padding: 0px;" align="center">
          <a href="<%=@link%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/design_smile/button.jpg" width="500" alt="I’M READY TO SUBMIT MY ENTRY" style="max-width: 500px;"></a>
        </td>
      </tr>
      <tr><td height="50" style="padding:0; border-bottom: 1px solid #ECECEC"></td></tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td style="padding: 0px; margin: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="padding: 0px; margin: 0px;" align="center"><p style="font-size: 34px; color: #0788B8; padding: 0px; margin: 0px;">As long as it’s creative &amp; fun, it can be anything :)</p></td>
                  </tr>
                  
                  <tr>
                    <td style="padding: 0px; margin: 0px;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="feature" width="50%" align="center" style="padding: 0px; margin: 0px;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr><td height="30" style="padding:0; margin: 0px;"></td></tr>
                              <tr>
                                <td style="padding: 0px; margin: 0px;" align="center">
                                  <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/design_smile/image_1.jpg" width="200" alt="It can be a picture" style="max-width: 200px;">
                                </td>
                              </tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td style="padding: 0px; margin: 0px;"><p style="padding: 0px; margin: 0px; font-size: 18px;" align="center">It can be a picture</p></td></tr>
                            </table>
                          </td>
                          <td class="feature" width="50%" align="center" style="padding: 0px; margin: 0px;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr><td height="30" style="padding:0; margin: 0px;"></td></tr>
                              <tr>
                                <td style="padding: 0px; margin: 0px;" align="center">
                                  <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/design_smile/image_2.jpg" width="200" alt="or a drawing" style="max-width: 200px;">
                                </td>
                              </tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td style="padding: 0px; margin: 0px;"><p style="padding: 0px; margin: 0px; font-size: 18px;" align="center">or a drawing</p></td></tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  
                  <tr>
                    <td style="padding: 0px; margin: 0px;">
                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="feature" width="50%" align="center" style="padding: 0px; margin: 0px;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr><td height="30" style="padding:0; margin: 0px;"></td></tr>
                              <tr>
                                <td style="padding: 0px; margin: 0px;" align="center">
                                  <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/design_smile/image_3.jpg" width="200" alt="It can be a picture" style="max-width: 200px;">
                                </td>
                              </tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td style="padding: 0px; margin: 0px;"><p style="padding: 0px; margin: 0px; font-size: 18px;" align="center">it can be food</p></td></tr>
                            </table>
                          </td>
                          <td class="feature" width="50%" align="center" style="padding: 0px; margin: 0px;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr><td height="30" style="padding:0; margin: 0px;"></td></tr>
                              <tr>
                                <td style="padding: 0px; margin: 0px;" align="center">
                                  <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/design_smile/image_4.jpg" width="200" alt="or a drawing" style="max-width: 200px;">
                                </td>
                              </tr>
                              <tr><td height="10" style="padding:0;"></td></tr>
                              <tr><td style="padding: 0px; margin: 0px;"><p style="padding: 0px; margin: 0px; font-size: 18px;" align="center">or a drink</p></td></tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
        
      </tr>
      
      <tr><td height="50" style="padding:0; border-bottom: 1px solid #ECECEC"></td></tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      
      <tr>
        <td style="padding: 0px; margin: 0px;" align="center">
          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" style="padding: 0px; margin: 0px;" align="center">
                <p style="font-size: 20px; color: #E51B4B; padding: 0px; margin: 0px;"><strong>What could I win?</strong></p>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr><td style="padding: 0px; margin: 0px;" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/design_smile/gift-voucher.jpg" alt="Gift Voucher"></td></tr>
      
      <tr><td height="30" style="padding:0;"></td></tr>
      
      <tr>
        <td style="padding: 0px; margin: 0px;" align="center">
          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" style="padding: 0px; margin: 0px;" align="center">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td style="margin: 0px; padding: 0px;" align="center">
                      <p style="font-size: 16px; color: #000000; padding: 0px; margin: 0px;">All winning designs also get the opportunity to feature on a range of stickers distributed to kids at top UK dental practices.</p>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  <tr>
                    <td style="margin: 0px; padding: 0px;" align="center">
                      <a href="<%=@link%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/design_smile/button.jpg" width="500" alt="I’M READY TO SUBMIT MY ENTRY" style="max-width: 500px;"></a>
                    </td>
                  </tr>
                </table>
              </td>
              <td width="50">&nbsp;</td>
            </tr> 
            
          </table>
        </td>
      </tr>
      
      
      
      <tr><td height="50" style="padding:0;"></td></tr>
      <!-- App stores -->
      <%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
      <!-- App stores Ends-->
    </table>
  </td>
</tr>       
<!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  

<!-- Copyright & Links -->
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>
<!-- Footer Ends -->



</table>    
<!-- Email Ends -->   
    
</div>
</center>
</body>
</html>

  