<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="format-detection" content="telephone=no"> 
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
  </head>
  <body bgcolor="#f8f8f8" style="padding: 30px 0px; margin: 0px; font-family: 'Helvetica-Neue', 'Arial', 'sans-serif;">
  
  <style>
    @media screen and (max-width:580px) {
      .col100 {
        width: 100% !important;
        display: block !important;
      }
      
      .app-links td{
        width: 100% !important;
        display: block !important;
        text-align: center;
      }
      
  }
  .image-class{
        width: 50px !important;
        height: 50px !important;
        object-fit: cover;
      }
  </style>
  
  <table align="center" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; margin: 0px auto; max-width: 600px !important;">
    <!-- logo -->
    <tr>
      <td align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" height="40" alt="Nurturey"></td>
    </tr>
    <tr>
      <td height="20"></td>
    </tr>
  
  <!-- EMAIL Container -->
  <tr>
    <td align="center" valign="top" width="600">
      <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
        
        <!-- ICON, CHILD IMAGE, TITLE, FEATURE IMAGE, -->
        <tr>
          <td valign="top" align="center">
            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="30">&nbsp;</td>
                <td width="540" align="center">
                  <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                    <tr><td height="40">&nbsp;</td></tr>
                    <tr>
                      <td valign="top" align="center" style="padding: 0px; margin: 0px;">
                        <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/milestone/Milestone Icon.png" alt="Milestone" height="40">
                      </td>
                    </tr>
                    <tr><td height="20" style="padding: 0px; margin: 0px;">&nbsp;</td></tr>
                    <tr>
                      <td valign="top" align="center" style="padding: 0px; margin: 0px;">
                        <img src="<%= @child.profile_or_generic_image_url("small") %>" alt="Your Child" style="border-radius: 25px;" class="image-class">
                      </td>
                    </tr>
                    <tr><td height="10" style="padding: 0px; margin: 0px;">&nbsp;</td></tr>
                    <tr>
                      <td align="center">
                        <p style="font-size: 26px;padding: 0px; margin: 0px;"><strong>Here's <%=@child.first_name%>'s Milestones</strong></p>
                        </td>
                    </tr>
                    <tr><td height="10" style="padding:0; margin:0; line-height: 0px;">&nbsp;</td></tr>
                    <tr>
                      <td align="center">
                        <p style="font-size: 14px;padding: 0px; margin: 0px; color: #9B9B9B;">Last update <%=@last_updated%> days ago</p>
                      </td>
                    </tr>
                    <tr><td height="30">&nbsp;</td></tr>
                  </table>
                </td>
                <td width="30">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td align="center" valign="top" style="border-bottom: 1px solid #EAEAEA;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr align="center" valign="top">
                <td width="30">&nbsp;</td>
                <td width="540" align="center">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <!-- Title -->
                      <td align="center" valign="top">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center" valign="top" width="100%"><p style="font-size: 18px; margin: 0px;"><strong><%=@child.first_name%></strong> has achieved <%=@achieved_percentage.to_i %>% of the milestones expected by <%=@pronoun %> current age</p></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height="40">&nbsp;</td></tr>
                    
                  </table>
                </td>
                <td width="30">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        
        <tr>
          <td width="100%" align="center" colspan="2">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr><td height="40">&nbsp;</td></tr>
              <tr>
                <td>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="30">&nbsp;</td>
                      <td align="center" width="540" style="font-size: 20px; color: #F4AA52;"><strong>Milestones accomplished vs expected</strong></td>
                      <td width="30">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr><td height="10">&nbsp;</td></tr>
              <tr>
                <td align="center">
                  <p style="font-size: 14px;padding: 0px; margin: 0px; color: #9B9B9B;">Relevant up to the age of <%=@age_category.split("-").last rescue nil%> months</p>
                </td>
              </tr>
              <tr><td height="20">&nbsp;</td></tr>
            </table>
          </td>
        </tr>
        
        <!-- 4 COLUMNS -->
         <% title_maping = {"Social & Emotional"=>["Social &","Emotional"],"Language/Communication"=>["Language/","Communication"],"Cognitive"=>["Cognitive"],"Physical"=>["Physical"]}  %>
        <tr>
          <td width="100%" align="center" valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <% @member_milestone_stats.each_slice(2) do |milestone_stats_data|%>
                <td class="col100" align="center" valign="top">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                     
                      <% milestone_stats_data.each do |milestone_stats|%>
                      
                        <td width="150" bgcolor="#F2F2F2" align="center" height="120" style="border: 1px solid #ffffff; padding: 10px;">
                          
                        <% title_maping[milestone_stats[:title]].each do |title_texts|%>
                          <p style="font-size: 12px; margin: 0px 0px 5px 0px;"><%=title_texts%></p>
                        <% end %>

                        <p style="font-size: 20px; margin: 0px 0px 5px 0px;">
                          <strong>
                            <%=milestone_stats[:line1]%>
                          </strong>
                        </p>
                          <p style="font-size: 12px; margin: 0px; color: #858585;"><%=milestone_stats[:line2]%></p>
                          <p style="font-size: 12px; margin: 0px; color: #858585;"><%=milestone_stats[:line3]%></p>
                        </td>
                      <% end %>
                    </tr>
                  </table>
                </td>
                <% end %>
              </tr>
            </table>
          </td>
        </tr>
        
        <tr><td height="40">&nbsp;</td></tr>
        
        <tr>
          <td align="center" valign="top">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr align="center" valign="top">
                <td width="30"></td>
                <td width="540">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <!-- Title -->
                      <td align="center" valign="top">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td align="center" valign="top"><span style="font-size: 20px; color: #F4AA52;"><strong>Recently accomplished milestones</strong></span></td>
                          </tr>
                          
                          <tr><td height="30">&nbsp;</td></tr>
                          <tr>
                            <td align="center">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr bgcolor="#F5F5F5" height="30" style="font-size: 14px; color: #9B9B9B; font-weight: normal;">
                                  <th width="60%" align="left" style="padding-left: 10px;">Milestone</th>
                                  <th width="40%" align="left" style="padding-left: 10px;">Age</th> 
                                  
                                  
                                </tr>
                                <% if @achieved_milestones_in_last_6_month.blank? %>
                                  <tr height="50" style="font-size: 14px;">
                                  <td colspan="3" align="center">
                                    <p style="padding: 10px;">
                                    <% if @child.birth_date < (Date.today - 6.month) %>
                                    No milestones accomplished in the last 6months
                                    <% else %>
                                      No milestones accomplished since birth
                                    <% end %>

                                    </p>
                                  </td>
                                  </tr>
                                <% else %>

                                  <% @achieved_milestones_in_last_6_month.each do |milestone| %>
                                  <% system_milestone = milestone.system_milestone%>
                                  <tr height="50" style="font-size: 14px;">
                                    <td valign="top"  style="padding-left: 10px; padding-top: 10px; font-size: 14px; border-bottom: 1px solid #eaeaea;"><strong><%= system_milestone.get_dynamic_title(@child,@child_male) %>
                                      
                                    </strong><p><%=system_milestone.milestone_type %></p></td>
                                    
                                    <td valign="top" style="padding-left: 10px; padding-top: 10px; border-bottom: 1px solid #EAEAEA;">

                                       <%= ApplicationController.helpers.calculate_age(@child.birth_date,milestone.date.to_date) %>

                                    </td> 
                                    
                                    
                                    </tr>
                                  <% end %>
                                <% end %>
                                </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    
                    
                  </table>
                </td>
                <td width="30"></td>
              </tr>
            </table>
          </td>
        </tr>
        
        
        <tr><td height="20">&nbsp;</td></tr>
        
        <!-- BUTTONS -->
        <tr>
          <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" valign="top">
                  <a href="<%=@milestone_deeplink%>">
                    <% if @achieved_milestones_in_last_6_month.present? %>
                      <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/milestone/button.png" height="50" alt="Milestone">
                    <% else %>
                      <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/milestone/button-update.png" height="50" alt="Milestone">
                    <% end %>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        
        <tr><td height="40">&nbsp;</td></tr>
        
        <!-- VIDEO SECTION -->

        <tr>
          <td valign="top" align="center" style="padding:0;border-top: 1px solid #E8E8E8;">
            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td width="30">&nbsp;</td>
                <td width="540">
                  <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                    <tr><td height="40">&nbsp;</td></tr>
                    <tr>
                      <td align="center" valign="top"><span style="font-size: 26px;"><strong>A quick video guide of the Milestone tool</strong></span></td>
                    </tr>
                    <tr><td height="20">&nbsp;</td></tr>
                    <tr><td><a href="https://www.youtube.com/watch?v=foZSqQq-BGY"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/milestone/video-image.png" alt="Play Video" style="height: auto; width: 100%;"></a></td></tr>
                    <tr><td height="20">&nbsp;</td></tr>
                    <tr><td align="center"><a href="<%=@milestone_deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/milestone/button.png" alt="Milestone" height="50"></a></td></tr>
                    <tr><td height="40">&nbsp;</td></tr>
                    <tr><td height="40">
                        <p style="font-size: 14px; color: #4D4D4D;">Have a great day!<br/>Kind regards,<br/><br/>Team Nurturey</p>
                      </td></tr>
                  </table>
                </td>
                <td width="30">&nbsp;</td>
              </tr>

            </table>
          </td>
        </tr>  
        <tr><td height="40">&nbsp;</td></tr>
        
      </table>
    </td>
  </tr>

<!-- FOOTER -->
  <%= render :partial=>"/layouts/updated_mailer_layout/footer"%>
<!-- Footer Ends -->  
  
</table>
</body>
</html>

<%#= render :partial=> "/batch_mailer/accomplished_milestone"%>