<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
<style>
@media screen and (max-width:560px) {
table td p, h1, h2, h3  {
width: auto !important;
display: block !important;
}

  .collapsable-columns td {
    width: 90% !important;
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
    
  }
.app-links td {
width: 100% !important;
display: block !important;
text-align: center;
}

/*
img {
  width: 100% !important;
  height: auto !important;
}*/

h1 {
  font-size: 34px !important;
}


}
</style>
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div class="webkit" style="max-width:600px;margin:0 auto;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
      <tr>
      <td>
    <![endif]-->

    
<!-- Email Starts -->
<table>
  <tr><td height="30" style="padding:0;"></td></tr>
  <tr>
    <td>
      <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
          <!--<td style="font-size: 12px; text-align: right; padding: 0px; margin: 0px; ">Do not wish to recieve emails?</td>
          <td style=" width: 90px; font-size: 12px; text-align: right; padding: 0px; margin: 0px; "><a href="#" style="background: #14953A; padding:7px; text-decoration: none; color: white; border-radius: 4px;">Unsubscribe</a></td>-->
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="10" style="padding:0;"></td></tr>


<!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<tr>
  <td style="padding: 0px; margin: 0px;">   
    <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto; padding: 0px; width:100%;max-width:600px;background-color:#ffffff; min-height: 200px;">
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table  width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="250">&nbsp;</td>
              <td width="100" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/mental_maths_summary_email/alexa-maths-icon.jpg" alt="Alexa Mental Maths" width="50" style="display: inline-block !important; width: 50px !important;" ></td>
              <td width="250">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="10" style="padding:0;"></td></tr>
 
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-weight: normal; font-size: 14px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #909090;"><%= @date_interval_string%></p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h1 style="font-weight: normal; font-size: 30px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Mental Maths Summary</h1></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="250">&nbsp;</td>
              <td width="100" align="center"><img src="<%= @member.profile_or_generic_image_url("thumb") %>" style="width: 50px !important; border-radius: 25px; border:1px solid #E7EBF3;" alt="Child Image" width="50" height="50"></td>
              <td width="250">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: normal; font-size: 26px; text-align: center; padding: 0px; margin: 0px; display: inline-block;"><%=@child_name%> has practised <%= @total_questions%> questions</h2></td> 
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="10" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-weight: normal; font-size: 16px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #909090;"> <%= @last_session_date%></p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td class="collapsable-columns" width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="240" align="center" style="border: 1px solid #E3E3E3; border-radius: 4px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr><td align="center" style="font-size: 16px"><strong>Total practice days</strong></td></tr>
                  <tr><td height="10" style="padding:0;"></td></tr>
                  <tr><td align="center" style="font-size: 28px"><%=@total_practice_days%> days</td></tr>
                  <tr><td height="10" style="padding:0;"></td></tr>
                  <tr><td align="center" style="font-size: 16px">Avg <%=@avg_questions_per_day%> questions per day</td></tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                </table>
              </td>
              <td width="20">&nbsp;</td>
              <td width="240" align="center" style="border: 1px solid #E3E3E3; border-radius: 4px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr><td align="center" style="font-size: 16px"><strong>Accuracy Score</strong></td></tr>
                  <tr><td height="10" style="padding:0;"></td></tr>
                  <tr><td align="center" style="font-size: 28px"><%=@accuracy_score_percentage.round() rescue @accuracy_score_percentage.to_i%>%</td></tr>
                  <tr><td height="10" style="padding:0;"></td></tr>
                  <% if @total_session_held <= 0 %>
                    <tr><td align="center" style="font-size: 16px">No quiz sessions held</td></tr>
                  <%else%>
                    <tr><td align="center" style="font-size: 16px">Total <%= @total_session_held %> quiz sessions held</td></tr>
                  <%end%>
                  <tr><td height="20" style="padding:0;"></td></tr>
                </table>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>

      <% if @total_practice_days == 0 %>
        <tr>
          <td width="100%" style="padding: 0px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="50">&nbsp;</td>
                <td width="500" align="center">
                  <p>Did you know practising maths with Nurturey helps with improving auditory skills at an early age?</p><p>That's why we encourage parents to motivate their child to practise everyday.</p><p>Practicing daily improves listening skills,<br/>With Nurturey Maths, learning is a thrill</p>
                </td>
                
                <!--<td width="500" align="left">
                  <ul style="padding: 0px; margin: 0px;">
                    <li style="background: url('list-dot.jpg') no-repeat left 5px; padding: 0px 0px 15px 20px; background-size: 10px; list-style: none; margin-bottom: 15px; border-bottom: 1px solid #efefef;">10% of the kids are practising more questions than Jack</li>
                    
                    <li style="background: url('list-dot.jpg') no-repeat left 5px; padding: 0px 0px 15px 20px; background-size: 10px; list-style: none; margin-bottom: 15px; border-bottom: 1px solid #efefef;">Jack has been stimulating his brain frequently</li>
                    
                    <li style="background: url('list-dot.jpg') no-repeat left 5px; padding: 0px 0px 0px 20px; background-size: 10px; list-style: none;">Most practiced topic was Addition</li>
                  </ul>
                </td>-->
                <td width="50">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>

      <%else%>

        <tr>
          <td width="100%" style="padding: 0px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="50">&nbsp;</td>
                <td width="500" align="left">
                  <ul style="padding: 0px; margin: 0px;">
                    <li style="background: url('<%=APP_CONFIG['default_host']%>/assets/mailer/mental_maths_summary_email/list-dot.jpg') no-repeat left 5px; padding: 0px 0px 15px 20px; background-size: 10px; list-style: none; margin-bottom: 15px; border-bottom: 1px solid #efefef;"><%=@practice_status%><!--10% of the kids are practising more questions than <%=@child_name%>--></li>
                    
                    <li style="background: url('<%=APP_CONFIG['default_host']%>/assets/mailer/mental_maths_summary_email/list-dot.jpg') no-repeat left 5px; padding: 0px 0px 15px 20px; background-size: 10px; list-style: none; margin-bottom: 15px; border-bottom: 1px solid #efefef;"><%=@child_name%> has been stimulating his brain frequently</li>
                    
                    <li style="background: url('<%=APP_CONFIG['default_host']%>/assets/mailer/mental_maths_summary_email/list-dot.jpg') no-repeat left 5px; padding: 0px 0px 0px 20px; background-size: 10px; list-style: none;">Most practiced topic was <%=@most_practiced_question%></li>
                  </ul>
                </td>
                <td width="50">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>

      <%end%>


      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="100">&nbsp;</td>
              <td width="400" align="center"><a href="<%=@deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/mental_maths_summary_email/button.jpg" alt="View full report" width="200" style="width: 200px !important;"></a></td>
              <td width="100">&nbsp;</td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr><td height="100" style="padding:0;"></td></tr>
      <!-- App stores -->
      <%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
      <!-- App stores Ends-->
    </table>
  </td>
</tr>       
<!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  

<!-- Copyright & Links -->
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>
<!-- Footer Ends -->



</table>    
<!-- Email Ends -->   
    
</div>
</center>
</body>
</html>

  