<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body bgcolor="#f8f8f8" style="padding: 30px 0px; margin: 0px; font-family: 'Helvetica-Neue', 'Arial', 'sans-serif;">
  
  <style>
    @media screen and (max-width:580px) {
    table td p {
      width: auto !important;
      display: block !important;
    }

    table.center-table td  {
      width: 100% !important;
      display: block !important;
      text-align: center;
    }
    .classification td {
        text-align: left !important;
      }
      
      .app-links td{
        width: 100% !important;
        display: block !important;
        text-align: center;
      }
  }
  </style>
  

  <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; margin: 0px auto; max-width: 600px;">
    <!-- logo -->
    <tr>
      <td align="center">
        <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" height="40" alt="Nurturey">
      </td>
    </tr>
    
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
    <% if @premium_subscription_status == true %>
      <%= render :partial=>"/batch_mailer/zscore_email_for_free_subscription"%>
    <% else %>
      <%= render :partial=>"/batch_mailer/zscore_email_for_premium_subscription"%> 
    <% end%>
    
    
     <!-- VIDEO SECTION -->

  <tr>
    <td valign="top" align="center" style="padding:0;border-top: 1px solid #E8E8E8;">
      <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td width="30">&nbsp;</td>
          <td width="540">
            <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
              <tr><td height="40">&nbsp;</td></tr>
              <tr>
                <td align="center" valign="top"><span style="font-size: 26px;"><strong>Watch this video. Tracking Z score is simple with Nurturey</strong></span></td>
              </tr>
              <tr><td height="20">&nbsp;</td></tr>
              <tr><td><a href="https://youtu.be/uuXTmJ0ZFTE"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/zscore_video-image.png" alt="Play Video" style="height: auto; width: 100%;"></a></td></tr>
              <tr><td height="20">&nbsp;</td></tr>
              <tr><td align="center"><a href="<%= "#{APP_CONFIG['default_host']}?#{@zscore_deeplink.to_query}&source=email_deeplink&token=#{@user.deeplink_api_token}" %>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/zscore/zscore_button.png" alt="Check Z Score" height="50"></a></td></tr>
              <tr><td height="40">&nbsp;</td></tr>
            </table>
          </td>
          <td width="30">&nbsp;</td>
        </tr>

      </table>
    </td>
  </tr>
  <!-- Footer -->
  <%= render :partial=> "/layouts/updated_mailer_layout/footer"%>
  </table>
</body>
</html>