<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
<style>
@media screen and (max-width:560px) {
table td p, h1, h2, h3  {
width: auto !important;
display: block !important;
}

td.tool, .app-links td {
width: 100% !important;
display: block !important;
text-align: center;
}

.subscription-title {
font-size: 1em !important;
}

.subscription-subtitle {
font-size: 0.75 !important;
}

.subscription-pricing {
font-size: 1.6em !important;
}

/*img {
  width: 100% !important;
  height: auto !important;
}*/

h1 {
  font-size: 34px !important;
}

}
</style>
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div class="webkit" style="max-width:600px;margin:0 auto;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
      <tr>
      <td>
    <![endif]-->
<!-- Email Starts -->
<table>
  <tr><td height="30" style="padding:0;"></td></tr>
  <tr>
    <td>
      <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="10" style="padding:0;"></td></tr>


<!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<tr>
  <td style="padding: 0px; margin: 0px;">   
    <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto; padding: 0px; width:100%;max-width:600px;background-color:#ffffff; min-height: 200px;">
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td style="padding: 0px; margin: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="505" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/alexa-maths-icon.jpg" height="40" alt="Mental Maths" style="width: 50px !important;"></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h1 style="font-weight: 100; font-size: 34px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Let your child dive into an interactive mental maths experience with Nurturey Maths on Alexa</h1></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><a href="https://www.youtube.com/watch?v=f9-nHDfqJiw"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/video-placeholder.jpg" alt="Nurturey Maths" width="500"></a></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="185">&nbsp;</td>
              <td width="230" align="center"><a href="<%=@deeplink%>"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/enable_alexa_skill.png" alt="Enable Alexa Skill" width="230" style="width: 230px !important;"></a></td>
              <td width="185">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>

      
      <tr><td height="30" style="padding:0; border-bottom: 1px solid #efefef;"></td></tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: 100;  font-size: 26px; text-align: center; padding: 0px; margin: 0px;">How to setup on Amazon Alexa</h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="left">
                <ul style="padding: 0px">
                  <li style="background: url('<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/list-dot.jpg') no-repeat left top; padding: 0px 0px 10px 20px; background-size: 10px; list-style: none; margin-bottom: 5px">Step 1: Install <strong>Alexa app</strong> on your phone or tablet</li>

                  <li style="background: url('<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/list-dot.jpg') no-repeat left top; padding: 0px 0px 10px 20px; background-size: 10px; list-style: none; margin-bottom: 5px;">Step 2: Open Skills from Menu</li>

                  <li style="background: url('<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/list-dot.jpg') no-repeat left top; padding: 0px 0px 10px 20px; background-size: 10px; list-style: none; margin-bottom: 5px">Step 3: Search for <strong>Nurturey Maths</strong> and enable the skill</li>

                  <li style="background: url('<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/list-dot.jpg') no-repeat left top; padding: 0px 0px 10px 20px; background-size: 10px; list-style: none; margin-bottom: 5px;">Step 4: Link your Nurturey account </li>

                  <li style="background: url('<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/list-dot.jpg') no-repeat left top; padding: 0px 0px 10px 20px; background-size: 10px; list-style: none; margin-bottom: 10px;">Step 5: Now ask Alexa to open Nurturey Maths</li>
                </ul>
              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0; border-bottom: 1px solid #efefef;"></td></tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: 100; font-size: 26px; text-align: center; padding: 0px; margin: 0px;">Access detailed reports on practices</h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="150">&nbsp;</td>
              <td width="300" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/app-image.jpg" alt="Nurturey Maths" width="300" style="width: 300px !important;"></td>
              <td width="150">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-size: 18px; padding: 0px; margin: 0px;">Stimulate your child's cognitive growth through regular mental math exercises</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr><td height="50" style="padding:0; border-bottom: 1px solid #efefef;"></td></tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: 100; font-size: 26px; text-align: center; padding: 0px; margin: 0px;">Set difficulty level</h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="200">&nbsp;</td>
              <td width="200" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/level.jpg" alt="Nurturey Maths" width="200" style="width: 200px !important;"></td>
              <td width="200">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-size: 18px; padding: 0px; margin: 0px;">Easily adjust the difficulty level, according to your child's age</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0; border-bottom: 1px solid #efefef;"></td></tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: 100; font-size: 26px; text-align: center; padding: 0px; margin: 0px;">Alexa, open Mental Maths</h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="70">&nbsp;</td>
              <td width="460" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/questions_list.jpg" alt="Nurturey Maths" width="460"></td>
              <td width="70">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-size: 18px; padding: 0px; margin: 0px;">Our <strong>Mental Maths</strong> bank has unlimited sets of questions covering addition, subtraction, multiplication, division and more!</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="185">&nbsp;</td>
              <td width="230" align="center"><a href="<%=@deeplink%>"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_promo_email/enable_alexa_skill.png" alt="Enable Alexa Skill" width="230" style="width: 230px !important;"></a></td>
              <td width="185">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      
      
      <tr><td height="50" style="padding:0;"></td></tr>
      <!-- App stores -->
      <%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
      <!-- App stores Ends-->
    </table>
  </td>
</tr>       
<!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>
<!-- Copyright & Links -->

<!-- Footer Ends -->



</table>    
<!-- Email Ends -->   
    
</div>
</center>
</body>
</html>

  