<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
<style>
@media screen and (max-width:560px) {
table td p, h1, h2, h3  {
width: auto !important;
display: block !important;
}

.app-links td {
width: 100% !important;
display: block !important;
text-align: center;
}


/*img {
  width: 100% !important;
  height: auto !important;
}*/

h1 {
  font-size: 34px !important;
}


}
</style>
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div class="webkit" style="max-width:600px;margin:0 auto;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
      <tr>
      <td>
    <![endif]-->

    
<!-- Email Starts -->
<table>
  <tr><td height="30" style="padding:0;"></td></tr>
  <tr>
    <td>
      <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="10" style="padding:0;"></td></tr>


<!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<tr>
  <td style="padding: 0px; margin: 0px;">   
    <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto; padding: 0px; width:100%;max-width:600px;background-color:#ffffff; min-height: 200px;">
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table  width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="250">&nbsp;</td>
              <td width="100" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_commands_31/alexa-maths-icon.jpg" alt="Alexa Mental Maths" width="50" style="display: inline-block !important;"></td>
              <td width="250">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="10" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-weight: normal; font-size: 14px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #4D90FE;">NURTUREY 101</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px; background-image: url('bg-graphic.jpg'); background-position:center; background-repeat: no-repeat; background-size: contain; border-bottom: 1px solid #E8E8E8;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="100%" style="padding: 0px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0"> 
                  <tr>
                    <td width="50">&nbsp;</td>
                    <td width="500" align="center"><h1 style="font-weight: normal; font-size: 50px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Tips to use Alexa Mental Maths</h1></td>
                    <td width="50">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td height="30" style="padding:0;"></td></tr>
            <tr>
              <td width="100%" style="padding: 0px;" valign="middle">
                <table width="100%" border="0" cellpadding="0" cellspacing="0"> 
                  <tr>
                    <td width="50">&nbsp;</td>
                    <td width="500" align="center" valign="middle">
                      <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_commands_31/alexa-image.png" alt="Alexa Mental Maths">
                    </td>
                    <td width="50">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td height="30" style="padding:0;"></td></tr>
            <tr>
              <td width="100%" style="padding: 0px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="0"> 
                  <tr>
                    <td width="50">&nbsp;</td>
                    <td width="500" align="center"><h2 style="font-weight: normal; font-size: 24px; text-align: center; padding: 0px; margin: 0px; display: inline-block;">Let us try out these basic voice commands to explore what Alexa Nurturey Maths can do!</h2></td>
                    <td width="50">&nbsp;</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr><td height="30" style="padding:0;"></td></tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" style="padding: 0px;" align="center">
                      <h3 style="font-weight: normal; font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #000000;"><strong>Practice questions from random topics</strong></h3>
                    </td>
                  </tr>
                  <tr><td height="10" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;">
                      <p style="font-weight: normal; font-size: 16px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #626262;">By default, Alexa prompts you to choose a topic. If you want to mix up questions from all topics, tell Alexa to ask <span style="color: #000000;"><strong>anything</strong></span></p>
                    </td>
                  </tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;background-color: #F4F8FF; padding: 20px;" align="center" valign="middle">
                      <p style="font-weight: normal; font-size: 16px; text-align: center; margin: 0px; display: block; color: #000000;"><span><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_commands_31/speech-icon.jpg" width="20" alt="Say" style="vertical-align: middle; width: 20px !important;">&nbsp;</span><em>anything</em></p>
                    </td>
                  </tr>
                  <tr><td height="30" style="padding:0;"></td></tr>
                  
                  <tr><td width="100%" style="padding: 0px; border-bottom: 1px solid #E8E8E8;"></td></tr>
                </table>

              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" style="padding: 0px;" align="center">
                      <h3 style="font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #000000;"><strong>Want to repeat or need more time to think</strong></h3>
                    </td>
                  </tr>
                  <tr><td height="10" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;">
                      <p style="font-size: 16px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #626262;">Alexa waits for a response for <span style="color: #000000;"><strong>15 seconds</strong></span>. Within this time frame, if more time is needed to think or want to replay the question, ask Alexa to 'repeat'</p>
                    </td>
                  </tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;background-color: #F4F8FF; padding: 20px;" align="center" valign="middle">
                      <p style="font-size: 16px; text-align: center; margin: 0px; display: block; color: #000000; "><span><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_commands_31/speech-icon.jpg" alt="Say" width="20" style="vertical-align: middle; width: 20px !important;">&nbsp;</span><em>repeat</em></p>
                      <p style="color: #7C7C7C; text-align: center; margin: 10px 0px; display: block; "><em>(15 more seconds will be added to answer or respond)</em></p>
                    </td>
                  </tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;" align="center">
                      <p style="font-weight: normal; font-size: 14px; text-align: center; padding: 0px; margin: 10px 0px; display: block; color: #415DDA;"><strong>Do you know?</strong></p>
                      <p style="font-weight: normal; font-size: 14px; text-align: center; padding: 0px; margin: 0px; display:block; color: #626262;">Alexa quits the quiz if it doesn’t gets a response in 15 seconds</p>
                    </td>
                  </tr>
                  <tr><td height="50" style="padding:0;"></td></tr>
                  <tr><td width="100%" style="padding: 0px; border-bottom: 1px solid #E8E8E8;"></td></tr>
                </table>

              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" style="padding: 0px;" align="center">
                      <h3 style="font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #000000;"><strong>Do not know the answer? Just skip it</strong></h3>
                    </td>
                  </tr>
                  <tr><td height="10" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;">
                      <p style="font-size: 16px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #626262;">If you don’t want to answer a question or want to pass it, just ask Alexa to skip it</p>
                    </td>
                  </tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;background-color: #F4F8FF; padding: 20px;" align="center" valign="middle">
                      <p style="font-size: 16px; text-align: center; margin: 0px; display: block; color: #000000; "><span><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_commands_31/speech-icon.jpg" alt="Say" width="20" style="vertical-align: middle; width: 20px !important;">&nbsp;</span><em>I don’t know</em></p>
                      <p style="color: #7C7C7C; text-align: center; margin: 10px 0px; display: block; "><em>(or say “skip”)</em></p>
                    </td>
                  </tr>
                  <tr><td height="50" style="padding:0;"></td></tr>
                  <tr><td width="100%" style="padding: 0px; border-bottom: 1px solid #E8E8E8;"></td></tr>
                </table>

              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;border-bottom: 1px solid #E8E8E8;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="100%" style="padding: 0px;" align="center">
                      <h3 style="font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #000000;"><strong>Set the quiz level up or down</strong></h3>
                    </td>
                  </tr>
                  <tr><td height="10" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;">
                      <p style="font-size: 16px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #626262;">Quiz too tough or easy? Change the level of questions</p>
                    </td>
                  </tr>
                  <tr><td height="20" style="padding:0;"></td></tr>
                  <tr>
                    <td width="100%" style="padding: 0px;background-color: #F4F8FF; padding: 20px;" align="center" valign="middle">
                      <p style="font-size: 16px; text-align: center; margin: 0px; display: block; color: #000000; "><span><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_commands_31/speech-icon.jpg" alt="Say" width="20" style="vertical-align: middle; width: 20px !important;">&nbsp;</span><em>Alexa, ask Nurturey maths to change my level to 3</em></p>
                      <p style="color: #7C7C7C; text-align: center; margin: 10px 0px; display: block; "><em> (decrease or increase the level between 1 to 10)</em></p>
                    </td>
                  </tr>
                  <tr><td height="50" style="padding:0;"></td></tr>
                  <tr><td width="100%" style="padding: 0px; border-bottom: 1px solid #E8E8E8;"></td></tr>
                </table>

              </td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-weight: normal; font-size: 20px; text-align: center; padding: 0px; margin: 0px; display: inline-block; color: #000000;">Our mental maths bank has unlimited set of questions, covering addition, subtraction, multiplication, division and more! Let your child practice maths in a fun and intuitive way
 </p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="100" style="padding:0;"></td></tr>
      
      <!-- App stores -->
      <%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
      <!-- App stores Ends-->
    </table>
  </td>
</tr>       
<!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  

<!-- Copyright & Links -->
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>
<!-- Footer Ends -->



</table>    
<!-- Email Ends -->   
    
</div>
</center>
</body>
</html>

  