
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important;font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
  <style>
    @media screen and (max-width:560px) {
      table td p, h1, h2, h3  {
        width: auto !important;
        display: block !important;
      }
      
      td.tool, .app-links td {
        width: 100% !important;
        display: block !important;
        text-align: center;
      }
      .subscription-title{
        font-size: 1em;
      }      
      .subscription-subtitle{
        font-size: 0.75em
      }
    }
  </style>
  <center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
    <div class="webkit" style="max-width:600px;margin:0 auto;">
      <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center">
              <tr>
                <td>
          <![endif]-->
       <table class="outer" align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;Margin:0 auto;width:100%;max-width:600px;">
        <tr><td height="30" style="padding:0;"></td></tr>
        <tr>
            <td>
              <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" height="40" alt="Nurturey">
            </td>
          </tr>
        <tr><td height="10" style="padding:0;"></td></tr>
        <tr>
          <td style="padding: 0px;">
            <!-- Email Container 600px -->
            <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto; padding: 0px; width:100%;max-width:600px;background-color:#ffffff;">
              <tr><td height="50" style="padding:0;"></td></tr>
              <tr>
                <td style="padding: 0px;">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="275">&nbsp;</td>
                      <td width="50" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/premium_tools-icon.png" height="40" alt="Premium Subscription"></td>
                      <td width="275">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              
              <tr><td height="30" style="padding:0;"></td></tr>
              
              <tr>
                <td style="padding: 0px;">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="50">&nbsp;</td>
                      <td align="center"><h1 style="margin: 0px;">Help us build the smartest assistant for your family</h1></td>
                      <td width="50">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              
              <tr><td height="20" style="padding:0;"></td></tr>
              
              <tr>
                <td style="padding: 0px;">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="125">&nbsp;</td>
                      <td width="350" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/premium-graphic.jpg" width="100%" alt="Premium Subscription" ></td>
                      <td width="125">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              
              <tr><td height="50" style="padding:0;"></td></tr>
              <tr><td align="center"><h2 style="margin: 0px;">Benefits</h2></td></tr>
              <tr><td height="20" style="padding:0;"></td></tr>
              <tr>
                <td style="padding: 0px;">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="50">&nbsp;</td>
                      <td width="500">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td style="padding: 0px;">
                              <ul style="padding: 0px">
                                <li style="background: url('<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/check-mark.png') no-repeat left top; padding: 0px 0px 15px 30px; list-style: none; margin: 0px; border-bottom: #E1E4EB 1px solid; margin-bottom: 15px">One subscription for all family members</li>
                                
                                <li style="background: url('<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/check-mark.png') no-repeat left top; padding: 0px 0px 15px 30px; list-style: none; margin: 0px; border-bottom: #E1E4EB 1px solid; margin-bottom: 15px">No usage limits</li>
                                
                                <li style="background: url('<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/check-mark.png') no-repeat left top; padding: 0px 0px 15px 30px; list-style: none; margin: 0px; border-bottom: #E1E4EB 1px solid; margin-bottom: 15px">Access to all premium tools</li>
                              </ul>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td width="50">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr><td height="30" style="padding:0;"></td></tr>
              <tr>
                <td style="padding: 0px;">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="50">&nbsp;</td>
                      <!-- YEARLY PLAN BOX-->
                      <td width="500" height="90" align="center" style="background:#FFFBF3; border: 1px solid #ffda1d; border-radius: 5px">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="20">&nbsp;</td>
                            <td width="300">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td class="subscription-title" style="font-size: 1.250em">
                                    <a href="<%=@deeplink%>" style="text-decoration: none; color: #000000;">
                                      Yearly Subscription
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="subscription-subtitle" style="font-size: 1em;">
                                     <a href="<%=@deeplink%>" style="text-decoration: none; color: #000000;">
                                          Yearly @ <%=@susbcription_price_list[:currency]%><%=@susbcription_price_list[:yearly]%>
                                      </a>
                                    </td>
                                </tr>
                                <tr><td style="padding-top: 6px;"><a href="<%=@deeplink%>" style="font-size: 0.750em; text-decoration: none; color: #7a8e9a;">See details</a></td></tr>
                              </table>
                            </td>
                            <td width="160" align="right" style="text-align: right;padding:0px;margin:0px">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td align="right" style="font-size: 2em;text-align:right;"><a href="<%=@deeplink%>" style="text-decoration: none; color: #000000;"><%=@susbcription_price_list[:currency]%><%=@susbcription_price_list[:per_month]%></a></td></tr>
                                <tr><td align="right" style="font-size: 0.75em;text-align: right;"><a href="<%=@deeplink%>" style="text-decoration: none; color: #000000;">per month</a></td></tr>
                              </table>
                            </td>
                            
                            <td width="20" style="padding:0px;margin: 0px;">&nbsp;</td>
                          </tr>
                        </table>
                      </td>
                      <td width="50">&nbsp;</td>
                    </tr>
                    <tr><td height="20" style="padding:0;"></td></tr>
                    <tr>
                      <td width="50">&nbsp;</td>
                      
                      <!-- MONTHLY PLAN BOX-->
                      <td width="500" height="90" align="center" style="background:#ffffff; border: 1px solid #d1d1d1; border-radius: 5px">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="20">&nbsp;</td>
                            <td width="300">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td class="subscription-title" 
                                style="font-size: 1.250em">
                                  <a href="<%=@deeplink%>" style="text-decoration: none; color: #000000;">Monthly Subscription</a>
                                  </td>
                                </tr>
                                <tr><td style="padding-top: 6px;"><a href="<%=@deeplink%>" style="font-size: 0.750em; text-decoration: none; color: #7a8e9a;">See details</a></td></tr>
                                
                              </table>
                            </td>
                            <td width="160" align="right" style="text-align: right;padding:0px;margin:0px">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr><td  align="right" style="font-size: 2em;text-align: right;"><a href="<%=@deeplink%>" style="text-decoration: none; color: #000000;"><%=@susbcription_price_list[:currency]%><%=@susbcription_price_list[:monthly]%></a></td></tr>
                                <tr><td align="right" style="font-size: 0.75em;text-align: right;"><a href="<%=@deeplink%>" style="text-decoration: none; color: #000000;">per month</a></td></tr>
                              </table>
                            </td>
                            
                            <td width="20" style="padding:0px;margin:0px">&nbsp;</td>
                          </tr>
                        </table>
                      </td>
                      
                      <td width="50">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr><td height="30" style="padding:0;"></td></tr>
              <tr>
                <td style="padding: 0px;">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="165">&nbsp;</td>
                      <td align="center" width="270"><a href="<%=@deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/button.png" height="70" alt="Go Premium"></a></td>
                      <td width="165">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              
              <tr><td height="50" style="padding:0;"></td></tr>
              <tr>
                <td style="padding: 0px">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="470">&nbsp;</td>
                      <td width="20"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/premium_icon.png" alt="Premium tag" style="text-align: right"></td>
                      <td width="60" style="font-size: 0.85em; text-align: right">Premium</td>
                      <td width="50">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr><td height="10" style="padding:0;"></td></tr>
              <tr>
                <td  style="padding: 0px">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="50">&nbsp;</td>
                      <td width="500" style="font-size: 0.8125rem;">
                        <table width="100%" style="width:100%" border="0" cellpadding="0" cellspacing="0">


                          <tr height="40" bgcolor="EFEFEF">
                            <th align="left" style="padding-left: 10px">Tools</th>
                            <th width="50"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/child.png" alt="Child" height="24"></th> 
                            <th width="50"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/user.png" alt="Adult" height="24"></th>
                            <th width="50"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/pregnancy.png" alt="Pregnancy" height="24"></th> 
                          </tr>
                          
                          <% @tool_list.each_with_index do |tool, index| %>
                          
                          <%if index%2==0%>
                            <tr>
                          <%else%>
                            <tr bgcolor="F3F5F9">
                          <%end%>
                              <td height="40" style="background: url('<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/<%=(tool[:identifier]).gsub(" ","_")%>.png') no-repeat 10px; background-size: 14px; padding: 0px 30px">
                                <%= tool[:name]%>

                                <% if tool[:is_premium] == true %>
                                  <img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/premium_icon.png" height="12" alt="Premium"></span>
                                <%end%>
                              </td> 
                              

                              <% if tool[:is_child_tools] == true %>
                                <td align="center" height="40"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/check-mark.png" alt="Yes" height="16"></td>
                              <% else %>
                                <td align="center" height="40">&nbsp;</td> 
                              <% end %>

                              <% if tool[:is_adult_tools] == true %>
                                <td align="center" height="40"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/check-mark.png" alt="Yes" height="16"></td>
                              <% else %>
                                <td align="center" height="40">&nbsp;</td> 
                              <% end %>

                              <% if tool[:is_pregnancy_tools] == true %>
                                <td align="center" height="40"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/check-mark.png" alt="Yes" height="16"></td>
                              <% else %>
                                <td align="center" height="40">&nbsp;</td> 
                              <% end %>
                              
                            </tr>
                          <%end%>
                          
                          
                        </table>
                      </td>
                      <td width="50">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              
              <tr><td height="20" style="padding:0;"></td></tr>
              <tr><td align="center"><em>...and much more</em></td></tr>
              <tr><td height="30" style="padding:0;"></td></tr>
              <tr>
                <td style="padding: 0px;">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td width="165">&nbsp;</td>
                      <td align="center" width="270"><a href="<%=@deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/premium_subscription_email/button.png" height="70" alt="Go Premium"></a></td>
                      <td width="165">&nbsp;</td>
                    </tr>
                  </table>
                </td>
              </tr>
              
              <tr><td height="50" style="padding:0;"></td></tr>

              
<!-- Footer -->
<%= render :partial=> "/layouts/updated_mailer_layout/footer"%>
</table>

</div>
</center>

</body>
</html>
