<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--<![endif]-->  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!--[if (gte mso 9)|(IE)]>
<style type="text/css">
table {border-collapse: collapse;}
</style>
<![endif]-->
</head>

<body style="background-color:#F3F5F9;margin:0 !important;padding:0 !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';">
<style>
body {
padding: 0px;
margin: 0px;
font-family:Helvetica, Arial, "sans-serif";
}
  
h1, h2, h3 {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
  
@media screen and (max-width:560px) {
table td p, h1, h2, h3  {
width: auto !important;
display: block !important;
}

td.tool, .app-links td {
width: 100% !important;
display: block !important;
text-align: center;
}


.subscription-subtitle {
font-size: 0.75 !important;
}

  /*img {
    width: 100% ;
    height: auto !important;
  }*/

  .logo td{
    width: 100% !important;
    display: block !important;
    text-align: center !important;
  }


}
</style>
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;">
  <div class="webkit" style="max-width:600px;margin:0 auto;">
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center">
      <tr>
      <td>
    <![endif]-->

    
<!-- Email Starts -->
<table>
  <tr><td height="30" style="padding:0;"></td></tr>
  <tr>
    <td>
      <table class="logo" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td style="padding:0;"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/Logo.png" width="115" alt="Nurturey" style="border:0; width: 115px !important;"></td>
          <td width="20">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="10" style="padding:0;"></td></tr>

  
<!-- //////////////////////// EMAIL BODY STARTS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ --> 
  
<tr>
  <td style="padding: 0px; margin: 0px;">   
    <table width="100%" class="email-container" border="0" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:sans-serif; color:#000000; margin:0 auto; padding: 0px; width:100%; max-width:600px; background-color:#ffffff; min-height: 200px;">
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td style="padding: 0px; margin: 0px; display: block;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="250">&nbsp;</td>
              <td width="100" align="center"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_benefit_email/alexa-maths-icon.jpg" width="50" alt="Nurturey Maths"></td>
              <td width="250">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h1 style="font-weight: 100; font-size: 34px; text-align: center; padding: 0px; margin: 0px;">Track your <%= @child_name%>’s mental maths experience with Nurturey Maths on Alexa</h1></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="100">&nbsp;</td>
              <td width="400" align="center"><a href="<%=@deeplink%>"><img src="<%=APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_benefit_email/download_app_button.png" alt="Open Mental Maths" width="200" style="width: 200px !important;"></a></td>
              <td width="100">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="70" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: 100; font-size: 26px; text-align: center; padding: 0px; margin: 0px;">Access detailed reports on practices</h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="100">&nbsp;</td>
              <td width="400" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_benefit_email/app-image.png" alt="Nurturey Maths" width="280" style="width: 280px !important;"></td>
              <td width="100">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-size: 18px; padding: 0px; margin: 0px;">Stimulate your child’s cognitive growth through regular mental math exercises</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0; border-bottom: 1px solid #efefef;"></td></tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: 100; font-size: 26px; text-align: center; padding: 0px; margin: 0px;">Set difficulty level</h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="200">&nbsp;</td>
              <td width="200" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_benefit_email/level.jpg" alt="Nurturey Maths" width="200" style="width: 200px !important;"></td>
              <td width="200">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-size: 18px; padding: 0px; margin: 0px;">Easily adjust the difficulty level, according to your child's age</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="50" style="padding:0; border-bottom: 1px solid #efefef;"></td></tr>
      <tr><td height="50" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><h2 style="font-weight: 100; font-size: 26px; text-align: center; padding: 0px; margin: 0px;">Alexa, open Mental Maths</h2></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="70">&nbsp;</td>
              <td width="460" align="center"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_benefit_email/questions.jpg" alt="Nurturey Maths" width="460"></td>
              <td width="70">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr><td height="30" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50">&nbsp;</td>
              <td width="500" align="center"><p style="font-size: 18px; padding: 0px; margin: 0px;">Our <strong>Mental Maths</strong> bank has unlimited set of questions, covering addition, subtraction, multiplication, division and more!</p></td>
              <td width="50">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>

      <tr><td height="20" style="padding:0;"></td></tr>
      <tr>
        <td width="100%" style="padding: 0px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="200">&nbsp;</td>
              <td width="200" align="center"><a href="<%=@deeplink%>"><img src="<%= APP_CONFIG['default_host']%>/assets/mailer/alexa_mental_math_benefit_email/download_app_button.png" alt="Open Mental Maths" width="200" style="width: 200px !important;"></a></td>
              <td width="200">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr><td height="100" style="padding:0;"></td></tr>
      <%= render :partial=> "/layouts/updated_mailer_layout/app_links_footer"%>
    </table>
  </td>
</tr>       
<!-- //////////////////////// EMAIL BODY ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  
<%= render :partial=> "/layouts/updated_mailer_layout/copyright_links_footer"%>


</table>    
<!-- Email Ends -->   
    
</div>
</center>
</body>
</html>

  