<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body bgcolor="#F8F8F8" style="padding: 30px 0px; margin: 0px; font-family: 'Helvetica-Neue', 'Arial', 'sans-serif;">
 <style>
    @media screen and (max-width:560px) {
      table td p {
        width: auto !important;
        display: block !important;
      }
      
      .app-links td, .post td {
        width: 100% !important;
        display: block !important;
        text-align: center;
      }
    }
    .image-class{
        width: 120px;
        height: 80px;
        object-fit: cover;
      }
  </style>

  <!-- EMAIL CONTAINER-->
  <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding: 0px; margin: 0px auto; max-width: 600px;">

    <!-- Top Part -->
    <!-- Nurturey Logo -->
     <%= render :partial=>"/layouts/batch_notification_mailer/nurturey_logo" %>
    <!-- Post 1 -->
    <tr>
      <td>
        <table bgcolor="#fff" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">

          <!-- Pointer Title -->
          <tr>
            <td valign="top">
              <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td height="50">&nbsp;</td>
                </tr>
                <tr>
                  <td valign="top" width="30">&nbsp;</td>
                  <td valign="top" width="50">
                    <img src="<%= @child_member.profile_or_generic_image_url("thumb") %>" alt="Child" style="border-radius: 25px;">
                  </td>
                  <td valign="top" width="20" style="padding-left: 10px !important;">&nbsp;</td>
                  <td valign="top" width="470">
                    <p style="font-style: italic; color: #606060; font-size: 24px; margin: 0px 0px 10px 0px;"><%= @pointer.name %></p>
                    <p style="color: #000000; font-size: 24px; margin: 0px;"><%= @pointer.description %></p>
                  </td>
                  <td width="30"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>

          <!-- Links 1-->
          <% if false %>
            <tr>
              <td valign="top" style="padding:0;border-bottom: 1px solid #E8E8E8;">
                <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="30">&nbsp;</td>
                  </tr>
                  <tr>
                    <td valign="top" width="30"></td>
                    <td valign="top">
                      <% if ref_info['linkimageurl'].present? %>
                        <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="120" valign="top">
                              <a href="#">
                              
                                <img src="<%= ref_info['linkimageurl'] %>" alt="" class="image-class">
                              </a>
                            </td>
                            <td width="20" style="padding-left: 10px !important;">&nbsp;</td>
                            <td width="400" valign="top">
                              <a href="#" style="text-decoration: none; color: #000;">
                                <p style="font-size: 18px; line-height: 1; margin: 0px; padding: 0px;">
                                  <strong><%= ref_info['linktitle'] %></strong>
                                </p>
                              </a>
                              <p style="color: #8A8A8A; font-size: 12px; "><%#= ref_info['article_provide']%></p>
                            </td>
                          </tr>
                        </table>
                      <% else %>
                        <a href="#" style="text-decoration: none; color: #000;">
                          <p style="font-size: 18px; line-height: 1; margin: 0px; padding: 0px;">
                            <strong><%= ref_info['linktitle'] %> </strong>
                          </p>
                        </a>
                        <p style="color: #8A8A8A; font-size: 12px; ">
                          <%#= ref_info['article_provide']%>
                        </p>
                      <% end %>
                    </td>
                    <td width="30"></td>
                  </tr>
                </table>
              </td>
            </tr>
          <% end %>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td valign="top" width="230" align="center">
              <a href="<%= "#{APP_CONFIG['default_host']}?#{@pointer_deeplink.to_query}&source=email_deeplink&token=#{@user.deeplink_api_token}" %>">
                <img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/pointer/button.png" width="230" alt="Open Pointer in app">
              </a>
            </td>
          </tr>
          <tr>
            <td height="50"></td>
          </tr>
        </table>
      </td>
    </tr>
  <!-- footer -->
    <%= render :partial=> "/layouts/updated_mailer_layout/footer"%>

    <%#= render :partial=>"/layouts/batch_notification_mailer/footer" %>
  </table>
</body>

</html>