body {
    font-family: 'Helvetica-Neue', 'Arial', sans-serif;
    background-color: #F3F5F9; overflow-x: hidden;
}

h1 {
    font-size: 18px !important;
    padding: 20px 20px 20px;
    margin: 20px 0px 0px;
    font-weight: normal;
}

h2 {
    font-size: 16px;
    padding: 0px 20px;
    margin: 0px 0px 20px;
    color: #858585;
}

p {
    padding: 10px 0px;
    margin: 0px;
}

.container {
    padding: 0px;
}

.main-body {
	max-width: 800px;
}

/*NAVIGATION STYLING */

.navbar-dark .navbar-toggler {
    border: none;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='6' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*BUTTONS STYLING */


.btn-primary {
	background: #FFAF2D;
	border-radius: 4px;
	color: #000000;
	width: 90%;
	display: block;
	text-align: center;
	margin: 30px auto;
	height: 50px;
	font-size: 16px;
	padding: 11px 0px;
	font-weight: 500;
	box-shadow: 0 2px 10px 0px rgba(154, 154, 154, 0.5);
	border: none;
}

.btn-primary:hover {
	text-decoration: none;
	box-shadow: none;
	background: #FFAF2D;
	transition: all .5s ease;
	color: #000000;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #EFB14B;
    color: #000000;
    border-color: #DCA243;
}

.btn-secondary {
    background-color: #ffffff;
    color: #000000;
    border-color: #4D8F5E;
    border-radius: 0px;
    width: 90%;
    color: #14953A;
    font-size: 16px;
    height: 50px;
    margin: 20px 0px;
}

.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle,.btn-secondary:hover, .show>.btn-secondary.dropdown-toggle:focus {
    background-color: #F9F9F9;
    color: #000000;
    border-color: #4D8F5E;
    border-radius: 0px;
    width: 100%;
    box-shadow: none;
    color: #14953A;
}

.reveal {
    position: absolute;
    margin-left: -70px;
    margin: 10px 0 0 -50px;
    padding: 0px;
    font-size: 20px;
    background: none;
    border-radius: none;
    z-index: 999;

}

.reveal:focus {
    box-shadow: none;
}


.dropdown-menu {
    width: 100%;
}

.datepicker-dropdown {
    width: auto;

}

.facebook-signup-btn {
    margin: 20px 0px 10px;
    background-color: #3B5998;
    height: 50px;
    font-size: 16px;
    border-color: #2D4880;
    border-radius: 0px;
    color: #ffffff;
}

.fa {
    padding: 0 10px;
}

/*FORM STYLING */

.form-group {
    margin-bottom: -1px;
    width: 100%;
}

.form-control {
    border-radius: 0px;
    height: 50px;
	border: none;
	box-shadow: 0px 1px 2px 0px rgba(192, 192, 192, 0.5);
	color: #414959;
	margin-bottom: 2px;
}

.form-control:focus {
}

/*TYPOGRAPHY STYLING */
a, a:hover, a:active {
    color: #14953A;
}

.text-link {
	display: inline-block;
	margin: 10px;
}

small, .text-muted {
    font-size: 14px !important;
    line-height: normal;
    margin: 20px auto -10px;
    padding: 0px;
}

footer {
    background-color: #000000;
    padding: 20px;
    margin-top: 100px;

}

.error-message {
    color: red;
    text-align: left;
    font-size: 12px;
}

.invalid-feedback {
    text-align: left;
    margin-bottom: 20px;
}


/*CUSTOM ITEM STYLING */
.title-area {
    margin-top: 20px;
}

.pa-avatar {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    text-align: center;
}

.back-arrow {
    padding-left: 20px;
    text-align: left;
    float: left;
    color: #14953A;
    width: 24px;
    font-size: 24px;
}

.footer-list {
    font-size: 16px;
    padding: 40px 20px 10px 20px;
}

.footer-list li {
    padding-bottom: 10px;
}

.footer-list li a {
    color: #5A5E62;
}

/* ///// Role Selector Page ///// */

.role-selector .row {
    margin: 10px 0px !important;
}

.role-selector p {
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.role-selector label {
    /*margin-bottom: 20px;*/
}

.role-selector label span {
    background: url(../role-avatars.png) no-repeat;
    background-size: 642px; 
    height: 60px;
    width: 60px;
    display: block;
    margin: 0 auto;
}

.role-selector input[type="radio"]{
    visibility: hidden; 
    -webkit-appearance: none;
    border: none;
}

label > input + span{
  cursor:pointer;
}

.role-selector label .mother-avatar {
    background-position: 0px 0px; height: 80px;
    width: 80px;}

label > input:checked + .mother-avatar {
    background-position: 0px -80px; }

.role-selector label .father-avatar {
    background-position: -80px 0px; height: 80px;
    width: 80px;}

label > input:checked + .father-avatar {
    background-position: -80px -80px;}

.role-selector label .nanny-avatar {
    background-position: -160px 0px;}

label > input:checked + .nanny-avatar {
    background-position: -160px -60px;}

.role-selector label .gf-avatar {
    background-position: -220px 0px;}

label > input:checked + .gf-avatar {
    background-position: -220px -60px;}

.role-selector label .gm-avatar {
    background-position: -280px 0px;}

label > input:checked + .gm-avatar {
    background-position: -280px -60px;}

.role-selector label .guardian-avatar {
    background-position: -340px 0px;}

label > input:checked + .guardian-avatar {
    background-position: -340px -60px;}

.role-selector label .uncle-avatar {
    background-position: -401px 0px;}

label > input:checked + .uncle-avatar {
    background-position: -401px -60px;}

.role-selector label .aunt-avatar {
    background-position: -461px 0px;}

label > input:checked + .aunt-avatar {
    background-position: -461px -60px;}

.role-selector label .brother-avatar {
    background-position: -521px 0px;}

label > input:checked + .brother-avatar {
    background-position: -521px -60px;}

.role-selector label .sister-avatar {
    background-position: -581px 0px;}

label > input:checked + .sister-avatar {
    background-position: -581px -60px;}

.role-selector label .boy-avatar {
    background-position: 0px -160px; height: 100px;
    width: 100px;}

label > input:checked + .boy-avatar {
    background-position: 0px -260px; }

.role-selector label .girl-avatar {
    background-position: -100px -160px; height: 100px;
    width: 100px;}

label > input:checked + .girl-avatar {
    background-position: -100px -260px; }

.alt-or {
    background-image: url(../or.png);
    height: 35px;
    width: 100%;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 20px 0px;
}

.alt-or span {
    background-color: #D3D3D3;
    display: block;
    height: 1px;
    margin-top: 17px;
    z-index: -999;
    width: 100%;
    float: left;
    position: relative;
}

.speech-bubble {
	position: relative;
	background: #ffffff;
	border-radius: 10px 10px 10px 0px ;
    margin: 0px 20px 10px;
    color: #9B9B9B;
    font-style: italic;
    padding: 10px 20px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-left: 0;
	margin-left: 0px;
	margin-bottom: -20px;
}

input[type="date"]::before { 
	content: attr(data-placeholder);
	width: 100%;
}