<br/>
<br/>
<h2> FacePlusPlus</h2>
<%= form_tag "/admin/face_plus/get_response_from_face_plus_plus", :multipart => true do %>
        
    <div class="form-type2">
    <br/>
    <br/>
    <br/>
     <div class="form-row">
    <%= file_field_tag :local_image, id: "sjs-add-profile-pic",   accept: "image/x-png, image/gif, image/jpeg" %>
   </div>
       
       
    <div class="form-type3"><div class="form-action-row">
      <%= submit_tag "submit", class: "btn btn-type2"  %>
      
    </div></div>
  </div>
<% end %>

<br/>
</br/>
<br/>
<% if @image_path.present?%>
<%= image_tag @image_path %>
 <% end %>
 <br/>
 <br/>
<h2> Face LandMark Details: </h2>

 <div>
 <pre><%=JSON.pretty_generate(@data) rescue nil%></pre>
 </div>
 <br/>
 <br/>
 <h2>Skin Details:</h2>
 <br/>
Status of skin, including the following fields. The value of each field is a floating-point number with 3 decimal places between [0,100]. Bigger value of a field indicates greater confidence of the status which the field represents

<br/>
<br/>
<div>
 <pre><%=JSON.pretty_generate(@skin_data) rescue nil%></pre>
 </div>
