 
<%= form_tag "/admin/face_plus/get_response_from_face_plus_plus", :multipart => true do %>
        
    <div class="form-type2">
    <br/>
    <br/>
    <br/>
     <div class="form-row">
    <%= file_field_tag :local_image, id: "sjs-add-profile-pic",   accept: "image/x-png, image/gif, image/jpeg" %>
   </div>
       
       
    <div class="form-type3"><div class="form-action-row">
      <%= submit_tag "submit", class: "btn btn-type2"  %>
      
    </div></div>
  </div>
<% end %>
 











