<% if session[:deeplink].present? %>
<% query_string = session[:deeplink].map{|a| a.join("=")}.join("&")  %>
  <a href="nurturey://deeplink?<%=query_string%>" style="display:none;" class="deeplink_app_launch"> invitation link click app launch </a>
  <script type="text/javascript">
    if(/Android|iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
      <% if Rails.env != "production"%> 
      <% end %>
      $(".deeplink_app_launch")[0].click();
      <% session[:deeplink] = nil %> 
    }
  </script>

<% end %>