<%= javascript_include_tag "application" %>
<script type="text/javascript">
  if(/Android|iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
    setTimeout(function(){ 
      window.location.href = "<%=@redirect_to%>";
    },5000);
  }
  else{
    window.location.href = "<%=@redirect_to%>";
  }
</script>
<%= render :partial=>"layouts/deeplink_check" %>
