  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- meta content for search -->
    <% if (country =="uae" rescue false) %>
       <meta name="Description" CONTENT="Nurturey is a PinkBook, that will let you ease into your pregnancy and parenting journey, and give your child the best start.">
        <meta name="robots" content="index,follow">
        <link rel="canonical" href="<%=APP_CONFIG["default_host"]%>">
        <meta name="og:title" property="og:title" content="Nurturey: PinkBook, Pregnancy and Child Health">
        <title>Nurturey: PinkBook, Pregnancy and Child Health</title>

      <meta name="keywords" content= "Nurturey PinkBook,digital child health,pregnancy,dental,vaccinations,child vision,developmental milestones,immunisations" />


      <% elsif (country =="uk" rescue false) %>
        <meta name="Description" CONTENT="Nurturey is a PinkBook, that will let you ease into your pregnancy and parenting journey, and give your child the best start.">
        <meta name="robots" content="index,follow">
        <link rel="canonical" href="<%=APP_CONFIG["default_host"]%>">
        <meta name="og:title" property="og:title" content="Nurturey: PinkBook, Pregnancy, Child Health">
        <title>Nurturey: PinkBook, Pregnancy and Child Health</title>
    
        <meta name="keywords" content= "Nurturey PinkBook,digital child health,pregnancy,dental,vaccinations,child vision,developmental milestones,immunisations" />

    <% else %>
       
        <meta name="robots" content="index,follow">
        <link rel="canonical" href="<%=APP_CONFIG["default_host"]%>">
        <meta name="og:title" property="og:title" content="Nurturey: PinkBook, Pregnancy, Child Health">
        <title>Nurturey: PinkBook, Pregnancy and Child Health</title>

 

      <meta name="keywords" content= "Nurturey PinkBook,digital child health,pregnancy,dental,vaccinations,child vision,developmental milestones,immunisations">
   <% end %>   
   
  <% if params[:controller] == "home" &&  params[:action]== "index"%> 
      <% if (country =="uk" rescue false) %>
        <meta name="Description" CONTENT="Nurturey is a PinkBook, that will let you ease into your pregnancy and parenting journey, and give your child the best start.">
      <% else %>
        <meta name="Description" CONTENT="Nurturey is a PinkBook, that will let you ease into your pregnancy and parenting journey, and give your child the best start.">
      <% end %>
  <% elsif params[:controller] == "sessions" &&  params[:action]== "new" && params[:pageName] == "signup" %> 
    <meta name="description" content="Create your personalised Nurturey. Your data will be safe, secure and in your control.">
   
  <% elsif params[:controller] == "sessions" &&  params[:action]== "new"%> 
    <meta name="description" content="Let's take care of your children and pregnancy.">
   
  <% elsif params[:controller] == "home" && params[:action] == "features"%>
    <meta name="description" content="Features to empower parents to manage health of pregnancy and children.">
  <% else %>
    <meta name="description" content="Manage health and development of your children from pregnancy to early childhood.">
  <% end %>

<meta property="al:ios:url" content="nurturey://facebook_app_invite" />
<meta property="al:ios:app_store_id" content="1023121839" />
<meta property="al:ios:app_name" content="Nurturey'" />
<meta property="al:android:url" content="nurturey://facebook_app_invite" />
<meta property="al:android:app_name" content="Nurturey" />
<meta property="al:android:package" content="com.nurturey.app" />
<meta property="og:title" content="Nurturey" />
<meta property="og:type" content="website" />
<meta property="al:web:url" content="<%=APP_CONFIG["default_host"]%>" />