<!-- Facebook Pixel Code -->

<% if request.cookies["complianceCookie"] == "on" %>
<script>

fb_pixel_id = parseInt('<%=APP_CONFIG["fb_pixel_id"]%>');

 
 <% if current_user.present? %>
   current_user = JSON.parse('<%= raw(current_user.to_json) %>' );
  <% else %>
   current_user = JSON.parse('<%= raw(Member.new(user_id:Member.new.id).to_json) %>' );
  <% end %>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', parseInt('<%=APP_CONFIG["fb_pixel_id"]%>'));
  <% if (options.present? rescue false)%>
 
  console.log("options")
  console.log(<%=raw options.to_json%>)
    <% if options[:do_not_log_event] != false %>
      fbq('trackCustom', "<%=page_name%>",JSON.parse('<%= raw(options.to_json) %>'));
    <% end %>
  <% elsif page_name.present? %>
  track_fb_pixel_custom_event("<%=page_name%>")
    // fbq('trackCustom', "<%#=page_name%>");
  <% end  %>

  function track_fb_pixel_custom_event(event_name,value=1,options={})
  {
  console.log((window.location.href) || (document.referrer ))
    fbq('trackCustom', (event_name), {
    ValueToSum: value,
    value: value,
    random_value: Math.random(),
    reference_url: ((window.location.href) || (document.referrer )),
    id: (current_user._id + current_user.user_id) 
     
  
  });
  } 
$(document).ready(function(){

  $('body').on('click','.js-apple-store', function(){
    track_fb_pixel_custom_event("iOS App Download",1)
  });
    $('body').on('click','.js-google-play', function(){
    track_fb_pixel_custom_event("Android App Download",1)
  });
});

</script>
<% if page_name.present?%>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=<%=APP_CONFIG['fb_pixel_id']%>&ev=<%=page_name%>&noscript=1&<%=options.to_query rescue 'no_data=true'%>"
/></noscript>
<% end %>
<!-- End Facebook Pixel Code -->
<% else %>
<script>

function track_fb_pixel_custom_event()
{
}
</script>
<% end %>