<!-- footer section start here -->
<footer>
    <div class="wapperBx clearFix">
        <div class="ft-box2">
            <img src="/images/footer-logo.png" alt=""/>
        </div>
        <div class="ft-box1">
            <h2>Follow us on</h2>
            <a href="https://www.facebook.com/nurtureyonweb?ref=hl" target="_blank" class="icon-facebook fb-link">Facebook</a>
            <!--a href="https://twitter.com/Nurturey1" target="_blank" class="icon-twitter tw-link">Twitter</a>
            <a href="https://plus.google.com/115806592770012570256" target="_blank" class="icon-google-plus go-link">Google+</a-->
            <a href="<%=APP_CONFIG['youtube_url']%>" target="_blank" class="icon-youtube u-link">Youtube</a>
            <a href="https://www.linkedin.com/company/5131995?trk=tyah&trkInfo=tarId%3A1416491704761%2Ctas%3Anurturey%2Cidx%3A2-1-3" target="_blank" class="icon-linkedin-square fb-link">Linkedin</a>
        </div>
        <div class="ft-box2">
            <h2>Download our mobile app</h2>
            <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" target="_blank" class="js-apple-store"><img src="/images/app-store1.png" alt=""/></a>
            <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" target="_blank" class="js-google-play"><img src="/images/google-play1.png" alt=""/></a>
        </div>
        <div class="CL"></div>
        <div class="copyRight">©2021 Nurturey, All Rights Reserved. <span class="ft-links"><a href="/home/terms<%=alexa_reference_params_for_home%>">Terms of Service</a> | <a href="/home/privacy<%=alexa_reference_params_for_home%>">Privacy Policy</a>  | <a href="/home/copyright<%=alexa_reference_params_for_home%>">Copyright</a> | <a href="/home/cookies">Cookie use</a> | <a href="#" onclick="createDiv()">Manage Cookies</a></span></div>
    </div>
</footer>