 
<% if request.cookies["complianceCookie"] == "on" %>
<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-58019778-1', 'auto');
ga('send', 'pageview');

// var blocklink = ['http://darodar.com', 'http://econom.co','http://ilovevitaly.com'];
// for (var b = blocklink.length; b–;) {
// if (document.referrer.match(blocklink[b]))
// window.location = “http://google.com/”;
// }
</script>


<!-- Global site tag (gtag.js) - Google Ads: 785106806 --> 
<script async src="https://www.googletagmanager.com/gtag/js?id=<%=APP_CONFIG['google_tag_id']%>"></script>
 <script> 
    window.dataLayer = window.dataLayer || []; 
    function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); 
    gtag('config', '<%=APP_CONFIG["google_tag_id"]%>'); 
</script>
<% end %>