<!-- header star here -->
<header class="clearFix">
    <div class="wapperBx">
        <a href="/dashboard" class="logo"></a>
        <div class="primNav">
            <%= link_to "Home",'/dashboard', class: (params[:controller]=='users' && params[:action]=='dashboard') ? 'active' : nil %>
            <!-- <a href="/.">Calendar</a> -->
            <%= link_to "Family Calendar", "/calendar", class: (params[:controller]=='calendar' && params[:action]=='index') ? 'active' : nil %>
            <%= link_to "Manage Family" ,families_path, class: (params[:controller]=='families' && params[:action]=='index') ? 'active' : nil %>
            <% if current_user.user.can_access_admin_panel? %>
            <%= link_to "Admin" ,"/admin/users/home", class: nil %>
            <% end %>
            <%= link_to "Home",'/dashboard', remote: true, class: "js-home js-header-tab", style:"display:none;" %>
            <!-- <a href="/.">Calendar</a> -->
            <%= link_to "Calendar", "/calendar", remote: true, class: "js-calendar js-header-tab", style:"display:none;" %>
            <%= link_to "Manage Family" ,families_path, :remote=>true,  class: "js-family js-header-tab",style:"display:none;" %>
        </div>
        <div class="avatar-box">
            <ul>
                <!--
                <%#= link_to view_notifications_path, remote: true do %>
                <li class="header-notification">
                  <%# if current_user.notifications.unread.count > 0 %>  
                    <span class="note-count" id="member_note_count_<%= current_user.id %>">
                      <%#= current_user.notifications.unread.count %>
                    </span>
                  <%# end %>
                  <i class="icon-bell"></i>
                </li>
                <%# end %>
                -->

                <li class="header-notification">
                <% if params[:controller].split("/").first != "admin" %>
                <% notification_count = current_user.notifications.unread.count %>
                    <span class="note-count <%= notification_count > 0 ? nil : 'hide' %>">
                        <%= notification_count %>
                    </span>
                    <% end %>
                    <i class="icon-bell js-notification-icon"></i>                    
                </li>
                <% if params[:controller].split("/").first != "admin" %>
                <%= render partial: "users/notifications_dropdown" %>
                <% end %>
                <li><span class="avatar-name">
                    <%= current_user.first_name if current_user %></span></li>
                <li><a href="#." class="settingBx">
                    <%= header_profile_image_tag(current_user) %>
                    <!-- <div class="user-avatar">
                        <%#= image_tag profile_image(current_user,"thumb") if current_user.profile_image.present? %>
                    </div>     -->
                    <i class="icon-caret-down"></i>
                <!-- <img src="/assets/avatar.jpg" alt="" class="avatar-img"/> -->
                </a>

                    <div class="setting-sub">
                        <!-- <a href="#.">Manage Family</a> -->
                        <%= link_to "Settings", "/users/settings", remote: true%>
                        <!-- <a href="#.">Settings</a> -->

                        <a href="/invitations/new" data-remote="true">Invite Friends</a>
                        <!-- <a href="#.">Take a tour</a> -->
                        <!-- <a href="#.">Help</a> -->
                        <%= link_to "Logout", logout_path%>
                                            </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="globel-msg"><!-- <span>Global message Div</span> --></div>
</header>
<!-- header section end here