
    <!--Navbar-->
    <nav class="navbar navbar-light red lighten-1 mb-4" style="background: rgba(255,255,255,0.95);">
      <div class="container" style="position: relative;">
        <div class="row">
          <a class="navbar-brand" href="/"><img src="/assets/homepage/logo.png" class="img-fluid" alt="Nurturey"></a>
          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon3">
              <span></span>
              <span></span>
              <span></span>
              <span></span></div>
          </button>
        </div>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent23">
          <!-- Links -->
          <ul class="navbar-nav text-center">
            <% if alexa_reference_params_for_home.present? %>

              <li class="nav-item <%= params[:controller]== 'users' && params[:action]== 'dashboard' ? 'active' : ''%>">
                <%= link_to "/#{alexa_reference_params_for_home}", class: "nav-link" do %>
                Home
                <% if params[:controller]=='users' && params[:action]=='dashboard' %>
                  <span class="sr-only">(current)</span>
                <% end %>
              <%end%>
            </li>
            <li class="nav-item">
                          <%= link_to "PinkBook Tools", "/features#{alexa_reference_params_for_home}", class: "nav-link" %>
                        </li>
                        <li class="nav-item <%=params[:action] == 'features' ? 'active' : ''%>">
                          <%= link_to "PinkBook Tools", "/features#{alexa_reference_params_for_home}", class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Online NHS Services", "/home/nhs_services#{alexa_reference_params_for_home}", class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Download", "/home/download#{alexa_reference_params_for_home}", class: "nav-link" %>
                        </li>

            <li class="nav-item">
              <%= link_to "Blog", "https://nurturey.com/blog", target: '_blank', class: "nav-link" %>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="/<%#=alexa_reference_params_for_home%>#howit">How it works</a>
            </li> -->

            <li class="nav-item">
              <a class="nav-link" href="/home/faq<%=alexa_reference_params_for_home%>">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/alexa/sign_in<%=alexa_reference_params_for_home%>">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/alexa/sign_up<%=alexa_reference_params_for_home%>">Sign Up</a>
            </li>

          <% else %>

            <li class="nav-item">
              <%= link_to 'Home', '/', class: 'nav-link' %>
          </li>
          <li class="nav-item">
                          <%= link_to "PinkBook Tools", "/features", class: "nav-link" %>
                        </li>
                        <li class="nav-item <%=params[:action] == 'features' ? 'active' : ''%>">
                          <%= link_to "PinkBook Tools", "/features", class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Online NHS Services", "/home/nhs_services", class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Download", "/home/download", class: "nav-link" %>
                        </li>
          <li class="nav-item">
            <%= link_to "Blog", "https://nurturey.com/blog", target: '_blank', class: "nav-link" %>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="/#howit">How it works</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="/home/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in?pageName=signup">Sign Up</a>
          </li>

        <% end %>

        <li class="nav-item" style="padding: 20px;">
          <a target='_blank'  href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><img src="/assets/homepage/AppleStore.jpg" height="60" alt="Apple App Store" style="margin:10px 5px 10px 0px"></a>
          <a target='_blank'  href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/GooglePlay.jpg" height="60" alt="Google Play Store" style="margin:10px 0px 10px 5px"></a>
        </li>
      </ul>
      <!-- Links -->
      <!-- Collapsible content -->
    </div>
  </div>
</nav>
<!--/.Navbar-->