<nav
  class="navbar navbar-light lighten-1 sticky-top"
  style="background: rgba(255,255,255,0.99);-webkit-box-shadow: 0px 5px 10px -4px rgba(150,150,150,0.15); -moz-box-shadow: 0px 5px 10px -4px rgba(150,150,150,0.15); box-shadow: 0px 5px 10px -4px rgba(150,150,150,0.15);">
  <div class="container" style="position: relative;">
    <div class="row">
      <a class="navbar-brand" href="/"><img src="/assets/homepage/logo-monogram.png" class="img-fluid" alt="Nurturey"></a>
      <div class="store-buttons">
        <a class="apple-btn" target='_blank'  href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><i class="fab fa-apple" style="padding-right: 5px;"></i></a>
        <a class="android-btn" target='_blank'  href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><i class="fab fa-google-play"></i></a>
      </div>
        <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent24" aria-controls="navbarSupportedContent24"
    aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon3"><span></span><span></span><span></span><span></span></div>
      </button>
    </div>

    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent24">
      <!-- Links -->
      <ul class="navbar-nav text-center">
        <% if alexa_reference_params_for_home.present? %>

          <li class="nav-item <%= params[:controller]== 'users' && params[:action]== 'dashboard' ? 'active' : ''%>">
            <%= params[:controller]== 'users' && params[:action]== 'dashboard' ? 'active' : ''%>">
            <%= link_to "/#{alexa_reference_params_for_home}", class: "nav-link" do %>
            Home
            <% if params[:controller]=='users' && params[:action]=='dashboard' %>
              <span class="sr-only">(current)</span>
            <% end %>
          <%end%>
        </li>
        <li class="nav-item"><a class="nav-link" href="/features<%=alexa_reference_params_for_home%>">Featured Tools</a></li>
        <li class="nav-item">
          <a class="nav-link" href="https://nurturey.com/blog" target='_blank'>Blog</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">How it works</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/home/faq<%=alexa_reference_params_for_home%>">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alexa/sign_in<%=alexa_reference_params_for_home%>">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alexa/sign_up<%=alexa_reference_params_for_home%>">Sign Up</a>
        </li>

      <% else %>
        <% if params[:action]=='features' %>
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item active"><a class="nav-link" href="/features">Featured Tools<span class="sr-only">(current)</span></a></li>
        <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/features">Featured Tools</a></li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="https://nurturey.com/blog" target='_blank'>Blog</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">How it works</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/home/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in?pageName=signup">Sign Up</a>
        </li>
      <% end %>

      <li class="nav-item" style="padding: 20px;">
        <a target='_blank'  href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><img src="/assets/homepage/AppleStore.jpg" height="60" alt="Apple App Store" style="margin:10px 5px 10px 0px"></a>
        <a target='_blank'  href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/GooglePlay.jpg" height="60" alt="Google Play Store" style="margin:10px 0px 10px 5px"></a>
      </li>
    </ul>
  </div>
</div>
</nav>