<header>
  <!-- Navigation Wrap -->
  <div class="header-wrapper navigation-wrap bg-light start-header start-style">
    <!-- Container -->
    <a id="top"></a>
    <div class="container">
      <!-- Row -->
      <div class="row">
        <!-- Col -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <!-- Header Wrap -->
          <div class="header-wrap">
            <!-- Nav -->
            <nav class="navbar navbar-light">
              <a class="navbar-brand" href="/">
                  <img src="/assets/homepage/logo-white.png" class="img-fluid custom-logo" alt="Nuturey">
                <img src="/assets/homepage/logo-monogram.png" class="img-fluid logo-scroll" alt="Nuturey" style="display: none">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto py-4 py-md-0">
                  <% if alexa_reference_params_for_home.present? %>
                  <li class="nav-item <%= params[:controller]== 'users' && params[:action]== 'dashboard' ? 'active' : ''%>">
                    <%= link_to "/#{alexa_reference_params_for_home}", class: "nav-link" do %>Home
                    <% if params[:controller]=='users' && params[:action]=='dashboard' %>
                    <span class="sr-only">(current)</span>
                    <%end%>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "PinkBook Tools", "/pinkbook_tools#{alexa_reference_params_for_home}", class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Online NHS Services", "/nhs_services#{alexa_reference_params_for_home}", class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Download", "/download#{alexa_reference_params_for_home}", class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Blog", "https://nurturey.com/blog", target: '_blank', class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/faq<%=alexa_reference_params_for_home%>">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/alexa/sign_in<%=alexa_reference_params_for_home%>">Sign In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/alexa/sign_up<%=alexa_reference_params_for_home%>">Sign Up</a>
                  </li>

                  <% else %>
                  <li class="nav-item">
                    <%= link_to 'Home', '/', class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "PinkBook Tools", "/pinkbook_tools", class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Online NHS Services", "/nhs_services", class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Download", "/download", class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Blog", "https://nurturey.com/blog", target: '_blank', class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/sign_in">Sign In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/sign_in?pageName=signup">Sign Up</a>
                  </li>
                  <% end %>
                  <li class="nav-item">
                    <span class="download-icon">
                      <a class="nav-app-links js-apple-store" href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" target="_blank">
                        <span class="download-fa-icon"><i class="fab fa-apple"></i></span>
                        <span class="small-text">Download App on <span class="lg-text">App Store</span></span>
                      </a>
                    </span>
                    <span class="download-icon mob-btn">
                      <a class="nav-app-links js-google-play" href="https://play.google.com/store/apps/details?id=com.nurturey.app" target="_blank">
                        <span class="download-fa-icon"><i class="fab fa-google-play"></i></span>
                        <span class="small-text">Download App on <span class="lg-text">Google Play</span></span>
                      </a>
                    </span>
                  </li>
                </ul>
              </div>
            </nav>
            <!-- /Nav -->
          </div>
          <!-- /Header Wrap -->
        </div>
        <!-- /Col -->
      </div>
      <!-- /Row -->
    </div>
    <!-- /Container -->
  </div>
  <!-- /Navigation Wrap -->
</header>