<ul class="navbar-nav ml-auto py-4 py-md-0">
  <% if alexa_reference_params_for_home.present? %>
  <li class="nav-item <%= params[:controller]== 'users' && params[:action]== 'dashboard' ? 'active' : ''%>">
    <%= link_to "/uae#{alexa_reference_params_for_home}", class: "nav-link" do %>
    Home
    <% if params[:controller]=='users' && params[:action]=='dashboard' %>
    <span class="sr-only">(current)</span>
    <%end%>
    <% end %>
  </li>
  <li class="nav-item <%=params[:action] == 'features' ? 'active' : ''%>">
    <%= link_to "Featured Tools", "/features#{alexa_reference_params_for_home}", class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Blog", "http://blog.nurturey.com/", target: '_blank', class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/uae_faq<%=alexa_reference_params_for_home%>">FAQ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alexa/sign_in<%=alexa_reference_params_for_home%>">Sign In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alexa/sign_up<%=alexa_reference_params_for_home%>">Sign Up</a>
  </li>
  <% else %>
  <li class="nav-item">
    <%= link_to 'Home', '/uae', class: 'nav-link' %>
  </li>
  <li class="nav-item <%=params[:action] == 'features' ? 'active' : ''%>">
    <%= link_to "Featured Tools", "/features", class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Blog", "http://blog.nurturey.com/", target: '_blank', class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/uae_faq">FAQ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/sign_in">Sign In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/sign_in?pageName=signup">Sign Up</a>
  </li>
  <% end %>
  <li class="nav-item">
    <span class="download-icon">
    <a class="nav-app-links js-apple-store" href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" target="_blank">
    <span class="download-fa-icon"><i class="fab fa-apple"></i></span>
    <span class="small-text">Download App on <span class="lg-text">App Store</span></span>
    </a>
    </span>
    <span class="download-icon mob-btn">
    <a class="nav-app-links js-google-play" href="https://play.google.com/store/apps/details?id=com.nurturey.app" target="_blank">
    <span class="download-fa-icon"><i class="fab fa-google-play"></i></span>
    <span class="small-text">Download App on <span class="lg-text">Google Play</span></span>
    </a>
    </span>
  </li>
</ul>