<div class="section fp-auto-height" id="footer">
<div class="content">
  <div class="container">
    <div class="row text-left">
      <div class="col-md-5 border-footer">
        <div class="row">
          <div class="col-md-4 sm-footer">
            <img src="/assets/homepage/footer-logo.png" class="img-fluid" title="Nurturey" alt="Nurturey">
          </div>
          <div class="col-md-8">
            <div class="footer-text">
              <p>Nurturey: Pregnancy & Child Health PinkBook is the smartest digital assistant that helps parents manage their pregnancy and child's health.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-2 col-sm-6 border-footer">
        <div class="links-content">
          <h5>Links</h5>
          <ul>
            <li>
              <a href="/home/terms<%=alexa_reference_params_for_home%>">Terms of Service</a>
            </li>
            <li>
              <a href="/home/privacy<%=alexa_reference_params_for_home%>">Privacy Policy</a>
            </li>
            <li>
              <a href="/home/copyright<%=alexa_reference_params_for_home%>">Copyright</a>
            </li>
            <li>
              <a href="/home/cookies<%=alexa_reference_params_for_home%>">Cookie use</a>
            </li>
            <!--<li>
              <a href="#" onclick="createDiv()">Manage Cookies</a>
            </li>-->
          </ul>
        </div>
      </div>
      <div class="col col-md-2 col-sm-6">
        <div class="links-content">
          <h5>Social</h5>
          <ul>
            <li>
              <a href="https://www.facebook.com/nurtureyonweb?ref=hl" target="_blank">Facebook</a>
            </li>
            <li>
              <a href="<%=APP_CONFIG['youtube_url']%>" target="_blank">Youtube</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/5131995?trk=tyah&trkInfo=tarId%3A1416491704761%2Ctas%3Anurturey%2Cidx%3A2-1-3" target="_blank">Linkedin</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-btn">
          <a target='_blank'  href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><img src="/assets/homepage/iphone-app.png" class="img-fluid" alt="Nurturey" title="Nurturey"></a>
          <a target='_blank'  href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/google-app.png" class="img-fluid" alt="Nurturey" title="Nurturey"></a>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <div class="copyright-text">
          <p>©2021 Nurturey, All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
