<!DOCTYPE html>
<html>
<head lang="en">
<link rel="shortcut icon" type="image/ico" href="/assets/nurturey.ico" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- meta content for search -->
    <meta name="keywords" content= "The nurturey, Parents, Parenting, Child, Pregnancy, child development, baby,child care, Personal assistant for parents, immunisation, milestones,psychology, motherhood, Toddler, Infant">
    <title>
      <%= content_for?(:title) ? yield(:title) : "| Nurturey |  One-stop companion for Parents |" %>
    </title>
    <meta name="description" content="Nurturey is intelligent personal assistant for parents, excellent in managing boring and tedious tasks of parenting journey.">
    <%#= javascript_include_tag "https://connect.facebook.net/en_US/all.js" %>
    <!-- meta content for search -->
    <title>Nurturey Home</title>
   
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "chosen" %>
    <%=stylesheet_link_tag 'jquery.dataTables.min'%>
    <!-- <link rel="stylesheet" href="/assets/jquery.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="/assets/default-style.css"/> -->
    <%= javascript_include_tag "application",'jquery.tokenize' %>
     
    <%= javascript_include_tag "autocomplete-rails.js"%>
    <%= stylesheet_link_tag "jquery.tokenize"%> 
    <%= stylesheet_link_tag "dataTables_fixedHeader"%> 
    <%= javascript_include_tag "dataTables_fixedHeader"%> 
    <%= javascript_include_tag "chosen-jquery"%> 
 
     
     <%=yield :head %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<a id="top"></a>
<!-- header include here -->
 <%= render "layouts/header" %>

<!-- body section start here -->
<div class="wapperBx bodywapper">
<% if params[:action] != "home" %>
  <% module_list_for_user = current_user.accessible_admin_panel_module_list_for_user%>
  <% if module_list_for_user.include?("SummeryReports&UserList") %>
    <%=link_to "User basic list", "/admin/users/" %> 
    &nbsp;&nbsp;&nbsp;

    <%=link_to "Deleted user list", "/admin/users/deleted_user_details" %> 
    &nbsp;&nbsp;&nbsp;
    
    <%=link_to "User Type", "/admin/users/user_type" %> 
    &nbsp;&nbsp;&nbsp;
    
    <%=link_to "Basic summary report", "/admin/users/report" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("PointersMaintenance") %>
    <%=link_to "Pointers maintenance", "/admin/pointers/" %> 
    &nbsp;&nbsp;&nbsp;
  <% end %>
<% if module_list_for_user.include?("ScenarioDetails") %>

   <%=link_to "Scenario maintenance", "/admin/scenario_details" %>
   &nbsp;&nbsp;&nbsp;
  <% end %>
  <% if module_list_for_user.include?("SubscriptionMaintenance") %>
    <%=link_to "Subscription maintenance", "/admin/subscription_maintenance" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("ToolsListMaintenance") %>
    <%=link_to "Tools list maintenance", "/admin/tool_list_maintenance/" %>
    &nbsp;&nbsp;&nbsp; 
  <% end %>

  <% if module_list_for_user.include?("ActionCardListMaintenance") %>
    <%=link_to "Action card list maintenance", "/admin/action_card_list_maintenance/" %> 
    &nbsp;&nbsp;&nbsp;
  <%end %>

  <% if module_list_for_user.include?("UserRoleMaintenance") %>
    <%=link_to "User Role maintenance", "/admin/user_role_for_admin_panel/" %>
      &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("ModuleAccessMaintenance") %>
    <%=link_to "Module Access maintenance", "/admin/module_access_for_role/" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

 
  <% if module_list_for_user.include?("PushNotificationReport") %>
    <%=link_to "User Notification Report", "/admin/pointers/push_pointer_count_report/" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("BatchNotificationManager") %>
    <%=link_to "Batch Notification maintenance", "/admin/batch_notification_manager/" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("PushNotificationReport") %>
    <%=link_to "Push notification report", "/admin/users/push_notification_report/" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("FacePlusPlus") %>
    <%=link_to "Face++ Api", "/admin/face_plus/" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("SummeryReports&UserList") %>
    <%=link_to "Alexa Request", "/admin/alexa/" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("SystemTemplate") %>
    <%=link_to "All Template", "/admin/system_template/" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("SystemFaq") %>
    <%=link_to "System Faq", "/admin/faq" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>  

  <% if module_list_for_user.include?("ApiLog") %>

   <%=link_to "Api Log", "/admin/api_log" %>
   &nbsp;&nbsp;&nbsp;
   <%=link_to "Admin panel access Log", "/admin/api_log/admin_panel_access_log" %>
   &nbsp;&nbsp;&nbsp;
   <% end %>
   <% if module_list_for_user.include?("EventLog") %>
      <%=link_to "Event Log", "/admin/api_log/event_log_data" %>
   &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("SubscriptionReport") %>
   <%=link_to "Subscription Report", "/admin/subscription_maintenance/subscription_report" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("NHSRequestManager") %>
    <%=link_to "NHS Api", "/admin/nhs_request_manager" %>
    &nbsp;&nbsp;&nbsp;
    
  <% end %>
  <% if module_list_for_user.include?("AffiliateLinks") %>
    <%=link_to "Affiliate Links", "/admin/amazon_affiliate_links" %>
    &nbsp;&nbsp;&nbsp;
    
  <% end %>


  <% if module_list_for_user.include?("KpiData") %>
    <%=link_to "KpiData", "/admin/users/kpi_data" %>
    &nbsp;&nbsp;&nbsp;
    
  <% end %>
  <% if module_list_for_user.include?("Clinic") %>
    <%=link_to "Setup Organization", "/admin/clinic" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>
  <% if module_list_for_user.include?("SystemSettings") %>
    <%=link_to "System Settings", "/admin/system_settings" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>
  <% if module_list_for_user.include?("EmisLog") %>
      <%=link_to "Emis Log", "/admin/api_log/emis_logs" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>
  <% if module_list_for_user.include?("TppLog") %>
      <%=link_to "Tpp Log", "/admin/api_log/tpp_logs" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>

  <% if module_list_for_user.include?("CvtmePurchaseEventLog") %>
      <%=link_to "CVTME purchase log", "/admin/api_log/cvtm_purchase_event_log_data" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>
   <% if module_list_for_user.include?("NhsSyndicatedContent") %>
      <%=link_to "Nhs Syndicated Content", "/admin/nhs_syndicated_content" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>
  <% if module_list_for_user.include?("SmileADesignContest") %>
      <%=link_to "SmileADesign Contest", "/admin/smile_a_design_contest_result" %>
    &nbsp;&nbsp;&nbsp;
  <% end %>
  <% if module_list_for_user.include?("NhsLogin/GPLinked AccountManager") %>
      <%=link_to "Manage NhsLogin/GPLinked Account", "/admin/manage_nhs_account" %>
      
    &nbsp;&nbsp;&nbsp;
  <% end %>
  <% if module_list_for_user.include?("UnregisterFromEmail") %>
      <%=link_to "Manage UnregisterFromEmail", "/admin/unregister_from_email" %>
      
    &nbsp;&nbsp;&nbsp;
  <% end %>
  <% if module_list_for_user.include?("NhsApiLog") %>
      <%=link_to "NhsApiLog", "/admin/api_log/nhs_api_logs" %>
      
    &nbsp;&nbsp;&nbsp;
  <% end %>
<% end %>

  

<%= yield :before_left %>
   
    <div id="js-page-content">
    </div>
    <% if current_user.blank? %>
    <div class="loginBxTop">
      <a href="#" class="lginLink">LOGIN</a>
      <div class="loginDrp">
        <%= form_for "user", :url => new_user_session_path, :html=>{:class=>"form-inline", :autocomplete => "off" } do |f| %>
        <%= f.text_field :email, :class => "inputType2 eicon",:id=>"email_login",  :autofocus => true, :placeholder => "Email" %>
        <%= f.password_field :password,:id=>"pwd_login", :class => "picon inputType2", :placeholder => "Password" %>
        <%= f.submit "Login", :class => "buttonType3",:style=>"margin-left: 15px;" %>
        <%= link_to "Forgot your password?", new_user_password_path, :class => "frgtPas" %>
        <% end %>
      </div>
    </div>
    <% @resource = User.new
    @country_code = request.location.country_code rescue ""
    %>
    Signup
    <%#= render :partial=>"home/register" %>
    <% end %>
    <%= yield %>
</div>
<!-- body section end here -->
<!-- footer include here -->
<!-- footer section start here -->
 <%= render "layouts/footer"%>
<!-- footer section start here -->
<a href="#top" class="page-up icon-chevron-up scroll"></a>
</body>
</html>