<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <link rel="stylesheet" href="/assets/cookie_msg.css"/>

    <title>Sign up</title>
    
    <!-- Bootstrap core CSS -->
<style type="text/css">
body{
    position:relative;
}
.hidden{
    display:none;
}
.ajax_loader{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,.5);
}
.ajax_loader i{
    position:absolute;    
    left:50%;
    top:35%;
}


.cookie-msg{
  padding-top: 6px;
  margin-top: -1px;
}


</style>

      <!-- <link rel="stylesheet" type="text/css" href="/assets/alexa_signup/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> -->
    
    <!-- <link rel="stylesheet" type="text/css" href="/assets/alexa_signup/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/assets/alexa_signup/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/alexa_signup/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/assets/alexa_signup/css/bootstrap-formhelpers.css">
    <link rel="stylesheet" type="text/css" href="/assets/alexa_signup/css/datepicker3.css">

    
    <!-- SCRIPT -->
    <script src="/assets/jquery-1.11.1.min.js"></script>
    <script src="/assets/alexa_signup/modernizr.min.js"></script>
     <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="/assets/alexa_signup/popper.js"></script> -->
   
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <script src="/assets/alexa_signup/bootstrap.min.js"></script>
    
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script> -->
    
    <script src="/assets/alexa_signup/bootstrap-formhelpers.js"></script>
    <script src="/assets/alexa_signup/bootstrap-formhelpers-countries.js"></script>
    <script src="/assets/alexa_signup/bootstrap-datepicker.js"></script>
    <script src="/assets/alexa_signup/moment.min.js"></script>
    <script src="/assets/alexa_signup/bootstrap-datepicker-mobile.js"></script>
    <script src="/assets/alexa_signup/signup_flow.js"></script>
    <script type="text/javascript">
        var error_message  = "There is some network error.Please try again"

        function handleErrorRespose(error){
            $(".js-alexa-signup-error").show();
            msg = "<span style='color:red'>" + error + "</span>";
            $(".js-alexa-signup-error").html(msg);
            fadeOutErroMessage();
        }

        function fadeOutErroMessage(){
            setTimeout(function() {
            $(".js-alexa-signup-error").fadeOut('fast');
            }, 3000);
        }
    </script>
<% event_name = params[:action] == "index" ? "Alexa signup": "Alexa signin" %>
    <% alexa_source_reference = params[:app_name] || session[:alexa_source_reference]%> 
    <% do_not_log_event = params[:app_name].blank? %>
    <% event_platform = params[:platform] == "googleassistance" ? "Google home" : "Alexa" %>
      <%= render :partial=>"/layouts/fb_pixel",:locals=>{:do_not_log_event=>do_not_log_event,:page_name=>event_name,:options=>{:app_name=>alexa_source_reference,:platform=>event_platform,:ValueToSum=>1}} %>
    <%= render partial: "/layouts/google_analytics_script" %>
    
    
</head>


<body>
<a id="top"></a>
 
    <!-- NAVIGATION -->
    <nav class="navbar navbar-dark navbar-full" style="background-color: #14953A;">
        <a class="navbar-brand" href="/"><img src="/assets/alexa_signup/logo.png" height="41" width="120"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto" style="text-align: center; font-size: 18px;">
                <li class="nav-item"><a class="nav-link" href="/?<%=alexa_reference_params%>">Home</a></li>
                <li class="nav-item">

                <a class="nav-link" href="/features?<%=alexa_reference_params%>">Featured Tools</a>
            </li>
                <li class="nav-item"><a class="nav-link" href="/?<%=alexa_reference_params%>#howit">How it works</a></li>
                <li class="nav-item"><a class="nav-link" href="/home/faq?<%=alexa_reference_params%>">Faq</a></li>
                <li class="nav-item"><a class="nav-link" href="https://nurturey.com/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/alexa/sign_in?<%=alexa_reference_params%>" style="color: black !important;">Sign In</a></li>
                <li class="nav-item"><a class="nav-link" href="/alexa/sign_up?<%=alexa_reference_params%>" style="color: black !important;">Sign Up</a></li>
            </ul>
            <form class="my-2 my-lg-0">          
                <div class="buttons-buttons text-center">
                    <button type="button" onclick="location.href='https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8';" class="btn btn-light js-apple-store" style="width: 150px; height: 60px; margin: 10px 5px 20px 5px;">
                        <i class="fa fa-apple" aria-hidden="true" style="display:inline-block; font-size: 30px; float: left; margin: 5px 10px 5px 10px; padding: 0px;"></i>
                        <div style="float: left; text-align: left; display: inline-block; line-height: 17px; "><span style="font-size:12px;">Get it on</span><br /><span style="font-size: 16px;"><strong>App Store</strong></span></div>
                    </button>
                    
                    <button type="button" onclick="location.href='https://play.google.com/store/apps/details?id=com.nurturey.app';" class="btn btn-light js-google-play" style="height: 60px; width: 155px; margin: 10px 5px 20px 5px; padding: 10px;">
                        <img src="/assets/alexa_signup//google-play.png" height="26" width="24" style="display:inline-block; float: left; margin: 5px 8px 5px 5px;">
                        <div style="float: left; text-align: left; display: inline-block; line-height: 17px;"><span style="font-size:12px;">Get it on</span><br /><span style="font-size: 16px;"><strong>Google Play</strong></span></div>
                    </button>
                </div>
            </form>
        </div>
    </nav>
    <!-- MAIN BODY CONTENT -->
    <div class="main-body container">

      <div class="js-alexa-signup-error" style="text-align: center;margin-top: 10px;"></div>
      <div class="js-main-body">
        <%= yield %> 
      </div>
    </div>
    
    <!-- FOOTER -->   
    <footer class="container-fluid">
        <div class="container">
            
            <div class="row">
                <div class="col text-center">
                    <img src="/assets/alexa_signup//footer-logo.png" height="76" width="104">
                </div>
            </div>
           
            <div class="row list-unstyled footer-list">
                <div class="col">
                    <p style="padding: 0px; color: #ffffff; margin-bottom: 10px;"><strong>LINKS</strong></p>
                    <ul class="list-unstyled">
                      <li><a href="/home/terms?<%=alexa_reference_params%>">Terms of services</a></li>
                      <li><a href="/home/copyright?<%=alexa_reference_params%>">Privacy Policy</a></li>
                      <li><a href="/home/copyright?<%=alexa_reference_params%>">Copyright</a></li>
                      <li><a href="/home/cookies?<%=alexa_reference_params%>">Cookie use</a></li>
                    </ul>
                </div>
                
                <div class="col">
                    <p style="padding: 0px; color: #ffffff; margin-bottom: 10px;"><strong>SOCIAL</strong></p>
                    <ul class="list-unstyled">
                        <li><a href="https://www.facebook.com/nurtureyonweb?ref=hl">Facebook</a></li>
                        <li><a href="https://www.linkedin.com/company/5131995?trk=tyah&trkInfo=tarId%3A1416491704761%2Ctas%3Anurturey%2Cidx%3A2-1-3">Linkedin</a></li>
                        <li><a href="<%=APP_CONFIG['youtube_url']%>">Youtube</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item" style="margin:0 5px 10px; padding: 0px;"><a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" class="js-apple-store"><img src="/assets/alexa_signup//applstore-badge.png" height="60" width="200" /></a></li>
                         <li class="list-inline-item" style="margin:0 5px 10px; padding: 0px;"><a href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/alexa_signup//googleplay-badge.png" height="60" width="200" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col text-center" style="border-top:1px solid #1f1f1f; margin-top: 10px;"><p>©<%=APP_CONFIG["copyright_year"] %>Nurturey. All Rights Reserved.</p></div>
                
            </div>
        </div>
    <div class="ajax_loader hidden"><i class="fa fa-spinner fa-spin"></i>Please wait..</div>
    </footer>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
   
    <script>
        $ (function() {
            $('.datepicker').datepicker();
        });
    </script>

</body>
</html>
