<!DOCTYPE html>
<html>
<head lang="en">
<link rel="shortcut icon" type="image/ico" href="/assets/nurturey.ico" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= render :partial => "/layouts/facebook_app_invite_meta_tag" %>

    <!-- meta content for search -->
    <meta name="keywords" content= "The nurturey, Parents, Parenting, Child, Pregnancy, child development, baby,child care, Personal assistant for parents, immunisation, milestones,psychology, motherhood, Toddler, Infant">
    <title>
      <%= content_for?(:title) ? yield(:title) : "| Nurturey |  One-stop companion for Parents |" %>
    </title>
    <meta name="description" content="Nurturey is intelligent personal assistant for parents, excellent in managing boring and tedious tasks of parenting journey.">
    <%= javascript_include_tag "https://connect.facebook.net/en_US/all.js" %>
    <!-- meta content for search -->
    <title>Nurturey Home</title>
   
    <%= stylesheet_link_tag "application" %>
    <!-- <link rel="stylesheet" href="assets/jquery.dataTables.min.css"> -->
    
    <!-- <link rel="stylesheet" href="/assets/default-style.css"/> -->
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
        (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=295268883991452&version=<%=APP_CONFIG[:FB_api_version]%>";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
<!-- Facebook Pixel code -->
  <!-- <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '1555987324671407']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript>
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1555987324671407&amp;ev=PixelInitialized" />
  </noscript> -->

  <!-- working code -->
    <%= render :partial=>"/layouts/fb_pixel",:locals=>{:page_name=>"" } %>
  
<!-- End OF Facebook Pixel code -->
    <%= render partial: "/layouts/google_analytics_script" %>
     <%=yield :head %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<a id="top"></a>
<!-- header include here -->
 <%= render "layouts/header" %>

<!-- body section start here -->
<div class="wapperBx bodywapper">
<%= yield :before_left %>
   
    <div id="js-page-content">
    </div>
    <% if current_user.blank? %>
    <div class="loginBxTop">
      <a href="#" class="lginLink">LOGIN</a>
      <div class="loginDrp">
        <%= form_for "user", :url => new_user_session_path, :html=>{:class=>"form-inline", :autocomplete => "off" } do |f| %>
        <%= f.text_field :email, :class => "inputType2 eicon",:id=>"email_login",  :autofocus => true, :placeholder => "Email" %>
        <%= f.password_field :password,:id=>"pwd_login", :class => "picon inputType2", :placeholder => "Password" %>
        <%= f.submit "Login", :class => "buttonType3",:style=>"margin-left: 15px;" %>
        <%= link_to "Forgot your password?", new_user_password_path, :class => "frgtPas" %>
        <% end %>
      </div>
    </div>
    <% @resource = User.new
    @country_code = request.location.country_code rescue ""
    %>
    Signup
    <%#= render :partial=>"home/register" %>
    <% end %>
    <%= yield %>
</div>
<!-- body section end here -->
<!-- footer include here -->
<!-- footer section start here -->
 <%= render "layouts/footer"%>
<!-- footer section start here -->
<a href="#top" class="page-up icon-chevron-up scroll"></a>
</body>
</html>