<div class="bodyWapper">
   
  <div class="CL"></div>
  <div class="tabContainer" style="border-radius: 14px 14px 14px 14px ;">
    <div style="height:400px;">
        <div style="padding-left:40%;padding-top:17%;">
          <h1> Coming Soon </h1>
        </div>
    </div>
  </div>
</div>