<style type="text/css">
body{margin:0;padding:0;}
.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;

}
.login_btn {
  border-radius: 5px;
}
.btn-type2 {
  background-color: #ffc15d;
  color: #000000;
  margin-top: 10px;


}
.btn-type1 {
  background-color: #006926;
  color: #000000;
  margin-top: 10px;
}

.container {
  max-width:600px!important;
  display:block!important;
  margin:0 auto!important; /* makes it centered */
  clear:both!important;
}
.imageBox{
  margin-bottom: -4px;
  max-width:100% !important;
}
</style>
<meta name="viewport" content="width=device-width" />
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="container"><a href="https://www.nurturey.com/" target="_blank"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/mailer-head.png" class="imageBox" alt="" /></a></td>
  </tr>
  <tr>
    <td class="container" style="border-left:1px solid #d8d9da;border-right:1px solid #d8d9da; box-sizing:border-box;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
    <td colspan="3" height="10"></td>
  </tr>
  <tr>
    <td width="10"></td>
    <td>
    <%= yield %>

    </td>
    <td width="10"></td>
  </tr>
  <tr>
    <td colspan="3" height="10"></td>
  </tr>
</table>

    </td>
  </tr>
  <tr>
    <td style="background-color:#000;" class="container">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="3" height="20"></td>
          </tr>
          <tr>
            <td width="15"></td>
            <td style="color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:12px;">
              <div style="float:left;">Contact: <a href="mailto:support@nurturey.com" style="color:#fff;">support@nurturey.com</a></div>
              <div style="float:right;">
                <a href="https://www.facebook.com/nurtureyonweb?ref=hl"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/comp-fb.png" width="20" height="20" alt="" /></a>
                <a href="https://www.linkedin.com/company/5131995?trk=tyah&trkInfo=tarId%3A1416491704761%2Ctas%3Anurturey%2Cidx%3A2-1-3"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/comp-in.png" width="20" height="20" alt="" /></a>
                <a href="<%=APP_CONFIG['youtube_url']%>"><img src="<%= APP_CONFIG["default_host"]%>/assets/mailer/comp-you.png" width="20" height="20" alt="" /></a>
                </div>
            </td>
            <td width="15"></td>
          </tr>
          <tr>
            <td colspan="3" height="10"></td>
          </tr>
        </table>

    </td>
  </tr>
</table>