<!DOCTYPE html>
<html>
<head lang="en">
<%= render :partial => "/layouts/facebook_app_invite_meta_tag" %>
<link rel="shortcut icon" type="image/ico" href="/assets/nurturey.ico" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
   
    <%= stylesheet_link_tag "application" %>
    
    <!-- <link rel="stylesheet" href="/assets/default-style.css"/> -->
    <%= javascript_include_tag "application" %>
     
    <%= render :partial=>"layouts/assets_link" %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- header include here -->
 <%= render "layouts/header" %>

 
<!-- body section start here -->
<div class="wapperBx bodywapper">
  <%= yield %>
</div>
<!-- body section end here -->
<!-- footer include here -->
<!--#include virtual="inc-footer.shtml" -->
</body>
</html>