<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <title>Dedicated to parents and children</title> -->
    <%= render :partial => "/layouts/facebook_app_invite_meta_tag",locals:{country:"uae"} %>
    <meta name="description" content="The digital healthbook" />
    <meta property="og:image" content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo.png"/>
    <meta property="og:image:secure_url" content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo.png" />
    <meta content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo.png" itemprop="image">
    <meta property="og:image:height" content="200">
    <meta property="og:image:width" content="200">
    <!-- <link rel='shortcut icon' href='favicon.png' type='image/x-icon' /> -->
    <link rel="shortcut icon" type="image/ico" href="/assets/nurturey.ico"/>
    <!-- CSS styles -->
    <link rel="stylesheet" href="/assets/homepage/uae/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/homepage/responsive.css" >
    <link rel="stylesheet" href="/assets/homepage/style.css">
    <!-- <link rel="stylesheet" href="/assets/cookie_msg.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= javascript_include_tag "https://connect.facebook.net/en_US/all.js" %>
    <!--  JavaScript Files -->
    <script src="/assets/homepage/uae/jquery-3.4.1.min.js"></script>
    <script src="/assets/homepage/uae/bootstrap.min.js"></script>
    <script src="/assets/homepage/uae/scrollreveal.js"></script>
    <script src="/assets/homepage/uae/script.js"></script>
    <script src="/assets/homepage/uae/scrollreveal.js"></script>
    <script type="text/javascript">
      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=295268883991452&version=<%=APP_CONFIG[:FB_api_version]%>";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= render :partial=>"/layouts/fb_pixel",:locals=>{:page_name=>"home_uae"} %>
    <%= render partial: "/layouts/google_analytics_script" %>
    <%=yield :head %>
    <!-- /CSS styles -->
  </head>
  <body>
    <header>
      <!-- Header -->
      <!-- Navigation Wrap -->
      <div class="header-wrapper navigation-wrap bg-light start-header start-style">
        <!-- Container -->
        <a id="top"></a>
        <div class="container">
          <!-- Row -->
          <div class="row">
            <!-- Col -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <!-- Header Wrap -->
              <div class="header-wrap">
                <!-- Nav -->
                <nav class="navbar navbar-light">
                  <a class="navbar-brand" href="/uae" target="_blank">
                  <img src="/assets/homepage/uae/logo.png" class="img-fluid custom-logo" alt="Nuturey Logo">
                  <img src="/assets/homepage/uae/logo-monogram.png" class="img-fluid logo-scroll" alt="Nuturey Logo" style="display: none;"></a> 
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbar">
                    <%= render :partial=> 'layouts/uae_header' %>
                  </div>
                </nav>
                <!-- /Nav -->
              </div>
              <!-- /Header Wrap -->
            </div>
            <!-- /Col -->
          </div>
          <!-- /Row -->
        </div>
        <!-- /Container -->
      </div>
      <!-- /Navigation Wrap -->
    </header>
    <%=yield %>
    <%= render :partial=>"/layouts/uae_footer"%>
  </body>
</html>