<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <title>Dedicated to parents and children</title> -->
  <%= render :partial => "/layouts/facebook_app_invite_meta_tag", :locals=>{:country=> @locale} %>
  
  <!-- <meta name="description" content="The digital healthbook" /> -->
   
  <meta property="og:image" content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo.png"/>
  <meta property="og:image:secure_url" content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo.png" />
  <meta content="<%=APP_CONFIG[:default_host]%>/assets/homepage/logo.png" itemprop="image">
  <meta property="og:image:height" content="200">
  <meta property="og:image:width" content="200">

    
  <!-- <link rel='shortcut icon' href='favicon.png' type='image/x-icon' /> -->
    <link rel="shortcut icon" type="image/ico" href="/assets/nurturey.ico"/>
  <!-- CSS styles -->

  <link rel="stylesheet" href="/assets/homepage/uae/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/homepage/style.css">
  <link rel="stylesheet" href="/assets/homepage/responsive.css">
  <!-- <link rel="stylesheet" href="/assets/cookie_msg.css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
   <%= javascript_include_tag "https://connect.facebook.net/en_US/all.js" %>
   <!--  JavaScript Files -->
    <script src="/assets/homepage/uae/jquery-3.4.1.min.js"></script>
    <script src="/assets/homepage/uae/bootstrap.min.js"></script>
    <script src="/assets/homepage/uae/scrollreveal.js"></script>
    <script src="/assets/homepage/uae/script.js"></script>

    <script src="/assets/homepage/uae/scrollreveal.js"></script>
     <!-- <script type="text/javascript">
      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=295268883991452&version=<%=APP_CONFIG[:FB_api_version]%>";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script> -->
    <%= render :partial=>"/layouts/fb_pixel",:locals=>{:page_name=>"home"} %>
    <%= render partial: "/layouts/google_analytics_script" %>
    <%#=yield :head %>
  <!-- /CSS styles -->
</head>
<body class="body-inner">
<a id="top"></a>
<!-- page header -->
<header>
  <!-- Header -->
    <!-- Navigation Wrap -->
    <div class="header-wrapper navigation-wrap bg-light start-header start-style">
      <!-- Container -->
      <a id="top"></a>
      <div class="container">
        <!-- Row -->
        <div class="row">
          <!-- Col -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <!-- Header Wrap -->
            <div class="header-wrap">
              <!-- Nav -->
             
              <nav class="navbar navbar-light">
                <a class="navbar-brand" href="/">
                  <img src="/assets/homepage/uae/logo.png" class="img-fluid custom-logo" alt="Nuturey Logo">
                  <img src="/assets/homepage/uae/logo-monogram.png" class="img-fluid logo-scroll" alt="Nuturey Logo" style="display: none;"></a> 
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto py-4 py-md-0">
                       

                      <% if alexa_reference_params_for_home.present? %>
                        <li class="nav-item <%= params[:controller]== 'users' && params[:action]== 'dashboard' ? 'active' : ''%>">
                          <%= link_to "/#{alexa_reference_params_for_home}", class: "nav-link" do %>
                            Home
                            <% if params[:controller]=='users' && params[:action]=='dashboard' %>
                              <span class="sr-only">(current)</span>
                            <%end%>
                          <% end %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "PinkBook Tools", "/features#{alexa_reference_params_for_home}", class: "nav-link" %>
                        </li>
                        <!--<li class="nav-item <%=params[:action] == 'features' ? 'active' : ''%>">
                          <%= link_to "PinkBook Tools", "/features#{alexa_reference_params_for_home}", class: "nav-link" %>
                        </li>-->
                        <li class="nav-item">
                          <%= link_to "Online NHS Services", "/home/nhs_services#{alexa_reference_params_for_home}", class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Download", "/home/download#{alexa_reference_params_for_home}", class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Blog", "https://nurturey.com/blog", target: '_blank', class: "nav-link" %>
                        </li>
                        <li class="nav-item <%=params[:action] == 'faq' ? 'active' : ''%>">
                          <a class="nav-link" href="/home/faq<%=alexa_reference_params_for_home%>">FAQ</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/alexa/sign_in<%=alexa_reference_params_for_home%>">Sign In</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/alexa/sign_up<%=alexa_reference_params_for_home%>">Sign Up</a>
                        </li>
                      <% else %>

                        <li class="nav-item">
                          <%= link_to 'Home', '/', class: 'nav-link' %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "PinkBook Tools", "/features", class: "nav-link" %>
                        </li>
                        <!--<li class="nav-item <%=params[:action] == 'features' ? 'active' : ''%>">
                          <%= link_to "PinkBook Tools", "/features", class: "nav-link" %>
                        </li>-->
                        <li class="nav-item">
                          <%= link_to "Online NHS Services", "/home/nhs_services", class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Download", "/home/download", class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                          <%= link_to "Blog", "https://nurturey.com/blog", target: '_blank', class: "nav-link" %>
                        </li>

                        <li class="nav-item <%=params[:action] == 'faq' ? 'active' : ''%>">
                          <a class="nav-link" href="/home/faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/users/sign_in">Sign In</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/users/sign_in?pageName=signup">Sign Up</a>
                        </li>
                      <% end %>

                      <li class="nav-item">
                        <span class="download-icon">
                          <a class="nav-app-links js-apple-store" href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" target="_blank">
                            <span class="download-fa-icon"><i class="fab fa-apple"></i></span>
                            <span class="small-text">Download App on <span class="lg-text">App Store</span></span>
                          </a>
                        </span>
                        <span class="download-icon mob-btn">
                          <a class="nav-app-links js-google-play" href="https://play.google.com/store/apps/details?id=com.nurturey.app" target="_blank">
                            <span class="download-fa-icon"><i class="fab fa-google-play"></i></span>
                            <span class="small-text">Download App on <span class="lg-text">Google Play</span></span>
                          </a>
                        </span>
                      </li>
                    </ul>
                  </div>
                </nav>  
                <!-- /Nav -->
              </div>
              <!-- /Header Wrap -->
            </div>
            <!-- /Col -->
          </div>
          <!-- /Row -->
        </div>
        <!-- /Container -->
      </div>
      <!-- /Navigation Wrap -->
    </header>
    <!-- /Header -->




<a id="service"></a>
<section class="container page-container"  data-stellar-background-ratio="0.5">
<%= yield %>
</section>





<!-- Footer -->
    <footer id="footer">
      <!-- Container -->
      <div class="container">
        <!-- Row -->
        <div class="row">
          <!-- Col -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 border-footer">
            <!-- Row -->
            <div class="row">
              <!-- Col -->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 sm-footer">
                <img src="/assets/homepage/uae/footer-logo.png" class="img-fluid" title="" alt="Nurturey">
              </div>
              <!-- /Col -->
              <!-- Col -->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <!-- Footer Text -->
                 <div class="footer-text">
                   <p>Nurturey PinkBook manages pregnancy and child health. It is the smartest digital upgrade for the NHS paper red book.</p>
                </div>
                <!-- /Footer Text -->
              </div>
              <!-- /Col -->
            </div>
            <!-- /Row -->
          </div>
          <!-- /Col -->
          <!-- Col -->
          <div class="col-6 col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 border-footer">
            <!-- Links Content -->
            <div class="links-content">
              <h5>Links</h5>
              <ul>
                <li>
                  <a href="/home/terms<%=alexa_reference_params_for_home%>">Terms of Service</a>
                </li>
                <li>
                  <a href="/home/privacy<%=alexa_reference_params_for_home%>">Privacy Policy</a>
                </li>
                <li>
                  <a href="/home/copyright<%=alexa_reference_params_for_home%>">Copyright</a>
                </li>
                <li>
                  <a href="/home/cookies<%=alexa_reference_params_for_home%>">Cookie use</a>
                </li>
              </ul>
            </div>
            <!-- /Links Content -->
          </div>
          <!-- /Col -->
          <!-- Col -->
          <div class="col-6 col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
            <!-- Links Content -->
            <div class="links-content">
              <h5>Social</h5>
              <ul>
                <li>
                  <a href="https://www.facebook.com/nurtureyonweb?ref=hl" target="_blank">Facebook</a>
                </li>
                <li>
                  <a href="https://youtu.be/paEguFt4lhI" target="_blank">Youtube</a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/5131995?trk=tyah&amp;trkInfo=tarId%3A1416491704761%2Ctas%3Anurturey%2Cidx%3A2-1-3" target="_blank">Linkedin</a>
                </li>
              </ul>
            </div>
            <!-- /Links Content -->
          </div>
          <!-- /Col -->
          <!-- Col -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <!-- Footer Btn -->
            <div class="footer-btn">
              <a target="_blank" href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><img src="/assets/homepage/uae/iphone-app.png" class="img-fluid" alt="Nurturey" title="Nurturey"></a>
              <a target="_blank" href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/uae/google-app.png" class="img-fluid" alt="Nurturey" title="Nurturey"></a>
            </div>            <!-- /Footer Btn -->
          </div>
          <!-- /Col -->
        </div>
        <!-- /Row -->
        <!-- Row -->
        <div class="row text-center">
          <!-- Col -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- Copyright Text -->
            <div class="copyright-text">
              <p>©2021 Nurturey, All Rights Reserved.</p>
            </div>
            <!-- /Copyright Text -->
          </div>
          <!-- /Col -->
        </div>
        <!-- /Row -->
      </div>
      <!-- /Container -->
    </footer>
    <!-- /Footer -->

<a href="#top" class="glyphicon glyphicon-chevron-up page-up scroll"></a>
<!-- jquery lab -->

 
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https:/oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https:/oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- page level scripts -->
<script type="text/javascript">
$(function(){
      var Wheight = $(window).height()
      // console.log(Wheight)
     // $('.new-menu').css('height',Wheight+'!important');
  });
$(window).scroll(function(){      
  if ($(this).scrollTop() >= 80) {
    $('.page-up').fadeIn();
  } else {
    $('.page-up').fadeOut();
  }
});
$(function(){
  $.stellar({
    horizontalScrolling: false,
    verticalOffset: 40,
    responsive: true
  });
  
  //Click event to scroll
  $(".scroll").click(function(event){   
    // event.preventDefault();
      // $('html,body').animate({scrollTop:$(this.hash).offset().top -84}, 1000);
  });
  //home page header size
  $('#home-header').css('height',$(window).height()-80)
});
$('a.playBtn').click(function() {

  if  ($("video").hasClass('paused')) {
    $(this).addClass('pausedBtn');
    $("video").removeClass('paused');
    $('.next-page').hide();
    $('.header-text p,.header-text h1').css('visibility','hidden');
    $("video")[0].play();
    $("video").addClass('playing');
    $('.video-container').addClass('playing');
    $('a.playBtn').html('Stop Video');

  } else {

    $("video").removeClass('playing');
    $('.video-container').removeClass('playing');
    $(this).removeClass('pausedBtn');
    $('.next-page').show();
    $('.header-text p,.header-text h1').css('visibility','visible');
    $("video")[0].pause();
    $("video").currentTime = 0;
    $("video").addClass('paused');
    $('a.playBtn').html('Watch Video');
  }

});
</script>

</body>
</html>