<!doctype html>
<html lang="en">
  <head>
    <%= render :partial => "/layouts/facebook_app_invite_meta_tag" %>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="/assets/nurturey.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/homepage/bootstrap4.1.1.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/homepage/homepage_style.css"/>
    <%= stylesheet_link_tag "homepage/homepage" %>

    <link rel="stylesheet" href="/assets/homepage/homepage_style.css"/>

    <%= javascript_include_tag "https://connect.facebook.net/en_US/all.js" %>
    <title>Nurturey - World's Leading Parenting App</title>

    <script src="assets/homepage/homepage.js"></script>
    <script src="assets/homepage/scrollreveal.js"></script>

    <script type="text/javascript">
      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=295268883991452&version=<%=APP_CONFIG[:FB_api_version]%>";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Facebook Pixel code -->
    <!-- <script>
      (function () {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
        }
        _fbq.push(['addPixelId', '1555987324671407']);
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>

    <noscript>
      <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1555987324671407&amp;ev=PixelInitialized"/>
    </noscript> -->
    <%= render :partial=>"/layouts/fb_pixel",:locals=>{:page_name=>""} %>
    
    <!-- End OF Facebook Pixel code -->

    <%= render partial: "/layouts/google_analytics_script" %>
    <%=yield :head %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->

  </head>
  <body>
    <a id="top"></a>

    <!--Navbar-->
    <nav class="navbar navbar-light red lighten-1 mb-4" style="background: rgba(255,255,255,0.95);">
      <div class="container" style="position: relative;">
        <div class="row">
          <a class="navbar-brand" href="/"><img src="/assets/homepage/logo.png" class="img-fluid" alt="Nurturey"></a>
          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon3">
              <span></span>
              <span></span>
              <span></span>
              <span></span></div>
          </button>
        </div>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent23">
          <!-- Links -->
          <ul class="navbar-nav text-center">
            <% if alexa_reference_params_for_home.present? %>

              <li class="nav-item <%= params[:controller]== 'users' && params[:action]== 'dashboard' ? 'active' : ''%>">
                <%= link_to "/#{alexa_reference_params_for_home}", class: "nav-link" do %>
                Home
                <% if params[:controller]=='users' && params[:action]=='dashboard' %>
                  <span class="sr-only">(current)</span>
                <% end %>
              <%end%>
            </li>
          <li class="nav-item"><a class="nav-link" href="/features<%=alexa_reference_params_for_home%>">Featured Tools</a></li>
            <li class="nav-item">
              <%= link_to "Blog", "https://nurturey.com/blog", target: '_blank', class: "nav-link" %>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="/<%#=alexa_reference_params_for_home%>#howit">How it works</a>
            </li> -->

            <li class="nav-item">
              <a class="nav-link" href="/home/faq<%=alexa_reference_params_for_home%>">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/alexa/sign_in<%=alexa_reference_params_for_home%>">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/alexa/sign_up<%=alexa_reference_params_for_home%>">Sign Up</a>
            </li>

          <% else %>

            <li class="nav-item">
              <%= link_to 'Home', '/', class: 'nav-link' %>
          </li>
       <li class="nav-item">
       <a class="nav-link" href="/features">Featured Tools</a></li>
          <li class="nav-item">
            <%= link_to "Blog", "https://nurturey.com/blog", target: '_blank', class: "nav-link" %>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="/#howit">How it works</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="/home/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in?pageName=signup">Sign Up</a>
          </li>

        <% end %>

        <li class="nav-item" style="padding: 20px;">
          <a target='_blank'  href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><img src="/assets/homepage/AppleStore.jpg" height="60" alt="Apple App Store" style="margin:10px 5px 10px 0px"></a>
          <a target='_blank'  href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/GooglePlay.jpg" height="60" alt="Google Play Store" style="margin:10px 0px 10px 5px"></a>
        </li>
      </ul>
      <!-- Links -->
      <!-- Collapsible content -->
    </div>
  </div>
</nav>
<!--/.Navbar-->

<!-- First Section -->
<div class="first-section jumbotron-fluid">
  <div class="container">
    <div class="row">
      <!-- Left -->
      <div class="left-content col-md-6 col-sm-12" style="align-items: center; display: flex; margin-bottom: 20px;">
        <div class="container">
          <div class="row">
            <p class="title">Nurture your child from conception to early childhood</p>
            <p class="subtitle">Intelligent assistant to manage<span class="health-highlight">health,</span>&nbsp;stimulate&nbsp;<span class="learning-highlight">mind</span>&nbsp;and organise<span class="calendar-highlight">&nbsp;diary</span></p>
          </div>
          <div class="row">
            <div class="col-md-12 appstore-button-group">
              <a target='_blank'  href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><img src="/assets/homepage/AppleStore.jpg" class="img-fluid" alt="Apple App Store"></a>
              <a target='_blank'  href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/GooglePlay.jpg" class="img-fluid" height="60" alt="Google Play Store"></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Right -->
      <div class="right-content col-md-6 col-sm-12 text-center embed-responsive" style="height: 500px;">
        <video id="video" playsinline autoplay loop muted autobuffer poster="/assets/homepage/phone.jpg" preload="metadata" style="min-width:100%; min-height:100%;">
          <source src="<%=APP_CONFIG['default_host']%>/assets/homepage/videos/iphone.mp4">
          <source src="<%=APP_CONFIG['default_host']%>/assets/homepage/videos/iphone.ogg" type="video/ogg">
          <source src="<%=APP_CONFIG['default_host']%>/assets/homepage/videos/iphone.webm" type="video/webm" onerror="fallback(parentNode)">
          <img src="/assets/homepage/phone.jpg" alt="Your Journey, Your Assistant">
            Your browser does not support the video tag.
        </video>

        <script>
          var video = document.getElementById('video');
          video.addEventListener('click',function(){
            video.play();
          },false);
        </script>

      </div>
    </div>
  </div>
</div>

<!-- Second Section -->
<!--Navbar-->
<nav
  class="navbar navbar-light lighten-1 sticky-top"
  style="background: rgba(255,255,255,0.99);-webkit-box-shadow: 0px 5px 10px -4px rgba(150,150,150,0.15); -moz-box-shadow: 0px 5px 10px -4px rgba(150,150,150,0.15); box-shadow: 0px 5px 10px -4px rgba(150,150,150,0.15);">
  <div class="container" style="position: relative;">
    <div class="row">
      <a class="navbar-brand" href="/"><img src="/assets/homepage/logo-monogram.png" class="img-fluid" alt="Nurturey"></a>
      <div class="store-buttons">
        <a class="apple-btn" target='_blank'  href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><i class="fab fa-apple" style="padding-right: 5px;"></i></a>
        <a class="android-btn" target='_blank'  href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><i class="fab fa-google-play"></i></a>
      </div>
        <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent24" aria-controls="navbarSupportedContent24"
    aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon3"><span></span><span></span><span></span><span></span></div>
      </button>
    </div>

    <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent24">
      <!-- Links -->
      <ul class="navbar-nav text-center">
        <% if alexa_reference_params_for_home.present? %>

          <li class="nav-item <%= params[:controller]== 'users' && params[:action]== 'dashboard' ? 'active' : ''%>">
            <%= params[:controller]== 'users' && params[:action]== 'dashboard' ? 'active' : ''%>">
            <%= link_to "/#{alexa_reference_params_for_home}", class: "nav-link" do %>
            Home
            <% if params[:controller]=='users' && params[:action]=='dashboard' %>
              <span class="sr-only">(current)</span>
            <% end %>
          <%end%>
        </li>
        <li class="nav-item"><a class="nav-link" href="/features<%=alexa_reference_params_for_home%>">Featured Tools</a></li>
        <li class="nav-item">
          <a class="nav-link" href="https://nurturey.com/blog" target='_blank'>Blog</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">How it works</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/home/faq<%=alexa_reference_params_for_home%>">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alexa/sign_in<%=alexa_reference_params_for_home%>">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alexa/sign_up<%=alexa_reference_params_for_home%>">Sign Up</a>
        </li>

      <% else %>

        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/features">Featured Tools</a></li>
        <li class="nav-item">
          <a class="nav-link" href="https://nurturey.com/blog" target='_blank'>Blog</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">How it works</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/home/faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in?pageName=signup">Sign Up</a>
        </li>
      <% end %>

      <li class="nav-item" style="padding: 20px;">
        <a target='_blank'  href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><img src="/assets/homepage/AppleStore.jpg" height="60" alt="Apple App Store" style="margin:10px 5px 10px 0px"></a>
        <a target='_blank'  href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/GooglePlay.jpg" height="60" alt="Google Play Store" style="margin:10px 0px 10px 5px"></a>
      </li>
    </ul>
  </div>
</div>
</nav>
<!--/.Navbar-->
<div class="second-section container-fluid">
  <div class="container text-center d-flex align-items-center h-100">
    <div class="row flex-row-reverse">

      <!-- Left -->
      <div class="left-content col-md-6 col-sm-12 col-xs-12" style="align-items: center; display: flex;">
        <div class="row">
          <p class="didyouknow">Did you know<span style="color: #449a4d;padding-left: 5px;">?</span></p>
          <p class="title">Your child will achieve 80% of the cognitive potential within the first 6 years</p>
          <p class="subtitle">Enhance their development with scientific approach and support in this <span class="window-highlight">window of opportunity</span></p>
        </div>
      </div>

      <!-- Right -->
      <div class="right-content col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="row">
          <div class="col-md-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000" data-pause="false">
              <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/assets/homepage/motor-development.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/homepage/emotional-control.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/homepage/social-attachment.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/homepage/vocabulary.jpg" alt="Fourth slide">
              </div> 
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/homepage/math-logic.jpg" alt="Fifth slide">
              </div>  
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Third Section -->
<div class="third-section jumbotron-fluid">
<div class="container text-center d-flex align-items-center h-100">
  <div class="row">
    <!-- Left -->
    <div class="left-content col-md-6 col-sm-12" style="align-items: center; display: flex;">
      <div class="container">
        <div class="row">
          <p class="title">Understand the unique growth trajectory of your unique child</p>
          <p class="subtitle">Nurturey monitors up to 850 development parameters from pregnancy to the first 6 years</p>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="right-content col-md-6 col-sm-12 text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="ipad-wrapper">
              <div id="ytvideo" style="display:none;"></div>
              <!-- replaced your image with a span here for fiddle -->
              <span id="homevideo" data-vidid="paEguFt4lhI"><img src="/assets/homepage/video-placeholder.jpg" width="300" class="img-fluid" alt="Nurturey"></span>
              <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/VzQAXixLEYY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Fifth Section - First -->
<div class="fifth-section health-section container-fluid">
<div class="container">
  <div class="row flex-row-reverse">
    <div class="left-content col-md-6 col-sm-12" style="align-items: center; display: flex;">
      <div class="container">
        <div class="row">
          <p class="title">Manage health</p>
          <p class="subtitle">Dynamic tracking can help early recognition of evolving conditions and promote optimal growth</p>
        </div>
      </div>
    </div>

    <div class="right-content col-md-6 col-sm-12 text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="health-icon"></div>
            <p class="child-box-text">Pregnancy care plan, Measurements, Vision, Hearing, Dental, Cognitive and much more</p>
            <div id="toolslider2" class="carousel slide tools-sliders" data-ride="carousel" data-interval="4020">
              <ol class="carousel-indicators">
                <li data-target="#toolslider2" data-slide-to="0" class="active"></li>
                <li data-target="#toolslider2" data-slide-to="1"></li>
                <li data-target="#toolslider2" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 img-fluid" src="/assets/homepage/health-slide1.png" width="450"  height="300" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 img-fluid" src="/assets/homepage/health-slide2.png" width="450"  height="300" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 img-fluid" src="/assets/homepage/health-slide3.png" width="450"  height="300" alt="First slide">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="spacer" style="height: 10px;"></div>
<!-- Fifth Section - Second -->
<div class="fifth-section learning-section container-fluid">
<div class="container">
  <div class="row">
    <div class="left-content col-md-6 col-sm-12" style="align-items: center; display: flex;">
      <div class="container">
        <div class="row">
          <p class="title">Stimulate mind</p>
          <p class="subtitle">Cognitive exercises and milestone tracking will stimulate the brain growth. Remember, much of the brain wiring occurs in the early age</p>
        </div>
      </div>
    </div>

    <div class="right-content col-md-6 col-sm-12 text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="learning-icon"></div>
            <p class="child-box-text">Mental maths, cognitive milestones, cognitive stimulation exercises and much more</p>
            <div id="toolslider3" class="carousel slide tools-sliders" data-ride="carousel" data-interval="3800">
              <ol class="carousel-indicators">
                <li data-target="#toolslider3" data-slide-to="0" class="active"></li>
                <li data-target="#toolslider3" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100 img-fluid" src="/assets/homepage/learning-slide1.png" height="300" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100 img-fluid" src="/assets/homepage/learning-slide2.png" height="300" alt="First slide">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="spacer" style="height: 10px;"></div>
<!-- Fifth Section - Third -->
<div class="fifth-section calendar-section container-fluid">
<div class="container">
  <div class="row flex-row-reverse">
    <div class="left-content col-md-6 col-sm-12" style="align-items: center; display: flex;">
      <div class="container">
        <div class="row">
          <p class="title">Organise diary</p>
          <p class="subtitle">Shared tasks, reminders, and timely actions - you will be on top of the overwhelming chaos</p>
        </div>
      </div>
    </div>

    <div class="right-content col-md-6 col-sm-12 text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="activity-icon"></div>
            <p class="child-box-text">Calendar, Timeline, alerts, notifications and much more</p>
            <div id="toolslider4" class="carousel slide tools-sliders" data-ride="carousel" data-interval="4000">
              <ol class="carousel-indicators">
                <li data-target="#toolslider4" data-slide-to="0" class="active"></li>
                <li data-target="#toolslider4" data-slide-to="1"></li>
                <li data-target="#toolslider4" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100 img-fluid" src="/assets/homepage/calendar-slide1.png" height="300" alt="First slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="/assets/homepage/calendar-slide2.png" height="300" alt="First slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="/assets/homepage/calendar-slide3.png" height="300" alt="First slide">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Fourth Section -->
<div class="fourth-section jumbotron-fluid">
<div class="container text-center d-flex align-items-center h-100">
  <div class="row">

    <!-- Left -->
    <div class="left-content col-md-6 col-sm-12" style="align-items: center; display: flex;">
      <div class="container">
        <div class="row">
          <p class="title">One family. One Nurturey. Many devices</p>
          <p class="subtitle">Nurturey is a platform for the whole family - and we have you covered if members have different devices</p>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="right-content col-md-6 col-sm-12 text-center">
      <img src="/assets/homepage/devices.jpeg" alt="Nurturey" class="img-fluid">
    </div>
  </div>
</div>
</div>

<!-- Sixth Section -->
<div class="sixth-section" style="padding-bottom: 200px;">
<div class="container text-center d-flex align-items-center h-100">
  <div class="row flex-row-reverse">

    <!-- Left -->
    <div class="left-content col-md-6 col-sm-12" style="align-items: center; display: flex;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="title">Millions of hours worth parenting experience to your finger tips</p>
            <p class="subtitle">Nurturey is built on cutting edge tech that leverages AI, analytics, VR etc</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="right-content col-md-6 col-sm-12 text-center" style="padding-top: 30px;">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-maths" role="tabpanel" aria-labelledby="maths-tab">
          <img src="/assets/homepage/offer-img.jpeg" class="img-fluid" alt="Nurturey" width="400">

        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Sixth Section -->

<!-- footer Section -->
<div class="section fp-auto-height" id="footer">
<div class="content">
  <div class="container">
    <div class="row text-left">
      <div class="col-md-5 border-footer">
        <div class="row">
          <div class="col-md-4 sm-footer">
            <img src="/assets/homepage/footer-logo.png" class="img-fluid" title="Nurturey" alt="Nurturey">
          </div>
          <div class="col-md-8">
            <div class="footer-text">
              <p>Nurturey is a one-stop companion for parents offering digital tools – Tools - that help parents effectively and efficiently manage their lives around their kids.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-2 col-sm-6 border-footer">
        <div class="links-content">
          <h5>Links</h5>
          <ul>
            <li>
              <a href="/home/terms<%=alexa_reference_params_for_home%>">Terms of Service</a>
            </li>
            <li>
              <a href="/home/privacy<%=alexa_reference_params_for_home%>">Privacy Policy</a>
            </li>
            <li>
              <a href="/home/copyright<%=alexa_reference_params_for_home%>">Copyright</a>
            </li>
            <li>
              <a href="/home/cookies<%=alexa_reference_params_for_home%>">Cookie use</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col col-md-2 col-sm-6">
        <div class="links-content">
          <h5>Social</h5>
          <ul>
            <li>
              <a href="https://www.facebook.com/nurtureyonweb?ref=hl" target="_blank">Facebook</a>
            </li>
            <li>
              <a href="<%=APP_CONFIG['youtube_url']%>" target="_blank">Youtube</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/5131995?trk=tyah&trkInfo=tarId%3A1416491704761%2Ctas%3Anurturey%2Cidx%3A2-1-3" target="_blank">Linkedin</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-btn">
          <a target='_blank'  href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&amp;mt=8" class="js-apple-store"><img src="/assets/homepage/iphone-app.png" class="img-fluid" alt="Nurturey" title="Nurturey"></a>
          <a target='_blank'  href="https://play.google.com/store/apps/details?id=com.nurturey.app" class="js-google-play"><img src="/assets/homepage/google-app.png" class="img-fluid" alt="Nurturey" title="Nurturey"></a>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <div class="copyright-text">
          <p>©<%=APP_CONFIG["copyright_year"]%> Nurturey, All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- footer Section -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Optional JavaScript -->
<script>
window.sr = ScrollReveal();

$(document).on('click', '.mathematics-btn', function (event) {
  event.preventDefault();

  $('.math-content').show();
  $('.artificial-content').hide();
  sr.reveal('h4', {
    duration: 2000,
    origin: 'bottom',
    distance: '10px',
    scale: 1
  });
});
$(document).on('click', '.intelligence-btn', function (event) {
  event.preventDefault();
  $('.math-content').hide();
  $('.artificial-content').show();

  sr.reveal('h4', {
    duration: 1000,
    origin: 'bottom',
    distance: '10px',
    scale: 1
  });
  sr.reveal('.artificial-content', {
    duration: 1000,
    origin: 'bottom',
    distance: '10px',
    delay: 500,
    viewFactor: 0.1,
    scale: 1
  });
})

sr.reveal('.title', {
  duration: 1000,
  origin: 'bottom',
  distance: '10px',
  scale: 1
});

sr.reveal('.subtitle', {
  duration: 1000,
  origin: 'bottom',
  delay: 200,
  distance: '10px',
  viewFactor: 0.1,
  scale: 1
});

sr.reveal('.button', {
  duration: 1000,
  origin: 'bottom',
  delay: 500,
  distance: '10px'
});

sr.reveal('.right-content', {
  duration: 2000,
  origin: 'bottom',
  delay: 300,
  distance: '20px',
  viewFactor: 0.01,
  scale: 1
});

sr.reveal('.child-box-1', {
  duration: 1500,
  origin: 'bottom',
  distance: '10px',
  delay: 500,
  viewFactor: 0.1,
  scale: 1
});

sr.reveal('.child-box-2', {
  duration: 1500,
  origin: 'bottom',
  distance: '10px',
  delay: 800,
  viewFactor: 0.1,
  scale: 1
});

sr.reveal('.child-box-3', {
  duration: 1500,
  origin: 'bottom',
  distance: '10px',
  delay: 1000,
  viewFactor: 0.1,
  scale: 1
});
</script>

<!-- STICKY NAVIGATION -->
<script>
$(window).scroll(function () {

  if ($(this).scrollTop() >= 800) {
    $("body").addClass("sleek");
  } else {
    $("body").removeClass("sleek");
  }
});
</script>

<script>
$(document).on('click', '#homevideo', function (e) {
  $('#homevideo').hide();
  $('#ytvideo').html('<iframe width="939" height="528" id="ytvideo" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/' + $(this).attr("data-vidid") + '?autoplay=1"></iframe>').show();
});
</script>

</body>
</html>
