<!doctype html>
<html>
<head>
<link rel="shortcut icon" type="image/ico" href="/assets/nurturey.ico" />

	<meta charset="utf-8">
	<!-- Fb related meta tags -->
	<meta property="og:type" content="article" />
	<meta property="og:image" content="meta.jpg" />
	<meta property="og:url" content="https://www.nurturey.com" />
	<meta property="og:description" content="Children don’t come with manuals. But Nurturey comes with digital tools to manage life around them." />
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="/assets/website/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/assets/website/css/nurturey-theme.css"/>
	<link rel="stylesheet" href="/assets/cookie_msg.css"/>
	<%= render :partial => "/layouts/facebook_app_invite_meta_tag" %>	
	<script src="/assets/jquery-1.11.1.min.js"></script>
	<script src="/assets/website/bootstrap/js/bootstrap.min.js"></script> 
    <script src="/assets/jquery.cookie.js"></script>
    <script src="/assets/cookies_eu.js"></script>
    <% pageName = nil %>
    <% pageName = "Number Of Signin" if params[:pageName] == "signin"%> 
    <% pageName = "Number Of Signup" if params[:pageName] == "signup" %>
     
    <%= render :partial=>"/layouts/fb_pixel",:locals=>{:page_name=>(pageName || "Number Of Signin")} %>
	 
	<%= render partial: "/layouts/google_analytics_script" %>
</head>

<body class="login-bg">
<div id="top"> </div>
<!-- <div class="cookie-msg" style="display: none;"></div> -->
	<div class="nav-stacked">
	    <div class="container">
	        <div class="row navbar-inverse">
	            <div class="col-xs-6 col-sm-3 navbar-header"> <a href="/" class="nurturey-logo"></a> </div>
	            <div class="col-xs-6 col-sm-9 text-center navbar-link">
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"  > <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
	                <div class="new-menu navbar-collapse collapse">
	                    <div class="container">
	                        <div class="row">
	                            <div class="col-xs-12">
	                                <div class="close-action">          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"  > <span class="icon-times"></span> </button>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="main-sub-links">
	                        <a href="/">Home</a>
	                        <a href="/#howit">How it works</a>
	                        <a href="/features">Featured Tools</a>
	                        <a href="/home/faq">FAQ</a>
	                        <!--a href="team.html">Team</a-->
	                        <a href="/users/sign_in" id="testValue" class="signup-link">Sign in</a>
                            <a href="/users/sign_in?pageName=signup" class="signup-link">Sign Up</a>
                            <a href="https://itunes.apple.com/app/nurturey/id1023121839?ls=1&mt=8" target="_blank" class="js-apple-store">
	                          <img src="/assets/website/images/app-off.png" alt=""/>
	                        </a>
	                        <a href="https://play.google.com/store/apps/details?id=com.nurturey.app" target="_blank"><img src="/assets/website/images/google-home-on.png" alt=""></a>
	                        <!-- <img src="/assets/website/images/google-off.png" alt=""/> -->
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>


	<%#if params[:status] == User::STATUS[:unconfirmed] %>
		<!-- <div class="singleBx-type16">
	    <a href="#." class="icon-times btn-type4" onclick="$(this).parent().hide();"></a>
	    <div class="titleBar-type4">
	        <i class="icon-alert"></i>
	    </div>
	    <p>You must verify your account within next 24hrs. Click on the link sent in an email to <a href="#." class="txt-link-type1">john@live.com</a> to activate your account.</p>
	    <input type="button" value="Resend Email" class="btn btn-type1 no-margin-left"/> 
	    </div>	--> 
	<%# end %>     
	<%= yield %>
	<!-- jquery lab --> 
	 

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --> 
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</body>
</html>
