<!DOCTYPE html>
<html>
<head lang="en">
<link rel="shortcut icon" type="image/ico" href="/assets/nurturey.ico" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= render :partial => "facebook_app_invite_meta_tag" %>
    <title>Nurturey Manage Family</title>
    <!-- <link rel="stylesheet" href="css/default-style.css"/> -->
    <%= render :partial=>"layouts/assets_link" %>
    <%= javascript_include_tag "application" %>
    <%#= stylesheet_link_tag "default-style" %>
    <%#= javascript_include_tag "application" %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     
    <script type="text/javascript">
        <!--  page level script here
        $(function () {
            // set timeline bar height as per the content comes in
            $('#timline-Bar').css('height', $('.timline-sorting').height());
            //link active
            $('.timeline-list a').on('click', function () {
                $(this).parent().find('.active').removeClass('active')
                $(this).addClass('active');
            })
        })
        -->
    </script>
</head>
<body>
<!-- header include here -->
<%= render :partial=>"layouts/header" %>

<!-- body section start here -->
<div class="wapperBx bodywapper">
  <%= yield %>
</div>
<!-- body section end here -->
<!-- footer include here -->
<!--#include virtual="inc-footer.shtml" -->
</body>
</html>